[2022-02-28 08:41] piponazo opened #2120 "New class to handle JPEG-XR images"
https://github.com/Exiv2/exiv2/pull/1919 added preliminary support for JPEG-XR images.

As it was pointed out in that PR, we should probably take this out to a proper new format and source file, like the other TIFF-derived formats (see ORF, RW2), rather than just simply piggy-backing TIFF base classes.

Chances are that there might be more to JPEG-XR the container than just the header difference.

[2022-03-01 04:57] mallman commented on #2114
I don't know C++ well enough to have a good opinion on whether this is some kind of obscure problem in exiv2's use of C++ or a bug (false positive) in the arm64 version of clang's ubsan. If it's the latter, I wonder if we should really even track this issue in this project?

That's what I've done (using the Xcode-based debugger).

As I recall, you saw a bunch of test errors when you turned it on a

[2022-03-01 09:08] kmilos commented on #2120
See https://www.itu.int/rec/T-REC-T.832-201906-I/en

[2022-03-02 05:47] clanmills commented on #2114
I've remembered why we got interested in ASAN.  I was speculated that if I "doctored" `test/data/_DSC8437.exv` by changing the count in tag 0x7b from 84 to 6, I could cause an ASAN error because the code would access bytes beyond 6.  In fact, the code is safe, however I develop on a MacBookPro/m1.

We've wandered off track here.  The ASAN errors are coming from the ASAN/m1 build.  @kevinbackhouse

[2022-03-02 05:47] #2114 closed

[2022-03-02 05:49] clanmills commented on #2115
The claim in this report is false.  The ASAN issue is derived from the ASAN/m1 build issue:  https://github.com/Exiv2/exiv2/issues/2114#issuecomment-1056293709

[2022-03-03 07:39] diizzyy commented on #2104
Hi,

I tried looking at this and I have no experience with docker and no ability to test anything so I have to pass on this. I can help with whats needed on the FreeBSD side of things (basically pkg install <list of deps)>). Feel free to close the PR if there's no interest.

Best regards,
Daniel

[2022-03-03 07:46] piponazo commented on #2104
Hi @diizzyy,

Let's leave the issue open, I think it is interesting to add CI support for any system in which exiv2 might be used. If at some point I decide to work on this and I have doubts, I'll ping you 😉

[2022-03-05 21:45] mallman commented on #2117
@piponazo @clanmills We're pursuing what I refer to above as the "bugFixTests" failure in #2123. However, in my experiment matrix the so-called "bashTests" failure only occurs when I build using clang 12, not the default Apple clang 13 for Xcode 13. Is that "bug" something we want to pursue? Does that even look like a bug to you?

[2022-03-05 22:35] clanmills commented on #2117
I'm confused.  As I understand it, there are two quite different matters:

1.  The arm64/macOS/ASAN build is broken #2117 and appears to be a tools issue.  We should get that "isolated" and reported on the Apple Radar.
2.  You are adding an x86_64/macOS/ASAN CI #2123 and I've requested a change:  https://github.com/Exiv2/exiv2/pull/2123#issuecomment-1059731852

Or have I misunderstood?

[2022-03-05 22:53] mallman commented on #2117
This failure:

[code]

only occurs for the x86_64 and clang 12 combination. #2123 does not surface that failure. Is this a bug in exiv2? If so, do we want to pursue it further?

[2022-03-06 01:10] sarunasb opened #2126 "Support for files from OM System cameras"
##### **Is your feature request related to a problem?**
Currently exiv2 reports errors
`Error: XMP Toolkit error 201: Error in XMLValidator
Warning: Failed to decode XMP metadata.`
for files from the newly release OM System OM-1 camera.

##### **Describe the solution you would like**
Would like exiv2 to fully decode metadata in files from OM System cameras.

Please find a sample JPG file from OM-1

[2022-03-06 02:57] clanmills commented on #2117
@mallman Ah, thanks Michael.  I didn't know about that.  Looks like another version of the `vptr` issue that we thought was restricted to arm64.  And it's in the regex code which is what #2114 was about.

I'm using Xcode 12.1 on my 8 year old MacMini and 13.2.1 on the MBP.  Curious that I haven't seen this on the MacMini.

_Pure speculation by me:_  Apple might have an ASAN vptr runtime issue whic

[2022-03-06 03:07] mallman commented on #2117
@clanmills Okay. I believe we've accounted for every issue raised in this ticket in some way or another: either as a third-party issue we won't pursue as part of the exiv2 project, or the bug we're addressing in #2123. With that, I'm closing this issue.

[2022-03-06 03:07] #2117 closed

[2022-03-06 20:22] kmilos commented on #2126
There are potentially two separate issues here: the XMP payload strangeness, and then the MakerNotes (OLYMPUS -> "OM SYSTEM"). Might take a look when I get a chance...

[2022-03-06 21:25] postscript-dev commented on #1941
@cris46:
Sorry for not posting earlier, this project is still important to me. I need to finish something else first, then I plan to return and submit my `NikonFl7` work.

Since we last spoke, I thought of something. Although [NX Studio](https://downloadcenter.nikonimglib.com/en/index.html) is only available on Windows and macOS, you could try running it on Linux using [WINE](https://www.winehq.or

[2022-03-06 21:43] clanmills commented on #2126
There's something wrong with the XMP metadata in that file.  The data is:

[code]
It looks very innocent, however the XMPsdk built into Exiv2 dislikes if for reasons I don't know.  I don't think there's anything interesting in that XMP metadata.  You could easily write a script to remove the XMP metadata and your file will be good to go.  If you subsequently write XMP metadata into the file, Exiv2

[2022-03-07 06:21] clanmills commented on #2126
@kmilos is 100% correct in his diagnosis.  There are two issues with your file:

1.  XMP metadata _strangeness_
2.  MakerNote support for the OM.

The good news is that I know what's wrong with the XMP metadata in your file.  I also have positive news about the Olympus MakerNote decoder.

_**Good News and your XMP metadata**_

I don't understand the XMPsdk code.  It's abstract/template magic which

[2022-03-07 08:45] postscript-dev commented on #2126
@sarunasb :
Before uploading your test image, did you copy it directly from your camera or process it with software first? If software edited the metadata, the XMP problem may be caused by that.

As I already have other projects to work on, I can't commit to fixing this.

[2022-03-07 09:26] kmilos commented on #2126
@clanmills Thanks for the initial snoop and pointers!

The XMP strangeness is present also w/ ORF raw files (presumably directly from camera, samples should be appearing on raw.pixls.us sometime soon I hope), here's a similar dump missing the said field:

[code]

I might play w/ subclassing the MakerNotes at some point, but XMP parsing is beyond me for now...

[2022-03-07 09:58] kmilos commented on #2126
From a quick look at https://wwwimages2.adobe.com/content/dam/acom/en/devnet/xmp/pdfs/XMP%20SDK%20Release%20cc-2016-08/XMPSpecificationPart1.pdf (2012 version though, there is a 2019 revision behind the ISO paywall), there is no mention of mandatory `x:xmptk` attribute:

![image](https://user-images.githubusercontent.com/4973094/157009060-8309e9db-2361-499f-95da-825e53b7308b.png)

[2022-03-07 10:16] clanmills commented on #2126
Always good to hear from you, @kmilos.  I can decode MakerNotes in tvisitor.  Straight forward.  Later today, I'll update issue report concerning the MakerNote.

There is an exiv2 command-line option `-dx` to say "remove the XMP".  It's working, _although it's pumping out the SDK warning_.

[code]

Thanks for reading the XMP spec.  It's written in the terse language of a spec lawyer!  It doesn't d

[2022-03-07 10:29] kmilos commented on #2126
[The failure seems to happen very early, raised by expat parsing](https://github.com/Exiv2/exiv2/blob/02b0541bbf65568cdca6c1d4faedf68b15a3ea15/src/xmp.cpp#L110), way before we look into the XMP itself...

[2022-03-07 10:41] clanmills commented on #2126
Really?  It's valid XML.

Thanks for the pointer to `check_internal()`.  I'll sniff around in there.

[2022-03-07 12:22] sarunasb commented on #2126
The uploaded JPEG file was copied directly from SD card. No processing outside of camera firmware. The "picture" was taken with the lens cap on.

[2022-03-07 12:24] sarunasb commented on #2126
@clanmills Thank you for analysing the file!
I have already uploaded RAW ORF samples to raw.pixls.us several days ago.

[2022-03-07 12:29] kmilos commented on #2126
I know, that's why I said it should appear there soon (fingers crossed; it undergoes a manual review by the RPU maintainer...)

[2022-03-07 12:31] clanmills commented on #2126
There may be something wrong with the XML packet.  buflen == 2301 and that seems correct to me.  The XML finishes with:
[code]
I think the `nl` after the closing `>` may be upsetting XML_Parse().  Hard to believe. For sure something is causing this.

[2022-03-07 12:39] hassec commented on #2126
I'm guessing/hoping that the firmware will pretty much be that of an Olympus camera.
(MakerNote is located `0x927c` which is the same location as in Olympus cameras so that makes me think my hope might be true.)

In that case we might be able to just "massage" the makernote creation to also create Olympus makernotes for `OM` cameras.
I've not yet had the time to try but figured I'd dump what I kno

[2022-03-07 12:42] kmilos commented on #2126
@hassec Exactly, it should hopefully just be a matter of supporting the new "OM SYSTEM" MakerNote signature/header through new subclasses...

[2022-03-07 12:51] kmilos commented on #2126
It is hard to believe. I tried replacing with \x00 in a hex editor, and the XML validation error persists

[2022-03-07 13:12] clanmills commented on #2126
@hassec @kmilos The changes to the Olympic MakerNote are easy.  I have them working in tvisitor.cpp.  I'm focused on understanding what's upsetting XMP_Parse().

I think my earlier fix involving `x:xmptk="XMP Core 5.1.2"` is totally wrong.  That worked for two reasons:

1. I removed the http://ns.adobe.com/xap/1.0/.<?x signature in the OM2.JPEG, so the XML wasn't read by the XMPsdk.
2. I sanitized

[2022-03-07 15:10] clanmills commented on #2126
There's something wrong with the XMP buffer.  I'm cross-eyed with this.  It's got to be simple - a trailing null byte _(or something like that)_.  I'm 100% certain that it is not `x:xmptk="XMP Core 5.1.2"`.  _I can prove that, if you ask_.

The changes to tvisitor to support this are two fold:

1.  The maker note handler must deal with the new MakerNote header `OM SYSTEM\0II`.  It's almost exactly

[2022-03-07 16:57] piponazo commented on #2126
Ha, interesting, we should also update the conanfile so that we bring the newest version of expat (2.4.7) when it is available. Right now, in the conan center repository the latest available version is 2.4.6:

https://conan.io/center/expat

And currently we are requiring the usage of 2.4.1:
https://github.com/Exiv2/exiv2/blob/02b0541bbf65568cdca6c1d4faedf68b15a3ea15/conanfile.py#L40

[2022-03-07 18:19] kmilos commented on #2126
Actually I already have 2.4.7 on MSYS2, so not it 😖

[2022-03-07 19:56] clanmills commented on #2126
Solved.   It's the trailing \0 and \n bytes _which is what I thought this morning_.

[code]

Here's the one-line fix.

[code]

The patch.  (Please don't submit the three commented off lines _you'll find them useful to debug/verify the fix_.).

[code]

I don't know if I can hear you groaning or giving me a cheer.

[2022-03-07 20:28] kmilos commented on #2126
Both?

But it's incredulous libexpat doesn't tolerate LF and NUL surplus at the end and doesn't do this chomping internally... I feel like we should report it, unless I'm missing something about XML rules?

[2022-03-07 21:51] clanmills commented on #2126
Yup.  Both.  Shit, isn't it?  Reporting a bug to expat?  I don't think I'm brave enough.

I reviewed and approved Kev's `check_internal()` function and asked him to add it to 0.27-maintenance.  I wonder if XMPsdk deals with this quietly.  I'll run an old release (such as 0.27) on that file.

I'm running a test on all my 80,000 photos to see how many `XML Validator` errors have been fixed.  These a

[2022-03-07 21:55] kmilos commented on #2126
FYI, my trials were all w/ 0.27.5

[2022-03-07 22:00] clanmills commented on #2126
I think `check_internal()` was added to 0.27.4 or 0.27.5 (Summer 2021, I think).  That's why I thinking to use 0.27 for an old test..  `check_internal()` was added after 0.27 (December 2018).

[2022-03-07 23:04] clanmills commented on #2126
| Exiv2 Build | Validator Errors<br>(from 80,000 images) |
|:-      |:- |
| 'main' + fix | 151 |
| '0.27-maintenance'  | To be done _(more for sure)_ |
| '0.27.0' | To be done |

I'll edit this table tomorrow when the tests have finished.

[2022-03-08 13:52] QuietLullaby opened #2134 "bugfixTests failed on Raspbian buster 10.10 (gcc 8.3.0)"
##### **Describe the bug**
I followed the install process described in README and couldn't go through `ctest --verbose` command.
The objective is to install exiv2 on Raspbian Buster 10.10 running a gcc 8.3.0.
Tests failed (see [LastTest.log](https://github.com/Exiv2/exiv2/files/8206706/LastTest.log)):

##### **To Reproduce**
Steps to reproduce the behavior:
HEAD of Branch `main` Raspbian Buster 10

[2022-03-08 14:47] piponazo commented on #2134
Thanks for reporting this. I own a raspberry pi, and I should be able to verify this issue and hopefully have time to work on it.

[2022-03-08 14:49] piponazo commented on #2134
By the way, could you provide information about the hardware you are using? I suppose that the problem should be reproducible with any raspberry Pi, but it would be good to know exactly which model you used.

[2022-03-08 15:09] QuietLullaby commented on #2134
@piponazo I tried this on a Compute Module 4 (equivalent to raspberry pi 4)
My actual configuration is 2GB RAM 16GB eMMc with wifi

[2022-03-09 10:20] QuietLullaby opened #2136 "Exiv2 compatibility 32-bit Debian 10 GCC 8.3 (undefined reference to std::filesystem)"
Hi,

Another issue came up after installing exiv2 on Debian 10 with GCC 8.3 (even if tests failed on #2134, I can still install and link up to the lib).

When compiling against libexiv2.so, following errors occurred :

As stated in #2101 by @piponazo :

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=91947

Can it be handled ?

Thanks for your time and the incredible job you're doing

Regards,
Jérémy

[2022-03-10 02:12] neheb commented on #2136
missing link to lstdc++fs.

[2022-03-10 08:29] piponazo commented on #2136
Hi @QuietLullaby , could you give more details about how you are consuming Exiv2? Are you trying to compile the project from scratch? Are you trying to consume the exvi2 library in other project?

With the work we did in #2101 , the new CMake file should add the needed `INTERACE_LINK_LIBRARIES` to link against the needed libraries when you consume exiv2 via CMake. However, I just noticed that we a

[2022-03-10 08:55] QuietLullaby commented on #2136
Hi,

I am building the project from sources with cmake (should I use the source archive available on exiv2.org ?).
I followed these instructions :
[code]

After this, i am compiling my app with make (not cmake) so I added reference to the lib while compiling (compiling like `$ g++ -std=c++17 myprog.cpp -o myprog -I/usr/local/include -L/usr/local/lib -lexiv2`

NB : As a side note, the last command

[2022-03-10 09:02] piponazo commented on #2136
Alright, then you are able to compile exiv2 with our CMake code but you have a problem when trying to link against the exvi2 library. As @neheb pointed out, you are missing the linking againt `lstdc++fs` (probably you just need to add `-llstdc++fs` to your compilation call.

Anyways, I would like to keep your issue open and check somehow that other projects can consume Exiv2 properly via CMake.

[2022-03-10 09:38] QuietLullaby commented on #2136
In fact, I was already linking to `lstdc++fs` with `-lstdc++fs` but I am using a cross compiler that is based on gcc 7.4.1 and doesn't know of std::filesystem but std::experimental::filesystem 🤦‍♂️
I should have seen it from the very beginning of this problem ...

[2022-03-10 09:40] neheb commented on #2136
Ah right. std::filesystem support begins with GCC 8.

[2022-03-10 10:15] jim-easterbrook opened #2138 "Canon maker note corruption in v1.0.0 and v0.28.0"
A minor difference rather than a bug...
Jpeg files from my Canon EOS 100D have an `Exif.Photo.MakerNote` of 7898 bytes, as reported by the exiv2 command line tool. After modifying some metadata (not any Canon tags) in my own software this gets truncated to 7768 bytes when using libexiv2 v0.27.5, but when using v1.0.0 (nightly Linux64 build) it gets truncated to 7766 bytes. I noticed this because t

[2022-03-10 10:25] clanmills commented on #2138
Great find, @jim-easterbrook.  Keep 'em flowing.

[2022-03-10 10:46] jim-easterbrook commented on #2138
I've just discovered that the `Exif.CanonLe.LensSerialNumber` value is getting changed from 0 to 28 when the metadata is written. I treat all maker note values as read-only, so something's definitely awry. Here's an example original file anyway.
![100D_IMG_7197](https://user-images.githubusercontent.com/1957023/157645873-364a1b8c-7e50-43b6-b10a-a7ae3f0aa2ba.JPG)

[2022-03-10 13:13] jim-easterbrook commented on #2138
Experimenting with the v1.0.0 exiv2 command line tool shows different changes to the Canon maker note values depending on which non-Canon tags I set.

[2022-03-11 15:45] jim-easterbrook opened #2144 "Problems with IPTC dates containing zero for month or day"
##### **Describe the bug**

According to the IPTC standard for 2:55 Date Created: "Where the month or day cannot be determined, the information will be represented by “00”. Where the year cannot be determined, the information for century and year will be represented by “00”.

When reading a file with zero values in `Iptc.Application2.DateCreated` the string returned by `Iptcdatum.toString()` is mi

[2022-03-11 15:51] jim-easterbrook commented on #2144
Correction: the v0.26 command line tool shows the date with separators, v1.0.0.9 shows the following:
[code]

[2022-03-11 16:12] piponazo commented on #2144
Thanks @jim-easterbrook for reporting. I'll take a look to this issue.

[2022-03-11 16:17] jim-easterbrook commented on #2144
I think the cure may be to broaden the regexes in src/value.cpp lines 918 & 919. (I think they're being a bit over-prescriptive, not allowing for the sort of malformed stuff written by some applications I won't name here.)

[2022-03-12 10:24] cgilles opened #2147 "Metacopy CLI tool corrupt JPEG2000 (regression with Exiv2 >= 0.27.5)"
* Context :

Linux Mageia8
Exiv2 from 0.27-maintenance branch compiled with samples tool and installed
One JPEG file with Exif metadata (https://drive.google.com/file/d/13n4MMb9hjUKnNuTjVcDVP7sVt0icYjTu/view?usp=sharing)
ImageMagick version 7.0.10-62 Q16 x86_64

* Steps to reproduce the bug :

1/ I convert a JPEG containing metadata with ImageMagick:

﻿﻿[gilles@localhost JP2]$ convert 4324477432.j

[2022-03-12 15:56] #2144 closed

[2022-03-12 16:13] piponazo commented on #2147
Thanks @cgilles for reporting this issue. I'll take a look at it.

[2022-03-12 17:44] cgilles commented on #2147
Note : i discovered this bug in digiKam primary, while i testing the file/export function to compare the regressions in different image formats. I was surprised to see the broken JPEG2000, as this format is supported since a while.

https://i.imgur.com/lrIl4ho.png

I tried also other platforms as Windows and MacOS, with exactly the same problem. After to suspect libjasper codec, i finally discover

[2022-03-12 18:17] piponazo commented on #2147
I started to investigate this issue and I am fascinated by what I am finding out. I just tried to add few unit tests to check what happens when you create a Jp2Image instance and you try to call the `printStructure` function. Just by doing that, I encountered that the function is throwing an exception. It looks like the `Jp2Blank` static data that we are adding to each Jp2Image might have some pro

[2022-03-13 07:10] clanmills commented on #2147
@piponazo JP2 is a member of the BMFF family.  `class Jp2Image::Image` in tvisitor.cpp _(in my book)_ handles JP2, HEIC, AVIF, CR3 and JXL.  During the bmff development project I decided to retain src/jp2image.cpp for the following reasons:

1.  If it's not broken, don't touch it.
2. The legal situation.   Make it easy to remove src/bmffimage.cpp.
3. The project was under significant time pressure

[2022-03-13 18:23] josemoliver opened #2150 "XMP with Google depth-map gets corrupted when metadata is modified"
Refer to Digikam Bug: https://bugs.kde.org/show_bug.cgi?id=451466
An image file with XMP metadata for Google depth-map (Images taken in Portrait mode) gets corrupted when metadata is modified in Digikam (likely exiv2 issue)

Reference:
Google Dynamic Depth Specification
https://developer.android.com/training/camera2/Dynamic-depth-v1.0.pdf

[2022-03-14 13:45] josemoliver commented on #2150
Here is a sample image containing Google Depth Metadata:
![PXL_20220313_165550133 PORTRAIT](https://user-images.githubusercontent.com/21282862/158184713-e56c564e-ef76-41d7-b1f3-3d1d2729fd9a.jpg)

[2022-03-14 20:41] piponazo commented on #2147
I am having some fun reading the JP2 standard, adding new unit tests for that class, and digging into this problem. I think I have found the bug and fixed it already. `Jp2Image::encodeJp2Header` has a mistake when writing the "Colour Specification Box" and afterwards it is impossible to read the metadata.

By fixing this issue some other regression tests fail now, but luckily there are not so many

[2022-03-15 11:43] clanmills commented on #2150
There are two issues with this file.  The XMP uses "Extended XMP" which is not supported by the XMPsdk built into Exiv2.

[code]
Secondly, there is more that 2mb of XMP metadata spanning multiple JPEG segments.  The maximum length of the JPEG segment is 64k because the length of the segment is stored a short (a 16bit integer).

[code]

Perhaps you could explain _"...gets corrupted when metadata is

[2022-03-15 12:28] clanmills commented on #2150
I've read the correspondence with DigiKam.  A lot of discussion that I don't understand concerning namespaces.

I edited Exif.Image.DateTime:

[code]
When the file was rewritten, the Extended XMP is in the file, however it's near the start of the file and doesn't immediately trail the APP1/http://ns.adobe.com/xap/1.0/ segment:
[code]

In the DigiKam issue report, you said something about "adding a

[2022-03-15 12:51] postscript-dev commented on #2057
@GitHubbero:
I am sorry for not working on your issue sooner. Thanks for being patient. I have not had much free time recently.

@hassec:
While working on this issue, I have been looking at the [src/canonmn_int.cpp](https://github.com/Exiv2/exiv2/blob/main/src/canonmn_int.cpp) particularly the [printCsLensTypeByMetadata()](https://github.com/Exiv2/exiv2/blob/b2b6d834baf387425fab1a6b18aafee0e06b6e9

[2022-03-16 10:48] kmilos commented on #2126
@hassec As for the MakerNote, I tried following the Sigma/Foveon example where we have two signatures for the same structure. Alas, it doesn't work out automagically here as the signatures are not of the same length so it is not that straightforward. I stopped going down the rabbit hole for the moment, so any ideas on how to handle this best are welcome.

[2022-03-16 14:50] clanmills commented on #2126
@kmilos and @hassec  I'm happy to look at this, if you wish.   Is the "Sigma/Foveon" example, the image attached above:

[code]

I haven't understood your comment: _we have two signatures for the same structure_.  The changes in tvisitor were straightforward https://github.com/Exiv2/exiv2/issues/2126#issuecomment-1060792127

Both tvisitor and exiv2 marker note decoder know the offset in the MakerN

[2022-03-16 15:17] kmilos commented on #2126
Unfortunately not the case w/ the current architecture I'm afraid.

[2022-03-16 15:24] clanmills commented on #2126
Would you like me to investigate?

[2022-03-16 15:33] kmilos commented on #2126
Feel free, by all means.

I didn't find a better way than to [duplicate and create the entire new Olympus3MnHeader class](https://github.com/Exiv2/exiv2/blob/b2b6d834baf387425fab1a6b18aafee0e06b6e9a/src/makernote_int.cpp#L233-L276) and all the plumbing around it to connect it to the existing Olympus MakerNote structure.

[2022-03-16 15:35] clanmills commented on #2126
Oh, man, that doesn't sound good.  The test file is the one attached?

[code]

It's a really wet day in England.  I'll look at this.

[2022-03-16 16:05] kmilos commented on #2126
Yep, the OP attached JPEG has the new "OM SYSTEM" MakerNote.

[2022-03-16 19:03] clanmills commented on #2126
The pattern is:

header:  [alpha]+\0IIversion\_\_IFD\_\_
title: [alpha]+
version: short eg 0x0300 or 0x0407
\_\_IFD\_\_ is E# ENTRY ENTRY ENTRY ...
E# is a short (number of entries)
ENTRY is 12 bytes (tag, type, count, offset)

The "title" can be OLYMPUS or "OM SYSTEM".  We don't really care, it could be "DONALD DUCK" provided it is terminated by '\0' 'I' 'I'.

So the correct code will be somethin

[2022-03-16 19:22] kmilos commented on #2126
Agreed that it's the header class creating the unnecessary friction here, but a) I don't particularly feel like taking on refactoring this now, and b) think we need a solution for possible 0.27.6 to enable various apps in the nearer term.

[2022-03-16 19:26] kmilos commented on #2126
And while that is indeed the prevalent pattern for MakerNote signatures/headers, it is by no means a prescribed standard we can count on vendors sticking to, so anything really goes.

[2022-03-17 08:05] clanmills commented on #2126
As the sun is shining today, I'm going to work in the garden.  I don't intend to do any more work on this issue unless asked to do so.

[2022-03-17 14:18] piponazo commented on #2119
I tried to add the new image into `test_regression_allfiles.py` but there seems to be a problem with UTF8 characters (see mention to that issue on #2091.

I'll leave the changes in the branch `mainJpegXrTest` until we solve those issues with UTF-8 characters (ping @hassec )

[2022-03-19 14:36] piponazo commented on #2116
@clanmills I am closing this issue, since it got fixed by merging #2141

[2022-03-19 14:36] #2116 closed

[2022-03-19 14:38] piponazo commented on #1537
I have been lately reading the JP2 standard and I would like to improve the support for such standard. I'll dig into this issue in the next days 😉

[2022-03-19 18:07] kevinbackhouse opened #2160 "float_to_integer_helper doesn't handle fractions correctly"
Found by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45291

OSS-Fuzz has reported this as an integer overflow in [sumToLong](https://github.com/Exiv2/exiv2/blob/5d5354edee9f55423c02897398b9f72d8feca649/src/exif.cpp#L741). The actual problem is in `float_to_integer_helper`:

https://github.com/Exiv2/exiv2/blob/5d5354edee9f55423c02897398b9f72d8feca649/include/exiv2/value.hpp#L124

[2022-03-20 15:09] #2160 closed

[2022-03-22 16:45] jim-easterbrook commented on #2138
Here's a minimal example (in Python I'm afraid, but I hope the C++ equivalent is obvious) using libexiv2 compiled from the GitHub repo as it was this morning. The image file had not been modified since copying it from my EOS 100D camera.
[code]
Doing the same with libexiv2 v0.27.5 reduces the MakerNote count to 7874 instead of 7872.

[2022-03-22 17:07] jim-easterbrook commented on #2138
Printing out all the exif values (with the exiv2 tool compiled today) shows no difference (other than the maker note binary values) when the file is modified by libexiv2 v0.27.5, but the `Exif.CanonLe.0x0007` key is lost when it's modified by libexiv2 v1.0.0.

[2022-03-22 17:23] jim-easterbrook commented on #2138
Another test - setting some metadata:
[code]
Comparing the exif values after running this with 0.27.5 and 1.0.0 I get this:
[code]
I think these are mostly offset changes because of the difference in length of the maker note.

[2022-03-23 08:54] novomesk opened #2162 "No Exif data found in HEIF file"
Hello,

I am using `exiv2 0.27.5` and I observed that sometimes it doesn't find metadata in HEIF/HEIC files.

For example in the following testfile:
[test.zip](https://github.com/Exiv2/exiv2/files/8331339/test.zip)
[code]

However using exiftool, the Exif and XMP metadata is printed:
[code]

Please investigate what is the problem with the `test.heic` that the metadata was not found.

[2022-03-23 09:02] piponazo commented on #2162
Thanks @novomesk for reporting this issue. I'll take a look when I have some spare time.

[2022-03-23 15:14] clanmills commented on #2162
There is a little Exif block in that file which can be read as follows:

[code]
Exiv2 bmff parser expects the Exif block to an iloc block as described in this diagram.
![heic](https://user-images.githubusercontent.com/529982/159731469-56404590-5a48-4f5f-93f8-bec9056f22e9.png)

Your file does have both `infe` and `iloc` records:
[code]

My suspicion is that the parser expects the `iloc` to occur af

[2022-03-23 15:45] #2147 closed

[2022-03-23 18:58] piponazo opened #2164 "Add CI jobs to compile on Linux x86"
In the Windows Matrix workflow, one of the variables we are using in the matrix is the architecture (x86 or x64) and it helps to detect some issues:
https://github.com/Exiv2/exiv2/actions/runs/2029520338

We should also add the architecture variable into the Linux Matrix worflow so that we can discover more potential issues in the codebase.

[2022-03-23 19:36] AdamMainsTL opened #2165 "Add support for Fuji RawImageCropTopLeft and RawImageCroppedSize"
##### **Is your feature request related to a problem?**
We have some Fuji files that contain crop data that is not retrieved by Exiv2. Using exiftool we can see the tags, but there is no similar data when iterating over Exiv2 values. Specifically, the data from exiftool is the following:

[code]

Note: There are also many other tags missing, but I only care about the crop values at the moment.

##

[2022-03-24 09:52] kmilos commented on #2165
It is inside this "CFA" block after the preview we don't do anything with yet:

[code]

The format seems to be a straightforward serialization:

Big endian assumed
4 bytes of entry count?
Then for each entry: 2 bytes for tag ID, 2 bytes for byte count, then the payload

A new parser would need to be added inside https://github.com/Exiv2/exiv2/blob/main/src/rafimage.cpp (see RafImage::printStructur

[2022-03-24 13:07] piponazo commented on #2164
It might be interesting to use this workflow:
https://github.com/egor-tensin/setup-gcc

[2022-03-24 13:41] jim-easterbrook commented on #549
I've been having some fun localising my Python interface to libexiv2 (v0.26 to 0.27.5) and it seems here is as good a place as any to report my findings. In most cases I use copies of the .mo files, installed in the Python packages directory. The trick to getting this to work was to call `Exiv2::exvGettext` to initialise it *before* calling `bindtextdomain` to set my own path.

The next problem wa

[2022-03-24 15:00] AdamMainsTL commented on #2165
Thanks for the information. Looking at the code it seems pretty straightforward. As far as I can see:

- Read CFA offset/length directly after `jpg_img_offset` and `jpg_img_length`
- Read data from that offset into a DataBuf
- Pass that to some new method that parses out the information and put into the `exifData` object (or does it not go in exif?)

The only thing I don't know how to do at the mo

[2022-03-24 16:25] kmilos commented on #2165
That's the general idea, yes, except that you wouldn't be assigning these explicitly, but just let the parser create those fields as it traverses that buffer and define a corresponding mapping table.

You might be even able to get away with the existing TiffParser - take a look at e.g. some Canon examples that are similarly some binary blobs in the Canon MakerNote but get parsed out as new, indepe

[2022-03-24 16:40] kmilos commented on #2165
Sorry, CanonMv was a bad example (actually not hooked up at all!), try to follow CanonCf instead...

[2022-03-24 16:59] sarunasb commented on #2126
@clanmills So this is asking you to help with Olympus/OM System MakerNote, whenever you feel like, on a rainy day... :) Thank you!

[2022-03-25 08:20] clanmills commented on #2126
![275347210_1333647243800216_8489668274434268825_n (1)](https://user-images.githubusercontent.com/529982/160082045-866b2bfb-28f5-4c6a-b7dc-c92f374b1ee3.jpg)

[2022-03-25 08:54] kmilos commented on #2126
While Robin is trimming his perfect garden on a perfect day, feel free to test the "dumb" patch (0.27 branch) by duplicating all the necessary classes and functions.

[2022-03-25 11:13] clanmills commented on #2162
The pairs in the `iloc` array  define the offset, length of the metadata block.  Both Exif and XMP length 306 and 3432 are correct and can be confirmed with Exiftool.  Both Exif and XMP offset are zero, and Exiftool reports the offset as zero.

The correct offset for Exif is 3260 and XMP is 3566.

exiftool -v5 test.heic reports:

[code]

The information exiv2 -pS is:
[code]

So, offset 0 requires

[2022-03-25 12:33] novomesk commented on #2162
The test.heic was constructed by libheif.

in GIMP I am using libheif's `heif_context_add_exif_metadata`, I am passing buffer starting with `II*`

`HeifContext::add_exif_metadata` https://github.com/strukturag/libheif/blob/master/libheif/heif_context.cc#L2442 prepends 4 zero bytes as offset.

Unfortunately, I don't know what is right from specification point of view. Dirk @farindk , perhaps you ca

[2022-03-25 12:54] farindk commented on #2162
According to the HEIF standard (ISO-23008:12, section A.2), the Exif data block starts with a 4-byte offset into the remaining data. I.e. if the data starts immediately with the TIFF header ("MM" or "II"), the offset will be 0. Otherwise, the given number of bytes should be skipped.

I don't know why they included this offset in the specification. It's not even clear to me when it would be useful

[2022-03-25 13:01] clanmills commented on #2162
It's amazing what we can get done when we work together.  Thank you both for your feedback.

I'm confident that Exiv2 "hunts" for the II/MM marker and ignores leading bytes.

The offset = 0 in the ILOC array is very convenient for somebody writing a file.  The fixup to deal with offset = 0 is an easy little change.  I'll do the PR this weekend for branch 0.27-maintenance.

[2022-03-25 13:07] farindk commented on #2162
Great. Note that the case offset != 0 is not just theoretical. I have seen such images. libheif searches for the "II"/"MM" header in the passed Exif data and then places an offset to this in the file. It does not truncate the extra data in front of the header.

[2022-03-25 17:16] sarunasb commented on #2126
Compiled 027_omsystem_mn branch. `exiv2 -pv ` outputs roughly the same amount of bytes from ORF samples from Olympus Pen-F and OM System OM-1.

Compiled darktable:master with rawspeed from kmilos:om-1, linked with Exiv2:027_omsystem_mn. darktable reports the same set of metadata for samples files from Pen-F and OM-1.

I'm glad to do any more sensible tests, if there is some established routine.

[2022-03-25 18:08] clanmills commented on #2162
The ISOBMFF specifications are a tough read.  For sure, I'm not smart enough to understand the ISO document numbering scheme.  For the bmff project, I worked with w15177_15444 and w15177_14496 which states on p88:

_The item location box (‘iloc’) specifies the actual storage location of each item within the container file as well as the file size of each item. File name, content type (MIME type),

[2022-03-25 23:10] farindk commented on #2162
Let me try to clear up the confusion a bit. The offset to the Exif data I was talking about has nothing to do with the ISOBMFF layer (ISO 14496). It is part of the metadata block stored in the iloc. Thus, get the data as specified by the 'iloc' and then, take the first 4 bytes of this data as the offset.

This is the relevant part of the HEIF standard:
![Screenshot from 2022-03-26 00-09-12](https:

[2022-03-26 08:02] clanmills commented on #2162
Thank You, @farindk.  I've always been focused on location ==  0 in `iloc`.

I mentioned the 4 nul bytes and now you've found the specification for that.  Thanks for digging into that.  I was not worried about that as I believe the Exiv2 code "hunts" for the II/MM marker and ignores leading bytes.

When I view the file test.heic on macOS (Catalina 10.15), Preview.app does not show the Exif metadat

[2022-03-28 18:48] #2126 closed

[2022-03-28 19:14] vieux opened #2173 "Add support for M1 macs"
##### **Is your feature request related to a problem?**
Exiv2 darwin builds are only available for x86_64, not arm64/aarch64

##### **Describe the solution you would like**
Update build scripts and CI to build on M1 macs

##### **Describe alternatives you have considered**
I tried building locally, but the binary produced are still x86_64

[2022-03-28 22:58] clanmills commented on #2173
Thank you for this request.

At the time of the 0.27.5 release, my MacBookPro with the m1 chip was generating thousands of linker visibility warnings which I didn't understand.  The x86_64 build was clean.  So, I only provided the x86_64 on Darwin.

I'm happy to say that Luis (@piponazo) solved the linker issue on branch main, however the fix cannot be back-ported to 0.27-maintenance because it wi

[2022-03-29 00:50] canberkgurel opened #2174 "Compiler cannot find -lexiv2lib after apt-get install exiv2"
##### **Describe the bug**
First I tried to install exiv2 from the source. I followed the instructions on the README. I ran into an error upon executing `cmake --install`, then I tried to install it with `apt-get install` which worked. I'm trying to use the `exiv2/exiv2.hpp` header file in my C++ code, but the compiler still complains that it cannot find the exiv2.

##### **To Reproduce**
To repro

[2022-03-29 01:10] canberkgurel commented on #2174
@piponazo is this something you can help with?

[2022-03-29 06:58] piponazo commented on #2174
Hi @canberkgurel . I'll try to help you. I do not think this is a bug so I removed the `bug` label for now.

Firstly, let's try to figure out why you cannot link against exiv2 when you install the system package for Ubuntu 18.04. I have a machine with the same OS, and these are the files installed with the `libexiv2-dev` package:

[code]

As you can see, the Ubuntu package does not bring any CMake

[2022-03-29 08:23] clanmills commented on #2174
There are several exiv2 related packages in apt.  The "vanilla" exiv2 installs the command-line program.   To compile and link exiv2, you'll need to install libexiv2-dev

The last time this was discussed (about 2 years ago) there was an issue with the "vanilla" exiv2.  It installed the exiv2 executable without installing the library.  I don't know if that's been fixed.

You might find downloading

[2022-03-29 09:06] clanmills commented on #2173
@vieux.  I frequently _(almost daily)_ build exiv2 on my MBP with the m1 chip.  Both branches 0.27-maintenance and main build arm64 binaries:

[code]

I got the MBP/m1 in February 2021 and the machine has always built arm64 binaries.  I had some initial difficulties with the linker wanting to link arm64 build artifacts with x86_64 libraries in /usr/local/lib which the Apple Transfer utility had co

[2022-03-29 10:55] piponazo commented on #2173
We are only building with x86_64 at the moment:
https://github.com/Exiv2/exiv2/actions/runs/2052494056

It would be nice to add support for the `arm64/aarch64` , but I am afraid there are not such machines in the Github environments at the moment:
https://github.com/actions/virtual-environments/issues/2187

Therefore, I do not think we can do much about it in CI. Of course, we could add some instr

[2022-03-29 11:51] clanmills commented on #2173
I'm not aware of anything special about building on the Apple/arm64/m1 chip, so I don't think it's necessary to change README.md for the m1.

I believe Xcode running on Intel can build arm64 and "universal" builds.  A "universal" has both x86_64 and arm64 code.  I'll investigate.  If this is possible, I'll update README.md to discuss this.

[2022-03-29 12:15] clanmills commented on #2173
I have built x86_64 on the m1 machine.  The cmake documentation is here:  https://cmake.org/cmake/help/latest/variable/CMAKE_APPLE_SILICON_PROCESSOR.html#variable:CMAKE_APPLE_SILICON_PROCESSOR

[code]

I know that I do not have x86_64 libraries on my m1, so I believe it's linking expat and zlib using macOS/SDK installed by Xcode.

I'll investigate "universal" builds later today.

[2022-03-29 14:24] canberkgurel commented on #2174
@piponazo @clanmills Thanks for the help.

I already had `libexiv2-dev` installed. I solved the problem by adding

[code]
to my CMakeList.txt file. For some reason `find_package(exiv2 REQUIRED CONFIG NAMES exiv2)` still throws an error. But anyway, I am able to compile and run the code. So, I'm happy.

[2022-03-29 14:24] #2174 closed

[2022-03-29 15:43] piponazo commented on #2174
As I mentioned in my previous comment, the Ubuntu package `libexiv2-dev` is not installing the needed CMake files for CMake to be able to find the library with the `find_package` command. Probably on that version of the package (0.25-3) we were not deploying any CMake files yet.

If you would compile and install exiv2 from the sources, you would get those CMake files in the installation folder. Yo

[2022-03-30 22:23] clanmills commented on #2173
No user feedback.  I'm going to close this.

[2022-03-31 05:45] piponazo commented on #2173
Hi @clanmills , regarding this:

At the moment exiv2json is used in some of the bash tests:
[code]
But those tests are exercising the exiv2json sample app and not too much the library ... I would also vote for removing that sample app. I can create a PR for that pointing to `main`

[2022-03-31 10:10] kevinbackhouse opened #2178 "Out of bounds read in isValidBoxFileType (jp2image_int.cpp)"
Two bugs reported by OSS-Fuzz, both caused by the same issue:

* https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=46000
* https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45993

These are reproducible on `main` and `0.27-maintenance`, but fortunately not on v0.27.5, so they don't need a security advisory. I think the bugs were most likely introduced by #2153, which hasn't been included i

[2022-03-31 11:09] piponazo commented on #2178
Thanks @kevinbackhouse for reporting. I'll take a look to this ASAP

[2022-03-31 11:54] kevinbackhouse opened #2179 "Integer overflow in Photoshop::setIptcIrb"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45302

There is an integer overflow here:

https://github.com/Exiv2/exiv2/blob/790fc465f486eb511b9bdbe2c0f53d7132256c9d/src/jpgimage.cpp#L185

The problem is that there is no check that `pos <= sizePsData`, so the subtraction can overflow. This problem used to be a latent bug, masked by the use of the signed type `long`, b

[2022-03-31 16:55] piponazo commented on #2178
Just out of curiosity, when I click in the links provided (bugs.chromium...) I cannot see any details there, I only see the message: `Permission denied.`. I have few questions about this:
- Is there a way somebody can get access to the details of those reports?
- What's the difference between that oss-fuzz and the fuzzer jobs we have in our CI? Do those fuzzers run a longer time or with different

[2022-03-31 19:17] clanmills commented on #2173
@piponazo Well spotted about those tests.

#984 concerns a null-ptr read in exiv2json, So when samples/exiv2json is killed, test_issue-984.py should be removed.

test_issue_1054.py is there to prevent a regression of code that recursively parses the xmp output into JSON. So, when exiv2json.cpp dies, this test should also be removed.

@vieux I'm very surprised you haven't said anything.  Is the M1

[2022-03-31 20:22] piponazo opened #2184 "Consider usage of LTO for pre-compiled binaries"
I recently got interested by Link-Time Optimisations (LTO) and decided to perform some experiments with Exiv2.

The result of applying the `-flto` flag using GCC-10 had a minor impact in the overall time spent to run the whole test suite:

[code]

I did not expect a major improvement on runtimes since most of the time spent in these tests probably resides in starting-up the `exiv2` binary in each

[2022-04-01 07:07] #2178 closed

[2022-04-01 15:12] piponazo commented on #2178
Yes please, I am also interested in learning more about this things and get notified when something occurs :+1:

[2022-04-01 15:33] piponazo commented on #2184
I have been doing some experiments in the branch `mainReleasesIPO`. I generated 2 temporary releases:

- https://github.com/Exiv2/exiv2/releases/tag/testIPO (without LTO)
- https://github.com/Exiv2/exiv2/releases/tag/testIPO_2 (with LTO)

Interestingly the tarball sizes of the 2nd one (with LTO) are bigger! The exiv2 binary and exiv2 shared library get reduced in size but the libexiv2-xmp.a file i

[2022-04-02 22:49] Ladcjh04 opened #2188 "You"
##### **Is your feature request related to a problem?**
A clear and concise description of the problem (e.g., I'm always frustrated when [...]; Exiv2 does not support XXX format [...])

##### **Describe the solution you would like**
A short description of what you want to happen.

##### **Describe alternatives you have considered**
A simple explanation of any alternative solutions or features you

[2022-04-03 05:29] piponazo commented on #2188
Mmmmm ... I guess you clicked in submit accidentally 😅 . Closing it until details are given

[2022-04-03 05:29] #2188 closed

[2022-04-04 07:13] piponazo opened #2190 "Integer-overflow in sumToLong"
##### **Describe the bug**
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45291

There is an integer overflow here:
https://github.com/Exiv2/exiv2/blob/b8cb4e096f61b3f03df13a14fc0915512aea865f/src/exif.cpp#L744

The metadatum contains several values which does not make any sense. When accumulating these values we end up having an integer overlow:
![Exiv2SumToLong](http

[2022-04-04 07:14] piponazo commented on #2190
This is the first time I create a bug report from oss-fuzz. @kevinbackhouse I would appretiate if you could take a look here and provide feedback. I took as a template some of the previous reports you created :wink: .

By the way, in the next minutes I will create a PR with a fix for this.

[2022-04-04 09:02] kevinbackhouse commented on #2190
@piponazo: Thanks! I wasn't paying enough attention and thought we had already fixed this one, but I was getting confused with #2160, which also involved `sumToLong`.

[2022-04-04 09:33] #2190 closed

[2022-04-05 17:26] piponazo commented on #2190
ey @kevinbackhouse . Is there something else I should do in the oss-fuzz issue ([link](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=45291)) ? I just saw a notification from there indicating that it is verified that the issue is fixed. I just want to get more familiar with the process of fixing those issues :)

[2022-04-05 18:13] kevinbackhouse commented on #2190
@piponazo: no, you don't need to do anything. The OSS-Fuzz issues get closed automatically. It usually takes a few days because you have to wait for them to do a run with the latest version of the code.

[2022-04-06 07:57] piponazo commented on #2179
- [x] Fix in `main` #2181
- [ ] Fix in `0.27-maintenance`

[2022-04-06 11:05] bilddateien opened #2193 "New lens AF-S Nikkor 500mm f/5.6E PF ED VR"
##### **Is your feature request related to a problem?**
Lens is not supported by darktable/lensfun as lens type is not decoded.

##### **Additional context**
RAW sample and EXIF attached, [content of those two files is CC0](https://creativecommons.org/publicdomain/zero/1.0/)
[exifdata-AF-S_Nikkor_500mm.zip](https://github.com/Exiv2/exiv2/files/8426236/exifdata-AF-S_Nikkor_500mm.zip)
[20220130_N5X0

[2022-04-06 11:35] hassec commented on #2193
Yep looks like this lens should be added, thanks for providing the samples :+1:
Do agree that we will add the extracted exif data from your samples to this repository to turn them into a test case?

Just FYI in case you don't know this yet:
You can work around exiv2 not knowing this specific lens by using a configuration file.
This is explained in the `CONFIGURATION FILE` section of the [man pages

[2022-04-07 13:10] tuxfanx opened #2196 "add Tamron 35-150mm f/2.8-4 Di VC OSD (A043) for Nikon F mount"
##### **Is your feature request related to a problem?**
[lens](https://www.dpreview.com/products/tamron/lenses/tamron_35-150_2p8-4_di_vc_osd/specifications) with Nikon F mount is not supported, lens support with Canon EF mount seems to be supported

##### **Describe the solution you would like**
I'm a calibrator of the lensfun project and I want to add the lens to the lensfun db

##### **Additiona

[2022-04-09 09:33] notorand-it opened #2199 "Please, add full file rename capability"
##### **Is your feature request related to a problem?**
evix2 renaming feature doesn't allow to rename the so-called "file name extension", which is kept as is.

##### **Describe the solution you would like**
exiv2 should allow for a complete rename, so-called "file name extension" included.
Either and extra option (-R) or a smart choice when the "-r" formatting string contains a ".something" at i

[2022-04-11 13:29] BazThomas opened #2202 "Lens ID mismatch: Canon RF 100-500 has 2x extender added to ID"
Hi

Using ART (a fork of RawTherapee) v1.13 on Windows 10. ART uses Exiv2.

An image taken with the Canon R5 and RF 100-500 is reported as having the RF 2x extender too - which was not used.

I reported this on the ART forum and the author found it was due to Exiv2 and the same issue appears in Darktable:

https://discuss.pixls.us/t/lens-spec-display-bug/30301/2

Sample file here: www.barrythomas.

[2022-04-12 08:56] BazThomas commented on #2202
I checked with another RF lens, the 50mm f/1.8 STM which is reported as 50mm f1.2:

![image](https://user-images.githubusercontent.com/59660057/162922007-4cd90919-bb71-4e34-9f2a-95d563679afd.png)

I guess this is all part of the same issue so not worthy of starting a new ticket.

tvm

B.

[2022-04-12 09:10] hassec commented on #2202
This is what I see using the current `main` branch:

[code]

There are main improvements on `main` that aren't in `0.27.X` so that's probably the problem you are seeing.
You could try and download the nightly prerelease and use that version.

[2022-04-12 10:25] agriggio opened #2204 "Better documentation for Exiv2::lensName ?"
The API docs for `Exiv2::lensName` simply state that the function:

However, it seems that the function is supposed to work only for "vanilla cases" (source: https://discuss.pixls.us/t/lens-spec-display-bug/30301/16) and only under somewhat simplistic assumptions, which might result in incorrect names in some cases. Would it make sense to add a warning about this in the docs?

Thanks!

[2022-04-12 10:27] BazThomas commented on #2202
Thank you - good to know. My sw building days are historical now, but if the nightly build can be dropped into my version of ART I might go that route.

Interestingly, looking in the RAW above, re the f1.2 vs f1.8 lens, ExifTool (in XnView) shows this:

![image](https://user-images.githubusercontent.com/59660057/162940145-fa028bda-8145-4e47-92b4-38a167ec0dbc.png)

So the Lens Type field is at best

[2022-04-12 10:28] BazThomas commented on #2202
Thank you - good to know. My sw building days are historical now, but if the nightly build can be dropped into my version of ART I might go that route.

Interestingly, looking in the RAW above, re the f1.2 vs f1.8 lens, ExifTool (in XnView) shows this:

![Uploading image.png…]()

So the Lens Type field is at best vague, while the individual specs of the lens below are right. Thanks Canon. I can se

[2022-04-12 10:29] BazThomas commented on #2202
[](https://github.com/Exiv2/exiv2/issues/2202)Thank you - good to know. My sw building days are historical now, but if the nightly build can be dropped into my version of ART I might go that route.

Interestingly, looking in the RAW above, re the f1.2 vs f1.8 lens, ExifTool (in XnView) shows this:

![image](https://user-images.githubusercontent.com/59660057/162940856-ac29eb60-8c40-4803-bb27-b174e5

[2022-04-12 11:07] hassec commented on #2202
yes that is unfortunately a super annoying problem because the reported Lens type has to be reconstructed from the available lens details that is found in the metadata.
If you are interested, for canon this happens here: https://github.com/Exiv2/exiv2/blob/6c99577f1d5b6c8d6cd13d5990e789fd9adc8942/src/canonmn_int.cpp#L2520

You can see that there is quite a bit of code trying to do its best, but th

[2022-04-12 11:16] BazThomas commented on #2202
I spent 10y writing medical s/w in C and C++ a _long_ time ago and don't miss it. The layer upon layer of other people's data that you have to unpick to make this kind of app work is a nightmare. I'm going to back away from the keyboard and leave you guys to it thanks :) I can tell from the (correctly reported) lens length in the ART info panel which combo I was using at the long end, and I know I

[2022-04-12 11:17] hassec commented on #2204
I guess adding a sentence or two can't hurt.
How about something that explains that this is information that is not just read from the file but needs to be reconstructed based on a good deal of other metadata found in the file, and thus can't always be determined correctly?

[2022-04-12 11:19] #2202 closed

[2022-04-12 11:43] agriggio commented on #2204
Something like this?

[2022-04-12 12:35] hassec commented on #2204
I think that's a reasonable addition, WDYT @piponazo ?

[2022-04-12 12:56] piponazo commented on #2134
Hi @QuietLullaby , I finally had some time to look at this and I can confirm that those tests are failing on ARM. I'll try to debug the problems on my RaspberryPi and fix the issues.

[2022-04-12 13:27] kmilos commented on #2204
IMHO, the warning shouldn't be limited to lensName() only, but all of easyaccess API - there's ISO and other data we try to pull out from "most usual/known" MakerNote places, but can't really guarantee it is done 100% correctly.

[2022-04-13 07:52] neheb opened #2208 "Add SonarCloud"
https://sonarcloud.io/

seems like a neat code checker.

[2022-04-13 13:22] #2134 closed

[2022-04-13 13:23] piponazo commented on #2134
@QuietLullaby The issues you found should be fixed now. Could you please provide feedback if these changes also fix the issues on your side?

[2022-04-19 19:34] jumbonionga opened #2214 "Missing information about Nikon 70-300 lens F Mount"
##### **Describe the bug**
I have a Nikon 70-300 4.5-6.3 G ED DX non-VR version that it's showing as 162 on darktable. I opened an [issue with lensfun](https://github.com/lensfun/lensfun/issues/1293) since I thought that it was related to their implementation, and they informed me that this is something related to the Exiv2 information. The VR version does show appropriately.

Attached is a JPG fi

[2022-04-23 10:43] jim-easterbrook opened #2217 "LangAlt value sorting"
##### **Describe the bug**
According to https://developer.adobe.com/xmp/docs/XMPNamespaces/XMPDataTypes/#language-alternative the first item in a LangAlt array is the default language. Also it is legitimate for there not to be an "x-default" item. Exiv2 stores LangAlt data in a std::map, which gets sorted by key so the user no longer knows which was the first item in the file.

The LangAltValueCom

[2022-04-25 04:12] DarrellDuane opened #2221 "Add support for C2PA"
##### **Is your feature request related to a problem?**

I would like to see Exiv2 support the [C2PA standard](https://c2pa.org/).  This standard allows for images to store metadata that shows the provenance of the image.  It is good for detecting deepfakes and also for showing when an image is actually from a moment in history that is important to document.  Adobe is working to support this stand

[2022-04-25 05:55] piponazo commented on #2221
Hi @DarrellDuane , thanks for informing us about this standard. Hopefully some of the contributors find this challenge interesting and have some time to dig into it 🤞 .

[2022-04-29 08:47] piponazo opened #2223 "Review possible dead code around EXV_HAVE_MMAP"
In https://github.com/Exiv2/exiv2/pull/2219#issuecomment-1112945421 we discussed about the possibility of having some dead code in our codebase around the `EXV_HAVE_MMAP` definition:

[code]

We need to find out if there is any UNIX platform without the system header `sys/mman.h`. If it does not exist, we could consider certain areas of the codebase as dead-code and remove them.

[2022-04-29 14:38] pietroborrello opened #2224 "AddressSanitizer: heap-buffer-overflow in Exiv2::getULong"
##### **Describe the bug**
AddressSanitizer: heap-buffer-overflow in Exiv2::getULong

##### **To Reproduce**
Built exiv2 using clang-10 according to [the oss-fuzz script](https://github.com/google/oss-fuzz/blob/master/projects/exiv2/build.sh) with `CXXFLAGS='-O1 -fsanitize=address -fsanitize=array-bounds,bool,builtin,enum,float-divide-by-zero,function,integer-divide-by-zero,null,object-size,return

[2022-04-29 14:46] pietroborrello opened #2225 "UndefinedBehaviorSanitizer: division by zero"
##### **Describe the bug**
Multiple `UndefinedBehaviorSanitizer: division by zero` in nikonmn_int.cpp and tags_int.cpp: the attached testcases trigger them.

##### **To Reproduce**
Built exiv2 using clang-10 according to [the oss-fuzz script](https://github.com/google/oss-fuzz/blob/master/projects/exiv2/build.sh) with `CXXFLAGS='-O1 -fsanitize=address -fsanitize=array-bounds,bool,builtin,enum,floa

[2022-04-29 14:53] pietroborrello opened #2226 "UndefinedBehaviorSanitizer: integer overflow"
##### **Describe the bug**
UndefinedBehaviorSanitizer: integer overflow in exif.cpp:744

##### **To Reproduce**
Built exiv2 using clang-10 according to [the oss-fuzz script](https://github.com/google/oss-fuzz/blob/master/projects/exiv2/build.sh) with `CXXFLAGS='-O1 -fsanitize=address -fsanitize=array-bounds,bool,builtin,enum,float-divide-by-zero,function,integer-divide-by-zero,null,object-size,ret

[2022-04-29 14:56] pietroborrello opened #2227 "NULL pointer dereference in Exiv2::getULong"
##### **Describe the bug**
NULL pointer dereference in Exiv2::getULong

##### **To Reproduce**
Built exiv2 using clang-10 according to [the oss-fuzz script](https://github.com/google/oss-fuzz/blob/master/projects/exiv2/build.sh) with `CXXFLAGS='-O1 -fsanitize=address -fsanitize=array-bounds,bool,builtin,enum,float-divide-by-zero,function,integer-divide-by-zero,null,object-size,return,returns-nonnu

[2022-05-01 03:43] eddiezato opened #2229 "Failed to open file with Cyrillic filename [msys2/clang64]"
##### **Describe the bug**
[code]

##### **To Reproduce**
Build the latest version of exiv2 from `main` in the `msys2/clang64` environment. My build script:
[code]

##### **Expected behavior**
The program must be able to open a file with a Cyrillic filename.
[code]

##### **Desktop (please complete the following information):**
- OS and version: Windows 11
- Compiler and version: Clang 14.0.0
- Co

[2022-05-01 14:57] kevinbackhouse commented on #2224
This is a duplicate of #2178.

@pietroborrello: this is an old issue that OSS-Fuzz found a month ago and which we have already fixed. Why are you reporting it to us again? I'm going to assume that your other issues are also duplicates and will close them without further investigation.

If you ever find a genuine security issue in Exiv2, please follow the process described in our [SECURITY.md](http

[2022-05-01 14:57] #2224 closed

[2022-05-01 14:59] #2227 closed

[2022-05-01 15:01] #2226 closed

[2022-05-01 15:02] #2225 closed

[2022-05-02 07:03] piponazo commented on #2229
Hi @eddiezato . I just tried to copy & paste the filename you gave as an example (`Darth-Vader-SW-Персонажи-Звездные-Войны-фэндомы-2304085.jpg`) and I could open the file without problems. I tried with the following terminals on Windows 11:
- normal CMD
- bash terminal
- MSYS UCRT64

I worked in solving this issue few months ago. You can see the work done in this PR: https://github.com/Exiv2/exiv2

[2022-05-02 07:41] eddiezato commented on #2229
@piponazo thanks for your reply.

Yeah, I've read this and a couple of other topics. I use `msys2/clang64` to avoid mixing files built by different compilers since I build everything with `clang` anyway, and this environment also uses the `ucrt` library. I also build other apps in the same way, such as `flac`, `libjxl`, `libwebp`, `mozjpeg`, etc. And they don't have this problem. Only `exiv2` and

[2022-05-02 07:58] eddiezato commented on #2229
Build `v0.27.5` with `EXIV2_ENABLE_WIN_UNICODE=ON` gives this:

inside `msys2/clang64` terminal
[code]
inside `cmd` or `pwsh`:
[code]
the file has no exif, but at least it's loaded.

[2022-05-02 08:04] piponazo commented on #2229
Alright, let's try to hunt this issue together then 😇 .

Juts as a piece proof that I was not lying before, I upload this screenshot showing how I can open a JPEG file which I renamed in my system with the filename you provided:
![image](https://user-images.githubusercontent.com/102645/166202826-2510616a-0b97-40e1-96a8-35da643f9199.png)

At the moment, I think we are not using `clang` from windows

[2022-05-02 08:25] kmilos commented on #2229
Did you build main inside MINGW64 environment/terminal (no unicode support) or UCRT64/CLANG64 for sure? Just setting CC=clang from MINGW64 will not work...

I have the CLANG64 environment set up here and will try to reproduce shortly...

[2022-05-02 08:43] eddiezato commented on #2229
Previously I was building with `clang` in the default `msys2/mingw64` environment without any problems. But a couple of days ago I just asked myself why use the dependencies created with `gcc` when I have the `clang` environment for me. Just for my inner perfectionist. 😜

It works fine:
[code]

Yep. 😉

@kmilos

Yeah, that's for sure:
[code]

[2022-05-02 09:18] kmilos commented on #2229
Indeed, it (main 19dc566889c3dd3f694897f19943df49b72c44d5) doesn't work for me either currently:

![image](https://user-images.githubusercontent.com/4973094/166212171-55fffc93-1ae4-48e8-bf57-0b64374ed806.png)

Same w/ UCRT64 build 😕

I haven't tried [setting the system locale to UTF-8](https://support.smartbear.com/testleft/docs/_images/basics/selecting-unicode-language.png) yet.

[2022-05-02 09:23] piponazo commented on #2229
I'll try dig into this ASAP, but I am lately pretty busy with work and holidays. I'll probably take weeks before I can do some progress on this topic.

[2022-05-02 09:51] kmilos commented on #2229
Interestingly, UCRT64 does work from the default mintty+bash (i.e. what is used in CI):

![image](https://user-images.githubusercontent.com/4973094/166215946-63aba80d-9d23-4113-a5cb-f07425932035.png)

but doesn't from CLANG64 although it supposedly also links to ucrt...

![image](https://user-images.githubusercontent.com/4973094/166216054-b8fa2e3f-7247-444d-8900-aaa99f36077c.png)

This will take t

[2022-05-02 15:07] pietroborrello commented on #2224
Hello, thank you for your reply, and sorry for the duplicate. I had searched for `Exiv2::getULong` which gave no relevant match.

Btw among the other issues #2225 reproduces on master. Should you reopen it?

[2022-05-02 15:35] kmilos commented on #2229
@eddiezato Can you try removing -municode from `app/CMakeLists.txt` please?

[2022-05-02 15:47] eddiezato commented on #2229
cmd
[code]
msys2/clang64
[code]

[2022-05-02 15:49] kmilos commented on #2229
Thanks. How about `-DUNICODE -D_UNICODE` instead of `-municode`?

[2022-05-02 15:58] eddiezato commented on #2229
Same result.

[2022-05-02 16:00] kmilos commented on #2229
Thanks for checking, the search continues...

I also tried removing `-municode` and removing linking in this `app/wmain.c` hack, still a no-go...

[2022-05-02 17:23] kevinbackhouse commented on #2224
@pietroborrello: #2225 is not reproducing for me. I just tested those three files on commit [19dc566](https://github.com/Exiv2/exiv2/commit/19dc566889c3dd3f694897f19943df49b72c44d5).

[2022-05-02 18:25] postscript-dev commented on #2224
@kevinbackhouse : I sent you an email about reproducing this issue but it may have been spam filtered. My address is postscript-dev@outlook.com

[2022-05-02 19:12] kevinbackhouse commented on #2224
@postscript-dev: you're right, I just found it in my spam folder. I'll take a look.

[2022-05-02 22:34] kevinbackhouse commented on #2224
@postscript-dev: I investigated. These are floating point divide-by-zero operations. Unlike integer divide-by-zero, floating point divide-by-zero is totally fine. It generates a NaN or Inf and does not cause the program to crash. I remember now that I specifically updated our OSS-Fuzz build script to stop getting these results: https://github.com/google/oss-fuzz/pull/6549

Of course, we might cons

[2022-05-02 23:13] postscript-dev commented on #2224
@kevinbackhouse : Great, thanks for looking at this.

[2022-05-03 08:05] jim-easterbrook commented on #2217
Answer: no it wouldn't. `std::unordered_map` has undefined/random element order.

As far as I can tell, the only solution is to change the container to a vector of key:value pairs, or to add a separate list of keys to preserve the item order.

[2022-05-04 17:53] Saijin-Naib opened #2230 "OpenCamera Yaw/Pitch/Roll EXIF.Photo.UserComment Field rendered incorrectly"
##### **Describe the bug**
OpenCamera-written EXIF.Photo.UserComment field is not rendered properly by exiv2. Instead of the literal text string, it only renders as ```ASCII```.

##### **To Reproduce**
Steps to reproduce the behavior:
1. PoC Image:
[20210531_205332_DRO.jpg.zip](https://github.com/Exiv2/exiv2/files/8625672/20210531_205332_DRO.jpg.zip)

2.
[code]
3. Mention the branch/commit in whic

[2022-05-05 16:58] postscript-dev commented on #2230
@Saijin-Naib:
I don't know much about Exiv2 comments but I have taken a look at your test file and have found out where the problem lies.

Your test file displays:
[code]
but the actual value is `ASCII\0\0\0Yaw:304.33597,Pitch:-11.097873152128953,Roll:1.3714360717677891`. The reason the output is wrong is because the tag is set to the wrong type. The `Ascii` type is NULL-terminated (as defined in

[2022-05-05 18:43] Saijin-Naib commented on #2230
This is a wealth of information! If this could stay open while I upstream this to OpenCamera, that'd be appreciated. Of course, the Issue is tagged wrong as this is not an exiv2 bug 😬

[2022-05-06 03:30] Saijin-Naib commented on #2230
Upstreamed to OpenCamera:
https://sourceforge.net/p/opencamera/tickets/956/

Thanks for the correction!

[2022-05-06 03:30] #2230 closed

[2022-05-06 07:16] eddiezato commented on #2229
I'm not an expert in c++. Just poke around in the code. 😜

So I found this:
`fs::exists(path)` - can't find Unicode path,
`fs::exists(fs::u8path(path))` - can.

[2022-05-06 08:15] piponazo commented on #2229
This might actually be the answer to the issue, so even though you might not be an c++ expert you did a good investigation around! 😁

When I have some spare time, I would like to:
1- First reproduce the issue by my own.
2- Setup a new CI job to reproduce the issue on the cloud (if possible)
3- Apply a fix (possibly using fs::u8path)

[2022-05-06 09:38] eddiezato commented on #2229
I looked through the files `/clang64/include/c++/v1/__filesystem/path.h` `/ucrt64/include/c++/11.3.0/bits/fs_path.h` and tried to figure out why default string-to-path conversion works with the `gcc filesystem`, but not with the `llvm filesystem`. But it seems to be beyond me. 😄

[2022-05-09 02:43] eddiezato commented on #2229
I opened a [discussion](https://github.com/msys2/MINGW-packages/discussions/11629) in the msys2/mingw repo. The problem seems to be in libc++ itself, so I dunno if `exiv2` should to have any adjustments specifically for the `msys2/clang64` environment.

[2022-05-10 18:51] novomesk opened #2233 "Problem reading metadata from a JPEG XL file"
Hello,

This is a home-made JXL file which should have Exif and XMP metadata embedded:
[jpeg-xl-with-metadata.zip](https://github.com/Exiv2/exiv2/files/8664053/jpeg-xl-with-metadata.zip)

When I try to print metadata using `exiv2` 0.27.5 I get following error:

[code]

Please investigate the problem. I would like to see whether the problem is in the jpeg-xl-with-metadata.jxl file or exiv2 implemen

[2022-05-11 09:11] kmilos commented on #2233
Actually both the Exif and XMP box handling look suspicious to me wrt to length (box header included, while expected is not?) and start address (header skipped or not)... @1div0 @kevinbackhouse

https://github.com/Exiv2/exiv2/blob/056139269eba1ec373fe57b82c0d98d3c31a28c4/src/bmffimage.cpp#L439-L444

The file looks ok.

[2022-05-11 09:53] kmilos commented on #2233
Yep, did the box swap using `dd` and now Exif parsing fails...

[jpeg-xl-with-metadata-swap.zip](https://github.com/Exiv2/exiv2/files/8668784/jpeg-xl-with-metadata-swap.zip)

[2022-05-11 17:14] postscript-dev commented on #2057
@GitHubbero:
For the past 3 months, I haven't been able to contribute to Exiv2 as I wanted to. Now I have more time and can finish jobs such as yours that are still outstanding. Thanks for being *very* patient.

I have submitted a PR to fix your problem (#2235) which will now output:

[code]

Providing a list of these two lenses is the best we can do at the moment.

When the PR is merged, the issu

[2022-05-12 07:27] kmilos commented on #2057
FWIW, [I have dropped using `Exif.CanonCs.LensType` in darktable when 61182 is detected](https://github.com/darktable-org/darktable/pull/11584), it uses 'Exif.Canon.LensModel' for RF lenses now on master (and the upcoming 4.0).

[2022-05-15 09:36] notorand-it opened #2237 "exiv2 reports "corrupted metadata" where exiftool can extract them all"
##### **Describe the bug**
On an Andoid-shot MP4 file exiv2 reports "corrupted metadata" while exiftool can extract them all.

##### **To Reproduce**
Steps to reproduce the behavior:
1. Download the attached MP4 file
2. run "exiv2 pr file.mp4"
3. run "exiftool file.mp4"

##### **Expected behavior**
Both steps output media file metadata

##### **Actual behavior**
exiv2 reports corruption error
exif

[2022-05-16 18:39] VJSchneid commented on #2237
Hi @notorand-it,
unfortunately I do not know a lot about mp4 files but after looking into the corresponding source file (``src/bmffimage.cpp``) it seems as if there is missing some code to parse all the boxes/atoms found in your video file.

The corrupted file error comes from exiv2 when it tries to read another box inside the ``meta`` box, which seems to be not present or differently formatted as

[2022-05-17 00:50] Saijin-Naib opened #2238 "Feature Request: exiv2 rename to allow all exiv2 tags"
##### **Is your feature request related to a problem?**
For many years on Windows I've been using ReNamer from den4b with exiv2 and some custom perl-scripting to make uniquely named photos an easy thing on my photo library. I use exiv2's rename functionality alongside inserting the Exif.Image.Model tag. The resultant filenames are like such:
[code]

##### **Describe the solution you would like**
I

[2022-05-19 12:47] #2233 closed

[2022-05-21 14:14] #2193 closed

[2022-05-21 14:14] #2196 closed

[2022-05-21 14:14] #2214 closed

[2022-05-27 16:57] RigacciOrg opened #2246 "Exif.OlympusCs.ArtFilter not fully parsed on Olympus E-M10 Mark II"
##### **Describe the bug**
The human readable label for **Exif.OlympusCs.ArtFilter** is not printed in some cases. Exiv2 parses the first two shorts and expects the second short to be always 1280, but in my case it is 4352.

##### **To Reproduce**
Execute the following command on the photo shooted in "Soft Focus":
`exiv2 -P kyctv -u print OlympusCs.PictureMode.11.jpg`

The output is (no human read

[2022-05-28 14:32] postscript-dev commented on #2238
@Saijin-Naib:
As you have found, currently the model name is unavailable for use when renaming with the Exiv2 application. The usual workaround is to write a script using `exiv2` but this isn't an option here.

Instead, you could use the [ExifTool](https://www.exiftool.org/) command line program. The [ExifTool manpage](https://www.exiftool.org/exiftool_pod.html) explains how to use the software, w

[2022-05-28 15:33] postscript-dev commented on #2246
@RigacciOrg:
Thanks for looking at this yourself - you are right, the values are missing from the translation function.

If you have the time, a complete list of `Exif.OlympusCs.ArtFilter` values would help us provide better support for your camera. As the translation function is also shared with the `Exif.OlympusCs.MagicFilter` tag, I would like to know if this is set in your photos. You can disp

[2022-05-29 07:55] RigacciOrg commented on #2246
I took 23 pictures with all the Picture Modes available on the OM-D E-M10 MarkII:

i-Enhance
Vivid
Natural
Muted
Portrait
Monotone
Custom
e-Portrait
Color Creator
Pop Art
Soft Focus
Pale&Light Color
Light Tone
Grainly Film
Pin Hole
Diorama
Cross Process
Gentle Sepia
Dramatic Tone
Key Line
Watercolor
Vintage
Partial Color

Then I printed with **exiv2 -P kyctv -u print** the Exif.OlympusCs.ArtFilter

[2022-05-30 11:41] postscript-dev commented on #2246
Thanks for taking the pictures, I can use the values to update the tags.

The `Exif.OlympusCs.ArtFilter` tag uses 4 `Short` values. The first is the art filter but the other 3 are still a mystery.
I looked at your camera's instruction manual and the `Partial Color` mode produces a monochrome image with a single user-selected colour in it. You may be correct about the 3rd/4th values of `Partial Col

[2022-05-30 15:09] RigacciOrg commented on #2246
When using the `Partial Color` mode of `Exif.OlympusCs.ArtFilter` (1st byte = 39), the **4th byte** represents **the color selected using the dial**. On my E-M10 Mark II you can select 18 different positions on the color wheel, the top (north) position is 0 and it increases by 1 at each step, turning clockwise:

[code]

[2022-05-31 10:29] postscript-dev commented on #2246
@RigacciOrg:

This makes things clearer - sometimes you need the camera in front of you to understand how things work. I will update the tags as follows:
1. Add the missing filter values
2. Output `Partial Color` as `Partial Color (position n+1)` where `n` is the 4th vanilla value. e.g., `Partial Color (position 16)`.

Could you please donate 1 test image where `Partial Color` has been used. This

[2022-05-31 16:14] RigacciOrg commented on #2246
I attach an image here, it is marked
 "CC-By-SA" into the `Exif.Image.Copyright`, if you need a different licensing let me know. GPL is OK too.
Please consider also to add the missing label for `Exif.OlympusCs.ImageStabilization` and the typo into `![P5313257](https://user-images.githubusercontent.com/863803/171219805-d00020d4-0ede-449b-93ba-e3b870f6ce77.JPG)`:

- `Exif.OlympusCs.ArtFilter`: ART14

[2022-06-01 11:08] postscript-dev commented on #2246
@RigacciOrg:

That is a nice photo. I have searched for links between "CC-By-SA" and GPL2 and can't find a simple explanation. As I only need the metadata from the image, if you agree, I can extract the metadata and this can be released under the GPL2. I can update the `Exif.Image.Copyright` tag to reflect the change in license.

As the changes are small, I can include them.

I don't understand wh

[2022-06-10 14:21] PeterWem opened #2247 "Canon EF 35-80mm f/4-5.6 II and III are named just like the original Canon EF 35-80mm f/4-5.6"
![EF35-80](https://user-images.githubusercontent.com/34200649/173085428-32534d0c-3345-463b-9825-d8aa37fc34e8.png)

Canon has five EF 35-80 lenses and exiv2 reports the same name for three of them for the LensType tag.

##### **To Reproduce**
Sample raw files CC0 license https://drive.google.com/file/d/1fnxPGsF_daav3ej16DKlIgfh2gBJ4_Vh/view?usp=sharing
![exiv2-pt](https://user-images.githubusercont

[2022-06-10 14:49] PeterWem commented on #2247
Thanks!

[2022-06-10 14:49] #2247 closed

[2022-06-10 14:50] hassec commented on #2247
Thanks for the report! :+1:

[2022-06-11 18:38] postscript-dev commented on #2246
@RigacciOrg:
Sorry for the delay.

I looked at the link but I could only find references to GPL3 rather than GPL2. However, as you have explained your consent, I have continued to make the changes.

Thanks for explaining but I think that I will leave adding `ART` as only some of the values have additional labels. I think that it is possible to understand the camera choices using the other text.

I

[2022-06-12 15:12] kmilos commented on #2247
Might be an idea to report this over at https://github.com/exiftool/exiftool as well:

https://exiftool.org/TagNames/Canon.html

[2022-06-14 16:46] eddiezato commented on #2233
Don't know where to report this:
- take png from [here](https://file-examples.com/storage/fe6869c4db62a7ab6a021f9/2017/10/file_example_PNG_3MB.png);
- make a copy and write a comment with `exiv2`;
- the same with `exiftool`;
- trying to convert pngs with `cjxl`.

`cjxl` can see the exif for pngs processed with `exiftool`, but can't with `exiv2`.

[code]

`exiv2`, `cjxl` - the latest git-versions (

[2022-06-14 16:59] kmilos commented on #2233
Please create a separate issue, maybe after somehow establishing if this is really exiv2's "fault", or libjxl's... E.g. does it happen with some other more "standard" tag like `Copyright`, `UserComment` is a bit special as it requires that character encoding to be present...

Also, there might be a difference in where exiv2 and exiftool actually store the Exif data in a PNG - there are two possibi

[2022-06-15 03:39] eddiezato commented on #2233
It seems to be a `cjxl` *"fault"*, it doesn't detect exif in both cases:
[code]

[2022-06-15 07:18] kmilos commented on #2233
Ah, the exiftool way didn't work this second time because it created a plain PNG Copyright text.

https://exiftool.org/TagNames/PNG.html#TextualData

To make sure it is Exif, you can maybe try `exiftool -EXIF:Copyright="test"`.

In any case, I think it is now clear - please create two new requests:

- one for exiv2 to support/prefer writing to PNG eXIf chunk (and possibly check the XMP as well)
-

[2022-06-15 08:28] eddiezato opened #2250 "Feature request: Support writing to PNG `eXIf` chunk"
It would be useful (for cases where some apps can't handle text chunks in PNGs) to have `exiv2` support writing `eXIf` chunks to PNG files.

I think it should be a command line key to force writing `eXIf` instead of `zTXt`, but this for the devs to decide, of course.

[2022-06-17 12:43] postscript-dev commented on #2246
@RigacciOrg:
As you requested, I am updating the `Exif.OlympusCs.ImageStabilization` to use the `S-IS AUTO` value (`4`). I see from your camera's instruction manual that values of `S-IS1`, `S-IS2` and `S-IS1` are also available. Intuitively these labels look like they relate to values of `1`, `2` and `3` but could you please confirm this? There is no need to provide sample file, simply let me know

[2022-06-17 16:54] RigacciOrg commented on #2246
I can confirm that the values of the `Exif.OlympusCs.ImageStabilization` tag have the following meaning in my E-M10:

- 0 => OFF - Still-I.S. Off
- 1 => S-IS1 - All Direction Shake I.S.
- 2 => S-IS2 - Vertical Shake I.S.
- 3 => S-IS3 - Horizontal Shake I.S.
- 4 => S-IS AUTO - Auto I.S.

[2022-07-01 14:09] hassec opened #2255 "Can we keep public headers C++11 compatible?"
While we have moved to using C++17 internally, I think we should try to investigate how painful it would be to keep the public headers C++11 compatible.

Some recent MRs for example introduced `std::string_view` into `basicio.hpp`.
https://github.com/Exiv2/exiv2/blob/7ebf2a184e28bf638a39aa30ed3784c5035b668a/include/exiv2/basicio.hpp#L698

This is motivated by a report on the matrix channel by @aur

[2022-07-01 14:25] kevinbackhouse commented on #2255
I don't have a strong opinion on this.

[2022-07-01 14:37] neheb commented on #2255
Those string_views should just be auto. I'll write a PR.

[2022-07-01 14:37] kmilos commented on #2255
Me neither, but have some questions:

Any particular reason for @aurelienpierre not using 0.27-maintenance branch?

Also, might be an idea to plan a 0.27.6 release?

[2022-07-01 14:53] hassec commented on #2255
@neheb before we change more, I'd suggest we create a test first that checks these headers compile with `C++11` otherwise, changing something will just introduce more churn without any gain.

@kmilos that's the advice we gave on matrix.
But in general, eventually `main` will hopefully become a released version, so we should be happy that someone is trying to build with the `main` branch and test t

[2022-07-01 22:24] neheb commented on #2255
Sounds good. I have no real way of testing my changes. Well, maybe building with darktable.

[2022-07-03 15:36] piponazo commented on #2255
Hi guys. I think we should be able to test that the `exiv2` target is only using C++11 features.

At the moment we are setting the C++ standard globally for our project with:
[code]

I do not recall if this is propagated to the consumers of Exiv2 via the CMake configuration files which are deployed during the installation step. However it should be possible to indicate that exiv2 needs at least c+

[2022-07-04 16:02] calestyo opened #2259 "_ExifDataProcessed doesn’t return on a certain image."
##### **Describe the bug**
This is basically forwarded from https://github.com/BestImageViewer/geeqie/issues/997 .
When displaying the image I've uploaded there, `geequie` freezes, which is apparently caused by exiv2.

##### **Desktop (please complete the following information):**
- OS and version: Debian unstable
- libexiv2: 0.27.5

Thanks,
Chris.

[2022-07-05 03:37] wbzqe opened #2260 "add Sony ARW mimeType "image/x-sony-arw""
hi,

According to my test, add it in the following location,  Can correctly identify arw's mimeType ~

https://github.com/Exiv2/exiv2/blob/8a9f6ac2b8f4a71d11104a58134cd2fc5afbae2a/src/tiffimage.cpp#L48

MimeTypeList(32767, "image/x-sony-arw")

[2022-07-06 10:16] kevinbackhouse opened #2268 "assertion failure in debug build"
This assert can trigger in a debug build:

https://github.com/Exiv2/exiv2/blob/a5c521ea572fb7c3eba3437cf9b77e62bf39c19e/src/jp2image.cpp#L478

I discovered this by running a debug build of our fuzzer. Here's a poc: ![poc](https://user-images.githubusercontent.com/4358136/177527893-7fd7c593-a4c3-46f6-b691-c6fdff9e17d6.jpg). It's reproducible like this, with a standard debug build:

[code]

[2022-07-06 13:04] kevinbackhouse opened #2270 "Question about WebPImage::inject_VP8X"
Does anybody here know why this `-1` adjustment is needed in `WebPImage::inject_VP8X`?

https://github.com/Exiv2/exiv2/blob/a5c521ea572fb7c3eba3437cf9b77e62bf39c19e/src/webpimage.cpp#L764

Most of the time, it looks like it's cancelling the corresponding `+1` adjustments in `WebPImage::doWriteMetadata`, like this one:

https://github.com/Exiv2/exiv2/blob/a5c521ea572fb7c3eba3437cf9b77e62bf39c19e/sr

[2022-07-08 05:34] piponazo commented on #2270
No idea from my side 😅

[2022-07-08 09:30] #2268 closed

[2022-07-19 14:42] #2246 closed

[2022-07-23 09:38] j-m-harris commented on #2162
+1 for this problem, I have some HEIC files for which previous exiv2 versions read the EXIF but are now reporting 'data not found'.

[2022-07-23 17:06] 1div0 commented on #2162
Hi++ @j-m-harris could you provide us few such files for analysis?

Thanks.

[2022-07-24 15:05] j-m-harris commented on #2162
Sure @1div0 , thanks for looking at this.

This file was generated with `heif-enc` and has metadata added by `exiftool`

[IMG_20200731_210636067.heif.gz](https://github.com/Exiv2/exiv2/files/9176020/IMG_20200731_210636067.heif.gz)

It was generated in March 2021 when exiv2 didn't read the meta data (reporting 'The file contains data of an unknown image type'). In April 2022 I noted that the curren

[2022-07-25 03:03] neheb commented on #2255
I merged that PR. AFAIK, it should be fine now.

[2022-07-25 03:17] frohro opened #2290 "exiv2 rename example in the man pages doesn't work the way it says it should."
It appears that the basename option is not documented correctly or perhaps doesn't work as it should.  The manual page says:
`  $ exiv2 -r'basename_%Y%m' rename img_1234.jpg
       Renames img_1234.jpg to img_1234_200511.jpg

`
but what happens on Ubuntu 22.04 is the file name becomes
$ ls basename_202207.jpg
basename_202207.jpg
for this image first renamed to img_1234.jpg, taken in July 2022.

Ro

[2022-07-25 09:25] postscript-dev commented on #2290
@frohro:
You are right, the manpage is incorrect. For the `0.27.5` release, the manpage example is:

[code]

but should read:

[code]
as the keyword needs to be surrounded by `:`s.

I am working on a different project at the moment but when I am finished I will come back and update the text.

I have rewritten the manpage on the `main` branch and already corrected your issue. The [new manpage](http

[2022-07-25 14:01] frohro commented on #2290
Thank you!
Rob

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Peter ***@***.***>
Sent: Monday, July 25, 2022 2:25:51 AM
To: Exiv2/exiv2 ***@***.***>
Cc: Rob Frohne ***@***.***>; Mention ***@***.***>
Subject: Re: [Exiv2/exiv2] exiv2 rename example in the man pages doesn't work the way it says it should. (Issue #2290)

CAUTION: This email originated from outs

[2022-07-25 15:40] kmilos commented on #2162
@1div0 On 0.27-maintenance, [the relevant `iloc` is being skipped because offset is 0](https://github.com/Exiv2/exiv2/blob/26adf0cf7cef30cadb20ca7909c296abad622531/src/bmffimage.cpp#L403).

[2022-07-25 18:02] jpicht opened #2292 "bring back exiv2json (or remove the remnants from the repo)"
##### **Is your feature request related to a problem?**
The `exiv2json` sample has been removed by #2183, but is still referenced in the docs, vs2019 project, doxygen, and tests/suite.conf. As I'm using it (indirectly) in some scripts I'd like for it to come back.

It has been part of the exiv2 binary package for my linux distribution for quite a long time, so I never realized it wasn't in fact su

[2022-07-27 13:01] kmilos opened #2295 "Feature request: Support new PNG cICP chunk"
These carry color space information and extend iCCP, defined in latest extensions incorporated into the spec: https://w3c.github.io/PNG-spec/

There seems to also be an iCCN chunk, see also https://github.com/w3c/ColorWeb-CG/blob/master/hdr-in-png-requirements.md#decoder (TBC if it is part of the spec).

[2022-08-04 12:53] bellocarico opened #2308 "Feature request: handle video files"
##### **Is your feature request related to a problem?**
Well it depends, if "unable to rename videos" is considered a problem then yes.

##### **Describe the solution you would like**
It would be great to have exiv2 able to rename video files too based on each video file built in information.

##### **Describe alternatives you have considered**
Using external tools like mediainfo and script up a r

[2022-08-04 21:26] kevinbackhouse commented on #1811
I just spent a hour looking at this. On Ubuntu, it's very easy to install the library: `sudo apt-get install libinih-dev`. But it's going to take a cmake wizard to figure out how to link with it, because `find_package( INIH REQUIRED )` doesn't work. We'd have to add a file like [this one](https://github.com/Exiv2/exiv2/blob/2e8ce712ec18969fbb015d15ca56185c1cb26911/cmake/FindIconv.cmake), which is

[2022-08-04 23:37] neheb commented on #2270
width being negative sounds like a bug 🤷

[2022-08-05 06:39] piponazo commented on #1811
I just noticed that there seems to be a conan recipe for that library:
https://conan.io/center/inih

I am happy to work on this when I find some spare time 😉

[2022-08-05 09:39] kloczek opened #2310 "0.27.5: broken doxygen detection"
##### **Describe the bug**
Looks like doxygen detection is failing.
cmake prints contradicting mesaages that it found doxygen anbd than it fails.
[code]

[2022-08-05 11:06] piponazo commented on #2310
I just tried and it works as expected.

Not that the error message is telling you:

  Could NOT find Doxygen (**missing: dot**) (found version "1.9.4")

The message is a bit misleading. But what it is happening is that doxygen is being found, but you are missing the `dot` command which comes with `graphviz`.  If you install `graphviz` and run cmake again, the configuration should finish successful

[2022-08-05 11:34] kloczek commented on #2310
I've checked with below patch
[code]
And looks like `dot` is not used enywhere.

[2022-08-05 11:44] kloczek commented on #2310
OK closing.
Looks like I have some issues with packages depenedencies.
Funny that doxygen uses dot but it only prints warnings.

[2022-08-05 11:44] #2310 closed

[2022-08-05 11:46] piponazo commented on #2310
It is used. If you take a look in `cmake/Doxyfile.in` you will see in line 2140 the following:

[code]

It is not a strong requirement but it generates better graphs. AFAIK, we use it to generate a nice documentation for our webpage.

[2022-08-08 13:09] sluge opened #2316 "Error setting OffsetTime"
##### **Describe the bug**
Unable to set value for `OffsetTime`
##### **To Reproduce**
 exifData["Exif.Photo.OffsetTime"] = "01:00:00";

terminate called after throwing an instance of 'Exiv2::BasicError<char>'
  what():  Invalid tag name or ifdId `OffsetTime', ifdId 5
Aborted (core dumped)

##### **Expected behavior**
A short description of what you expected to happen.

##### **Desktop (please com

[2022-08-09 03:12] kevinbackhouse opened #2320 "Integer overflow in printDegrees"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=49894

There is an integer overflow here:

https://github.com/Exiv2/exiv2/blob/fc840405cc418d28510bd970c0924121b34c30f3/src/tags_int.cpp#L2523

If `rem` is very large then the multiplication by 60 can overflow. This bug does not have any security impact because it only affects the string that's printed. Since the bug is on

[2022-08-09 17:25] #2320 closed

[2022-08-12 02:26] benmccann opened #2324 "`corrupted image metadata` for all Google Pixel 5 videos"
##### **Describe the bug**

exiv2 fails on all files recorded by my Google Pixel 5:

[code]

##### **To Reproduce**
Steps to reproduce the behavior:
1. Provide the file with which you observed the issue: https://www.dropbox.com/s/k0ukjpwh055kskm/PXL_20220812_021756318.mp4?dl=0
2. List the exact commands/functions to reproduce the issue and include any related output: `exiv2 -pa PXL_20220812_021756

[2022-08-12 02:28] benmccann commented on #2324
It looks like this was also reported in https://github.com/Exiv2/exiv2/issues/2237 though I did not originally find it because it just paraphrased the error message

[2022-08-12 02:51] #2324 closed

[2022-08-12 02:56] benmccann commented on #2237
I'm not that familiar with this stuff, but here's where the `creation_time` is from `mp4box.js`:

![Screenshot from 2022-08-11 19-54-15](https://user-images.githubusercontent.com/322311/184276516-0e2e36df-11a1-4fc4-be23-b39f77412ff0.png)

[2022-08-13 17:29] n1vux opened #2325 "Older X3F raw file not recognized"
##### **Describe the bug**
Sample file in Sigma X3F (Foveon) Raw format from a 2004 camera elicits exiv2 error message

```POLAROID_X530.X3F: The file contains data of an unknown image type```

##### **To Reproduce**
Steps to reproduce the behavior:
1. Provide the file with which you observed the issue (commonly named PoC)
`POLAROID_X530.X3F`
2. List the exact commands/functions to reproduce the i

[2022-08-14 17:09] benmccann opened #2326 "Bug bounty"
##### **Is your feature request related to a problem?**

I'd like to see one of the issues in this repository fixed. I don't currently possess the skill set to do that myself, but would be happy to sponsor the work. I realize developer time is expensive, and am willing to compensate accordingly.

##### **Describe the solution you would like**

If anyone would be interested in fixing an issue here,

[2022-08-15 16:05] hassec commented on #2308
Video support has actually been removed from exiv2. There is a feature request to restore it -> https://github.com/Exiv2/exiv2/issues/1748
But so far nobody has had time to tackle it.

[2022-08-15 16:07] hassec commented on #2237
This request targets the removed video functionality, to be specific `quicktimevideo.cpp`. Please see https://github.com/Exiv2/exiv2/issues/1748 for further info

[2022-08-15 16:37] benmccann commented on #2326
Closing as it seems video support has been dropped from the library

[2022-08-15 16:37] #2326 closed

[2022-08-15 19:19] hassec commented on #2326
@benmccann first off, I'd like to say thank you for offering to sponsor someone to fix this issue, that is very generous!

Exiv2 unfortunately, so far, isn't setup to receive such funds, and I've never looked into how such funding works. And right now exiv2 is pretty much without a full time maintainer, so I'm not sure what we could reasonably do with the donation.

That said, I do hope that we mi

[2022-08-15 20:15] benmccann commented on #2326
In terms of accepting donations, many projects I've used and contributed to have used https://opencollective.com/  If there are no developers able to work on the project on a paid basis, it could potentially be helpful for covering hosting costs, etc.

Anyway, while I've closed this issue, consider it a standing offer. I'd be happy to support the project financially if it's able to help the projec

[2022-08-15 20:23] benmccann commented on #1748
Dropping stuff like ssh support and `.eps` support makes sense. I'm saddened that video support was removed though. Handling only some of the files produced by cameras seems like a big loss and quite the handicap.

[2022-08-16 08:48] hassec commented on #2316
@sluge I tried to reproduce this but don't get the same error.

Which exiv2 version? Can you try and provide a minimal reproducer?

[2022-08-16 10:26] 1div0 commented on #2237
@benmccann please have a l👀l at https://mediaarea.net/ tools.

Video is very complex and full of bull$#17 $0ftwar€ patents.

[2022-08-18 19:06] 1div0 commented on #2326
x265 contributor here. time_t is the only limit. I was hoping for reasonable resolution of the https://bugzilla.redhat.com/show_bug.cgi?id=1979565 long long time_t ago. But I am still willing to help anyway.

[2022-08-21 21:38] #2260 closed

[2022-08-23 18:40] benmccann commented on #2326
Thanks for the PR to restore video support and fix that issue @hassec! I'm happy to make good on my offer, so just let me know if you care to setup an OpenCollective for the project or whatever works

[2022-08-24 05:50] benmccann commented on #1748
@hassec I wonder why restore only `quicktimevideo` in https://github.com/Exiv2/exiv2/pull/2337? `riffvideo` and `matroskavideo` seem quite popular too in my experience. Is it mostly just a straight restore that they could be added as well or is there a lot of adaptation needed? Doing them them one at-a-time for ease of implementation and code review totally makes sense, but I was curious about the

[2022-08-24 06:34] hassec commented on #1748
@benmccann Main reason was time. I was on vacation and had a bit of time so figured I'd give `quicktimevideo` a shot since that's the one that was needed for the posted video file.

Ideally we would revive the other two as well, but I need to look into how much effort that needs.

[2022-08-24 15:39] #2237 closed

[2022-08-24 15:50] norbertwg opened #2338 "easyaccess: list of keys for different meta data could be enhanced"
I noticed, that the lists of keys in easyaccess.cpp seems to be incomplete.
One example: An image has Exif.PanasonicRaw.ISOSpeed filled, But as the image does not contain Exif.Photo or Exif.Image, the command exiv2.exe -ps does not show the ISO speed.

From my point of view, it makes sense to add Exif.PanasonicRaw.ISOSpeed to ExifData::const_iterator isoSpeed (and some others as well).

If Exif.Pa

[2022-08-26 09:54] postscript-dev commented on #2338
@norbertwg:

You are right, the `easyaccess.cpp` list of tags is incomplete and I don't know of any reason to exclude the `PanasonicRaw` tags. This is part of the code that has not been kept up to date and needs work. In the future, when we add new tags to exiv2, it would be helpful to also update `easyaccess.cpp`.

As it happens, this is something that I have been looking at recently myself. In #

[2022-08-26 09:57] kevinbackhouse opened #2339 "Undefined behavior in floatToRationalCast"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50315

Error message:

[code]

Source location of the error:

https://github.com/Exiv2/exiv2/blob/e4adf388aaaccccaf08fc0fc38419a5b0117b299/src/types.cpp#L633

The value of `nom` is `-2147483648` which causes a UBSAN error in `gcd`.

poc: ![poc](https://user-images.githubusercontent.com/4358136/186879114-0e483b64-9b81-40cb-

[2022-08-26 10:09] kevinbackhouse opened #2340 "Out-of-bounds read in quicktimevideo.cpp"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50629

There's an out-of-bounds read here:

https://github.com/Exiv2/exiv2/blob/e4adf388aaaccccaf08fc0fc38419a5b0117b299/src/quicktimevideo.cpp#L671

The problem is that the buffer hasn't been nul-terminated.

quicktimevideo.cpp is a brand new file, so this definitely doesn't affect any released versions of exiv2.

poc: ht

[2022-08-26 12:21] 1div0 commented on #2340
I told you so. Video is way too complicated.

[2022-08-26 12:34] kevinbackhouse commented on #2340
@1div0: I'm not worried about it (from a security perspective). quicktimevideo.cpp looks fairly simple to me, so we should be able to iron these bugs out quite quickly. OSS-Fuzz found this one day after the pull request was merged, so I think we have good test coverage.

[2022-08-26 12:37] 1div0 commented on #2340
@kevinbackhouse thank you so much for all your efforts to make Exiv2 secure.

MPEG-4 Systems is simply put can of worms.

[2022-08-26 14:39] norbertwg commented on #2338
@postscript-dev
Yes, I will work on it. Thanks for fast response and offer to answer questions.

[2022-08-28 09:01] postscript-dev commented on #1941
@cris46:
I am sorry for the delay, circumstances and other projects have taken up my time.

Some good news, when I looked at the `NikonFl6` group, I realised that it was similar to `NikonFl7`. This meant that I could reuse some of my existing work to quickly add the `NikonFl6` group. When looking at the group in more detail, I also realised that a couple of the new tags from `NikonFl7` were also f

[2022-08-28 09:02] #1941 closed

[2022-08-29 03:32] hushhw opened #2344 "after disable printStructure(), use remoteIo to parse Tiffimage metadata fail"
#### **Describe the bug**

In Tiffimage.cpp/readmetada(), 0.27.5 had disable printStructure() ([A clear and concise description of the bug, including your use case for exiv2.](https://github.com/Exiv2/exiv2/pull/165)). I use remoteIo(httpIo) to readmetadata, io_ only parse 1024 byte, io_.mmap() can't memcpy valid block.
I tried to load all block to blockmap before io_.mmap(), Tiffimage.cpp/readmet

[2022-08-29 06:15] #2339 closed

[2022-08-29 11:18] #2290 closed

[2022-08-31 13:11] sluge commented on #2316
I changed the example from the package `addmodel.cpp` with the following code
[code]
and got an error:
`Caught Exiv2 exception 'Invalid tag name or ifdId `OffsetTime', ifdId 5'`
I use the following version: `libexiv2-27/now 0.27.2-8ubuntu2.7`
Is it enough to reproduce?

[2022-08-31 14:32] #2340 closed

[2022-09-01 15:35] norbertwg commented on #2338
I have now an overview of potentially missing keys, which can be grouped as follows:

1) Looking at the key and its value found in some examples, it can be clearly added to the respective list in easyaccess.cpp.
Example: Exif.NikonLd4.FNumber has shown in all sample files the same value as Exif.Photo.FNumber

2) The key is clear, the value is numeric, whereas keys alread added to easyaccess have d

[2022-09-02 21:09] kevinbackhouse opened #2345 "Out of bounds write in QuickTimeVideo::tagDecoder"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=50901

There is an out-of-bounds write here:

https://github.com/Exiv2/exiv2/blob/175e609ad0e6b16e0e063b3a2d4fe962e287c4ea/src/quicktimevideo.cpp#L623

The bug is one stack frame up, in `QuickTimeVideo::decodeBlock`:

https://github.com/Exiv2/exiv2/blob/175e609ad0e6b16e0e063b3a2d4fe962e287c4ea/src/quicktimevideo.cpp#L571

[2022-09-04 10:43] postscript-dev commented on #2338
@norbertwg:
Sorry for the delay replying.

I like your cautions approach. While reading your post, I thought of some things that might be of help.

1. Some of the makernotes tags are encoded and require a translated function to make sense of them (e.g., [Exif.NikonLd4.FNumber](https://github.com/Exiv2/exiv2/blob/175e609ad0e6b16e0e063b3a2d4fe962e287c4ea/src/nikonmn_int.cpp#L1622)). Sadly the transl

[2022-09-04 13:49] norbertwg commented on #2338
@postscript-dev
Thanks for the response and the helpful references, especially the source for samples. I will have a look on them and try to clarify my points and then prepare the changes in easyaccess.cpp. After that I will also have a look on missing translated functions. But as my knowledge of C++ is very limited, I might fail on that.

[2022-09-07 11:35] kmilos commented on #2338
Please also keep in mind that for some tags different vendors might mean different things and they are not necessarily readily interchangeable - this is the case e.g. for a lot of the custom ISO calculation code we have in `easyaccess.cpp`

Finally, this easy access is just there for some small convenience only - maintaining it and making it feature complete (how do you even set that goal?) might

[2022-09-07 15:51] norbertwg commented on #2338
@kmilos When I started, I thought it should be rather easy to make the feature "complete". But as you state and I have learned by looking at the different values from a lot of sample images, different vendors can have for some tags a different understanding what to store there. So make it complete will be quite difficult.
But after this investigation I think I have now also a better understanding

[2022-09-08 11:08] #2270 closed

[2022-09-10 23:14] paolobenve opened #2349 "BMFF write support"
I need this feature for an app that adds geolocalization to images, and when it tries to save the modified CR3 images I get the error "Setting Image comment in BMFF images is not supported".

Thank you for helping us to make better applications!

[2022-09-10 23:19] paolobenve opened #2350 "wrong error message?"
I have a python app that uses GExiv2 to add gps info to the images.

It modifies the image with teself.exif.set_gps_info(self.longitude, self.latitude, self.altitude)

[code]

then it saves the file.

When trying to write a CR3 raw image I get the error "**Setting Image comment in BMFF images is not supported**".

However, the image hasn't any comment changed.

I'd expect a "Setting metadata in BM

[2022-09-11 04:17] PeterWem opened #2351 "Canon EF 75-300 II USM named as original 75-300 USM. Canon EF 75-300 III named as original 75-300."
![Canon75-300-comparsion](https://user-images.githubusercontent.com/34200649/189512059-23b489cb-fe95-436b-9725-c339d65e734b.png)

Exiv2 matches wrong lens with wrong LensType for Canon EF 75-300mm f/4-5.6 II USM and Canon EF 75-300mm f/4-5.6 III.

#### **To Reproduce**
Sample raw files CC0 license.
https://drive.google.com/file/d/12g3ojYJHGT9awSICqBDmuY5AYxQm8RTw/view?usp=sharing
![Lenstype200-and

[2022-09-11 06:33] PeterWem commented on #2351
What I find strange is that an older LensType nr, 39, is used for a lens from 1999 and nr 200 is used for a lens from 1995.

[2022-09-11 11:34] PeterWem commented on #2351
An update. A user who ones Canon EF 75-300mm f/4-5.6 II posted raw files. Also LensType 39. So at least EF 75-300mm f/4-5.6 II and EF 75-300mm f/4-5.6 III share the same LensType.

[2022-09-11 13:09] 1div0 commented on #2349
This is not an easy task doable in spare time.

BM means Big Mess. Sorry, I could not resist.

Cordiali saluti.

[2022-09-11 13:47] kevinbackhouse opened #2352 "Undefined behavior in floatToRationalCast (again)"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51241

This function has caused so much trouble (see #2339, #1838). It's a weird implementation that maybe ought to be replaced, but I'm not sure if that will cause backwards compatibility problems so I'd like to fix the bugs in the existing implementation first.

Error message:

[code]

The error happens when `f == -21474

[2022-09-12 11:59] kmilos commented on #2351
FYI, the original labels I guess come form https://exiftool.org/TagNames/Canon.html where there is indeed aliasing present.

[2022-09-14 20:52] theres1 opened #2354 "Using setIccProfile on a PNG file without a profile leads to an invalid (empty) profile name"
#### **Describe the bug**
ICC profile name is stored in a private var profileName_. Its value is set when reading a PNG file but it should also read a value from an ICC profile. Current implementation provides tools to modify ICC profile but makes changing the name of the profile impossible.

#### **To Reproduce**
Steps to reproduce the behavior:
1. Load a png without a profile. profileName_ is se

[2022-09-14 21:21] #2351 closed

[2022-09-15 08:51] kmilos commented on #2354
Thanks for the report!

[2022-09-15 09:00] kmilos commented on #2354
The suggested fix is only one (simple) option. One could as an alternative (or in addition) specialize the `setICCProfile()` method for PNGs that allows setting the name (and has this default as well)...

[2022-09-15 17:48] norbertwg opened #2356 "After deleting Exif.Photo.ExposureProgram, maker tags from Olympus disappeared as well"
#### **To Reproduce**
Steps to reproduce the behavior:
$ exiv2 -V
exiv2 1.0.0.9
...

$ exiv2 -PEkysvt RAW_OLYMPUS_E-450.ORF | find "Expo"
Exif.Photo.ExposureTime                      Rational    8  1/80  1/80 s
Exif.Photo.ExposureProgram                   Short       2  5  Creative program
Exif.Photo.ExposureBiasValue                 SRational   8  0/10  0 EV
Exif.OlympusCs.ExposureMode

[2022-09-15 17:53] norbertwg opened #2357 "After deleting Exif.Nikon3.ISOSpeed, Exif.NikonSi02xx.ISO instead of Exif.NikonSiD300a.ISO is shown"
#### **To Reproduce**
$ exiv2 -PEkysvt NikonD300.jpg | find "ISO"
Exif.Nikon3.ISOSpeed                         Short       4  1 6400  6400
Exif.Nikon3.ISOSettings                      Short       4  1 6400  6400
Exif.NikonIi.ISO                             Byte        1  132  6400
Exif.NikonIi.ISOExpansion                    Short       2  260  Hi 1.0
Exif.NikonIi.ISO2                            B

[2022-09-16 04:37] bh90210 commented on #2316
@sluge I had the same problem with version `0.27.3` and it was apparently a bug that was fixed.
The solution for was to just manually install the latest version of the lib my self https://github.com/Exiv2/exiv2/releases/tag/v0.27.5

Hope this helps.

[2022-09-16 04:45] bh90210 commented on #2316
@sluge it is a bug that was fixed in some later patch release.
The solution is to manually install the latest version of the lib yourself. https://github.com/Exiv2/exiv2/releases/tag/v0.27.5

Hope this helps.

[2022-09-16 06:38] sluge opened #2358 "ImageMagic identify doesn't like EXIF"
#### **Describe the bug**
I created an image with EXIF and XPM metadata by exiv2

and got the following errors:
[code]
The similar error I got for jpeg file.

tiff file is attached.

Is it a ImageMagik issue or exiv2 issue?

#### **Desktop (please complete the following information):**
Ubuntu 20
exiv2/now 0.27.2-8ubuntu2.7 amd64
[badexif.zip](https://github.com/Exiv2/exiv2/files/9581343/badexif.zi

[2022-09-16 07:49] kmilos commented on #2358
It is a libtiff issue(s) (used by IM to load TIFF files) - it just doesn't know about all the possible TIFF tags outside of basic ones (or the current tag definition has not been updated to extended changes). See e.g.:

https://gitlab.com/libtiff/libtiff/-/issues/432
https://gitlab.com/libtiff/libtiff/-/issues/418
https://gitlab.com/libtiff/libtiff/-/merge_requests/337

The only exceptions worth d

[2022-09-16 08:02] kmilos commented on #2316
It looks like these were added in 0.27.4: https://github.com/Exiv2/exiv2/issues/1396

[2022-09-17 14:48] yangpenglove opened #2359 "std::auto_ptr in 0.27.5 header files"
#### **Describe the bug**
A clear and concise description of the bug, including your use case for exiv2.

Hello, I just download 0.27.5 binary from https://exiv2.org/download.html, my goal is to use it to extract exif info on My Mac app, but I got error "std::auto_ptr is not declare" when I compiled it.

After checking source code, I found the header files on github are difference with downloaded

[2022-09-17 15:44] piponazo commented on #2359
Hi @yangpenglove . You already found out that there is a difference between the 0.27.5 release and the version we keep in the `main` branch. We keep releasing 0.27.X versions from time to time to fix bugs, but that branch is not anymore under active development. The code there is using the C++ 03 standard and not using any feature from modern C++.

The active development is happening in the `main`

[2022-09-17 15:44] #2359 closed

[2022-09-18 05:46] yangpenglove commented on #2359
Thanks @piponazo.
May I know when will you release 1.0 version officially, and do you have plan to release arm64 arch since there will be more and more M1/M2 chip on macbook？

[2022-09-18 14:47] piponazo commented on #2359
There is not a official plan (or at least I do not know about it, I have been a bit away from the project during the last months). Regarding the arm64 release, I think it should not be very challenging to add a new target in our CI pipelines. I am sure that if you open a ticket about it, somebody will tackle the task at some point.

[2022-09-18 15:10] yangpenglove opened #2360 "Arm64 for Apple silicon"
#### **Is your feature request related to a problem?**

There are more and more mac computer will use M chip, but the nightly build still only has x86_64 arch, could you please add universal binary which includes both x86_64 and arm64?

Thanks

[2022-09-19 09:02] postscript-dev commented on #2350
@paolobenve:

You are correct, the error message is wrong. Currently we are throwing a [kerInvalidSettingForImage](https://github.com/Exiv2/exiv2/blob/d2253c91f59be50d58a387b17f37a38c2d2025f7/include/exiv2/error.hpp#L196) which has an error message of

https://github.com/Exiv2/exiv2/blob/d2253c91f59be50d58a387b17f37a38c2d2025f7/src/error.cpp#L51

Instead this should be a [kerWritingImageFormatUnsu

[2022-09-19 09:36] postscript-dev commented on #2360
@yangpenglove:

When investigating support for Apple M chips, we found that there was no [GitHub CI support](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources). It is possible to cross build for Apple chips but we would not be able to run any tests to check that everything was working correctly. When GitHub adds supp

[2022-09-19 09:36] #2360 closed

[2022-09-19 10:31] kmilos commented on #2360
AFAIK, [exiv2 0.27.5 is available from MacPorts for arm64](https://ports.macports.org/port/exiv2/details/), don't know about Homebrew...

[2022-09-20 06:22] 1div0 commented on #2360
Also, w/ BMFF enabled.

https://github.com/Homebrew/homebrew-core/blob/1a0fc22bf98b372d71a8a137d285f5764375a547/Formula/exiv2.rb#L45

[2022-09-21 13:54] #2345 closed

[2022-09-25 17:38] moodyhunter commented on #933
on riscv64 the `offset_` is set to `255` as well, no idea why :(

[2022-09-25 21:31] kevinbackhouse opened #2366 "buffer overflow in QuickTimeVideo::userDataDecoder"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51707

There is an out-of-bounds write here:

https://github.com/Exiv2/exiv2/blob/640b0fbf5dd1561ae2d262d654a10f6c8fd2b251/src/quicktimevideo.cpp#L849

The size of `buf` is 100 bytes, so this will overflow if `size` is large.

quicktimevideo.cpp is a new file, so this bug doesn't affect any released versions of exiv2.

poc

[2022-09-26 15:25] CoelacanthusHex commented on #933
signedness of char type in c++/c is **implement-defined** behavior, it should be depended on.

In practice, x86 and its successor amd64 use signed implementations, and ARM, Power, and RISC-V use unsigned implementations.

[2022-09-26 16:10] FantasqueX commented on #933
The newest version in main branch passes all tests on riscv64. However, it's hard to find which commit fixes this. Hope a new version can be released soon :)

[2022-09-29 04:22] #2366 closed

[2022-09-29 04:23] #2352 closed

[2022-10-08 17:12] kevinbackhouse opened #2376 "null dereference in QuickTimeVideo::userDataDecoder"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=51751

There is a null dereference here:

https://github.com/Exiv2/exiv2/blob/a2cb06a28eb9fe2a189a63ad1e50de707e4eb96b/src/quicktimevideo.cpp#L833

The problem is that `tv` can be null.

quicktimevideo.cpp is a new file, so this bug doesn't affect any released versions of exiv2.

poc: https://user-images.githubusercontent.

[2022-10-08 17:19] kevinbackhouse opened #2377 "buffer overflow in QuickTimeVideo::userDataDecoder"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52053

There is an out-of-bounds write here:

https://github.com/Exiv2/exiv2/blob/a2cb06a28eb9fe2a189a63ad1e50de707e4eb96b/src/quicktimevideo.cpp#L832

The problem is that `buf` might be smaller than `size - 8`.

quicktimevideo.cpp is a new file, so this bug doesn't affect any released versions of exiv2.

poc: https://user

[2022-10-09 14:38] norbertwg opened #2379 "Some maker specific tags cannot be deleted"
#### **Describe the bug**
Tried to delete the following tags, but they were not deleted:
Exif.CanonPi.AFPointsUsed in [exiv2-canon-eos-300d.jpg](https://github.com/Exiv2/exiv2/blob/main/test/data/exiv2-canon-eos-300d.jpg)
Exif.CanonSi.SubjectDistance in [20220610_MG_7238.exv](https://github.com/Exiv2/exiv2/blob/main/test/data/20220610_MG_7238.exv)
Exif.CanonSi.AFPointUsed in [20220610_MG_7238.exv]

[2022-10-09 21:42] postscript-dev commented on #2379
@norbertwg

As it happens, I have recently been looking at the same thing. I noticed the following when working on the Sony tags:
1. Tags in the main section of the makernotes (e.g., `Exif.Sony1.Quality`) can be deleted.
2. New tags added to the main section of the makernotes  (e.g., `Exif.Sony1.WhiteBalance`) are added at the end of the makernotes. If displaying all the Exif tags in order, the `E

[2022-10-10 07:09] yangpenglove opened #2380 "Crash when loading Sony ARW raw file"
#### **Describe the bug**
A clear and concise description of the bug, including your use case for exiv2.

image = Exiv2::ImageFactory::open(file);
if(image.get() == nullptr)
            return;
image->readMetadata();

When I tried to read ARW file, exiv2 crashed.

#### **To Reproduce**
Steps to reproduce the behavior:
1. Provide the file with which you observed the issue (commonly named PoC). Expl

[2022-10-10 10:32] #2376 closed

[2022-10-10 10:32] #2377 closed

[2022-10-10 11:21] postscript-dev commented on #2380
@yangpenglove
I have tried running your test file on my Windows machine and did not find any problems.

I used Windows 11 and tested the [latest MSVC64 nightly build](https://github.com/Exiv2/exiv2/releases/download/nightly/exiv2-1.0.0.9-2019msvc64.zip) and also built an up to date main branch on MSYS2/UCRT64. Additionally, I tested your file with the exiv2 0.27.5 version installed from MSYS2/UCRT

[2022-10-10 15:43] yangpenglove commented on #2380
@postscript-dev
Hello, Thanks for your reply.

Yes, the exif lib installed by pacman on Win worked well, to locate this issue on Mac , I cloned the code and compiled it by myself on my Mac laptop.

Finally, I found the issue is covered by build config. if I don't define EXV_HAVE_MMAP and EXV_HAVE_MUNMAP,  it will crash at basicio.cpp line 211, it seems the memory is not alloced correctly, but if I

[2022-10-10 21:56] postscript-dev commented on #2380
@yangpenglove
Thanks for looking at this yourself, debugging on a different system from a distance can be difficult.

I have not needed to set `EXV_HAVE_MMAP` and `EXV_HAVE_MUNMAP` before. To prevent others from having your issue, do we need to make a change for macOS? We discuss a related issue in #2223.

[2022-10-11 11:43] yangpenglove commented on #2380
Removing dead code is better, as I know, all popular systems support mmap right now.

[2022-10-11 17:46] norbertwg commented on #2379
@postscript-dev
Seems, that fixing this issue (and my other two issues about deleting tags: [#2357 After deleting Exif.Nikon3.ISOSpeed, Exif.NikonSi02xx.ISO instead of Exif.NikonSiD300a.ISO is shown](https://github.com/Exiv2/exiv2/issues/2357) and [#2356 After deleting Exif.Photo.ExposureProgram, maker tags from Olympus disappeared as well](https://github.com/Exiv2/exiv2/issues/2356)) will not be

[2022-10-13 09:40] postscript-dev commented on #2379
@norbertwg

I noticed this problem too. In some situations, zeros mean `n/a` but this is context dependant.

I don't know much about deleting makernote tags as it is part of the code I haven't investigated yet. I will try and take a look into the subject but it may take a few days.

If you want to, you can read more about preview images and many other subjects in [Robin's exiv2 book](https://exiv2

[2022-10-18 19:29] #2350 closed

[2022-10-22 14:32] kevinbackhouse opened #2383 "null dereference in QuickTimeVideo::userDataDecoder (another one)"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52382

There is a null dereference here:

https://github.com/Exiv2/exiv2/blob/b90426dda95c7b3f2824b6e137bf9f33820d36b4/src/quicktimevideo.cpp#L844

The problem is that `tv` can be null.

quicktimevideo.cpp is a new file, so this bug doesn't affect any released versions of exiv2.

poc: https://user-images.githubusercontent.

[2022-10-22 15:23] kevinbackhouse opened #2385 "integer overflow in SonyMakerNote::printColorCompensationFilter"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52355

This is a very minor issue - definitely **not** a security vulnerability.

`temp` could be `INT_MIN` here, which causes an integer flow:

https://github.com/Exiv2/exiv2/blob/b90426dda95c7b3f2824b6e137bf9f33820d36b4/src/sonymn_int.cpp#L1153

Since this code is just printing a number to stdout, there is no security ri

[2022-10-22 16:03] #2383 closed

[2022-10-22 17:41] #2385 closed

[2022-10-23 10:46] tuxfanx opened #2388 "Lens Recognition HD PENTAX-DA* 11-18mm F2.8 ED DC AW"
#### **Is your feature request related to a problem?**
no automatic lens detection by lensfun / darktable 4.0.1 possible (lens type unknown)
`exiv2 -pt HD_PENTAX-DA++_11-18mm_F2.8_ED_DC_AW--11mm--5.6.DNG | grep -i lens
Exif.PentaxDng.LensType                      Byte        4  Unknown (0x08c4)
Exif.PentaxDng.LensInfo                      Undefined 128  0 168 240 80 0 196 0 ...`

#### **Describe a

[2022-10-23 21:02] dllu opened #2391 "XMP Toolkit error 201 when decoding Leica Q2 DNG files"
#### **Describe the bug**

When running `exiv2` on Leica Q2 DNG files it says `Error: XMP Toolkit error 201: Error in XMLValidator`

[code]

#### **To Reproduce**

1. Obtain direct-from-camera DNG file from a Leica Q2, e.g. from https://raw.pixls.us/getfile.php/3204/nice/Leica%20-%20Q2%20-%2014bit%20uncompressed%20(3:2).DNG
2. run `exiv2` on it

#### **Expected behavior**

It should print the EXIF

[2022-10-24 11:24] kmilos commented on #2391
This is possibly the same and fixed by https://github.com/Exiv2/exiv2/pull/2133

Unfortunately not released yet, so you can test only by building the 0.27-maintenance branch yourself.

[2022-10-24 11:50] kmilos commented on #2388
Indeed this ID seems to be missing from https://github.com/Exiv2/exiv2/blob/main/src/pentaxmn_int.cpp

Patches are welcome.

In the meantime, can be worked around as usual using the [config file](https://exiv2.org/manpage.html#lbAM).

[2022-10-25 15:16] kmilos commented on #2223
See also https://github.com/Exiv2/exiv2/pull/2387

[2022-10-26 10:25] kmilos commented on #2126
Somebody should let OMDS know they're not following spec - the same nul terminated XML problem is present in the new OM-5...

[2022-10-26 15:03] kevinbackhouse commented on #2223
My proposal in #2387 is to put a `#error` in the "dead code" area. Super-easy to revert if it turns out that somebody needs that code.

[2022-10-26 15:12] kevinbackhouse opened #2393 "Long-running loop in QuickTimeVideo::multipleEntriesDecoder"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52731

This loop can take a very long time to complete, which could be used in a denial-of-service attack:

https://github.com/Exiv2/exiv2/blob/761acafd69e64fb13b3a84d7c22705b57bb939d4/src/quicktimevideo.cpp#L1228-L1229

The problem is that it keeps looping, despite reaching end-of-file, due to this code in `decodeBlock()`

[2022-10-28 11:53] postscript-dev commented on #2379
@norbertwg

Sorry for the delay in replying. I have been looking at the issue and have a couple of observations.

As ExifTool has more mature makernote support, I decided to investigate how they cope with the deletion issue. Their manpage explains:
[code]

When I tried the [Exiv2 deletion rules](https://github.com/Exiv2/exiv2/issues/2379#issuecomment-1272633967) using ExifTool, the results were si

[2022-10-28 15:14] norbertwg commented on #2338
My PR to add some keys to easyaccess is merged, Some more keys are candidates to be added, but I think, this issue can be closed now. I will keep an eye on this topic and plan to make some more changes in easyaccess.

The result of my investigation is documented in the attached file.
[easyaccess-analysis.md](https://github.com/Exiv2/exiv2/files/9889712/easyaccess-analysis.md)

[2022-10-28 15:14] #2338 closed

[2022-10-30 14:24] #2393 closed

[2022-10-30 19:58] nekohayo opened #2398 "EXIF metadata cannot be read by latest release of exiv2 in sample JPEG photo converted to JXL"
I am trying things out to see why applications such as gthumb or GIMP are unable to show metadata for JPEG XL files, and as I suspect they use exiv2, I set out to try this directly with exiv2 on the command line. From my testing so far, it does not seem to work, so I'm providing a sample image (a photo I took myself, re-downloaded from my public gallery, that you can use for testing if it remains

[2022-10-31 07:17] 1div0 commented on #2398
This is so retarded.

[2022-10-31 10:01] #2380 closed

[2022-10-31 12:34] postscript-dev commented on #2398
I see that the [Exiv2 0.27.5 manpage](https://exiv2.org/manpage.html) is missing information about BMFF. I will backport this from the `main` branch, as it includes an explanation on how to check if BMFF is enabled in your build. Hopefully this will help make the situation clearer for users in the future.

I wasn't involved in the discussions, but I understand that joining the OIN (#1447) was a wa

[2022-10-31 14:29] postscript-dev commented on #2398
@antermin

(manpage)

Thanks for letting me know, I will add this to the PR.

[2022-10-31 14:51] norbertwg opened #2401 "Feedback on CONTRIBUTING.md and tests/README-TESTS.md"
Let me give some remarks and hints related to documentation files.

## CONTRIBUTING.md

When I open CONTRIBUTING.md on exiv2's page on GitHub, the link to GIT_GUIDELINES.md is not working, I get an 404 error. However, when opening the file in my local repository on a Windows machine, the link is working. The link to CODING_GUIDELINES.md is working, so I looked for differences. The link to GIT_GUID

[2022-10-31 16:11] kmilos commented on #2398
Also note there have been some more bugfixes for BMFF (incl. JXL) parsing on exiv2 0.27-maintenance and main branches...

[2022-10-31 18:08] tuxfanx opened #2402 "No Lens Recognition for Samyang XP 10mm f/3.5"
#### **Is your feature request related to a problem?**
no automatic lens detection by lensfun / darktable 4.0.1 possible (lens type unknown)
$ exiv2 -pt 10mm--010mm--6.3_IMG_3947.CR2 | grep -i lens
Exif.CanonCs.LensType                        Short       1  Unknown Lens (103)
Exif.CanonCs.Lens                            Short       3  10.0 mm
Exif.Canon.LensModel                         Ascii

[2022-11-01 15:47] postscript-dev commented on #2398
@antermin

(manpage)

As I am already working on the `main` branch manpage, I will make that update in a future PR.

[2022-11-01 23:51] SuperSandro2000 opened #2406 "Is a new release happening soon?"
exiv2 has currently some medium to high opne CVEs in the latest release (like this 9.8 https://nvd.nist.gov/vuln/detail/CVE-2022-3717 ) which should be patched rather quickly in distros and software distributions. Normally applying a patch for the fixes is rather easy but because of the big formatting patches (see https://github.com/Exiv2/exiv2/blob/main/.git-blame-ignore-revs) the patches/commits

[2022-11-02 11:15] kmilos commented on #2402
In the meantime, can be worked around as usual using the [config file](https://exiv2.org/manpage.html#lbAM).

[2022-11-02 19:22] norbertwg opened #2409 "duplicate TagInfo entries in fujimn_int.cpp"
Running `taglist ALL` and analysing the output I detected several duplicate entries for Fujifilm. They are not only duplicate key names (like I also found), the complete TagInfo definition is duplicate. The duplicates appeared with [Merge remote-tracking branch 'origin'](https://github.com/Exiv2/exiv2/commit/73a1a0ec211e092e90280e7be5fbf9aafddcfc95).

As far as I can see, the duplicates have no ne

[2022-11-02 23:11] postscript-dev commented on #2409
@norbertwg
Thanks for reporting this. The duplicates tags only exist in the main branch.

Within a tag group, if the duplicate keys both use the same tag number, I don't expect any problems when reading/writing. In #2323, I found that we had duplicates which had the same key but different tag numbers. In that case, only the first matching key in the list was available. I resolved the problem by re

[2022-11-03 13:36] norbertwg commented on #2409
I will work on removing duplicates and try to rename/update "0x1022" and "0x1032".

[2022-11-03 17:03] VJSchneid commented on #2409
Hi @norbertwg,
thanks for reporting that problem! I checked [fujifilm_int.cpp](https://github.com/Exiv2/exiv2/blob/73a1a0ec211e092e90280e7be5fbf9aafddcfc95/src/fujimn_int.cpp#L532) and it seems that I missed these duplicate entries when I was doing the merge. The duplicate entries can simply be removed... Sorry for the inconvenience! Do you want to create a pull request or should I create one?

[2022-11-03 18:40] norbertwg commented on #2409
Hi @VJSchneid ,
I started to work on the pull request today and hope to finish tomorrow.

[2022-11-03 18:42] VJSchneid commented on #2409
Okay, if you need any help, let me know,

[2022-11-03 18:49] victorhqc opened #2411 "Installing Exiv2 on Windows with Chocolatey"
#### **Is your feature request related to a problem?**
No

#### **Describe the solution you would like**
As a Windows user, would be nice to find the library in [chocolatey](https://community.chocolatey.org/packages?q=exiv2) similar to how it can be found on [brew](https://formulae.brew.sh/formula/exiv2#default) for MacOSX.

Having it in a package manager would make it simpler to install in automa

[2022-11-04 00:20] risicle commented on #2406
I'd like to add to this a bit of feedback on having *actionable* vulnerability reports. Regarding the 6 recently released CVEs:

https://nvd.nist.gov/vuln/detail/CVE-2022-3717
https://nvd.nist.gov/vuln/detail/CVE-2022-3718
https://nvd.nist.gov/vuln/detail/CVE-2022-3719
https://nvd.nist.gov/vuln/detail/CVE-2022-3755
https://nvd.nist.gov/vuln/detail/CVE-2022-3756
https://nvd.nist.gov/vuln/detail/CVE

[2022-11-04 09:25] norbertwg commented on #2409
Pull request https://github.com/Exiv2/exiv2/pull/2412 is created.

@postscript-dev : the unknown tags "0x1022" and "0x1032" were described, so I could just delete their lines without additonal work. I checked https://github.com/Exiv2/team/tree/main/website, but "0x1200" was not listed there. So I deleted it.

@VJSchneid : would you like to review the pull request?

As pull request is created, I cl

[2022-11-04 09:25] #2409 closed

[2022-11-05 14:46] postscript-dev commented on #2406
After Robin retired from Exiv2, @nehaljwani kindly offered to take over release engineering. The transition is still relatively new and will take time to work smoothly.

As far as I know, @nehaljwani doesn't follow the day-to-day posts but can be contacted by mentioning him.

[2022-11-05 17:43] clanmills commented on #2406
I will help @nehaljwani and anybody to make a release.  I'm pleased to be retired and will not return to the project.  I am happy to see Exiv2 move forward and will help when asked.

[2022-11-05 18:41] minorsecond opened #2414 "Segfault when reading EXIF data from `Exiv2::ExifData` object"
I'm trying to figure out how to get EXIF values but I think I'm not understanding completely. Sorry for this being marked as a bug, I wasn't sure which option to choose when submitting this.

I have a struct that maps to `ExifKey` values like this:

[code]

In my `ExifData` class, the constructor looks like this:

[code]

Then, I have a function that I'm trying to get to return the EXIF value for

[2022-11-05 19:01] minorsecond commented on #2414
I also tried

[code]

but it dies at `v = pos->getValue();`

[2022-11-06 12:03] postscript-dev commented on #2414
@minorsecond
After looking at your code examples, I think that the segmentation fault occurs because the file you are using does not contain the metadata tags you are searching for. According to the Exiv2::ExifData Class Reference, the result of [findKey()](https://exiv2.org/doc/classExiv2_1_1ExifData.html#a96c38cbd300ebdfa05f849864b380690) is an iterator but this could point to the end of the STL

[2022-11-06 15:27] minorsecond commented on #2414
You were correct. Adding some checks to make sure the tag exists, and returning `"Unknown"` if it doesn't, fixed the issue. Thank you!

[2022-11-06 15:27] #2414 closed

[2022-11-07 10:47] kmilos commented on #2411
Ok, please file a request w/ Chocolatey then.

[2022-11-07 15:41] #2411 closed

[2022-11-08 13:38] JensZuzu opened #2418 "Parsing metadata in BmffImage stumbles over "hdlr" tag in .mp4 file"
#### **Describe the bug**
Reading the meta data of a .mp4 file created with a Sony mobile phone fails because of an unexpected hdlr tag that is interpreted as the size of a box.

#### **To Reproduce**
Steps to reproduce the behavior:
1. Call Exiv2::ImageFactory::open( filename )->readMetadata() for the .mp4 file
2. Exception is thrown

#### **Expected behavior**
Metadata should be parsed correctly

[2022-11-12 09:54] clanmills commented on #2406
@nehaljwani and I are meeting today (2022-11-12) on Google Meet to discuss this.  All welcome.

Robin/Nehal
Saturday, 12 November · 14:00 – 15:00 UTC
Google Meet joining info
Video call link: https://meet.google.com/mfk-zpii-gic

If you want an invitation, email me: at robinwmills@gmail.com

[2022-11-12 10:04] clanmills commented on #2406
The most important matter in this release is the scope and version.  Choices:

1.  Release 'main' as version 0.28.0 (or possibly 0.90.0 to make it very clear that this is not a simple successor to 0.27)
2. Release 'main' as version 1.00.0 (I don't think 'main' is v1.00.0)
3. Patch v0.27.5 with the security fixes and release v0.27.6

I don't know the status of the 0.27-maintenance branch.  If secur

[2022-11-17 07:27] MuhammadSYahyaS commented on #2292
I found a simple workaround for this using [Boost.PropertyTree v1.74.0 or later](https://www.boost.org/doc/libs/1_74_0/doc/html/property_tree.html). Check <https://github.com/MuhammadSYahyaS/exiv2json> for the code.

[2022-11-17 08:21] piponazo commented on #2292
Hi @jpicht , thanks for your message.

We would be happy to accept any examples that would be beneficial for Exiv2 users. Although I am not an expert in terms of licensing, I think the MIT one would conflict with the GPLv2 license of Exiv2.

If you would propose an addition which does not conflict with the GPLv2, we would be happy to incorporate it to the project.

[2022-11-20 15:50] kevinbackhouse opened #2423 "Long-running loop in QuickTimeVideo::sampleDesc"
Reported by OSS-Fuzz (but hasn't been assigned an issue number).

This loop can take a very long time to complete, which could be used in a denial-of-service attack:

https://github.com/Exiv2/exiv2/blob/cf15cc52e01c9c4b890048bf11896278ea49271c/src/quicktimevideo.cpp#L1120-L1125

The problem happens when `noOfEntries` is very large and `currentStream_` does not equal either `Audio` or `Video`. (Som

[2022-11-20 19:35] nehaljwani commented on #2406
Hello everyone! Robin has shared the steps involved in cutting a release.

IIUC, the `main` branch diverged from `0.27-maintenance` right after 0.27.4 with [this](https://github.com/Exiv2/exiv2/commit/350b7b0808673bff28de6c6e89263c7a782b633d) commit.

If @kevinbackhouse can confirm that the required security fixes are present in the 0.27-maintainance branch (or not required because of irrelevance)

[2022-11-20 23:19] postscript-dev commented on #2406
@nehaljwani
Thanks for taking the time to work on this. As I build from source, the new release doesn't affect me much.

I had a couple of thoughts on the release process.

I recently spotted that files used when building the website are duplicated (e.g., https://github.com/Exiv2/exiv2/blob/main/doc/templates/Makefile and https://github.com/Exiv2/team/blob/main/website/Makefile). As far as I know,

[2022-11-21 07:04] piponazo commented on #2406
Hi everybody!
I have not been able to contribute much to the project lately, but I still keep to keep an eye on what's going on and deal with the CI problems when it is needed. Since winter is coming and is full of terrors, I will probably show up more here 😄 .

For me it also sounds like a good plan to make 2 releases:
* 0.27.6
* 0.28 or 0.75 (I do not have a strong preference for or or the other

[2022-11-21 11:12] kevinbackhouse commented on #2406
Sorry, I haven't been paying to this issue. I'm quite angry to discover that a bunch of CVEs have been filed without consulting any of us. (I very much doubt it was done by anybody on the Exiv2 team, because we would have used GitHub Security advisories instead.) I haven't checked them all yet, but I'm pretty confident that all of those CVEs are bogus because they were introduced on the developmen

[2022-11-21 11:16] kevinbackhouse commented on #2406
Regarding a new release, I am in favor of doing it soon. I think we should do a v0.27.6 and I think it's time to do a v1.0.0 too. My own main goal for 1.0.0 was to replace all the uses of the `long` type with something more appropriate, such as `size_t`. I think that's mostly done - I think there are still some uses in some of the `.cpp` files, but the header files are mostly clean now so the rema

[2022-11-21 13:20] 1div0 commented on #2406
WRT v1.0.0 I do hope Big Blue Red Hat lawyers will at least state in https://bugzilla.redhat.com/show_bug.cgi?id=1979565 that your camera means your data and no fooced shitware patents apply.

[2022-11-21 16:06] kmilos commented on #2406
Thanks for stepping up @nehaljwani 👍

If it plugs all the known security holes, I'm in favour of 0.27.6 asap, as it has some nice added functionality and bug fixes backported.

Re the next version, I don't really care what it's called, as long it comes soonish as well (there are projects depending on exiv2 that are slowly starting to require at least C++17). [One thing that needs to be sorted out

[2022-11-23 12:40] kevinbackhouse commented on #2406
Those bogus CVEs have been rejected now. For example: https://nvd.nist.gov/vuln/detail/CVE-2022-3717

[2022-11-26 23:29] postscript-dev commented on #2406
@nehaljwani
Support for video was removed from the `main` branch however, some users requested this to be restored. @mohamedchebbii has worked hard to recover and modernise the code to be compatible with C++17. It would be good to include this in the new `main` release, if possible.  @mohamedchebbii, how close is your work to being merged?

[2022-11-27 13:28] kevinbackhouse opened #2427 "Memory leak in BmffImage::brotliUncompress"
Reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=52767

`BrotliDecoderDestroyInstance` is only called on success. When an exception is throw, the `BrotliDecoderState` is leaked:

https://github.com/Exiv2/exiv2/blob/a700a9c1ab24fef01189dbc9b71e2c8ffc105fca/src/bmffimage.cpp#L198-L207

`BmffImage::brotliUncompress` is a new function, added in #2381, so this bug does not af

[2022-11-27 13:52] #2423 closed

[2022-11-27 18:10] #2427 closed

[2022-11-27 21:41] tester0077 opened #2429 "Using exiv2 with MSVC 2019 unresolved external "__std_find_trivial""
I am trying to use the published package from either exiv2-0.27.5-2019msvc64 or exiv2-main in a MSVC 2019 project.

For both I end up with unresolved externals as reported by MSVC at link time:

11>------ Build started: Project: wxMeta, Configuration: DebUniStat x64 ------
11>exiv2.lib(xmp.cpp.obj) : error LNK2019: unresolved external symbol __std_find_trivial_1 referenced in function "char * __cd