[2019-03-11 10:18] D4N commented on #735
Hi @GravitoWang, sorry for the long delay. The error you are getting is rather odd, especially the zero bytes overreads.

How did you obtain exiv2? Did you build it yourself?

[2019-03-11 14:51] cryptomilk commented on #582
Is this still planned for 0.27.1?

[2019-03-11 14:53] D4N commented on #582
Unlikely, given Robin wants to release 0.27.1 it by the end of March and
no one actively working on this.

Andreas Schneider <notifications@github.com> writes:

[2019-03-11 14:55] cryptomilk commented on #582
Then you should change then milestone :-)

[2019-03-11 16:02] D4N commented on #739
This is indeed a bug on 0.27 and on master.

[2019-03-12 09:07] D4N commented on #661
We have renamed the 0.27 branch to 0.27-maintenance, as it caused issues with mergify.

[2019-03-12 09:07] #661 closed

[2019-03-12 09:51] D4N commented on #582
Indeed, moved to the next one.

[2019-03-12 10:07] clanmills commented on #582
Andreas:

It's on my mind to try to get this done.  There are three issues:

1) I haven't actually done it, although thanks Phil with the encrypt/decrypt and #646 I know how to do this.

2) I don't know how to use Git.  It makes no sense at all to me.  I think I've given up trying to understand it.  It took 2 hours of effort to change the revision number to 0.27.1.19 (RC1 for 0.27.1).

3) I'm tota

[2019-03-12 10:35] GravitoWang commented on #735
@D4N Thank you  very much for your advice, I have solved the problem. It's about enviroment variable that  I have setted a excutable file directory(D:\exiv2-0.27.0-msvc64\bin) last year for EXIV2 which I directly downloaded form official website. And then I set another directory(D:\rebuild_exiv2_lib_2015\bin) this year  for EXIV2 which  I build it myself. Because, visual studio will always load .d

[2019-03-12 10:43] D4N commented on #735
Oh, so you have set `PATH` to include an old copy of exiv2 and the linker picked up the old one, but the compiler was using the headers for 0.27?

[2019-03-12 11:32] cryptomilk commented on #582
Robin,

no problem at all. It would be nice to have but there is no rush. By the way are you going to LGM this year? I've already booked my train and hotel. Would be nice to meet you there and then we could look into git together.

[2019-03-12 11:40] D4N commented on #582
Robin, feel free to send me a patch by email and I'll create a PR for you.

[2019-03-12 11:49] clanmills commented on #582
Thanks @cryptomilk That's a splendid offer.  We're in Scotland that weekend on family business that cannot be changed.  I attended LGM in London in 2016 and gave a remote presentation in Rio in 2017.  That's a real pity as I would very much like to meet you.

Thanks @D4N.  I'm going to focus on the release and website.  Once that's working, I'll investigate patches for #646 and #582.  You'll be re

[2019-03-12 13:10] D4N commented on #620
Robin Mills <notifications@github.com> writes:

That will not help, if you run the python test suite (which should be
done before the release) python will create the __pycache__ directories
and cpack will happily include these in the tarball unless instructed
not to do that.

Thus we really should do two things:

1. include __pycache__ and *pyc files in the .gitignore

2. instruct cpack to ignore

[2019-03-12 13:13] boardhead commented on #582
I feel for you Robin, and sympathize with your git frustration.

[2019-03-12 14:58] clanmills commented on #620
@D4N.  I think you've misunderstood my approach.  The builds are performed in a two step process.
1) On every platform, we delete the build tree, clone, build, test and create the package (libraries, headers etc).  The bundle includes the output of the build and the test suite.

2) On Linux (after step 1), we delete the build tree, clone, build and create package_source

Here's such a package_sour

[2019-03-12 15:41] D4N commented on #620
Robin Mills <notifications@github.com> writes:

Indeed.

Yes, nothing like that there. However, there's this file:
exiv2-0.27.1.19-Source/contrib/organize/work/exiv2/contrib/organize/organize.cpp

which is empty and in a weird subdir?

It's under version control, but got touched last time in 2013, do you
what that one is for?

[2019-03-12 17:38] clanmills commented on #620
Ah, yes.  I know about that file.  It's a sample application which was provided by Brad (the Microsofter who invented basicio.cpp, I believe).  It's not in samples, because it requires boost to build it, and we didn't want to add boost to the build.  It hasn't been changed for years.  It should be in contrib/organize/organize.cpp  The work tree (the work/exiv2/contrib..... ) should be removed.

[2019-03-12 19:29] clanmills commented on #620
There are more of those "empty" files.  I think we can remove them, and the "empty" trees above:
[code]

------

There's weirdness concerning the .tar.gz file.  It can be opened on Mac with the command:
[code]
However, it hangs on Linux/Cygwin/MinGW.  How odd.  It feels as though tar is trying to read from stdin - so it's just sitting dormant.  I can open it with the GUI using `xdc-open`.  It has

[2019-03-12 22:11] D4N commented on #620
Robin Mills <notifications@github.com> writes:

The __init__.py files must stay, otherwise the Python test suite will
break (python needs these files to recognize the subdirectories as
modules, if it doesn't it won't autoload the tests).

I can confirm that behavior. That's quite odd, but there's a simple
workaround:

$ tar xzv < exiv2-0.27.1.19-Source-2019:03:12_11:53:12.tar.gz

[2019-03-13 08:57] wcventure opened #741 "[bug report] Stack Exhaustion Caused By Exiv2::Image::printIFDStructure function in image.cpp, making Recursive Calls to Itself"
Hi there,

An issue was discovered in Exiv2::Image::printIFDStructure function in image.cpp, as distributed in master and version 0.27. There is a stack exhaustion problem caused by the in printIFDStructure function making recursive calls to itself.

Here is the POC file. Please use the “./exiv2 -pR $POC” to reproduce the bug.
[POC.zip](https://github.com/Exiv2/exiv2/files/2960549/POC.zip)

The AS

[2019-03-13 09:23] D4N commented on #741
Hi @wcventure, thanks for your report.

However, `-pR` is a debugging only function, that has known issues and is for that reason disabled in release builds. I.e. you should be only using it on a "good" file with a debug build. We plan on removing it completely and will therefore not fix any issues inside it.

[2019-03-13 09:23] #741 closed

[2019-03-13 12:11] wcventure opened #742 "[bug report] Program crash due to uncontrolled memory allocation on function DataBuf data(subBox.length-sizeof(box))"
Hi there,

An issue was discovered in DataBuf data(subBox.length-sizeof(box)) function in image.cpp, as distributed in master and version 0.27. There is an uncontrolled memory allocation problem, leading to a program crash. I have also confirmed this issue by using addressSanitizer.

Here is the POC file. Please use the “./exiv2 -pX $POC” to reproduce the bug.
[POC.zip](https://github.com/Exiv2/ex

[2019-03-13 12:14] wcventure commented on #742
I also use gdb to debug the program, I will show you the process.

[code]
you can see that in `p subBox.length-sizeof(box)`,
`$5 = 4294967288`

The DataBuf data() try to consume too much memory, leading to program crash.
The normal output is

[code]

[2019-03-13 12:35] D4N commented on #742
Thanks for the report, that is indeed a nasty bug.

Looks like an integer overflow as the input is not scrubbed. It's unlikely though that I'll be able to tackle this before #740 is done & merged, as the code where you found the issue is not really covered by tests.

[2019-03-13 16:24] clanmills commented on #620
@D4N.  Thanks for your feedback on this.

1) Removing the tree `contrib/organize/work/`
Can you submit a PR to 'master' and '0.27-maintenance' to remove that tree.

2) Thanks for explaining the "empty" `__init__.py` files
That's ugly.  Is it possible to create those "on the fly" from python?  Or are they needed before your code starts to run?

3) Let's not worry about the strange tar command-line

[2019-03-14 21:07] codingdave opened #743 "Sigma 24-70mm F2,8 DG OS HSM Art not detected"
Hi, I have a Sigma Lens which I do not find supported yet. Though the entry

cat ~/.exiv2
[nikon]
201=Sigma 24-70mm F2,8 DG OS HSM Art

is working fine I hope I can help others to have an automatic support. As described at 3. Contributing Lens Data I shot a small JPG with caps-on that is unmodified and attached to this case.

I would love to make a pr, but I have no idea and did not find any docum

[2019-03-14 22:54] clanmills commented on #743
Thanks for letting us know about this.  And I'm glad to hear that ~/.exiv2 is working for you.  I added that in Exiv2 v0.26 because it enables users to immediately update the lens recognition without waiting for a software update.  And the other reason to add this feature was to reduce the work for me to deal many requests for new lenses.

We had a very good contributor dealing with lens recogniti

[2019-03-15 01:14] FreddieWitherden commented on #743
So the underlying problem is that the Nikon lens IDs are not sufficient to uniquely identify a lens.  (This is because some third party lenses have IDs which conflict with those of Nikon lenses.)  To this end additional data such as the focal length range and aperture is used to help disambiguate lenses with duplicate IDs.  Thus in order for everything to work I believe you need to change more tha

[2019-03-15 07:27] codingdave commented on #743
I have googled a bit and have no clue of his email adress). I can contact
him when I have that adress.

Am Fr., 15. März 2019 um 02:14 Uhr schrieb Freddie Witherden <
notifications@github.com>:

[2019-03-15 10:18] clanmills commented on #743
@FreddieWitherden Thanks for stepping into this.  Your thoughts are the same as mine.  I modified 5 entries in:
[code]
| My Lens | Dave's Lens | Code |
|:-------- |:----- |:--------|
| 0x92,0x39,0x2D,0x88  | 0xc9,0x48,0x37,0x5c | lid,stps,focs,foc |
| 0x0E                               | 0x4E |  ltype |

I guess I'm going to have to debug fmountlens in src/nikonmn_int.cpp and discover the exact me

[2019-03-15 14:12] clanmills opened #744 "JP2000 -pS (print Structure) throws 'Invalid slice bounds specified' on all jp2 files."
There's an issue in `Jp2Image::printStructure()` causing an exception when we dump the header structure.   This was reported in #740 and @D4N requested that it be logged separately.
[code]

This appears to be caused by the '30' passed to makeSlice() when there are less than 30 bytes in data.buf_

My fix is:
[code]

With this fix, the output is:
[code]
This fault applies to both 'master' and '0.27-

[2019-03-15 16:44] clanmills opened #745 "Review/fix documentation concerning CMake support files."
The cmake support files have been moved by #625.
Documentation abut those files (ReadMe.txt, README.md and README-CONAN.md) need review and possibly fixed.

[2019-03-15 19:14] clanmills commented on #743
Gentlemen:

I wasn't able to get the release out today.  Ran into a documentation obstacle which I'll fix next week.  So, to finish the week on a high, I had another look at this.  The correct entry in the table is:

[code]

I discovered this by tweaking this code (locally, on my machine):
[code]
which nicely recognises the lens (with yesterday's record) and tells us that:
[code]
A little higher i

[2019-03-15 22:04] codingdave commented on #743
Thanks a lot guys! Looks very promising.

I finally have understood how to add the lens to the database and tested
your findings. The line of code works perfectly on my side.

Thank you all for your very good support!

Long life OSS!

Cheers
Dave

Am Fr., 15. März 2019 um 20:14 Uhr schrieb Robin Mills <
notifications@github.com>:

[2019-03-16 17:40] cryptomilk commented on #582
@clanmills I can give you a guide through git (video chat), if you're interested :-)

[2019-03-16 19:09] clanmills commented on #582
Phil:  Yip, it's almost impossible to understand git on your own.  I talked to the cat about it, but she doesn't get git either.

@cryptomilk Thanks.  I'd like to take up your offer and here's my suggestion.  I fixed something yesterday for somebody and I'd like to submit a PR to branch 0.27-maintenance.  It's a one line fix.  Tomorrow, I'd like to update the test harness to block a regression.  S

[2019-03-20 21:41] piponazo commented on #742
I will investigate the issue. It is also reproducible on Windows+MSVC

[2019-03-21 14:53] clanmills commented on #646
[code]

[2019-03-21 18:29] piponazo commented on #646
@clanmills can you send me the image @mallman sent you to your personal email, so that I can continue with the research ?

[2019-03-21 18:47] clanmills commented on #646
https://clanmills.com/files/_DSC8437.NEF

[2019-03-21 18:51] clanmills commented on #646
@mallman If you don't want this shared, please let me know and it will be deleted.
[code]

[2019-03-24 13:12] codingdave opened #754 "Regression in detected lens"
Hi,

I have installed the current master version and face a regression of my Samyang 14mm lens. It now is wrongly identified as a 10mm lens. I am aware of the ~/.exiv2 file that can be used to tune the lens but I decided to file this bugreport because it is a regression as it is working fine in version .25.

----------------
Correct information:

    dave@matebook:~$ /usr/bin/exiv2 --version
    e

[2019-03-24 13:25] D4N commented on #754
This might have been introduced by 7eb67aabe4b428f096d3b286a54e82af0461234f

codingdave <notifications@github.com> writes:

[2019-03-24 14:33] codingdave commented on #754
I also have the wrong result with
    git reset --hard 7eb67aabe4b428f096d3b286a54e82af0461234f~

Am So., 24. März 2019 um 14:25 Uhr schrieb D4N <notifications@github.com>:

[2019-03-24 14:57] D4N commented on #754
Would you mind bisecting the issue and uploading the test image? Or only the latter, so that I can bisect it?

On March 24, 2019 3:33:57 PM GMT+01:00, codingdave <notifications@github.com> wrote:

[2019-03-24 15:52] codingdave commented on #754
I can create a black-full-non-edited raw in the evening but I have created a 1x1 px with dt and from testing exiv2 -pa / -pv I have verified that the issue appears also in that image. I hope you can work with that. If not, I will be able to upload a unmodified one in the evening when I'm back home.
![DSC_4751](https://user-images.githubusercontent.com/3075641/54881910-392dcb80-4e55-11e9-9fd4-a22c8

[2019-03-24 15:56] astippich opened #755 "Wrong image size reported for Fuji raf"
Exiv2 reports wrong image width and height for Fuji Raf files. Looking at the code, this is because it returns "Exif.Photo.PixelXDimension"/"Exif.Photo.PixelYDimension" for width/height, which is obtained from the embedded JPEG, which is not the size of the raw image.

[2019-03-24 18:37] mallman commented on #646
@clanmills Hi Robin. Please do not share that file. Instead, we can share the following raw file publicly:

https://www.dropbox.com/s/sh1pt9na74an69k/_DSC6043.NEF?dl=0

[2019-03-24 19:22] D4N commented on #754
You can create an image which only contains the extracted metadata via `exiv2 -ex $image`, that one contains no image data at all. It should be sufficient to reproduce the issue.

[2019-03-24 21:57] codingdave commented on #754
Ok. Here it is. Btw, I had to zip it because .exv files are not allowed to upload. Going to bisect now ...
[DSC_4751.zip](https://github.com/Exiv2/exiv2/files/3000906/DSC_4751.zip)

[2019-03-24 22:36] codingdave commented on #754
dave@matebook:~/workspace/exiv2.git$ git bisect bad
7eb67aabe4b428f096d3b286a54e82af0461234f is the first bad commit
commit 7eb67aabe4b428f096d3b286a54e82af0461234f
Author: Freddie Witherden <freddie@witherden.org>
Date:   Sat Mar 31 14:11:05 2018 +0100

    Update Nikon lens database.

Seems I have done something wrong before. Your first guess was correct. Sorry for the false notice. I am now abs

[2019-03-25 03:52] 92wyunchao opened #756 "one global-buffer-overread in Exiv2::Internal::Nikon1MakerNote::print0x0088 in nikonmn_int.cpp"
POC:
[poc.zip](https://github.com/Exiv2/exiv2/files/3001421/poc.zip)

There exists one global-buffer-overread in Exiv2::Internal::Nikon1MakerNote::print0x0088 in nikonmn_int.cpp in exiv2 0.27.99.0 which could result in information leak.

[code]

[2019-03-25 09:23] D4N commented on #756
I can confirm that this bug is present on master, although you'll have to explain to me how this is an information leak.

[2019-03-25 10:16] clanmills commented on #646
NP.  Deleted.

[2019-03-25 23:21] D4N commented on #756
This issue will get fixed by #757 and #758 for 0.27-maintenance and master, respectively.

[2019-03-26 01:26] 92wyunchao opened #759 "float point exception in printLong function in tags_int.cpp"
POC:
[fpe_poc.zip](https://github.com/Exiv2/exiv2/files/3006099/fpe_poc.zip)

gdb --args ./exiv2 -pt ~/fpe_poc

Program received signal SIGFPE, Arithmetic exception.
0xb7e0c1a2 in Exiv2::Internal::printLong (os=..., value=...) at /home/rookie/exiv2-master/src/tags_int.cpp:2197
2197	        if (r.second != 0) return os << static_cast<long>(r.first) / r.second;
(gdb) bt
#0  0xb7e0c1a2 in Exiv2::Inte

[2019-03-26 01:30] 92wyunchao opened #760 "one invalid memory access in decode function in iptc.cpp"
POC:
[segment_poc.zip](https://github.com/Exiv2/exiv2/files/3006103/segment_poc.zip)

gdb --args ./exiv2 -pt ~/segment_poc

Program received signal SIGSEGV, Segmentation fault.
0xb7c649d6 in Exiv2::IptcParser::decode (iptcData=..., pData=<optimized out>, size=<optimized out>) at /home/rookie/exiv2-master/src/iptc.cpp:453
453	            if (*pRead++ != marker_) continue;
(gdb) bt
#0  0xb7c649d6 in

[2019-03-26 15:19] FreddieWitherden commented on #754
This is a known issue.  From nikonmn_int.cpp:
[code]
Based on the current lens table data there is no means of disambiguating the two lenses.

Saying this (and in contrast with the seven other misidentified lenses) it is possible to resolve this issue by using the focal length.  Patches welcome.

[2019-03-26 20:09] clanmills opened #761 "Consuming Exiv2 with CMake"
I'm unable to get this work on 0.27-maintenance.  Clearly the cmake support files have moved from share to lib.  That's easy to change.

However, the code fails to compile for me and reports:
[code]

-----------------------------

The instructions in README.md are (and I'm sure they worked with 0.27).

When exiv2 is installed, the files required to consume Exiv2 are installed in ${CMAKE_INSTALL_PR

[2019-03-26 21:52] piponazo commented on #761
The last snippet looks strange since you are not pointing to the exiv2 installation dir when running CMake. You can find here a working example of how to consume exiv2:

https://github.com/piponazo/exiv2Consumer

[2019-03-26 23:00] clanmills commented on #761
Brilliant, Luis.  The correct magic is to link _**`exiv2lib`**_ and not _`exiv2`_
[code]
So although find_package is looking for exiv2, we should be linking exiv2lib, and somehow that influences the compiler search path.

Thanks for your help.  Closed.  I'll update README.md tomorrow.

I will review all the effort your put into README-CONAN.md concerning cross-compiling.

Nehal and Andreas have mo

[2019-03-26 23:00] #761 closed

[2019-03-28 01:41] t246246 opened #762 "Failed to read specific pdf file with error "unknown image type""
I tried with the latest MinGW version binary:

[code]

That file will be found via ImageMagick forum:
https://imagemagick.org/discourse-server/viewtopic.php?f=3&t=35171#p164630

They say the file is created by Microsoft Word.

[2019-03-28 09:28] t246246 commented on #762
I had thought exiv2 support PDF, but it is not included in man page.
So, please close this issue.

[2019-03-28 11:58] clanmills commented on #762
Exiv2 has never supported PDF and there is no plan to implement that.  I would be a large undertaking.

[2019-03-28 11:58] #762 closed

[2019-03-29 09:01] clanmills opened #763 "False Negatives in Unit Tests"
The following are cosmetic.  However, it's probably a small effort to hide these distractions.

1) On Cygwin and MinGW:
[code]
I'm not sure of the origin of strings 'Success' or 'No Error', however we can evade this by only report `if error != 0`.

2) On all platforms, we're getting date/time warnings, from tests which correctly warn as follows:
```Warning: Unsupported time format```

For example

[2019-03-29 09:40] D4N commented on #763
Robin Mills <notifications@github.com> writes:

Yes, we should do that. The code in that unit test is checking
`strerror(errno)`, but we already have something like 4 or 5 #ifdefs
there for all the various platforms, because they all have different
error strings. Adding a sixth isn't going to make this better.

The unit tests never invoke the exiv2 application directly, so that
isn't going to help

[2019-03-29 12:35] #756 closed

[2019-03-31 09:57] #742 closed

[2019-04-01 08:18] imsodin opened #766 "Tag/Release 0.27.1 RC1 in git"
According to https://discuss.pixls.us/t/exiv2-v0-27-1-rc1-is-ready/11963 a new RC was bundled and released - please tag the corresponding commit as well. And if possible please change the policy to use a fourth `.x` element for RCs, all versioning systems I know consider e.g. `0.27.1.1` (RC1 in your scheme) as newer than `0.27.1` (final release). It looks like you already do that for git tags (e.g

[2019-04-01 08:43] clanmills commented on #766
I'll change the version name if you can suggest how.  CMake seems to restrict the names to (non negative) numbers of the form: Major.Minor.Patch.Tweak.  https://cmake.org/cmake/help/latest/command/project.html

So 0.27.1 = "Dot 1".  (and GM will be so labelled).  So how do I handle RC1 in the "tweak"?

[code]

I've modified the scripts which generate the web-site to massage "0.27.1.1" into "0.27.1

[2019-04-01 09:01] imsodin commented on #766
Looks like it isn't possible within cmake: https://gitlab.kitware.com/cmake/cmake/issues/16716 Looks like the only option would be to use the release version (0.27.1) in cmake and rename the bundle, but I see how that's ugly. In the end this was mostly a nitpick that someone might stumble over, I don't think it's very important. My main request was the git tag.

Maybe @cryptomilk has some advice c

[2019-04-01 09:25] cgilles commented on #766
Hi,

in digiKam and everywhere as i know from open source world, we use :
"Major.Minor.Patch-Tweak" release naming.

At final release tweak is removed and "Major.Minor.Patch". This permit to not break the version scheme in packaging script '.' for offcial releases, '-' for pre-releases.

Gilles Caulier

[2019-04-01 09:33] cryptomilk commented on #766
Example:

samba-4.8.0rc1
samba-4.8.0rc2
samba-4.8.0rc3
samba-4.8.0rc4
samba-4.8.0
samba-4.8.1
samba-4.8.2

[2019-04-01 09:45] clanmills commented on #766
Thanks, Simon.  I wonder if we should tag RCs for "dots".  The plan for 2019 and 2020 is to have quarterly "dots" while the v0.28 "modernisation" project is in progress. The purpose of the "dots" is to provide security updates and to give the team more breathing space if v0.28 takes a while.

`$ git clone; git fetch...` reveals every tag.  If we have a lot of tags, somebody may complain __*AND*__

[2019-04-01 10:56] imsodin commented on #766
@cryptomilk Looking at sambas git they don't seem to use cmake. The question isn't what versioning scheme to use, but how to produce source tarballs for release candidates when cmake/cpack restricts version to numerical characters. And avoiding the situation where `0.27.1.1` (RC) > 0.27.1 (final release).

@cgilles digiKam doesn't set it's version in the `project()` function and I can't see it doi

[2019-04-01 11:23] cryptomilk commented on #766
You could use:

0.26.91 = rc1
0.26.92 = rc2
...

[2019-04-01 11:38] imsodin commented on #766
No, that's why I asked ;)
However that's not used for cmake's `PROJECT_VERSION`, so it is a custom solution indeed.

That's just replacing one non-ideal solution with another. From all I see non-standard version handling is the only way to get it "right".

However we are digressing, I actually just wanted to get a git tag with this issue, the rest was a related side-thought :)

[2019-04-01 13:23] clanmills commented on #766
I think we're good as we are.  With "the dots", I hope "code for RC1" == "code for GM" (only documentation changes), and don't need tags for "dot RCs".  We will tag v0.27.1, v0.27.2 etc.

@cgilles The tarball filenames are derived from the version information in the CMake/Project.

[2019-04-01 13:29] imsodin commented on #766
I'd still like to request an `0.27.1-RC1. This serves the same purpose as releasing the pre-release tarballs: Getting attention that a release is imminent and thus hopefully getting some people (e.g.  packagers) to do testing and thus potentially discover important problems before the release.

[2019-04-01 18:42] clanmills commented on #766
@imsodin  Are you requesting that the code in the pre-release tarballs be tagged "0.27.1-RC1"?

I see we haven't been totally consistent in the past.
[code]
Let's call this v0.27.1-RC1.  If we need another, it'll be v0.27.1-RC2.  When we release the GM, let's call it "v0.27.1"

@piponazo Can you do that, please?  The code used is the current state of branch "Changes_for_v0.27.1.1"

[2019-04-01 19:27] ydyote opened #767 "Default cmd output formatting"
Hello, I have only one feature request and that is to improve the default output of meta information
The default should look like following:

TagDescription [TagName] : value [valueWhichCanBeSet]

basically to offer human readable tags and descriptions with the actual tags and their "raw" values

I would also provide an example but I did not use this tool properly yet to be able to provide it, bec

[2019-04-02 18:36] Athesis opened #770 "Problems creating XMP files"
I try to create some XMP Data with Exiv2 (Version 0.27.0 - Build msvc64 libs), but failing. I created in Visual Studio 2017 an short test, based on the example at http://www.exiv2.org/doc/xmpsample_8cpp-example.html

[code]

... but this fails with

If I try to add Exiv2::XmpProperties::registerNs("http://purl.org/dc/elements/1.1/", "dc"); the program fails with an

exception at this line

I just

[2019-04-02 19:13] D4N commented on #767
That would be quite helpful, since I don't really have an idea what you'd wish the output to be.

[2019-04-02 19:25] D4N commented on #770
Neither do I, because the above code works for me on Linux.

Could you run it with dr.memory or step through with a debugger to find out what actually throws the exception?

My guess is that something went wrong during linking of exiv2 (the xmpsdk is always linked statically, thus I'd suggest to also link libexiv2 statically).

I also don't get an exception here, although LeakSanitizer complains a

[2019-04-03 18:33] ydyote commented on #767
Ok, it should look something like this:

Exposure Time [ExposureTime] : 1/1300 s [1/1300]
Aperture [FNumber] : F5 [5.0]

Maybe its just me but I have no idea how to gather necessary information easily in this use case:
I can see exif metadata in the windows explorer file properties window, there are listed formatted descriptions and values of properties.. not all of them can be changed but this is

[2019-04-03 21:33] piponazo commented on #766
@clanmills Let's merge then #752 into `0.27-maintenance` and I'll create the tag afterwards. It seems that there is a typo in the documentation that you promised to fix beforehand. I'll wait for that change to merge the branch and create the tag.

[2019-04-04 06:50] piponazo commented on #766
Here you have guys!
https://github.com/Exiv2/exiv2/releases/tag/v0.27.1-RC1

Can we close this ticket?

[2019-04-04 09:41] imsodin commented on #766
Yep - thanks.

One minor comment about the release process (triggered by merging #752 after releasing tarballs and before tagging), which might not work as I have no idea how you do it: I'd propose to tag first, to make sure that the published source tarballs are made from the same files. Currently they seem to be identical except for one "typo":
[code]

[2019-04-04 09:41] #766 closed

[2019-04-04 15:05] boardhead commented on #755
Determining the size of the RAW image in a RAF file is difficult.  Models are inconsistent in how they store this information.  It is possible to obtain a consistent size for the image including black borders, but difficult to consistently deduce the final cropped image size.

[2019-04-05 16:15] boardhead commented on #620
I'm a bit late to this party, but for what its worth, I run the attached script on MacOS to delete the resource files before each Exiftool release. (I've added a .txt extension to be able to attach the script file.)
[del_rsrc.txt](https://github.com/Exiv2/exiv2/files/3048786/del_rsrc.txt)

[2019-04-05 21:44] clanmills commented on #620
Good ideas are never late for the party.

I've saved your script:
[code]

Thanks very much.

We're on track to visit Canada in July 2020.  We will visit Scotland, France, Finland and Thailand in 2019.

[2019-04-06 07:55] cryptomilk commented on #620
If you want to have a clean tree with git you can run 'git clean -dfx`. This will remove **everything** which is not checked into git! See the manpage for more details ;-)

[2019-04-06 12:02] clanmills commented on #620
Thanks @cryptomilk

The build script uses `$ rm -rf buildserver` to remove the build tree, then it does `$ git clone --depth 1 url xxxx; cd xxxx ; git fetch --unshallow`.  Too aggressive?  For sure it's effective.

I've found cloning from GitHub.com is not robust and that's when I started using the git two step (-depth 1/--unshallow).  I've also used  `$ git config --global http.postBuffer 5242880

[2019-04-07 12:31] piponazo commented on #763
I noticed that we are not running the unit tests in the Fedora_MinGW Gitlab CI job. I think it would be good to enable it at some point and fix any possible issue we might find there.

For the first case you mentioned, it is mostly a problem of the test code not being complete. I wrote those tests as "Characterisation tests" since I wanted to know more about how these functions were behaving. Inte

[2019-04-07 15:27] piponazo commented on #745
Can we close this issue Robin? I understand that #752 updated the documentation accordingly.

[2019-04-07 17:28] piponazo commented on #760
I run your example in `master` and `0.27` without being able to reproduce the issue. I'm closing this issue for the moment.

If you still have the problem, please re-open the issue and provide more information about the the environment where you are having the problem.

[2019-04-07 17:28] #760 closed

[2019-04-07 17:32] piponazo commented on #547
@clanmills What's the plan about this? Do you think it is still needed to address the issue in the library code? or now that the option `-pR` is gone in release mode could we drop it ?

[2019-04-09 06:29] #744 closed

[2019-04-09 11:29] boardhead commented on #755
Ah.  Iliah Borg has just informed me that FujiFilm RAF tag 0x0111 gives the raw image cropped height and width as two 16-bit integers.  I'll add decoding of this tag to ExifTool, and use it in the Composite ImageSize determination.

[2019-04-09 13:46] B4rtware opened #777 "installing exiv2 from head with vcpkg"
Hi,
I am trying to install exiv2 with `vcpkg install exiv2:x64-windows --head`. Unfortunately, the build fails with an error:

`Error: Building package exiv2:x64-windows failed with: BUILD_FAILED`

Installing via normal install worked flawlessly. I was wondering if there is something I missed.
The latest release does not include the fix for c++11 where `auto_ptr` got renamed to `unique_ptr` and si

[2019-04-09 16:30] boardhead commented on #710
This is not a small task... There are about a zillion different ways that various camera models store the preview.  Fuji seems to be still putting the preview in the archaic FlashPix metadata, while recent Sony models are putting it in the newer MPF metadata.  But these are just two possible ways that the preview is stored.

[2019-04-09 19:59] B4rtware commented on #777
Thanks for your both insanely fast replies :). Conan worked for me but I thought someone from here is responsible for the repo (port file) at vcpkg. I will post it in in their repo.

[2019-04-09 19:59] #777 closed

[2019-04-10 08:18] 92wyunchao commented on #760
I am sure this issue  exists in the master branch，and I can reproduce it.  I build it with default compiler option in Ubuntu 16.04 32bit system.

$uname -a
Linux ubuntu 4.4.0-31-generic #50~14.04.1-Ubuntu SMP Wed Jul 13 01:06:37 UTC 2016 i686 i686 i686 GNU/Linux

$file exiv2
exiv2: ELF 32-bit LSB  executable, Intel 80386, version 1 (SYSV), dynamically linked (uses shared libs), for GNU/Linux 2.6.2

[2019-04-10 10:21] clanmills commented on #770
I can't reproduce this with either v0.27 or v0.27.1 RC1 msvc build available from:  https://exiv2.org/download.html

[code]
The 0.27 behaviour is the same.  However, we changed the filename of the static xmp lib in 0.27.1
[code]

It shouldn't be necessary to register the namespace as it is "pre-registered".  You can see the pregistered namespaces with the command `> exiv2 -vV --grep xml` or (using

[2019-04-10 10:29] clanmills commented on #777
I recall vcpkg being discussed by @jasjuang and perhaps he can assist.

The members of Team Exiv2 like responding quickly to users.  Insanely fast?  Maybe!

[2019-04-10 11:03] clanmills commented on #770
I've investigate the (unlikely) possibility that XMPsdk and/or your namespace has not been initialised.  It's good on v0.27 and v0.27.1 RC1.
[code]

[2019-04-12 08:48] clanmills commented on #745
Yes.  I'm closing this.

[2019-04-12 08:48] #745 closed

[2019-04-12 08:50] clanmills commented on #620
I'm closing this as I believe the "Tarball Cruft" is fixed.  Unless somebody knows otherwise!

[2019-04-12 08:50] #620 closed

[2019-04-12 10:53] codingdave commented on #754
I agree that this could be fixed. The commit 7eb67aa however is a regression. So the first fix is a revert of this commit. I wonder why this has not happened yet, because it fixes the regression.

In a second step the focal lenght should be added into the detection of the lens, I agree with that. I was looking in the code and for me it looks like it is already checked. From nikonmn_int.cpp:
`if (

[2019-04-12 16:45] FreddieWitherden commented on #754
Reverting the commit would not fix the regression.  All it would do is cause someone with a Samyang 10mm lens to complain that it is being identified as a Samyang 14mm lens.  Moreover, reverting would also remove support for many other (unambiguously identifiable) lenses.  Within the context of the current identification code there is no perfect solution and as such a call had to be made.  (And fr

[2019-04-12 17:10] codingdave commented on #754
If we have a regression A due to a patch and reverting that patch leads in a regression B then, since A was before B, A has a higher priority to be fixed. If you do it like you argue, keeping the commit to not have a regression in B would allow commits to be accepted when they improve 1 but break n things, so a diversion from "working fine" would happen continuously. Thats why in my opinion this a

[2019-04-12 17:51] FreddieWitherden commented on #754
The point is that this is *not* strictly a regression; the previous code is broken (10mm identified as 14mm) and the current code is broken (14mm identified as 10mm).  Going from one broken state to another broken state is not a regression.

The lens table itself is proved by Robert Rottmerhusen.  Thus whilst changing two lines would be relatively simple it would impose an ongoing burden every tim

[2019-04-12 21:19] clanmills commented on #754
Ah, Freddie.  You know a President of the USA said: "You can please some of the people all of the time, all of the people some of the time.  However you can't please all of the people all of the time.".

I wish Exiv2 had never become involved with lens recognition.  However, it's there and folks want it to work.  I believe the lens recognition is used to a drive workflows to adjust image for "lens

[2019-04-14 11:36] Athesis commented on #770
Hi,

Thankyou @clanmills for your Help and Support! I've should have tried an Release-Build earlier. It seems to be the difference of Debug to Release-Build ... With the release Build working great!

So far I never expirienced problems linking release-builds into a debug build of my own programmcode ... sure, I can't debug into the librarys in this case, but never had something straight up not wor

[2019-04-15 22:26] clanmills commented on #770
Thanks for sending your sln/project files.  They look OK.  I see you have 32bit configurations which may may have selected for debug.  I'm sure you didn't - however that would explain why debug doesn't work!

Maybe you have to build and link the debug library with your debug application.  I wouldn't expect that.  I believe you can link and run a "release" library with a "debug" application.

I see

[2019-04-16 10:07] clanmills commented on #770
I've built and linked a debug library with your code.  It's working on both Release and Debug.  You'll need to link a Debug library build with your debug code.

I made a .tar.gz of the whole build and it's a whopping 145mb.  It's easier for you to re-walk my steps.  I didn't use 'f:\dev\LIB', instead I put exiv2-0.27.1.msvc64 into exiv2test\exiv2test directory and got release to build.  I added a

[2019-04-16 10:08] #770 closed

[2019-04-16 10:15] clanmills commented on #767
We are not changing this.  Exiv2 has used the current output scheme for 15 years and many folks have scripts which parse this output.  There are many options provided from the exiv2 command-line to control output.  Please see the `-P  flg		--Print      Print report (fine grained control)` in the man page.  We provide both "raw" (-pv) values and "translated" human readable values (-pt).

[2019-04-16 10:15] #767 closed

[2019-04-16 13:41] clanmills opened #780 "Support for Visual Studio 2019 using Conan and CMake."
I've tested this with exiv2 v0.27.1 and everything builds and passed the test suite.

Steps:
1) Update conan to 1.14.3 (and pip request to be updated)
2) Update to CMake 3.14.2
3) Create a new profile (in ~/.conan/profiles)

**_Caution:_** When I upgraded conan, I had to manually:
[code]
For me: `%USERPROFILE% == C:\Users\rmills`

I had one curiosity that deserves attention.  The python3 interpret

[2019-04-16 20:13] ydyote commented on #767
Well it doesn't need to be the default scheme but maybe add this as an option. I tried the -pv and -pt, but still there is no way to display all necessary information for a normal user, only for people who have the patience to go through the naming hell - because a "noob" user has to take at least three different outputs and put them together to get the complete and valuable information
outputs fr

[2019-04-18 06:27] clanmills opened #781 "MinGW exiv2-0.27-Source fails with stdlib.h: No such file or directory"
[code]

This is caused by the PATH being incorrectly set.
[code]

My fix is to modify msys64.bat (as documented in README.md)
[code]

**_Analysis_**

This is a puzzle as the file `/usr/include/stdlib.h` is available.  CMake generates the compiler command:
[code]
Manually changing fixes this:
[code]
I do not understood why modifying the PATH results in the correct code being generated.

[2019-04-18 22:14] ableade opened #783 "access violation vs 2017 msvc"
After building the most current version of exiv from source, I am running into issues using exiv in vs2017.
I am able to build the library with both debug and release DLLs. However attempting to use exiv with visual studio in release mode is causing an access violation reading error.
[code]
The same code works fine in debug mode. In release mode, the image path string appears to be getting mangled

[2019-04-19 10:27] clanmills commented on #783
You're building the branch 'master' (or 0.27-maintenance)?

This looks so "tame", it's hard to believe it's causing trouble.  Is there a reason to use C++17.  Can you try C++11?  I'm not sure I've understood how visual studio reports "error.....".

Are you linking release application with release library, (and debug application with debug library).

I'm not sure how best to help you.  Can you zip

[2019-04-22 21:19] eadluru opened #787 "msvs 2015 x86 build"
Can you please provide the pre-compiled library for visual studio 2015 x86. Its kinda difficult to build it using cmake for x86.

[2019-04-22 21:49] D4N commented on #787
As per https://exiv2.org/download.html:

I'd suggest to follow the build steps from [appveyor.yml](https://github.com/Exiv2/exiv2/blob/master/appveyor.yml) and also take a look at [README-CONAN.md](https://github.com/Exiv2/exiv2/blob/master/README-CONAN.md) which covers how to setup conan.

If there's something specific that is unclear or doesn't work, please tell us.

[2019-04-23 08:09] VioletGiraffe commented on #236
Any news / progress on CR3 support as far as reading metadata?

[2019-04-23 09:27] clanmills commented on #236
I don't think Exiv2 will be able to work on this during the next 12 months.  I'm delighted to say that we now have 6 regular contributors to Exiv2 and that's much better than the years I worked alone.  However 4 of the guys are involved in "modernisation" of the code to C++11 for v0.28.  Nehal's dealing with our servers and I've decided to stop writing code (I'm 68) and deal with releases and user

[2019-04-23 09:31] VioletGiraffe commented on #236
@clanmills, thank you for the quick reply! I'm very sad to hear this as it means a major setback for our project, but I really appreciate all your hard work.

[2019-04-23 09:36] lclevy commented on #236
You can use Exiftool
or parse_cr3.py
https://github.com/lclevy/canon_cr3/blob/master/parse_cr3.py

[2019-04-23 13:41] eadluru commented on #787
i tried all those its kinda not woking.
Is there a easier way to make the files for Visual studio 2015 Win86

[2019-04-23 14:10] eadluru commented on #787
i got 2 warnings and 7 errors. I am not quite sure why are there some files in 64 bit.
Attached is the snapshot of the messages. Please help me with this.

![image](https://user-images.githubusercontent.com/46500901/56587707-f8d68000-65af-11e9-8cde-45a5479d31fd.png)

[2019-04-23 14:21] D4N commented on #787
Please start from a clean new exiv2 workspace and a clean conan config, then write down the steps you did, otherwise I'm hardly able to help you just from a screenshot of an error message.

[2019-04-23 14:24] eadluru commented on #787
I downloaded the windows version of conan from https://conan.io/downloads and followed the steps from the github link you gave me https://github.com/Exiv2/exiv2/blob/master/README-CONAN.md#1-1

[2019-04-23 14:25] eadluru commented on #787
everything went fine i got all the outputs as expected but the last Build Exiv2 gave me those 2 warnings and  17 errors

[2019-04-23 14:36] D4N commented on #787
Try it with a different `arch` and `arch_build` setting in step [1-4](https://github.com/Exiv2/exiv2/blob/master/README-CONAN.md#1-4). Same applies for any invocations of `conan` with `--profile`, where you should use the non 64 bit variant and with `cmake -G` (again don't use the Visual Studio 64 bit version here, just the ordinary one).

[2019-04-23 14:40] eadluru commented on #787
i did not include the profile when i did it earlier

[2019-04-23 14:53] D4N commented on #787
Then please do so, conan will otherwise probably use a 64 bit profile by default.

[2019-04-23 15:22] adithyabhat99 commented on #214
hope you guys release support for cpp11 soon
 auto_ptr being depreciated in cpp11 is causing problems

[2019-04-23 15:26] adithyabhat99 commented on #214
for the issue with auto ptr depreciation in cpp11 , add these lines on top of every file included in the package

#if __cplusplus >= 201103L
template <typename T>
using auto_ptr = std::unique_ptr<T>;
#else
using std::auto_ptr;
#endif

[2019-04-23 16:37] clanmills commented on #236
@VioletGiraffe I'm happy to mentor someone, if you know a volunteer.  I haven't studied the python code written by @lclevy however we can use that both as a code model and for testing our parser.

[2019-04-23 16:41] ableade commented on #783
I checked the visual studio solution folder where I build exiv and it does create two libraries in debug and release folders. However comparing the two, it appears there is no difference between them, I am suspecting that only the debug library is actually built. Perhaps, I did something wrong in the cmake configuration?

Here is the output of git reflog for the commit that was built

`
    4598ea

[2019-04-23 17:45] clanmills commented on #787
I've built 'master' with MSVC 2015 32 bits.  Let me know if you need something else built such as v0.27.1 which I expect to release tomorrow.

I am surprised you're having any difficulty with this.  I'll be happy to meet with you 1-to-1 on Skype ('clanmills') and together we'll get this built on your machine.
[exiv2-0.27.99.0-2015msvc32-2019:04:23_17:34:07.zip](https://github.com/Exiv2/exiv2/files

[2019-04-23 17:51] clanmills commented on #783
Sola:  I'll confess.  I don't understand git.

We need to "get on the same page".  Talk on Skype or phone.  Best to screen-share.  Or zip your project and send it to me.

[2019-04-23 19:08] D4N commented on #214
If you **really** need C++ >= 11 support, then you'll have to rely on the Exiv2 master branch, as the current release still maintains C++98 compatibility.

Note though that the deprecation of `auto_ptr` is only a problem if you absolutely require C++17, as `auto_ptr` got removed there, for C++11 and 14 you'll only get a warning.

[2019-04-23 20:18] eadluru commented on #787
thank you very much i was able to build it myself

[2019-04-23 20:25] #787 closed

[2019-04-23 21:30] clanmills commented on #787
Happy Users, that's what we like.

[2019-04-24 15:19] boardhead commented on #236
This would be a perfect project for a Google Summer of Code person.

[2019-04-24 15:24] kevinbackhouse opened #789 "SIGSEGV in PngImage::readMetadata()"
There is a bug at [pngimage.cpp:469](https://github.com/Exiv2/exiv2/blob/55dfdb9ab007d6e6d1d06240048690eaac23b305/src/pngimage.cpp#L469). If `iccOffset == 0`, which happens if `chunkLength == 0`, then Exiv2 crashes with a SIGSEGV.

Here is the PoC, which I have tested on master ([55dfdb9](https://github.com/Exiv2/exiv2/commit/55dfdb9ab007d6e6d1d06240048690eaac23b305)): ![poc1](https://user-images.

[2019-04-24 15:27] boardhead commented on #236
... I just noticed that a comment of mine from a year ago in this issue was deleted.  I'm wondering what I said that made the comment deletable, so I don't do it again.  (Perhaps this comment will get deleted now, and I'll have some empirical evidence.)

[2019-04-24 15:39] kevinbackhouse opened #790 "Integer overflow, leading to very large allocation in PngImage::readMetadata()"
This issue is closely related to #789, but the consequences of this bug are different. The calculation of  `chunkLength - iccOffset` at [pngimage.cpp:472](https://github.com/Exiv2/exiv2/blob/55dfdb9ab007d6e6d1d06240048690eaac23b305/src/pngimage.cpp#L472) can have a negative integer overflow which leads to an 8GB memory allocation in `zlibToDataBuf`. Also, the zlib decompression is run on uninitial

[2019-04-24 16:03] kevinbackhouse opened #791 "Integer overflow, leading to very large allocation in WebPImage::decodeChunks()"
There is a bug at [webpimage.cpp:515](https://github.com/Exiv2/exiv2/blob/55dfdb9ab007d6e6d1d06240048690eaac23b305/src/webpimage.cpp#L515). If `filesize < io_->tell()` then the subtraction overflows and the bounds check on `size` is ineffective.

There is an additional problem in this function, which is that the error conditions are not checked after the calls to `io_->read`. Calls to `io_->read`

[2019-04-24 19:27] eadluru opened #792 "writing metadata"
i ma working on writing metadata to a tiff image as xmp file.

I use the following code:
//Writing Metadata into image

         Exiv2::Image::AutoPtr image = Exiv2::ImageFactory::open(filename.toStdString());
	assert(image.get()!=0);
	image->setExifData(exifData);
	image->writeMetadata();

but i am getting a error saying AutoPtr not a member og Exiv2::Image

[2019-04-24 20:14] kevinbackhouse opened #793 "null pointer dereference in http.cpp"
There is a null pointer deference bug at [http.cpp:364](https://github.com/Exiv2/exiv2/blob/55dfdb9ab007d6e6d1d06240048690eaac23b305/src/http.cpp#L364). If the http server sends back a reply that does not contain a space character, then `strchr` will return `NULL`, leading to a null pointer dereference in `atoi`.

To reproduce the bug (tested on master: [55dfdb9](https://github.com/Exiv2/exiv2/com

[2019-04-24 20:53] VioletGiraffe commented on #236
Pity there was no GSoC when I was a student, or at least I didn't hear about it.

[2019-04-24 20:54] clanmills commented on #793
@kevinbackhouse Thanks for the reporting this and the other vulnerabilities you've found in the png and webp code.

Are you willing to work with Team Exiv2 to fix some of this stuff.  Let me explain our situation:

We're a small group of volunteers (6 regulars).  We are currently refactoring a lot of the code in C++11 for v0.28 and hope to complete that work in 2020.  When that's in progress, we'l

[2019-04-25 03:37] clanmills commented on #792
I'm haven't understood your issue.  A message concerning "AutoPtr not a member of Exiv2::Image" sounds like a compiler error.  Are you building with 'master' or released code?

The team are "modernising" the code for v0.28 to C++11.  AutoPtr is being replaced with UniquePtr on 'master'

[code]

[2019-04-25 04:37] clanmills commented on #236
Exiv2 had GSoC students in 2012 (Abhinav) and 2013 (Tuan and Mahesh).  In 2014, I retired and moved house back from Silicon Valley to England.  Most the next 3 years were spent remodelling our house and working on Exiv2.

We applied this year (2019) to GSoC because the house project is complete, and I'm delighted to have recruited 5 contributors to Exiv2.  Sadly, Google did not not allocate a stud

[2019-04-25 11:31] kevinbackhouse commented on #793
No problem. I'll prepare some PRs.

[2019-04-25 11:51] D4N commented on #793
@kevinbackhouse Thanks for helping out! If you start working on something, please just make a quick note in that bug report so that no one else will start to work on that too.

In case you want to tackle the integer overflow issues, then please take a look at `src/safe_op.hpp`, that file contains primitives for overflow resistant additions (I never got to finish it for the remaining operations). I

[2019-04-25 12:03] kevinbackhouse commented on #789
I have started working on a fix for this.

[2019-04-26 10:57] clanmills commented on #792
I'm going to mark this as "Closed".  @eadluru If you wish to discuss this further, I'm happy to reopen the issue.

[2019-04-26 10:57] #792 closed

[2019-04-27 10:08] clanmills opened #798 "Install CMake/consume files in DESTINATION ${CMAKE_INSTALL_LIBDIR}/cmake/exiv2/"
https://github.com/Exiv2/exiv2/commit/aae88060ca85a483cd7fe791ba116c04d96c0bf9

[2019-04-27 10:42] #729 closed

[2019-04-27 10:46] #781 closed

[2019-04-27 10:53] #780 closed

[2019-04-27 11:54] piponazo opened #800 "CentOS build failing after merging #796"
After we merged #796 , some tests started to fail in the CentOS build. @D4N sensed that this could happen and he might have some intuition of why this situation has happened.

Update after investigation:
The problem comes from the fact that CentOS has a very old very of GCC in which regex is not  available:
[code]

See this [link](https://stackoverflow.com/a/12665408/1977218) for more info.

Possi

[2019-04-27 12:10] #798 closed

[2019-04-27 13:07] piponazo opened #803 "Install GMock in the Gitlab jobs missing it"
In #802 we have some builds failing because I stared using GMock there but it is not installed in some of the Gitlab distributions.

[2019-04-27 14:34] piponazo commented on #800
Description updated after investigation.

[2019-04-27 14:35] nehaljwani commented on #800
I think this is the problem: https://stackoverflow.com/a/12665408/1005215

If you upgrade the compiler on CentOS to >=4.9.0 it works. I have a PR at: https://github.com/Exiv2/exiv2/pull/804 which does this.

[2019-04-27 14:51] piponazo commented on #800
Exactly, we reached the same conclusion :wink: . I would like to hear @D4N 's opinion on this anyway before merging #804

[2019-04-28 18:07] xkomczax opened #811 "Sigma 14-24mm f/2.8 DG HSM Art Nikon"
Hi,
Sigma 14-24mm f/2.8 DG HSM Art Nikon is not properly detected yet. Here is info about this lens:
* Sigma 14-24mm f/2.8 DG HSM Art Nikon
* exiv2 -pt DSC_2525.JPG | grep -ai lens
Exif.Nikon3.LensType                         Byte        1  D G
Exif.Nikon3.Lens                             Rational    4  14-24mm F2.8
Exif.Nikon3.LensFStops                       Undefined   4  6
Exif.NikonLd3.LensID

[2019-04-28 18:38] clanmills commented on #811
Good News.  You can fix this for yourself with the file ~/.exiv2.  The LensID is 193 and you can define it in the [nikon] section of ~/.exiv2.  This is described in the exiv2 man page.
[code]

[2019-04-28 18:38] #811 closed

[2019-04-29 04:15] nehaljwani commented on #800
Can this be closed now?

[2019-04-29 04:44] D4N commented on #800
Please keep this open, I'd like to take a look at the current state.

[2019-04-29 13:17] #803 closed

[2019-04-29 18:23] xkomczax commented on #811
Thanks for your suggestion, I will do it!
However, is the lens going to make it to the master release one day? I cannot see the lens in any branch in this repo.

[2019-04-30 07:29] D4N commented on #800
I've taken a look at the current state of our CentOS build and it now requires a compiler from RedHat's SCL. This could be a problem for the CentOS maintainers of Exiv2, as they might not be allowed to build exiv2 with that compiler due to ABI constraints (I don't have definite answer on that one).

I see the following options:
1. Drop CentOS completely. Imho not a nice thing to do, the CentOS mai

[2019-04-30 08:56] piponazo commented on #800
My thoughts:
1. They can continue using 0.27 for months/years as we will not release 0.28 soon, and we plan to keep fixing security bugs in 0.27. For me it would be fine to drop CentOS from the master build, until they update their GCC version. At that moment we could add it back. Anyways, we would still have CentOS in the Gitlab pipelines in the branch `0.27-maintenance`.
2. Also a viable option.

[2019-04-30 09:28] Simon-12 opened #814 "Exiv2 0.27.1 in msvc 2017 static build"
Hey,
i built successfully exiv 0.27.1 with the given conan step-by-step guide.
Also got some examples working in Visual Studio 2017.

Then I tried to build static libraries, also following the given instructions:
- Changed BUILD_SHARED_LIBS=Off in CMakeLists.txt and
- compiler.runtime=MT in the conan profile.

Afterwards I repeated the previous guide. After the last step I get 29 Warnings.
Somethi

[2019-04-30 09:44] D4N commented on #814
Try to follow the steps from appveyor.yml, there it works. My guess is that `compiler.runtime = MT` is the culprit, but I can't verify that, I'm not a Windows user myself.

[2019-04-30 10:45] clanmills commented on #814
I think the warning about LIBCMT is because you are using different Run Time Libraries in a different parts of the build.  We used to support Visual Studio Solution/Project files and I took the decision "All DLLs or No DLLs".  So, setting MT for static is exactly what we used to do.

I see the warning `unresolved external symbol compress` refers to an entry point in ZLIB, so I think that's there s

[2019-04-30 11:06] clanmills commented on #811
It's unlikely that we'll add this lens to the "built in" lens table, although you are welcome to prepare a PR if you wish.  Here's a recent investigation into another Nikon lens #743

Lens recognition is a troubling matter.  The Lens is not explicitly/uniquely identified in the metadata.  Different manufacturers do this in different ways.  In the case of your Nikon lens, there is a LensID (an inte

[2019-04-30 11:50] clanmills commented on #800
Is it possible to use Boost::Regex by simply copying a couple of Boost header files into our code-base?  Then we don't require Boost to be installed.

[2019-04-30 11:52] Simon-12 commented on #814
Hey,
thank you for the very fast response.
ZLIB is a good point. I searched for the "zlib.lib" and found it in the conan directory.
I copied then the `zlib.lib` and `expat.lib` to the exiv2 folder. Afterwards i add both to the MSVC Linker-Input property.

Now the error messages reduced to 3:
`LNK2001	unresolved external symbol libiconv_open \exiv2.lib(convert.obj)`
`LNK2001	unresolved external sym

[2019-04-30 12:29] D4N commented on #800
We wouldn't need Boost::Regex for the default build, it would be only
required if you are running gcc 4.8 & 4.9 since their implementation of
<regex> is terribly broken. That means for CentOS one would add the
`boost-regex` package to `ci/install_dependencies.sh` and that's
it.

Note, I haven't tested this yet, so it might not work.

Robin Mills <notifications@github.com> writes:

[2019-04-30 12:43] clanmills commented on #800
We've seen this before.  There was something wrong with Regex on MinGW, so we "downgrade" grep to be sub-string match.  It's documented in README.md in `5.3 MinGW`  under `MinGW and Regex`.

[2019-04-30 12:55] clanmills commented on #814
I'm feeling fine now, thank you.  Some fruit and cereal for breakfast and about 50 emails have changed the day!

libiconv is used to convert characters set.  I think there's a option to say "don't bother with iconv' however I can't see it immediately.  Try building without NLS (natural language support).  `-DEXIV2_ENABLE_NLS=False'

My understanding of conan is that you shouldn't need to copy anyt

[2019-04-30 13:34] Simon-12 commented on #814
Thanks again for the fast response.

With `-DEXIV2_ENABLE_NLS=False` there is also no success. Maybe conan hides the file somewhere.
I think i have to rebuild the libconv. But not today. The sun here in germany shine bright as well!

[2019-04-30 13:37] clanmills commented on #814
@Simon-12 I've got this to build "out of the box" by following the notes in README-CONAN.md.  I created a static profile for msvc2017StaticRelease64 and set MT.  I get the ugly warnings about LIBCMT, however they are warnings.  The build passes the test suite.

I've investigated ICONV.  The cmake code searches for libiconv and doesn't find it on Windows.  It reports `Could not find Iconv (missing

[2019-04-30 16:42] clanmills commented on #814
@Simon-12 I've investigated the LIBCMT warning.  I'm not convinced that Conan/CMake is setting the MT linking flag when it builds the exiv2 library.  We appear to have a mix of /MT and /MD code.  When I run the following command on the built exiv2 command line:
[code]
There's strong evidence that it's using the dynamic run-time.  So the warning boils down to "Make up your mind, you can't use both

[2019-04-30 19:05] clanmills commented on #814
I've investigated why the build is using the dynamic runtime.  It's because we have to use the option `-DEXIV2_ENABLE_DYNAMIC_RUNTIME=False`.  So, for me, the CMake command is:

[code]

And the output of the command is:
[code]

I'm a little surprised that we have to tell CMake to use Static Run-time, when the MT option is known to conan from the profile.  I'll ask @piponazo to comment on this.  If

[2019-05-01 07:58] piponazo commented on #814
Hi guys. I remember that I spend some time deciding what to do with the SHARED/STATIC builds and with that RUNTIME cmake option that was there before I started touching the CMake code.

The last change I did in that are was this one (See commit message for more info):
https://github.com/Exiv2/exiv2/commit/dc086d2ebbb04817458b214708c5038600e96095#diff-a3d2e567cb209e245e5e6bd88320d823

I thought abo

[2019-05-01 08:16] clanmills commented on #814
Thanks @piponazo

I will clarify this in README-CONAN.md and submit a PR.  It'll be released in Exiv2 v0.27.2 currently scheduled for 2019-06-30.

[2019-05-01 08:16] #814 closed

[2019-05-03 07:25] joerncgm opened #818 "regression of '-g' between 0.25 and 0.26"
In version 0.25, -g produced this desired output:

[code]

in version 0.26 this no longer works:

[code]

I didn't find any bug report for this and can't test if it is fixed in 0.27.x, because compilation fails for me (NetBSD 8.0/amd64, GCC 5.5.0) with

[code]

NetBSD bundles it own libiconv. I could easily install GNU libiconv 1.14, but I have no idea how to tell CMake to use it.

[2019-05-03 09:17] clanmills commented on #818
Ah yes, I know the story about --grep.  Don't know about NetBSD/libiconv

### Grep

The grep code was reworked for 0.26 about 3 years ago.  It used to be a "sub-string" match and was enhanced to use regular expressions when available to the compiler.  You should be able to find out the compiler setting: `$ exiv2 --version --verbose --grep grep`.  There are several possibilities:

0 Sub-string
1 Co

[2019-05-03 10:15] joerncgm commented on #818
Thanks for the quick and thorough reply!

Before addressing your suggestions: Is there any other option to make
0.26 emit all the "raw" EXIF keys (i.e. something like
"Exif.Image.Model")? I could easily do the grepping later.

Am 03.05.2019 um 11:17 schrieb Robin Mills:

$ exiv2 --version --verbose --grep regex

yields "have_regex=1" for both 0.25 and 0.26, so this does not seem to
be the main pro

[2019-05-03 11:11] clanmills commented on #818
Good News.  Yes, you have lots of control over the output.  The --grep option applies with every version of the -pmod.  When you don't use -pmod, grep's broken (that's the bug you and somebody else have reported).  There are lots of modifiers such as -pe (Exif), -pX (Xmp), -pa (All).  So:

[code]

The team had a discussion about Grep when I was on vacation and I didn't pay close attention.  That's

[2019-05-04 13:59] #793 closed

[2019-05-04 14:25] piponazo commented on #783
Hi @ableade , I added your example in my **exiv2Consumer** repository and I could not reproduce your issue with VS 2017. It works fine for me:

[code]

Could you try to clone that repository and compile and run that executable?
https://github.com/piponazo/exiv2Consumer

The only tricky thing I had to do was to copy the DLLs from the exiv2 installation folder to the build folder where I compiled th

[2019-05-04 15:06] clanmills commented on #818
I've installed a NetBSD VM on my MacMini desktop.

I've got exiv2 to build and (mostly) pass the test suite.  I think the issue in src/convert.cpp is that the signature of the iconv() function on NetBSD is different from "the standard".  I modified the code in src/convert.cpp to `#undef EXV_HAVE_ICONV` and everything builds with "pure CMake" (with conan).

[code]

I installed python37, python27, p

[2019-05-05 05:49] piponazo commented on #759
Thanks for reporting. I could not reproduce the issue on master ... could you give more details about the platform, exiv2 version/commit used, compilation settings, etc ?

[2019-05-05 07:34] clanmills commented on #818
Progress update.

### Iconv
I've investigated building iconv 1.15 and that doesn't help.  CMake is correctly reporting `Iconv_IS_BUILT_IN`.

The signature of iconv() on NetBSD expect a "const char*.  There's a symbol EXV_ICONV_CONST in exv_conf.h to provide that.  It's not being correctly set on NetBSD.  When I set it, the code builds.

I haven't discovered yet how that gets see (or not set)

###

[2019-05-05 07:37] clanmills opened #823 "Support build/test of Exiv2 on NetBSD"
This is derived from a discussion about #818

[2019-05-05 08:07] #589 closed

[2019-05-05 10:58] clanmills commented on #823
Here's the patch:
[code]

I'll submit this as a PR to 0.27-maintenance this evening.

[2019-05-05 11:50] clanmills commented on #823
### Unittests
build/install google test to run the unit tests:
[code]

Build unit tests:
[code]
Something wrong in obtaining the executable path.  I'll investigate later.

[2019-05-05 12:33] #790 closed

[2019-05-05 13:57] D4N commented on #823
Thanks for taking a look at this @clanmills. It would be nice to have a CI for this, but unfortunately there's literally no one offering NetBSD (FreeBSD is offered on sourcehut, which I plan on adding at some point).

[2019-05-05 16:12] clanmills commented on #823
No problem.  We can use Jenkins on the MacMini.  @nehaljwani and I will work on that, right Nehal?

[2019-05-05 18:43] clanmills commented on #763
I believe this was fixed on 'master' in #802, however it doesn't appear to have been fixed on 0.27-maintenance.

[2019-05-05 19:13] clanmills commented on #783
I'm going to set the Milestone for this to v0.27.2 which is schedule to be released at the end of June.  When we arrive at Exiv2 v0.27.2 RC1 (probably about June 10) this issue will be closed if we have made no further progress.

[2019-05-06 05:59] #789 closed

[2019-05-06 06:22] VenusADLab opened #828 "Segmentation fault in pgnimage.cpp:329."
**Describe the bug**
An issue was discovered in Exiv2 0.27.1. There is reading beyond buffer at tEXtToDataBuf in the file pngimage.cpp. This can be triggered by a crafted file. It allows an attacker to cause Denial of Service (Segmentation fault) or possibly have unspecified other impact.
**To Reproduce**
Steps to reproduce the behaviour:
1. Provide image with which you observed the issue
![image]

[2019-05-06 06:47] clanmills commented on #828
Thanks for reporting this.  It will be investigated and hope to release a fix in Exiv2 v0.27.2 which is schedule for 2019-06-30.

[2019-05-06 18:17] clanmills commented on #818
Progress update on the `$ exiv2 -g foo image...` command.  The fix is:
[code]

I'll submit a PR in the next few days to the branch 0.27-maintenance.  I'll also add a regression detector to the test suite to ensure this feature is no "lost overboard" again.  I'll also update the man page src/exiv2.1 to document this feature of the exiv2 command-line program.

[2019-05-06 18:32] clanmills commented on #823
Progress update.

The patch above is "basically valid".  However there are several consequential issues to be considered.  For example:
1) Make NetBSD a "supported build" and generate build bundles for release.
- requires releasenotes/NetBSD/ReadMe.txt
- update cmake/packaging.cmake appropriately
- build on our Jenkins buildserver
2) Enable `$ exiv2 --verbose --version` to report:
- have_regex and

[2019-05-07 11:34] joerncgm commented on #818
Hi Robin!

Thanks for all the effort you are putting into this, it's more than I
could ever have asked for!

As I install my software using pkgsrc, I'll inform the pkgsrc
maintainers to update the corresponding package as soon as the fix is
released.

--
Jörn Clausen
Daten- und Rechenzentrum
GEOMAR Helmholtz-Zentrum für Ozeanforschung Kiel
Düsternbrookerweg 20
24105 Kiel

[2019-05-09 11:07] clanmills commented on #818
Thank you for your kind words.  I've submitted the PRs for your issues #818 (#831) and #823 (#833).

Exiv2 v0.27.2 is scheduled for 2019-06-30 and is on-track at present.  The release announcement on Facebook and if you "Like" our page, you'll get a notification.  https://www.facebook.com/exiv2/

I'm rather pleased with this issue.  An issue was raised concerning FreeBSD with v0.27.0 RC1.  It's go

[2019-05-11 18:03] #818 closed

[2019-05-12 12:18] #791 closed

[2019-05-12 18:19] piponazo opened #836 "Move getLoadedLibraries to src/futils.cpp"
We can move getLoadedLibraries() to src/futils.cpp and add it to the API. Then remove a load of include files from src/version.cpp. You'll need to move static bool pushPaths() to src/futils.cpp (as a static/helper function that's not in the API).

[2019-05-13 11:02] kevinbackhouse opened #839 "Out of memory error due to unchecked allocation size in LoaderTiff::getData()"
This bug was found by AFL. The value of `size_` has not been checked before [this line of code](https://github.com/Exiv2/exiv2/blob/f4a37c63f2f890c16ff7192fc89a75a7c34ae82b/src/preview.cpp#L809), leading to a large allocation. This can cause `exiv2` to crash with an out-of-memory error if less than 4GB RAM is available.

![issue_839_poc](https://user-images.githubusercontent.com/4358136/57617050-b

[2019-05-13 11:53] kevinbackhouse opened #841 "Invalid data location in CRW image causes exiv2 to crash"
The attached file causes an assertion failure in `exiv2`.

![issue_841_poc](https://user-images.githubusercontent.com/4358136/57619635-45452800-757e-11e9-8496-9e198b7f53f4.jpg)

Reproducible on the 0.27-maintenance branch ([f4a37c6](https://github.com/Exiv2/exiv2/commit/f4a37c63f2f890c16ff7192fc89a75a7c34ae82b)):

[code]

[2019-05-13 12:58] kevinbackhouse opened #843 "Integer overflow causes out-of-bounds read in CiffDirectory::readDirectory()"
The problem is that the calculation of `o+2` can overflow at [crwimage_int.cpp:284](https://github.com/Exiv2/exiv2/blob/f4a37c63f2f890c16ff7192fc89a75a7c34ae82b/src/crwimage_int.cpp#L284).

![issue_843_poc](https://user-images.githubusercontent.com/4358136/57623256-52b2e000-7587-11e9-9696-70483a645830.jpg)

Reproducible on the 0.27-maintenance branch ([f4a37c6](https://github.com/Exiv2/exiv2/commi

[2019-05-13 13:42] kevinbackhouse opened #845 "Out of memory error due to unchecked allocation size in PngChunk::parseChunkContent()"
The attached file causes a `std::bad_alloc` exception in `exiv2`.

![issue_845_poc](https://user-images.githubusercontent.com/4358136/57626292-7e38c900-758d-11e9-99aa-85d538eea630.png)

The bug is that there is no bounds check on the value of `length` at [pngchunk_int.cpp:669](https://github.com/Exiv2/exiv2/blob/f4a37c63f2f890c16ff7192fc89a75a7c34ae82b/src/pngchunk_int.cpp#L669).

Reproducible on

[2019-05-13 15:40] kevinbackhouse opened #847 "Out of memory error due to unchecked allocation size in PgfImage::readMetadata()"
Unchecked allocation size can cause a `std::bad_alloc` exception at [pgfimage.cpp:140](https://github.com/Exiv2/exiv2/blob/f4a37c63f2f890c16ff7192fc89a75a7c34ae82b/src/pgfimage.cpp#L140).

![issue_847_poc](https://user-images.githubusercontent.com/4358136/57634799-ee4f4b00-759d-11e9-807d-d4cfdd9036d7.png)

Reproducible on the 0.27-maintenance branch ([f4a37c6](https://github.com/Exiv2/exiv2/commit

[2019-05-14 09:27] kevinbackhouse opened #851 "Denial of service in XMPUtils AdjustTimeOverflow()"
There is a denial of service bug in the loop at [XMPUtils.cpp:245](https://github.com/Exiv2/exiv2/blob/c0ecc2ae36f34462be98623deb85ba1747ae2175/xmpsdk/src/XMPUtils.cpp#L245) because `time->day` can be very large. This loop adjusts out-of-bounds days by subtracting one month at a time. Since the type of `time->day` is `long`, this can take a very long time.

![issue_851_poc](https://user-images.git

[2019-05-14 10:25] kevinbackhouse opened #853 "Out of memory error due to unchecked allocation size in JpegBase::readMetadata()"
There is an out-of-memory error at [jpgimage.cpp:484](https://github.com/Exiv2/exiv2/blob/c0ecc2ae36f34462be98623deb85ba1747ae2175/src/jpgimage.cpp#L484) because there is no bounds check on the value of `s`.

![issue_853_poc](https://user-images.githubusercontent.com/4358136/57691057-1b057000-763b-11e9-87cf-337e4b6a2ffd.jpg)

Reproducible on the 0.27-maintenance branch ([c0ecc2a](https://github.co

[2019-05-14 12:14] kevinbackhouse opened #855 "Out of memory error due to unchecked allocation size in PsdImage::readMetadata()"
There are several out-of-memory errors in [PsdImage::readResourceBlock()](https://github.com/Exiv2/exiv2/blob/c0ecc2ae36f34462be98623deb85ba1747ae2175/src/psdimage.cpp#L242) because there was is no bounds check of `resourceSize` in [PsdImage::readMetadata()](https://github.com/Exiv2/exiv2/blob/c0ecc2ae36f34462be98623deb85ba1747ae2175/src/psdimage.cpp#L226).

![issue_855_poc](https://user-images.gi

[2019-05-14 14:16] kevinbackhouse opened #857 "Out of memory error due to unchecked allocation size in RafImage::readMetadata()"
There is no bounds check on the size of `jpg_img_len` at [rafimage.cpp:300](https://github.com/Exiv2/exiv2/blob/c0ecc2ae36f34462be98623deb85ba1747ae2175/src/rafimage.cpp#L300), leading to an out-of-memory exception.

![issue_857_poc](https://user-images.githubusercontent.com/4358136/57705359-a131ae80-765b-11e9-96d6-04a536584266.jpg)

Reproducible on the 0.27-maintenance branch ([c0ecc2a](https://g

[2019-05-15 07:28] #839 closed

[2019-05-15 07:29] #845 closed

[2019-05-15 07:29] #843 closed

[2019-05-15 09:49] #841 closed

[2019-05-15 11:10] #847 closed

[2019-05-16 00:16] D4N commented on #851
As I said in #852: this is a bug in xmpsdk and while we can certainly patch this bug, this really should be fixed upstream.

[2019-05-16 05:50] piponazo commented on #851
Kevin mentioned that we would also report the issue to Adobe. Thanks again for your amazing contributions! :heart:

[2019-05-16 05:50] #851 closed

[2019-05-16 07:41] #853 closed

[2019-05-16 08:47] kevinbackhouse commented on #851
I sent an email to PSIRT@adobe.com yesterday and I already got an acknowledgement email back from them. So hopefully there will be a new XMP toolkit available in time for v0.28. In the meantime though, I think we should probably include this fix in v0.27.

[2019-05-16 09:39] #855 closed

[2019-05-16 10:01] kevinbackhouse opened #867 "Out of bounds read in IptcParser::decode()"
There's an out-of-bounds read at [iptc.cpp:465](https://github.com/Exiv2/exiv2/blob/1c1436e94eb5d5390f93ccf82b5cc72da70f5631/src/iptc.cpp#L465). `sizeOfSize <= 4` it can only read a few bytes beyond the end of the buffer.

![issue_867_poc](https://user-images.githubusercontent.com/4358136/57845563-21762200-77ca-11e9-9470-2d754f3f4c04.jpg)

Reproducible on the 0.27-maintenance branch ([1c1436e](htt

[2019-05-16 11:58] kevinbackhouse opened #869 "Out of bounds read in PngChunk::readRawProfile()"
This is embarrassing. I failed to spot this when I was fixing #845. The call to `atol` at [pngchunk_int.cpp:670](https://github.com/Exiv2/exiv2/blob/1c1436e94eb5d5390f93ccf82b5cc72da70f5631/src/pngchunk_int.cpp#L670) can read off the end of the buffer, because there is no guarantee that the string is `'\0'` terminated.

![issue_869_poc](https://user-images.githubusercontent.com/4358136/57852601-75

[2019-05-16 13:39] #857 closed

[2019-05-16 14:46] kevinbackhouse commented on #843
This bug is also reproducible in v0.25, but not in v0.26, so I have created #874 to back-port the fix to v0.25.

[2019-05-16 14:47] kevinbackhouse commented on #841
This bug is also reproducible in v0.25 and v0.26, so I have created #872 and #873 to back-port the fix.

[2019-05-16 15:06] kevinbackhouse commented on #845
This bug is also reproducible in v0.25 and v0.26, so I have created #875 and #876 to back-port the fix.

[2019-05-16 16:23] D4N commented on #841
We are no longer maintaining 0.26 and 0.25, so backporting these fixes is not strictly necessary. You're of course free to do that anyway ;-)

[2019-05-17 03:52] #828 closed

[2019-05-17 05:09] #867 closed

[2019-05-17 15:00] #869 closed

[2019-05-17 16:06] #836 closed

[2019-05-17 16:06] piponazo commented on #836
Fixed by #849

[2019-05-17 16:08] piponazo commented on #823
@clanmills can we close this ticket once #833 was merged ?

[2019-05-17 16:16] piponazo commented on #763
I am afraid this is not easily applicable in 0.27. We would need to make considerable changes in the CI scripts to install gmock there (I gave it a try, but I think does not worth it the effort). I propose to skip this change from 0.27 since it is only an issue in the testing code, but not in production code (and now we are mostly taking care about security issues in 0.27).

[2019-05-17 16:16] #763 closed

[2019-05-17 18:23] robyquin opened #880 "Nikon D90 - wrong FileNumber and DirectoryNumber"
I'm using exiv2 version 0.27.1 on Linux and Windows,
and this bug occurs on both OS

The bug concerns the bad interpretation of the tags FileNumber and DirectoryNumber (and maybe others) in NEF Files of my Nikon D90, but there is not in NEF files of my Nikon D7500.

If I take the values from NikonD90, and I divide them by 256, I get the correct values.

Is it possible that it depends on the differ

[2019-05-17 19:18] clanmills commented on #823
Yes.  It's closed.  I've update the Jenkins scripts (in SVN) to build on those platforms.

[2019-05-17 19:18] #823 closed

[2019-05-17 19:21] clanmills commented on #880
Thanks for bringing this to our attention.  Do you have test files for both D90 and D7500 and I will investigate.

[2019-05-18 06:45] robyquin commented on #880
I send you two photos, each name explains from which camera they come.

(format filename: **%Y%m%d_%H%M%S_FileNumber_Model.ext**)

in file D90, I get FileNumber = 4864 (instead of 19)

[20180913_205446_0019_NIKON_D90.zip](https://github.com/Exiv2/exiv2/files/3193747/20180913_205446_0019_NIKON_D90.zip)
[20180922_225401_0040_NIKON_D7500.zip](https://github.com/Exiv2/exiv2/files/3193748/20180922_2254

[2019-05-18 11:01] D4N commented on #851
Awesome job @kevinbackhouse!

[2019-05-18 11:44] clanmills commented on #851
Great Work, @kevinbackhouse

For v0.27, @piponazo added an option to the build using an "external" XMPsdk.  This is documented in README-CONAN.md  So, it is possible to build Exiv2 with Adobe's XMPsdk 2016 Edition.  For v0.27 we continued to support the existing xmpsdk/ code because it has given solid service for at least 10 years most users will build exiv2 without even know it's there!

We haven

[2019-05-18 12:35] clanmills commented on #880
Thanks for the files and can reproduce your issue:
[code]

You are correct that the _D90 file is `MM` encoded and 7500 is `II`:
[code]

The Nikon3 "FileInfo" tag is 00x00b8.  You'll find the documentation here: https://exiv2.org/tags-nikon.html.  Both FileNumber and DirectoryNumber are "Short".  The binary decoder seems to be unaware that the D90 file is MM encoded.

[code]

I'll debug the code an

[2019-05-18 17:05] robyquin commented on #880
For similitude with **canon array**, I would suggest replacing **littleEndian/bigEndian** with **invalidByteOrder**
(this change should also be verified on the other arrays)

in fact replacing it as follows and compiling on LINUX, it seems to work for me

in src/tiffimage_int.cpp
[code]

[2019-05-18 20:24] clanmills commented on #880
Thanks.  I agree.  For FileNumber and DirectoryName the patch is:
[code]
And it passes the test suite.

I didn't write this code, so although I know in general how it works, I'm not an expert on the makernotes being decoded.  I see that ArrayCfg's are defined with a mix of "inherit" and "little endian".   I see that all the "littleEndian" instances are nikon__Cfg.  My inclination is to change all

[2019-05-19 07:41] #735 closed

[2019-05-19 10:55] phako opened #883 "Announcement platform for API changes"
Sorry to do this via an issue...

I just noticed by my CI failing that master introduced an API change (long -> size_t). Do you provide a way to get notified about this by some kind of mailinglist etc? If not, consider this a feature request for providing this or something similar

[2019-05-19 11:10] clanmills commented on #883
@phako Does this reference 'master' or the `0.27-maintenance` branch (or both)?

@D4N talked about having a mail server and I think @nehaljwani offered to get it set up.

Perhaps you can offer suggestions about our work-flow.  We're making regular "dot" releases on the 0.27-maintenance branch and hope to avoid API changes.  We provide RCs of the "dot" releases and I was hoping to get feedback if w

[2019-05-19 12:31] phako commented on #883
This is really about master and I'm well aware that it might change, I just would like to find out about it before my CI breaks (but then again that's why I set up the CI in the first place). Maybe I can also simply subscribe to some kind of commit digest from github, I need to figure that out

If it is any help to you, I do have a weekly pipeline running against 0.26, 0.27 and master branches her

[2019-05-19 13:17] clanmills commented on #883
Thank You, Jens.  I'll look at your pipelines this evening.  I'll try to motivate @nehaljwani to undertake the challenge of both the mailing list, and adding something to the test suite to look for changes in the ABI (and possibly API).

As you've said, one of the purposes of CI is to know if a change has broken your build.  However it would be good for us to be "pro-active" in monitoring and noti

[2019-05-19 16:31] clanmills commented on #883
@phako Team Exiv2 have a Slack channel on which we chat "off-line".  Mostly it's about vacations and stuff like that as the "formal" discussions take place in GitHub issues.  If you'd like to join our channel (we have several other "friends" as well as Team Members), please email me: robin@clanmills.com and I will send you an invitation.

[2019-05-19 17:59] clanmills commented on #880
There's no doubt that the correct fix is to use `invalidByteOrder` and not `littleEndian` for every instance of `ArrayCfg` in `src/nikonmn_int.cpp`.

All the test failures involve the same metadatum `Exif.NikonAf.AFPointsInFocus` and file `test/data/exiv2-nikon-d70.jpg`.  The existing (incorrect) behaviour is:

[code]

With the change:
[code]

When I submit the PR, I'll close this issue.  Appropri

[2019-05-20 10:38] clanmills commented on #883
I'm getting a '404' from the pipeline_schedules.  I can see:  https://gitlab.gnome.org/GNOME/gexiv2/, however I'm not familiar with GitLab, so I'm not sure what I am looking at!

Incidentally, Exiv2 also uses GitLab to build many different distributions.  @D4N and @piponazo are the experts.  I have a Jenkins server running on my MacMini and use that to build the supported platforms (Visual Studio

[2019-05-20 10:38] #883 closed

[2019-05-20 10:39] clanmills commented on #880
PR: https://github.com/Exiv2/exiv2/pull/885

[2019-05-20 10:39] #880 closed

[2019-05-20 10:40] #783 closed

[2019-05-20 10:59] D4N commented on #883
I plan to setup a list on sourcehut (https://lists.sr.ht/~d4n/), but haven't created and announced it yet.

Also, I'm not sure if we'll announce every API change for master there, as we are currently experimenting on master and things haven't settled down yet. The size_t change is bound to stay though.

[2019-05-20 11:24] phako commented on #883
Oh right, sorry, that seems for project owners only.

No worries. It was a merely a suggestion and as you said, there's only so much time. And I have the CI to catch issues as a fall-back

[2019-05-20 11:26] clanmills commented on #883
Thanks, Dan.  I'm hoping to persuade @nehaljwani to take on this challenge.  There are two different matters:

1) The mailing list/server/users and spam monitor
2) What are we going to announce on the mailing list?
@phako is asking for API changes and I'd like Nehal to add something to the test suite to monitor the API.

[2019-05-20 11:31] clanmills commented on #883
@phako Thanks for pointing me to the flatpak code.  I've no idea what that does, however it looks and smells beautiful!
![DSC_9217](https://user-images.githubusercontent.com/529982/58018619-34a32d80-7afb-11e9-849a-fdf904bec254.jpg)

[2019-05-20 13:02] clanmills commented on #880
I put the following note in PR #885  I'll repeat it here as this may require additional work in future.  So better to record this twice to make it more likely to be discovered if required!

_I see there are instances of bigEndian in ArrayCfg in src/tiffimage_int.cpp When I changed them to invalidByteOrder, I got new test failures. The test bugfixes/redmine/test_issue_666.py writes a new Nikon Make

[2019-05-20 18:05] #467 closed

[2019-05-20 18:58] piponazo commented on #149
Closing this issue, since we solved the situation a long time ago.

[2019-05-20 18:58] #149 closed

[2019-05-21 10:38] clanmills commented on #743
PR with code and update to the test suite has been submitted to branch 0.27-maintenance  #886

Fix will be included in Exiv2 v0.27.2 which is on schedule for release on 2019-06-30.

The fix will be ported to 'master' and included in Exiv2 v0.28 which we hope to release in 2020.

[2019-05-21 10:38] #743 closed

[2019-05-21 12:34] clanmills commented on #582
Guys

I've reduced git to 5 commands and wrote them on a little card.  The weird brown marks were added by the cat (don't ask how).

![GitIdiotCard](https://user-images.githubusercontent.com/529982/58096322-badb7480-7bcc-11e9-80b7-0bc932aac7d9.jpg)

I hope to get the fix for this into v0.27.2 which is on-track to ship on 2019-06-30.  I'll do the code for this in early June when I get back from Sco

[2019-05-22 07:58] clanmills commented on #662
PR Submitted.  https://github.com/Exiv2/exiv2/pull/889

This change will be in Exiv2 v0.27.2 which is on schedule for release on 2019-06-30

The behaviour of `$ exiv2 --Force rename image` is conservative.  It should never overwrite an image.  It does this by incrementing a counter until a new filename is found.

[code]

[2019-05-22 07:58] #662 closed

[2019-05-23 08:24] clanmills commented on #754
I'm closing this matter.  We provide the ~/.exiv2 feature to deal with this.

The Lens is not explicitly identified in the metadata.  We have to "guess" the lens from other metadata such as LensIDNumber.  Not only is that tag in the Nikon MakerNotes (and therefore only valid for Nikon cameras, the same LensIDNumber can be used by more than one lens).  As @FreddieWitherden said:

It's hard to belie

[2019-05-23 08:24] #754 closed

[2019-05-25 09:51] clanmills opened #890 "API Compatibility v0.27 vs v0.27 "dots""
@nehaljwani  shared something about ABI/API compatibility of different releases of Exiv2.  I think it was this:  https://abi-laboratory.pro/index.php?view=timeline&l=exiv2

In the past, I have not worried about API/ABI compatibility.  Every release of Exiv2 (v0.24, v0.25 etc) has similar and slightly different APIs.  They have a different set of headers and different library filenames.  This is “o

[2019-05-27 03:32] D4N commented on #890
This change was introduces in commit 86816c0280869ed3caff301df17c6f5ffbbe8cce (by @kevinbackhouse)

This change was introduced in commit d1097fab599c15d4d3293e88f651f6bfaecd3ee5 (by @piponazo). I guess that this one should have been marked with hidden visibility, but we missed that during code review.

Not sure why this shows up in the diff, the header containing this function got touched last in

[2019-05-27 08:20] clanmills commented on #890
Thanks for those comments @D4N.  Very helpful.

You're correct that entry points in the "Internal" namespace aren't in the "public API".  My aim is to enable "dynamic library swapping" (DLLs on Windows, .so on Linux/Unix and .dylib on MacOS-X).  So far, I've only looked on MacOS-X and will be investigating other platforms for v0.27.2.

We're in Scotland this week on family business.  Looking forwa

[2019-05-27 10:23] Dembalulua opened #893 "error: no type named 'Error' in namespace 'Exiv2'"
I'm the maintainer of the Python-3 binding of exiv2.

The version 0.27 of exiv2 had introduced an issue into the binding with the error codes.

Then I've changed my code like this:

#if EXIV2_MAJOR_VERSION >= 1 || (EXIV2_MAJOR_VERSION == 0 && EXIV2_MINOR_VERSION >= 27)
#define HAVE_EXIV2_ERROR_CODE
#endif

#ifdef HAVE_EXIV2_ERROR_CODE
// version >= 0.27
#define CHECK_METADATA_READ \
    if (!_data

[2019-05-27 11:52] Dembalulua commented on #893
Sorry, there is a typo is not the version 0.27.2 but 0.27.1.

[2019-05-27 14:39] D4N commented on #890
Dynamic library swapping requires a stable ABI, which is considerably more work
than having a stable API, so I don't think that we'll be able to achieve that before 1.0.

[2019-05-27 16:12] clanmills commented on #893
Thanks for getting in touch about this.  And thank you for your work on py3exiv2.  About a year ago, somebody asked about building pyexiv3 on CentOS and I got v0.26 to build and documented:   https://dev.exiv2.org/projects/exiv2/wiki/BuildingPy3Exiv2onCentos

Last week, the maintainer of gexiv2 has asked about API stability of the Exiv2 v0.27.N APIs: https://github.com/Exiv2/exiv2/issues/890 Exiv2

[2019-05-28 05:35] clanmills commented on #893
I've installed `boost_1_70_0` on my MacBook Pro and your code `py3exiv2-0.7.0`.

I had to make a couple of changes to get your code to compile:
[code]
It now compiles.  However setup.py doesn't seem to work on MacOS-X.

[code]

I know I investigated this last year and it was some platform issue concerning the path to python on MacOS-X.

The point is that the code compiles and I don't see any issue

[2019-05-28 08:59] Dembalulua commented on #893
Thinks are often more clear after one night.

With some minor changes, I can now compile for OS X.

I've add #include "exiv2/exiv2.hpp" in exiv2wrapper.hpp and modified the setup.py to find libboost_python3*

The packages available here: http://www.py3exiv2.tuxfamily.org/downloads are updated but not yet on PyPI.

PS. I see your last post now, it seems we have made the same changes.

[2019-05-28 09:41] clanmills commented on #893
Good Stuff.  Great Minds Think Alike!

I'm closing this now.  Always happy to be of help to you.  Thank You for promoting the use of Exiv2.

[2019-05-28 09:41] #893 closed

[2019-05-30 15:07] rokezu opened #895 "'exiv2 mv -r' not accepting format"
**Describe the bug**
When using exiv2 0.27.1, and renaming a file, the format string is now treated as a filename and ignored, also a temporal file remains in the directory, and new ICC Profile error messages appear.

**To Reproduce**
[code]
(In this example, the file was previously renamed to the default format string, even when a new string is used, as in the example)

Also, files with names lik

[2019-05-31 15:34] clanmills commented on #895
Thanks for reporting this.  I'm on vacation at the moment and will investigate next week.  The schedule for Exiv2 v0.27.2 is 2019-06-30 and I hope to include a fix for this into that release.

[2019-05-31 16:13] clanmills commented on #895
This isn't a bug.  The action **`'mv'`** should follow the options:

The syntax of the exiv2 command is:
[code]
All the 'options' you have used following **`'mv'`** have been treated as files,  so:
[code]
has been correctly diagnosed: "Failed to open the file"

Warnings such as:
[code]
Are emitting the wrong message and I will investigate and fix that.

The command-line syntax could be modified to

[2019-05-31 16:38] rokezu commented on #895
Oh, thanks for pointing that out, perhaps the command line format got more strict recently? I will update my scripts, they were working with `exiv2 mv -F -t -r '<format>'` for years maybe, I have changed them to `exiv2 -F -t -r '<format>' mv`.  and work fine now.

After using the correct arguments, neither the ICC Profile errors continue nor the temporary file remains.

My bad, seemed to a bug to

[2019-05-31 17:15] clanmills commented on #895
There was a substantial change to the command-line parser for v0.27.  We used to use the system's `::getopt()` on most platforms and had some code (of unknown origin) to implement `::getopt()` on Windows.  We adopted the `getopt()` code for every platform to guarantee consistent parsing on all platforms.  Although we didn't intend side effects, it is possible that the pre-0.27 parsing was more for

[2019-06-03 22:57] D4N opened #896 "Enable git LFS"
We should enable git LFS or create an additional repository with git LFS enabled to store large test files, like the one mentioned in #810.

Any objections, suggestions, comments?

[2019-06-06 12:04] clanmills commented on #895
There is a bug in the handling of a file which begin with **`-`** such as **`-F`**.  These are being incorrectly interpreted as stdin.  The fix for this is in `src/futils.cpp` in function `Protocol fileProtocol(const std::string& path)` and `Protocol fileProtocol(const std::wstring& wpath)`.

I've made some additional changes to `src/basicio.cpp`.  These changes aren't essential, however I believe

[2019-06-06 12:04] #895 closed

[2019-06-07 17:55] clanmills commented on #646
PR Submitted:  #900

[2019-06-07 17:55] #646 closed

[2019-06-09 01:45] tester0077 opened #901 "Building exiv2 libraries under Win 10 with MSVC 2017"
After some time off, I was coming back to try and use libexiv under Windows and I see that much has changed.
Is this the proper place to get help with sorting out the process of building the libs in this environment? Assuming so:
I have tried to follow the instructions for windows from https://github.com/Exiv2/exiv2/blob/master/README-CONAN.md#1-1, but am stuck when I try to run my first conan bui

[2019-06-09 07:46] clanmills commented on #901
We have two projects in progress at the moment:

v0.28 'master' is a major refactoring of the code for the future
v0.27 '0.27-maintenance' are quarterly security fixes and minor changes

The EXIV2_ROOT is the location of the code. For example: /home/user/github/exiv2/master

[2019-06-09 18:38] tester0077 commented on #901
Thank you, that got me further along the job.
I was able to run

- conan install .. --build missing  --profile msvc2017Release64
- cmake ..  -G "Visual Studio 15 2017 Win64"
- cmake --build . --config Release

Where I get
[code]
This warning has me puzzled:
**C:\gnuwin32\lib\libiconv.lib : warning LNK4272: library machine type 'x86' conflicts with target machine type 'x64' [D:
\pkg\C++\MSVC2017\ex

[2019-06-09 18:57] clanmills opened #902 "Support for Solaris 11.4"
This is work-in-progress and unlikely to be completed as no user has requested this.  Having put in effort, I don't want this lost for all time.  I'll target this for v0.27.3.

#### Status
Builds and passes the python test suite.
Does not pass the bash test suite because the Solaris version of diff is different from other platforms.
I haven't looked at cmake/packaging.cmake

#### Fix
It's likely t

[2019-06-10 10:13] clanmills opened #903 "$ exiv2 -vVg debug and $ exiv2 -vVg dll are not working correctly."
**Describe the bug**
$ exiv2 -vVg debug and $ exiv2 -vVg dll are not working correctly.

**To Reproduce**
Steps to reproduce the behaviour:
[code]

**Expected behavior**
[code]

**Desktop (please complete the following information):**
All platforms

**Additional context**

There are two different causes:
1) debug=0
The code to set this is in src/version.cpp which expects `NDEBUG` to be set (or abs

[2019-06-10 11:14] clanmills commented on #901
Ah, yes.  I've seen conflicts like this before.

I use the script cmd64.cmd in README.md to start cmd.exe with a simplified path and other environment strings.  I do this to avoid collisions with cygwin and other stuff on the build machine.

The error you have reported looks correct.  You have a 32-bit build on libiconv.lib which CMake wants to link.  On my Windows-10 system, I don't have libiconv

[2019-06-10 12:14] 8i8 opened #904 "Canon 1Ds thumbnail colour corrupted."
**Describe the bug**
I have been investigating a bug in darktable when using my canon 1Ds camera, the thumbnails for the cameras tiff format are auto extracted from the files by exiv2. The Images that are returned have a colour matrix problem, the highlights are out of gamut and apear to be overflowing into totaly different colour ranges; I suspect an issue with the word size.

**To Reproduce**
Th

[2019-06-10 13:07] clanmills commented on #904
@8i8 Thank you for reporting this.  Can you attach to original file and I will investigate.  Have you investigated extracting the thumbnail with ExifTool?

I'm focused at the moment on releasing Exiv2 v0.27.2-RC1 by the end of this week and Exiv2 v0.27.2 by 2019-06-30.  I've assigned this to Milestone v0.27.3 which is scheduled for 2019-09-30.

[2019-06-10 20:21] 8i8 commented on #904
That would be my pleasure, thank you for addressing this. I have not been able to extract a preview of a thumbnail image with ExifTool either. I have been trying to extract the image using libtiff and some simple C code but am very new to working with tiffs in this way and as such have not yet succeeded in this, I gathered so far that there is a small preview tiff in the first tiff directory which

[2019-06-11 11:34] clanmills commented on #904
Thanks for attaching the file.  I've reproduced your report.

My suspicion here is the the preview is BGR encoded instead of RGB encoded.  In the preview, the strong red/purple is in the location the sand (yellow = R+G) in the original.  Looking at the metadata in the preview/tiff:
[code]

I've messed about with the extracted image.  `Exif.Image.PhotometricInterpretation` is at byte 67.
[code]
I'v

[2019-06-11 19:36] tester0077 commented on #901
My apologies for the tardy reply; I was sorting out some details with the utilities I intend to use the Exiv2 library with, mainly to set things up to create a 64-bit version.
I have found findDependencies.cmake, and will see whether commenting out the section you mentioned will work.
Overall, I expect that I will need  libiconv because I expect that there will be some Unicode encoded strings to b

[2019-06-11 19:49] tester0077 commented on #901
What would it take to make a 32-bit version? - more generally useful under Windows

[2019-06-11 21:25] clanmills commented on #582
I've almost got this working and I will submit a PR which passes the test suite.

I don't believe the decrypt is working correctly.   I've successfully added the binary array handler.

#### Decryption code

[code]

This isn't correct.  When it decodes the data from test file, the decoded data is similar to Phil's.  However it's not the same!

#### Adding a binary array handler:
[code]

I hope we c

[2019-06-11 22:37] clanmills commented on #901
Exiv2 builds in 32 bits on all platforms.  I think 32 bit died with XP, however I believe there are still lots of folks using XP!

For MSVC 2017:
[code]
You will need the profile msvc2017Release32.  This is documented in README-CONAN.md  You can copy the profile from `<exiv2dir>\cmake\msvc_conan_profiles` to `%USERPATH%\.conan\profiles`

[2019-06-12 05:01] cryptomilk commented on #582
I'm looking forward to v0.27.2

[2019-06-12 07:11] clanmills commented on #890
I did more work on this two weeks ago while on vacation in Scotland.  I can copy the Shared objects (DLL, .so, .dylib) built with 0.27.2.99 and run them on 0.27.0 test suite.  This runs successfully.  It produces some benign warnings for (correct) output changes.

I am going to focus on releasing 0.27.2.1 (v0.27.2-RC1) and will return to this for v0.27.2.  I hope that the output of the following c

[2019-06-12 08:44] 8i8 commented on #904
This is directly from the camera, I am using darktable which does not edit the images them selves and no other software has been used. I am using gimp as my image editor, which is indicating a bit depth error on opening, however it does open the file; I have no idea if I can do as you mention in gimp, will take a look and see if it is possible.

[2019-06-12 08:54] clanmills commented on #904
OK.  So we've eliminated the possibility that the preview has been corrupted by post-processing.  Gimp is very capable, so I think it will have a feature to do "plate separation" and recombination.

I didn't write the image preview code.  In general Exiv2 knows nothing about pixels.  It is focues on metadata and it's highly likely that it simply copies the preview image from the metadata without u

[2019-06-12 09:01] 8i8 commented on #904
The concern is that darktable is using the image in its film strip for selection, which means that display is not working as it ought to on the light table and on import; I am looking for a solution to that. There are apparently some digital backs that have the same issue when using tiff/raw files too. But that is only hearsay on my part after chatting with a fellow photographer on irc. I just did

[2019-06-12 09:03] 8i8 commented on #904
GNOME desktop is displaying the thumbs ok here, curious to know what it is ...

[2019-06-12 09:28] 8i8 commented on #904
Ah no the colours in the first image that I tried were misleading as it had very little colour: Here are some thumbnails with the colours swapped as you mentioned, it woes not seem to help.
![20190604_0034-rgb-compose-blue-green-swap](https://user-images.githubusercontent.com/10634856/59339845-367c9d00-8d05-11e9-853d-94315dcfd3a2.jpg)
![20190604_0034-rgb-compose-red-blue-swap](https://user-images.

[2019-06-12 10:43] clanmills commented on #904
GNOME desktop uses Exiv2 for metadata, so it almost certainly uses Exiv2 to extract the preview.

Exiv2 doesn't use LibTIFF, we have our own TIFF parser which was written by Andreas, the founder of Exiv2.  I don't know why he didn't use LibTiff as it is a very good library.

If you're getting a larger thumbnail somewhere, I suspect the "big image" is being resampled.  There's only one preview pres

[2019-06-12 11:07] clanmills commented on #904
The pixel byte-swap idea isn't good.  The code in `PreviewProperties LoaderTiff::getProperties()` in src/preview.cpp#836 writes **`II`** files:
[code]
I think it should "inherit" the encoding from the source image.  Anyway, I hacked that to be bigEndian and extracted the preview from your **`MM`** file and the preview has been correctly written as **`MM`**.    Sadly the image is black on my image

[2019-06-12 11:41] 8i8 commented on #904
Thank you for the time that you have put into this already, sure I understand that you have other deadlines to meet and work to do. I am curious as to why there are two different sized images marked.
The thumb output by exif2 is 168 x 112px not the expected 288 x 192px ; Surely not the target preview image that is being defined above, it would appear that it is not the image preview that is 288 x

[2019-06-12 12:07] boardhead commented on #582
Your formula is correct.  Are you perhaps enciphering instead of deciphering?  I think you need to reverse the direction of your cipher.

[2019-06-12 12:14] clanmills commented on #904
You are right.  There seems to be another image which is identified by tiffinfo:
[code]

Although I am an unpaid volunteer, there are people expecting the release to appear as scheduled.  I regret that I can't spend more time on this at the moment.

[2019-06-12 12:19] 8i8 commented on #904
Thank you for looking at it now, I was not expecting you to do so so quickly and I appreciate it very much. I do understand your work load and am not expecting any immediate solution. It is a pleasure discussing this with you, who knows perhaps I will try and read some of the c++ code, it is all fantastic experience. If I can I will try to move further on the issue myself, when and if you have tim

[2019-06-12 12:31] clanmills commented on #582
@boardhead Thanks for your input.  It must be something like that, however I haven't discovered my blunder yet!  I want to release v0.27.2-RC1 today or tomorrow and spend more time on this puzzle next week.  We're going to Normandy on Friday to run in the D-Day Half Marathon on Sunday.

[2019-06-12 12:33] boardhead commented on #582
Try changing this line

        code[i] = (i * i * i) % 249 ;

to this

        code[(i * i * i) % 249] =  i;

[2019-06-12 12:47] clanmills commented on #582
@boardhead You are a _**Genius**_.  Thank you very much.  I'm going to update my dmpf.cpp program (my homemade od) to print your [ascii] representation.  Imitation is the sincerest form of flattery!

Looking forward to meeting in Canada in July 2020.  Thank You very much.

[code]
And ExifTool reports:
[code]

[2019-06-12 13:12] clanmills commented on #904
I'm always happy to help.  The days leading up to release are usually hectic because stuff left on the shelf demands attention.  I'm glad you like open-source.  The support is so much better than commercial alternatives and __*the price is right*__.

[2019-06-12 20:29] tester0077 commented on #901
Thank you for your comments and references. Some progress in compiling the 32 bit release and debug versions in the meantime, but I still have to sort out a few more things after I analyze the CMake files a bit more.
I have created a new build32 directory for my 32-bit builds, but for some of the resulting files, the output for one version ends up overwriting the output for the other.
Other than t

[2019-06-12 20:42] clanmills commented on #901
Thanks for the update.  I always use a clean directory for every "type" of build.  CMake really doesn't help you to build static/DLLs 64/32 Debug/Release in the same tree.  So do something like:
[code]
If you're familiar with Visual Studio, you'll be used to building different configurations into a single tree.  However, CMake is a Linux tool and has different ideas about how the world works.  You

[2019-06-12 22:50] tester0077 commented on #901
I'll get used to it all - yet.  For me, MSVC is also the preferred environment.
But, before I forget again, I just want to mention, that it seemed I had to run the latest batch of commands in an Admin DOS box.
To help me remember and analyze the workflow better, I will start over from scratch ;-)

[2019-06-13 05:33] clanmills commented on #901
Ah yes, I always use cmd.exe in "Administrator" mode.  And I always switch off the Account Protection stuff.  When you're developing code, Windows "security" gets in the way.

It's only when I replied last night that I realised I've been using Visual Studio for 25 years.  Doesn't seem possible that so much time has gone by.  It was called "Visual C++" at the start, then it became "Developer Studio

[2019-06-13 06:30] clanmills commented on #890
@cryptomilk has recommended that we use this:
https://github.com/ansasaki/abimap

Thank you @cryptomilk I'm sure this will be very useful.

[2019-06-13 08:55] 8i8 opened #908 "libexiv2 saves a part file when attempting to export data that conforms with the multi-segment xmp standard."
**Describe the bug**
When exporting a jpeg image from a raw file in the darktable program, the program calls obj->writeMetadata(); A part file is saved in the directory along with the programs output. Generating the following error:
caught exiv2 exception 'Size of XMP JPEG segment is larger than 65535 bytes'

**To Reproduce**
Steps to reproduce the behaviour:
Create an image to export in darktable

[2019-06-13 10:44] clanmills commented on #908
@8i8 Is this in the darktable code?  There's no such code in Exiv2:
[code]

There is a problem with JPEG when the Exif metadata size > 64k.  You are prone to this when converting TIFF (which supports > 64k of Exif metadata) to a JPEG.  According to the Exif specification, all Exif data must reside in a single "chunk".  A "chunk" cannot exceed 64k because JPEG is a 1992/16-bit file format.  Adobe h

[2019-06-13 11:55] 8i8 commented on #908
Hello Robin,
Thank you for your concise reply.
It looks as though this is the instance of writeMetadata() that is being called by an image object in darktable:
https://github.com/Exiv2/exiv2/blob/620e0a98cb970cc5ff0d76523baf4649518ae42d/src/jpgimage.cpp#L896
I am investigating ways to stop this in darktable, it would not have been noticed as being an issue if the file was not partially written. I

[2019-06-13 12:23] clanmills commented on #908
Where did you find WORK-IN-PROGRESS?  It's not a secret file.  We don't have secrets in Open Source.  However, its purpose is to share knowledge between team members about active projects.  About 40% of Exiv2 was written by Andreas, the project founder.  In Exiv2 v0.27, we had a major exploration of the TiffVisitor code which isn't easy to understand.  I now understand that code, so WORK-IN-PROGRE

[2019-06-13 12:23] #908 closed

[2019-06-13 12:37] 8i8 commented on #908
Thank you very much for your kind offer, I am thinking about this very seriously as I would like also to understand the code and the tiff format, to my advantage, It would be a real pleasure to help if I am able to.
The WORK-IN-PROGRESS file popped up after I cloned the repo and grepped writeMetadata() looking for the API entry point that darktable is calling.

[2019-06-13 12:43] clanmills commented on #908
From your name, I think you're a country man of mine.  https://clanmills.com  Let's talk on Skype next week.  'clanmills'.  Email to agree a time: robin@clanmills.com

We're go to Normandy for the weekend to run in the D-Day Half Marathon on Sunday.  We get home on Tuesday evening.  Exiv2 v0.27.2-RC1 is scheduled for 2019-06-15, however I want it "out the door" this afternoon.

[2019-06-13 22:14] tester0077 commented on #901
I'll get used to it all - yet.  For me, MSVC is also the preferred environment.
But, before I forget again, I just want to mention, that it seemed I had to run the latest batch of commands in an Admin DOS box.
To help me remember and analyze the workflow better, I will start over from scratch ;-)

[2019-06-13 22:26] tester0077 commented on #901
Made some more progress and was able to compile a 32-bit version for both release and debug configurations by building in separate build dirs.
But I have run into an issue with a jpeg from my Canon Powershot. I'll try to attach a sample picture as well as the text output I got from exiv2 via:
D:\pkg\C++\MSVC2017\exiv2-master-0.27.1\exiv2\build32Release\bin>exiv2 D:\Public\Pictures\160_1702\IMG_000

[2019-06-13 22:48] D4N commented on #901
tester0077 <notifications@github.com> writes:

That's the way it should be done with CMake. While it supports in-source
builds, you really shouldn't perform them.

I get that too with exiv2 built from master. Have you considered that
the Exif comment of this image might actually contain NULLs only? I've
checked the JPEG and exiv2 claims to find the comment at 0x142e, where
there's a lot of NULLs.

[2019-06-14 01:32] tester0077 commented on #901
Thank you for your analysis and information.
My main interest is in the exiv2 library for Windows under MSVC 2017 (preferably statically linked) and the only version that is currently available pre-built 64-bit release DLL version, I had to dig into the build process. As it is, I am not very familiar with CMake, though I have used it in the past, but in a Ubuntu environment.
The need to build in a

[2019-06-14 04:14] clanmills commented on #901
I'm off to Normandy to run in the D-Day Marathon on Sunday.  I'll look at this next week when I get home.  Can you provide me with you test file and command-line arguments, please.

[2019-06-14 14:17] branewave opened #910 "out-of-bounds array access in RemoteIo::getb"
When RemoteIo::getb is called for a byte at the very end of a block, it will populate the wrong block, and then read a byte from before the start of the "data" array.  The fix is to remove the "+ 1" from the "expectedBlock" calculation.

`size_t expectedBlock = (p_->idx_ + 1)/p_->blockSize_;`

[2019-06-14 15:31] tester0077 commented on #901
The test file is the one attached above, showing the battered mouse.
Command line was simply either exiv2 or exifprint followed by the file path and name.
If I get further along, I will try to investigate more inside the exiv2 library and let you know.

[2019-06-14 16:08] clanmills opened #911 "Let's go to LGM 2020 in Rennes, France"
Libre Graphics Meeting is a conference on Graphics Open Source Developers.  Typically 100 Engineers spend a long week-end (Thursday -> Sunday) to attend presentations, workshops, meet each other, relax and drink beer.  It's wonderful to spend time together and get to know each other.

When I attended for one day in 2016, I met folks from Darktable, Gimp and other projects that use Exiv2.

This glo

[2019-06-14 16:18] clanmills commented on #901
Thanks for the update.

[2019-06-14 16:20] cryptomilk commented on #890
abimap would make sense for 0.28 and later as this is some work. See

https://git.libssh.org/projects/libssh.git/tree/CMakeLists.txt#n161
https://git.libssh.org/projects/libssh.git/tree/cmake/Modules/GenerateMap.cmake
https://git.libssh.org/projects/libssh.git/tree/cmake/Modules/GetFilesList.cmake
https://git.libssh.org/projects/libssh.git/tree/cmake/Modules/ExtractSymbols.cmake

[2019-06-14 16:22] cryptomilk commented on #890
Btw. I've contacted Andrey and  he added exiv2 master to abi checker:

https://abi-laboratory.pro/index.php?view=timeline&l=exiv2

[2019-06-14 16:39] tester0077 commented on #901
I don't know much about the 'insides' of Exiv2 code, but, FWIW,  both Exiv2 & exifprint end up at a place in tiffcomposite_int.cpp at line 1843++
where
    // free functions
    TypeId toTypeId(TiffType tiffType, uint16_t tag, IfdId group)
    {
        TypeId ti = TypeId(tiffType); <<<<< ti = undefined
        // On the fly type conversion for Exif.Photo.UserComment
        if (tag == 0x9286 && g

[2019-06-14 17:15] tester0077 opened #912 "exifcomment & other utilities man pages??"
In trying to use/test some of the utilities, I can't seem to find any man pages. Even --help does not seem to help for at least exifcomment.

[2019-06-14 21:38] clanmills commented on #912
There are no man pages for the sample programs.  Exiv2 is open source and the code is the primary documentation!  Many of the samples were written for the test suite, or as illustrations on the web-site.  Most of the samples provide usage.  For example:
[code]
In December 2015, I created the file `<exiv2dir>/samples/exiv2samples.1` to provide documentation for those programs.  Higher priority matt

[2019-06-14 21:51] clanmills commented on #910
Thanks for reporting this.  And thanks for proposing a fix.  I worked with Tuan (an outstanding GSoC student at NUS in Singapore) on RemoteIo in 2013.  I seem to recall discussing this line of code with him!

I will investigate this for 0.27.3 which is scheduled for release on 2019-09-30.

[2019-06-15 01:49] tester0077 commented on #912
I don't think I have the resources and time to commit to becoming a member of the Exiv2 team, though I do have a big interest in Exiv2; this is mainly because I understand it is used as a basis of the metadata support for the genealogy app Gramps. In fact, it was because of this that I got interested in both metadata & eventually Exiv2. FWIW, Gramps is supposed to support image metadata, but for v

[2019-06-15 06:50] clanmills commented on #912
OK.  If you do anything about this, I'll be pleased to accept your contribution.  I'm not going to do anything about this.  I'll delete samples/exiv2samples.1 because I'm not going to develop a man page.  In fact, one of the reasons I didn't do the work was because I hardly know the man page mark-up codes.  A mark-down file takes less effort and works on multiple platforms.

I have to confess to a

[2019-06-15 14:48] D4N commented on #912
We could use sphinx or pandoc to convert markdown or reStructured text documents into proper man pages without having to deal with their weird syntax. Someone would still need to write the docs though.

[2019-06-15 17:35] tester0077 commented on #912
Yes, the issue of all of those 'standards' (and their associated idiosyncracies & learning curves) are a real pain. It is what got me into this particular predicament in the first place - the frustration of having even commercial software ignoring the metadata standards and dropping or scrambling data already present, using different nomenclature for data they did handle and placing data into inco

[2019-06-15 17:37] tester0077 commented on #912
@D4N - whether or not Exiv2 has a real 'man' page, makes no difference to me, as long as there is some explanation ;-)

[2019-06-15 17:49] clanmills commented on #912
I'm going to write README-SAMPLES.md and add it to the 0.27.2 release.  I will delete exiv2samples.1.  The reason I haven't dealt with this is the man page mark-up language.

It shouldn't take very long to put something together.  For v0.27.2, let's keep the review of this file to a minimum as something is better than nothing.

@tester0077 If you'd like to "own" this file in future, your contribut

[2019-06-15 18:50] tester0077 commented on #912
@D4N - whether or not Exiv2 has a real 'man' page, makes no difference to me, as long as there is some explanation ;-)

[2019-06-15 19:06] tester0077 commented on #912
Re the file exiv2samples.1, I would keep it, if only for the Linux side of things. Still. it only describes Exiv2 itself.
I will try to 'own' the exiv2 samples.md.
===========
The answer re mandoc on this link:
https://superuser.com/questions/841137/how-to-parse-man-pages-in-windows
does give a useful utility to  view man pages under windows
or to convert them to  HTML, which makes it much easier

[2019-06-15 19:33] clanmills commented on #912
I have started drafting README-SAMPLES.md and it classifies the programs as "Test" or "Sample".  I know what the programs do and the most efficient way forward to is for me to quickly write some documentation.

I'm in Normandy to run in the D-Day Marathon on Sunday.  We're also having a short vacation.  I'll get the "first draft" of README-SAMPLES.md ready in the next few days.

All documentation

[2019-06-15 19:41] tester0077 commented on #912
Sounds good.
I really have no idea what I am getting myself into, but I'll give the 'maintenance' as try ;-)

[2019-06-15 19:42] tester0077 commented on #912
All the best for the marathon

[2019-06-17 11:43] imsodin opened #915 "Unable to checkout v0.27.2-RC1"
I just wanted to have a look at the most recent RC for packaging but was unable to check it out in my local repo. `git fetch upstream` (where upstream is my local alias for github.com/Exiv2/exiv) does not download the tag `v0.27.2-RC1`. Explicitly fetching that results in

[code]

However the tag is still not listed by `git tag` and can't be checked out. Neither is the commit ba3bb9ae0f27b62149815

[2019-06-17 16:27] clanmills commented on #915
Simon:  I put the tag on to avoid getting this message from you.  I've never applied a git tag before and was setting off on vacation immediately after making the release.  On Thursday night, I made the release and applied the tag.  Everything in git is impossibly difficult to understand, so I didn't expect it to work and you are confirming that the tag is not correct.

Perhaps somebody else on Te

[2019-06-17 16:37] imsodin commented on #915
@clanmills I am sorry to have reached you in vacation with this - please don't pay any further attention to it and enjoy your vacation!

Joining the team just to tag releases seems a bit much. @piponazo already created previous releases on Github, I am sure he is ok with also taking care of setting the tag in the process.

[2019-06-17 17:08] clanmills commented on #915
I'm sure @piponazo will do something about this.  The RC1 isn't on the 0.27-maintenance branch.  It's on origin/v0.27.2.1 (which is branched from 0.27-maintenance).

If I could understand git, I would write a paper "Reasons to hate git".  Until, then I will simply hate git.

[2019-06-18 05:21] clanmills commented on #915
I am very upset about this issue.  I tried to avoid hearing from you.  I'm sure we'll get the tag fixed in the next few days and I will enjoy my vacation.  If note that you have refused to help.  Very upset by your behaviour.

[2019-06-18 05:21] #915 closed

[2019-06-18 05:54] imsodin commented on #915
There has clearly been a misunderstanding here. I sympathize with your struggle with git and even more so not wanting to deal with this on your vacation. And you shouldn't. This is not time critical. I simply want to help this project by checking the RC and eventually maybe package it for Debian. I haven't refused anything, I have simply stated that making me a team member, with all the assossiate

[2019-06-18 06:35] clanmills commented on #915
I apologise for over-reacting.  To say that git has caused me trouble is quite insufficient to describe the difficulties it has created.  Two years of total misery.  I don't even know what problem 'git' is addressing. For sure, it has created problems that never existed with SVN (or perforce at work).  I haven't discovered any feature of 'git' that leads me to think "this is worth the pain".  Even

[2019-06-18 09:13] piponazo commented on #915
Hi guys. I just removed the previous tag (which was created in a development branch) and created the tag in the proper place (in the `0.27-maintenance branch). You can find the release page here:

https://github.com/Exiv2/exiv2/releases/tag/v0.27.2-RC1

I am sorry if the delay have caused some issues. Lately I do not have much spare time.

Cheers!

[2019-06-19 12:31] clanmills commented on #912
Don't worry.  You're not getting into anything much.  I'm going to write the document and get it into v0.27.2.  We're have a program of quarterly "dot releases" for v0.27.  I review most of our documentation (as time permits) for every release.  If you perform the review for README-SAMPLES.md in September and December, that would be one less chore for me.

I hope to issue a PR with the first draft

[2019-06-19 17:14] tester0077 commented on #912
Sounds feasible, though my Git skills are less than rudimentary :-(
Still, getting to know and use git a bit more is on my todo list (and has been for some time).
In the meantime, I have looked over Exiv2 itself and it would seem that it can do most, if not all, of the work I had considered the individual utilities for.
As for the document, I quite well understand how these things evolve over seve

[2019-06-19 17:51] tester0077 opened #918 "Under Windows MSVC class EXIV2API DataBuf contains a free() function"
When I try to compile a debug version - only have tried 32-bit version - using the code recommended by MS to detect memory leaks,

I get a very strange error which I traced to the fact that the class class EXIV2API DataBuf{} defines a function void free(); at line #243 in types.hpp
The error shows up as:

Renaming the function to free_() wherever it is used. clears up the issue

- types.hpp line 2

[2019-06-19 18:07] tester0077 opened #919 "XMP SDK version"
As I am very unfamiliar with Conan and its process, I am unsure of how to even phrase my question.
After downloading & compiling the Widows 32-bit version, I see that the XMP SDK version I have as part of the exiv2 is 4.4.0 while the most recent version I have directly from the Adobe 5.6.0 & 5.7.0 for Core/File versions.
Is this an issue with Conan, Exiv2 or ..... ??

[2019-06-19 20:22] tester0077 commented on #251
I have come across the very same issue for the same data field when I use my compiled version of Exiv2 - version 0.27.99.0 with the command line exiv2 -pi testfile.jpg
using the attached test file

![Metadata_test_file_-_includes_data_in_IIM,_XMP,_and_Exif](https://user-images.githubusercontent.com/9053628/59797729-4a8c4580-9295-11e9-926d-152551f6814d.jpg)

[2019-06-20 12:02] clanmills commented on #918
I'm surprised by this.  You've said:

I recall that MS provide heap debug code.  Can you explain exactly how you used that so that I can reproduce and investigate this issue.

On which branch are you working? 'master' or '0.27.maintenance'?

[2019-06-20 12:09] clanmills commented on #919
You can build Exiv2 with the 2016 edition of Adobe's XMPsdk. This is documented in README-CONAN.md

We provide support in Exiv2 v0.27 for users wishing to use both Exiv2 and XMPsdk in an application.  The 4.4.0 source code provided in the code base is recommended for almost every user as it has been in service for about 10 years and given excellent service.  If you have no special reason to requir

[2019-06-20 12:09] #919 closed

[2019-06-20 15:55] tester0077 commented on #918
As far as I recall, I downloaded the 0.27.99 zipped up package and am not on any git copy.
As for the memory leak code, one relatively recent link is:
https://docs.microsoft.com/en-us/visualstudio/debugger/finding-memory-leaks-using-the-crt-library?view=vs-2019
Searching the 'net for "#define DBG_NEW new ( _NORMAL_BLOCK , __FILE__ , __LINE__ )" will turn up a number of other references.
At this ti

[2019-06-20 16:19] tester0077 commented on #919
As I recall from my earlier work (several years ago) with the Adobe XMP SDK, I had issues with the earlier version when some of the metadata strings were UTF-8 encoded. The specifics of the SDK version which gave me trouble are hazy, but I do not have those issues when I use the latest 2016.07 SDK.
Looking through the change log in XMP-Toolkit-SDK-Overview.pdf for the 2016.07 version I do see a nu

[2019-06-20 17:02] tester0077 opened #920 "Exiv2 usage"
In following up on the XMP SDK version issue, I am trying to print out all of the data from a test file which contains a UTF-8 string.
The file happens to be a PNG without Exif data - because it is a PNG test file and Exiv2 simply exits when I try to print out all of the metadata with: exiv2 -pa test.png
The test file is attached
![itxt-german](https://user-images.githubusercontent.com/9053628/598

[2019-06-20 17:48] clanmills commented on #251
Is this a bug?  It's a problem for the test suite to deal with it, however it appears to be the data that is the file:
[code]
The IPTC data is in the APP13 "chunk" of the jpeg:
[code]
And here's the raw data:
[code]
I don't remember the spec of IPTC data, however `-pR` decodes it as:
[code]
So exiv2 is reporting exactly what's in the file.

Question: What's the problem?   I thought this issue conc

[2019-06-20 18:06] clanmills commented on #920
The file doesn't appear to have any metadata.  Here's the structure:
[code]
Exiv2 deals with Exif, IPTC, XMP and ICC metadata.  I believe ImageMagick have another metadata standard in which they put iTXt and/or zTXt "chunks" in the PNG file.  In your file, we can see Title, Author and other fields.

Exiv2 does not support that standard.  A volunteer agreed to undertake that project and I don't bel

[2019-06-20 18:06] #920 closed

[2019-06-20 18:39] tester0077 commented on #920
Thank you for referencing that old thread, I should have remembered, but, as we now are on github, my 'handle' is different, but I am the same 'Arnold' :-)
Still, as far as I can see, the data in question is metadata in an image file and, unless Exiv2 carries a disclaimer, it should be handled ;-)
Because several of the files of interest to me, when I get to check them in Gramps & pyExiv, are PNGs

[2019-06-20 19:29] clanmills commented on #920
Ah, Arnold.  How nice to hear from you again.  I was wondering happened to you.

Disclaimer for what?  We don't handle this type of metadata, and I've no doubt that there are other metadata encodings that Exiv2 doesn't know about.

The effort to implement this in PNG is quite modest (hours or days, not months or years).  However there's a higher priority project which is the "Unified Metadata Cont

[2019-06-20 19:31] clanmills commented on #920
Oh, and I have other things to do.  I started learning the Euphonium last September and have joined a local brass band.

![DSC_9217](https://user-images.githubusercontent.com/529982/59876001-3d0cb380-939a-11e9-8755-bc9fb8d97f66.jpg)

[2019-06-20 19:32] clanmills commented on #920
And I like to run.  I went to Normandy last weekend to run in the D-Day Marathon.
![IMG_3714](https://user-images.githubusercontent.com/529982/59876090-85c46c80-939a-11e9-8e3f-2888bdaaf722.jpg)

[2019-06-20 19:33] clanmills commented on #920
And the garden.
![img_3686](https://user-images.githubusercontent.com/529982/59876143-b86e6500-939a-11e9-88d4-084342e1411d.jpg)

[2019-06-20 21:11] tester0077 commented on #920
I understand all too well;  my todo list keeps growing by the day. Beautiful pictures :-)

[2019-06-20 21:29] tester0077 commented on #251
I have just done some more digging wrt this issue, using your test image exiv2-bug444.jpg
What it looks like to me, is that in both your picture & the one I had used, the bad output comes from a Photoshop resource of the type referred to by
_In a JPEG file, an APP13 marker with an identifier of "Photoshop 3.0" contains Photoshop Image Resources.
Resource ID 0x0404 contains IPTC data.
See http://fi

[2019-06-20 22:14] D4N commented on #918
So you've managed to fix the issue? I don't see what else we should do here: we are already testing for memory leaks and errors with ASAN and valgrind on Linux and could do so with dr.memory on Windows (but no one was motivated to take up that work).

Or am I missing something? Otherwise I'll close this.

[2019-06-20 22:40] D4N commented on #251
@tester0077 This issue was more about how the exiv2 cli utility and the library itself should handle non-utf8 encoded strings. Specifically since most metadata strings don't mandate any encoding, we are bound to dump non-utf8 characters to the user's shell (or into our test suite, which it doesn't like).

If you are experiencing a bug in the parsing of metadata, please open a new issue.

[2019-06-21 02:02] tester0077 commented on #251
After some more digging I have come to the conclusion that it is both a bug and a bad input file.
A bad input file, because, if I can trust the XMP SDK's (version 2 from the 201607 version)  tool 'dumpfile', the contents of the file are invalid for that particular data item.
Running dumpfile on the problem file gives me the following output:
[code]
To be sure, I checked the hex contents of the fil

[2019-06-21 03:22] tester0077 commented on #918
Can't say I fixed this issue - all I have done is tested a possible fix in my source code, which works for me under Windows withe MSVC IDE and debugger..
I put that 'solution' out there for the maintainers to use or not as they see fit. I don't know how else it might affect the rest of the code for other platforms nor do I know enough about git to make up some sort of request to modify exiv code.

[2019-06-21 08:24] clanmills commented on #911
@boardhead  I intended to copy you on this.

@boardman Apologies for dragging you into this (and some other Exiv2 discussions).

[2019-06-21 09:56] clanmills commented on #912
The PR has been submitted:  https://github.com/Exiv2/exiv2/pull/921  And will be integrated into branch 0.27-maintenance and will ship with Exiv2 v0.27.2   It will also be integrated into 'master'.

Let's have no further discussion of this matter until I work on v0.27.3 in September.

[2019-06-21 10:14] clanmills commented on #901
I've deferred this to v0.27.3 which is scheduled for 2019-09-30.  The priority at the moment is to release v0.27.2, have a vacation and deal with various family matters in July.

[2019-06-21 11:38] boardhead commented on #911
@clanmills Thanks for the invite, but the ExifTool project is not part of my university job description, so I would be on my own here.  Plus, I think you may be underestimating just how boring a key-note talk from me would be.  :P

[2019-06-21 11:58] clanmills commented on #911
University politics (splutter, cough, vomiting).  I'm sure you'd be wonderful and I'm confident that the audience will be full of your fans.

I'd like to give a talk entitled "Git is a load of crap", but I'd be boo-ed off.  It's amazing how some technology (for example MacOS-X) is loved by users, while other similar things (Windows) is detested.  Oh well, that's the world and it ain't gonna change

[2019-06-21 12:31] clanmills commented on #251
@D4N You've expressed the scope of this discussion clearly.  We are discussing what to do with non UTF8 characters in the output stream which can create difficulties for stream readers (in Dan's case implemented in python).

@tester0077 Well done to dig so deeply into this the file exiv2-bug444.jpg.  If you want to report a bug concerning that file, please open a new issue.  It is unlikely to be i

[2019-06-21 12:33] D4N commented on #251
This issue is not yet resolved.

[2019-06-22 10:08] #903 closed

[2019-06-22 17:25] clanmills opened #922 "Update README.md to explain cross-compiling"
When I wrote README.md for v0.27, I had never succeeded in cross-compiling for MinGW from Linux.  I believe this is now working and Dan has a CI job.

I hope to refresh my brain about this and get it documented for v0.27.2.  For sure for v0.27.3

[2019-06-23 20:08] clanmills commented on #922
@piponazo I'll deal with README.md and README-CONAN.md.  I believe most of the new documentation will go into README-CONAN.md and will be referenced in README.md

I have not been able to get CMake to find and use the expat and zlib which were cross-compiled by conan, so I'm going to defer this for v0.27.3.  Here's what I've done on Ubuntu 18.04

### Install pip3 and conan:
1) Install pip3 `$ sudo

[2019-06-24 07:58] emmenlau opened #926 "Please change the behaviour of debug stdout/stderr output."
I have a kind request about the exiv2 sources. I see that debug builds use the define `DEBUG` to print more verbose output messages. These messages are directly written to `std::cout` or `std::cerr`.

This behavior is quite common and there is really nothing wrong with it. However I would slightly prefer more control over the messages, because when I use exiv2 debug builds, they tend to be quite v

[2019-06-24 08:13] clanmills commented on #926
Thanks for this suggestion and we could do this.

Let me make a comment.  The DEBUG symbol is intended to be set by the user for "occasion" use and not "blanket coverage".   This is discussed in README.md 2.11 2) About preprocessor symbols NDEBUG and DEBUG.

I expect other team members will wish to comment.  Let's reach a consensus and then agree on action.

[2019-06-24 08:22] emmenlau commented on #926
Thanks @clanmills for your quick and helpful reply!

I agree that setting `DEBUG` for blanket coverage is not super clean from my side. In my defense, I build some 30+ debug builds on Windows and they all happily accept the `DEBUG` define for additional helpful internal code checks and extended logging. So I am actually quite happy with exiv2's behavior! Only the current verbosity is a (small) iss

[2019-06-24 08:33] D4N commented on #926
I think having a compile time settable verbosity or a compile time switch for the logging is a good idea. I wouldn't mind to have instead of `#ifdef DEBUG #endif`: `#ifdef EXIV2_DEBUG_MESSAGES #endif` around the debug output.

I don't think that we should implement a runtime verbosity setting though. Such an option would be very painful on Unix where shared libraries generally exist only once in m

[2019-06-24 08:57] clanmills commented on #926
Have a library run-time logging verbosity setting (default = 0, or EXIV2_DE) would be process-wide and not machine-wide.  However

[2019-06-24 09:03] clanmills commented on #926
Re-opened.  Not idea how this issue was closed in error (cat jumped on the keyboard).

[2019-06-24 09:08] D4N commented on #926
That's only true if the variable that sets the logging verbosity is in the address space of the process linked against libexiv2. If the verbosity setting is however inside libexiv2, then the setting is global for all applications linked against libexiv2. (This only applies on Linux and maybe on other Unixes, on Windows shared libraries behave more like static libraries in that regard and each proc

[2019-06-24 09:58] clanmills commented on #926
I'm setting the target to v0.28.  I don't want to modify the behaviour or settings or API for v0.27 "dots".  @emmenlau I recommend building without setting DEBUG.

@D4N:  Windows DLLs are shared when located on the PATH.  Most applications have copies of DLLs in the same directory as the .exe and use that copy because that directory is considered to be on the PATH.  Unix systems usually find the s

[2019-06-24 13:43] D4N commented on #926
Robin Mills <notifications@github.com> writes:

Yes, any change with regard to this should go into the master branch.

I think we are talking about different things here: I meant that I do
not want to add runtime code like:
Exiv2::set_verbosity(verbosity_t verbosity)

I'm fine with a compile time switch in addition to the DEBUG macro, as
that is clearly intended only for debugging purposes and not

[2019-06-25 11:19] boardhead opened #929 "Add support for Exif 2.32"
I just wanted to let you know that version 2.32 of the Exif specification was released last month.  This version adds a few new tags that should be supported by Exiv2:

https://web.archive.org/web/20190624045241if_/http://www.cipa.jp:80/std/documents/e/DC-008-Translation-2019-E.pdf

I checked the Exiv2 code base to see what version is currently supported, but I couldn't find any of the new tags fr

[2019-06-25 14:44] clanmills commented on #929
Thanks for letting us know.  I thought Andreas Huggel had dealt with 2.31.

I'll investigate and add the tags.  I believe that's straightforward and nothing likes as complicated as adding support for the FocusPosition tag in Sony Raw #582.

[2019-06-25 17:00] clanmills commented on #929
I've had a look at the spec.
[code]
Andreas update Exiv2 for 2.3 about 2013 or so.  I didn't know about 2.31 and now 2.32.  I'll try to deal with this for v0.27.3 (scheduled 2019-09-30).

[2019-06-26 01:34] boardhead commented on #929
You referenced only the 2.3 revision.  The original 2.3 spec was April 2010, and it added a bunch of new tags.

[2019-06-26 04:59] awilfox opened #933 "Test from #365 reveals more issues in LoaderExifJpeg"
**Describe the bug**
Nominally, a test failure.

Practically, potentially a much worse issue.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the exiv2 testsuite on a non-x86 computer.

**Expected behavior**
test_run (bugfixes.github.test_CVE_2018_12265.AdditionOverflowInLoaderExifJpeg) ... OK

**Actual behaviour**
test_run (bugfixes.github.test_CVE_2018_12265.AdditionOverflowInLoaderEx

[2019-06-26 08:47] D4N commented on #933
@awilfox could you run the test suite with ASAN + UBSAN on aarch64 & ppc? I don't have access to a machine with these architectures, so I cannot really test it. You can turn the sanitizers on by passing the `-DEXIV2_TEAM_USE_SANITIZERS=ON` flag to cmake.

[2019-06-26 09:12] clanmills commented on #929
I was confused.  The document says: _Established on April, 2010_ and the update history says _2.3 (Revised 2012)_.  Andreas updated Exiv2 for 2.3.

Was it for 2.3 2010, or 2.3 2012?  I can't remember.  I'll investigate and bring Exiv2 up-to-date.

[2019-06-27 12:49] clanmills commented on #582
@cryptomilk The code for this has been submitted to branches 'master' and '0.27-maintenance'.  Could you test this, please?  If you're happy, please close this issue.

I've enjoyed working with you and @boardhead on this issue.  I always enjoy working with @piponazo and @D4N.

[2019-06-28 01:17] awilfox commented on #933
I'm trying very hard to manage to build the sanitisers against musl but it's been a long arduous process and they still aren't building.  Unfortunately Google did not care much about portability when they wrote this.  It may be a while before I can report anything, and I'm not sure the reports would be reliable even if I can end up generating them.

[2019-06-28 05:00] D4N commented on #933
Which platform are you on? Alpine?

[2019-06-28 09:24] awilfox commented on #933
Adélie Linux; we're a completely separate distro that is based on musl libc.  (Alpine doesn't support PowerPC beyond a little-endian build that only supports POWER8 CPUs.)

When I have free time, I will try to install Fedora on my Raspberry Pi 3 and see if I can reproduce this issue on aarch64/glibc.  Then I would be able to use ASan/UBSAN.

[2019-06-28 16:07] piponazo commented on #926
Hi guys!

As @D4N said, I would not mind either to replace `DEBUG` with `EXIV2_DEBUG_MESSAGES` to avoid these situations. I have seen the usage of `DEBUG` in many libraries and it could be that user users come with similar requests (Although it is clear that we are not doing anything wrong in our side).

If we do that ... could not we do it in `0.27-maintenance` ? Right now we are not using the `D

[2019-06-28 16:12] clanmills commented on #890
I'm going to defer this for v0.27.3.  This is an important topic. Dan's adding a task to the CI to use abimap and I'll update our status about this for v0.27.3.

[2019-06-28 16:21] piponazo commented on #918
@tester0077 As you could see [here](https://ci.appveyor.com/project/piponazo/exiv2-wutfp/branch/master) we are testing exiv2 on windows with many combinations of compilation mode (release/debug) , architecture (x86 / x64), library mode (static/shared). In the 0.27-maintenance branch we even test old versions of [MSVC](https://ci.appveyor.com/project/piponazo/exiv2-wutfp/branch/0.27-maintenance).

[2019-06-28 16:29] D4N commented on #926
Luis Díaz Más <notifications@github.com> writes:

I'd do it in master only at first and if it is requested to be
backported, then and only then I'd backport the patches.

The issue is that the usage of #DEBUG *might* change the ABI (it
probably doesn't) and we are currently trying to minimize the amount of
ABI breakage that we introduce before #917 is merged.

[2019-06-28 19:40] tester0077 commented on #918
I have no doubt about the thoroughness of your tests.
My concern was merely about the use/definition of a very common predefined standard C library free() function (defined in stdlib.h) as part of the Databuf class in types.hpp, line #243
It only raises flags if I use the MSVC recommended memory leak detection code, because I also redefines the memory allocation functions for the debug version of

[2019-06-28 19:51] clanmills commented on #918
I'll investigate this during the 0.27.3 project.  Let's release v0.27.2 and then I'll look at this.

[2019-06-28 20:30] tester0077 commented on #918
Sounds good - no rush on this end

[2019-06-28 21:20] piponazo commented on #918
@tester0077 thanks for the details, now I understood better the issue. I'll give it a try.

[2019-06-28 21:28] clanmills commented on #918
@piponazo I've used the M/S heap debug code in the past (more than 10 years ago).  I'll investigate this for v0.27.3.

That code is old and has stood the test of time.  There could be something concerning the interaction with the M/S debug code, however there's no reason to suspect there's an issue with production code on any platform.

[2019-06-30 19:45] piponazo commented on #922
Sorry, I did not see this until now. I remember that I had also some issues with some of the dependencies when I tried to cross-compile from Ubuntu 18.04 to Windows with MinGW, but I think at the end I could solve them. I'll take a look to it at some point.

[2019-07-01 08:58] kevinbackhouse commented on #789
This has been assigned [CVE-2019-13108](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13108).

[2019-07-01 09:01] kevinbackhouse commented on #790
This has been assigned [CVE-2019-13109](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13109).

[2019-07-01 09:02] kevinbackhouse commented on #843
This has been assigned [CVE-2019-13110](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13110).

[2019-07-01 09:03] kevinbackhouse commented on #791
This has been assigned [CVE-2019-13111](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13111).

[2019-07-01 09:04] kevinbackhouse commented on #845
This has been assigned [CVE-2019-13112](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13112).

[2019-07-01 09:05] kevinbackhouse commented on #841
This has been assigned [CVE-2019-13113](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13113).

[2019-07-01 09:07] kevinbackhouse commented on #793
This has been assigned [CVE-2019-13114](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13114).

[2019-07-01 11:43] cryptomilk opened #942 "Why is Exif.Sony2Fp not just called Sony2?"
**Describe the bug**

Looks like the whole space is called Sony2Fp which seems to stand for FocusPosistion.

Exif.Sony2Fp.AmbientTemperature              SByte       1  18
Exif.Sony2Fp.FocusMode                       Byte        1  0
Exif.Sony2Fp.AFAreaMode                      Byte        1  255
Exif.Sony2Fp.FocusPosition2                  Byte        1  235

Shouldn't this be just Exif.Sony2.*?

[2019-07-01 12:33] cryptomilk commented on #942
Just asking ...

[2019-07-02 14:35] clanmills commented on #942
There's an an answer in the architecture of Exiv2.  I'm on a boat in the Baltic and I'll reply properly next week.Robinhttps://clanmills.comOn 1 Jul 2019 15:33, Andreas Schneider <notifications@github.com> wrote:Just asking ...

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-03 08:15] dcermak commented on #933
This issue is also present on openSUSE on ARM and PPC, so this is likely not specific to Adélie Linux but rather to the CPU architecture differences.

[2019-07-04 20:02] D4N commented on #922
Imho the simplest way how to cross compile from Linux with MinGW is to use Fedora (either grab the vagrant box or a container via `podman pull docker.io/library/fedora`) as we do on GitLab:
[code]
That's literally it. The only caveat is that shared libraries don't work due to the issues with the Error type, which I haven't solved yet in #685 and #779.

[2019-07-06 07:43] lantw44 opened #947 "Throwing an exception crashes a program on FreeBSD because typeinfo for BasicError<char> isn't exported"
**Describe the bug**
GNOME Photos crashes at launch because one of its dependency, gexiv2, calls an Exiv2 function which throws an exception.

**To Reproduce**
The example program posted at https://github.com/Exiv2/exiv2/issues/644#issuecomment-452472029 is probably the most simple way to reproduce the problem. It seems to come from [`gexiv2_metadata_register_xmp_namespace` function of gexiv2](htt

[2019-07-06 10:04] D4N commented on #947
Wow, that's what I call an in-depth bug report! You even delved into the guts of libunwind, I'm thoroughly impressed!

Currently we are refactoring the `Error` class in #685, but that PR is stalled due to issues on Windows. It removes the (relatively useless) templating of the `Error` class and should thus aid in solving these problems, but it doesn't touch the `exiv2lib_STATIC` definition. @pipon

[2019-07-06 12:51] clanmills commented on #947
Great bug report.  I see you are referencing the 'gnome' namespace in XMP.  That's not in the Exiv2 code.  There is a issue with mulithreading and adding new namespaces which is documented on dev.exiv2.com.I'm on vacation on a boat in the Baltic.  I'll catch up with your progress when I get home next week.Robinhttps://clanmills.comOn 6 Jul 2019 13:04, D4N <notifications@github.com> wrote:Wow, that

[2019-07-07 18:15] lantw44 commented on #947
Since Exiv2 is configured to compile with `-fvisibility=hidden`, things which don't marked as `EXIV2API` are considered as hidden. Defining `exiv2lib_STATIC` effectively disables `EXIV2API`, so all things are hidden even if `EXIV2API` is used. Templates are usually compiled into weak symbols in object files, so having the same symbol in different object files doesn't cause conflict. However, it al

[2019-07-07 19:35] phako commented on #947
If that helps, fine with me.

[2019-07-08 08:48] lantw44 commented on #947
I opened https://gitlab.gnome.org/GNOME/gexiv2/issues/42 for gexiv2.

[2019-07-08 18:18] #926 closed

[2019-07-08 19:16] emmenlau commented on #926
Awesome guys, thanks a lot!

[2019-07-09 08:41] phako commented on #947
Thinking about it: don't I need to change that everywhere in the code and the NS registration is just the bit that exposes everything? And which class should I throw if I throw a Exiv2::Error myself?

[2019-07-10 11:48] zjuchenyuan opened #950 "CVE-2018-20099 infinite loop in Exiv2::Jp2Image::encodeJp2Header of jp2image.cpp"
**Describe the bug**
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20099

There is an infinite loop in Exiv2::Jp2Image::encodeJp2Header of jp2image.cpp in Exiv2 0.27-RC3. A crafted input will lead to a remote denial of service attack.

But this is not fixed on current commit `1de8e734`

**To Reproduce**
Steps to reproduce the behaviour:
1. download the [POC file](https://github.com/TeamS

[2019-07-10 22:25] D4N commented on #950
Thank you for bringing this to our attention!

The issue is relatively simple: the length of the generated `subBox` is zero, which means that the while loop in this [line](https://github.com/Exiv2/exiv2/blob/1de8e73488371d152a7d1a3cc1c1f810c8e2af54/src/jp2image.cpp#L635) never terminates.

[2019-07-11 07:44] clanmills commented on #582
@cryptomilk Are you OK for me to close this?  The fix will ship in 0.27.2 which is PR #940.   I hope to release 0.27.2 today.

[2019-07-11 09:45] cryptomilk commented on #582
Yes, I've already implemented support for it in darktable! :-)

[2019-07-11 09:45] cryptomilk commented on #582
Thanks!!!

[2019-07-11 10:01] clanmills commented on #582
Yes.  I remember looking at your code in darktable that uses the macro `EXIV2_TEST_VERSION`.

Very pleased with how everything has worked out and how well we've all pulled together on this issue.

[2019-07-11 11:08] clanmills commented on #942
@cryptomilk Exiv2 uses the scheme:  Family.Group.Tag to identify metadata.

Family: { Exif | Iptc | Xmp }
Group:  hundreds of groups to subdivide a family
Tag: some tags within a group

Example, the GPSInfo group:
[code]

That data is normally stored in binary in Exif.Photo.MakerNote tag:
[code]

When we decode the MakerNote in your file, we use Exif.Sony2 to decode the tags.  Your data is encoded

[2019-07-11 11:08] #942 closed

[2019-07-11 11:34] cryptomilk commented on #942
Thanks for the explanation!

[2019-07-12 02:22] cuanduo opened #952 "AddressSanitizer: heap-buffer-overflow in RafImage::readMetadata"
**Describe the bug**
in my research , a heap overflow found in RafImage::readMetadata rafimage.cpp:296.

**To Reproduce**
exiv2 -pv $poc
[exiv2poc.zip](https://github.com/Exiv2/exiv2/files/3384707/exiv2poc.zip)

**Expected behavior**
[code]

**Desktop (please complete the following information):**
 - ubuntu18
 - gcc 7.4.0
 - -fsanitize=address -g

[2019-07-12 03:07] cuanduo opened #953 "AddressSanitizer: heap-buffer-overflow in PngImage::readMetadata() pngimage.cpp:438"
**Describe the bug**
in my research , a heap overflow found in Exiv2::readChunk(Exiv2::DataBuf&, Exiv2::BasicIo&)  /src/pngimage.cpp:410.

**To Reproduce**
exiv2 -pv $poc
[poc.zip](https://github.com/Exiv2/exiv2/files/3384823/poc.zip)

**Expected behavior**
[code]

**Desktop (please complete the following information):**
 - ubuntu18
 - gcc 7.4.0
 - -fsanitize=address -g

[2019-07-12 06:36] cuanduo opened #954 "heap-buffer-overflow in Exiv2::MrwImage::readMetadata()"
**Describe the bug**
in my research , a heap overflow found in Exiv2::MrwImage::readMetadata() /home/tim/exiv2-asan/src/mrwimage.cpp:131.

**To Reproduce**
exiv2 -pv $poc
[poc1.zip](https://github.com/Exiv2/exiv2/files/3385271/poc1.zip)

**Expected behavior**
[code]

**Desktop (please complete the following information):**
 - ubuntu18
 - gcc 7.4.0
 - -fsanitize=address -g

[2019-07-12 13:35] piponazo opened #956 "Add compiler flags which could be interesting in terms of software security"
Take ideas from here:

https://git.libssh.org/projects/libssh.git/tree/CompilerChecks.cmake

[2019-07-12 13:42] D4N commented on #956
We essentially want to add this:
[code]
wherever supported (the annobin stuff is afaik only supported on RHEL/CentOS & Fedora)

[2019-07-12 14:36] 1div0 commented on #956
Also, for better performance LTO use would be nice to have.

[2019-07-12 14:39] D4N commented on #956
Peter Kovář <notifications@github.com> writes:

Shared libraries don't support LTO.

You can build the library with LTO, but I wouldn't get my hopes up
without using profile guided optimization.

[2019-07-12 19:19] phako commented on #947
The above was a question to the exiv2 people, if that was unclear :)

[2019-07-13 04:48] clanmills commented on #947
Folks:  Thanks for this vigorous discussion.  I'm home from vacation and will investigate.  For Exiv2 v0.27.2, we are supporting FreeBSD and NetBSD:  #833  So, I have a FreeBSD VM and will investigate this matter.

@lantw44 Thank you for your thorough work on this.  You were of great help to Exiv2 on v0.27-RC1 concerning threading, freebsd/packaging and exiv2.pc.   Thank You for working with us.

[2019-07-13 05:30] clanmills commented on #911
Folks

I'm going to write a book about Exiv2 Architecture and I will offer a "Metadata and Exiv2 Architecture" workshop at LGM 2020.

The book will be about 12 chapters and I'm thinking to write about 1 chapter/month, so it'll take about 1 year.  The chapters will be topics such as:

1) Image File Formats
2) Tiff

[2019-07-13 05:50] piponazo commented on #911
Great news @clanmills . I'll be happy to review the chapters :wink:

[2019-07-13 05:52] clanmills commented on #911
@piponazo That'll be great.  I want to create a "road map" to the architecture of Exiv2 __*and*__ to explain how metadata is stored in images.  To my knowledge, nobody has written a book about metadata.

[2019-07-13 06:16] piponazo commented on #947
Thanks @lantw44 for your great bug report. I think your analysis of the situation is totally right and we should create a PR to fix up that situation. I'll leave that up to you so that you have the authorship of the commits, unless you prefer we take care of the situation.

Honestly I did not go so far as you when we had the first issues about exporting those symbols ... In the past we were not hi

[2019-07-13 06:36] clanmills commented on #947
@piponazo I think you're right.  I'm investigating at the moment.  If @lantw44's patch above passes the test harness, we should push this into Exiv2 v0.27.2-RC3.

It's not easy to verify either the bug or the fix for the following reasons:
1)  I didn't get the GUI to work on FreeBSD (let's not discuss this).  So I can build using ssh, but can't run any GUI stuff such as gnome photos.

2) gnome pho

[2019-07-13 08:35] clanmills commented on #947
I think this fix provided by @lantw44 is good.  I've used Jens' program:

[code]

## With Exiv2 v0.27.2.2 (RC2)

[code]

## Exiv2 v0.27.2.3 (RC3)
[code]

I've done comparison of `nm` output on v0.27.2.2 and v0.27.2.3 without finding anything.

I going to look at this change on MacOS-X and Ubuntu, however I think I'll fold this into Exiv2 v0.27.2.3.

Sadly, @lantw44 won't get a GitHub credit (with

[2019-07-13 09:39] clanmills commented on #947
This isn't working on Ubuntu.  Can't link jens.cpp
[code]

So, @lantw44 has a work around for FreeBSD which also works on MacOS-X (which was the subject of #644).  I think we have to get rid of the template in `include/exiv2/error.hpp`.

This isn't ready to ship in Exiv2 v0.27.2 RC3.  We'll have to defer this for v0.27.3 (scheduled 2019-09-30) and solve #685 as well.

[2019-07-13 11:57] clanmills commented on #947
I've investigated removing the use of templates in include/exiv2/error.hpp.  For v0.28, that's the way to go.  We don't need that complexity.  However, I don't want to change the API of the 0.27 "dots" without a very good reason.

The problem linking jens.cpp on Ubuntu is "weak" symbols for the GCC build.

### MacOS (clang build)
[code]

### Ubuntu  (GCC 7.4.0)
[code]

Please note the first line o

[2019-07-14 14:36] lantw44 commented on #947
@clanmills I saw you didn't use -L in the Ubuntu test. Did it really use the library you just compiled? Using a weak symbol doesn't look like a problem.

[2019-07-14 17:34] clanmills opened #958 "Use #!/usr/bin/env bash in test/build scripts"
https://github.com/Exiv2/exiv2/pull/833#issuecomment-511202324

[2019-07-14 17:56] clanmills commented on #947
You are a very clever and helpful person.  You are right.  I forgot to eat my own dog-food.  In releasenotes/Linux/ReadMe.txt, the recommended command to link is:

[code]

Adding `-std=c++98` enabled jens.cpp to build and link correctly on Linux.

So I will submit a PR with your patch and it will be reviewed by @piponazo (our CMake King).

I was hoping to release Exiv2 v0.27.2 RC3 today, however I

[2019-07-15 02:53] boo0m opened #960 "buffer overflow in exiv2/src/webpimage.cpp"
**Describe the bug**
I found a buffer overflow bugs in exiv2/src/webpimage.cpp:837 due to integer overflow.
**To Reproduce**
Steps to reproduce the behaviour:
exiv2/build/bin/exiv2 exiv2_getHeaderOffset.poc

**Expected behavior**
In Exiv2::WebPImage::getHeaderOffset, integer overflow occurs when data_size is less than header_size, and it will cause buffer overflow in '&data[i]'.
![image](https://u

[2019-07-15 08:25] clanmills commented on #947
@lantw44 Unhappy news about #959.  Your change breaks the Windows build.  Do you have any other suggestions about to fix this?

[2019-07-15 18:10] piponazo commented on #960
Thanks @boo0m for reporting. I could not reproduce a crash under the latest version of `0.27-maintenace`. I was obtaining the following output message from exiv2:

[code]

Nonetheless the analysis is correct, and I added a regression test and the fix for this issue to throw as soon as we encounter we try to read out of the bounds. See #962

[2019-07-15 18:21] piponazo commented on #954
Thanks for reporting @cuanduo . Could you specify which version of the library are you using? I tried to reproduce it with the latest version of `0.27-maintenance` branch without success. The compilation flags I used were:

[code]

[2019-07-15 18:36] D4N commented on #960
The POC results in a crash on master.

[2019-07-15 20:46] piponazo commented on #954
No luck either on `master`.

[2019-07-15 21:01] piponazo commented on #953
As in #954, I could not reproduce the issue on `master` nor in `0.27-maintenance`. I tried with gcc 7 and 8, and clang 6, using address sanitizer and release and debug modes ... am I missing something ?

[2019-07-15 21:02] piponazo commented on #952
As in #954, I could not reproduce the issue on master nor in 0.27-maintenance. I tried with gcc 7 and 8, and clang 6, using address sanitizer and release and debug modes ... am I missing something ?

[2019-07-15 21:18] piponazo commented on #950
Thanks @zjuchenyuan for insisting on this. I have reproduced the issue and @D4N seems to be on the right track.

[2019-07-15 23:18] cuanduo commented on #954
i think the commit https://github.com/Exiv2/exiv2/commit/bd0afe0390439b2c424d881c8c6eb0c5624e31d9 correct the bug.
you could try the version before date 7.12

[2019-07-16 00:59] cuanduo commented on #953
in master
and version the day i test
git checkout -b c4f8561520aeee07ac180648d485d5d96e913c44

[2019-07-16 01:01] cuanduo commented on #952
in master
and version the day 7.12 i test
git checkout -b c4f8561

[2019-07-16 06:34] #960 closed

[2019-07-16 16:34] clanmills commented on #947
I've spent most of today on this matter without success.  I've updated the PR about my investigation.  https://github.com/Exiv2/exiv2/pull/959

[2019-07-17 15:49] emmenlau commented on #363
May I kindly ask whether this fix may be reconsidered soon?

I've just hit this very same block, and was so confused by it that I wasted a whole afternoon trying to figure out what was going on. It seemed virtually impossible that XMP support had such an cruel issue: exiv2 builds successfully on LP64 platforms with XMP enabled, but every attempt at using XMP crashes and burns. For me, this renders

[2019-07-17 17:29] clanmills commented on #363
Folks:

Can you help me understand what's being discussed here.  We've been building 32 and 64 bit versions of Exiv2 with XMP support on Mac/Windows/Linux for about 10 years and nobody has reported:  __*every attempt at using XMP crashes and burns*__ on any platform.

Can we have a "top level" description of the issue.  By "top-level" I mean, please defined the exiv2 version/platform/command-line

[2019-07-17 18:07] emmenlau commented on #363
@clanmills , sorry I assumed that everything was already known and I'm just late to the party! :-)

So here is a hopefully better issue report: I build exiv2-0.26, exiv2-0.26.1 and exiv2 master from today on Ubuntu 18.04 Linux x86_64 with XMP enabled. When I use my image reader (that includes an exiv2 binding) on various images I get exception:
[code]
I get the same exception also on a major part

[2019-07-17 18:32] clanmills commented on #363
Where's the problem?

[code]

__*I get the same exception also on a major part of the exiv2 test suite.*__ Where?

[2019-07-17 18:38] clanmills commented on #363
On Ubuntu:
[code]

[2019-07-17 18:43] emmenlau commented on #363
I get the exceptions in the test suite in thousands of places, so I'll just paste a few examples here, ok? With `libexiv2.so.0.27.2.2` for example, I get:
[code]
Thousands of similar lines follow.

[2019-07-17 18:47] emmenlau commented on #363
Would it be possible for you to check if your binary actually executes the assertion in `xmpsdk/src/XMPMeta.cpp:738` or not? I think this might go a long way, since if it does, I do not see how it can work.
So without better clues I would assume that `static bool XMPMeta::Initialize()` around line `738` is not executed for you. Would that make sense?

[2019-07-17 20:20] clanmills commented on #363
I've been building and running the test suite dozens of times every day for 10 years and never seen those errors.

How are you building the library?

[2019-07-17 20:23] piponazo commented on #363
In #289 it was discussed that one possible way to reproduce the issues was to define `DEBUG` or `XMP_DebugBuild=1`. @emmenlau Are you defining any of those ? You can see all the compilation flags if running `make VERBOSE=1`.

[2019-07-17 20:40] emmenlau commented on #363
Argh! Yes, I have a default set of `cflags/cxxflags` that includes `DEBUG`. Dammit. This used to work fine in an earlier version of exiv2, something around v0.25. I updated a longer while ago but must have been lucky not to run into the XMP issue until now, probably because we typically do not have too many files with XMP content.

I see that exiv2 really does not digest the `DEBUG` flag all too w

[2019-07-17 20:43] piponazo commented on #363
I'm happy to see that we have reached the root of your issue :grinning: . If you want to know more why we dropped that **custom** `DEBUG` flag, you can see the reasoning of the change in #272

[2019-07-17 20:52] smr99 commented on #363
You will only see assertion failures if you enable them.  The current Travis runs do not.
  See the initial post on this thread.

On July 17, 2019 9:20:33 p.m. GMT+01:00, Robin Mills <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-07-17 20:57] emmenlau commented on #363
So for the sake of completeness, maybe it would be a good idea if someone from the dev team would check in `static bool XMPMeta::Initialize()` what they get for `sizeof(XMP_Int32)`? If `XMP_Int32` is 8 bit as I would assume on LP64 Linux, it may still be worthwhile to switch to `int32_t` instead to be sure.

[2019-07-17 21:28] clanmills commented on #363
@emmenlau I'll look at that tomorrow (or more likely Saturday as we have friends visiting tomorrow and Friday).  I'm talking on the phone to a user in Arkansas while trying to release Exiv2 v0.27.2-RC3 at the moment.  I'm talking on Slack to Exiv2 Team Members in Spain and Germany.  So, I'm feeling a little pressured at the moment.

We're making progress with your issue.  Feel free to ping me if I

[2019-07-17 23:10] clanmills commented on #363
I've modified xmpsdk/src/XMPMeta.cpp as follows:
[code]
And when I run it, I get:
[code]

I don't know what problem we're investigating.  Why would XMP_Int32 not be 4 bytes (as asserted).

Adobe's code has been in Exiv2 for at least 10 years and given excellent service.  I can hardly remember changing anything in the xmpsdk/ directory.

[2019-07-18 06:53] smr99 commented on #363
The problem is the following.

The file XMP_Const.h typedefs specific bit-width integers: XMP_Int32, etc. If "XMP_MacBuild" is defined, then <stdint.h> is included and the standard types (e.g. int32_t) are used; if not, XMP_Int32 is typedef'd as "signed long". This fails on a linux 64 bit machine because long is 64 bits, not 32.

On July 18, 2019 12:10:07 a.m. GMT+01:00, Robin Mills <notifications

[2019-07-18 07:41] emmenlau commented on #363
Am I correctly assuming that the `mbp` in `rmillsmbp` is short for MacBookPro? The issue will not show on MacOS.

So here are the results I would anticipate:
 * On MacOS: `sizeof(XMP_Int32) = 4` (good)
 * On Linux i686: `sizeof(XMP_Int32) = 4` (good)
 * On Linux x86_64: `sizeof(XMP_Int32) = 8` (possibly bad?)
 * On Windows x86: `sizeof(XMP_Int32) = 4` (good)
 * On Windows x64 with Microsoft or Int

[2019-07-18 10:00] clanmills commented on #363
I've built/run this on Linux (both 32 bit and 64 bit).  You're quite correct: `sizeof(XMP_Int32)` is 4 on 32 bit Linux and 8 on 64 bit Linux.  Clearly the XMP_Assert() is hollow.  This is rather odd.  However, the code has been there for a long time without causing any issues.

Please understand that I am reluctant to change any of the Adobe code.  For v0.27, it is possible to build Exiv2 using Ad

[2019-07-18 11:17] emmenlau commented on #363
I can perfectly relate to this, never change a running system. However it may also be worthwhile to improve the behavior with respect to this known issue. What do you think about adding a more helpful diagnostic message before the assertion?
Something like:
[code]
in `XMPMeta::Initialize()`?

This may serve as a sufficiently helpful pointer for other people experiencing this issue, while at the sa

[2019-07-18 12:04] clanmills commented on #363
No.  I will not do that.  Somebody will open another bug report if I put that in the code.

[2019-07-18 12:04] #363 closed

[2019-07-18 12:26] #947 closed

[2019-07-18 16:18] smr99 commented on #363
Maybe it causes no issues that you know about.  But (a) it is clearly wrong that an "int32" has 64 bits, (b) it has 32 bits on many architectures, (c) prevents you from running complete test suite with assertions, and (d) has been fixed by Adobe in current upstream to use <stdint.h> on Linux (thus correctly using 32 bits).  So I have difficulty understanding the reluctance to fix an obvious bug.

[2019-07-18 17:26] clanmills commented on #363
@smr99 You know there are always unseen repercussions of changing code.  Nothing is free.  Nothing is trivial.  Nothing is "can't go wrong".

One day I hope to remove the xmpsdk code from the code base.  We've had numerous requests to support Adobe XMPsdk as an external library  We added support for Adobe XMPsdk/2016 in v0.27 via Conan.  I don't know if anybody has used that because I only hear ab

[2019-07-19 14:48] clanmills commented on #922
I can't get this to work on Ubuntu for the following reasons:
1) Conan doesn't install the expat dependency.
2) The file cmake/mingw-w64-x86_64.cmake isn't in the repos.
3) Dan's recipe requires `mingw-cmake` which does not exist in `apt`.
4) Building "static only" is of limited usefulness.
5) I'd like to document how to test this on Windows or using wine on Linux.

I'm going to defer this for v0.

[2019-07-20 02:03] shassard commented on #953
I just ran into this problem related to KDE's baloo file indexer loading metadata from a corrupt png from libpng's test suite:

https://bugs.kde.org/show_bug.cgi?id=409958

Specifically it was the file:
http://prdownloads.sourceforge.net/libpng/libpng-1.6.37.tar.xz?download
./libpng-1.6.37/contrib/testpngs/crashers/empty_ancillary_chunks.png

[2019-07-20 02:07] shassard commented on #953
On Ubuntu with exvi2 0.27.1-0+18.04+bionic+build12:

`
testpngs/crashers% exiv2 -pv empty_ancillary_chunks.png
zsh: segmentation fault  exiv2 -pv empty_ancillary_chunks.png
`

[2019-07-20 22:24] clanmills opened #966 "Build fails on MacOS-X when /usr/local/lib/libintl.dylib is missing"
I was working on the phone with a user in Little Rock, Arkansas.  He doesn't have libintl.dylib on his machine.  The MacOS-X bundle would not run because he doesn't have /usr/local/lib/libintl.dylib  I made a private build on 0.27.1 for him with EXIV2_ENABLE_NLS=Off and sent it to him and that was fine.

Later in our discussion, I got him to build from source.  The build failed while building the

[2019-07-21 05:56] piponazo commented on #966
I just want to point you to this CMake documentation page about FindIntl:

https://cmake.org/cmake/help/latest/module/FindIntl.html

Note that for example on Linux with GNU libc, the support is for the gettext functions are there.

[2019-07-21 06:15] clanmills commented on #966
Thanks, Luis.  Yes.  I should have mentioned gettext in the bug report.

For years, I never build Exiv2 on MacOS-X with NLS because I just ran into trouble and there was no documentation about how to use NLS.  So I closed my eyes and pretended there was nothing wrong.  I'm going to explore this matter.

Those libraries on my lpatop in /sw (brew) and /opt (MacPorts) probably exist efforts to build

[2019-07-21 07:44] clanmills commented on #966
Gosh, this is a horrible matter.  I've uninstalled gettext:
[code]

FindIntl reports we're linked with Mono (which I think is .Net/Unix).
[code]

And bin/exiv2 is still linked to /usr/local/lib:
[code]

Deleting /usr/local/lib/libintl.8.dylib on the machine creates huge problems because I have coreutils built and installed on the machine.  Most of the unix commands are in /usr/local/bin and linked

[2019-07-21 15:14] piponazo commented on #953
@shassard I could reproduce the issue on the tag `0.27.1` :+1:

However the problem seems to be fixed on the latest version of the branch `0.27-maintenance` and in master too.

@cuanduo Could you please tell me the compiler flags you are using when compiling on master? I would like to try exactly with your same setup to be able to reproduce the issue on my side. Otherwise I cannot work on it.

[2019-07-22 00:17] cuanduo commented on #953
it has been fixed by commit bd0afe0390439b2c424d881c8c6eb0c5624e31d9 master

[2019-07-22 04:14] #953 closed

[2019-07-22 05:12] piponazo commented on #953
@cuanduo could you please check if the issues #952 and #954 are also solved in the latest master version and close the issues if so?

[2019-07-22 09:21] cuanduo commented on #953
yes, it can be closed.

[2019-07-22 09:36] piponazo commented on #952
I'm closing this after the findings in #953

[2019-07-22 09:36] #952 closed

[2019-07-22 09:36] piponazo commented on #954
I'm closing this after the findings in #953

[2019-07-22 09:36] #954 closed

[2019-07-22 20:57] D4N commented on #922
Robin Mills <notifications@github.com> writes:

Because that is only available on Fedora. If you want a painless
solution: use Fedora, grab the same packages as on GitLab and it should
just work (no need to mess with Ubuntu, conan and cmake toolchain files).

This should be fixed once #685 makes it into master, no chance for 0.27
though.

[2019-07-22 21:10] clanmills commented on #922
Thanks, Dan.  That's a bummer.

I would like to get cross-compiling documented for "the dots".  I had it working in January with a little magic in contrib and some DLLs which I shouldn't have put into the repos.

I'll revisit this and look at Fedora for 0.27.3.  Or maybe I'll focus on the book.  We'll see.

[2019-07-23 17:30] clanmills commented on #966
I've installed a new MacOS-X VM on the buildserver.  There's good news.  The default build fails because /usr/local/include/libintl.h is missing.  John's machine (the user in Little Rock, Arkansas) has a slightly mixed up machine.  It error off and does not.

It used to be that NLS would be disabled when this occurred.  So now the default build fails on the build server.

I'm going to disable NLS

[2019-07-24 12:04] clanmills commented on #966
I've email John and asked him to run the following command.

Here are shared objects on different platforms.  I'm wondering if I should create a zip file for each platform with those objects.  Not sure.  It's easy to say "Not our issue".  Or perhaps we should use static linking.

### MinGW

[code]

### Cygwin

[code]

### 2017msvc

Nothing.  expat and lib must be statically linked.

### Ubuntu

[c

[2019-07-25 01:23] boo0m commented on #960
Could you please request/assign a CVE for this bug? Thanks. @piponazo @D4N

[2019-07-25 10:36] clanmills commented on #966
John replied to my email.  Thank You, John, for working with me.

This is being caused by /Library/Frameworks/Mono.framework being installed on his machine.  The Mono Framework is .Net for Unix.  My guess is that it was installed to support another application that has been installed on the Mac.

I used the following script to clean this up.  https://gist.github.com/powerumc/e80bb475117582d7e842

[2019-07-25 10:51] clanmills commented on #966
This is a known CMake bug: https://gitlab.kitware.com/cmake/cmake/issues/18921

Case closed.  We know the cause.  There are two work-arounds:
1) cmake .. -DEXIV2_ENABLE_NLS=Off
2) Uninstall Mono with  https://gist.github.com/powerumc/e80bb475117582d7e842

Work-around 1 was provided to John several days ago.
Work-around 2 has been discovered by this investigation.

[2019-07-25 12:36] clanmills commented on #966
Another couple of work-arounds:
3.  $ cmake -DCMAKE_FRAMEWORK_PATH=NEVER ..
4. In `cmake/findDepedancies.cmake`:
[code]

I'm going to re-open this case and submit a PR for this and ask @piponazo to review.

I've also observed that we link `-ldl` the dynamic linker for src/version.cpp.  This is no long required.  I'll also submit a PR for that.

[2019-07-25 15:13] piponazo commented on #901
@tester0077 Would you mind to change the title of the issue to describe your current issue? After reading the whole thread of messages I understood that you managed to build exiv2, right ?

[2019-07-25 15:18] piponazo commented on #715
I can confirm that this is fixed in 0.27. @adriaandegroot I do not know much about FreeBSD but I saw this:

https://freebsd.pkgs.org/12/freebsd-ports-latest-i386/exiv2-0.27.1_1,1.txz.html

Could we close this issue?

[2019-07-25 15:22] #759 closed

[2019-07-25 17:16] clanmills commented on #715
@piponazo I have a couple of FreeBSD VMs.  I've run the following tests and everything seems OK on 0.27.2.3 (Exiv2 v0.27.2 RC3).
[code]

@adriaandegroot Regretfully, we don't have the resources to actively back-port patches to 0.26.  We took a team decision to provide quarterly "dot" releases for v0.27 and v0.27.2 will be released next week.  We will offer LTS (long term support) for v0.27 during

[2019-07-25 17:16] #715 closed

[2019-07-25 17:31] clanmills commented on #715
@adriaandegroot I see you are a fan of FreeBSD.  We've had excellent input concerning FreeBSD from @lantw44.  I've invited Ting to join Team Exiv2 as our "Unix Man".  Like all great people, Ting is busy and didn't commit.  If you're interested in joining us, we will appreciate your contribution.

We're "ramping up" our Unix support starting with FreeBSD and NetBSD for v0.27.2 and expect to add Sol

[2019-07-28 06:23] milasudril opened #970 "Consider moving lens db to a separate module, for easier updating"
**Describe the bug**
It appears that libexiv in popular distros get outdated too fast. My lens is in version 0.27, but not in 0.25, which is provided by Ubuntu. I tried to build the latest version and use it with the installed version of darktable but failed. It would be good to move such things out so it would be trivial to update the database.

**To Reproduce**
Steps to reproduce the behaviour:

[2019-07-28 06:38] clanmills commented on #970
Thank you for reporting this issue and thank you for using Exiv2.

I am very aware of this issue.  About 50% of issues in Exiv2 concern lens recognition.  In v0.26, we added a feature for you to declare you own lens in the file ~/.exiv2

https://dev.exiv2.org/projects/exiv2/wiki/Lens_Recognition_in_Exiv2_v026_(and_later)/

[2019-07-28 06:38] #970 closed

[2019-07-28 08:00] #966 closed

[2019-07-28 12:41] milasudril commented on #970
Good work. Now just waiting for Ubuntu to upgrade to latest version so this changes is distributed.

[2019-07-28 20:59] D4N commented on #970
Moving the lens database into a separate file/package is actually not going to solve a lot, as (unless we invest a lot more energy in keeping the lens db compatible across versions) it will be impossible to use 0.27's lens db in 0.25 (that would furthermore require a backport of that feature).

Please also note that many of the new lenses actually require additional code, which would make distribu

[2019-07-28 21:06] #755 closed

[2019-07-29 16:51] kirotawa commented on #952
It was assigned CVE-2019-14368 number for this issue.

[2019-07-31 00:07] tester0077 opened #976 "Memory leak issue with exifprint 0.27.2"
As part of one of my projects, a fork of the Sourcforge vvvP project which seems almost dormant, I need to use exiv2lib to display images.
I am using an updated version MSVC 2017, Community edition, wxWidgets 3.0.1 all statically linked - except for zlib1.dll.

The original code was compiled with the DLL version of exiv2 0.27.1. But I was getting memory leaks - as reported both by my own MSVC code

[2019-07-31 06:06] clanmills commented on #976
Good Morning, Arnold.  I was thinking about you yesterday.  I released v0.27.2 on Monday.  Yesterday I closed the v0.27.2 project on GitHub and looked at what's waiting for me in 0.27.3.  I thought "I wonder if Arnold will let me have a day off before asking me about #918"!

Using our samples (for example _samples/exifprint.cpp_) for testing is good practice.  It would help if you shared your code

[2019-07-31 15:25] tester0077 commented on #976
Hello Robin,

I had been following the exiv2 progress with some interest although
porting the new project to my environment kept me pretty busy.

As I said, partly because of previous experience, but also from changes
made by the developers, I found the installation for the latest version
much more straight forward.

On 2019-07-30 11:06 p.m., Robin Mills wrote:

Well, you know what they say: "No r

[2019-07-31 16:02] clanmills commented on #976
Arnold.  You have my attention and this matter (and #918) will be investigated.

Thank you for your nice words of "kudos" about the installation procedure.  I aim to make our documentation comprehensive, correct and not too long.  I may have recruited a tech writer to take ownership of them going forward.

[2019-07-31 16:29] tester0077 commented on #976
Although it made some work for myself to revert the changes to not use the boot libraries, I was very pleased to see that the need for boost had been eliminated.
Also, I just now installed/setup a similar setup for a 32-bit statically linked release version and it too worked like a charm.
As a side note:
My interest in exiv2 is not confined to making my current project use exiv2 lib, but also beca

[2019-07-31 17:01] clanmills commented on #976
Exiv2 has never used boost, Arnold.  There's a contrib item `contrib/organize/organize.cpp` that uses boost.  However none of the "official" Exiv2 code requires boost.

Have you investigated using `atexit()` to invoke `XMPTerminate()` in exifprint.cpp ?

pyexiv2 is no longer supported by Oliver and has never been supported by Exiv2.  There is a py3exiv2 which is 'pyexiv2 for python3'.  A couple of

[2019-07-31 18:11] tester0077 commented on #976
Yes I have had a go at atexit() with exifprint, but I cannot find any variation of calling XMPMeta::Terminate that the compiler will accept.

As for pyexiv & Gramps, I have been sidetracked by sorting out collecting and annotating my data to be used by Gramps - eventually.
Also, had brief look at the link - there is a mention of 'boost' libraries needed for even pyexiv2 :-( :-(
I just checked and

[2019-07-31 18:35] clanmills commented on #976
Ah, yes.  You need boost to build pyexiv2.  However that's not part of Exiv2.

I've started/terminated XMPsdk with:
[code]
[code]
[code]

[2019-07-31 19:08] tester0077 commented on #976
Thank you, Robin :-)
Including some of the code at the end of exifprint , namely
[code]
Cleaned up all of the leaks and VLD reports

The initial section does not hurt, but is not strictly necessary, but without the last entry, just before
return 0;
VLD reports - for the small image I had mentioned - at the tail end of a long list:
......

[2019-07-31 19:14] tester0077 commented on #976
And I just tried the same code in my application and I am more than pleased to say that it cleaned up the memory leaks!

[2019-07-31 19:43] clanmills commented on #976
OK.  I'm going to submit a PR to add this code to all our sample applications.  And I'll add a section to `README.md` and `README-SAMPLES.md` to explain what/why this is used.

Andreas (the founder of Exiv2) wanted to avoid init/term code in the Exiv2 library and indeed it's not needed by his Exif code.

XmpParser::initialize() is called by `readMetadata()/xmpDecode()` to ensure that the XMPsdk is

[2019-07-31 20:01] tester0077 commented on #976
Some of those reservations where at the back of my mind, but being very unfamiliar with the rest of the code and the design ideas behind it I was even surprised that calling the XmpParser terminate would do the trick.
Still, it seems to me that other libraries, such as libcurl, I have used do insist on bracketing their use with some calls to both initialize and cleanup when they are used. For now,

[2019-07-31 20:22] clanmills commented on #976
I'm glad that you're happy.  Remember, I'm the only messenger and most of the code in Exiv2 was written by other people.  I don't have any concerns about library `init()/term()` functions.  However Andreas thought otherwise.

There's an elegant balance in `Exiv2::XmpParser::initialise()` and `Exiv2::XmpParser::terminate()` and requires no API changes.

I'll investigate your `_free()` #918 issue in

[2019-07-31 22:05] tester0077 commented on #976
I quite understand the time constraints. I saw the flurry of messages back and forth for 0.27.2 and was very happy to not have to really reflect on any of the decisions behind it all - and I love the results :-)
The only reason I am recording my results right now is because by tomorrow I may be off to work on other issues and will have forgotten many of the details that seemed important today :-)

[2019-07-31 23:11] clanmills commented on #976
Thanks for your comments and closing this issue.

I'm going to reopen it.  When I submit the PR for the code and document changes, it'll be automatically closed when the PR is merged into 0.27-maintenance.

I'd also like to keep this open as the Team will probably want to merge this into 'master' which will be 0.28 eventually.  There's no solid schedule for 0.28 at the moment.

[2019-07-31 23:25] tester0077 commented on #976
Sounds good. Thank you

[2019-08-01 12:45] clanmills commented on #901
@tester0077 Can we close this?

From your comments in #976, I believe you've been able to build successfully with Visual Studio + Conan + CMake + README-CONAN.md

[2019-08-01 13:16] clanmills commented on #918
I've looked at this and feel there is no case to answer.  The Exiv2 code builds successfully.  When I follow Microsoft's instruction https://docs.microsoft.com/en-us/visualstudio/debugger/finding-memory-leaks-using-the-crt-library?view=vs-2019 and introduce the following (in config.h)

[code]

I get warnings/errors such as:
[code]

`DataBuf::free()` in types.hpp is a valid class/method and has bee

[2019-08-01 15:59] tester0077 commented on #918
Your analysis of the issue is correct: MS wants to replace the free
function with an instrumented version for leak detection - and that
raises the 'flag'.

If the Databuf code is going away in any case, that would resolve the issue.

While it is part of the code, it would be your team's decision whether
or not to worry about the conflict of the function name with rather well
established keyword co

[2019-08-01 16:03] tester0077 commented on #901
Yes

[2019-08-01 16:03] #901 closed

[2019-08-01 16:32] clanmills commented on #918
I am going to close this issue for the following reasons:
1) The Exiv2 code is valid. There's nothing `reserved` about the function name `free` and it's something in the Microsoft code for leak detection that isn't dealing with this correctly.
2) You have a work-around.
3) I wish to avoid API change in the 0.27 'dots'.
4) I believe this class will disappear in Exiv2 v0.28.

[2019-08-01 16:32] #918 closed

[2019-08-06 17:17] viskin commented on #396
We use this great library in our project, and sadly from time to time we encounter jpegs that have XMP region > 64K. For now, we just ignore XMP data for such images.
Is improvement in this area planned?

[2019-08-06 19:30] clanmills commented on #396
For sure this is on the TODO list.  When will it get done?  Hard to say.  We only have 3 engineers working steadily on Exiv2 and a few friends and occasional contributors.

2 years ago, the security folks starting hitting us with fuzzed files.  These are files which violate format specifications and can cause the code to crash.  We are having a series of quarterly "dot" releases to provide a strea

[2019-08-07 18:11] clanmills commented on #911
I've had a reply from Timothée:

we are planning to have the event (May 28th to 31st).

It's our son's Wedding Reception on Friday 28 May.  I believe I can come on Saturday 29 and stay for the weekend.

LGM in 2021 will be in Sri Lanka.  I don't intend to attend.  I've decided to only fly when I believe the journey is essential.  So, I would get a ferry to St Malo to go to Rennes.  Perhaps I'll fl

[2019-08-09 08:37] 5hadowblad3 opened #979 "Segmentation fault in exiv2"
There are is a segmentation fault happened in exiv2 correlated to getUShort.

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.6 LTS
Release:	16.04
Codename:	xenial
gcc: 5.4.0

The compile command is:
cmake ./ ;make

To reproduce the issue,  run:
./exiv2 input

Here is the trace reported by asan:

=================================================================
==170768==ERROR: AddressSanitizer:

[2019-08-09 08:46] 5hadowblad3 opened #980 "Buffer overflow caused by exhaustive memory usage"
There is a buffer overflow in exiv2 in file types.cpp.

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.6 LTS
Release:	16.04
Codename:	xenial
gcc: 5.4.0

The compile command is:
cmake ./ ;make

To reproduce the issue, run:
./exiv2 input

Here is the trace reported by asan:

#0 0x7faff55ba631  (/usr/lib/x86_64-linux-gnu/libasan.so.2+0xa0631)
    #1 0x7faff55bf5e3 in __sanitizer::CheckFailed(char c

[2019-08-09 11:34] clanmills commented on #979
Thank you for reporting this.

I build 0.27.1 from source on Linux and reproduced your report.

I'm unable to reproduce this with Exiv2 v0.27.2 (the current release).  I've build this with/without ASAN on both Ubuntu (18.04) and MacOSX (Mojave 14.6).  I've also 'master' on Linux (with ASAN support).

[code]

[2019-08-09 11:49] 5hadowblad3 commented on #979
Yes, I think the new version of exiv2 has fixed this issue.

[2019-08-09 11:51] clanmills commented on #980
Thank you for reporting this.

I am unable to reproduce your report.

I have build 0.27.1-Source on Ubuntu 18.04
and 0.27.2 (the current release)
and master (the development branch)

[code]

[2019-08-09 11:53] clanmills commented on #979
Very good.  I will close this issue.  If you discover any else concerning this, I will be happy to re-open and continue our discussion.

[2019-08-09 11:53] #979 closed

[2019-08-09 12:12] 5hadowblad3 commented on #980
This one is reproducible on my server with exiv2 0.27.1.

I use
cmake ../ ; make
to compile the project.

Maybe this related to the system environment?
But the reason is that exiv2 try to allocate a very large memory space from the heap, 0xfffffffffffffff4 bytes without prior checking or failure handling.

==182864==WARNING: AddressSanitizer failed to allocate 0xfffffffffffffff4 bytes
==182864==Ad

[2019-08-09 13:00] clanmills commented on #980
Thanks.  We're working together.

I've built 0.27.1, 0.27.2 and master without ASAN on Ubuntu and get:
**0.27.1**
[code]

**0.27.2**
[code]

**master:**
[code]

We added a check a couple of years ago:
[code]

I think poc_input2 uses a code path that didn't have that test.  And it's been fixed in 0.27.2 and master.  I'm going to close this issue.  However happy to re-open and continue the discussio

[2019-08-09 13:00] #980 closed

[2019-08-12 16:19] derselbst opened #981 "Canon AFInfo seems misinterpreted"
**Describe the bug**
`Exif.Canon.AFInfo` is misinterpreted as `unsigned short`. It should be `signed short` though. From my understanding this applies to both [AFInfo](https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html#AFInfo) and [AFInfo2](https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html#AFInfo2), because the AF coordinates originate from the image center (0,0), thus some

[2019-08-12 17:26] clanmills commented on #981
Thanks for reporting this and providing a test file.  I'll have to investigate this.  There's something in the code for Canon.AFInfo:
[code]
However we are reporting a long stream of 273 shorts:
[code]

I'll investigate.  I believe I can add a binary decoder to report values from fields in that binary stream.

Something similar to this was reported in December concerning AFinfo on Nikon Cameras an

[2019-08-12 17:43] clanmills commented on #981
I should have explained that the 273 shorts are what's stored in the Exif tag 0x0026 in the file:
[code]
However, in reality it's a binary record in the MakerNote.  I'll have to add a decoder to report the fields in that data.

[2019-08-12 18:32] derselbst commented on #981
Thx, looking forward to it. In case it helps understanding this issue, I'm also providing a test image from a EOS 500D: [IMG_7600](https://user-images.githubusercontent.com/8152480/62888170-09695c80-bd3f-11e9-9805-5b9061dc62c9.JPG)

[2019-08-12 19:50] clanmills commented on #981
Thanks.  That's very helpful.

Now there are 48 SHORTS version '96'.  There were 273 SHORTS version 536.  So I'll probably need two decoders with a selector.
[code]

For sure the cameras have different firmware versions:
[code]

Perhaps the 50D/Rebel 18-200mm lens has a lot less sensors/focal points.  _I don't speak camera/photography, I'm a software guy!_

[code]

You have raised this issue at a

[2019-08-13 08:55] derselbst commented on #981
Assuming you meant 546 rather than 536, these are not versions. This is the `AFInfoSize` field of the [AFInfo2 chunk](https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html#AFInfo2), which seems to simply specify the size of the chunk in bytes, given that
 `273 shorts * 2 bytes == 546` and `48 * 2 == 96` . So one decoder for the AFInfo2 chunk and perhaps another one in case you want to supp

[2019-08-13 09:09] clanmills commented on #981
Here are some notes about this.  I'll probably edit this several times while I figure what's going on!

[code]
Phil's excellent documentation is: https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html#AFInfo2

Raw Data:
[code]
| Index | Name | Value | Comment |
|:--    |:--   |:--    |:---     |
| 0 | AFInfoSize | 96  | Length in bytes |
| 1 | AFMode | 2 | 0 = Off (Manual Focus) <br>2 = Sin

[2019-08-13 09:18] clanmills commented on #981
@derselbst Thanks for your comment about the size of the chunk.  You can see that I realised that this morning.  So while you were writing, I was figuring this out!  This is looking straight forward.  I'm taking my grand-kids to the park today as they are off school and their parents are working.  I'll continue this evening.

[2019-08-13 23:33] clanmills commented on #981
Making progress:  https://github.com/Exiv2/exiv2/pull/982

[2019-08-14 16:45] clanmills commented on #981
I've made progress with this today.  The code now handles AfInfo and AfInfo2.  However it's not populating the arrays in AfInfo2.  I didn't write Exiv2, so I have to read/explore the code to know what already exists.  It appears that the decoder expects a "static/fixed" structure of fields.  AfInfo2 populates arrays whose dimension is in the metadata.  I haven't found another structure with this l

[2019-08-14 18:55] yvoinov commented on #902
Yes, samples on Solaris is separate issue. To build on Solaris now, I'm forcing to disable samples build to successfully build library on Solaris 10.

[2019-08-14 19:42] clanmills commented on #902
I think between us we most of this this covered.  I was working on this in June and had to stop work to work/focus on releasing v0.27.2.

We have to:
1) successfully build the library and samples
- I think I've done this
2) Deal with the loaded libraries and implement getProcessPath()
- I think I've done this
3) Report the correct settings from src/version.cpp
- I think I've done this
4) Update do

[2019-08-14 19:47] yvoinov commented on #902
Solaris is not dead. It just smells like that.

I believe that while at least one person uses the system, it is alive.

In case of Solaris, it uses much more than one person, OpenCSW confirm it.

At least, AFAIK, it uses by banks, telecommunications and other.

Also, there is Hipster exists (just only on x86), and a lot of running SPARC. On my opinion, LTS is not 1-4 year, but 10-20 years, and eve

[2019-08-14 19:52] yvoinov commented on #902
Sure, this was done only as workaround to build exiv2 as dependency on my platform. Of course, it also should be reworked.

[2019-08-14 19:59] clanmills commented on #902
Thanks for your words of encouragement concerning Solaris.

I don't think it's much work to get this going.  And, I belive the issues with the test suite also impact NetBSD and FreeBSD.  Between us we can get this working.  I'm 100% confident.

Do you have time to work with me on this?

[2019-08-14 20:15] yvoinov commented on #902
Sure. This will make the job faster.

[2019-08-14 21:45] clanmills commented on #902
Great.  I'm busy on another couple of issues at the moment.  I'll have a look at Solaris and your code in a few days and give you an update.  If you want to look at merging my stuff with yours, that would be helpful.

[2019-08-15 04:16] HongxuChen opened #984 "AddressSanitizer: NULL-pointer READ at XMPMeta.cpp:1134"
**Describe the bug**
`exiv2json` may crash due to NULL-pointer read.

**To Reproduce**
Steps to reproduce the behaviour:
1. run `exiv2json $f` where `exiv2json` is compiled with AddressSanitizer.
2. the program crashes with the backtrace like:
[code]

Other POCs and error messages are available [here](https://github.com/ntu-sec/pocs/tree/master/exiv2/1b2e2f40/crashes).

**Expected behavior**
Exit

[2019-08-15 05:18] clanmills commented on #984
Thank You for reporting this issue.  It have reproduced this and it will be investigated in the next few days.  We have a "dot" release v0.27.3 scheduled for 2019-09-30 and I hope it will include a fix for this issue.

[2019-08-15 16:09] clanmills commented on #984
I haven't finishing figuring this out.  For sure, there's a "quick fix" by removing the call to `Exiv2::XmpProperties::registeredNamespaces(nsDict)`

However that does solve the underlying matter which has something to do will registering namespaces.

[code]

I can extract the XMP from the file as follows:
[code]
I can extract and format it with:
[code]
I think this is being caused by the namespac

[2019-08-16 14:49] clanmills commented on #981
I've fixed to work with any number of points.  Very pleased.  Great end to the week.

It reports Exiv2.Canon.AFInfo as always (with unsigned shorts), however instead of creating a new group Exif.CanonAF.xxx, it extends Exif.Canon.AF* with entries such as Exif.Canon.AFMode and Exif.Canon.Exif.Canon.AFAreaWidths which is an array of SSHORT.

I expect this to be released in v0.27.3 scheduled for 2019

[2019-08-16 19:09] derselbst commented on #981
Here's an image which uses multiple AF focus points. It's too big for github. exiftool reports them to be:

[code]

https://drive.google.com/open?id=1kgiEWPQJSSXsEI3OqsbOXEETaDp4-EgP

[2019-08-17 09:21] clanmills commented on #981
Thanks for the test file.
[code]
I'll only use that image if/when we modify the print function for AFPointsInFocus and AFPointsSelected.

I wonder if we have the data in the wrong order here.  560 and -8192 look like bit-masks.  0 doesn't.

Thanks for finding Phil's code.  Maybe @boardhead could explain this magic.  Couple of puzzles.   What is `{2}`?  does the mask user multiple bytes?  How can a

[2019-08-17 09:33] derselbst commented on #981
Parsing of those AFPoints is currently incomplete. `$val` is the number of AF Points, I think {2} just converts it to some other type. `(63+15)/16 == 4`, so these are actually 4 ushorts or an uint64. I'm working on a fix, confident to finish it today.

[2019-08-17 09:47] clanmills commented on #981
This team-work stuff really works.  I don't know why nobody uses it in the office!

[2019-08-17 21:32] Bluetopia opened #986 "Enhancement: Add support for embedded thumbnails in AFPHOTO (Affinity Photo) files"
The Affinity Photo (AFPHOTO) format, while proprietary, contains an embedded preview that many applications are able to use when displaying a thumbnail for a file.

With Adobe's move to subscription, a lot of people have been jumping ship to applications like Affinity Photo which offer similar functionality for a reasonable price.

Sample file for testing is attached.

[RedTrillium_01.zip](https:/

[2019-08-17 21:50] clanmills commented on #986
There are other formats, such as Canon's CR3, waiting to be implemented.  If you're offering to implement this, I'll mentor you.

[2019-08-18 10:09] clanmills commented on #986
I'm closing this issue as we don't have the resources to undertake this work.  If a volunteer comes forward, this will be reopened.

[2019-08-18 10:09] #986 closed

[2019-08-19 11:44] boardhead commented on #981
$val{2} is the value of tag with id 2.  ie) NumAFPoints

In Perl, an expression like $var{key} is the value in a hash lookup for the specified key.  All of the tables in ExifTool are hashes, and the keys are the tag ID's.

[2019-08-19 11:50] boardhead commented on #981
To answer a few more questions, the format is an array of 16-bit signed integers.  You get the higher bit numbers since the array may contain more than one element.

The calculation for the size of the array is just to calculate the number of 16-bit integers required to store NumAFPoints bits.  The "+15" is because you need 1 word to store 1 bit, and (1+15)/16 is 1.

[2019-08-19 13:59] clanmills commented on #981
Thanks, Phil.  I think we have this nailed and working well.  @derselbst figured out what you've just explained.

[2019-08-20 20:36] tester0077 opened #987 "Is there a way to query whether a given tag is supported by Exiv2?"
In trying to port an existing and no longer actively maintained project, I have run into an issue where my fork, based on the existing code tries to read data for a tag "Exif.MinoltaCsNew.ISOSpeed".
Presumably, the code I am working with was initially meant for & compiled against an earlier version of Exiv2lib and now that it is linked with 0.2.72 it throws exceptions. Or perhaps the exceptions we

[2019-08-20 22:17] clanmills commented on #987
Oh gosh, Arnold.  You always ask tough questions that require research.

It's unlikely that you will find the string "Exif.MinoltaCsNew.ISOSpeed" outside the test suite.  The tag means this is part of the Minolta makernote tag and relates to camera settings.

Alison and I are having a mini-vacation on the Isle of Wight.  I'll look at this and give you an update at the weekend.

[2019-08-20 23:02] tester0077 commented on #987
No rush -Just trying to educate myself.  I have simply disabled that particular part of the code - does not seem to be used now and possibly was part of initial testing. Don't get any answers from the original developer - so I have to second guess ....
FWIW, my e-mail service is down because the ISP - Telus - has major issues and had been having them since last Thursday - no email service for near