[2019-08-20 23:13] tester0077 commented on #987
Another FWIW: :)
The link on your  https://www.exiv2.org/makernote.html#R5 to http://www.dalibor.cz/minolta/makernote.htm is dead and was replaced by http://www.dalibor.cz/software

[2019-08-21 09:00] clanmills commented on #987
There's a sample program `taglist` that generates all the tags supported by Exiv2.  The output from that is used to generate the web pages on exiv2.org relating to metadata and makernotes.

I believe the Exif and IPTC defined valid metadata names and they are supported.  XMP is "Extensible" and you can define your own tags (and arrays and objects).

Thanks for bring the broken link to my attention

[2019-08-22 19:04] clanmills commented on #987
Arnold:
[code]
Let me explain what the tag names mean.

Tag: Family.Group.Tag
Family: Exif | Iptc | Xmp
Group : There are 106 groups:
[code]
Tag: Can be almost anything and depend on the Group.
[code]
There isn't a tag Exif.MinoltaCsNew.ISOSpeed.  There is a Exif.MinoltaCSNew.ISO

You can use the program exifvalue to look for a tag in a file.  If the tag doesn't exist in the file, it will report "

[2019-08-22 19:05] clanmills commented on #987
Arnold:
[code]
Let me explain what the tag names mean.

Tag: Family.Group.Tag
Family: Exif | Iptc | Xmp
Group : There are 106 groups:
[code]
Tag: Can be almost anything and depend on the Group.
[code]
There isn't a tag Exif.MinoltaCsNew.ISOSpeed.  There is a Exif.MinoltaCSNew.ISO

You can use the program exifvalue to look for a tag in a file.  If the tag doesn't exist in the file, it will report "

[2019-08-23 09:48] clanmills commented on #981
Fix submitted in #988

[2019-08-23 10:55] derselbst commented on #981
While testing #988 I also tried to figure out the meaning of `AFPrimaryPoint`. Unfortunately without success, I just don't know how to trigger or reproduce it. If I ever find out, I'll let you know.

In any case, thanks again guys!

[2019-08-23 12:38] clanmills commented on #981
I've made (mostly made up/conjecture) a comment about "PrimaryPoint" here: https://github.com/Exiv2/exiv2/pull/988#issuecomment-524291454

[2019-08-23 12:48] boardhead commented on #981
I would guess that PrimaryAFPoint is the point that the camera used to actually focus the image.

[2019-08-23 14:32] clanmills commented on #981
That sounds right, Phil.  I got a Digital Rebel about 2004 and I think you could change the a red dot in the view-finder.  On the metadata here, AFPrimaryPoint is singular, yet it is a bitmask of points.  We're left guessing!

[2019-08-24 07:16] derselbst commented on #981
I figured it out!

The number of actually usable AF points does not only depend on the minimum aperture of the lens, it also depends on the lens itself (at least, in the Canon world). This has to do with the beam path within the lens. Some Canon lenses may not use certain AF points by design. This is indeed documented in the manuals of the camera. Those unusable AF points are reported as `AFPrimar

[2019-08-24 08:29] clanmills commented on #981
Well done.  Now it gets more challenging.  What are ValidPoints and how can it be different from NumPoints?  And PointsSelected.  Is there a way to "select" points?

[code]

[2019-08-24 15:35] clanmills commented on #987
I've modified samples/taglist.cpp by adding the options `all` and `ALL` to make it easier to search for tags.  I'm updated README-SAMPLES.md appropriately. #989

These changes will be released in Exiv2 v0.27.3 which is on-track to be released on 2019-09-30.

[2019-08-24 16:35] derselbst commented on #981
Ok,  a bit of documentation to hopefully clarify this mess. Feel free to share or embed it somewhere where it fits.

`AFNumPoints` just describes the length of those arrays `AFAreaWidth/Height` and `AFX/YPositions`. Or in other words: the maximum number of AF points that may be stored in those fields.

`AFValidPoints` describes the number of AF points of the above arrays that (technically) could b

[2019-08-24 17:15] clanmills commented on #981
Thanks, Tom.  I'll add this to exiv2.org which is machine-generated.  There are external references to bloggs discussing MakerNotes and other useful resources.  I'll modify the makernote page to reference this discussion.  https://exiv2.org/makernote.html

This will get done in September when I'm working on Exiv2 v0.27.3 (scheduled for 2019-09-30).

[2019-08-30 08:32] clanmills commented on #912
I'm going to close this.  README-SAMPLES.md shipped in v0.27.2.  It has been updated in the branch 0.27-maintenance when I modified samples/taglist.cpp in support of #987

If you wish to discuss/changes to README-SAMPLES.md, please open a new issue.

[2019-08-30 08:32] #912 closed

[2019-08-30 08:45] clanmills commented on #929
Pushing this to Exiv2 v0.27.4 (scheduled 2019-12-31).

[2019-08-30 13:33] clanmills commented on #984
This is being caused by:
[code]
Both `exif` and `tiff` refer to the same namespace which is `http://ns.adobe.com/tiff/1.0/`

I've modified npe_read_XMPMeta.cpp-1134_1.txt, so that, it would be `xmlns:tiff="http://ns.adobe.com/tiff/1.0/` and `xmlns:exif="http://ns.adobe.com/exif/1.0/` and the crash goes away.

[code]
The predefined values are:
[code]

Curiously the code in xmpsdk has a warning abou

[2019-08-30 17:41] clanmills commented on #984
It's the double mapping.  The mapping prefix <-> URI and URI <-> prefix must be unique.

I have a fix.  I would like to throw an XMPError, however that causes chaos in the test suite.
[code]

I've inspected the code for XMPMeta::RegisterNamespace in XMP-Toolkit-SDK-CC201607 and it's quite different.  We can't simply copy the 2016 code for a fix.

If we disable throwing an error, the following happ

[2019-09-03 22:47] mikelygee opened #995 "Pentax lens samples"
Here are three sample files from a Pentax K-500:

IMGP9815.JPG: Sigma Zoom 28-88mm MACRO 1:3.5-5.6; exiv2 identifies it as "Tamron 35-90mm F4 AF"

IMGP9816.JPG: Tokina AF 100-300mm 1:5.6-6.7; exiv2 identifies it as "Cosina AF 100-300mm F5.6-6.7". This may be correct; the Tokina may be a re-branded Cosina, but I don't know how to check.

IMGP9816.JPG: smc Pentax-DA 50mm f1.8; exiv2 correctly identi

[2019-09-04 06:54] clanmills commented on #995
Thanks for reporting this and providing the test files.  Here's what I see:
[code]
You can fix this for yourself using the file ~/.exiv2 with the following information (note the option **-pv** which I will discuss in a moment.
[code]
[code]
Lens recognition is troublesome because it is not actually part of the metadata.  We have to deduce the lens by inspecting other metadata.  In your case with a

[2019-09-06 09:18] sguillia opened #996 "exiv2 doesn't show metadata"
Hi

I have a simple PNG file and I'd like to get the orientation metadata of it on an UNIX system.

With exiv2, doesn't work
[code]

With identify, doesn't work
[code]

With exiftool, works
[code]

Not sure if it is a bug, but isn't exiv2 supposed to give mo the metadata the same way as exiftool does?

If it's not a bug, why is it so?

**Bug description**
exiv2 doesn't show metadata

**To Reproduc

[2019-09-06 09:27] clanmills commented on #996
Can you attach the file index.png and I will investigate.

My reaction is say "it's not Exif".  There is a metadata protocol supported by ImageMagick that embeds metadata in PNG files.  However it's distinct from the Exif/XMP/IPTC standards supported by Exiv2.  A user volunteered to implement it a couple of years ago, however it hasn't been done yet!

[2019-09-06 09:29] clanmills commented on #995
As there is no user feedback, I'm going to close this issue.  @mikelygee If you wish to discuss this further, I will reopen this issue.

[2019-09-06 09:29] #995 closed

[2019-09-06 10:36] sguillia commented on #996
I can't attach index.png because it's a private image I'm not allowed to share, and I can't "reproduce" the same king of image.

Here is another one which is similar, demo.png:
![demo](https://user-images.githubusercontent.com/15984272/64420653-08a6ba80-d0a0-11e9-9939-7e577a50c3eb.png)

The difference is that exiv2 says there is metadata, but doesn't tell about orientation. This is opposed to inde

[2019-09-06 11:02] clanmills commented on #996
Thanks for demo.png.  My "reaction" was correct.  This image doesn't contain Exif/IPTC/Xmp data.  Here's a discussion about this:  https://github.com/Exiv2/exiv2/issues/147

If you're interested in working on this feature, I'm happy to mentor and @tester0077 will test it for you (won't you, Arnold?).

You can inspect the structure of an image with the option _**-pS**_
[code]
A PNG file is a linked

[2019-09-06 11:02] #996 closed

[2019-09-07 11:17] kloczek opened #997 "0.27.2: test suite build fails"
<pre>[ 48%] <font color="#4E9A06"><b>Linking CXX executable ../bin/unit_tests</b></font>
cd /home/tkloczko/rpmbuild/BUILD/exiv2-0.27.2/unitTests &amp;&amp; /usr/bin/cmake -E cmake_link_script CMakeFiles/unit_tests.dir/link.txt --verbose=1
/usr/bin/g++  -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fstack-protector-strong -grecord-gcc-switches -specs=

[2019-09-07 11:24] clanmills commented on #997
This is a remarkable find as the CI builds everything on many platforms!

Questions:
1) What is your platform?
2) Is this on the source bundle from the web site, or a branch in GitHub?

[2019-09-07 15:41] clanmills commented on #997
I've pulled down the source bundle of exiv2 v0.27.2 from https://exiv2.org and built it with unit_tests on Ubuntu with GCC 7.4.0
[code]

[2019-09-07 18:42] clanmills commented on #997
I think this has something to do with gtest.
[code]

I built gtest as described here:  https://github.com/Exiv2/exiv2/issues/575 (and recommended in README.md 4.3 Unit Tests).

I need more information about your environment (platform, compiler, build options, and code version) to make progress with this.  I'm going to close this for now.  I'll be happy to reopen and investigate when there's more i

[2019-09-08 10:55] kloczek commented on #997
So looks like gtest is not LTO ready because in my case those symbols have been removed during LTO optimiosation :/

[2019-09-08 11:43] clanmills commented on #997
I've never heard of LTO (Link Time Optimization), however our friends at Google have:  https://gcc.gnu.org/wiki/LinkTimeOptimization

I have successfully built the unit tests as follows:
[code]

I think you are reporting missing symbols in your installed version of libgtest.so and I recommend that you follow the recommended procedure in #575 to build/install google test.

[2019-09-08 22:13] D4N commented on #997
@kloczek judging from the output that you provided: are you building an RPM on Fedora/RHEL with LTO enabled? If yes, could you post the spec file and some details about your platform (if you are using mock, which mock root, etc.)?

I'll try to reproduce your issue then, but it looks like an issue with gtest to be honest.

[2019-09-08 22:32] clanmills commented on #997
Dan:  You never cease to amaze me.  Thanks for getting involved after my rejection of this issue.

[2019-09-11 09:12] kiekerjan opened #998 "Add lens support for Sigma 17-70mm F2.8-4 Contemporary"
Please add an entry for the "Sigma 17-70mm F2.8-4 DC Macro HSM Contemporary" lens to the minoltamn_int.cpp file. Yes, I know there is already an entry for the "Sigma 17-70mm F2.8-4 DC Macro HSM" but these are different lenses. For instance the elements/groups count is different. Also, lensfun has a different set of corrections for each lens.

Unfortunately, both lenses use id 128 :(  This probably

[2019-09-11 09:14] D4N commented on #998
kiekerjan <notifications@github.com> writes:

So you have a solution for your problem?

We'd need to add **another** workaround for a lens, which we try to
avoid as lens recognition is turning into a nightmare.

[2019-09-11 09:28] D4N commented on #998
kiekerjan <notifications@github.com> writes:

You put this file into your home directory and that's it.

[2019-09-11 12:00] clanmills commented on #998
Put this into ~/.exiv2 and you should be good.
[code]

If that doesn't fix it, please provide sample image (lens cap on, any resolution) and I will investigate.

[2019-09-12 05:17] clanmills commented on #998
Did this work for you?  Can I close this issue?

[2019-09-12 05:49] kiekerjan commented on #998
Yes, this will work. I was mistakenly under the impression that a lensid entry was still necessary. Thank you for your work.

[2019-09-12 06:53] clanmills commented on #998
Great.  Thanks for getting back to me.

Lens recognition has caused pain because the lens definition isn't stored in the metadata!  There are clues (such as LensID in the MakerNote), however even that is often ambiguous.  The same LensID can be used by more than one lens.

[2019-09-12 06:53] #998 closed

[2019-09-13 16:47] clanmills commented on #984
I know why xmpparse-test.sh is failing.  My "fix" above guarantees that both prefix and url and unique.  You cannot have more than one prefix referring to a url.  However the file `test/ data/StaffPhotographer-Example.xmp` contradicts the exif built-in value for `http://ns.adobe.com/xap/1.0/mm/`.  The file uses the prefix `xapMM` and the built-in prefix is `xmpMM`

[code]
This issue applies to sev

[2019-09-13 18:27] clanmills commented on #984
I know why it's crashing.  It's attempting to return static memory to the heap.  It's in this definition in `include/exiv2/properties.hpp` _line 68_:
[code]
Being used from in `src/properties.cpp` _line105_:
[code]
The fix for this is to use a constructor for `struct XmpNsInfo` to ensure that ns_ and other data members of the structure are allocated on the heap. **BUT** this data structure is in t

[2019-09-15 07:45] #981 closed

[2019-09-15 07:47] clanmills commented on #997
Pushing this to Exiv2 v0.27.4 (scheduled for 2019-12-31).

[2019-09-16 08:21] clanmills opened #1000 "Building samples sometimes does not add include/ and include/exiv2 to system search path"
**Describe the bug**
Building samples sometimes does not add include/ and include/exiv2 to system search path.

I've been having trouble with this.  Having investigated and written this report, I can't reproduce this.  So I expect you'll mark it "not reproducible".  I'll record this for the moment.

When you change include/exiv2 files (such as include/exiv2.hpp), you have to build/install exiv2 fo

[2019-09-16 08:26] #1000 closed

[2019-09-17 16:17] clanmills opened #1001 "Rename tag Exif.Canon.AFPrimaryPoint"
#981 adds recognition for Canon AutoFocus Metadata.  The tag "Exif.Canon.AFPrimaryPoint" records points that should be ignored by the AutoFocus.

The name AFPrimaryPoint was chosen to align with ExifTool Documentation.  https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html

Suggestions (from @derselbst) for alternative names are "AFPointsDisabled" and "AFPointsUnusable"  If we agree on a c

[2019-09-19 18:28] tester0077 opened #1003 "Iptc.Envelope.CharacterSet not reported correctly"
exiv2-0.27.2 does not decode the data of the IPTC tag 0x005a correctly

For an image which contains the tag, the output from Exiv2 is
0x005a Envelope     Iptc.Envelope.CharacterSet                   CharacterSet                Character Set                   %G <<<<<< should be translated to UTF-8

I am attaching an image which shows the output, but there was a discussion some time ago @ https://

[2019-09-20 08:47] clanmills commented on #1003
@tester0077 Arnold.  I'd like to help here, however I simply don't know what this is about.  And that's about what I said 7 years ago on:  https://dev.exiv2.org/boards/3/topics/1288

Here's what I see.  There are 3 bytes of metadata  for Iptc.Envelope.CharacterSet and they are '<esc>' '%' 'G'

[code]

There's no question that those bytes are in the file:
[code]

I can't remember what a UTF-8 Enabl

[2019-09-20 11:02] sridharb1 opened #1004 "Catchup with the latest Canon tags from exiftool"
I am attaching a patch against canonmn_int.cpp that brings exiv2 to almost the latest exiftool Canon.pm (possibly to a couple of weeks ago). Apart from the name differences, there are some space differences in the lens section because the alignment of the numbers 1-999 have only 5 characters before the "," and numbers greater than them have 6 characters before the ",". I standardized on 6 characte

[2019-09-20 13:27] clanmills commented on #1004
@sridharb1  Thank for working on this an providing a patch.  The test exceptions are:
[code]

And:
[code]

Later today, I'll fix up the test harness (to report success) and submit a PR for team review.

[2019-09-20 13:45] clanmills commented on #1004
I'm working on the patch.  This isn't what I expected.  I thought we would now recognise:
[code]
However it's the other way about:
[code]

For what reason should we stop recognising Exif.CanonCs.LensType 254 as Tamron SP 90mm f/2.8 Di VC USD Macro 1:1 ?

[2019-09-20 14:59] sridharb1 commented on #1004
There are two 254s as you can see in the old file. The 254.1 (Sigma) is not there in the latest exiftool. I leave it up to you to preserve it.
Regards,Sridhar

    On Friday, 20 September, 2019, 7:15:59 pm IST, Robin Mills <notifications@github.com> wrote:

I'm working on the patch. This isn't what I expected. I thought we would now recognise:
254 => Tamron ....

However it's the other way about:

[2019-09-20 15:59] clanmills commented on #1004
Thanks for the explanation.  I've "tweaked" several other "duplicated IDs".  Here's the difference between your patch and PR #1005.
[code]

[2019-09-20 16:09] sridharb1 commented on #1004
Ok, thanks.

    On Friday, 20 September, 2019, 9:29:05 pm IST, Robin Mills <notifications@github.com> wrote:

Thanks for the explanation. I've "tweaked" several other "duplicated IDs". Here's the difference between your patch and PR #1005.
710 rmills@rmillsmbp:~/gnu/github/exiv2/0.27-maintenance/build $ diff ../src/canonmn_int.cpp ~/temp/canonmn_int.cpp
898a899

923a925

999,1001c1001,1004
<

[2019-09-20 16:11] tester0077 commented on #1003
**DOS Console:** the default console uses a code page which does not handle UTF-8 characters. This is important because without UTF-8 support, running exiv2 from the command line shows no output at all for the command I quoted run against the image in question. One can set up a UTF-8 enabled console via a batch file to handle the output from exiv2, which then does show the output  as shown in your

[2019-09-20 16:34] clanmills commented on #1003
Arnold.  There's lots of detail here.  However I don't know what you want me to change.

Am I to change:
[code]
to output `UTF-8`.  Why change it?  Are we to filter every IPTC field in some way?

Exiv2 is a library and we are read the data from file and give it to the caller.  If it needs special treatment to display correctly in a DOS box, a GUI or any presentation layer, I'm not convinced that i

[2019-09-20 17:00] tester0077 commented on #1003
The short answer: yes, I would expect Exiv2 to translate the 'control sequence to what it is meant to convey to the user of Exiv2 or the library. Just as it 'translates' the labels, camera model, lens type etc, etc to something meaningful (to an English speaker :-) )

The reference to the DOS box was necessary - albeit (potentially) distracting - because Exiv2, Exiftool and even dumpfile are comma

[2019-09-20 17:25] clanmills commented on #1003
@tester0077 I'm going to close this.  You're requesting something for which we have no specification.  You may find somebody else willing to undertake this, however I will not.

[2019-09-20 17:25] #1003 closed

[2019-09-20 18:59] tester0077 commented on #1003
The short answer: yes, I would expect Exiv2 to translate the 'control sequence to what it is meant to convey to the user of Exiv2 or the library. Just as it 'translates' the labels, camera model, lens type etc, etc to something meaningful (to an English speaker :-) )

The reference to the DOS box was necessary - albeit (potentially) distracting - because Exiv2, Exiftool and even dumpfile are comma

[2019-09-20 19:56] tester0077 commented on #1003
Well ,,,, shrug ... your call.
I did provide the specification. c/w references and examples from other utilities .....
And knowing the encoding used for all of the IPTC strings is/was/will be important to someone - they went to considerable trouble to setup the standard.

FWIW, this issue must have been considered in the past by Exiv2 developers.
From the Exiv2 0.27.2 code

It just doesn't seem to

[2019-09-20 21:43] clanmills commented on #1003
I apologise for saying "No" in such an abrupt manner.

It's possible that the code exists.  Andreas (the founder of Exiv2) included the iconv library.

Team Exiv2 currently have two objectives:
1) "the dots" (v0.27.3 ....)
2) v0.28 (modernisation to C++11).

I know you intend well by raising these issues.  However, please remember we are a small team of volunteers.  For v0.27.3, I'm working on mat

[2019-09-20 23:42] tester0077 commented on #1003
Understood & no problem, Robin.
My apologies if I come across as 'pushy'?
From my perspective, once I understand the problem, I will find a way to handle it.
In bringing it to your attention, my main goal is/was to record the issue. Whether, when or how you and your team decide to address the issue is your call.
I did & do not expect to have any of the issues I raised fixed 'stat' - I am a 'team'

[2019-09-23 18:08] tester0077 commented on #1003
After getting the IPTC data sorted out, I would like to record here my implementation.
`try {
    Exiv2::Image::AutoPtr image = Exiv2::ImageFactory::open( CUtils::wx2std(a_wsFileName) );

    wxASSERT( image.get() != 0 );
    image->readMetadata();

    Exiv2::IptcData &iptcData = image->iptcData();

	-----------------------

	Exiv2::IptcData::const_iterator itr = iptcData.begin();
    size_t i =

[2019-09-26 07:00] clanmills commented on #910
Typically  `blockSize == 1024` and idx_ is the index of the stream.  The result is
[code]
When the index is 1023, we need block `[0]`.
[code]
When the index is 1024, we need block `[1]`.
[code]

I modified blockSize_ to be 1 and tried simple tests such as:
[code]
Oddly, everything seems to be working with/without your fix! (with http/https/curl/http.cpp).  I think the reason is because `RemoteIo::

[2019-09-26 07:16] clanmills commented on #1003
Thanks for this, Arnold.  As Exiv2 usually builds/links iconv, I believe we already have character set conversion alternatives to wx and avoids a build dependency between Exiv2 and (the huge) wx library.  I think wstr can deal with this on MSVC/Windows.

I don't want to get involved with this.  Another member of the team make undertake this challenge, however my priorities are the 0.27 "dots" and

[2019-09-26 14:55] clanmills commented on #910
Very pleased to confirm that getb() is correct with this change.  I've written a new IO test program which will be published in the book.  The essence of this is a copy function which reads from http to file as follows:

[code]

The input `options.getb` dictates whether the copy is performed byte-by-byte by `getb()`, or in blocks using `read()`.  Both read the same number of bytes.  With the chang

[2019-09-26 19:16] Jehan commented on #421
Hi! Any chance this will get a happy ending? :-)

I can have Exiv2 build with GCC 8.3.0 if I simply comment out the 4 calls to `setMsg()` inside `src/error.cpp`. I have a hard time understanding exactly why the linking errors though. If really a GCC bug, has a report been opened there?

[2019-09-26 20:03] D4N commented on #421
Jehan <notifications@github.com> writes:

Not for 0.26, that one is out of maintenance.

For the upcoming 0.28 release we'll hopefully have
https://github.com/Exiv2/exiv2/pull/685 merged, which should fix this
issue properly.

This is not a gcc bug, the issue is that we are mixing hidden visibility
and templates and that is a recipe for disaster (at least on Windows).

[2019-09-26 20:21] clanmills commented on #421
Yes, this was raised with the GCC folks (by our user).  However I'm not aware of a response.  I trust Dan's judgement that visibility/templates are the culprit.

[2019-09-26 21:42] Jehan commented on #421
Yeah I encountered the problem with last master commit. Should have mentioned that. ;-)

Awesome. Looking forward to this.

Ok.

[2019-09-27 09:12] clanmills commented on #421
Folks.  Here's the "discussion" of the issue:

https://github.com/msys2/MINGW-packages/issues/4338

As you can see, sadly nobody investigated!  I'm very proud of Team Exiv2.  We quickly and thoroughly investigate everything reported.  This issue is tough.

@D4N is this solved on 'master'?

[2019-09-27 09:35] D4N commented on #421
Robin Mills <notifications@github.com> writes:

No, as https://github.com/Exiv2/exiv2/pull/685 has not been merged
yet. Need to rebase it on top of master and see if it still builds.

[2019-09-27 12:38] clanmills opened #1008 "Sony 0x2010 tag support"
**Describe the bug**
Add support for Sony 0x2010 tag

This has been reported by email from @sridharb1

Shridar said _"The same code when run against your test file (test/data/exiv2-pr906.exv) outputs values for the tags that I defined"_

I attach his patch and test image.
![DSC04892](https://user-images.githubusercontent.com/529982/65769095-a97e1800-e12a-11e9-82e9-48e8c3010b2f.JPG)
[sonyChanges.tx

[2019-09-27 12:48] sridharb1 commented on #1008
Thanks Robin.

Yes, this tag is a mess. I was planning to make it work for https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Sony.html#Tag2010e (which is my case (NEX-6 as well as other cameras)) for now.

[2019-09-27 13:56] clanmills commented on #1008
I've applied the patch (with a little editing to be accepted) and here's what I see:

[code]

Looks good.  I'll inspect the code.  I'm rather suspicious of the values.  Perhaps this is an endian issue or the data is cyphered.
[code]

I've also had email from @sridharb1 talking about 9402, however I haven't understood what he's saying.

And there's an issue with his test file not being decoded at a

[2019-09-27 17:14] boardhead commented on #1001
I don't understand where you are coming from.  ExifTool doesn't report a primary AF point for any of the sample images I could find in the referenced thread.

[2019-09-27 17:18] clanmills commented on #1001
Oh!  I wonder how I managed to make that up.

@derselbst Please propose your name change and I'll submit the PR.

[2019-09-27 17:37] derselbst commented on #1001
Ok, then I would propose to use `AFPointsUnusable`. From the repository root dir, this should do:

[code]

[2019-09-27 19:12] clanmills commented on #1001
Thanks.  I probably have to update something in the test suite.

I'll deal with this in the next few days when I escape from #1008.

[2019-09-28 02:25] sridharb1 commented on #1008
Your endian comment looks like a good catch, but that did not seem to help. What's interesting is that exiftool reports

G:\NEX-6\2014_10_23>perl e:\Projects\exiftool\exiftool DSC02164.JPG
ExifTool Version Number         : 11.65
File Name                       : DSC02164.JPG
[...]
File Type                       : JPEG
File Type Extension             : jpg
MIME Type                       : image/j

[2019-09-28 02:36] sridharb1 commented on #1008
BTW, the values for the 2010 tags don't make sense because you have to use 2010i for that camera and not 2010e. Given this problem, I would attack the issue the other way - which is to see why the 9402 tags do not appear with my photo. That possibly will give us the solution to make the 2010 tags work.

[2019-09-28 08:14] clanmills commented on #1008
There are three settings for ByteOrder in include/exiv2/types.hpp:
[code]
The value `invalidByteOrder` would be better named `inheritByteOrder`.  It obtains the endian-ness from the object above in the hierarchy.

[2019-09-28 09:43] clanmills commented on #1008
I know why the code doesn't read 9402 in your file.  The code in #906 applies to __Sony2__ MakerNote and your test file is __Sony1__.

[code]
The MakerNote has been encoded in a different way.

In DSC04892.JPG, the makernote is:
[code]
In test/data/exiv2-pr906.exv, the makernote is:
[code]

I have the fix for the `-pR` code to operate on the Sony1 MakerNote (with the `SONY DSC ` marker).

For sure

[2019-09-28 10:11] cgilles commented on #318
Any progress on this file ? HEIF support is just introduced in digiKam, for the moment with supporting decoding file only. Encoding will arrive later.

https://imgur.com/JmEgGNS
https://imgur.com/nANLwLj
https://imgur.com/rMWg9Bf
https://imgur.com/H7hxiNC

HEIF/HEIC is very well documented and support in native Exif and XMP chunks.

Best

Gilles Caulier

[2019-09-28 11:03] clanmills commented on #318
Yes, it's work-in-progress: #978

I've given @1div0 encouragement.  I'm happy to mentor, however I don't have the bandwidth to take this onto my back.  I am the release engineer for quarterly "dots" with security and fixes.   I'm writing a book _Image Metadata and Exiv2 Architecture_ and will run a workshop at LGM in Rennes in 27-29 May 2020.  #911  I believe Luis and Dan will attend.  I've invite

[2019-09-28 12:36] sridharb1 commented on #1008
Ok, I have fixed it. I have also cleaned up the previous patch and made it specific to the models for 2010e.

Now, both 9402 and 2010e tags display for my test file and only 9402 tags for the exiv2-pr906.exv file (as desired because it is not of type 2010e).

Thanks again for your help.
[sonyChanges.2.patch.zip](https://github.com/Exiv2/exiv2/files/3665453/sonyChanges.2.patch.zip)

[2019-09-28 13:56] clanmills commented on #1008
Ah, this is very good news.  What good work we do together.  Can you test if you can write values correctly?

We're going to a concert this evening.  I'll review this tomorrow and add something to the test suite.  Good chance this will make into v0.27.3.  The guys haven't "powered up" this weekend, so the release is stalled.

[2019-09-28 16:05] sridharb1 commented on #1008
I am guessing that the ILCE-7M3 is your camera. If so, I will add support for 2010i as a bonus for you.

[2019-09-28 16:12] clanmills commented on #1008
I've no idea what an ILCE-7M3 is!   I have a Nikon D5300 (digital SLR with GPS) and a Canon IXUS-185 (point'n'shoot pocket camera).

Pixls.us have a project to collect images from users.  Mostly RAW images, I believe.   https://raw.pixls.us/ ?

And Phil has a lot of test images on the Exiftool web site.  I can hunt for test images if you need them.

[2019-09-28 17:07] sridharb1 commented on #1008
ILCE-7M3 was the camera that took the photo in exiv2-pr906.exv. If it is not yours, it must have been of the person who initiated that enhancement. Then forget it.

[2019-09-28 21:10] clanmills commented on #1008
Ah yes.  Andreas Schneider (who maintains samba, libssh & GnuTLS) opened that issue.  I believe he has a good camera and wanted tag 0x9402 (AutoFocus) to be handled.  That makes sense.

Andreas (not to be confused with Andreas Huggel the founder of Exiv2) is a "friend" of Exiv2 and helps in different ways.  For example, he gave me some coaching on git.  He gave a "lightning" presentation at LGM th

[2019-09-29 07:06] clanmills commented on #1008
This is looking good, @sridharb1

I now have local changes that you don't have (to fix -pR for Sony1) and a change to your code.  Are you OK with Git/GitHub?

I'm not good with git, however I believe it's possible for me to get the PR onto GitHub and we can both submit changes.  Are you OK with this?  I'll ask Luis (or Andreas Schneider) to help if needed.

I made a little change in the selector t

[2019-09-29 07:16] sridharb1 commented on #1008
Yes, I know that I left it in raw printValue mode and I can do translators. I was worried first about it not displaying anything at all. Now, we can add the nice-to-haves. I will get this done for 2010e.

It is surprising that the clang doesn't have direct initializer support. I can incorporate that in my code.

I have also not done any other tests (including write) - which I will also do.

I am n

[2019-09-29 07:56] clanmills commented on #1008
Git's very challenging.  It complicates simple changes.  However it does make complex cooperation possible.  I can't suggest a document, however let's "boldly go" and see what happens.

I've set up a branch for the PR.  I assume you've got the repos with:
[code]

You can sync with the PR on branch `fix1008_Sony2010e`

[code]

I believe you can update the PR with `git commit --message "..........."

[2019-09-29 12:47] sridharb1 commented on #1008
Sorry, Robin. I tried, but I guess I don't have access to push.

I have converted almost all the values to lookuptables. The remaining values are too incomprehensible from the exiftool source.

I have spot checked values and they are fine.

There are some conditional values (like sonyiso2/sonyiso3) that are applicable to only a certain subset of cameras of the subset that is applicable for 2010e.

[2019-09-29 12:52] clanmills commented on #1008
I submitted the PR.  #1009.

Right.  I updated the test suite about 2 minutes ago.  I'll have a look at your patch and modify the PR.  I extracted the .exv from your file DSC04892.JPG.  Extracting the .exv tests writeMetadata() because it's essentially reading the metadata from the JPG and writing it to the .exv (which is a JPG with no image data).

[2019-09-29 13:03] clanmills commented on #1008
We're a little out of sync.

Can you send me your version of makernote_int.cpp, sonymn_int.cpp and tiffimage_int.cpp

[2019-09-29 14:35] sridharb1 commented on #1008
Remember that I am on the 0.27 branch. Maybe that's why it is out of sync.

    On Sunday, 29 September, 2019, 6:33:14 pm IST, Robin Mills <notifications@github.com> wrote:

We're a little out of sync.

Can you send me your version of makernote_int.cpp, sonymn_int.cpp and tiffimage_int.cpp

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mut

[2019-09-29 14:46] clanmills commented on #1008
Whoops.  Yes, I realised about 0.27-maintenance.  However, I've got conflicts on those three files.  Can you zip them together for me, please, because sonymn.cpp has been curtailed by GitHub.

A better way is for you to sync with me on fix1008_Sony2010e and send me the patch:

[code]

[2019-09-29 14:50] sridharb1 commented on #1008
I deleted my earlier reply as the source files were embedded in the comment. I have zipped them here for clarity.
[src.zip](https://github.com/Exiv2/exiv2/files/3667459/src.zip)

[2019-09-29 14:52] sridharb1 commented on #1008
Sorry, I don't want to change over to the trunk at the moment.

[2019-09-29 15:03] clanmills commented on #1008
No Problem.  Thanks for the zip.  I've updated the PR.

I had to add `#include <math.h>` in sonymn_int.cpp to compile `pow`.  And I've update the test suite to respect your changes.

Something has gone wrong with `FAIL: test_run (bugfixes.github.test_issue_981.CanonAfInfoTest)`  I will investigate now.

[2019-09-29 15:08] sridharb1 commented on #1008
This is the output from my python test run. All expected issues.

$ /cygdrive/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/Shared/Python37 _64/python.exe runner.py
............................F.......s..F.s.........F..s...........s...................F...........s..F.................F.........F....................s..........
===================================================================

[2019-09-29 15:24] clanmills commented on #1008
I think everything's good.  I thought we were only dealing with Sony issues.  It's also Canon.

Can I ask you to update the test suite and include those changes in the patch.  One think less for me to fumble.

[2019-09-29 15:26] sridharb1 commented on #1008
Ok, but tomorrow.

Sent from Yahoo Mail for iPhone

On Sunday, September 29, 2019, 20:54, Robin Mills <notifications@github.com> wrote:

I think everything's good. I thought we were only dealing with Sony issues. It's also Canon.

Can I ask you to update the test suite and include those changes in the patch. One think less for me to fumble.

—
You are receiving this because you were mentioned.
Rep

[2019-09-29 15:27] clanmills commented on #1008
Sure.  It's getting late for you and we're about to have dinner.

[2019-09-29 17:35] clanmills commented on #1001
Submitted: #1010

[2019-09-30 03:14] sridharb1 commented on #1008
Please merge all the changes into the 0.27 branch. I will get the latest (not have to worry about local changes) and then update the test cases to handle any benign reports.

[2019-09-30 05:56] clanmills commented on #1008
I can't because I don't have permission to merge my PRs!  That's why the release is stalled.  I have about 10 open PRs, and 2 or 3 more to be done after that lot are approved and merged.

Can you switch to fix1008_Sony2010e and we can move forward.

[code]

I'll send you an invitation to join Team Exiv2 on GitHub.  Later you can approve fix1008_Sony2010e

[2019-09-30 06:06] sridharb1 commented on #1008
Moving causes changes in my VS project files (because files have been deleted) and I would really not like to go through those changes and back them out again when I switch back to the 0.27 branch.
All we need is an updated test suite to remain quiet about the noted errors?
I don't see anything new that is Sony related. Only the earlier Canon changes. Have you already updated the Canon output so t

[2019-09-30 06:45] clanmills commented on #1008
Ah, right.  You're using the msvc files.

I've send you an invitation on GitHub to join Team Exiv2.  For sure that gives you permission to write.  What permissions?  I don't know, because I don't understand git/github.  The others set up all of this without discussion.  We had a team discussion and they would not agree to relaxing the rules.

I made a couple of change to `image.cpp` concerning Son

[2019-09-30 07:50] sridharb1 commented on #1008
No issues regarding changes to my contributions. The problem is when it is not checked in, I can't do a clean diff on the next submission.

[2019-09-30 12:02] boo0m opened #1011 "An infinite loop and hang in Exiv2::Jp2Image::readMetadata()"
**Describe the bug**
An input file can result in an infinite loop and hang, with high CPU consumption. Remote attackers could leverage this vulnerability to cause a denial of service via a crafted file.

**To Reproduce**
Steps to reproduce the behaviour:
excute 'build/bin/exiv2 Jp2Image_readMetadata_loop.poc'

**Expected behavior**
An infinite loop and hang, with high CPU consumption
![image](http

[2019-09-30 15:08] clanmills commented on #1011
Thank you for reporting this.  It will be investigate and I hope we'll include a fix with Exiv2 v0.27.4 which is scheduled for 2019-13-31.

[2019-10-01 16:43] clanmills commented on #1011
Fix submitted #1013

[2019-10-01 16:54] clanmills commented on #902
Regrettably, this must be deferred for v0.27.4 as I haven't been able to work on it for v0.27.3.

[2019-10-01 18:32] clanmills commented on #1003
@tester0077

1) Approving Open PRs

I’d like to get Exiv2 v0.27.3 released (it was due on 2019-09-30).  I’ve assigned you to review a couple of PRs.
https://github.com/Exiv2/exiv2/pulls?utf8=✓&q=is%3Apr+is%3Aopen+milestone%3Av0.27.3+review-requested%3Atester0077

Dan’s busy moving house.  When I last spoke to Luis (about 2 weeks ago), he said “hope to have more time for open-source later this year

[2019-10-01 19:21] Jakuje opened #1014 "Two Nikon lenses still not detected"
**Describe the bug**
I have some pictures using two lenses I had some years back and they seems to be still missing from the exiv2. I used the following `.exiv2`:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Run exiv2 on the existing photos
2. Lenses are not detected

The metadata from pictures:
[code]
and
[code]

**Expected behavior**
The lens should be detected.

**Desktop (plea

[2019-10-01 19:33] clanmills commented on #1014
Thanks for reporting this.  A couple of questions:

1) Have you added the lens definitions to ~/.exiv2?
2) Can you attach sample images, please.

The code in nikonmn_int.cpp was "bought it" from elsewhere (and credit given in the code).  I have occasionally added other lenses to that table.

However, can you answer my questions before we get into the details about to add a lens "permanently" (with

[2019-10-01 19:47] Jakuje commented on #1014
The first one is here:
[DSC_0003](https://user-images.githubusercontent.com/2694489/65994756-63131b00-e494-11e9-8358-f2dfe999f7cd.JPG)
The second example is NEF (not supported by github) so I uploaded it here:
https://jakuje.dta3.com/files/DSC_0161.NEF
I actually added the attached definitions in the `~/.exiv2` just today, but it did not seem to do the trick for the darktable (but I assume it migh

[2019-10-01 20:32] clanmills commented on #1014
Right.  The ~/.exiv2 code's working fine:
[code]

Why's it not working with darktable?  Perhaps you're using a version of darktable that uses an elderly version of the exiv2 library.  The ~/.exiv2 feature was added in Exiv2 v0.26 which as released in April 2017.  Use the utility `lsof` in Linux to see which library darktable has loaded.   I think you can use something like `$ lsof | grep -i darkta

[2019-10-01 21:26] Jakuje commented on #1014
It looks like the Ubuntu (latest stable) is using the old exiv2 so I will have to wait some time (probably forever) before they will update:
[code]
Anyway, with the help of #743 I was able to put the lines together and build newer version, but it does not look like working for me on neither of the images. Do you see there some obvious issue in the following lines?

[code]
Here is the output of the

[2019-10-01 22:24] clanmills commented on #1014
Ubuntu isn't keeping up very well with Exiv2 releases.  I will not criticise.  They have a wide spectrum of concerns on their platform.  Exiv2 has 100k lines of code.  They have 1000x more worries!

Thanks for your code snippet.  Is this something you're building/testing on current code?  For sure we're "on the same page".  There are about 11 fields to align to make this work.  I'll investigate yo

[2019-10-02 05:37] Jakuje commented on #1014
Yes, I tested with local build of `exiv2` on `master` branch with `cmake ./ && make` after the local modifications.

[2019-10-02 06:43] clanmills commented on #1014
Can you send me your code, please, as that gets me into sync with you.

For reasons which have nothing to do with this issue, I have decided to retire.  This is the final issue on which I will ever work for Exiv2.  When I get this fixed for you, you'll have to raise an issue to have it included in the code base.  I'm done after 12 years and 15,000 hours of effort.

[2019-10-02 06:54] clanmills commented on #1014
I've changed my mind.  I'm not willing to do any further work on anything concerning Exiv2.  You'll have to debug and fix this on your own.

[2019-10-04 06:24] clanmills commented on #1014
I've looked at this.  The lens is recognised by an earlier entry in the table.  I've modified the lens name by adding AAA, BBB, CCC, DDD to make it obvious that it has been selected.

[code]

I've run the test suite with this change, and everything passes and I'm pleased to say it works.  So, I recommend simply changing the records to match your lens.

I'm getting old.  I haven't spotted the chang

[2019-10-05 15:55] D4N opened #1018 "Future of Exiv2?"
Recently our main contributor Robin (@clanmills) decided to retire from the project effective immediately. We don't have to fool ourselves: Robin has been the driving force behind this project for roughly a decade now and invested a truly **insane** amount of time and effort into it. No one of the currently active contributors has either the time or the expertise to match him. This leaves us in a

[2019-10-05 15:58] D4N commented on #1018
cc @tbeu @piponazo @sridharb1 @tester0077 @kevinbackhouse @derselbst @nehaljwani @fgeek @cryptomilk

[2019-10-05 16:21] cgilles commented on #1018
Hi all,

I'm always listening Exiv2 conversation, even if i'm not very active in the project.

As digiKam use Exiv2 API to handle all metadata excepted video, considerate me as present for some task. one where i'm interested is to support new image format. actually i finalize the HEIC/HEIF support in digiKam. I know that an entry exist to support this format in Exiv2, so i will be ready to check c

[2019-10-05 17:41] fgeek commented on #1018
Thank you Robin Mills for all your efforts towards better open-source software. It was a pleasure to cooperate with you :+1:

[2019-10-05 20:43] phako commented on #1018
Mainly some random thoughts there, sorry

- I'll probably also could check out cmake stuff, it's part of my daily work as well.
- I can provide some web hosting if necessary
- I could probably also provide some _temporary_ infrastructure for Jenkins (would have to discuss that beforehand, though)
- What exactly was the Jenkins doing for releases that cannot be replicated by other means of CI?
- I'

[2019-10-06 02:24] tester0077 commented on #1018
First of all, a very big "Thank you" to Robin and his work on behalf of
Exiv2. I have always found him very responsive and helpful.

And the same goes for all of the other maintainers, though it seems
there are only two others. :(

Having worked a good deal with other people's open source code with
multiple dependencies on other similar open source libraries & trying to
adapt them to my needs and

[2019-10-06 09:21] c0d3xpl0it opened #1019 "Overflow in exiv2"
We found vulnerability in exiv2 binary and exiv2 is complied with clang enabling ASAN.

**Machine Setup**
[code]

**ASAN Output**
[code]

[2019-10-06 09:28] derselbst commented on #1018
Hi,

I am mainly a user of exiv2 (coming from gwenview) and pretty new to the team; Robin invited me recently. I'm familiar with C++, Cmake, CI. However, I'm also part of two other organizations here at GitHub, which require most of my free time. But I'll try my best to help out where I can, just ping me.

Regarding how to attract new contributors, I would like to mention that the number of contri

[2019-10-06 09:46] phako commented on #1018
Btw, I need to release a new version of gexiv2 soonish. The document mirror on exiv2.dyndns.org is gone, I assume?

[2019-10-06 10:59] clanmills commented on #1018
exiv2.dyndns.org is gone.  The release is on https://exiv2.org and the pre-release on pre-https://pre-release.exiv2.org

A couple of obvious points about v0.27.3 (and later v0.27 dots)
1) You can source releases on GitHub without updating exiv2.org
2) If you publish releases on GitHub, I'm willing to update exiv2org and build the binaries with Jenkins on the MacMini, if (and only if) the web and r

[2019-10-06 11:09] cgilles commented on #318
I take a look in devel branch dedicated to HEIF support. This is my remarks :

1/ this code use libheif to handle metadata. This is the expected way to support new format ? Exiv2 must not be free of external dependency for this kind of feature. If yes, i know well libheif now, so i can take a look to finalize this branch if you are agree.

2/ in the branch, HEIF is annotated as read only, even if

[2019-10-06 11:13] phako commented on #1019
Hi. Please provide repducuction material and, if possible, it would be really nice of you to also provide a fix.

[2019-10-06 11:27] phako commented on #1018
I ased regarding exvi2.dyndns.org because I received a patch to point all the docs to there. Which I will probably revert now.

Regarding the fuzzing: Unfortunately, fuzzing is quite use- and helpful. But, looking at eg. #1019 that ticket is basically useless.

- You should take away reporter's abilites to classify tickets. Classifying tickets is the project's job
- You should make fuzzing guideli

[2019-10-06 11:30] c0d3xpl0it commented on #1019
Below is command for reproducing the bug. Please unzip POC before running.

./exiv2 -pv [POC-file.zip](https://github.com/Exiv2/exiv2/files/3694286/POC-file.zip)

Machine Setup
[code]
@phako Currently I am unaware of fix.

[2019-10-06 11:31] clanmills commented on #1018
Jens:  I seem to recall our conversation about dyndns.org in Exiv2 v0.27-RC days (about one year ago).  Since then, thanks to @nehaljwani, we moved exiv2.org to a new AWS and have the pre-release web-site.

[2019-10-06 11:33] clanmills commented on #1018
I agree with you that fuzzing is useful.  However the behaviour of the fuzzing police is very unhelpful and demotivating.  That bug report today is a good example.  I wouldn't be surprised if it's already fixed in v0.27.2 and is actually a waste of time.

[2019-10-06 13:05] phako commented on #1019
This seems to catch that but I am not sure that this is correct place for it.

[code]

[2019-10-06 14:10] piponazo commented on #1018
Hi all,

Thanks @D4N for the effort of creating this issue and giving details about the current state of the project and proposing some short/long terms actions to try to improve the situation. I find useful to have this open discussion in a github thread instead of having it in a chat.

Please find my feedback about each of the proposed steps:

## Short term steps

I guess that here you are refer

[2019-10-06 16:51] c0d3xpl0it commented on #1019
@phako You can edit the title of the ticket inorder to point to correct vulnerability.

[2019-10-06 17:30] phako commented on #1018
btw... The Coverity page needs some love. It has been last updated with v0.25 https://scan.coverity.com/projects/exiv2

[2019-10-06 19:08] piponazo opened #1022 "Add RAII Exiv2::Library to init/free resources"
As it was discussed in #977 , the idea would be to add in `master` a RAII class named `Exiv2::Library` (or better name) which would take care of allocating/freeing library resources in a RAII fashion. At least we should have there the calls to the `XmpParser::initialize()` and `XmpParser::terminate` in case the XMP support is enabled.

[2019-10-06 19:24] phako commented on #1018
For attracting new contributors, I recently learned about https://up-for-grabs.net/#/  - maybe that helps to get people interested?

[2019-10-07 13:32] phako commented on #549
Is there any valid use-case for changing localisation during runtime?

[2019-10-07 13:38] D4N commented on #549
Jens Georg <notifications@github.com> writes:

Certainly, you wouldn't want having to recompile exiv2 only because you
changed the language of digikam/GNOME/KDE.

[2019-10-07 13:53] phako commented on #549
There is no need to recompile the application, under a normal desktop, LANGUAGE or the corresponding LC_* are set by the DE, you just need to restart the application to change to the "new" language.

[2019-10-07 14:00] D4N commented on #549
Jens Georg <notifications@github.com> writes:

Ah, didn't know that.

But I think you've answered the question yourself: if you want to change
the language and **not** having to restart the application. (Not really
relevant for the exiv2 CLI, but could be useful for a desktop App that
uses libexiv2).

[2019-10-07 14:37] #976 closed

[2019-10-07 14:42] 1div0 commented on #318
Bonjour++ Gilles!

Merci.

[2019-10-07 16:07] cgilles commented on #318
Hi,

Point 1 has a pending response. Please take a look. If it's fine to use libheif, i can write patch to add a first version of HEIF support to Exiv2...

Gilles

[2019-10-07 17:25] 1div0 commented on #318
Bonsoir++

I will try to finalize metadata read at first. If you have a time, please consider addition of the metadata write support as second part.

I am available via Wire @peak so we can connect better way.

[2019-10-07 21:29] D4N opened #1026 "Rewrite sanity checks for the CiffComponent size & offset"
From https://github.com/Exiv2/exiv2/pull/1020#issuecomment-538798087:

Yes, the location doesn't feel right to me either to be honest.

I am currently suspecting that the bug is in `CiffComponent::doRead`:
[code]

The malformed file hits the `dl == valueData` branch and extracts the following values:
[code]
but the actual size of the buffer `pData` is given in `size` (10052) which is less then `si

[2019-10-07 22:13] #1019 closed

[2019-10-08 04:23] cgilles commented on #318
Look my libheif based code from digiKam here:

read: https://invent.kde.org/kde/digikam/blob/master/core/dplugins/dimg/heif/dimgheifloader_load.cpp

write: https://invent.kde.org/kde/digikam/blob/master/core/dplugins/dimg/heif/dimgheifloader_save.cpp

Both contains code to extract and push metadata byte-array for Exif, Xmp, ICC. Iptc is not supported for the moment.

Read is very easy. just use co

[2019-10-08 07:50] D4N commented on #1014
Anyone who wishes to work on this:
- take the patch from https://github.com/Exiv2/exiv2/issues/1014#issuecomment-538257876
- commit it and check what the testsuite does
- optionally: add a test for this using the files provided by @Jakuje in https://github.com/Exiv2/exiv2/issues/1014#issuecomment-537198975, strip them via `exiv2 ex $file` and create a regression test like the one in `tests/bugfixe

[2019-10-08 12:06] #958 closed

[2019-10-08 17:14] TrechNex commented on #1018
Just sent out a link to this issue across the Glimpse project communication & social media channels. Hopefully some of the hype we've drummed up will do you some good as well. :)

[2019-10-09 06:00] piponazo opened #1029 "Add test for RemoteIo::getb()"
In #1007 we merged a change proposed by @clanmills which were validated by a test application which is not part of our code base (see [comment](https://github.com/Exiv2/exiv2/issues/910#issuecomment-535542824)).

The idea would be to add a test for `RemoteIo::getb()` (either a unit or system test) to validate that code.

[2019-10-09 06:10] cryptomilk commented on #1018
Code review is important to keep a high standard of code quality. It is important to ensure that there are no new bugs introduced and things don't break. Yes, it is not a task any developers wants to spent most of if times on. When I request a review for a new merge request I also have to review the code from someone else.

For fuzzing and also security related fixes it is important to have the pr

[2019-10-09 06:49] #910 closed

[2019-10-09 15:47] ognarb commented on #1018
Disclaimer: KDE dev and indirect user of Exiv2 ;)

Hello, another possibility for Exiv2 would be to be integrated into a bigger community (KDE, GNOME or Free Desktop) and use the infrastructure provided by this community.

In the case of KDE, this would allow the Exiv2 developers to use the server infrastructure (Jenkyll CI or gitlab CI, site hosting, release team, promo team, translations, sysadm

[2019-10-09 15:50] Pointedstick commented on #1018
I know that some KDE contributors have sent patches, so it seems that there's some overlap in skills already. It might be a good match. If you folks are interested, I would be more than happy to help with the incubation process!

[2019-10-09 16:34] cgilles commented on #1018
Hi KDE guys
I already proposed this kind of migration 10 years ago without success. The proposal was not addressed at right moment in the project life. Migrating is always time consuming, and where a project is growing quickly, this will introduce a time latency in release plan.
One big advantage to migrate to KDE infra is the big translators team which will internationalize well the library and t

[2019-10-09 19:58] phako commented on #1018
Since it is quite widespread indirectly in GNOME, if you can guarantee to keep Qt out of it, KDE might be a good place, otherwise maybe freedesktop is probably better.

[2019-10-11 22:15] D4N opened #1035 "Define a security process"
_Originally posted by @cryptomilk in https://github.com/Exiv2/exiv2/issues/1018#issuecomment-539850488_

For fuzzing and also security related fixes it is important to have the process documented. You can use: https://www.libssh.org/development/security-process/

Write down which versions you support and communicate that. Example: https://wiki.samba.org/index.php/Samba_Release_Planning

This way y

[2019-10-11 22:24] D4N opened #1036 "Integrate exiv2 into the KDE or GNOME ecosystem?"
In https://github.com/Exiv2/exiv2/issues/1018#issuecomment-540062579 @ognarb suggested to integrate exiv2 into the KDE ecosystem. This would give us access to KDE's resources and potentially additional contributors. @phako suggested the same, but for freedesktop.org.

We should list potential pros and cons here and carefully evaluate the options. Also, what is the opinion of our API consumers?

[2019-10-11 22:28] D4N commented on #1018
Hi folks,

thanks for all these comments!

A few comments to some replies:

from @phako:

Jenkins was/is building the releases of exiv2 that get published. It can surely be replicated with any other CI, we just haven't set this up yet.

:+1:

That was my idea too, Rust is very tempting, but a rewrite is not realistic unless a bunch of experienced coders step up and drive this forward.

Currently l

[2019-10-11 22:48] D4N opened #1037 "Forward port #1025 to the master branch"
See: https://github.com/Exiv2/exiv2/pull/1025#issuecomment-540532771

[2019-10-12 06:03] cgilles commented on #1018
About possible Rust port of the library : for me it's a non-sense ! The C++ code base is enough mature, become really stable and C++11 and later come with real improvement with will be enough for the future of the project.

For me Rust is not the future so far... Try to rewrite this project with this language and you will be sure that the project will be forked immediately.

Best

Gilles Caulier

[2019-10-12 06:29] cryptomilk commented on #1035
Also get CVEs through the Red Hat Security team, they also assist if something is considered a security issue or not.

[2019-10-12 08:16] piponazo commented on #1036
Definitely, I would go for one of these options. I took a look to the "Inkubator" process and everything seems pretty clear and I do not think we would have any problem meeting the requirements.

[2019-10-12 08:24] D4N commented on #1018
Well, GNOME did that for librsvg and the world didn't end for them. Also, I'd only start with the internals first, so that the API stays the same and you don't even realize that you are using Rust.

But let's not get into bikeshedding here, currently we completely lack the manpower for such an undertaking. On the other hand, I definitely wouldn't be opposed to introducing Rust into our code base.

[2019-10-12 08:27] D4N commented on #1036
The only downside that I currently see is that we'd probably have to move away from GitHub and thus loose all of the infrastructure & exposure that we get from github.

[2019-10-12 08:31] cgilles commented on #1018
Maintaining 2 lead code code base will be the hell in time. This will require manpower, and it's not the case for a small open source team. It's already difficult with one lead language, so with 2 it's surrealist.

And i'm not interested by Rust stuff... why to reinvent the wheel again and again with new language. it's a waste of time. Concentrate the effort to fix the bugs and advance the project

[2019-10-12 08:36] cgilles commented on #1036
For the question about a plan to use a modern C++ framework in Exiv2 in case of migrating in a lead open source ecosystem, i vote for no. The code base work well, no need to pass time to re-write code and introduce bug. This is true for KDE with Qt or Gnome with GTK+.

[2019-10-12 08:42] cgilles commented on #1036
KDE infrastructure is based now to Gitlab. I will not to explain why this choice was done instead Github, you will found the information on the web history. Look here for details:

https://gitlab.com/gitlab-org/gitlab-foss/issues/53206

And if i'm not too wrong Gnome project do the same...
You must know that KDE has a mirror function with Github (read only).

With digiKam, following the KDE migrat

[2019-10-12 08:45] D4N commented on #1036
Agreed on this one, I would only go for an integration into KDE or Gnome if we can keep Qt and GTK/GLIB out of the code base (as both depend on us, we'd alienate the other, which I wouldn't want).

No need to explain that, imho it's a shame that a big chunk of the open source ecosystem lives on a proprietary platform.

Indeed: https://gitlab.gnome.org

Can you use that to submit pull requests?

Ye

[2019-10-12 08:50] piponazo commented on #1036
@D4N yeah, I thought about that being something in which we would need to invest some time to adapt to other CI infrastructure. On the other hand, I think our CI scripts are pretty mature and probably it would not be much work.

In terms of Github hosting ... as far as we keep using a modern CVS (Git or Mercurial) I do not see it a drama. Although it is true, that platforms like Github or Bitbucke

[2019-10-12 08:52] cgilles commented on #1036
I think no. In krita project for example which is the first major KDE family project to be migrated to gitlab, they set a README about this topic:

https://github.com/KDE/krita/blob/master/.github/CONTRIBUTING.md

Gilles Caulier

[2019-10-12 09:06] D4N opened #1038 "Do you want to contribute?"
Are you interested in contributing but don't know where to start? Ask here, in `#exiv2-chat` on matrix.org or on the discussion mailing list: https://lists.sr.ht/~d4n/exiv2-discussion.

Is the documentation about contributions lacking? Are you missing information? Please create new issues for that, so that we can fix them.

[2019-10-12 09:13] phako commented on #1036
Subjectively I think you'd profit more from KDE, since your consumers use you directly, and there's more C++ people there. With GNOME, I'm your proxy API, I get most of the tickets.

I mainly suggested fdo as a third option, but that's probably not anything more beneficial than staying on github

[2019-10-12 09:19] D4N opened #1039 "Stop setting CMAKE_CXX_FLAGS globaly"
We are currently adding a bunch of additional compiler flags to detect issues. However, we are setting these globally via `set(CMAKE_CXX_FLAGS ...)`, which isn't too great. Instead we should add the flags only to our targets via [target_compile_options](https://cmake.org/cmake/help/latest/command/target_compile_options.html). This would be beneficial as we could enable `-fsanitize=fuzzer` only for

[2019-10-12 09:19] phako commented on #1026
My concern regarding continuing parsing from https://github.com/Exiv2/exiv2/pull/1020#issuecomment-538881141

By setting size_ to size - offset() might cause an endless loop if you choose an offset that is big enough to point you back to the start of the initial structure, then you parse down again, hit the faulty offset etc.

[2019-10-12 09:24] cgilles commented on #318
Hi Peter,

I created my HEIF branch in github, and my code is able to get Exif, Iptc, and Xmp. It's based originally on you branch.

And yes, Iptc is now officially supported. libheif team introduce new code in "iptc" branch following my recommendations. Look the story :

https://github.com/strukturag/libheif/issues/124

I use your code branch and add libheif code base from iptc branch in Exiv2. T

[2019-10-12 09:29] cgilles commented on #318
Link to HEIF Image generated by digiKam from a JPEG image including Exif, Iptc, and Xmp :

https://drive.google.com/open?id=1GPI7RGlrL6uIusEfyDbmxxJeOL-9YLRE

Results with Exiv2 CLI tool :

[gilles@localhost bin]$ ./exiv2 -pe LR.heic
Exiv2::HeifImage::isHeifType() = 1
Exiv2::HeifImage::isHeifType() = 1
Exiv2::HeifImage::readMetadata: Reading HEIF file LR.heic
Exiv2::HeifImage::isHeifType() = 1
Exi

[2019-10-12 09:32] cgilles commented on #318
Link to my branch :

https://github.com/cgilles/exiv2

Gilles Caulier

[2019-10-12 09:35] 1div0 commented on #318
@cgilles

Thank you very much for your efforts. I will have a look l8r today.

Merci.

Post Scriptum: have a nice weekend!

[2019-10-12 09:51] cgilles commented on #318
With this commit HEIF option at configuration time is back :

https://github.com/cgilles/exiv2/commit/6b7b6a2020c984e95fda8b7ae0aa46919d42900a

I also print this option state in cmake configuration resume.

Gilles Caulier

[2019-10-12 09:59] phako commented on #318
What exact benefit you you think you will gain from writing your own format parser?

[2019-10-12 10:01] cgilles commented on #318
No gain : more time to spare on this task, but left libheif source code.

Again, as i said this point must be talk. If libheif is a problem to left in Exiv2, or to add as an external dependency, this is the way to go. Else, we can stay like this...

Gilles Caulier

[2019-10-12 10:05] 1div0 commented on #318
Just because of the mess with dynamic linked libraries in some operating systems, it does not make any $€n$€ to reinvent better circular transportation device.

libheif is the best, as it is the only one in this space.

Cheers.

[2019-10-12 10:55] cgilles commented on #318
Sûre, but there is another point where I’m not sure : libheif will be able to modify metadata chunks without to re-encode image data ?

[2019-10-12 11:01] 1div0 commented on #318
@farindk What do you think about the latest comment above?

Danke schön.

[2019-10-12 11:08] phako commented on #318
If that's the case, then libheif should be fixed, IMHO. Though I really doubt it. I'd assume it only needs to remux the isomp4 container  worst-case.

[2019-10-12 15:57] #1014 closed

[2019-10-12 16:12] cgilles commented on #318
I just open this file in libheif project, just to be sure... Wait and see :

https://github.com/strukturag/libheif/issues/164

Gilles Caulier

[2019-10-13 21:09] #800 closed

[2019-10-14 13:43] cgilles commented on #318
Voilà, this is what i suspected : https://github.com/strukturag/libheif/issues/105

It's not yet possible to modify an existing HEIF file without to re-encode with libheif. But the problem still open.

I also write test code to try to backport Exif/Ipc/xmp from a JPEG image to an existing HEIF file, and it's break the file structure.

I will report and talk about this problem with libheif team...

[2019-10-14 15:01] phako commented on #318
May I suggest a two-step approach and implement read access first with this issue, finish that and implement write access later?

[2019-10-14 15:14] cgilles commented on #318
Well code to update metadata in HEIF with liheif is already on my computer. So will write an unit test for libheif to test this kind of operation and wait than libheif team patch the library to work as expected.

Depending of the Exiv2 plan to deploy next release, the current code to read all metadata is already fine to be used in production. I test well with digiKam, and no side effect is visible

[2019-10-17 11:38] jriddell commented on #1036
Some of the benefits of joining KDE are listed here
https://manifesto.kde.org/benefits.html
While KDE is best known for its Plasma desktop there are many projects which are part of the community which are very diverse even as far as a textbook wiki https://en.wikitolearn.org/Main_Page
KDE projects get help from infrastructure hosting, CI, automated QA, promotion, translations, can release on their

[2019-10-17 23:16] D4N commented on #1036
So as I currently see it:
- KDE would probably be mutually quite beneficial (we & KDE use cmake + C++ directly), but we loose the Github ecosystem & tooling
- GNOME might be mutually beneficial (faster feedback for gexiv2), but we loose Github too

I'm currently a little worried on the loosing Github part, as we rely on quite a few services that are integrated very well with Github (no idea how th

[2019-10-19 09:35] nicofooo opened #1046 "Add "translated" support (-pt) for GPSProcessingMethod and GPSAreaInformation"
Hello,

The EXIF tag **GPSProcessingMethod** is not decoded by exiv2.
It is the tag **0x001B**.
Example:
[code]
The binary data is ASCII. In the example, 65 83 67 73 73 0 0 0 71 80 83 0 0 0 -> ASCII   GPS

It is well decoded by exiftool. See https://sno.phy.queensu.ca/~phil/exiftool/TagNames/GPS.html

[2019-10-28 11:28] ret2libc commented on #960
CVE-2019-14982 has been assigned to this flaw.

[2019-11-02 00:20] CarVac commented on #236
LibRaw released a snapshot yesterday with CR3 support, and now this is the blocker for Filmulator supporting .CR3 cameras.

Is there any way I can help out?

[2019-11-06 08:43] shaky-hands opened #1054 "Problem with Huawei P30 Pro camera data from dng file"
Exiv2 version 0.25 doesn't read the correct camera data from the Huawei P30 Pro dng file.  No problem reading data from the jpg file.

ISO value is correct, but aperture and exposure are set to zero.

Camera data from the Huawei P20 Pro dng file is correct.

The zip file contains a dng file from a Huawei P30 Pro.

Thank you,
Don

[IMG_20191007_114345.zip](https://github.com/Exiv2/exiv2/files/38133

[2019-11-06 09:06] D4N commented on #1054
exiv2 0.25 is way out of support, please test it with the latest 0.27 dot release or with a build from the master branch.

[2019-11-06 09:10] shaky-hands commented on #1054
Will do.  Thanks.

On Wed, Nov 6, 2019, 16:07 D4N <notifications@github.com> wrote:

[2019-11-06 10:12] shaky-hands commented on #1054
BTW, did you try your version with the attached zip file?

On Wed, Nov 6, 2019, 16:10 P C <thayroopthai@gmail.com> wrote:

[2019-11-06 14:26] axxel commented on #679
I've just spend half a week updating my project (which is a rather convoluted bunch of Qt-Gui + plain cli apps + a bunch of 'frozen' python scripts) to support unicode filenames on windows and I learned two things that might be of interest to someone working on this:
 a) you get unicode (utf-8 based) support through your existing 'narrow' apis for free if you enable the relatively new check box "B

[2019-11-07 01:28] shaky-hands commented on #1054
I tried exiv2-0.27.2-Linux64.  Still no camera settings, except iso, from
the Huawei P30 Pro dng file.  I used the following command

exiv2 <filename>

Attached is the exiv2 output.

The camera setting from the Huawei dng file are read by Adobe Lightroom
5.7, Bridge CC2018, and Photoshop Elements 12.

On Wed, Nov 6, 2019 at 4:07 PM D4N <notifications@github.com> wrote:

File name       : ../../../

[2019-11-08 10:01] night9951 opened #1056 "Write some property, written to fail"
write fail code

exifData["Exif.Image.XPAuthor"] = "SAHARA";
exifData["Exif.Image.XPTitle"] = " sssssssssssssss";
exifData["Exif.Image.XPComment"] = "dddddddddddddd";
exifData["Exif.Image.XPSubject"] = "fffffffffffffff";

write success code

exifData["Exif.Image.Model"] = "Test 1";      // AsciiValue
exifData["Exif.Image.Make"] =  "conan"  ;    // AsciiValue
exifData["Exif.Photo.UserComment"]= "ch

[2019-11-13 18:51] mrkkrp commented on #236
@clanmills Can you provide some guidance for those who I'd like to try to implement this? A plan/outline? Note that @CarVac asks if they can help.

[2019-11-13 21:50] clanmills commented on #236
Mark.  I have retired from Exiv2.  However, I admire your enthusiasm for this task and I had hoped that I would get to this before I retired.

So I'm happy to mentor you and @carVac  Can we discuss this by email:  robin@clanmills.com  When you're ready to submit a PR, you can summarise the implementation for several reasons:
1) To help Team Exiv2 with the review of your changes.
2) To act as a 'ro

[2019-11-13 22:43] mrkkrp commented on #236
@CarVac would you like to give it a go or should I try to dig it? If C++ is fresh in your head and most importantly if you have the time you may be a better fit for this.

[2019-11-13 23:16] CarVac commented on #236
I'm fresh on C++ but I'm in the process of moving so I can't do it right now. But I really would like to follow along in the process (in whatever email conversations you have).

[2019-11-13 23:17] clanmills commented on #236
I know the Exiv2/C++ code very well.  I downloaded the LibRaw code a couple of months ago at the suggestion of @lclevy.  However I was pushing hard to release Exiv2 v0.27.3 at that time and didn't look at it.  I'll look in the next few days.  I have gardening project going on this week and, as I'm paying people to work with me, I need to deal with that first.  I should have time to work on this ne

[2019-11-13 23:18] clanmills commented on #236
@CarVac I don't think this is a task for somebody "fresh on C++", however you could help with testing.  Do you know Python3?

[2019-11-13 23:43] CarVac commented on #236
I meant "fresh" as in it's fresh in my mind. I write Filmulator (https://github.com/CarVac/filmulator-gui) in C++, and it's basically the way I learned the language. By contrast, I don't really know Python at all anymore; I learned back on 2.7 and haven't used it since.

My main skill in programming is working memory: given familiarity, I can grasp a very large amount of a codebase.

I know basica

[2019-11-14 05:15] clanmills commented on #236
@CarVac @mrkkrp I've changed my mind.  I have retired and don't want to get involved.   I'm sorry I offered to help.  I'm very happy to have the retired from Exiv2 after 12 years and 10,000+ hours of effort.  I wish you every success if you take on this challenge.

[2019-11-14 13:14] boardhead commented on #236
@Robin A well-deserved break.  The effort that you put into this project is impressive.

[2019-11-14 13:42] a17r commented on #1036
In Gentoo, we also use Github only as a mirror, but many projects still use PRs in their workflow as it is very easy to download and `git am` from there. We even have perl and shell script packages to do it in one go from your favorite terminal, and that's not specific to our repos.

[2019-11-14 15:52] phako commented on #236
I think the basic idea would be to to look at exiftool, libraw and the python script mentioned above, extract the difference to CR2 and implement that, ideally deriving (either spiritual or C++-wise) from the CR2 parser.

I have no idea how similar they are, if Canon has some common sense, they hopefully are.

[2019-11-14 17:12] boardhead commented on #236
The overall structure of a CR3 is completely different than CR2.  It is based on the QuickTime file format (MOV/MP4), not the TIFF format.  So you should start from a MOV/MP4 parser.

[2019-11-14 17:26] lclevy commented on #236
@CarVac  I just pushed a parse_cr3.py update that parses ... CR2 too. Maybe I should rename it to parse_cr23.py :-)

[2019-11-14 17:42] phako commented on #236
Oh. Awesome...maybe one could even throw a HEIF parser at it?

[2019-11-14 18:14] boardhead commented on #236
Exactly. The format and challenges are the same as for HEIC.

[2019-11-14 18:21] lclevy commented on #236
and Canon 1D Marx III will produce 10 bits HEIC: https://www.dpreview.com/interviews/6888036612/canon-interview-eos-1d-x-mark-iii-2019

[2019-11-18 16:18] piponazo opened #1060 "Replace deprecated SHGetFolderPathA"
In #1059 we added a missing windows dependency on `shell32` due to the usage of the windows function `SHGetFolderPathA()`.

According to this documentation, the function is deprecated and it should be replaced with a new mechanism.

https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/nf-shlobj_core-shgetfolderpatha

[2019-11-18 18:23] piponazo opened #1062 "Investigate JPG2000 check_boxes"
As discussed in #1016 the new `boxes_check` function introduced looks a little arbitrary and it would be good to check what the JPEG2000 specification exactly says about it.

[2019-11-18 18:29] #1011 closed

[2019-11-18 18:34] janisozaur commented on #1060
I don't know what's your stance on XP support, but the non-deprecated version is only available since Vista.

[2019-11-18 20:31] piponazo commented on #1060
We try to support as many platforms as possible, although I would say XP or Vista are not relevant cases for Exiv2.

Honestly, I have little experience playing with the windows API. Should not we upgrade that code to something like this to obtain the %HOME% dir?
https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/nf-shlobj_core-shgetknownfolderpath

[2019-11-18 21:57] janisozaur commented on #1060
I suppose there's no need, unless you actually need to use the new functionality? The docs read:

For UWP, if you want to support it, you can't use files in such way anyway, so you will have to compile it out and rely on the library consumer passing the data to you or implementing the UWP-way, which is bonkers, to say the least.

[2019-11-18 23:06] janisozaur opened #1063 "UWP builds not possible due to use of forbidden APIs"
I tried building UWP version and compilation works fine, but it's impossible to link the library due to use of forbidden APIs:
[code]

UWP restricts access to some APIs in name of portability.

Naïve approach could be providing empty implementations for some of those, e.g.:
[code]

Proper implementation of file access in UWP is… odd. https://docs.microsoft.com/en-us/windows/uwp/files/quickstart-re

[2019-11-18 23:07] janisozaur commented on #1063
Didn't really mean to label this as a bug

[2019-11-19 05:26] piponazo commented on #1063
I just assigned a new label to the issue "Windows" which will be used for windows specific issues.

Could you please leave some details or reference about how to build the project for UWP? Do you know if it would possible to enable that mode via CMake ?

[2019-11-19 08:47] #1037 closed

[2019-11-19 09:30] phako commented on #236
For parsing arbitrary ISOMP4 containers, you might want to have a look at https://github.com/DigiDNA/ISOBMFF - It's the successor of MP4Parse which was had really nice API and MIT licensed.

[2019-11-19 09:39] phako commented on #236
gah. though its Linux build system is sh*t

[2019-11-19 14:55] PavelLinux opened #1064 "Add lens Tamron SP 35mm f/1.4 Di USD (Canon)"
$ exiv2 -pt IMG_3493.JPG | grep -ai lens
Exif.CanonCs.LensType                        Short       1  (117)
Exif.CanonCs.Lens                            Short       3  35.0 mm
Exif.Canon.LensModel                         Ascii      74  TAMRON SP 35mm F/1.4 Di USD F045
Exif.Photo.LensSpecification                 Rational    4  35/1 35/1 0/1 0/1
Exif.Photo.LensModel                         Ascii

[2019-11-19 16:29] cryptomilk commented on #318
A ISO/IEC 23008-12:2017 encoder/decoder will be required for Canon CR3 too. So the question is if it makes sense to pull in libheif. You probably have to implement a encoder/decoder anyway.

[2019-11-19 18:08] lclevy commented on #236
and this :  https://github.com/lclevy/canon_cr3/blob/master/parse_cr3.py ?

[2019-11-20 21:09] janisozaur commented on #1063
You can do a cmake UWP build through vcpkg.

[2019-11-22 07:22] xinali opened #1065 "exiv2 parse url crash"
**Describe the bug**

when use `Exiv2::Uri::Parse(url)` to parse url, if use malformed url, it will crash.
It's a very low security level crash, you can decide to fix it or not.

**To Reproduce**
edit `samples/conntest.cpp` as follow, then compile latest commit exiv2

[code]

**Expected behavior**
Crash

[code]

**Desktop (please complete the following information):**
 - OS: Linux
 - Compiler: cla

[2019-11-23 09:37] cryptomilk opened #1066 "Add support for ISOBMFF Files (AVIF, HEIF, CR3)"
**Describe the bug**

Hello!

I've started to add support for the AVIF file format [2] in darktable using libavif [1]. I've worked with the maintainer so that it works nicely with cmake.

However I'm not able to load the image file in darktable, because exiv2 is not able to read the exif data and then fails. You can find my darktable code here [3].

If you need help or want to do some pair program

[2019-11-23 12:29] piponazo opened #1068 "CMake: add targets to generate local coverage reports"
Although we already have an option in CMake which add the needed compiler flags in GCC and CLANG to produce coverage information (this is used by the tools we employ in the PRs to generate coverage reports) it would be nice to also add some targets in the CMake configuration to generate local coverage reports.

This would be useful for exploring not exercised paths in the code while testing either

[2019-11-25 00:07] PavelLinux opened #1069 "Add lens Tamron SP 35mm f/1.4 Di USD (Nikon)"
I don't have camera Nikon. I found a jpeg from Nikon on the web.
$ exiv2 -pt DSC_0495.JPG | grep -ai lens
Exif.Nikon3.LensType                         Byte        1  D G
Exif.Nikon3.Lens                             Rational    4  35mm F1.4
Exif.Nikon3.LensFStops                       Undefined   4  7
Exif.NikonLd3.LensIDNumber                   Byte        1  200
Exif.NikonLd3.LensFStops

[2019-11-26 06:36] cryptomilk commented on #1066
I've finished the implementation and can export and import AVIF images now!

<img src="https://xor.cryptomilk.org/pics/dt_avif_export_import.png" />

[2019-11-27 20:50] emye commented on #1068
Hello,
We are a group of students looking to help out on this project. We would like to assist in this issue. Thanks.

[2019-11-28 08:07] piponazo commented on #1068
Great @emye . Let me know if you need any help about this topic.

[2019-11-28 22:32] D4N commented on #1068
If you have some add hoc questions, you can also drop by in the `#exiv2-chat` chatroom on matrix.org.

[2019-11-29 17:01] tbeu commented on #1060
Can do.

[2019-12-01 16:30] cryptomilk commented on #1068
Do you use ctest? Because it has coverage support. See

https://test.cmocka.org/viewCoverage.php?buildid=1430

[2019-12-07 13:39] PavelLinux opened #1072 "Add lens Tamron SP 85mm F/1.8 Di VC USD (Canon)"
Please fix conflict and add lens.

$ exiv2 -pt IMG_4600.JPG | grep -ai lens
Exif.CanonCs.LensType                        Short       1  Canon EF 35mm f/1.4L II USM
Exif.CanonCs.Lens                            Short       3  85.0 mm
Exif.Canon.LensModel                         Ascii      74  TAMRON SP 85mm F/1.8 Di VC USD F016
Exif.Photo.LensSpecification                 Rational    4  85/1 85/1 0/

[2019-12-10 14:03] proturm opened #1074 "How are the builds supports to be installed?"
**Describe the bug**
How are the builds supports to be installed? There is no description in the README about it.

**To Reproduce**
read the README / download the builds from https://www.exiv2.org/download.html

**Expected behavior**
Clear description of what to do with the builds

**Desktop (please complete the following information):**
 - Ubuntu LTS

**Additional context**
-

[2019-12-10 14:56] clanmills commented on #1074
This is documented in ReadMe.txt in the bundle.  I've attached ReadMe.txt for Linux.  The version of ReadMe.txt in the other bundles (macOS, Cygwin, msys2, msvc) are appropriate for the platform.  There are three other readme files which deal in considerable detail about building the code, using CONAN and the sample applications.  There are: README.md, README-CONAN.md and README-SAMPLES.md

[code]

[2019-12-10 15:26] proturm commented on #1074
Thanks, indeed I got confused which readme is the root one ...

[2019-12-10 15:34] #1074 closed

[2019-12-10 17:44] piponazo opened #1075 "Reconsider taglist testing strategy"
In #1015 we decided to remove from master a test which was added in `0.27-maintenance`to check the output of the taglist sample application. Such sample application was extended to be able to check whether exiv2 is able to recognise certain tags and we decided to add a python test to analyse the output of it. However, when adding support for new tags, taglist's output change and therefore the test

[2019-12-10 23:23] D4N commented on #1072
Would you mind telling us what you expect exiv2 to output?

[2019-12-10 23:27] D4N commented on #1064
Same question as in #1072: what do you expect exiv2 to parse from that image?

[2019-12-11 07:19] piponazo commented on #1068
@cryptomilk at the end @emye implemented it in a custom way. In case we start using CTest more intensively in the future we can check if the CTest/CMake support can simplify things. At the moment, since we have a mix of Unit Tests (included in CTest), bash & python tests (Not included in CTest), I think the current implementation is good enough.

[2019-12-11 08:13] #987 closed

[2019-12-11 13:22] PavelLinux commented on #1064
Add to project. I made local fix.

[canon]
117=Tamron SP 35mm f/1.4 Di USD
750=Tamron SP 85mm f/1.8 Di VC USD
0=Samyang 14mm f/2.8 ED AS IF UMC

[2019-12-11 13:22] PavelLinux commented on #1072
Add to project. I made local fix.

[2019-12-11 20:22] fabeng07 opened #1076 "Update of 2 sigmas lenses on Canon body AND way to differentiate lenses with same ID"
Hello,

In the array: canonCsLensType of the file canonmn_int.cpp, please could you add these 2 lenses:

        { 231, "Sigma 12-24mm f/4 DG HSM | A"                               }
        { 495, "Sigma 24-70mm f/2.8 DG OS HSM | A"                       }

For the number 495, there is already one canon lens with same focal and aperture so not possible to differentiate with actual code.
{ 495, "C

[2019-12-12 10:47] clanmills commented on #1076
@fabeng07 Please attach sample images to be added to the test suite.

We normally put .exv files into the test suite.  You can create them with `$ exiv2 --force --verbose -ea foo.image`.

Perhaps you'd like to also write the python tests.  You'll find the existing tests `tests/bugfixes/github/test_pr_992.py` and/or `tests/bugfixes/github/test_issue_20.py` a good model.  The test harness will autom

[2019-12-24 09:45] D4N commented on #1076
@fabeng07 Would you be willing to help out with the coding part? Unfortunately I have had very little time to dedicate to exiv2 in the past months, so I cannot promise any ETA at all.

In any case, could you please provide us with some sample images?

[2019-12-24 09:47] D4N commented on #1072
Would you share the local fix? Or provide us with more information? I see that you have pasted some exiv2 output in the issue description: is that the desired output, or the current output?

[2019-12-24 09:48] D4N commented on #1064
Is that what you put into your `~/.exiv2` file?

[2019-12-24 15:34] PavelLinux commented on #1064
Yes.

[2019-12-24 15:36] PavelLinux commented on #1072
In #1064

[2019-12-27 16:47] kd35a opened #1078 "Add lens Tokina atx-i 11-16mm F2.8 CF (Nikon)"
I'd like to add the newly released Tokina atx-i 11-16mm F2.8 CF (Nikon):
[code]
Sample image:
![DSC_0476](https://user-images.githubusercontent.com/184598/71525200-e1832b80-28d0-11ea-945b-f6523af36af0.JPG)

[2019-12-30 10:17] cryptomilk commented on #1066
AVIF support landed in master and will be available with 3.0.1.

[2019-12-31 02:37] boardhead commented on #1066
Perhaps I'm missing something (likely), but the latest update I see to master was 20 days ago.

[2019-12-31 12:47] cryptomilk commented on #1066
I'm talking about darktable master -> https://github.com/darktable-org/darktable

[2020-01-01 05:48] boardhead commented on #1066
Ah

[2020-01-01 14:58] SPlesskin opened #1080 "Silent warnings when building as an external dependency"
Hi,

I'm building Exiv2 as an external library for my project. I'm using CMake and the ExternalProject module for that purpose. Everything works fine but I'd like to disable the warning/error messages that appear in the console window. I know I've to define a special macro (SUPPRESS_WARNINGS) at compile time but I'm having a hard time finding how to do so. Can someone tell me a solution for this p

[2020-01-01 15:06] boardhead commented on #1080
Just a guess, but did you try adding -DSUPPRESS_WARNINGS ?

[2020-01-01 21:06] SPlesskin commented on #1080
Yes, I tried to set the CMAKE_CXX_FLAGS and CXX_FLAGS variables with "-DSUPPRESS_WARNINGS" but it was unsuccessful. It seems also that I can't do this with the make command.

[2020-01-02 06:13] clanmills commented on #1080
The following works for me on MacOSX 10.15.2 with cmake version 3.15.0
[code]
It reports:
[code]

[2020-01-02 18:22] clanmills commented on #1080
@SPlesskin Did this work for you?  Can we close this issue now?

[2020-01-03 10:48] clanmills commented on #911
I submitted the following proposal about 2019-12-08.  I received no acknowledgment.

———————————
Talk Proposal:  What has Open Source Done for Us?
By: Robin Mills (exiv2.org)

_You may be aware of the scene in Monty Python's "Life of Brian" entitled: "What have the Roman's ever done for us."_  https://www.youtube.com/watch?v=Y7tvauOJMHo

_I have worked on Exiv2 for 12 years and contributed more th

[2020-01-03 20:37] clanmills commented on #1080
I'm going to close this because I believe I've provided the necessary explanation.  @SPlesskin I will re-open this issue if you wish to discuss this further.

[2020-01-03 20:37] #1080 closed

[2020-01-07 13:21] tonke90 opened #1081 "Changing Tag shortens MakernNote on Olympus JPEG"
I want to change the orientation tag of the original JPEGs of my old Olympus camera without orientation sensor and leave the rest as it is. But exiv2 will also shorten the MakerNote Tag, I don't know if this is related to the warnings.

I'm not sure if this is a bug or intended behavior. In case it is intended and it somehow fixes the files to be standard conform, I miss a option to not do that.

[2020-01-07 13:25] boardhead commented on #1081
What model camera is this?

[2020-01-07 13:26] tonke90 commented on #1081
[code]

[2020-01-07 13:44] boardhead commented on #1081
This model has maker notes that are actually much better behaved than other Olympus models, but the PreviewImage pointer seems to be invalid (in my sample at least), and points past the end of the file.  It is possible that my file is missing the PreviewImage trailer, but it seems your file has the same  problem.

The MakerNotes are reduced in size because there is a lot of empty space (filled wit

[2020-01-07 13:50] tonke90 commented on #1081
Thanks for the detailed explanation! I was guessing that it somehow fixes the file, but I would expect a warning when something like this is happening, at least on a higher debug level.

Still, I would wish for an option to disable this behavior, as I want to do minimal changes to the files and the changes would be inconsistent to the other non-rotated files.

[2020-01-07 13:57] tonke90 commented on #1081
Just for future reference, at least it seems like it is only rewriting the size of the MakerNote and is not doing more intrusive changes.
[code]

[2020-01-07 14:05] boardhead commented on #1081
This doesn't make sense to me.  In my sample the empty areas are scattered throughout the maker notes, so just changing the size wouldn't work.  Could you attach both images so I can take a look?

[2020-01-07 14:17] tonke90 commented on #1081
Sure, first one is the out-of-camera Jpeg, second one is after modifying the orientation tag.
![orig](https://user-images.githubusercontent.com/16447133/71901633-ab5f6a80-3160-11ea-9d8c-765f95f40ef6.JPG)
![exif](https://user-images.githubusercontent.com/16447133/71901640-adc1c480-3160-11ea-92dc-6fe6b388d35e.JPG)

[2020-01-07 14:23] boardhead commented on #1081
Ooops.  **This is a rather serious Exiv2 bug.**  Apparently the original MakerNotes have been written to the file, but the size has been changed to that of the reformatted MakerNotes.  :(

[2020-01-07 14:33] tonke90 commented on #1081
Ops. Glad I could help to point it out!

Can you point me to an alternative option to really only change the orientation tag?

[2020-01-07 14:37] tonke90 commented on #1081
The same seems to happen for the raw files:
[code]

[2020-01-07 14:42] boardhead commented on #1081
Sorry, I don't know of anything that can do this.  ExifTool rewrites the MakerNotes and compresses the maker notes to 9270 bytes (the same size the Exiv2 writes), except that the compressed MakerNotes are properly written to the updated file.

I'm not surprised that the same problem exists for raw files.

[2020-01-07 14:48] tonke90 commented on #1081
Okay, thanks for your input. I noticed the more intrusive change in (your?) ExifTool, that is what got me to Exiv2. Nevertheless, thank you for the great work! It is highly appreciated :)

I though so, that the raw files are handled similar. Let me know if I can help, providing test files or testing myself.

[2020-01-07 14:48] boardhead commented on #1081
One more thing:  The file you posted does contain the PreviewImage trailer., and the PreviewImageStart 0x0101 tag is valid and correct, although it does point outside the EXIF data.

[2020-01-07 14:52] tonke90 commented on #1081
Okay, what does that tell me? :) I'm pretty sure these are untouched originals, but I could later take new sample images.

[2020-01-07 14:55] boardhead commented on #1081
This means that there is no problem with the PreviewImage in your original JPG.  It is more-or-less standard practice for the MakerNotes to reference a large PreviewImage outside the EXIF data.  So I'm saying that you should ignore the Exiv2 warning for this.

[2020-01-07 14:56] tonke90 commented on #1081
Oh, I see. Thanks, good to know!

[2020-01-07 15:00] clanmills commented on #1081
Happy New Year, everybody.  This will be difficult to fix.  I don't believe there's a work-around using exiv2.

Exiv2 decodes the metadata and stores it in memory (with the readMetadata() function).  If the metadata is modified and rewritten (with the writeMetadata() function), all metadata, including the makernote, is rebuilt and written to file.  The Olympus makernote is illegally "pointing" out

[2020-01-11 05:52] ryandesign opened #1082 "Build fails in debug mode"
**Describe the bug**
Building exiv2 0.27.1 fails when debug mode is enabled. This problem was [reported to MacPorts here](https://trac.macports.org/ticket/59932); a full build log is attached there.

**To Reproduce**
Steps to reproduce the behaviour:

Configure exiv2 with `-DDEBUG` in CFLAGS, CXXFLAGS; make as usual.

**Expected behavior**
Successful build.

**Desktop (please complete the followin

[2020-01-11 06:21] piponazo commented on #1082
Thanks @ryandesign for reporting this issue. I will look at it ASAP.

[2020-01-14 05:38] vaibhav135 opened #1083 "Having problem in installing exiv2 in ubuntu 18.04lts"
I have downloaded the exiv2-0.27.2-Source.tar.gz.
I have extracted it in the same directory i.e, home/dir/Downloads/
Now following the instructions from the github page

 **Build, Install, Use Exiv2 on a UNIX-like system**
`cd $EXIV_ROOT
mkdir build && cd build
cmake .. -DCMAKE_BUILD_TYPE=Release
cmake --build .
make tests
sudo make install`

![Screenshot from 2020-01-14 11-04-53](https://user-ima

[2020-01-14 07:03] clanmills commented on #1083
I think your variable EXIV_ROOT is incorrectly set, or possibly not set at all!  And that's why cmake is issuing the message:

[code]

CMake cannot generate a Makefile, and everything that follows (`mkdir build; cd build ; cmake --build . ; make tests`) will fail.

Could you mean `EXIV_ROOT` to be set to `/home/dev135/Downloads/exiv2-0.27.2-Source`?

[2020-01-14 07:18] vaibhav135 commented on #1083
yes

[2020-01-14 07:19] vaibhav135 commented on #1083
Can you please give me a straight example as of how can I install this in my machine

[2020-01-14 08:14] clanmills commented on #1083
Please use the words "Please" and "Thank You" when we talk.

Three ways to make progress:

1 Install Exiv2 on ubuntu with apt
2 Download the pre-built binary for Linux
3 Build from source

-------
*Install Exiv2 on ubuntu with apt*
[code]

-------
*Download the pre-built binary for Linux*

You can download pre-built binaries (for Linux and other platforms) from:
https://www.exiv2.org/download.html

[2020-01-14 08:14] #1083 closed

[2020-01-14 09:08] clanmills commented on #1083
I believe I know exactly what has caused your difficulty.  README.md says:
[code]

It doesn't explicitly say you should declare the variable EXIV_ROOT to the directory of the source!  In your case:

[code]

I hope this is now working correctly for you.  The other methods I suggested (using apt and downloading a pre-built binary) are probably easier and quicker.

Building open-source is often chall

[2020-01-14 09:35] vaibhav135 commented on #1083
Hello
Thanks for the explanation and I am really sorry for my manners. Since I am new to the open source community.
I am extremely thankful to you.

[2020-01-14 09:36] vaibhav135 commented on #1083
Actually OSM stands for open street map.By the way sir is your organisation going to appear for GSoC.

[2020-01-14 10:15] clanmills commented on #1083
Thanks for apologising.  Very much appreciated.  Please remember all open-source engineers are unpaid volunteers.  You reward us by saying "Thanks".

We participated in GSoC in 2012 and 2013.  We applied in 2019 and were declined.  There's no plan to apply in 2020. #659

I've retired now from Exiv2 (after 12 years and 10,000+ hours).  I occasionally answer support questions, however I will not sub

[2020-01-14 10:19] vaibhav135 commented on #1083
Thank you Sir for your humble reply. I will always remember that. I will never repeat the same mistake again.

[2020-01-14 18:02] StefanGyuzelev opened #1084 "Irix lens names in Pentax"
Hello!
It's not a bug, it's just missing information about Irix150mm, Irix11mm lenses in photos taken with Pentax. I suggest the following patch to add this information:
[Pentax-Irix.patch.zip](https://github.com/Exiv2/exiv2/files/4060622/Pentax-Irix.patch.zip)

[2020-01-14 23:42] D4N commented on #1084
Thanks for the patch! JFYI: you can submit patches directly via the mailinglist as noted at the top of the README ;-)

Could you share some source/confirmation that backs up these changes and provide some test images for the lenses? (If you own a camera with the respective lenses, then please just make a blank photo and upload it here).

[2020-01-14 23:47] #1078 closed

[2020-01-15 15:27] StefanGyuzelev commented on #1084
This is link to my example with Irix150mm and Irix15mm with Pentax K-1
https://drive.google.com/drive/folders/1Qn8SVBVPk-6zZJ-G9LqHImFEmJevou7f?usp=sharing
I don't have Irix11 f / 4, but I downloaded an example from: https://www.pentaxforums.com/forums/122-lens-clubs
Unfortunately the site does not open today  to give the exact address to a photo of Pentax k-1 with Irix 11mm which contains exif

[2020-01-21 17:34] piponazo commented on #1082
@ryandesign I could reproduce the issue in 0.27.1 by using the following commands:

[code]
However the problem is solved in **0.27.2** and **master**. Would you be able to upgrade to the most recent release **0.27.2** ?

[2020-01-21 19:03] ryandesign commented on #1082
Thanks, I did not realize 0.27.2 had been released. It looks like there has been some inconsistency in the naming of the tags: sometimes a "v" prefix is used and sometimes it is not. In MacPorts, we had programmed our exiv2 port to search for versions that were not prefixed with "v", so the latest we found was 0.27.1. I have [switched that](https://github.com/macports/macports-ports/commit/ec44b76

[2020-01-21 20:51] piponazo commented on #1082
You're right, we changed the tag naming when we discovered that the previous approach was conflicting with our "stable" development branches. There must be some issue in which we had the discussion but I cannot recall which was it is :sweat_smile: . But we will try to be consistent with the current approach in the future :+1: .

You can find more information of why we renamed `DEBUG` to `EXIV2_DEB

[2020-01-21 21:00] piponazo commented on #1082
By the way, I will try to solve the compilation issues that arise when defining  `EXIV2_DEBUG_MESSAGES`. This is something that is used very sporadically, and it seems few things got broken.

[2020-01-23 15:22] kevinbackhouse commented on #1065
@xinali: you forgot to attach your test file, `crashes/024b8d41af3621fe50cf5c840bad9bd3`.
But I guess it contains a url like this: "http://example.com?xx/yyy"
If the `?` comes before the `/` then `pathStart > queryStart` on [line 465](https://github.com/Exiv2/exiv2/blob/99be597e00cc686a66299b9bd7dbfb1d3c343356/src/futils.cpp#L465), which causes a `std::length_error` exception to be thrown.

[2020-01-23 15:49] kevinbackhouse commented on #739
I can't reproduce this on master or 0.27-maintenance. I just get an error message: "corrupted image metadata". I confirmed that an old [revision](https://github.com/Exiv2/exiv2/tree/fd0f29bd1e91bd05c855b88794209179a9e27761) from last year segfaults on the same input file, so I think we already fixed this bug last summer.

[2020-01-23 17:05] #1082 closed

[2020-01-24 15:58] #1065 closed

[2020-01-24 16:01] #712 closed

[2020-01-30 04:53] #739 closed

[2020-01-31 20:55] dannftk commented on #1018
Hi guys,
Is there planned a release 0.27.3? If there is, when?
PS: I need this library with c++17 capable of compiling, 0.27.2 is c++14 compatible only
Thank you

[2020-02-05 07:26] lake-effect opened #1096 "Lens request: Leica DC Vario-Summilux 10.9–34 mm f/1.7–2.8 ASPH"
This is a lens included in a few built-in cameras, including the [Leica D-Lux](https://www.dpreview.com/articles/9078374619/leica-introduces-d-lux-24-75mm-equiv-compact-with-four-thirds-sensor#specs) and Panasonic Lumix LX-100II.

[2020-02-05 12:25] boardhead commented on #1096
Can you provide a sample image taken with this lens?

[2020-02-05 20:01] lake-effect commented on #1096
Sure! Here's a RAW with no lens correction: https://mega.nz/#!1mRn0SJY!hyXERCpbGn4ENOIQHPNePmdGtJBZV1nKJaBaVXqKvyk

For reference, darktable has a "fixed lens" for Panasonic/LX-100 cameras that is close but its settings bottom out at 11mm whereas this has 10mm.

[2020-02-06 12:11] boardhead commented on #1096
I'm not sure exactly what you want with this request, but there is no lens identification information in this image.

[2020-02-11 05:22] LockOne opened #1097 "Segfault of exiv2 with pr flag"
**Describe the bug**
Hi, we are currently working on fuzzing to automatically generate test cases, and we found a crash of exiv2 with pr flag.

**To Reproduce**
Running following command lead to crash:
`./exiv2 pr <attatched file>`
[exiv2_pr_crash.txt](https://github.com/Exiv2/exiv2/files/4184184/exiv2_pr_crash.txt)

I used 0.27.2 release version of exiv2.

**Desktop (please complete the following

[2020-02-11 10:26] kevinbackhouse commented on #1097
It's an infinite recursion because it keeps calling CiffDirectory::readDirectory() to parse the data at offset 0. The code is not enforcing that the directories should be nested.

I don't know the rules of the format, but my guess is that we should enforce that `offset_ >= start + 6` at [line 247](https://github.com/Exiv2/exiv2/blob/master/src/crwimage_int.cpp#L247), to enforce that the sub-direct

[2020-02-11 11:27] kevinbackhouse commented on #1097
It turns out that the fix that I suggested is too simple, because the offset is sometimes at a lower address in memory. [This file](https://github.com/Exiv2/exiv2/blob/d4d4d766e9ade2376115eb41cc478eb195df1b39/test/data/exiv2-canon-powershot-s40.crw) is a counterexample. I have posted #1098 with the updated logic.

[2020-02-11 13:19] LockOne opened #1099 "exiv2 aborts with registerNs"
**Describe the bug**
Another crash found along with #1097 with fuzzing
exiv2 got aborted with the following report:
[code]

**To Reproduce**
./exiv2 -m [exiv2_mo_crash_1.txt](https://github.com/Exiv2/exiv2/files/4185793/exiv2_mo_crash_1.txt) mo [f1.txt](https://github.com/Exiv2/exiv2/files/4185806/f1.txt)
(Just download first exiv2_mo_crash_1.txt file. It seems the second f1.txt file does not matt

[2020-02-11 15:37] kevinbackhouse commented on #1099
This is a bug in command file parsing. It stops exiv2 with an uncaught exception, so it's fairly harmless.

[2020-02-14 13:58] dublin19 opened #1101 "Linking exiv2 prebuilt binaries with Qt project does not work"
I try to integrate the exiv2 prebuilt binary from website (MINGW64 shared binaries) into a Qt project. So I unpacked the archive added the BIN directory to my Systems PATH and added it to my ``.pro``-file like this:

[code]

When I then try to build my app I get the following error:
[code]

What do I do wrong? I've read that exiv2 is built with c++98, probably something todo with that?

**Desktop

[2020-02-14 14:12] D4N commented on #1101
Looks like you're building with C++11 or later as the symbol: `__imp__ZN5Exiv212ImageFactory4openERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEb` is the mangled version of `__imp_Exiv2::ImageFactory::open(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, bool)`, which doesn't exist.

Please try to build it with C++98 instead.

[2020-02-14 14:22] dublin19 commented on #1101
@D4N I try out when I get back home. Is there no exiv2 c++11 version? I don't think that newer Qt version will ever target anything lower than c++11...

What I've found interesting is that if I install exiv2 over homebrew on my mac and build my application on this side with the same Qt version (only difference is that I am using clang there) anything works fine as I would expect...

[2020-02-14 14:28] dublin19 commented on #1101
@D4N I tried another Qt project from work to target with ``-std=c++98`` but Qt instantly gives me the error that I atleast need to use c++11.

[2020-02-14 22:24] D4N commented on #1101
Currently only the master branch unfortunately...

[2020-02-15 07:01] phako commented on #1101
Is there any technical reason for that? I just tried on 0.27, other then spitting out a shitload of warnings, it's building fine.

[2020-02-15 08:09] dublin19 commented on #1101
@D4N then I‘ll need to try building it myself..

@phako did you also use the prebuilt binaries?

[2020-02-15 08:31] phako commented on #1101
@dublin19 No I meant building exiv2 stable with c++11

[2020-02-15 09:12] dublin19 commented on #1101
@phako I'm going to try out. Is there any possible way to NOT use msys and use the shipped mingw with Qt? I have no experience with msys.

[2020-02-15 09:46] dublin19 commented on #1101
Looks like it worked! I test out and give feedback.

[2020-02-15 09:49] clanmills commented on #1101
It doesn't sound as though you can use the pre-built MinGW/msys2 binary with Qt.  The prebuilt binaries are tested with the test suite. And they are documented (and tested) to link a command-line program (exifprint.cpp).  And it's all done with `-std=c++98`

I think you'll have to build the Exiv2 library with the compiler/linker supported by Qt.  I seem to recall that Qt supports various compilers

[2020-02-15 09:52] dublin19 commented on #1101
It worked fine with Qt's shipped mingw, I get a ``.dll.a`` and ``.dll`` output. Do I need to use something like ``cmake install`` to get the ``include`` folder filled? Inside this folder there are just some cmake files and no real usable output.

[2020-02-15 10:06] dublin19 commented on #1101
So linking to exiv2 works fine but now I have a problem. When using

[code]

the program just crashs on startup, no message, nothing.

My ``.pro`` file looks like this:
[code]

[2020-02-15 10:59] clanmills commented on #1101
Are you sure you have libexiv2.dll on the PATH?

[2020-02-15 11:17] gaaned92 opened #1102 "Building exiv2 0.27.xxx on MSYS2"
Context:
see https://discuss.pixls.us/t/art-v1-0-is-out/16103/155
"the official exiv2 version in Mingw seems broken, or at least miscompiled. it seems libexiv2.dll doesn’t properly raise exceptions on error. if I compile it myself, everything works"

The tag 0.27.2 builds ok on Mingw64 even if I get warnings.

As it is rather old, I tried to build 0.27.-maintenance branch  commit hash 5360d82c4a64

[2020-02-15 13:10] dublin19 commented on #1101
@clanmills I have the whole BIN folder in my PATH. So including ``libexiv2.dll``.

[2020-02-15 13:20] dublin19 commented on #1101
@clanmills GENIUS! I investigated the PATH variable inside QtCreator and found it did not use the new changes stating back to my old folder. Resetting my Qt Creator PATH to the systems path and voilà, it works!

[2020-02-15 23:08] clanmills commented on #1102
Thanks for reporting this.  I have a couple of points of good news for you concerning 0.27.2 and 0.27-maintenance.
1) I've pulled down and successfully built a fresh clone of 0.27-maintenance on msys/2 with GCC 7.3.0 and cmake 3.10.2

2) Yesterday, a user reported getting the "official" 0.27.2 MinGW build to work with Qt #1101

My suspicion is the toolchain for GCC 9.2.0.

I don't have any comment

[2020-02-16 07:32] gaaned92 commented on #1102
Thanks for answer.
- the dll of 0.27.2 shipped with MINW64 seems broken
- as I wrote i my first post, 0.27.2 builds ok and the dll links and works ok with ART
- I tried to build 0.27-maintenance ( to benefit from last updates in decoding)  and it fails.

So I think there was some commit between 0.27.2 and 0.27-maintenance that broke the build process

[2020-02-16 10:16] clanmills commented on #1102
I built a fresh clone of 0.27-maintenance with GCC 7.3.0 today.  I'm more suspicious of GCC 9.2.0.

Yesterday, a user reported successfully linking the 0.27.2 MinGW build with Qt, so there can't be much wrong.  However, it was built with GCC 7.3.0 and it's possible that it cannot link with applications built with GCC 9.2.0

Can you try using GCC 7.3.0?

[2020-02-16 14:56] gaaned92 commented on #1102
Ah! something broke in my msys2 installation after downgrading. Don't know if it is linked!

[2020-02-17 14:40] gaaned92 commented on #1102
Downgrading GCC breaks Cmake. So not very possible.

It doesn't seem a Windows problem but a exiv2 problem as some commits from 2.7.2 to 2.7- maintenance hinder the possibility to build with MSYS2/MINGW64/GCC9.2.  Or perhaps it is a MINGW64 problem. I don't see what Windows system have to do with that.

[2020-02-18 12:15] clanmills commented on #1102
It built OK for me with CMake 3.10.2 and GCC 7.3.0.

The 0.27-maintenance branch is for development and doesn't promise to build every platform for every commit.

The matrix of branches/releases/tools is infinite.  No release (such as 0.27.2 or even 0.27) can promise to build with every future tool-set.

[2020-02-19 09:58] gaaned92 commented on #1102
- 0.27.2 builds with gcc 9.2

- The offending commit is 1fa5839c8ed. after that commit the branch cannot be built with 9.2.

It built OK for me with CMake 3.10.2 and GCC 7.3.0.
So all is good!

[2020-02-19 13:05] clanmills commented on #1102
Thanks @gaaned92.  I'm very pleased to hear that this is fixed.  I'm going to reopen this and ask @piponazo (who is Team Exiv2's CMake/Maestro) to comment on this.

[2020-02-21 15:28] novomesk commented on #1066
I have a question for exiv2 developers:
Would you allow another library as dependency to support this feature?
Or the code must be completely independent, without additional libraries?
If external dependency is possible, then read-only support should be trivial. After calling avifDecoderParse() in libavif, size and metadata are available already (pixel data were not decompressed yet).

[2020-02-22 07:45] D4N commented on #1066
I have no objections to additional dependencies, provided that they are sane to build, relatively stable and don't drag us into a licensing nightmare like HEIF does.

No, we have already some dependencies for reading well known formats.

Sounds good. So how is the licensing & patent situation around AVIF?

[2020-02-22 08:39] cryptomilk commented on #1066
AVIF is a royalty-free codec. The patents are free to use. I've added libavif to openSUSE and currently working to get it into [Fedora](https://bugzilla.redhat.com/show_bug.cgi?id=1803524).

[2020-02-23 03:14] boardhead commented on #1066
Note that AVIF is nearly identical to HEIF as far as structure and metadata is concerned.

[2020-02-23 08:45] novomesk commented on #1066
Here is an example how to print EXIF and XMP metadata from .AVIF file using libavif:
[avif_metadata.cpp.txt](https://github.com/Exiv2/exiv2/files/4240698/avif_metadata.cpp.txt)

How to compile:
`g++ avif_metadata.cpp -lavif -lexiv2 -o avif_metadata`

How to use (example):
`./avif_metadata Tomsk_with_thumbnails.avif`

Example of the output:
[code]

Test file(s) download:
https://github.com/AOMediaC

[2020-02-27 05:22] lake-effect commented on #1096
You might have to walk me through what you need exactly, I'm new to photography. I'm following the [documentation for darktable](https://www.darktable.org/2015/02/on-lens-detection-and-correction/) that brought me here:

Would a JPEG help, as mentioned there?

[2020-02-27 13:20] boardhead commented on #1096
I don't think there is anything to be done here.  The lens identification generally applies only to removable lenses.

[2020-02-27 18:01] lake-effect commented on #1096
I'm a little bit lost. It may be a prime lens but the workflow for dealing with lens distortion is just as relevant even if it's the same lens with every shot, no? I see nothing in [CONTRIBUTING](https://github.com/Exiv2/exiv2/blob/06ce5efa28ee3e523be8dce1c57bd6a07244dac9/CONTRIBUTING.md#4-contributing-lens-data) that specifically excludes non-removable lenses.

Attached are a couple images with t

[2020-02-27 18:04] boardhead commented on #1096
Perhaps I'm missing the point.  For cameras with fixed lenses, doesn't the camera model name give you everything you need to know in order to determine which lens was used?

[2020-03-02 22:40] lake-effect commented on #1096
I think we're locating the confusion 😄  My understanding was that Exiv2 was the library in which lens correction/geometry information was also stored, such that apps like darktable could use that in their functioning. Is that sort of thing on darktable's side of the fence?

[2020-03-03 09:37] clanmills commented on #1096
@lake-effect The headline statement on https://exiv2.org is:

_Exiv2 is a Cross-platform C++ library and a command line utility to manage image metadata. It provides fast and easy read and write access to the Exif, IPTC and XMP metadata and the ICC Profile embedded within digital images in various formats. Exiv2 is available as free software and is used in many projects including KDE and Gnome Des

[2020-03-03 13:33] clanmills commented on #1046
I don't see any issue with this.  Exiv2 does read/write this tag correctly.
[code]

I often geotag images with a GPX file and the code in samples/geotag.cpp which writes GPSProcessingMethod tag as 18 undefined bytes.  It's not written in Ascii because it's a binary string with nul bytes.  I wrote it that way in 2008 because I discovered this in test files on the internet.  My Nikon5300 has a GPS a

[2020-03-03 19:29] lake-effect commented on #1096
That covers it for me. Thanks!

[2020-03-03 19:29] #1096 closed

[2020-03-16 13:27] nicofooo commented on #1046
Thanks for your answer.
My understanding: the field is well encoded as "Undefined" type (your link to EXIF spec page 52). The problem is that exiv2 does not decode its value. In my example, I expect that exiv2 gives me "GPS" instead of "65 83 67 73 73 0 0 0 71 80 83 0 0 0" (like exiftool).

[code]
Note: FYI, this field is used to mention how GPS data are determined. Main values: "GPS" means automa

[2020-03-16 13:38] boardhead commented on #1046
I don't know what Exiv2 is doing, but GPSProcessingMethod and GPSAreaInformation are both encoded in the same way as EXIF UserComment.  How does Exiv2 handle decoding of UserComment?

[2020-03-16 14:36] clanmills commented on #1046
Thank you both for coming back to me about this.

@nicofooo Exiv2 is reporting the data that is in the file.  The value of Exif.GPSInfo.GPSProcessingMethod is not the string "GPS".  It is the undefined bytes which could be represented by the string "ASCII\0\0\0GPS\0\0\0".  However, your observation is valid.  Exiv2 can provide "translated" values which are a "human readable" interpretation of the

[2020-03-16 15:06] boardhead commented on #1046
Looking at the Exiv2 code, UserComment has a translation filter called "print0x9286".  This same filter should be used for GPSProcessingMethod and GPSAreaInformation.

[2020-03-16 20:29] clanmills commented on #1046
Good Shot, @boardhead Near Miss.  That didn't fix it and I think it has to do with the code in `print0x9286()` which detects the comment encoding.   So, I've tweaked it to respect `ASCII\0\0\0' and that fixes it.  Here's the result:
[code]
Here's the patch:
[code]

Another solution is study the code in `dynamic_cast<const CommentValue*>(&value);` and that result in a more elegant solution _**and**

[2020-03-17 09:46] clanmills commented on #1046
I have reopened the issue as an enhancement and changed the title of this issue to:
_**Add "translated" support (-pt) for GPSProcessingMethod and GPSAreaInformation**_

[2020-03-17 11:51] boardhead commented on #1046
Hi Robin,
So are telling me that Exiv2 hasn't been decoding EXIF UserComment properly?  According to the specification, this and the two GPS tags mentioned should all be encoded the same way.  The leading 8 bytes of the value should be either "ASCII\0\0\0", "JIS\0\0\0\0\0", "UNICODE\0" or "\0\0\0\0\0\0\0\0" (although some software writes spaces instead of nulls, so you should allow for this too),

[2020-03-17 13:08] clanmills commented on #1046
I don't know anything about UserComment.  I don't recall it ever being discussed and that's why I said yesterday _"I don't believe there's anything special about the tag UserComment."_.  The comments in src/tags_int.cpp say something similar (yet different) from what you've just told me.  I'm not disputing your definition as I'd never heard of this until yesterday!  Here' s the comment in src/tags

[2020-03-17 13:14] clanmills commented on #1046
There's a long discussion concerning UserComment here:
https://dev.exiv2.org/issues/662

So, there's work to be done.  I will undertake the work once the GitHub/PR/Merge/constipation is fixed.

[2020-03-17 13:39] boardhead commented on #1046
Hi Robin,

Hmmm.  You're right.  The specification for the GPS tags states "The first byte indicates the character code used (Table 9, Table 10)".  However, this is an error in the specification: The codes in table 9 are eight bytes long.  It should read "The first 8 bytes...".  I have many samples from various sources and they all encode it this way (although some set the format type incorrectly

[2020-03-17 14:32] clanmills commented on #1046
Well you know how it is, Phil.  I rely on users to bring my attention to bugs and nobody has discussed UserComment for more than 10 years.  I'll have to investigate both the C++ code and the test code.

When I retired from the project (in October 2019), there was a lot of Team Discussion about how to move the project forward without me.  Sadly the rapid flow of discussion is now a trickle and I wo

[2020-03-20 11:05] clanmills commented on #1046
I've looked at the test suite.  Thanks to Dan, the tests for 662 are in the `tests/bugfixes/redmine/test_issue_662.py`.  For sure there is code to deal with Ascii and Unicode and it appears to be working correctly:
[code]

This is good news and answer's Phil's comment: _I am surprised this problem hasn't come up more often since then._  The puzzle is why is `print0x9286()` ineffective when filteri

[2020-03-20 13:10] clanmills commented on #1046
The plot thickens.  There is an artificial typeId in Exiv2 for comment.
[code]
There is code in the TiffVisitor `toTypeId()` in `src/tiffcomposit.cpp` to convert `undefined` into `comment`.
[code]
I'm uneasy about this.  It's an ingenious way to handle this, however it doesn't scale as we have to modify the code to respect GPSProcessingMethod (and other tags which require this).  On the other hand

[2020-03-20 13:39] boardhead commented on #1046
Did you forget to add this line?:

`+        || (tag == 0x001c && group == gpsId  && ti == undefined)`

[2020-03-20 14:22] clanmills commented on #1046
Thanks, Phil.  For GPSAreaInformation (0x001c)?  No, it's work in progress and not handled (but not forgotten).  And before finishing, I have to update the test suite as well.

Andreas is a very good engineer.  He has taken care of all the encoding conversions in `class CommentValue`.  The test suite only tests ascii and unicode and that's OK as other character encodings may cause test issues with

[2020-03-20 14:40] boardhead commented on #1046
Yes.

Enjoy your walk.  Rainy here ATM but will do the same when the rain stops.

[2020-03-20 15:34] clanmills commented on #1046
We must retain `comment` because we need that to invoke the code to correctly encode the tag.

The tag definition of `UserComment` uses the `comment` type.  So, there's the elegant solution to avoiding the `if`.  The function `toTypeId()` will search the TagInfo array to see if the default is `comment` and convert on the fly.
[code]
GPSProcessingMethod _(and GPSAreaInformation)_ becomes:
[code]

T

[2020-03-21 15:37] clanmills commented on #1046
Patch.

I can't face the git monster.  Maybe on Monday, I'll create a branch for this and submit a PR.

In debugging this, I was surprised to discover a block on code in the exiv2 application `src/actions.cpp` (not the library) that's specialised for UserComment, I think that should be extended to give similar treatment to GPSProcessingMethod and GPSAreaInformation.  A better fix would be for this

[2020-03-21 19:39] clanmills commented on #1018
Folks:

I'm thinking about working on Exiv2 v0.27.3.  I won't be extending the scope to include C++14 or later.  It will be a maintenance release of the Exiv2 v0.27 family of releases.  It was almost ready in October when I became totally frustrated by having about 10 outstanding PRs which hadn't been approved.  In the last week I've enjoyed working the @boardhead on #1046.

I don't think it's a l

[2020-03-22 05:58] sridharb1 commented on #1018
Thanks Robin.

I am more interested in supporting video as well as new formats like HEIF. I would like support for cameras to track exiftool if possible. Unfortunately, I don't see that happening soon (no real judgment here, just an observation).

If I am able to do something in that area, then I will upload it to my fork of exiv2 (which currently has two small changes dealing with custom XMP tags

[2020-03-22 10:40] clanmills commented on #1056
I updated this issue yesterday.  How odd, my reply as disappeared!

These XP tags expect pairs of Bytes, not an ascii string:
[code]

From the command line:

[code]

[2020-03-22 10:40] #1056 closed

[2020-03-22 20:59] clanmills commented on #1046
Fix in PR: https://github.com/Exiv2/exiv2/pull/1107

[2020-03-23 01:42] diuming opened #1108 "Build as static library issue"
macOS 10.15

I try to build as static library and link to specific static libraries(/opt/libz.a, /opt/libexpat.a, libiconv.a)

Coud I build it with static dependence libraries?

It looks like always link to system libraries(even I set PKG_CONFIG_PATH)
[code]

[2020-03-23 07:27] clanmills commented on #1108
Yes.  It's possible.  I've been having a sabbatical for 6 months and only returned to the project this week-end.  I need to do a brain refresh!

Good news, I develop Exiv2 on MacOS (currently 10.15.3).  I have dependencies such as zlib and expat built from source in `/usr/local/...`  I'll install the static libraries with brew and see how it goes.

What is your cmake command?  My guess is:
[code]

[2020-03-23 07:45] clanmills commented on #1108
Here's what happens when I run brew:
[code]

I think you should keep clear of brew for dependencies.  It's easy to download and build zlib and expat from source.  I've documented where to get the code in README.md.

You can build exiv2 as a dynamic or static library.  I know you can link with either static or dynamic dependencies.  I personally always use dynamic libraries, however I'm confident t

[2020-03-23 08:20] #1108 closed

[2020-03-23 13:01] diuming commented on #1108
@clanmills thanks for Help.

[2020-03-23 13:36] diuming opened #1109 "Question: about alpha channels in TIFF?"
macOS 10.15.3
exiv2-0.27.2

I combine 7 gray(8bit) tiff files into one `source.tiff`(cmyk + 3 alpha channels).
is it possible change `source.tiff`'s 3 alpha channes to spot channels and naming each title.
It looks like `destination.tiff`.
if so, could you give me some advance, hints or examples.
thanks

|source.tiff|using exiv2 library |destination.tiff|
| ------------- |:---:|---|
|cmyk + 3 alpha

[2020-03-23 14:00] diuming commented on #1108
@clanmills  welcome back. ^_^

[2020-03-23 15:03] clanmills commented on #1109
Thanks for saying "welcome back".  Happy to be here.

Exiv2 can't help with this matter as it manipulates metadata and has no code to work with pixels!  Libtiff is a very capable library which comes with a number of utilities.  Perhaps the utility`tiff2rgba` will help you:
[code]

If that's not suitable, here are the other libtiff utilities installed on my machine:
[code]

[2020-03-23 15:23] diuming commented on #1109
@clanmills thanks for replying.

the `source.tiff` is already done.
a1.tiff, a2.tiff and a3.tiff are always appear as alpha channel in photoshop.
so, I want to use `exiv2` to modify xmp metadata become as spot channel and naming title.
it looks like destination.tiff.
is it possible?
thanks

[2020-03-23 15:34] clanmills commented on #1109
I'm not sure I understand this.  Are you asking about something like this:
[code]

[2020-03-23 15:40] diuming commented on #1109
@clanmills , Sorry my english is not very wall.
I mean use `Exiv2` to modify(xmp metadata) `source.tiff`'s 3 alpha channels become 3 spot channels and than save it.

[2020-03-23 15:43] clanmills commented on #1109
Can you attach your tiff, please.  I will investigate.

[2020-03-23 16:19] diuming commented on #1109
@clanmills thanks for helping me.

just modify 3 alpha channel(xmp metadata) to spot color channels.
[source.tiff.zip](https://github.com/Exiv2/exiv2/files/4370572/source.tiff.zip)

[2020-03-23 17:14] clanmills commented on #1109
I think I understand.  This image has 3 color planes which start at 8, 512008, 1024008 bytes into the file.  The length of the channels are 512000, 51200, and 280000 bytes long.

This part of the metadata is part of the image itself.  It can't be changed.  It's like the size of the image (500x326).  It's a physical property of the image and Exiv2 protects that data from change.

[code]

I don't be

[2020-03-23 17:14] #1109 closed

[2020-03-24 00:15] diuming commented on #1109
@clanmills thank you for taking the time to help me.

[2020-03-25 13:02] clanmills commented on #1046
The fix for this is now in branch 0.27-maintenance.

[2020-03-25 13:02] #1046 closed

[2020-03-25 14:17] clanmills commented on #1075
I agree.  This test is difficult to manage.  It was added at Dan's request.  I've removed it from the 0.27-maintenance branch.

[2020-03-25 14:17] #1075 closed

[2020-03-25 14:22] clanmills commented on #1102
No response from Luis (piponazo).  I'm going to close this.

@gaaned92 I'm working on Exiv2 v0.27.3  The schedule is to have a release candidate in early June and GM at the end of June.

[2020-03-25 20:05] nicofooo commented on #1046
Dear Robin,
thank you for your interest in fixing this problem ;-)
I have tested your patch: it works as expected !
Best regards

[2020-03-25 20:37] clanmills commented on #1046
Let's also thank @boardhead who provided very valuable input.

I'm working on Exiv2 v0.27.3 which will include this fix.  I'm aiming for a release candidate in early June and GM at the end of June 2020.  This is a maintenance release of Exiv2 v0.27.  The current version is v0.27.2 which was released on 2019-07-29.

[2020-03-26 16:43] clanmills commented on #1018
_**Only applies to branch 0.27-maintenance and Exiv2 v0.27.3**_
**Progress:**
I've made good progress.  The build server is working and passing branch 0.27-maintenance on all platforms.  I've modified GitHub settings for branch 0.27-maintenance to no longer require code review.  I want to see the CI pass every build before merging, however the CI often fails good builds for reasons of its own inve

[2020-03-26 17:21] boardhead commented on #1018
Bravo!

[2020-03-27 03:11] eszlari commented on #1
Have you reconsidered this?

It would be nice, if you could add the official tarballs to Github's release page: https://github.com/Exiv2/exiv2/releases

This would make the URL to the current release permanent (the URL seems to change with new releases) and also provide a safe mirror.

[2020-03-27 05:56] piponazo commented on #1018
@clanmills I'm very happy to see you back! Of course, I'll support you the best I can with code reviews when you need it. Feel free to add my to your PRs as reviewers, so I get notifications about them.

[2020-03-27 06:06] piponazo commented on #1
Hi @eszlari . We are already using the Github releases feature, e.g. Here you would find the latest stable release:

https://github.com/Exiv2/exiv2/releases/tag/v0.27.2

what are you missing exactly ?

[2020-03-27 06:35] sridharb1 commented on #1018
Thanks for the update, Robin. Hope it all goes well.

Sent from Yahoo Mail for iPhone

On Friday, March 27, 2020, 11:27, Luis Díaz Más <notifications@github.com> wrote:

@clanmills I'm very happy to see you back! Of course, I'll support you the best I can with code reviews when you need it. Feel free to add my to your PRs as reviewers, so I get notifications about them.

—
You are receiving this b

[2020-03-27 09:08] clanmills commented on #1018
@piponazo I'll be delighted to receive your reviews.  Thanks.  And I see you've "powered up" on several issues this morning.  I also see that Andreas (Schneider) has been busy also on libssh.  This "lock-down/work-at-home" could be good for open-source.

[2020-03-27 09:53] clanmills commented on #1066
I'll take ownership of this for Exiv2 v0.27.3

@D4N has expressed concern about patent infringement if we use a library to read heif files.  We can totally avoid patent infringement by writing our own code to read/write the metadata.  This has be done for many file formats typically requires about 500 lines of code.

For Exiv2 v0.28 and later, the team may prefer to use a library.

[2020-03-27 10:48] cryptomilk commented on #1066
I think it is a good idea to not require a library for that!

[2020-03-27 14:22] clanmills commented on #1099
I'm going to reopen this for Exiv2 0.27.3 on branch 0.27-maintenance.

[2020-03-27 14:23] clanmills commented on #1097
I'm going to reopen this for Exiv2 0.27.3 on branch 0.27-maintenance.

[2020-03-27 16:32] clanmills commented on #1097
Closed on Exiv2 v0.27.3 via #1115

[2020-03-27 16:32] #1097 closed

[2020-03-27 17:09] eszlari commented on #1
Add the official tarball (https://www.exiv2.org/builds/exiv2-0.27.2-Source.tar.gz) to the release. Now there are only the Github auto-generated tarball provided (obviously with a different checksum).

[2020-03-27 19:27] clanmills commented on #1
@eszlari Would you like to volunteer to be the Exiv2 release engineer?

[2020-03-28 10:45] D4N commented on #1066
That's unfortunately not how patents work.

[2020-03-28 12:47] #1099 closed

[2020-03-28 14:29] clanmills commented on #1066
You cannot have a patent on an ISO standard.  We are reading an ISO standard file.  When I have the code ready, I will get legal advice from the person who advised us about the commercial license.

[2020-03-28 15:19] clanmills commented on #1001
This has been dealt with and is already in the 0.27-maintenace branch.  No further action necessary.

[2020-03-28 15:19] #1001 closed

[2020-03-28 15:24] clanmills commented on #1081
I've pushed this to Exiv2 v0.27.4 scheduled for June 2021.  I'm not sure this can be fixed.  My priority at present is Exiv2 v0.27.3 scheduled for June 2020.

[2020-03-28 15:41] clanmills commented on #1076
@fabeng07 I have submitted a PR #1119  Please provide test files and I will update the test suite.

[2020-03-29 07:36] vcunat commented on #1011
For reference, the issue has been assigned name [CVE-2019-20421](https://nvd.nist.gov/vuln/detail/CVE-2019-20421).

[2020-03-29 10:21] clanmills opened #1121 "Add CODEOWNERS (0.27->master)"
Please consider adding Sridhar's github handle as the codeowner for contrib/msvc into a CODEOWNERS file (see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners).

[2020-03-29 11:51] clanmills opened #1122 "Define the Security Process for Exiv2 v027-maintenance"
@cryptomilk has given every encouragement for us to take ownership of our process to handle CVE/security matters.  Here's the process for libssh:

https://www.libssh.org/development/security-process/

Here is an email about this from @cryptomilk:

[code]

[2020-03-29 15:14] clanmills commented on #984
Fixed in 'master' with #1093 Fixed in '0.27-maintenance' with #1125

[2020-03-29 15:14] #984 closed

[2020-03-29 16:20] clanmills commented on #1008
In PR #1126

[2020-03-29 16:20] #1008 closed

[2020-03-29 18:21] clanmills commented on #902
@yvoinov submitted a PR #983 and @D4N supplied very astute observations.  I'm not going to include that in v0.27.3.  However, I'm going to work on the test suite and update README.md for Unix (Solaris, NetBSD and FreeBSD) which I will build with VMs on the Mac Mini.

[2020-03-30 11:24] clanmills commented on #1064
@PavelLinux Are we done with this and #1069 ?

Lens recognition is very troublesome because the same LensID is frequently used by several lenses.  So, the `~/.exiv2` file was added in Exiv2 v0.26 to enable the user to overwrite the built-in lens names.

[2020-03-30 11:37] clanmills commented on #1029
@piponazo I'll deal with this for v0.27.3  I've got code checked into team/book that deals with this.  I'll do a brain refresh and add a unit test.

[2020-03-30 14:29] clanmills commented on #1004
@sridharb1 Can you submit a PR for this change?  I will help you with the git monster.

I've dealt with every known issue for Exiv2 v0.27.3.  I thought it would take weeks, but I'm almost at RC1 after one week.  My original idea was to publish RC1 without ISOBMFF support on April 30.  I've made such good progress, I will be able to include ISOBMFF support in RC1.  It's better to be feature complet

[2020-03-30 15:03] sridharb1 commented on #1004
Great progress Robin. Let me see how I can help in this regard.

[2020-03-30 15:29] clanmills commented on #1083
When doing some general maintenance of README.md in preparation for Exiv2 v0.27.3, I modified the document to say:
[code]

Exiv2 v0.27.3 is scheduled for release on 2020-06-30.  https://github.com/Exiv2/exiv2/issues/1018#issuecomment-604539346

[2020-03-31 10:49] clanmills opened #1132 "share/locale directory missing in build bundles"
These are documented in `releasenotes/platform/ReadMe.txt` as follows:
[code]
They are missing in the Exiv2 0.27.2 release bundles.

They are **correctly** not mentioned for platform `msvc` on which localization is not supported.

[2020-03-31 11:13] clanmills commented on #1132
This has been caused by not setting the `--nls` in the buildserver's build.sh script.  I've set --nls to be a default and added option --nonls to disable.

[2020-03-31 13:49] clanmills commented on #1132
Not finished on this.  Localisation is working on MinGW, Linux and Cygwin.  It's not working on macOS.  How strange!  It must have been working when I documented this in README.md in 2018.  However, it's not working on both the macmini and laptop.  I have a Yosemite VM, I'll test it there.

[2020-03-31 14:18] #1132 closed

[2020-04-06 07:13] clanmills commented on #1082
This issue is not present in the 0.27-maintenance branch (macOS/Clang11.0.3 and linux/GCC7.5)
[code]

[2020-04-06 15:53] phako commented on #1066
I think ISO/IEC 13818 (MPEG-2) and ISO/IEC 14496-10 (H.264/MPEG4-10) tell a different story.

[2020-04-06 15:58] clanmills commented on #1066
Is it impossible to support HEIF?  Everybody is being so negative.  Is there a solution, or should I give up?

[2020-04-06 16:40] novomesk commented on #1066
I believe you can parse the ISOBMFF container and find location of the metadata but you should not decompress the h265-hevc data.
If someone is super scared of renamed QuickTime's container from 2001, it is known fact that Apple joined Alliance of Open Media, and the AOM members granted usage of their patents (in AOM related software).
Many people are able to find metadata using sequential search

[2020-04-06 17:56] clanmills commented on #922
I've had another visit to this topic and installed Fedora 31.1.9 on a _fresh_ VM.

Dan's instructions here are correct:https://github.com/Exiv2/exiv2/issues/922#issuecomment-508567229

I had some work to perform to install zlib1-devel and expat-devel on x86_64 to build native, however it built smoothly and passed the test framework.  Then I used Dan's instructions to cross-compile, and indeed `bin

[2020-04-06 19:31] clanmills commented on #1066
Thank You @novomesk.  You are confirming my assertion.  It is legal to parse an ISOBMFF container which is a linked list of self contained **boxes**.

The **boxes** which contain metadata are written in their native format.  XMP is written in XML, Exif in Tiff, IPTC and ICC are binary blocks.

Exiv2 has no code to deal with pixels.  Preview images in metadata are normally stored as embedded JPEGs

[2020-04-07 05:40] phako commented on #1066
I'm not saying to not support it. I'm saying make it completely disablable so that those who care about not stepping into mucky waters or care about not supporting any non-free formats can safely remove the support.

[2020-04-07 07:06] clanmills commented on #1066
This project is cancelled.

[2020-04-07 07:06] #1066 closed

[2020-04-07 07:28] clanmills commented on #318
The proposal #1066 to implement this was met with overwhelming opposition from the community.  Until the legal challenges are resolved, we will not get involved with HEIF.

[2020-04-07 07:28] #318 closed

[2020-04-07 07:35] clanmills commented on #1066
This project is cancelled until somebody sorts out the legal challenges.  I have expressed my point of view about this and been met with hostility.  This hostility has not been backed by evidence or reasoned argument.  I have offered to get professional advice before publishing.  Exiv2 v0.27.3 is on track for RC1 and will not have support for ISOBMFF.

[2020-04-07 07:45] clanmills commented on #1064
No reply from @PavelLinux

A work around has been provided.

[2020-04-07 07:45] #1064 closed

[2020-04-07 07:46] clanmills commented on #1072
No reply from @PavelLinux

A work around has been provided.

[2020-04-07 07:46] #1072 closed

[2020-04-07 07:48] clanmills commented on #1076
Without test images, this fix will not be submitted to the code base.

[2020-04-07 07:48] #1076 closed

[2020-04-07 07:50] clanmills commented on #1069
Without test images, this fix will not be submitted to the code base.  A work around has been provided.

[2020-04-07 07:50] #1069 closed

[2020-04-07 07:58] clanmills commented on #1004
@sridharb1 Exiv2 v0.27.3 is fast approaching RC1.  It's now 88% complete.  If you wish to these Canon changes included, we should cooperate on this in the next week.

My proposals about ISOBMFF have been met with hostility and I will do no further work on ISOBMFF.  https://github.com/Exiv2/exiv2/issues/1066#issuecomment-610227240

My other tasks for Exiv2 v0.27.3 are quite small and I hope to reac

[2020-04-07 09:18] clanmills commented on #922
You need to copy the DLLs from Fedora as follows:
[code]
The bash tests execute correctly, with the exception of a time issue in conversions.sh which I will not investigate.
[code]

The new tests `$ make newtests` almost all fail.  I will investigate and update this issue report.

[2020-04-07 09:31] AurelC2G commented on #1066
I'm really confused by this: HEIF itself is just a container, you are fine to read the ISOBMFF boxes (such as the ones containing exif metadata) as long as you don't decode the encoded image bytes.

AVIF is just a HEIF file containing images encoded using the AV1 codec (as opposed to HEIC, which are HEIF files containing images encoded with HEVC). Decoding metadata from either would be fine, the p

[2020-04-07 09:34] 1div0 commented on #1066
Depeche Mode: Wrong!

[2020-04-07 09:46] cryptomilk commented on #1066
Please stop spreading FUD!

[2020-04-07 09:50] D4N commented on #922
Robin Mills <notifications@github.com> writes:

Looks like a timezone issue to me.

[2020-04-07 09:51] clanmills opened #1146 "Forgive line-ending mismatches in the python test suite."
The new python test suite is failing on MSYS2 when cross compiled on Fedora and running on Windows.  This is caused by line-ending mismatches.

This is discussed here: https://github.com/Exiv2/exiv2/issues/922#issuecomment-610275806

I believe it's possible to modify the sample programs to output LF by calling `setmode()` and putting stdout into binary mode.  https://stackoverflow.com/questions/58

[2020-04-07 10:33] clanmills commented on #922
@D4N It is a time-zone issue and I've see the before.  The test is set up for KL, Malaysia which is GMT+8 and I'm running it in BST (GMT+1).  And the difference in output is 7 hours.  I'm not going to bother investigating this further.

The task here is to document cross compiling and I have sufficient information to update README.md which will reference this discussion.

If you feel it's importan

[2020-04-07 10:48] clanmills commented on #922
This has been investigated and resolved with a "tweak" in the test-harness.  #485

The "tweak" can be extended to support `mingw64`:
[code]

[2020-04-07 14:35] clanmills commented on #922
I've investigated @D4N 's caveat about cross building shared libraries.  I'm pleased to say that it does successfully build, with the same restriction as the static libraries, which are:
1) You have to copy the 4 "system" dlls in ming_build_shared/bin
2) The suite passes and exhibits the same behaviour concern TZ and the new python tests.

[2020-04-07 15:35] clanmills commented on #922
I've investigated using wine to run exiv2 from Fedora and it works!  Both build_mingw and build_mingw_shared are working.  As before you have to copy the 5 "system" DLLs into the bin.

Running the test harness is challenging because we don't have make and bash in the wine environment.  I can think of two ways to get the test suite to run:

_**Either:**_
Install MSYS2 into Wine

_**Or:**_
Mount the

[2020-04-07 16:21] sridharb1 commented on #1004
I have caught up to the latest released exiftool, v11.93 with these updates.

Specific changes from last time:

1. I have not blindly made the lens name same as that in exiftool. For e.g., if a lens is called "Canon EF 28mm f/2.8 or Sigma Lens" in exiftool and there is a distinguishing lens with the same id (in this case, "Sigma 24mm f/2.8 Super Wide II"), I remove the "or Sigma lens" from the nam

[2020-04-07 16:55] clanmills commented on #1004
Thanks for this.  Your patch is good and (almost) runs passes the test suite.  I'll fix the tests and put your change into sridharb1_contrib_msvc4_0.27 this evening.

I work on the Mac.  I can install Apple's Numbers.app which I believe will open the spreadsheet.  If not, I think I've got a copy of Excel somewhere.

[2020-04-07 19:59] eszlari commented on #1
I don't know if this is meant to be sarcastic or not, but what is so hard about adding that single file?

[2020-04-07 20:06] clanmills commented on #1
I haven't understood your request.  I believe the stuff on https://github.com/Exiv2/exiv2/releases/tag/v0.27.2 is created automatically by GitHub.

The builds on exiv2.org are created by a script on our build server (a mac mini).

With every release of Exiv2 since we moved to GitHub, somebody has emailed about the GitHub release to ask for something to be changed.  So, you're wanting something cha

[2020-04-07 20:20] eszlari commented on #1
You can upload files by clicking the `Edit` button:
![x](https://user-images.githubusercontent.com/15569934/78715411-ad7ec400-791d-11ea-82a7-aed837fe1313.png)

[2020-04-07 20:41] clanmills commented on #1004
I'll pushed your code change into branch `sridharb1_contrib_msvc4_0.27`.  You can sync with it:
[code]
I've updated test/data/exiv2-test.out, which correctly detect this change:
[code]

I'd like to ask which lens 173 is no longer identified.  It used to be `Sigma 150-500mm f/5-6.3 APO DG OS`.  Similarily 143 was `Sigma 24-105mm F4 DG OS HSM [Art 013]` and 254 was `Tamron SP 90mm f/2.8 Di VC USD Ma

[2020-04-07 21:10] clanmills commented on #1
So what files do you want there?  Only the source bundle from the build server, or the binary builds or what?

I'm not fed up with you.  However, I'm fed up with the email that arrives from somebody the day after the release asking for something to tagged, or changed, or something'ed.  It's damn hard work getting the release out the door.  And the first email to arrive is a complaint about somethi

[2020-04-07 21:15] eszlari commented on #1
https://www.exiv2.org/builds/exiv2-0.27.2-Source.tar.gz
SHA256: 2652f56b912711327baff6dc0c90960818211cf7ab79bb5e1eb59320b78d153f

[2020-04-07 21:47] clanmills commented on #1
OK.  I'll do that in future.  I'm working on Exiv2 v0.27.3 at the moment.  RC1 is on track to ship as scheduled on 2020-04-30.

Thank You for your suggestion.  And thank you for using Exiv2.

[2020-04-08 03:55] sridharb1 commented on #1004
Sigma 150-500mm f/5-6.3 APO DG OS is now in 174. Sigma 24-105mm F4 DG OS HSM is in 255 and
Tamron SP 90mm f/2.8 Di VC USD Macro 1:1 is in 26.2. May not be the exact same name, but most likely the "correct" name.

Maybe exiftool changed the codes for some reason.

[2020-04-08 06:46] diuming opened #1147 "Question: is it possible to read, modify, add "TIFFTAG_PHOTOSHOP" "8BIM" in TIFF file?"
macOS 1015.4
exiv2 0.27.2

As title. if so,  could you give me some advice or hints?
thanks

[2020-04-08 07:39] clanmills commented on #1147
Thanks for reporting this.  Can you provide a test file please and I will investigate.

[2020-04-08 08:10] diuming commented on #1147
@clanmills thanks for quick reply. ^_^
please refer to attached tiff file.

[gray-layers.tiff.zip](https://github.com/Exiv2/exiv2/files/4449107/gray-layers.tiff.zip)

[2020-04-08 08:13] clanmills commented on #1004
@sridharb1 Good News: I've installed Numbers.app and it opens your spreadsheet.  Boy, that regex looks the business!

We have to reconcile this.  We have three tests which are broken by your changes.

| Issue | Test images | Bug Report |
|-- |-- |-- |
| g20 |         exiv2-g20.exv<br>CanonEF100mmF2.8LMacroISUSM.exv<br>TamronSP15-30mmF2.8DiVCUSDA012.exv<br>TamronSP90mmF2.8DiVCUSDMacroF004.exv<br>Ta

[2020-04-08 08:39] sridharb1 commented on #1004
I will look into it. It looks like #1122 is a special case which would necessitate the reinsertion of the old line dealing with Sigma.

We may have some issue with the Lens Type line vs Lens Model vs Lens ID. Let me investigate further.

[2020-04-08 08:41] clanmills commented on #1147
Thanks for the test image.  I don't think the 8BIM tag is in your file!  I've forgotten what 8BIM is, IPTC maybe?.

Here's what I see (with exiv2 -pa)
[code]
And with exiv2 -pR (recursive dump):
[code]
With tiffinfo (libtiff library sample app):
[code]
With tiff dump (also from libtiff)
[code]
And with exiftool:
[code]

[2020-04-08 08:52] diuming commented on #1147
@clanmills thanks.
Can I add one `TIFFTAG_PHOTOSHOP` `8BIM` and then config extra layers as sport color and give titles?

[2020-04-08 10:03] clanmills commented on #1147
I think 8BIM is the IPTC data block.  There is one in our test file test/data/Reagan.jpg:
[code]
I've converted that to tiff (with Preview.app) on the Mac.  And it has been strored as the tag Exif.Image.IPTCNAA as follows:
[code]
So it's an array of 233 LONGs.

Exiv2 can decode that block.
[code]
So, the answer to your question is "Yes, you can insert and edit an 8BIM in a tiff file".

Now, to ans

[2020-04-08 10:03] #1147 closed

[2020-04-08 10:49] clanmills commented on #1
I've updated our release Checklist:
svn://dev.exiv2.org/svn/team/website/Checklist.txt

[2020-04-08 11:14] clanmills commented on #1004
@sridharb1 Lens identification is a mess.  I wish Andreas had never got into this.  It's the source of about 50% of issues.    Here's the raw data in 1122:
[code]
And when it's interpreted (`-pt, or -pa`):
[code]
**Exif.Canon.LensModel, Exif.Photo.LensModel and Exif.Photo.LensSerialNumber** are `Ascii`.  _**That's good!  Canon wrote that ascii data.  Don't touch it**_

**Exif.Photos.LensSpecificat

[2020-04-08 14:45] sridharb1 commented on #1004
Ok, I have made some small changes. Now, all testcases pass. Here's the patch that I had to do get the test scripts to work and some datafile modifications. The exiv2-test.out changes, I believe, you have already done.

Instead of the hardcoded .exe that I added to functions.source, you can use the variable $EXIV2_EXT that you suggest for the python tests.

Running the python tests from cygwin (as

[2020-04-08 15:54] clanmills commented on #1004
You're a clever guy to figure out how to run the test stuff on your own.  It is documented in README.md.  Good idea to use EXIV2_EXT - Dan added that for the python tests.  It's never been in functions.source.  Another part of Exiv2 v0.28 was to use CTest to make our testing platform independent.  It's currently a jumble of stuff going back over 15 years.  However, it's stable and works.

Your pat

[2020-04-08 16:05] clanmills commented on #1004
You can safely ignore the output in tests.err.txt on #987

That test has been removed from the test suite.  It's purpose is to see if the output of samples/tagname has changed.  And of course it has for your situation as you have modified the tag tables in tags_int.cpp.  Ignore this.  Remove the file `tests/bugfixes/github/test_issue_987.py` and it won't get run.

[2020-04-08 16:11] sridharb1 commented on #1004
Don't use git to patch if you can. The problem is that the diff for canonmn_int.cpp is against the original and thus, the huge number of changes (174), whereas I pasted only the real differences from the file that I had sent yesterday. I would patch each of these by hand. Or at the very least, remove the canonmn part from the patch, patch that by hand and patch the remainder by git.

[2020-04-08 16:20] clanmills commented on #1004
OK.  Sounds like pain - however it won't kill me.  While I fix canonmn_int.cpp by hand can you send a patch for the other files.  I think you can get that with:

[code]
We'll be done in 10 minutes.

[2020-04-08 16:40] sridharb1 commented on #1004
Try this with git. Should patch all files.
[canonmn_int.cpp.4.patch.txt](https://github.com/Exiv2/exiv2/files/4451687/canonmn_int.cpp.4.patch.txt)

[2020-04-08 16:47] clanmills commented on #1004
I think I've almost got it done with the earlier stuff.  It's getting late for you.  We'll talk tomorrow.

[2020-04-08 17:52] clanmills commented on #1004
Right.  I've got that committed.  I made some little changes: 1496880

I'd like you to use git.  I know there's learning involved, however I'll help.  I'd prefer to give you help with git that be manually patching files.  You might even like it.  And it's a chance for to test my git knowledge to somebody else.   Kind of proof that I understand git.

Comments.

1) I see you changed $exe to .exe in

[2020-04-08 18:00] sridharb1 commented on #1004
The exiv2_ext changes are good.

The canonmn_int.cpp changes seem fine.

At least for me, I need the unix2dos in xmpparser.sh. Otherwise, I get spurious output when really only trivial stuff has changed.

path-test, the project is called pathtest now and its output, by default, is pathtest.exe. If it should have been path-test.exe, it would be nice for the project to be path-test.vcxproj. Don't kn

[2020-04-08 20:09] clanmills commented on #1004
@sridharb1 I know what to do about xmpparser-test.sh/unix2dos.   It's calling `diff` directly without using `----strip-trailing-cr`.  The utility `diff` should be called as `diff $diffargs` in the test suite.

A bit of history.  Those bash scripts were all totally different and written by different people.  About 2012, I invented `functions.source` to provide a bash library which are read by `sour

[2020-04-09 02:33] diuming commented on #1147
@clanmills thanks for helping me!
i will try to solve the problems.

[2020-04-09 06:50] clanmills commented on #1146
I think the fix is:
[code]

I think that will even cover **wine**!

[2020-04-09 08:33] diuming commented on #1147
@clanmills
Could you give me some example to read "TIFFTAG_PHOTOSHOP" "8BIM" in a TIFF File.
thanks

[2020-04-09 08:53] diuming commented on #1147
@clanmills
Is it possible to read a specific tag using exiv2 tool
thanks
ex:
0x8649 Image        ImageResources              Byte      4462  (Binary value suppressed)

[2020-04-09 09:11] clanmills commented on #1147
[code]

Have you investigated PhotoShop (or Gimp, or Pixelmator)?

I hope you will not consume a lot of my time when I am focused on Exiv2 v0.27.3 RC1.

[2020-04-09 10:09] clanmills commented on #1146
My fix is good and reveals a new issue.  Many tests fail as follows:
[code]
There's a path issue here.  You can run a single test with the following syntax:
[code]

The python test suite is excellent.  Great Job: @D4N  I'll continue to investigate.

[2020-04-09 11:41] diuming commented on #1147
got it!

[2020-04-09 13:51] clanmills commented on #1146
This is **very** subtle.  It's not being caused by the test harness, @D4N 's wonderful test harness is correctly detecting this.

It concerns the code in futils.cpp that handles pathnames.  So on the cross-platform build running on msys2:
[code]
However on the msys2 build, on the same machine:
[code]
This cause the error handler to report on mingw_build_shared:
[code]
And the reference output shou

[2020-04-09 16:52] clanmills opened #1151 "Python test suite has errors on MSYS2 when cross compiled from Fedora"
This is discussed in #1146.
https://github.com/Exiv2/exiv2/issues/1146#issuecomment-611447010

I think it's being caused by incorrect detection of the platform.  On MSYS/native build:
[code]
On the cross platform build:
[code]
When both build for the same `platform`, this issue will probably go away.

[2020-04-09 16:54] clanmills commented on #1146
PR Submitted for line-ending issue.  #1150

[2020-04-09 21:45] #1146 closed

[2020-04-09 22:01] clanmills commented on #1151
Here are the relevant preprocessor predefined symbols for the cross compiler that seems to be relevant:
[code]
For sure no mention of MSYS and the platform is correctly diagnosed as `mingw`

I need to investigate how the pathname is reported in error messages.  Tomorrow is another day.

[2020-04-10 06:05] clanmills commented on #1151
I've been through the builds carefully.  I cannot reproduce the `Window Platform Path` issue in the terminal.

**MSYS Native Build**
[code]

**MINGW Cross Compiled**
[code]

So why is the test harness reporting Windows Absolute Paths?  We don't know yet.

[2020-04-10 08:03] clanmills commented on #485
This matter has surfaced again in Exiv2 v0.27.3 when running the test suite on a cross-platform build. https://github.com/Exiv2/exiv2/issues/922#issuecomment-610310126

I've submitted a fix: #1152

[2020-04-10 08:05] clanmills commented on #922
**EUREKA!**

Mounting the Fedora Directory in Windows works!  I achieved that by getting Fedora to build into a shared drive on the Mac //Mac/Home/gnu/github/exiv2/0.27-maintenance/build_mingw_fedora.  Build in the `cross platform` way using `mingw-cmake`.

Run the test suite in MSYS on Windows on the build:
[code]
There are two issues:
1) The TZ puzzle: #485  I have submitted a fix for this. PR #

[2020-04-10 08:45] clanmills commented on #1151
This has been solved.   The correct way to run the test suite on a cross-platform build is to mount the Fedora build directory on Windows and run the test suite from MSYS.  This is discussed in detail here: https://github.com/Exiv2/exiv2/issues/922#issuecomment-611928232

[2020-04-10 08:45] #1151 closed

[2020-04-10 10:33] clanmills commented on #922
#1153

[2020-04-10 10:33] #922 closed

[2020-04-11 08:41] clanmills opened #1154 "v0.27 Reduce system calls in FileIo::eof()"
See #882

[2020-04-13 19:24] kwazel opened #1155 "Add support for Tamron AF 17-50mm 1:2.8 [IF] A16 LD XR DiII SP for F-Mount"
**Is your feature request related to a problem? Please describe.**
If I use my Tamron 17-50mm on my Nikon D7500, darktable does not recognize this lens but instead displays it as "124"

**Describe the solution you'd like**
Add this lens to database. Use this jpeg as a sample.
![DSC_5864](https://user-images.githubusercontent.com/26428407/79152760-0c848300-7dcd-11ea-951c-8b16def7e7fa.JPG)
Note, I u

[2020-04-13 21:20] clanmills commented on #1155
This isn't a bug.  Your lensID is 124.  Exiv2 will recognise you lens when you put information into the ~/.exiv2.
[code]
Now update ~/.exiv2
[code]
Your lens will be recognised.
[code]

[2020-04-13 21:20] #1155 closed

[2020-04-13 21:23] clanmills commented on #1155
This is discussed in numerous places, including the exiv2 man page.  Here's an article on the Wiki about this:  https://dev.exiv2.org/projects/exiv2/wiki/Lens_Recognition_in_Exiv2_v026_(and_later)

[2020-04-13 22:29] clanmills commented on #1004
PR Submitted #1156.  These changes were incorrectly submitted in PR #1136.  I have reverted out those changes from PR #1136 which should only involve `contrib/vs2019`

[2020-04-13 22:29] #1004 closed

[2020-04-13 23:10] clanmills opened #1158 "The sample program path-test(.exe) is being built as pathtest(.exe)"
There's something wrong in samples/CMakeLists.txt with this.

723 rmills@rmillsmbp:~/gnu/github/exiv2/0.27-maintenance/samples $ grep pathtest CMakeLists.txt
add_executable(          pathtest  path-test.cpp ../src/utils.cpp ../src/getopt.cpp)
list(APPEND APPLICATIONS pathtest)
set_target_properties(   pathtest  PROPERTIES OUTPUT_NAME path-test )
target_include_directories(pathtest PRIVATE ${CMAKE_

[2020-04-14 08:12] clanmills commented on #1158
Fixed #1159

[2020-04-14 08:12] #1158 closed

[2020-04-14 12:57] boardhead commented on #1155
What is the exact Tamron model number for this lens?  (A16 or A16NII perhaps?)

[2020-04-14 18:00] kwazel commented on #1155
A16

[2020-04-14 18:36] clanmills commented on #890
I've run the test suite on Exiv2 v0.27.2 and replaced the dynamic libraries with the 0.27.3.9 versions.

| Platform | 0.27.3 library | 0.27.2 library |  Result |
|:--          |:---      |:--    |:-- |
| macOS | libexiv2.0.27.3.9.dylib | libexiv2.0.27.2.dylib | **Success**  |
| linux    |  |  | _**TBD**_   |
|  Cygwin |  |  |  _**TBD**_  |
| MSYS |  |  | _**TBD**_  |
| msvc |  |  | _**TBD**_  |

*

[2020-04-14 20:01] boardhead commented on #1155
Thanks

[2020-04-14 20:06] clanmills opened #1160 "API Compatibility v0.27.2 vs v0.27.3"
#890 https://github.com/Exiv2/exiv2/issues/890#issuecomment-613611192

[2020-04-14 20:07] #1160 closed

[2020-04-16 12:58] clanmills commented on #902
#1162

[2020-04-16 12:58] #902 closed

[2020-04-17 11:22] StefanBruens opened #1163 "exiv2 0.27.x / C++98 incompatible with current googletest"
Googletest 1.10.0 requires C++11:
[code]

Changing the `CMAKE_CXX_STANDARD` from 98 to 11 allows to also build the test suite.

As far as I can see, this has no effect on the ABI, the only drawback of the change are a lot of auto_ptr deprecation warnings, iff the corresponding warning is enabled.

[2020-04-17 13:23] clanmills commented on #1163
@StefanBruens We use google test 1.8.0 #575

The Exiv2 v0.27 family of releases uses C++98.  The Exiv2 v0.28 product in development uses C++11.  I can't comment on the version of gtest used by v0.28 as I am not involved.

Exiv2 v0.27.3 is 93% complete.  RC1 is on-track to ship as scheduled on 2020-04-30.  I don't intend to change the toolset at this stage of the project.  In fact, I built gtest 1.

[2020-04-17 13:41] StefanBruens commented on #1163
Sorry, but I can not understand this mindset ...

Distributions want to update googletest. Other projects start to depend on googletest 1.10.x, so distributions even *have* to update googletest.

By forcing C++98 (needlessly, ...), you block any googletest updates in the distributions.

I don't say you should *require* C++11 for exiv2 0.27.x, but you should allow it. 0.27.x compiles and works fine

[2020-04-17 14:28] clanmills commented on #1163
@StefanBruens I'm astonished by your words.

What _**exactly**_ do you want changed?  Is it possible to pass this on the `cmake` command.  Something such as:
[code]

[2020-04-17 14:30] clanmills commented on #1163
I've invited @piponazo to join this discussion as he is Team Exiv2's CMake Wizard.

[2020-04-17 15:05] clanmills commented on #1163
I've looked further into this.  A small change in cmake/mainSetup.cmake enables C++11.  Exiv2 builds (with thousands of deprecated warnings, as you mentioned).  It built successfully and passes the test suite on macOS 10.15.4 and Xcode 11.4.1 (most recent versions)

As a team, we decided to "modernise" the code for v0.28 and stick with the C++98 for Exiv2 v0.27 (and the subsequent dot releases).

[2020-04-18 09:04] clanmills opened #1164 "Unit Test Failures for v0.27.3"
| Test | Platforms |
|:---  |:--- |
| strError.returnSuccessAfterClosingFile | FreeBSD<br>NetBSD<br>MinGW<br>CYGWIN<br>SunOS |
| strError.doNotRecognizeUnknownError | FreeBSD<br>NetBSD<br>SunOS |

[code]

[2020-04-18 09:22] clanmills opened #1165 "Unix Test Failures for v0.27.3"
The following tests are not run on Unix builds (NetBSD, SunOS, FreeBSD).  From test/Makefile:
[code]
I'll investigate an make an assessment.

| Test | Comment |
|:-- |:-- |
| exifdata-test.sh     | |
| exiv2-test.sh | |
| imagetest.sh | |
| iotest.sh | |
| iptctest.sh | |
| preview-test.sh | |
| tiff-test.sh | |
| write-test.sh | |
| xmpparser-test.sh | |

[2020-04-20 13:07] #1164 closed

[2020-04-20 15:27] clanmills commented on #1163
I've taken a look at this on macOS and ubuntu 18.04.  When I build/install googletest 1.10, I'm unable to compile the Exiv2 unit_tests for the reason stated by @StefanBruens.  The gtest headers require C++11.

I'm unwilling to change the tool-chain for v0.27.3 so close to RC1.  One way to address is to build/install gtest 1.8.0 into /usr/gtest18 then add some directories to the header and library

[2020-04-20 16:33] clanmills commented on #1163
Here's how to do it:
1) Use `-DCMAKE_INSTALL_PREFIX=/usr/gtest18 -DBUILD_SHARED_LIBS=Off` when you build/install gtest 1.8.0
2) Use `-DCMAKE_PREFIX_PATH=/usr/gtest18` when you build exiv2 to use the gtest 1.8 static libraries.

[code]

[2020-04-21 05:40] piponazo commented on #1163
Hi all,

@StefanBruens when you say:

I do not think it is a valid point for asking as to change the current configuration in Exiv2. The dependency on GTest from our side is **optional** and **disabled** by default:

[code]

Any distribution could satisfy the mandatory dependencies on Exiv2 to build only the Exiv2 library and main application. Another story would be to be able to collaborate in th

[2020-04-21 06:48] clanmills commented on #1163
@piponazo What a clever person you are.  Of course, with conan you can specify that you wish to link gtest 1.8.0 static.   Two questions:

1. Can you edit your post to say how to do that?
2. Can we make the default for v0.27.3?

@StefanBruens said:

Sadly, he has not explained what he would really wants.

[2020-04-21 07:34] piponazo commented on #1163
After re-reading the post, I think that I see @StefanBruens 's point about the usage of `CMAKE_CXX_STANDARD`.

What we can do about that is the following:
1. Remove the usage of `CMAKE_CXX_STANDARD` which forces to use C++98 for all the targets in the project (library, applications and unit tests).
2. Use `target_compile_features(exiv2lib PUBLIC cxx_std_98)` for the library so that we clearly indi

[2020-04-23 09:18] gaaned92 commented on #1102
Trying to build on W10 Msys2 the last 0.27-maintenance branch, I get these errors:

[code]

[2020-04-23 09:32] clanmills commented on #1102
Ah yes.  GCC 9.3.0 doesn't build our code.  I'm using GCC 7.4.0 which is provided in: http://repo.msys2.org/distrib/x86_64/msys2-x86_64-20190524.exe

We've also had trouble with GCC 8.2.0 which was thoroughly investigated #421  The user reported a bug to GCC and I've heard nothing about it.  I don't believe it's in the Exiv2 code, so regretfully, I can't do anything else about this.  I recommend y

[2020-04-23 09:38] D4N commented on #1102
This looks like the mingw bug that requires you to link with -lssp if
you are using `FORTIFY_SOURCE=2` (which we are afaik adding).

Could you try to either remove `-DFORTIFY_SOURCE=` from the C/CXXFLAGS
or add -lssp to LDFLAGS?

[2020-04-23 09:45] clanmills commented on #1102
@D4N  Great insight.  The msys2 build sets (from the output of CMake/msys2)
[code]

The code to set this is here:
[code]

@gaaned92 Can you try that, please.  I can disable that in v0.27.3 RC, in much the same way that I've "tweaked" the compiler options for other platforms:
[code]

[2020-04-23 10:19] gaaned92 commented on #1102
@clanmills
Thanks !
I suppressed

Build is ok.

 If you want I test also the other modification, please show me where and how to  `add -lssp to LDFLAGS`.

[2020-04-23 10:56] clanmills commented on #1102
The thanks go to (the brilliant, and pain-in-the-a***) @D4N
[code]
I'll submit that to branch 0.27-maintenance today.

@gaaned92 FYI exiv2 v0.27.3 RC1 is on track for release on 2020-04-30

[2020-04-24 08:15] clanmills commented on #1102
Fix submitted and merged in 0.27-maintenance #1175

[2020-04-24 08:15] #1102 closed

[2020-04-24 09:22] clanmills commented on #1154
@piponazo Has submitted a PR for this.  #1178

[2020-04-24 09:22] #1154 closed

[2020-04-24 09:24] clanmills commented on #1163
No response from @StefanBruens.  I'm going to close this issue.

[2020-04-24 09:24] #1163 closed

[2020-04-24 14:39] dandelionred opened #1180 "Dash as date separator"
First of all, thanks to all the devs for the epic piece of software!

I've got images shot with an old android phone (galaxy gio). Running those through the `-t` option I get `Failed to parse timestamp` error message.

Here is datetime data from a sample file:

[code]

So the problem with failed parser are dashes as date separators. Please, consider allowing dash as date separator in `src/actions.

[2020-04-24 15:57] clanmills commented on #1180
Ah, how interesting.  On my Samsung phone:

[code]

I believe `YYYY-MM-DD` is an ISO standard date format.  I'll check the Exif spec.  I'm almost certain that it specifies `YYYY:MM:DD`.   However forgiving your phone is probably harmless.  Can you attach a sample image please.  If I agree to this change, I'll want to add something to the test harness.

Incidentally, your timing's perfect.  Exiv2 v

[2020-04-24 17:54] dandelionred commented on #1180
I've got 3 more samsung phones (c3011, b350e, j120h) - all of them use colon lol.

Sample image from galaxy gio https://user-images.githubusercontent.com/19490344/80241754-d7015480-866c-11ea-9a45-96804fcfae00.jpg
It is android 2.3.6, stock camera app.

I guess there is no chance it would land into focal-updates anytime?

[2020-04-24 17:57] clanmills commented on #1180
I've checked both the Exif 2.2 and 2.3 specs:

_D. Other Tags_
_DateTime_

_The date and time of image creation. In this standard it is the date and time the file was changed. The format is "YYYY:MM:DD HH:MM:SS" with time shown in 24-hour format, and the date and time separated by one blank character [20.H]. When the date and time are unknown, all the character spaces except colons (":") may be fi

[2020-04-24 18:01] dandelionred commented on #1180
Tbh my point is it doesn't matter what the specs say. We should look into was existing devices produce. So a good function would successfully parse both colons and dashes.

[2020-04-24 18:06] clanmills commented on #1180
Ah, you've sent the test file.
[code]

I'm sure I can accept this change because actions.cpp is part of the exiv2 command-line program, so this change doesn't impact the library.  None-the-less, I'll update the test suite and the man page.

**Question**

I don't understand the question.

BTW.  I think conforming to standards is important.  Very important.  This is a bug in the firmware of your dev

[2020-04-24 18:14] dandelionred commented on #1180
Dw, forget it.

The library should only **produce** conformant stuff. In the meanwile the parser could be more relaxed, it doesn't harm anything.

[2020-04-25 01:00] alvinsight opened #1182 "Is there an opposite of `-t` ?"
Hello, Exiv2 team!
My respect to Robin for coming out of retirement to carry this project forward 👏

I'm curious if there is a way to do the opposite of the `-t` option.
That is, setting the EXIF creation date based on the file creation date.

It's totally OK if not, just checking I didn't miss it.

[2020-04-25 08:01] clanmills commented on #1182
Yes, congratulations and _**Thank You**_ to me.  You're the only person who has thanked me.  I've had excellent support and encouragement from Luis (@piponazo), Phil (@boardhead) and Andreas S (@cryptomilk).

What you're asking isn't a feature of the exiv2 command-line program, however you can do it with a one-liner in bash.
[code]

So there's the formula:

[code]

It's a pity you have to mention

[2020-04-25 08:01] #1182 closed

[2020-04-25 13:37] clanmills commented on #1180
OK.  I'm going to accept this change for Exiv2 v0.27.3.  #1183

Incidentally, in working on the tests, I discovered another bug in the firm-ware of your device.  It write the DateTime as 50 bytes with a trailing ' space\n...........`.   Not good.  Anyway, it isn't fatal.

[2020-04-25 13:37] #1180 closed

[2020-04-26 17:03] piponazo commented on #530
Changes merged into 0.27 (#1178) & master (#1179)

[2020-04-26 17:03] #530 closed

[2020-04-27 09:33] clanmills commented on #1121
Fix submitted #1184

[2020-04-27 09:34] #1121 closed

[2020-04-27 16:44] clanmills opened #1186 "Exiv2 v0.27.3 Available"
Exiv2 v0.27.3. RC2 is available from: https://exiv2.org

Thank you to Phil, Sridhar, Luis, Kevin, and Andreas S for working with me on the release.  As always, thanks to my wife Alison and our cat Lizzie for their support.

Highlights of Exiv2 v0.27.3

* Bug and security fixes
* UNIX suppport
* Support for building with C++11 and C++14
* Revised build and test environments
* Revised documentation

[2020-04-28 09:14] clanmills commented on #1186
I've made a single announcement on pixls and FB with the release schedule.  So I don't need to make further announcements.

https://discuss.pixls.us/t/exiv2-v0-27-3-release/17830
https://www.facebook.com/exiv2/

Slept for 10 hours last night.  I'm exhausted.

-----------

_I’ve come back out of retirement to create Exiv2 v0.27.3. RC1 Preview is available from: https://pre-release.exiv2.org_

_The

[2020-04-28 14:28] clanmills commented on #1163
@StefanBruens A fix has been put into the 0.27-maintenance branch and will ship in Exiv2 v0.27.3 on 2020-06-30.  Exiv2 v0.27.3 RC1 will be published this week on 2020-04-30.  For information about Exiv2 v0.27.3 see: https://github.com/Exiv2/exiv2/issues/1018#issuecomment-604539346

Both @piponazo and I would be very pleased to have your feedback that we have successfully solved this issue for you.

[2020-04-28 15:41] piponazo commented on #1062
This link seems to provide a good introduction about the JPEG2000 structure: https://github.com/plroit/Skyreach/wiki/Introduction-to-JPEG2000-Structure-and-Layout

[2020-04-29 11:46] clanmills commented on #1062
That documentation looks great.  Very nice graphics.

I think ISOBMFF (including HEIF, AVIF, Mpeg4, CR3) and JPEG2000 are all very similar.  One implementation can probably read all those formats.  I was willing to undertake that as the "one big new feature" in Exiv2 v0.27.3.  I ran into hostility from people I from whom I expect encouragement, not obstruction. #1066  Laurent Clevy @lclevy/canon_c

[2020-04-29 12:04] piponazo commented on #1062
Hi Robin. I was taking yesterday a look to the list of open issues and I was investigating a bit about this one. I have to say that I was a bit depressed after finding out that there is not much information about how the JPEG2000 metadata is organised ...

Now that you mentioned ISOBMFF, I have other place where to look at. I will investigate in my spare time. However, I cannot commit myself to do

[2020-04-29 12:11] clanmills commented on #1062
Good stuff.  I'm not thinking about ISOBMFF in v0.27.3.  This feature is good enough to justify doing Exiv2 v0.27.4 when it's ready.

[2020-04-30 10:31] clanmills commented on #1163
I've submitted a PR #1191 to prevent 2305 warnings message from GCC concerning `unique_ptr`.

This issue has been a total time-waster created by Mr Bruens who, having very rudely opened this issue, hasn't had the courtesy to engage with Team Exiv2.  As soon as this appeared, I though "irrelevant".  Exiv2 v0.27.3 is built with C++98 and using gtest 1.8.0 for unit testing.

[2020-04-30 14:42] StefanBruens commented on #1163
If you think adding workarounds on every single downstream is a good solution, so be it.

I have opened this issue to make you aware of a real live problem. Do you think it is a good idea distributions ship totally untested packages, because unit tests can't be compiled? Distribution packages use different compilers, different libraries, etc, each a possible source of regressions you are not aware

[2020-04-30 14:50] StefanBruens commented on #1163
Because shipping untested software is always a good idea ... If a current GCC starts to optimize the exiv2 code in a different way, this may expose bugs. The default for the unit tests should be enabled, not disabled.

[2020-04-30 15:34] clanmills commented on #1163
@StefanBruens I have tried very hard to understand your request and worked to give you solutions.

Regrettably, you haven't bothered to cooperate with me.  For sure, you haven't given feedback.  And haven't bothered to acknowledge the effort that has been put in on your behalf.

Why don't you ask Google to ensure that GTest 1.10.x can build with C++98?

[2020-04-30 16:14] StefanBruens commented on #1163
You have not managed to release a version of exiv2 almost 9 years after the C++11 standards approval, so the right thing for Google is to move GTest back to C++98 ...

I have stated from the very beginning what I want - a released exiv2 version which is compatible with contemporary compilers and frameworks, without adding local hacks and workarounds, and which has been tested on different architec

[2020-04-30 17:25] MStraeten opened #1192 "Update request: Sigma 35mm F1.4 DG HSM ART Canon Mount"
**Describe the solution you'd like**
with current firmware the identification of the lens changed to older firmware, so my request for an update

% exiv2 --version
exiv2 0.27.2

**before (sigma firmware 1.03):**
% exiv2 -pa --grep lens/i  ~/Pictures/Import_20200430/20200430-IMG_8228.CR2
Exif.CanonCs.LensType                        Short       1  Sigma 35mm f/1.4 DG HSM
Exif.CanonCs.Lens

[2020-04-30 18:20] clanmills commented on #1192
@MStraeten You can fix this for yourself using the file ~/.exiv2

[code]
Enter the LensID into [canon] in ~/.exiv2 _(you'll have to create ~/.exiv2)_
[code]
And exiv2 will use your definition!
[code]
Lens Identification is very troubling because the Lens isn't stored in the metadata!  It's common for several lenses to use the same LensID.  So, the ~/.exiv2 file was introduced with Exiv2 v0.26 to e

[2020-04-30 18:20] #1192 closed

[2020-04-30 18:25] clanmills commented on #1
It wasn't as simple as using the edit pane on GitHub.  These source "assets" are generated by GitHub.  I've update our release procedure again to use `$ git tag` earlier in the process, then download the asset to replace the one created by our build server.  Curiously, they are not identical and I'll have to investigate the difference.  The release procedure has been updated:  svn://dev.exiv2.org/

[2020-04-30 18:32] MStraeten commented on #1192
Thanks for the hint

[2020-04-30 18:54] eszlari commented on #1
Please ignore the tarballs that are created by Github automatically, they are not guaranteed to be deterministic: https://github.com/keybase/client/issues/10800#issuecomment-377417315

[2020-04-30 19:23] clanmills commented on #1
Good to hear from you, Thanks.

Ah, that's interesting.  What's in GitHub's .tar.gz builds and passes the test suite.  And it's about the same size as our build server which produces it with CMake/CPack.

However, I thought you wanted the sha256sum of the GitHub tar-ball to be the same as our build server and that's only possible if I accept their's in preference to our buildservers.

[2020-05-01 06:55] clanmills commented on #1
The release appears to be good.  I've looked at three things:
[code]

Then for each, I do:
[code]
So I have three files:
[code]

Amazingly they are identical.  All have 1339 files.  All with the same names.  A du -k foo on each directory makes them the same size at `118208	exiv2-0.27.3-RC1`

I've .tar.gz'ed them:
[code]
I've used the Edit button on:  https://github.com/Exiv2/exiv2/releases/tag/v0.

[2020-05-01 17:42] Simon-12 commented on #1101
Hello,
i have a question to setup Exiv2 with Qt.
You just download the code for MinGW64 from the homepage and include it to your project?
or you build Exiv2 from source?
If you build it from source: how you do that?

Thanks a lot

[2020-05-01 17:53] clanmills commented on #1101
There's a pre-release of Exiv2 v0.27.3 RC1 which was release yesterday at https://pre-release.exiv2.org

I believe the MinGW/msys2 build will link with Qt.

Have a read at README.md in the distribution bundle.  In Section 5, I've included platform notes including what you'll need to install with pacman.  I know the documentation is solid, because I use it when I need a new MinGW/msys machine set u

[2020-05-02 10:25] Simon-12 commented on #1101
Thanks a lot for your fast response.
I followed the instructions and got a good build.

Then i add the include folder and libs to my Qt project:
[code]

After that i try to build my project and get the following error:
[code]

I also get a lot of deprecated warnings like:
[code]
What did i missed?

[2020-05-02 10:36] clanmills commented on #1101
Are you building 0.27.2 or 0.27.3?

With 0.27.3 you'll get 2305 of those warnings!  Our C++11 support is in 'master'.  0.27 is our "legacy code" and the dots (0.27.1, 0.27.2 and now 0.27.3) are "maintenance releases".  I've been talking to the Team this morning about adding C++11 support to 0.27.3 (or more likely 0.27.4)

Relax.  I'll help you.  You'll be up and running today.

[2020-05-02 14:37] Simon-12 commented on #1101
Thanks again fort he fast response.
I tried different versions: 0.27.3.1, 0.27.2 and 0.27. Error is always the same.

Now i tried to build the current master branch. There i get an build error at 33%:
``
futils.cpp: In function 'std::vector<std::basic_string<char> > Exiv2::getLoadedLibraries()':
futils.cpp:530:29: error: '_MAX_PATH' was not declared in this scope
             char szFilename[_MAX_

[2020-05-02 15:16] clanmills commented on #1101
I'll have a look at master, Simon.  I don't work on the project on 'master' (0.28).

I've done a lot of work today on C++11 for v0.27.3 RC2 which is scheduled for 2020-05-31 and I'm the release engineer for that.

To build 0.27.2, can you try:

[code]

[2020-05-02 15:37] clanmills commented on #1101
Here's the patch for 'master'.  I also fix a compiler warning in src/types.cpp.  I'll submit a PR for this when we're done and you're up-and-running.

This is curious discovery about _MAX_PATH and src/futils.cpp.  I wrote that code and have never seen that error.

[code]

[2020-05-02 17:35] Simon-12 commented on #1101
With build 0.27.2 and:
`
$ cmake .. -DCMAKE_CXX_STANDARD=11 -DCMAKE_CXX_FLAGS=-Wno-deprecated
`
I got a good build but the same error in my Qt project...

Now i tried to build your fixed code i got a new new error during configuration:
`
CMake Error at /usr/share/cmake-3.14.3/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find GTest (missing: GTEST_LIBRARY GTEST_INCLUDE_DIR

[2020-05-02 21:42] clanmills commented on #1101
Relax.  You're home.  You have to install gtest.  Read this: https://github.com/Exiv2/exiv2/issues/575

Download and install gtest 1.8.0.  I mentioned this above.  Build Engineering is tough.  You have my sympathy (I suffer with and for you).  **https://github.com/Exiv2/exiv2/issues/1101#issuecomment-622492441**

I'm happy to help you because you're polite.  Many users are not!

[2020-05-03 09:08] clanmills commented on #1101
When you say "Now i tried to build your fixed code.".  Which version are you using?

A user was shouting at me on Friday because the default for `-DEXIV2_BUILD_UNIT_TESTS=0`, so I changed it on 0.27-maintenance.  On Saturday, I changed my mind.  The decision that the default for `UNIT_TESTS` should be OFF as most users don't want the inconvenience of installing gtest.  Our unit_tests are about 1%

[2020-05-03 09:12] piponazo commented on #1101
$ cmake .. -DCMAKE_CXX_STANDARD=11 -DCMAKE_CXX_FLAGS=-Wno-deprecated
I got a good build but the same error in my Qt project...

I think he was trying to build 0.27.2, so that we were overriding the value of `CMAKE_CXX_STANDARD` there in our CMake code.

@Simon-12 Try to checkout the latest version in the `0.27-maintenance` branch and configure the project with:

[code]

In that case, the Unit Test

[2020-05-03 13:32] Simon-12 commented on #1101
@clanmills thank you for the nice words. Iam curious to learn this and want this running. I downloaded the code yesterday. Maybe exactly at the same time you changed something ;)

Today for the new try i downloaded from the 0.27-maintenance branch and used the configuration from @piponazo There i got a good build but still the same error in my Qt project...

Maybe i missed something in Qt? Or the

[2020-05-03 14:52] clanmills commented on #1101
@Simon-12 I'm going to set up Qt and see if I can reproduce your troubles.  Which version of Qt are you using?

It has been very helpful to work with you.  I knew there was something incorrect in the build concerning C++11.  We took the decision (2 years ago) to support C++11 in v0.28 and v0.27 would remain C++98.  I think @piponazo and I fixed v0.27/C++11  yesterday.  0.27-maintenance still has t

[2020-05-03 15:31] Simon-12 commented on #1101
That's sounds great!
I use: `Qt 5.14.0 MinGW 64-bit (MinGW 7.3 64-bit got installed with Qt)`

[2020-05-03 15:37] clanmills commented on #1101
Right.  It's busy pulling down 5.14 with GCC 8.1/64.  Close enough.  I want to look at 8.1.  There was a problem with GCC 8.2 building the Exiv2 dll. I'll update you later.

It's been a while since I used Qt.  I know I liked it.  Friends of mine in California rewrote Qt in C++ (to avoid mock) and use C++ object references everywhere.  It's called CopperSpice.

[2020-05-03 16:47] clanmills commented on #1101
No problem.  It's working.  I'll restore contrib/Qt into 0.27-maintenance.  There are three files.  The notes in ReadMe.txt will have to be reviewed as they were written for msys1.

My wife's called me for dinner (I'm in England).  Give this a shot and we'll talk later.

**`commandLineTool.pro`**
[code]
**`main.cpp`**
[code]
**`ReadMe.txt`**
[code]

**`Build and Run`**
[code]

[2020-05-04 11:51] clanmills commented on #1101
@Simon-12 I believe everything is now fixed.  I've submitted 2 PRs

#1198 Is the fix for 'master' to get futils.cpp to compile on MinGW
#1197 is the C++ support for '0.27-maintenance'

I would appreciate your review of these.  In particular please review contrib/Qt on branch 0.27-maintenance.

As you can see in #1197, I've decided against building C++11 binaries for 0.27.3, so you'll have to build

[2020-05-04 15:17] Simon-12 commented on #1101
@clanmills thanks for the update ;)
Work week has started again. I will check this out during this week and post a feedback here.

[2020-05-04 16:19] clanmills commented on #1101
Righty, oh.  That'll be fine.  @piponazo has provided helpful feedback as always.  We'll merge #1198 immediately because the 'master' build is broken on MinGW.  Rather astonished to discover this because the CI builds on about 20 platforms.  I build 0.27-maintenance at home on 9 platforms.

However, I'll wait for your comments on #1197.  Support for C++11/14 is a "bonus" feature for v0.27.3.

[2020-05-05 06:06] piponazo opened #1200 "Fix AppVeyor builds on 0.27-maintenance"
**Describe the bug**
There is an error in some of the Appveyor jobs when downloading the libcurl dependencies with conan.

[code]

**To Reproduce**
Just check some of the Appveyor jobs for the Visual Studio 2013 Images.

**Expected behavior**
Builds should bring the dependencies correctly with conan.

**Desktop (please complete the following information):**
 - OS: Windows
 - Compiler & Version MSV

[2020-05-05 07:12] clanmills commented on #1200
VS2013 builds and passes the test suite for me.  By default I don't build WebReady and do not need curl/openssl/libssh.

It's reasonable to say that we shouldn't build WebReady before VS2013 because the feature was developed in 2013 (and shipped in v0.25 June 2015).  The purpose in building with VS2013 (and other legacy compilers) is to be confident that users can take the latest code and security

[2020-05-05 07:34] piponazo commented on #1200
I think that both approaches would be fine:

1) Find why conan is failing to bring libcurl/7.69.1 in the Appveyor MSVC 2013 image, when it is fine for the 2015 & 2017 images.
2) Directly disable the webready support for the Appveyor MSVC 2013 image. That should fix the problem immediately.

Feel free to investigate this during the day. I could not work on this until the evening due to work :+1:

[2020-05-05 09:19] clanmills commented on #1200
It looks like the case-insensitve file system on Windows is a problem.  It complains that it has been asked for openssl/1.1.1f and can only find OpenSSL.  There's a switch in Windows (since 2018) to enable case-sensitive files on a folder-by-folder basis.  I don't think using that is a good idea.  Anybody using an older Windows without that switch will be in trouble.

It's coming from the bincraft

[2020-05-05 10:27] clanmills commented on #1200
@piponazo conan/CMake is really good combination.

In conanfile.py, I've selected winssl for windows (instead of openssl), updated src/CMakeLists.txt and samples/CMakeLists.txt to link Crypt32 (instead of the private conan OpenSSL).

I will investigate what this means for MinGW and Cygwin as they may need help to avoid the "OpenSSL/openssl" disaster.  Incidentally, I believe from conan's bug repor

[2020-05-05 11:41] piponazo commented on #1200
I am really glad to see you like the combination of these tools 😇 .

I think that whenever you want to bring dependencies in a **non** cross-platform situation, conan makes very easy to handle the dependencies. Also, it is useful if you do not want to install system packages, and you just want to bring dependencies locally to be able to configure/compile a project.

However, when dealing with cros

[2020-05-06 08:53] clanmills commented on #1102
I've been working with @piponazo on C++11 support for 0.27.3 RC2 (scheduled on 2020-05-30) in the branch `add_c++11_support_0.27`.  I've built Exiv2 with GCC 9.3 on both MinGW/msys2 and Cygwin/64.  I'm very confident this trouble is resolved.

[2020-05-06 16:33] Simon-12 commented on #1101
@clanmills  i found some time to test it.

I used the `exiv2-add_c-11_support_0.27` branch, followed the instructions and got a good build.

For the Qt commandLineTool i changed the .pro file and add:
`INCLUDEPATH += $$quote("E:/msys64/usr/local/include")`
`LIBS += $$quote("E:/msys64/usr/local/bin/msys-exiv2-27.dll")`

During `make` i only got some deprecated warnings but finally a good build.
The

[2020-05-06 20:16] clanmills commented on #1101
You will get deprecation warnings from the build about SSH, EPS and Video.  This is intentional.  These features are being dropped in v0.28.

However you should not see 2305 warnings about auto_ptr!

What's wrong in QtCreator?  It's almost certainly your PATH!  You'll have to ensure that the directory with libexiv2.dll is on the PATH in Qt Creator!

If it's working from the command-line, it'll wor

[2020-05-07 01:12] SharlieMai commented on #494
How should I use the variable `MSVC_USE_STATIC_CRT` to fix this issue? What is the correct configuration?

[2020-05-07 04:16] piponazo commented on #494
Hi @SharlieMai. What is the problem you are having? Right now, we consume expat from our conan file without using `MSVC_USE_STATIC_CRT`. Take a look to the expat recipe:

https://github.com/piponazo/conan-expat/blob/master/conanfile.py

`static_crt` is **False** there by default, and we do not change this value in our conan configuration file:

https://github.com/Exiv2/exiv2/blob/master/conanfile.

[2020-05-07 04:25] clanmills commented on #494
There's magic in `cmake/compilerFlags.cmake` concerning /MT and /MD to enforce the rule "All DLL" or "All Static".  It's been there forever.  I put it there in 2010.  Maybe that's causing trouble.  Are you trying to use dynamic expat with static RT?

[2020-05-07 08:32] clanmills commented on #1101
I don't know how to use QtCreator.  Like all unfamiliar tools, it feels hostile.

_**Caution:**_ After you built exiv2, you must install it!
[code]

I created a new console application in `c:\Users\rmills\Documents\commandLine` added  `#include <iostream>..... std::out << "hello world\n"; return 0;` and built/ran that.

Then I put the C++ code (from above) into main.cpp and added (from above) `win

[2020-05-07 11:47] piponazo commented on #1101
Hi guys. I am a bit lost with the current status of the conversation. If I understood correctly, @Simon-12  is trying to generate a successful build from `exiv2-add_c-11_support_0.27` on Windows + MinGW + QtCreator ?

@Simon-12 Would you mind to give me more details about what you are trying and the platform + tools + version you are using ? I use daily QtCreator and I might help you. However, it

[2020-05-07 12:28] clanmills commented on #1101
I got it to run from QtCreator.

1) I changed the project setup (in spanner/Projects)
a) set PATH c:\msys64\usr\bin;c:\msys64\usr\local\bin;
b) made the build steps
i) qmake
ii) make

2) I built (pressed the hammer)
3) Run (green >)

[2020-05-07 12:36] clanmills commented on #1101
@piponazo We've headed into the long grass and started discussing how to build the program commandLine.cpp in `contrib\Qt` from QtCreator.  I've got it to work.

The notes in `contrib\Qt\ReadMe.txt` have details about how to build from the command-line.  I don't think we should discuss QtCreator in ReadMe.txt as it has nothing to do with Exiv2.  No doubt QtCreator has lovers and haters and I don't

[2020-05-07 12:49] Simon-12 commented on #1101
Hey guys.

@clanmills described it wonderful in his poste: https://github.com/Exiv2/exiv2/issues/1101#issuecomment-625111969
I followed the instructions and yes with `make install` :)

Now i tried the example `exifprint.cpp` in Qt Creator but there errors like in my first post:

[code]

Using the command line (default cmd.exe):

[code]
The application works as expected! :)

@piponazo my system:
-

[2020-05-07 12:58] clanmills commented on #1101
@Simon-12 It's a clone of commandLine.pro.  From bash:

[code]

[2020-05-08 07:54] Simon-12 commented on #1101
@clanmills ye i saw this option in Qt Creator but i ignore it because i add
`c:\msys64\usr\bin;c:\msys64\usr\local\bin;` already to my system PATH.

Now i add it manually (like you) to the Qt Creator and the line shine blue:

![image](https://user-images.githubusercontent.com/49991706/81382262-65b2ae80-910e-11ea-9c0a-8e5c9d213133.png)

Click build (hammer) and Run (play button) **---> MAGIC! It wo

[2020-05-08 07:56] Simon-12 commented on #1101
**I summarize how i get this working:**

- Install MinGW/msys2 64 bit: http://repo.msys2.org/distrib/x86_64/msys2-x86_64-20190524.exe

- Use the following batch file to start the MinGW/msys2 64 bit bash shell from the Dos Command Prompt (cmd.exe):

[code]

- Install MinGW Dependencies:
[code]

- Download and extract the code from branch: `exiv2-add_c-11_support_0.27`

- Build and install:
[code]

[2020-05-08 08:42] clanmills commented on #1101
Right.  As they say in the movies "we have a wrap".  Luis has approved the PR #1197.  I'm fiddling with the build scripts for #1200.  We'll merge #1197 today, close #1200 and close this issue.  Exiv2 v0.27.3 will be 97% complete.

[2020-05-08 09:01] Simon-12 commented on #1101
@clanmills Thanks for the support. Keep the good work up!

See you

[2020-05-08 11:15] #1200 closed

[2020-05-08 11:16] #1101 closed

[2020-05-08 18:30] ariznaf opened #1202 "Tamron SP 70-200mm f/2.8 Di VC USD A009 not correctly identified with lens #255"
This is not really a but. But I could not find a better place, and was said to report it to exiv2 developers.
I am using darktable, which happens to use exiv2 to read exif data.
Tamron SP 70-200 f2.8 Di VC USD (G1) lens is not recognized with canon cameras, at least not with my canon 80D and under Windows 10 64bits.

Lens is identified as "255" lens.
But the lens is listed in lensfun database.

Af

[2020-05-09 02:40] markijsseldijk opened #1203 "IPTC tags with special characters such as ø, ç, õ, etc..."
I use exiv2 to tag multiple images in batch.  When the tags contain special characters, after running the batch, the special characters in the tags are not saved correctly.

The batch command for 2 sample images;
exiv2 -M"set Iptc.Application2.Caption String \"F-OJSE     Airbus A330-202     510          AirCalin - Air Calédonie International\"" D:\Temp\20B0004.jpg
exiv2 -M"set Iptc.Application2.Ca

[2020-05-09 06:27] clanmills commented on #1203
Thanks for raising this issue.  I've never thought about this.  In March, I investigated (and solved) using Unicode on Exif.Photo.UserComment.  I'll dig around in the code this week-end and update you.  For sure, I should add something to the man page about this.

[2020-05-09 06:48] clanmills commented on #1202
This isn't a bug and you've discovered how to deal with it.  It's a pity the _**darktable**_ sent you here instead of explaining how to deal with it.

About 50% of the issues reported to Exiv2 concern lens recognition.  The reason is because the lens isn't stored in the metadata by the manufacturer, so we have to guess the lens by inspecting other metadata.  Even knowing the lensID (in your case 2

[2020-05-09 06:48] #1202 closed

[2020-05-09 08:23] clanmills commented on #1101
And thanks to @piponazo for working on this.

Now @Simon-12 here is the bill.  Please visit OpenHub and give kudos and other kindness such as a review or 5 star rating.  https://www.openhub.net/p?ref=homepage&query=Exiv2

[2020-05-09 09:01] ariznaf commented on #1202
Yes it is a pity I have been directed here instead of explaining me what the problem was.

I am not a conscient user of exiv2, just happen to be used by darktable internally (i am using windows).
But this problem gave me the ocassion to know about exiv2 and its interesting functionality.

Let me ask one more thing please, before closing it for ever.

If I understand you well 255 just means the len

[2020-05-09 10:09] clanmills commented on #1202
Canon add data using the "MakerNotes" feature of the Exif specification.  This enables the manufacturer to store up to 65000 bytes of binary data.  Exiv2 knows how to decode/encode Canon's MakerNote (and other camera manufacturers).  Down in the MakerNote, Canon store a lensID.  For your lens it is 255.  That's probably Canon's way of saying "I haven't a clue about this lens".

However the number

[2020-05-09 10:55] ariznaf commented on #1202
Well I suppose canon uses 255 (unknown) in their makernotes for any non canon lens.
Canon does not apply lens corrections or any other correction to the jpegs or if you use their software to develope images, for any lens, just for their lenses.
I had expected that canon simply don't care about the lens with any lens that is not manufacture by them.
But if you say there are lenses from sigma that a

[2020-05-09 11:16] clanmills commented on #1202
_**MillsScript**_ doesn't exist.  It's going to be proposal to LGM in 2021.  This is the first time I've mentioned it in public.

The metadata names in Exiv2 are of the form: `Family.Group.Tag`  Family is simple:  it's either Exif, or IPTC, or Xmp.  Group depends where the tag was found.  If its Canon, CanonCs - it came from the Canon MakerNote.  The MakerNote is complex, so it has different sub-s

[2020-05-09 11:42] ariznaf commented on #1202
Sorry you are right that may be exif data from my viewer.
This is what exiv2 provide as lens info (fields containing lens in their name):
Exif.CanonCs.LensType                        Short       1  255
Exif.CanonCs.Lens                            Short       3  70.0 - 200.0 mm
Exif.Canon.LensModel                         Ascii      74  TAMRON SP 70-200mm F/2.8 Di VC USD A009
Exif.Photo.LensSpecifi

[2020-05-09 12:48] clanmills commented on #1203
I've investigated.  I don't know the purpose of the `-n/--encoding spec` option in the exiv2 command-line program.  It doesn't appear to do anything useful for your purposes.  I'll explain more below:

In `src/iptc.cpp`, I found the following:
[code]
So the data is passed from the command-line into the IPTC data block as binary without being modified.  I maintain Exiv2 on macOS and I believe the t

[2020-05-09 13:04] clanmills commented on #1202
Sure @ariznaf.  You can be my alpha tester for M2Lscript.

You are not alone in thinking "oh, we only have to ask the Exiv2 people to add one line of code".   It's much more than that.  Lens recognition was added to Exiv2 before I joined the project in 2008.  It's been a curse.  If Exiv2 hadn't attempted to solve that, the community would have better understood the issue.

I added the "Configurati

[2020-05-09 13:17] ariznaf commented on #1202
Well I begun reporting to darktable developers (you have to understand end users don't know exactly how a program works).

Yes, really I have thought it was just a matter of giving the correct codes or exif fields for the lens in this camera or camera manufacturer, it is at it should be if exif worked as expected and defines a way of identify a lens with a unique id.

But it seems exif itself hast

[2020-05-09 13:21] clanmills commented on #1202
Here's the bill:  Please visit OpenHub and give kudos and other kindness such as a review or 5 star rating.  https://www.openhub.net/p?ref=homepage&query=Exiv2

[2020-05-09 22:22] markijsseldijk commented on #1203
Thanks so much for your investigation.
I have been trialing various options and this morning got the option to work:

In notepad replace the special character with unicode, so for é replace with /u00E9.  Then save the notepad .bat file with ANSI encoding (not UTF8).  Then run the commands and the correct character is entered into the tags.

I am happy that I have got it working this way.  I prepar

[2020-05-09 22:22] #1203 closed

[2020-05-10 07:01] clanmills commented on #1203
I'm very happy that you have this working.  Being a native English speaker, I am out of my comfort zone when discussing any encoding except ascii!  One of my favourite users (@tester0077) has been asking me to support character set encodings "properly".  The biggest puzzle for me is to understand what is wanted and/or expected.

Anyway, thanks for closing this bug.  I'm about 96% of the way to Exi

[2020-05-10 14:27] phweyland opened #1206 "Exiv2::XmpProperties::propertyList() doesn't recognize "lr" prefix"
**Describe the bug**

`  const Exiv2::XmpPropertyInfo *pl = Exiv2::XmpProperties::propertyList(prefix);`
returns a valid pointer for all kinds of prefix (dc, xmp, ...) except for "lr" for which the pointer is NULL;

However it doesn't throw any exception (for "1r" I get an exception :)).

**Expected behavior**

Get the list of tags related to "lr":
- hierarchicalSubject
- privateRTKInfo

**Desktop

[2020-05-10 15:34] clanmills commented on #1206
I don't know anything at all about this, however that just makes the puzzle more interesting!  Can you say something else about your use case here.

[2020-05-10 15:53] clanmills commented on #1206
I think this must be a rather elderly version of exiv2.  We generate our MetaData webpages using samples/taglist which calls that function.  For sure, LR is documented:

https://www.exiv2.org/tags-xmp-lr.html

[code]

I seem to recall Alan Pater discussing something concerning the lr namespace about 2014 or so.  Exiv2 0.25 was released 2015-06-21.

Is there an urgency about this?  Is it possible t