[2021-03-01 09:41] phako commented on #1466
yes, at least for github, see https://github.com/github/renaming. I thought git itself had switched as well but I cannot find any reference for it in quick search, only heated discussions why this is "PC gone mad"

[2021-03-01 09:53] imsodin commented on #1466
It's not (yet?) a default in git, but the default branch has recently(ish) been made configurable: https://github.blog/2020-07-27-highlights-from-git-2-28/#introducing-init-defaultbranch
If you are already restructuring branches, I do suggest using `main`. I do expect it to be the de-facto norm soon-ish - at least my muscle memory already does `m-a-i-TAB` (weirdly I didn't drop the `TAB` and go wi

[2021-03-01 10:10] vog commented on #1466
@phako @imsodin  Thanks for clarifying the issue with `master`! I wasn't aware of that latest developments and forming consensus about switching from `master` to `main`.

I fully agree that, given those circumstances, `main` is the better choice.

By the way, I never liked the wording `master` that much. Even if it didn't have any connotation to slavery, it is simply a bad naming. You would never

[2021-03-01 10:10] clanmills commented on #1466
Thanks you everybody for your comments.  I've had a message from @alexvanderberkel saying 'main' is the new 'master'!

Let's stick to the plan.  On 2021-05-22, I'll branch 0.27-maintenance -> main and make 'main' the default branch. I've already renamed 'master' -> 'old-master' to discourage its use.

[2021-03-02 17:56] boardhead commented on #1466
Sorry, I missed this.  I haven't been keeping up with all of the Exiv2 posts recently.

[2021-03-02 23:53] postscript-dev opened #1481 "Problems processing incorrect LangAlt values"
**Describe the bug**

The processing problems fall into three categories.
1. No language value
2. Empty language value
3. Mismatched and/or incorrect positioning of quotation marks

**To Reproduce**

The problems have been observed on the `old-master` and the `0.27-maintenance` branches (though expected on previous branches also).

1. No language value
This causes a segmentation fault when running

[2021-03-02 23:53] postscript-dev commented on #1481
I will look at this more tomorrow.

Also, the templates used when posting an issue are missing. They were stored in the `master` branch and when this was renamed to `old-master`, it looks like the setting has not transferred.
You can find the templates [here](https://github.com/Exiv2/exiv2/tree/old-master/.github/ISSUE_TEMPLATE).

[2021-03-03 07:09] clanmills commented on #1481
@postscript-dev  If I grant you write access to our repos, can you deal with this?

Please read this to understand what's going on with master/old-master.   https://github.com/Exiv2/exiv2/issues/1466#issuecomment-787129589

Here's my situation.  I worked 14 hours/day last week and again this week on BMFF support.  https://github.com/Exiv2/exiv2/pull/1475#issuecomment-787050557

After that I have t

[2021-03-03 07:22] clanmills commented on #1473
Please submit a PR with an update to the test suite.

[2021-03-03 10:59] postscript-dev commented on #1481
Yes, I intended to submit - hopefully today. I posted so that I could reference this in the testing and commit message and didn't intend to burden you with the work.

Thank you for all your hard work, it is appreciated.

[2021-03-03 11:46] clanmills commented on #1481
@postscript-dev That's the man, Mr PostScript.  Thanks.  I'll open the repos now.  I know you'll treat it with the respect it deserves.  Welcome aboard.

When you submit the PR, I'll review and approve.  The PR will merge when the CI is green.

[2021-03-08 08:48] clanmills commented on #1358
Fix submitted. I discovered issues with the base64encode function while working on #1475.  I've chosen to fix this issue in the same PR.
https://github.com/Exiv2/exiv2/pull/1475/commits/87e536dadf22353c0766755205c77b970cb65cfe

[2021-03-09 17:46] clanmills commented on #1408
I'm going to close this. These notes might help somebody in future, however they aren't an open issue with Exiv2.

[2021-03-09 17:46] #1408 closed

[2021-03-10 10:34] #1358 closed

[2021-03-10 11:12] clanmills commented on #1358
Fix is included in #1475.

[2021-03-10 11:19] clanmills commented on #1229
Fixed.  #1475.  **Seven Engineers** have contributed to this.  @alexvanderberkel @LeoHsiao1 @hassec @clanmills @kmilos @piponazo @1div0.

And I must mention David Houlder for his help with the legal investigation.  And Gordon Laing for test images.  Pat and his folks at discuss.pixls.us who will set up a test image server.

By far the largest team of contributors in the history of the Exiv2 projec

[2021-03-10 11:19] #1229 closed

[2021-03-10 13:09] kmilos opened #1484 "Empty ASCII string ends up encoded with count of 0 instead of 1"
Try e.g. ` exiv2 -M"set Exif.Image.Copyright Ascii ''" some_image.tif` (same as what darktable exports with no copyright defined).

(`0x8298 Copyright` is mandatory in TIFF/EP for example but is also in Exif allowed to be empty which means "unknown"; there are a couple of other tags that behave similarly.)

LibTIFF then correctly complains:

[code]

As the TIFF spec says "The value of the Count pa

[2021-03-10 13:54] clanmills commented on #1484
**Good Find**.  That's a bug.  You'll probably find using the debugger to navigate TiffEncoder is difficult to understand.  If you're stumped, ask for help or ask me to fix it.

[code]

[2021-03-10 14:21] kmilos commented on #1484
You can say that again. I'll keep banging, but will call for help if I get absolutely nowhere in a few days...

[2021-03-10 14:42] clanmills opened #1485 "Test suite Environment handling is not correct"
We have to ensure that we are executing the correct version of executables with the correct version of the library.  Under no circumstances should we be the exiv2 library in /usr/local/lib.

1 I'd like **proof** that we're running the correct version of the executable AND the library.  That's the purpose of `$ make version_test`

2 We must handling EXIV2_BINDIR correctly in every part of the test

[2021-03-10 14:57] LeoHsiao1 commented on #1485
OK, the problem is very simple. I'll fix it this weekend.

[2021-03-10 15:25] clanmills commented on #1485
Thanks.  That's really good to hear.  It's great to have you working on the test code.  One thing less to keep me busy.

I'm very pleased to say that there's been a great increase in the number of contributors in the last year.  The bmff code has been put together and tested by a small army.  I'd like you to be "King Test" - the Lion of the Exiv2 Test Harness.  You can do it and you'll feel very r

[2021-03-10 16:17] kmilos commented on #1484
Ah, now I think the problem is here in value.cpp:

[code]

[2021-03-10 16:53] clanmills commented on #1484
You've got it.  You see it's not so tough.

You need steady hands and a clear head for TiffVisitor.  However, it's seldom necessary to really know what it's doing!

[2021-03-11 11:16] clanmills commented on #1424
@phako I'm going to close this and #1423.  When we discussed this, I left this open to be considered for 'master'.  However, as we've decided to hibernate 'master', I have to consider this for 0.27-maintenance and/or main.  I'm not making a change such as this in a "dot" release.  When I work on 'main', the primary objective is to port the unique_ptr from 'old-master' and little else.

You are wel

[2021-03-11 11:16] #1424 closed

[2021-03-11 11:17] clanmills commented on #1423
https://github.com/Exiv2/exiv2/issues/1424#issuecomment-796662481

[2021-03-11 11:17] #1423 closed

[2021-03-11 12:06] #1473 closed

[2021-03-11 13:32] LeoHsiao1 commented on #1485
Thank you for your approval.
Open source makes my life more meaningful.

[2021-03-11 18:52] clanmills commented on #890
**Exiv2 v0.27.4**

I will run the test suite on Exiv2 v0.27.2 and v0.27.3 and replace the dynamic libraries with the 0.27.4.9 versions.

| Platform | 0.27.4.9 library      | 0.27.3 library        | 0.27.2 library                  |
|:--       |:---                   |:---                   |:--                              |
| macOS    | libexiv2.0.27.3.dylib | libexiv2.0.27.3.dylib | 5,269,532 li

[2021-03-11 20:43] #1484 closed

[2021-03-11 21:28] kmilos opened #1489 "Improve BMFF MIME type discovery"
Continuing from https://github.com/Exiv2/exiv2/pull/1487#issuecomment-796726093, it seems it might not be sufficient to check just the major brand of the file type box.

For starters, there are missing major brand cases like 'heix', 'heim', or 'heis', and ['avis' and 'avio'](https://aomediacodec.github.io/av1-avif/#brands).

[2021-03-12 07:57] clanmills commented on #1485
I am very pleased with your contribution, Leo.  I expect to complete all my testing today.  So when you do your work on Sunday, I can build and publish Exiv2 v0.27.4 RC1 Preview next week.

----

Chapter 11 of my book is about "Project Management".  You'll probably be surprised at how many things I have to take care of in the project:  Code, Documentation, Scheduling, Build, Security and so on.  2

[2021-03-12 09:59] kmilos commented on #1489
@1div0 So the remaining question is whether we should bother parsing and checking the compatible brands array of the file type box as well for things like 'mif1'+'heic' that is present in 'test/data/heic.heic' for example?

I'm ok to leave it at major brands for now and wait for user feedback...

[2021-03-12 10:07] clanmills commented on #1489
@kmilos Are we finished on this one or do have you thoughts of further work for v0.27.4?  Or assign it to Milestone: v0.28.

[2021-03-12 12:14] kmilos commented on #1489
I'm fine with postponing or closing and don't feel like taking on the idea above unless @1div0 feels it is necessary?

[2021-03-12 12:37] 1div0 commented on #1489
AVIF image sequences have great potential to replace aged GIF. However it might take a years, if note a decade. So until then feel free to postpone to 1.0.0.

[2021-03-12 12:40] clanmills commented on #1489
Let's get this "off the plate".  At best this is a marginal feature of the library.   I'm going to close this.

I'm finishing up on testing v0.27.2 and v0.27.3 using the 0.27.4 shared-objects/dylib/dlls.  Leo has 3 matters in the test suite to deal with and has promised to do them on Sunday.

We've done it guys.  I'll publish a preview of the release on Monday and v0.27.4 RC1 will ship next Friday

[2021-03-12 12:40] #1489 closed

[2021-03-12 12:51] kmilos commented on #1489
Makes sense, best wait and see if any real requests regarding this come back.

[2021-03-12 13:06] 1div0 commented on #1489
Yes, wait & C/C++

:-)

[2021-03-12 13:21] 1div0 commented on #890
I've noticed wrong versions of the libraries in the **0.27.4.9 library** column.

[2021-03-12 16:03] clanmills commented on #890
Oh, this is work in progress, Peter.  It'll be correctly finished later today.

[2021-03-12 18:36] #890 closed

[2021-03-13 11:07] LeoHsiao1 commented on #1274
Sorry, I still don't know about unit_test and version_test.
Are we going to rewrite this part of the content in the Makefile?
[code]

Or rewrite the test cases named version_test.py and unit_test.py?

[2021-03-13 13:25] clanmills commented on #1274
I think running unit_test from python is a couple of lines on python and version_test is one line of python!

**make unit_test**
[code]
Today, it runs some bash code:
[code]

Can you get `$ make unit_test` run something like `python3 runner something.py`  And something.py should be run LAST by `$ python3 runner.py`

**make version_test**

Every build of exiv2 command-line program supports options

[2021-03-13 16:47] rrjjhhbb commented on #1343
Hello, I think I hit the same problem.  I have a PNG that had no EXIF data, added some by running
`% exiftool -alldates="1959:04:17 15:21:02" 10.png`
Verified them with exiftool:
[code]

...and then this:
[code]

I actually noticed the problem after importing the file into DigiKam 7.0, and reported it on their mail list.
Do you think you can publish an update that the DigiKam project could use?

T

[2021-03-13 18:31] clanmills commented on #1343
Exiv2 supports Exif, IPTC, XMP and ICC metadata.  You haven't hit a problem.  Your file contains PNG metadata which is not in one of those four formats.

As you've realised, you can see the metadata embedded in the tEXt chunk.  In preparation for retirement (I was 70 in January), I have written a book **Image Metadata _and_ Exiv2 Architecture** https://clanmills.com/exiv2/book.

In the part of the

[2021-03-13 21:58] rrjjhhbb commented on #1343
Hello Robin,
to be honest, I had not understood that the date information in my PNG file isn't Exif data.  Thanks for pointing that out.
I've realised that there is probably an easy workaround for my problem:  If I use exiv2 instead of exiftool to store the date information in my PNGs, I expect that DigiKam will recognize it.
I'm not yet a long time DigiKam user, and have only got to know exiv2 le

[2021-03-13 23:22] clanmills commented on #1343
Thanks for the feed-back.  The book is very detailed because its purpose is to conserve my knowledge.  The aim of the book is to ensure that Exiv2 survives or inspires a new library.  It comes with a guaranteed cure for insomnia.

Please understand that when **darktable** asked _please add bmff before you retire_, they were asking for 500+ hours of my life.  Unlike **digiKam**, I believe they will

[2021-03-14 07:54] LeoHsiao1 commented on #1485
This issue is passed to <https://github.com/Exiv2/exiv2/pull/1492> for discussion.

[2021-03-14 07:54] #1485 closed

[2021-03-14 08:40] LeoHsiao1 commented on #1274
Oh oh, I won't have time to finish it this weekend.

[2021-03-14 10:04] 1div0 opened #1493 "v0.27.4 application tests"
### Work in progress

1. https://github.com/darktable-org/darktable/pull/8340
2. https://invent.kde.org/graphics/digikam/-/merge_requests/51
3. https://gitlab.gnome.org/GNOME/gexiv2/-/merge_requests/46
![Snímka obrazovky z 2021-03-16 14-30-21](https://user-images.githubusercontent.com/3098510/111318265-2bd30280-8665-11eb-8c05-0572f1ab6d2a.png)

[2021-03-14 13:52] clanmills commented on #911
I'm going to close this issue as there's nothing further to discuss.

[2021-03-14 13:52] #911 closed

[2021-03-14 13:56] clanmills commented on #1215
Thanks to @LeoHsiao1 for undertaking the work to bring this to a successful conclusion.  The great work by Dan in system_tests.py has been extended to provide python functions which emulate linux utilities such as grep, diff and cut.  Thank You, Mr Lion.

[2021-03-14 14:02] clanmills commented on #1274
That's fine.  I'm going to release Exiv2 v0.27.4 RC1 this week.  We are two weeks ahead of schedule.

Code freeze/RC2 is scheduled for 2021-04-30.  However it would be very helpful if you could complete this in March and we arrive at Code Freeze in Early April.

[2021-03-14 20:04] alexvanderberkel opened #1494 "Joining KDE community"
During the Future of Exiv2 meeting (see issue #1466) it has been decided to evaluate the possiblity to join the KDE community. The first contact has been established and can be followed on the mailing list (https://mail.kde.org/pipermail/kde-devel/2021-March/000360.html).

Current status:
- In order to import all all resources from GitHub, the KDE importer needs to enhanced.
- A ticket for this ha

[2021-03-17 07:35] #1215 closed

[2021-03-17 11:01] clanmills commented on #1274
Closed by #1495

[2021-03-17 11:01] #1274 closed

[2021-03-18 16:19] novomesk commented on #1493
Support in KDE would be good too. See:
https://invent.kde.org/frameworks/kfilemetadata/-/blob/master/src/extractors/exiv2extractor.cpp

[2021-03-18 16:35] clanmills opened #1499 "make uninstall is issuing warnings"
Has to be investigated on all platforms.  It will be investigated and resolved in Exiv2 v0.27.4 RC2.

[2021-03-19 10:38] clanmills opened #1501 "make uninstall leaves artefacts in standard locations"
See discussion: https://github.com/Exiv2/exiv2/pull/1500#pullrequestreview-616264993

[2021-03-19 11:52] clanmills commented on #1499
Fixed via #1500 which was patched into v27_4_rc1_effort2 with https://github.com/Exiv2/exiv2/commit/b975ad4cbb9e5f6ea4237f69f9afac25de9f3d54

[2021-03-19 11:52] #1499 closed

[2021-03-19 15:17] kmilos commented on #1501
The previous commit should take care of the symlinks now.

That leaves empty directories only, and it's not only the ones w/ "exiv2" in the name, but all:

[code]

No idea how to handle those w/ cmake...

[2021-03-19 16:53] clanmills commented on #1501
Good Job, @kmilos.  dangling symlinks are gone.  As you say, empty directories remain.   It's totally OK to leave /standard/location/bin include lib cmake pkgconfig share - as they are infrastructure.  Don't think about them.

We should be removing lib/cmake/exiv2 and include/exiv2.  macOS hasn't  populated pkgconfig.

Life isn't perfect.  Life goes on!  We'll nail it for RC2.

[code]

[2021-03-19 17:35] clanmills opened #1502 "test suite issues for v0.27.4 RC2"
There are errors in the build logs for 0.27.4 RC1.  We should investigate and fix them for RC2.  The errors can be inspected in <bundle>/logs/built.txt

**MinGW Cygwin macOS**  _**All Clean**_

**Test Suite Design Issue**
The suite mustn't give up when it encounters the first error.  It should continue to the end and report errors.  If python_tests fail, the suite terminates and doesn't run versio

[2021-03-19 17:44] clanmills commented on #1501
There are artefacts not being removed in the Visual Studio msvc when we run:

[code]
Lots of empty directories.  It's leaving a 7mb exiv2.dll in the bin.

It does an impressive job of removing the header files.  Something to investigate for RC2.

[2021-03-20 07:54] arun54321 opened #1503 "JXL/bmff support"
Currently it doesn't recognize jxl images.
`The file contains data of an unknown image type`

[2021-03-20 08:26] clanmills commented on #1503
I've never heard of a jpeg-xl image.  Can you provide a test sample, please.  More importantly, what is the use case for this format and why should Team Exiv2 undertake the work to support this?

The engineering effort to support a new image format is considerable.  There has been a huge effort in the last few months to add support for bmff (.CR3, .HEIC, .AVIF).  I'm delighted to say that we relea

[2021-03-20 10:19] 1div0 commented on #1503
JPEG XL is impressive, but it is still too early to focus on the support until it becomes available in the real, not virtual world.

[2021-03-20 11:20] kmilos commented on #1503
AFAICT, it is also BMFF based, no?

[2021-03-20 11:26] 1div0 commented on #1503
No.

[2021-03-20 11:55] clanmills commented on #1503
The file smells of more of JPEG than bmff.

[code]

If that file has Exif data, it's been compressed or something.

[code]

![jpeg](https://user-images.githubusercontent.com/529982/111868495-19f9a400-8972-11eb-8a90-3ce0673497dc.png)

[2021-03-20 12:08] clanmills commented on #1503
Without a request from a major Exiv2 user, _such as **darktable** or The Gimp_, this is unlikely to be undertaken.  Our priorities in 2021:

1. v0.27.4 RC1
2. v0.28 'main'
3. transition to KDE

[2021-03-20 12:31] 1div0 commented on #1503
Encoding
[code]

Decoding
[code]

[2021-03-20 13:39] jonsneyers commented on #1503
JPEG XL, if it contains metadata, is using ISOBMFF as a container, using the same `Exif` box (and `xml ` for XMP) as other formats. Additionally, we are planning to add an option to do Brotli-compressed versions of exif and xmp metadata, though maybe it's a bit early to add support for that since JPEG XL Part 2 (which defines these things) is not finalized yet.

[2021-03-20 14:27] clanmills commented on #1503
Thank you @jonsneyers.  Do you have a sample image which contains Exif/XMP/ICC/IPTC metadata?

I doesn't look much like bmff, because I don't see box names such as ftyp, meta etc as I see in this avif file.
[code]

The reason I said Peter's file "smells like JPEG" is because it starts with byte 0xff.

[2021-03-21 19:44] jonsneyers commented on #1503
There are two kinds of valid jxl files:

1. A naked codestream, which starts with the "start of jxl codestream" marker 0xFF0A (yes, that smells like JPEG, this is after all a codec standardized by JPEG).
2. A codestream wrapped in an ISOBMFF container (signature `JXL `, ftyp `jxl `).

All render-impacting data is encoded in the codestream, including color space and orientation. So for web delivery

[2021-03-22 06:56] clanmills commented on #1503
Thank You, @jonsneyers That's very helpful.  I've cloned and I'm building jpeg-xl on macOS as follows.

[code]

The option `--recurse-submodules` manages the dependency complex which includes highway, Little-CMS and more:

[code]

I don't totally understand your comment:

However, I suspect when the build finishes, we'll  be "on the same page".  Thank You very much for your help with this.

[2021-03-22 08:31] clanmills commented on #1503
I can't build this on macOS.

[code]
I tried upgrading libjpeg.8.dylib to libjpeg.9.dylib.  Same jpeg_mem_src error.  So, I mutilated the code with a cast.  A few seconds further into the build the compiler encountered issues with tell(), seek() and other I/O function..  So, I thought to enable/disable some of the undocumented options.

[code]

I don't know what ENABLE_SJPEG is, however I tried it

[2021-03-22 10:11] kmilos commented on #1503
@clanmills FWIW, I managed to build under mingw easily:

1. Use system provided mingw-w64-x86_64-{brotli,clang,lcms2,libjpeg,libpng,libwebp,ninja,openexr}
2. Download and unpack the latest jpeg-xl tarball (0.3.4 for me)
3. Run deps.sh to get the rest of dependencies
4. Follow the rest of the instructions with some small mods:

[code]

I was then able to convert

[code]

[Reagan.zip](https://github

[2021-03-22 10:45] clanmills commented on #1503
Thanks, @kmilos for Reagan.jxl.  For sure, that smells of bmff:

[code]

I expect we'll easily decode that.  Support for this might go into Exiv2 v0.27.4 RC2.

The _'naked codestream'_ JXL (which starts with 0xff0a) will require more investigation.  We might get lucky and src/jpgimage.cpp can be easily "tweaked" to deal with that.

@jonsneyers do you have a _'naked codestream'_ test image with met

[2021-03-22 11:50] clanmills commented on #1503
I made a little change to the tvisitor.cpp code in my book, and:

[code]

As you can see, we've found the Exif and xml boxes.  The option `-pR` will require a work because metadata in AVIF and CR3 files are stored in substructures of the `meta` box.  Adding box handlers for `xml` and `Exif` is straightforward.  I will add this to tvisitor.cpp and add a paragraph to the book.

I am not committing t

[2021-03-22 13:44] clanmills commented on #1503
I've re-read the statement by @jonsneyers:

I think that means that metadata (Exif, xmp etc) is only stored in the BMFF variant of JXL.  There is no metadata in a _naked codestream_ JXL which has been streamlined for fast internet rendering.

So, it looks as though JXL support in Exiv2 only requires a few lines of code to be ported from my book.

[2021-03-22 14:43] kmilos commented on #1503
In the long run, I think parsing the "render-impacting" data in the naked codestream is generally of interest as well, e.g.

- bit depth
- color space
- transfer curve
- orientation
etc.

But I agree it is out scope for now. And then there is also the JUMBF metadata format. So while we can/should probably go for the low hanging fruit of Exif and XMP in BMFF, we should probably leave the feature re

[2021-03-22 14:47] 1div0 commented on #1503
Attention is drawn to the possibility that some of the elements of this document may be the subject of patent rights. ISO shall not be held responsible for identifying any or all such patent rights. Details of any patent rights identified during the development of the document will be in the Introduction and/or on the ISO list of patent declarations received (see www.iso.org/patents) or the IEC li

[2021-03-22 15:42] clanmills commented on #1503
@1div0 The statement _Attention is drawn..."_ was cut'n'pasted from the ISO stardard into README.md.  That's not a coincidence.  The responsibility for using the libexiv2 bmff code is passed via the application to the user.

@kmilos.  I don't think there's any difficulty in treating a _**naked codestream JXL**_ as unknown image type while parsing **bmff JXL**.  Exiv2 supports Exif/XMP/IPTC.  ICC i

[2021-03-22 17:54] clanmills commented on #1503
I've also realised (after re-reading) that @jonsneyers said:

I've never heard of brotli compression.  Presumably there's a library required to deal with that.  It looks like **naked codestream JXL** is something for the future.

To support **bmff/JXL**, I think we only have to add support for boxes `Exif` and `xml ` to bmffimage.cpp and update the test suite with Milos' file Reagan.jxl.  I'll add

[2021-03-22 19:18] veluca93 commented on #1503
There is no Exif or XMP metadata in a "naked codestream" JXL file - it's just not supported by the format, so nothing needs to be done there.

Leaving support for brotli-compressed boxes to the future is perfectly fine - they are not even fully specified yet, while `Exif` and `xml ` boxes are and should be exactly the same as the same boxes in other formats.

[2021-03-22 19:34] clanmills commented on #1503
Thank you @veluca93.  You've confirmed my understanding of the situation.

You are quite correct that the `Exif` and `xml ` boxes can appear in any bmff file.  CR3, HEIF (and AVIF) use other features of bmff to store that metadata.  The Exiv2 bmffimage.cpp code handles those more devious files and doesn't handle the simpler boxes!

It is easy to add the `xml ` and `Exif` box handlers.  I did it in

[2021-03-22 19:40] kmilos commented on #1503
I beg to differ, there is very useful information about the image there, see above.

[2021-03-22 19:54] clanmills commented on #1503
@kmilos.  I think @veluca93 and @jonsneyers are saying there is no Exif, XML or IPTC metadata in a **naked codestream JXL**.  And you're saying there is useful information there about about the image (size, orientation and so on).

I think we're all in agreement, aren't we?

[2021-03-22 20:08] kmilos commented on #1503
That's accurate, yes.

[2021-03-22 20:09] veluca93 commented on #1503
Yes, there is no Exif, XML or IPTC. There can be an ICC profile (or equivalent), image dimensions and intrinsic size, bit depth of the original image, and an orientation flag as far as I remember on the top of my head - as well as a preview, which might be considered a form of metadata I guess - but not Exif, XML or IPTC.

The header format for naked-codestream-JXL is (to the best of my knowledge)

[2021-03-22 20:24] kmilos commented on #1503
Thanks Luca, that was very helpful information.

[2021-03-23 09:47] clanmills commented on #1503
I've added a new section to my book concerning JXL:  https://clanmills.com/exiv2/book/#JXL

Thank you to @veluca93 and @jonsneyers for very useful information.  Thank you to @kmilos and @1div0 for your participation in this discussion.

------------------------

### JPEG-XL Format

The JXL format is the current contendor to replace JPEG/GIF as the most popular image format.  At the time of writing

[2021-03-23 09:54] veluca93 commented on #1503
To answer some of the implicit questions in what you wrote:

- IIRC the 4 payload bytes have no meaning, but just try to detect the most common mistakes like ie. opening the file in text mode (which is why there is a 0x0a there)
- jbrd: JPEG Bitstream Reconstruction Data. This is used to store information to reconstruct a recompressed JPEG in a bit-exact way.
- jxlc: indeed codestream, identical t

[2021-03-23 10:07] clanmills commented on #1503
@veluca93 Thank You very much for this very useful information.  I'll update the book.  That's a good trick to put those binary bytes (such as 135) into the payload of the JXL box.  Everything you've done makes sense to me.

Best Wishes in your mission.  The whole world wants to move on from JPEG/GIF.

[2021-03-23 10:10] kmilos commented on #1503
@clanmills I'd also move the [Brotli](https://en.wikipedia.org/wiki/Brotli) (just more advanced zip/deflate) note to the second (BMFF based) section, as it only pertains to Exif and XMP compression.

[2021-03-23 10:17] kmilos commented on #1503
Well, this part is not quite ideal for metadata parsers... Though I see why it would makes sense for image renderers.

[2021-03-24 10:49] kmilos commented on #1503
Found some nice public info about the header metadata and ICC decoding here: https://arxiv.org/abs/1908.03565 (Annex A and Annex B are of relevance). Might be slightly out of date, but it's something to chew on for starters; one should verify against the  reference jpeg-xl software finally of course.

@clanmills How about clearly splitting and documenting this FR in 2 parts: `Exif` and `xml` box e

[2021-03-24 10:58] clanmills commented on #1503
Thanks, @kmilos.  This is very helpful.

For sure, it's a two step process to fully support JXL.  I think this issue should be renamed "Support JXL/bmff".  It's likely to ship in v0.28 on 2021-09-15.  You'll see I have set the milestone to v0.27.4, however that's just to keep it visible on my TODO list.  I will probably defer it for v0.28.

Can you open another issue (with no milestone) "Support J

[2021-03-24 11:06] veluca93 commented on #1503
IIRC the only part that is even remotely up to date in that document is the ICC predictor. The source code is probably the best place to get information from, i.e. https://gitlab.com/wg1/jpeg-xl/-/blob/master/lib/jxl/headers.h

[2021-03-24 14:54] clanmills opened #1505 "study Unified Metadata Container implementation on unstable"
I'm going to study this and report back.  It would be great to get this into '0.28' as I believe this could be crucial to reach the goal in Exiv2 1.0 of a stable API that we believe can endure.

[2021-03-24 21:48] clanmills commented on #1505
I have this building and working.  There's a new file key.cpp of about 800 lines of code.  Mostly template stuff.  There are a couple of new classes Key1 and and Tag1.  These are used in actions.cpp to enumerate and delete stuff.  However actions.cpp is still using ExifData, XmpData and IptcData.  Maybe that's simply because Andreas has converted all the application code to take advantage of this

[2021-03-25 02:47] arun54321 commented on #1503
Should I rename the issue to Support JXL/bmff ?

[2021-03-25 05:14] clanmills opened #1506 "JXL/codestream support"
There is thorough discussion of the emerging JXL standard in #1503.

JXL can have two different file structures.

1. JXL/bmff
The file is bmff formatted.  Adding support for this format in tvisitor.cpp (the code in my book) required less than 30 lines of code.  The effort in Exiv2 will be similar.  The `jxlc` box contains the codestream.  The metadata is stored in the boxes `Exif` and `xml `.  The

[2021-03-25 05:18] clanmills commented on #1503
Thank You, @arun54321 for your feedback.  I have opened #1506 for future work on JPX/codestream and renamed this issue to deal with JPX/bmff.  I hope the direction we have taken on this issue meets your hopes and expectations.

[2021-03-25 07:25] clanmills commented on #1505
I'm rather puzzled by the implementation of the Unified Metadata Container.  Andreas introduced a new class Key1 which holds an ExifKey, IptcKey or XmpKey instance.  However there's no class Metadata.  I would expect things to work as follows:

[code]

Applications are not required to use classes ExifData[], IptcData[] and XmpData[].  For backwards compatibility, it's good to keep the existing xxx

[2021-03-25 16:51] clanmills opened #1507 "Exiv2 command-line summary reports avif image size 0x0"
Exiv2 v0.27.4 RC1 Summary Report has image size as 0x0.  The image size is correctly detected by the metadata parser as 1920,1280.

I don't consider this to be a "must fix" issue.  If "must fix" issues are detected with RC1, I will fix this for RC2.

I believe the "Summary Report" in the exiv2 command-line utility was something from the very early days of the Exiv2 project.  It reports data such a

[2021-03-25 17:35] clanmills commented on #1505
Good Progress.  We don't need to synchronize the data.  We simply copy it on demand.  I've written the following function in image.hpp.  Andreas seems to have omitted this.  I'll search some more.

[code]

I've added the following code to exifprint.cpp to test this:

[code]

The result is splendid:

[code]

As always with Andreas' code, I am surprised and very pleased by his solution.

I'm sure a

[2021-03-26 09:19] kmilos commented on #1493
I just tried building dt master w/ this patch, but made a mistake of forgetting to build RC1 w/ `-DEXIV2_ENABLE_BMFF=ON`...

The result is a compile error like "enableBMFF is not part of Exiv2 namespace".

Something we should fix probably, I guess we should export this method in any case, just return false if exiv2 is built w/o BMFF support?

[2021-03-26 09:23] clanmills commented on #1507
[code]

I'm not going to update the test suite concerning this at the moment.  Testing the "Summary Report" is tedious.  I'll like to see the summary report re-engineered for 0.28 to give the use for the data items to be displayed.  When that work is carried out, the summary report testing will be greatly enhanced.

[2021-03-26 09:31] clanmills commented on #1493
Milos. I'm surprised.  The code should compile with a library built with -DEXIV2_ENABLE_BMFF=OFF.

You have to "guard" the call to Exiv2::enableBMFF() to ensure that the code will compile with Exiv2 < 0.27.4.  Like this:

[code]

This is documented in README.md.  I spoke to @1div0 about a month ago and I thought that code was added to **darktable**.

[2021-03-26 09:42] kmilos commented on #1493
Yes, [that's the patch](https://github.com/darktable-org/darktable/pull/8340/files#diff-1fb9a54118db259d6650881b4ce3926378900701e099cadd0914eca14c97262d), and it fails to compile here (up to date MinGW) when `-DEXIV2_ENABLE_BMFF=OFF`.

[2021-03-26 09:45] kmilos commented on #1493
I admit it is pretty weird since it is not guarderd by any #ifdef in the header file, so should be exported...

Maybe I did something wrong, I'll check again

[2021-03-26 09:54] clanmills commented on #1493
Crap.  It's a bug.  I'll have to fix that.  The work around (for now) is of course:

[code]

[2021-03-26 10:00] clanmills commented on #1493
The fix is:

[code]

I'll open an issue report about this.  Thank You for letting me know.

[2021-03-26 10:07] clanmills opened #1508 "Exiv2::enableBMFF() not in library built with -DEXIV2_ENABLE_BMFF=Off"
See: https://github.com/Exiv2/exiv2/issues/1493#issuecomment-808063425

This entry point is required in the library for v0.27.4.

Fix is:
[code]

The work around is to "double guard" the code as follows:

[code]

User code using "double guarding" will not require maintenance when this issue is fixed.

[2021-03-26 10:08] clanmills commented on #1493
Logged: https://github.com/Exiv2/exiv2/issues/1508

[2021-03-26 10:12] 1div0 commented on #1508
@clanmills thank you so much. I am sorry.
@kmilos Hvala.

[2021-03-26 10:13] kmilos commented on #1508
Ok, so the guard was at a higher level...

But I guess you still don't want to export all the methods from bmffimage.hpp always, only enableBMFF(), and guard everything else, no?

[2021-03-26 10:15] clanmills commented on #1508
You know, there's a trivial fix.  Update README.md to say to use:

[code]

That'll work perfectly and doesn't need RC2.

[2021-03-26 10:20] kmilos commented on #1508
That works too ;)

[2021-03-26 10:23] clanmills commented on #1508
@kmilos Yes. You are correct.  That fix will build the bmff code.  Changing the documentation is a nice and logical fix.

Although the code is in the library, you can't access it:

[code]

It's in the library:
[code]

[2021-03-26 10:24] clanmills commented on #1508
@1div0 Please don't apologise.  The whole point of testing is to find faults and errors.  It's more terrifying if we don't find anything.

[2021-03-26 10:44] clanmills commented on #1508
Yikes.  I think I've found a bug in CMake!  When I change -EXIV2_ENABLE_BMFF=On|Off and rebuild in a dirty directory, the library includes the bmff code (however it correctly cannot be accessed).

All builds on the CI (and the MacMini) are clean clones, so this is harmless.  It's "kind of curious" in a nerdy kind of way.

The simplest and most elegant fix is to change the documentation.

[2021-03-26 11:08] clanmills commented on #1508
There's no doubt at all in my mind that this is a documentation error.  The cmake code only compiles the bmff code when EXIV2_ENABLE_BMFF is on:

[code]

CMake is not handling this correctly in a "dirty" directory.  Let's not worry about that.

The entry point Exiv2::enableBMFF(bool) should only be in the library when built with bmff support.  User code should defend itself (from Exiv2 < 0.27.4) w

[2021-03-26 11:15] clanmills commented on #1493
#1508 is a documentation error.  The correct way to use enableBMFF() is:

[code]

@1div0 I think there's an implication for you because I believe you submitted the `#if EXIV2_TEST_VERSION(0,27,4)` code to libavif and/or digikam.

I think @kmilos has this covered for **darktable**.

[2021-03-26 11:21] kmilos commented on #1493
I think @1div0 authored all the patches above that need to be refreshed.

[2021-03-26 11:27] 1div0 commented on #1493
I will take care of it during happy WE.

[2021-03-28 14:09] treebacker opened #1509 "A integer overflow in"

[2021-03-28 14:11] #1509 closed

[2021-03-31 14:11] 1div0 commented on #1466
Version 1.0 with JPEG XL and WebP 2, right?

[2021-03-31 15:02] clanmills commented on #1466
@1div0.  WebP has been supported since 2016.  You're right.  I should add JXL.  We only need to add a few lines of code to support JPX/bmff.  JPX/codestream is still being negotiated by the standards committee and only adds support for ICC profiles which we don't support in every image format.

@imsodin
When Alison and I stayed with Andreas and his family in 2016, Andreas and I had our one-and-onl

[2021-03-31 15:39] 1div0 commented on #1466
@clanmills I meant https://chromium.googlesource.com/codecs/libwebp2/

[2021-03-31 17:34] clanmills commented on #1466
Ah WebP2.  I haven't thought about that at all.

I have no idea why Google, Apple and all those people keep re-inventing the wheel.  In the process of writing the book, I discovered that the current versions of BMP (the Native Windows bitmap) now supports ICC profiles.  I'm believe BMP files from Windows/1.0 will be respected by current windows.  I believe Windows/1.0 will open BMP files created o

[2021-04-01 09:38] clanmills commented on #1466
**To Reach Exiv2 v1.00**

We are now within sight of Exiv2 v1.00 and could achieve that by the end of 2021.  In many ways this is a more desirable goal than KDE.  Exiv2 declaring v1.00 says **Exiv2 is complete**.  If KDE wish to take over the project in 2022, that will be fine.

I think it's better to use our limited resources to reach Exiv2 v1.00 on GitHub and not put effort into working with KDE

[2021-04-01 10:59] 1div0 commented on #1466
I can and will finish localisation to Slovak & Czech, my primary and secondary languages.

[2021-04-01 11:06] 1div0 commented on #1466
Also, please correct JXP/codestream to JXL as an abbreviation of JPEG XL. Thanks.

[2021-04-01 11:40] clanmills commented on #1466
Thanks for your input, Peter (@1div0).  This is forming a nice project.  Nobody has to do a lot of work _**and**_ nobody is stuck with this forever and ever.

Apparently KDE have localisation folks to whom we can send the files.  I've never discovered how to access that channel.

I'm thinking about bullding RC2 next week to include the JXL/bmff code.  The code will then be frozen and I will open b

[2021-04-01 11:42] 1div0 commented on #1466
I do have a very good experience with https://crowdin.com for ML based localisation. Probably worth to explore.

[2021-04-01 12:08] lbschenkel commented on #1466
If there's interest, I could volunteer to localize to Brazilian Portuguese (my native language). I also have previous experience with Crowdin.

[2021-04-01 12:45] clanmills commented on #1466
@lbschenkel Thanks.  I've updated the task table.  You've got that task.

Localisation is documented in README.md.  It's driven by gettext technology.  I believe this is a commonly used approach.

Some companies provide free services and products to open-source projects.  Perhaps you could explore that with Crowdin.  As Exiv2 has no revenue, so we are unable to pay for a license.

[2021-04-01 13:01] lbschenkel commented on #1466
I'm also familiar with gettext, so that is not a problem to me. However, Crowdin can be easier for non-developers to contribute translations since they can do it directly via the website compared to editing PO files, which is a bit awkward.

Crowdin is free-of-charge for open source projects, and I could apply on behalf of the project, but only the project lead can do so: https://crowdin.com/page/

[2021-04-01 13:10] clanmills commented on #1466
I've filled in the application form.  I think they expect you to have already created something on their platform.  I don't want to start learning about Crowdin.  Is it a big job to tool up to use this platform?  Can you set up the necessary resources?

[2021-04-01 13:16] lbschenkel commented on #1466
It's not hard. I can volunteer to set the project up as an experiment if you want, and then you can judge if it's something that you think that could be useful to the project.

But I think if I do that, it'll be tied to my account at first. I should be able to transfer it to somebody else's account.

[2021-04-01 13:28] clanmills opened #1510 "Investigate localisation using Crowdin"
Prior discussion:  https://github.com/Exiv2/exiv2/issues/1466#issuecomment-811891100

I've received an email from Crowdin.

And my reply is:

@lbschenkel Can you set up the project.  I can forward the details to Crowdin.

[2021-04-01 13:29] clanmills commented on #1466
I have opened a new issue "Investigate Localisation using Crowdin" for further discussion.  #1510

Please be aware this topic "The Future of Exiv2" is circulated to about 200 people who have contributed to Exiv2 since 2004.

[2021-04-01 13:40] clanmills commented on #1510
Their reply is:

To which I have replied:

[2021-04-01 14:02] clanmills commented on #1510
And they followed that with:

So, everything looks good to me.

[2021-04-01 14:30] lbschenkel commented on #1510
I set up the project and uploaded the PO files from 0.27 maintenance branch.
It is available at https://crowdin.com/project/exiv2/

I configured the project to be open, so anybody can contribute translations but everybody must have a Crowdin account.

In Crowdin there are 4 roles of members: https://support.crowdin.com/modifying-project-participants-roles/
I am currently the owner. What I recommen

[2021-04-01 14:32] lbschenkel commented on #1510
And by the way: just let me know of any accounts that I should add to the Crowdin project (and which role).

[2021-04-01 16:51] clanmills commented on #1510
@lbschenkel Because I know nothing about Crowdin, I don't understand the options and possibilities.  I'll be happy to forward you the emails from Crowdin and you can discuss directly with them.

I will setup an account and give you the details.  @1div0 and @alexvanderberkel will probably do this also.

This seems like a really good way to proceed with localisation.  Since I took on the maintenance

[2021-04-01 17:04] lbschenkel commented on #1510
No problem. By the way, I was the lead developer globally for Globalization for a former employer and built most of the tooling and processes, so I have a lot of experience in this domain – including gettext.

I spent some minutes trying to translate to Brazilian Portuguese and I already identified a number of "localization bugs" in the codebase that make some text untranslatable. A few examples:

[2021-04-01 17:23] clanmills commented on #1510
Well, you're the expert.  For sure, I'm a typical english-speaking engineer and hide when anybody says "localisation".

When I documented localisation, I was of the impression that every string to be translated has a marker/reference back to the code.  So every translation of the same word can be modified by context.  Maybe not!

I didn't write any of the localisation code, so I'm not going to def

[2021-04-02 07:37] clanmills opened #1511 "Clean up back-log from old-master"
Salvage work on branch old-master.  I'll review the open PRs.  I think they've all been fixed on the 0.27-maintenance branch for v0.27.4.

[2021-04-02 08:09] clanmills commented on #1510
@lbschenkel I emailed Crowdin this morning:

Right.  You're from Brazil and live in Malmö.  I guess there are not many Brazilians in Malmö.  I spent 3 months in Copenhagen as a student in 1972, so been to Malmö _(and Lund)_ a couple of times.  I was 70 in January this year.  We retired in England in 2014 after 15 tough years in Silicon Valley, California.  I was a Senior Computer Scientist at Adob

[2021-04-02 08:18] clanmills commented on #1510
https://user-images.githubusercontent.com/529982/113397058-5d053f80-9394-11eb-8752-51c03e2e01eb.mp4

[2021-04-02 08:52] clanmills commented on #1510
I've received the following email from Crowdin:

https://crowdin.com/page/open-source-project-setup-request

I've filled in the open-source request again.

I see you've granted me manager rights on the Crowdin project.  Everything seems fine.

[2021-04-02 09:34] clanmills commented on #1510
And they've replied:

[2021-04-02 10:58] clanmills commented on #1510
I've announced the Crowdin project on the Exiv2 Facebook Page:  https://www.facebook.com/exiv2/posts/10158647258659091

When I release v0.27.4 RC2 next week, this will be documented in the release notes and README.md.  You're welcome to comment on my words.  Exiv2 v0.27.4 GM is scheduled to ship on 2021-04-30.

[2021-04-02 15:05] clanmills commented on #1507
Fix submitted: PR #1512

[2021-04-02 15:07] clanmills commented on #1501
I'm going to punt this to v1.00.  Exiv2 v0.27.4 is better than previous releases.  We'll get this right for v1.00.

[2021-04-02 16:01] clanmills commented on #1508
Fix submitted.  PR #1513

[2021-04-02 16:03] clanmills commented on #1505
I don't intend to do any more work on this for v0.27.4.  I've done sufficient work to be confident that this code is really good and should be ported to branch 'main' to ship in v1.00.

[2021-04-02 16:23] clanmills commented on #1510
I've moved this issue to Milestone v0.27.4 to remind me to update README.md concerning Crowdin. When the documentation has been updated, we can close this issue.  If we start a discussion about using Crowdin, we should open a new issue for the v1.00 milestone.

[2021-04-02 20:11] #1507 closed

[2021-04-02 20:12] #1508 closed

[2021-04-03 07:38] clanmills opened #1514 "Replace every EXV_ symbol with EXIV2_"
I've never understood the advantage in removing vowels from symbol names.  It's a relic of UNIX in 1968 or something.  It's difficult to type and makes no sense.

Doing this has an enormous ripple through the code base.  Much too brutal to be applied to a release candidate. It'll be done on 'main' early in the v1.00 project.

The only relic of this that should endure is the .exv file format which

[2021-04-03 08:00] clanmills opened #1515 "Investigate removing xmpsdk from code base"
Exiv2 has been shipping with a copy of the Adobe XMPsdk for a very long time. We don't include the code of any other dependency (expat, libz, libiconv and others).  I think the reason is because the early versions of exiv2 had no CMake support and XMPsdk has always exclusively used CMake.

Luis added support to build and link more modern versions of XMPsdk to v0.27 for several reasons:

1. Several

[2021-04-03 08:06] clanmills opened #1516 "Build is using incorrect include path"
I've been aware for some time that there's something wrong with the path to the include files.  I first noticed it when I shipped v0.27.3.  The following day somebody reported something similar #1240  I investigated without success.

The build uses /usr/local/include/exiv2/exiv2.hpp.  It should use \<builddir\>/include/exiv2/exiv2.hpp

[code]

[2021-04-03 09:33] clanmills commented on #1510
@lbschenkel It looks as though the Crowdin project is up and running.  I clicked the "Download" button and got a directory with po files.  They'll have to be renamed and submitted as a PR into 0.27-maintenance.

I intend to release Exiv2 v0.27.4 RC2 on Tuesday.  I hope to release that code as v0.27.4 GM on 2021-04-30.

I only change version numbers and release notes when I promote RCfinal to GM.

[2021-04-03 09:48] lbschenkel commented on #1510
Yes, but I can set up a custom mapping in Crowdin so they'll have the expected names and no rename is necessary. Unfortunately Crowdin does not use the standard IETF/BCP 47 codes for all locales.

Also keep in mind that just as an experiment, I have enabled "pre-translation" via machine translation. Most files had very low coverage, way below 50%, so most the translations you are going to get aren

[2021-04-03 14:27] clanmills commented on #1503
Fix for JXL/bmff added.  PR: #1519.  This fix will be in Exiv2 v0.27.4 RC2 expected 2021-04-08.  Fix will be in Exiv2 v0.27.4 GM scheduled for 2021-04-30.

[2021-04-03 17:09] #1503 closed

[2021-04-03 17:46] clanmills commented on #1510
If you're willing to provide Crowdin support to Team Exiv2 for 9 months to get us to v1.00, that would be really great.  Peter (@1div0) has volunteered Slovak and Czech.  Alex (@alexvanderberkel) has volunteered German.  Luis (@piponazo) is Spanish.  Toni (@bellaperez) does Catalan.  Gilles (@cgilles) does French.  I don't expect a sudden rush of contributors to localisation.  I hope those folks w

[2021-04-03 18:50] kmilos commented on #1514
Yeah, it looks like there is no real need to duplicate EXIV2_* cmake options with new EXV_* variables that are used in `cmake/config.h.cmake`, one could use directly the EXIV2_* options in that header template instead; see the example at the bottom [here](https://cmake.org/cmake/help/latest/command/configure_file.html).

[2021-04-04 06:13] piponazo commented on #1510
Hi! That Crowdin tool seems to be quite nice. I took a look to the Spanish translations and I corrected few of them. I could take care of double check all the items for that language.

I could also check @lbschenkel what would be the best way to integrate the tool with out CI pipelines, so that we can generate releases in an automatic way.

[2021-04-04 07:18] lbschenkel commented on #1510
I have changed the project settings, so now when you download the .zip with the translations the files will match the names used by this project so you can simply unzip in the `po` directory:

- Settings for `exiv2.pot` under "Files":
  ![image](https://user-images.githubusercontent.com/1428661/113501408-27439080-9525-11eb-8364-f0c96877ce7f.png)
- Language mappings under "General":
  ![image](http

[2021-04-04 07:51] lbschenkel commented on #1510
I have played with GitHub integration on my own fork. You can see how it works in the project settings under "Integrations".
The way this works is that it'll automatically pick up changes to `exiv2.pot` [1] and upload that file to Crowdin. Then for new translations, it'll add a PR against the repo like this: https://github.com/lbschenkel/exiv2/pull/1

We need to have a `crowdin.yaml` committed to

[2021-04-04 08:24] clanmills commented on #1510
@lbschenkel Excellent.  And great work as always by @piponazo
Leonardo:  Please visit the chat server and I will introduce you to the gang:

![#exiv2-chat on matrix.org](https://user-images.githubusercontent.com/529982/113502940-f1071080-9526-11eb-89af-393a48e9776d.png)](https://matrix.to/#/#exiv2-chat:matrix.org)

I've remembered that @pmatth2 updated the Dutch localisation and might be very inte

[2021-04-04 08:40] clanmills commented on #1510
I don't think the Java dependency will cause a problem.  That's much the same as needing various tools to generate the on-line docs.  Here are the build options:
[code]

You'll see we have EXIV2_ENABLE_NLS to build NLS support into the library.  When you do `$ sudo make install` some gettext magic runs to install localisation files.

In the case of the docs, the doxygen commands are generated in t

[2021-04-04 11:38] clanmills commented on #1516
[code]

[2021-04-05 12:00] clanmills opened #1521 "Deprecate exiv2.org and binary builds for v1.00"
I've decided to deprecate exiv2.org with v1.00 and move those resources to the GitHub wiki for the following reasons:

1 Having our own web-site is a 20 year old idea.  The GitHub Wiki is a viable alternative.
2 I pay the hosting build.  I doubt if anybody will pay this.

I think we should discontinue publishing binary builds of Exiv2 for the following reasons:

1 Platform package managers can bui

[2021-04-05 13:43] yuawn opened #1522 "Heap-buffer-overflow and OOB memory access in src/jp2image.cpp:359:77"
Hi, I found a vulnerability in current master `src/jp2image.cpp:359:77`
There was an improper check of the `rawData.size_`, it can lead to heap overflow and memory access out-of-bounds.

Here is the ![poc](https://user-images.githubusercontent.com/5111198/113578252-172ace80-9655-11eb-9109-7ee88bde20f1.jpg) and the ASAN details:

[code]

[2021-04-05 14:12] clanmills commented on #1522
Please provide a proper description of how you produced this error and your input file.  Please provide:

1.  The options used to build exiv2.
2.  Your test image.
3.  The command-line options you used.
4.  Accuratly pin-point the version code in used.  Did you obtain this version recently?
5.  The platform being used.

We have discontinued the 'master' branch and renamed it 'old-master'.  We are

[2021-04-05 14:24] yuawn commented on #1522
Hi @clanmills

1. `cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF`
2. [poc.jpg.gz](https://github.com/Exiv2/exiv2/files/6258589/poc.jpg.gz)
3. `exiv2 ./poc.jpg`
4. current master `a750ea2`
5. Linux 5.10.13-051013-generic #202102032337 SMP Thu Feb 4 00:17:21 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

In poc It only allocate 1 byte by `rawData.alloc(box.length - (sizeof(box) + sizeof(uuid

[2021-04-05 15:31] clanmills commented on #1522
Thank you for getting back to me.  And thank you for providing accurate details to reproduce your report.

I can confirm I have reproduced this on branch 0.27-maintenance and hope to provide you with a patch later today.  I will delay releasing Exiv2 v0.27.4 RC2 to ensure we reach closure on this issue.

[2021-04-05 15:40] clanmills commented on #1522
[code]

And when I run your file:

[code]

[2021-04-05 18:52] kmilos commented on #1522
Btw, would the [same/similar bmff fix](https://github.com/Exiv2/exiv2/issues/1507) help here for the 0x0 image size as well?

[2021-04-05 19:18] clanmills commented on #1516
See discussion #1520 which I have closed.  I have to find proof of a fault before submitting a PR for this.

[2021-04-05 19:35] clanmills commented on #1522
Fix submitted: #1523.

[2021-04-05 19:54] clanmills commented on #1522
@kmilos.  Ah, no this is a parsing error.  We should consider replacing jp2image.cpp with bmffimage.cpp for v1.0 because it's shorter and simpler.  I didn't do that for v0.27.4 for the following reasons:

1.  jp2image.cpp has been in the code base for about 10 years and given good service.  This has been the first issue for several years concerning this code.
2. bmffimage.cpp is read-only and jp2i

[2021-04-05 20:10] jiemdev opened #1524 "Error: Directory Samsung2 with 21313 entries considered invalid; not read."
Hello,

When I read exifs from DNGs from a Samsung GX20 camera, I get following warning:
"Error: Directory Samsung2 with 21313 entries considered invalid; not read."
then very few tags are printed (only standard exif tags).

The problem is: I can not read any Exif.Samsung2.xxxxx tags with exiv2 (for example the lens type contained in Exif.Samsung2.LensType, and this tag is needed to apply automati

[2021-04-05 20:27] kmilos commented on #1522
Ah, sorry, I just assumed the code base was very similar since the jp2 and bmff specs are pretty much the same, should've checked first... Merging them in the future makes total sense.

[2021-04-05 21:48] clanmills commented on #1524
@jiemdev Thank You for your report.

Lots of work has been completed in the last few month on the 0.27-maintenance branch concerning DNG support.  This will ship on 2021-04-30 as Exiv2 v0.27.4.  Can you build and test that branch with your files.

Can you attach a file from your Samsung GX20 and I will investigate.  It would help if you identify relevant tags successfully reported by ExifTool.  Pe

[2021-04-05 22:02] clanmills opened #1525 "Investigate supporting JP2000 in bmffimage.cpp and remove jp2image.cpp from the code base."
See: https://github.com/Exiv2/exiv2/issues/1522#issuecomment-813613535

[2021-04-05 22:06] clanmills commented on #1522
@kmilos.  I've opened a new issue for v1.00 #1525.  Perhaps @hassec will volunteer.  He did excellent work on CR3 support in bmffimage.cpp for v0.27.4.

[2021-04-06 06:43] carnil commented on #1522
This issue appears to have been assigned CVE-2021-3482.

[2021-04-06 07:36] jiemdev commented on #1524
Hi, sure I send you a file:
[SG204732.DNG.zip](https://github.com/Exiv2/exiv2/files/6262835/SG204732.DNG.zip)

I just tried with v0.27.4-RC1 and I get the same error.

For example, an important data is the lens information. It does not appear with exiv2 (even with -p a), whereas exiftool -g is able to detect:
"
---- MakerNotes ----
[...]
Lens Type                       : Tamron AF 17-50mm F2.8 XR

[2021-04-06 07:42] clanmills commented on #1524
Thanks.  This will have to wait for attention.  I will quickly look this today, however I doubt if very much can be done immediately.  We're focused on Exiv2 v0.27.4 at the moment and hoping to release RC2 today.  We're aiming for GM on 2021-04-30 (ahead of the schedule which is 2021-05-22).

[2021-04-06 09:13] clanmills commented on #1524
I've looked at this and have made progress.

I've encountered RICOH files which use Pentax MakerNotes.  SAMSUNG must be doing something similar.

I am writing a book "Image Metadata and Exiv2 Architecture".  https://clanmills.com/exiv2/book/  The book's code is called tvisitor.cpp and is a simplified version of Exiv2.  tvisitor reads your file without reporting the mysterious message `Error: Direc

[2021-04-06 09:22] clanmills commented on #1522
@yuawn As you can see, PR #1523 has been code reviewed and approved.  If you have further comments to make, please let me know as soon as possible.  I hope to merge this later today and release Exiv2 v0.27.4 RC2 with this fix tomorrow.

[2021-04-06 14:15] clanmills commented on #1510
@lbschenkel I have updated the documentation about Crowdin in PR: #1526.  I've updated GitHub to send you an invitation to have write access to the Exiv2 repository.  When you have accepted that invitation, I will be able to invite you to review/approve the documentation change.  You are of course entitled to request changes to my update.

[2021-04-06 14:25] clanmills commented on #1516
Compiling geotag.cpp reads /usr/local/include/exv_conf.h

[code]

[2021-04-06 14:28] clanmills commented on #1516
The patch for geotag.cpp is:
[code]
I'm going to "let this go" and not submit a change.

[2021-04-06 14:32] clanmills commented on #1510
Having submitted PR #1526, I've changed the Milestone for this issue to v1.00.  This issue should not be closed when #1526 merges.

[2021-04-06 14:42] lbschenkel commented on #1510
Thanks for inviting me to the project. Although I will have commit rights, I don't intend to do any direct changes without submitting a PR and having another pair of eyes approving it.

[2021-04-06 14:56] clanmills commented on #1510
@lbschenkel You have write to the repos and your branches.

However, you will have to use a PR to submit changes to important branches such as 0.27-maintenance.  All PRs require on review/approval.  There is an "admin" level of access (which Luis and Dan have) which enables you to mess with those settings, invite/remove users _AND_ provides a big red button to "merge anyway" for unapproved PRs.

Y

[2021-04-06 14:59] lbschenkel commented on #1510
Yes, understood. I have commit rights to other open source projects as well and this is already my regular _modus operandi_.

[2021-04-06 15:23] #1522 closed

[2021-04-06 16:09] piponazo commented on #1502
Hi @clanmills. When you said:

To which file are you referring to? Could you attach it in the issue? I wanted to take a look to #1527 , but I would need to see the errors reported in the first place (and try to reproduce it on my system too).

[2021-04-06 16:20] clanmills commented on #1502
You can download the msvc build from pre-release.exiv2.org  https://pre-release.exiv2.org/builds/exiv2-0.27.4.1-2019msvc64.zip  The logs is logs/build.txt and finishes:

[code]

Because this python test timed out, the test suite was abandoned and didn't run version_test.  I want it to run all four elements and not give up when there's an error.

[2021-04-06 19:14] clanmills commented on #1502
This is a nuisance on the mac-mini buildserver.  It's working fine on the CI.  So let's do nothing about this.

[2021-04-06 19:14] #1502 closed

[2021-04-07 08:04] jiemdev commented on #1524
Hello,

I have some knowledge in C++, I can fork the project and try.
Will wait for v0.27.4

[2021-04-07 09:06] clanmills commented on #1524
Thanks for getting back to me.  This is not an easy change.  There is support for Samsung branded Pentax cameras in the Exiv2 code-base.  The existing code expects the makernote (called DNGPrivateData in DNG) to begin with the string "AOC\0".  In your file, that tag is:

[code]

I didn't write Exiv2.  So there are gaps in my knowledge of the code.  I wrote tvisitor for several reasons:

1.  To und

[2021-04-07 14:31] clanmills commented on #1524
My diagnosis is 100% correct.  I have modified the "AOC\0" header to be "SAMSUNG\0" with _almost_ complete success:

[code]

The changes are modest:

[code]

What remains to be done:
1. Changing this code causes the test harness to fail because we've "lost" support for the "AOC" Samsung/Pentax lenses.
2. We must restore the existing code and add new classes as I explained earlier.
3. We could modi

[2021-04-07 16:29] clanmills commented on #1516
There is something HORRIBLY wrong when the machine isn't clean.  The test suite can fail on Ubuntu.  We can get linking errors.  I'd like to see this totally understood and solved for v1.00.

[2021-04-07 16:40] clanmills commented on #1516
The linkage error is at run-time concerning the symbol _ZN5Exiv217exposureBiasValueERKNS_8ExifDataE which is in the library:

[code]

The following is typical:
[code]

There's something wrong.  We're using the wrong library at run time or something like that.

[2021-04-08 03:01] henices opened #1529 "heap-buffer-overflow write in Exiv2::Jp2Image::doWriteMetadata"
**VERSION**
exiv 2 0.27.4.1
https://github.com/Exiv2/exiv2/tree/0.27-maintenance

**REPRODUCE**

Compile exiv2 with asan:

[code]
Dowload testcases:

https://github.com/henices/pocs/raw/master/tests_83a94b3337206caa6803f625eb63db061395cf14
https://github.com/henices/pocs/raw/master/tests_83a94b3337206caa6803f625eb63db061395cf14.exv

exiv2 in tests_83a94b3337206caa6803f625eb63db061395cf14

[code]

[2021-04-08 05:57] clanmills commented on #1529
Please provide your command-line to reproduce this issue.

I will fix this later today.  I did intend to release Exiv2 v0.27.4 RC2 today.  I will delay that for a few days to deal with anything else you discover in the next few days.

[2021-04-08 06:48] henices commented on #1529
exiv2 in tests_83a94b3337206caa6803f625eb63db061395cf14

[2021-04-08 07:14] clanmills commented on #1529
Thanks.  I am now able to reproduce this.  It will be fixed today.

[code]

I will delay releasing Exiv2 v0.27.4 RC2 to deal with any other issues that your discover.

[2021-04-08 07:27] henices opened #1530 "heap-buffer-overflow Read in Exiv2::Internal::CrwMap::encode"
**VERSION**
exiv 2 0.27.4.1
https://github.com/Exiv2/exiv2/tree/0.27-maintenance

**REPRODUCE**

Compile exiv2 with asan:

[code]

Dowload testcases:

https://github.com/henices/pocs/raw/master/tests_1bd0a5f4935b053f33ac00f931dde1f47a043487
https://github.com/henices/pocs/raw/master/tests_1bd0a5f4935b053f33ac00f931dde1f47a043487.exv

Run command:  `exiv2 in tests_1bd0a5f4935b053f33ac00f931dde1f47a

[2021-04-08 12:45] clanmills commented on #1530
What is your plan here?  This is the third similar CVE in three days.  Exiv2 v0.27.4 is scheduled to ship on 2021-05-22.  Are you planning to continuously bombard us with CVEs for weeks and months?

Is it possible to have a Zoom meeting to discuss your intention and how we can cooperate?

[2021-04-08 22:10] prokoudine commented on #1521
Relying on 3rd party infrastructure for everything opens the gates for all sorts of crazy.

https://www.gimp.org/news/2015/05/27/sourceforge-what-the/

You can run a small static website without downloads on render.org with a free account.

You can talk to Pixls.us team about hosting exiv2.org.

But it is ultimately your decision. No pushing.

[2021-04-09 00:42] henices commented on #1530
@clanmills  Thanks for your hard work to make exiv2 better.  I have indeed several other exiv2 security bugs,  but I don't submit all the bugs at the same time, I can't agree with the strong word bombard. Security testing for exiv2 also takes a lot time, if your guys don't like to see these kind of bugs, feel free to them, I will never submit them again.

I don't know is there a deadline for exiv2

[2021-04-09 07:46] clanmills commented on #1530
Thank You @henices for the courtesy of your reply.  And thank you for opening issues on GitHub about these matters.  That's very helpful.  The sooner Team Exiv2 knows about these matters, the sooner they can be fixed.

Team Exiv2 agrees that knowing about those issues and fixing them is better that having in the code and unknown to us.

The Exiv2 development plan is to create a new branch called '

[2021-04-09 09:14] clanmills commented on #1521
@prokoudine Thanks for your input/feed-back.

I will admit that my primary reason to discontinue exiv2.org was to stop paying the bill!  I hope to finally retire and get out of Exiv2 and I was thinking "Who's going to pay for this?".  Since I wrote this issue report, the folks at discuss.pixls.us have offered to host exiv2.org _(for which I am the registered owner in whois)_.

So, maybe everything

[2021-04-09 09:17] kevinbackhouse commented on #1530
I am unable to reproduce this. I tested it on Ubuntu 20.04, using the latest version of 0-27-maintenance (commit [05ec05342e17dc94670db1818447c06d0da8f41a](https://github.com/Exiv2/exiv2/commit/05ec05342e17dc94670db1818447c06d0da8f41a)). These are the exact steps that I tried:

[code]

I do not see any ASAN failures.

[2021-04-09 09:24] kevinbackhouse commented on #1530
Oh, I see. I missed the `in` parameter.

[2021-04-09 09:37] clanmills commented on #1530
@kevinbackhouse I also missed that on https://github.com/Exiv2/exiv2/issues/1529#issuecomment-815513754

I reproduced #1529 as follows:

[code]
I believe similar medicine is needed for this issue.

The 'in' command is 'insert'.  It reads metadata from tests_xxxxx.exv and updates tests_xxxxx.

[2021-04-09 09:45] pydera opened #1537 "Fix special case of box size == 1 in jp2image.cpp"
https://github.com/Exiv2/exiv2/blob/05ec05342e17dc94670db1818447c06d0da8f41a/src/jp2image.cpp#L781

[2021-04-09 09:52] kevinbackhouse commented on #1530
@clanmills: when I have fuzzed exiv2 in the past, I did not try any of these extra command line options. So my testing probably didn't hit any of these "encode" methods. So it seems quite plausible that there are several more of these bugs lurking there.

From a security perspective, these command line arguments seem much less interesting to me than vanilla exiv2. I can imagine somebody downloadin

[2021-04-09 09:56] pydera commented on #1530
I would still suggest to change the type of 'size' from uint32_t to size_t.

[2021-04-09 09:57] #1529 closed

[2021-04-09 10:10] clanmills commented on #1530
As always, Kevin, you are saying smart things.  I also missed the unusual/obscure 'in' command.

You will be aware that I was in a state of distress yesterday about those CVEs.  However, I've had a nice conversation with @henices.  The security folks in China are on our side.  Their work will make Exiv2 stronger.

My brain isn't up to thinking about the merits of size_t and uint32_t.  I believe th

[2021-04-09 10:23] kevinbackhouse commented on #1530
@pydera: I think `uint32_t` is a better choice than `size_t` for this code. The reason is that the type of [`CiffComponent::size()`](https://github.com/Exiv2/exiv2/blob/0230620e6ea5e2da0911318e07ce6e66d1ebdf22/src/crwimage_int.hpp#L225) is `uint32_t`, which in turn is because we are [parsing](https://github.com/Exiv2/exiv2/blob/05ec05342e17dc94670db1818447c06d0da8f41a/src/crwimage_int.cpp#L266) a

[2021-04-09 10:25] pydera commented on #1530
@kevinbackhouse as far as I can see DataBuf.size() returns 'long' (uint64_t on LP64). I did not look deeper into this, but was afraid that it might be possible to handcraft files where a size of >uint32_t-max could be returned and than overflow the uint32_t size.

[2021-04-09 10:42] kevinbackhouse commented on #1530
@pydera: Yes, I agree that `size_t` would probably be a better choice for DataBuf.size(), rather than `long`. Unfortunately `long` is very widely used in this codebase so I think it would be quite a lot of work to switch everything over to `size_t`. My biggest concern is that `long` is 32 bits on Windows, so there is a higher risk of an integer overflow on Windows. The good news is that the `new`

[2021-04-09 10:54] pydera commented on #1530
@kevinbackhouse Agreed. My point of view was "just looking at THIS function" without deeper research on CiffComponent, I saw that DataBuf::size() could potentially overflow 'size'. Not looking at CiffComponent I concluded that changing 'size' to size_t would always be a safe choice while uint32_t needs further investigation.
As CiffComponent::size() returns indeed uint32_t we are safe here, but lo

[2021-04-09 11:18] clanmills opened #1538 "32/64 bit support in Exiv2"
We announced in v0.27 (and the the five dots), that the API for v0.28 (now to be called v1.00) will change. There's a mix of size_t, uint32_t, long, int, uint64_t in the API. Now is the time to fix that.

I suspect the correct way forward is to use uint64_t everywhere.

We don't have to worry much about performance because Exiv2 is very fast. We can open and read the metadata from about 100+ files

[2021-04-09 11:21] henices commented on #1530
there is another way to exploit these bugs, a single image file is enough.

[2021-04-09 13:03] clanmills commented on #1537
I've found a collection of JP2 test images here:  https://github.com/openpreserve/jpylyzer-test-files_

I'm very pleased to say that both tvisitor and exiv2 read all the files without crashing.

I'm even more pleased to say that tvisitor is about 25 times faster than Exiv2, and reads every file without any error messages _except_ `is_codestream.jp2` which is currently unsupported as we have to wai

[2021-04-09 13:36] clanmills commented on #1537
More test images here:  https://github.com/uclouvain/openjpeg-data

[2021-04-09 13:50] clanmills commented on #1537
The following files in my book use box.length == 1

svn://dev.exiv2.org/svn/team/book/files

2021-02-13-1929.heic
Canon.CR3
cr3.cr3
IMG1.HEIC
IMG_3578.HEIC
Photo-21-11-20.heic
Stonehenge.heic
VID_20180630_164713.mp4

[2021-04-09 13:54] clanmills commented on #1537
This issue and #1525 should be consider at the same time.  I think the correct way forward is to remove jp2image.cpp from the code base and port jp2image::writeMetadata() into bmffimage.cpp.

We will only add writeMetadata() support for JP2 files.  Other bmff files such as HEIC, AVIF, JPX and CR3 are read-only.

[2021-04-09 16:50] #1530 closed

[2021-04-10 05:58] jiemdev commented on #1524
It looks great, thanks.
I have a question: why copying/changing from PentaxMnHeader (AOC\0) and not from PentaxDngMnHeader (PENTAX \0) and DNG like the Samsung file ?

[2021-04-10 06:38] clanmills commented on #1524
I don't understand you question.

[2021-04-10 06:51] jiemdev commented on #1524
For Pentax, there is the class PentaxMnHeader and the class PentaxDngMnHeader.
I guess it depends on the raw format of the file? Because Pentax is able to output DNG or PEF.
Samsung DSLR counterpart like GX-20 (Pentax K20D clone) only outputs DNG format.
Or maybe I am totally wrong.

[2021-04-10 06:57] jiemdev commented on #1524
Maybe it is a coincidence but we can see that the PentaxDngMnHeader::signature_ contains an additional space at the end: "PENTAX \0". Strange, isn't it?
That way it is 8 chars long. That matches the length of samsung header "SAMSUNG\0".

[2021-04-10 08:09] clanmills commented on #1524
I can't speculate about how/why the camera manufacturer does anything.  I am seldom impressed by firmware.  I have to deal with the consequences of random and irrational behaviour.  For example, Canon have three totally different RAW formats (.CRW, .CR2 and .CR3).

I will however offer my respect for the hardware of the cameras.  They are usually very robust devices and _at the low end_, very good

[2021-04-10 11:52] John-N-G opened #1541 "Add pretty printer for GPSImgDirection & GPSTrack"
![_IMG1061 - small](https://user-images.githubusercontent.com/82268475/114268738-a429ab00-99fa-11eb-9fe8-73c1f372d5b4.jpg)

Hi,

I recently reported a bug to DigiKam who have identified that the issue lies within the Exiv2 libraries. Specifically, GPS image direction is displayed as, for example, "26819/100" when it should be showing "268.19 deg".

I've attached an image with GPS/compass EXIF data

[2021-04-10 12:17] hassec commented on #1541
Hi @John-N-G,

thanks for the report.
Using your file I confirm that, `exiv2` prints
[code]

I agree that it would be nicer to format this differently, eg. `320.98 deg` as you suggested.
But I'd not classify this as a bug, as the information is complete and correct.
Thus it's more a wish for different formatting.

As far as I can tell, this would be a change that impacts every consumer of exiv2, a

[2021-04-10 14:35] clanmills commented on #1541
Thank You @John-N-G for your generous words of praise for Exiv2.  And thank you @hassec for your correct analysis.

Your issue is a presentation issue in digiKam.  The data in your file is Exif Rational which are integers pairs.  You have 3 pairs  which represent degrees, minutes and seconds.  https://exiv2.org/tags.html

The exiv2 command-line program provides two presentation styles.

**Value st

[2021-04-10 15:38] hassec commented on #1541
Just for completeness I'm including the DigiKam bug: https://bugs.kde.org/show_bug.cgi?id=435317

@John-N-G  Thanks for already updating the bug there with our response.

I hope you don't mind, I renamed the issue to make it more clear for us.
I'll add the required changes to change the formatting on these values.
But note that v1.0 is currently aimed for the end of this year, so it will be awhile

[2021-04-10 15:58] clanmills commented on #1541
Yup.  I got a little confused.  I had totally forgotten about adding the Direction and Track tags in v0.27.4.  I think they are specified in the Exif 2.32 spec.  The "translated" values are performed in Exiv2 by providing a "pretty printer" function such as printDegrees() which I added to handle Latitude and Longitude.

We should add a pretty printer for Track and Direction for use by the Exiv2 co

[2021-04-10 17:21] tester0077 opened #1542 "Function name free() in class EXIV2API DataBuf"
Ever since I have used the Exiv2 library in my Win based projects, I have had to work around the usage of the function name free()  in class EXIV2API DataBuf as defined in types.hpp.
The underlying issue is caused by my usage of the MS recommended memory leakage detection code as outlined at:
https://docs.microsoft.com/en-us/visualstudio/debugger/finding-memory-leaks-using-the-crt-library?view=vs-

[2021-04-10 17:25] derselbst opened #1543 "Exiv2 should report Canon AFInfo rotation information"
Hello,

I have noticed that Canon stores additional rotation information in the AFInfo chunk. Neither Exiv2 nor ExifTool currently seem to  handle this information. I would like to share and document that information so we can add support for this.

Canon's AFInfo chunk contains a list of AF focus points that were used, selected, and in-focus when the image was taken. Depending on the camera in us

[2021-04-10 18:27] alexvanderberkel commented on #1543
Hi Tom,

thanks for reporting the issue. We have just released RC2 of v0.27.4 and are heading towards GM this or early next month. The latest branch to work with is the maintanence branch as you assumed correctly. There has been some work on new tags from Canon cameras within this release. The file which you need to look at is canonmn_int.cpp. That is where the Canon tags are being handled.

Cheer

[2021-04-10 18:34] clanmills commented on #1541
Exiv2 provide an API to use the pretty printers from an application.  See https://exiv2.org/doc/classExiv2_1_1Exifdatum.html

So there are two similar functions:

| API | Comment |
|:--   |:--             |
| std::string Exiv2::Exifdatum::toString() const; | Return the value as a string.  |
| std::string Exiv2::Exifdatum::print() const; | Write the interpreted value to a string. |

Here's addition

[2021-04-10 18:51] clanmills commented on #1542
As you know, Arnold.  I have never seen this issue and nobody has reported anything similar.

We released Exiv2 v0.27.4 RC2 yesterday and I hope that's v0.27.4 finished.

I've marked your issue for v1.00 which we expect to ship on 2021-12-15.  I'll Thomas to comment on your issue as he uses Windows and has his own Visual Studio vcxproj/sln files with which he builds the code.

[2021-04-10 21:00] hassec commented on #1543
Hi @derselbst, I thought I could help and quickly provide a fix since I did similar work recently for the nikon maker note....

However, for some reason the `CanonAFInfo` is being decoded differently from what I expected from my current exiv2 knowledge.    There is a special `TiffDecoder` implemented in `tiffvisitor_int.cpp` just for this tag.

My current guess is that it maybe has something to do

[2021-04-10 21:15] derselbst commented on #1543
@hassec Don't worry. I already had a look into the code and found it quite easy to do. [Here's my branch](https://github.com/derselbst/exiv2/tree/canon-af-rotation). I'll need a few more days to test it. Not sure why it's handled differently. Probably due to it's dynamic size.

[2021-04-10 21:20] clanmills commented on #1543
Welcome back, Tom @derselbst  I though we worked on something like this a couple of years ago.  It's tag 0x0026.  My brain is a little flattened from the effort to ship v0.27.4 RC2 yesterday.

Can you submit a PR to the 'main' branch which I will set up on Sunday morning.  'main' will be the development branch for v1.00 which is scheduled for 2021-12-15.

[2021-04-10 21:34] hassec commented on #1543
Ok glad to hear that you are on it! That's exactly the change I did as well.
But I'm hesitant to continue to just add to the canon MakersNote construct without fully figuring out what's going on.
Because, I think we should include a bit of cleanup as well, since I think the `tagListAf..` functions in `canonmn_int.cpp` are unused.

In any case, @clanmills suggestion is probably the best, and then w

[2021-04-10 21:40] derselbst commented on #1543
Ok, I'll do. No hurry :)

Yes, I've seen them.  I'll think about how they can be integrated.

[2021-04-11 00:41] fmpwizard opened #1544 "cannot get ~/.exiv2 to correct lens LUMIX G 14/F2.5 II"
Camera: Olympus OM-D E-M10 Mark III
Lens: Panasonic Lumix G 14mm F2.5 II ASPH.

exiv2 reports it as the version I `Lumix G 14mm F2.5 Asph.`, I would like to get the II in the name (to show up in darktable)

## What did you do?

cat ~/.exiv2
[code]

I got the 2 0 16 16 0 18 from running:

[code]

I also saw somewhere on the forums to run this:

[code]

I thought that after adding the entry to ~/.ex

[2021-04-11 03:16] fmpwizard commented on #1544
![_DM00001](https://user-images.githubusercontent.com/62802/114291091-8daf3e00-9a52-11eb-8cdc-7c963c8f9afe.JPG)
Here is a JPG with the cap on and at the lowest resolution.

[code]

Thank you!

[2021-04-11 05:21] clanmills commented on #1544
Ah.  Such a well written issue report.  And you've understood 99% of what to do!

The section in ~/.exiv2 for an Olympus camera is `[olympus]`.  You've used the lens manufacturer `[panasonic]`.   So close.  If you are a darts player, your arrow hit the wire and bounced back!

[code]

If you're happy, I invite you to close this issue.

[2021-04-11 06:37] clanmills commented on #1543
I've set up branch 'main' and bumped the revision numbers.  When PR #1545 merges, we're good to start on Exiv2 v1.00.

@derselbst Tom.  I've invited you to join Team Exiv2 in order to collaborate on this issue.  If you work in our repository, It's easier for us to review your changes.  @hasssec and I can update your PR and this makes life easier when adding new scripts and images to the test suite

[2021-04-11 07:53] clanmills commented on #1541
The Exif 2.32 Spec is here:  https://fotomagazin.hu/wp-content/uploads/2020/05/CIPA_DC_008_EXIF_2019.pdf

Table 15 (page 77) lists 32 GPS tags.  Let's make sure all those tags are in Exiv2 _(I believe they are)_ and with appropriate "pretty Printers".

[2021-04-11 08:33] kmilos commented on #1541
I believe we reviewed the tag coverage, but it might be the case we didn't focus on pretty printing. I'll take another pass as well.

In any case, apps have full acces to rationals through the API so they can choose to present the data in any format they want, I don't think our convenience functions for console output should be used universally...

[2021-04-11 08:36] clanmills commented on #1494
Let's aim for the goal of Exiv2 v1.00 in 2021.  It is a surprise that this goal is now within reach.  https://github.com/Exiv2/exiv2/issues/1466#issuecomment-811787134

We have enjoyed a warm and friendly greeting from KDE.  Joining KDE will probably be the Exiv2 goal in 2022.

I'm very happy with this "two step" approach.

**Step 1 _(2021)_** is v1.00 and for the team to bond and understand more

[2021-04-11 09:48] clanmills commented on #1541
Thanks, @kmilos.  There's such a myriad of details in the metadata mountain.  The only viable way to deal with everything is _**"step-wise refinement"**_.  He's not as ugly as his cousin _"trial and error"_.

[2021-04-11 10:20] fmpwizard commented on #1544
Thank you so much! This solved it and I'll gladly close the ticket :)

[2021-04-11 10:20] #1544 closed

[2021-04-11 12:20] clanmills commented on #1542
@tester0077  I don't think there is a case to answer here.  _**free()**_ is C-Runtime library reference.  You can see that exiv2 must link that dynamically when it loads:

[code]

Equivalent evidence on Windows (Visual Studio) can be obtained with the utility dumpbin.exe which is on the PATH when you use the "Visual Studio Command Prompt".

----------------

I have used the Visual Studio Heap Debu

[2021-04-11 17:23] tester0077 commented on #1542
@clanmills Thank you for having another looks at this issue.
As you correctly state, " free() is C-Runtime library reference." and IMO, using 'free() as a function name within the class EXIV2API DataBuf hopelessly confuses the simple minded MS C preprocessor when it does its thing  to redefine free() as free_dbg()., simply because the code is part of an *.h?? file.

By redefining free() from 'outs

[2021-04-11 17:25] clanmills commented on #1470
I'm going to close this as "not-a-bug".  The specification of rename in the man page is:

I think it's a small matter to write a bash or python script to deal with this.

[2021-04-11 17:25] #1470 closed

[2021-04-11 17:28] clanmills commented on #1419
I'm going to set this milestone: v1.00 and hope that a Team Member will accept the challenge.

[2021-04-11 17:31] clanmills commented on #1417
I'm going to assign this the milestone: v1.00.  I am delighted that there are more contributors working on Exiv2 and somebody may accept this challenge.

[2021-04-11 17:34] clanmills commented on #1413
The bash tests have been rewritten in python for Exiv2 v0.27.4 (currently available as RC2 on https://pre-release.exiv2.org).

[2021-04-11 17:34] #1413 closed

[2021-04-11 17:38] clanmills commented on #1081
This looks like a tough puzzle.  I'll set the milestone to v1.00.  Setting the milestone means it will be consider for fixing.  It doesn't guarantee that a contributor will take on the challenge.

[2021-04-11 17:44] clanmills commented on #1224
I'm going to close this.  I implemented CI build on Cygwin/64 and MinGW/msys without Conan.  #1434.  This is discussed in README.md.  The challenges of using conan on those platforms is not an Exiv2 issue.

[2021-04-11 17:44] #1224 closed

[2021-04-11 17:47] clanmills commented on #1063
I'm going to close this for two reasons:

1. There is a work-around.
2. This issue is rather elderly and nobody else has expressed concern.

[2021-04-11 17:47] #1063 closed

[2021-04-11 17:49] clanmills commented on #1416
This looks like a tough puzzle.  I'll set the milestone to v1.00.  Setting the milestone means it will be considered for fixing.  It doesn't guarantee that a contributor will take on the challenge.

[2021-04-11 17:51] clanmills commented on #1401
This looks like a tough puzzle.  I'll set the milestone to v1.00.  Setting the milestone means it will be considered for fixing.  It doesn't guarantee that a contributor will take on the challenge.

[2021-04-11 21:50] Jehan commented on #1416
One already has (me), if you check the first comment. I submitted a patch already 5 months ago when I published the report (though apparently not in the right place; by the way I would suggest to close dev.exiv2.org with a redirection here if you don't plan on checking it anymore! 😛): https://dev.exiv2.org/issues/1380

If my patch is not quite right, of course, I would welcome some input so that I

[2021-04-12 05:07] tbeu commented on #1542
@clanmills Would it be OK for you if we rename `free` in types.[ch]pp as proposed? I can file a PR, but I have no string opinion here.

[2021-04-12 05:14] clanmills commented on #1542
@tbeu and @tester0077

I haven't understood the proposed change.  Could somebody write the solution down **in code** and it will be considered.  I have not idea what the following means:

This of course means I will always have to maintain my own exiv2 code base. This is not only time consuming, but also opens the door to other unintended consequences.
It also means, I will not be able to use comm

[2021-04-12 05:30] clanmills commented on #1416
Until recently, Exiv2 has a one-man project and there's a limit to what I can achieve.  @nehaljwani is it possible to modify Redmine as suggested?

I am very pleased to say that in the last few months, a few more folks have joined me.  On Friday, we released Exiv2 v0.27.4 RC2 and I hope we're now done with v0.27.4.  Yesterday I started to go through all the open issues and close some dead matters

[2021-04-12 07:20] clanmills commented on #1416
I've opened a PR to merge your patch into 'main'. #1547

The damage to the test suite is considerable and every change will have to be investigated.  Additionally, we should probably add some tests designed to deal with the matter under discussion.

@Jehan If I grant you write permissions on the Exiv2 repos, can you undertake the work necessary to bring this to a successful conclusion?

[2021-04-12 08:39] imsodin commented on #1521
The move to KDE (#1494) can also help with this: They do provide hosting. They also have infrastructure to build and distribute binaries.

[2021-04-12 09:27] clanmills commented on #1521
That's good to know.  I'm very tempted by Pat David's offer to host exiv2.org.  I think Nehal can do that for us with very little effort (by Nehal) and very little pain (for anybody).  And my wife will stop complaining about the bill (she deals with our finances, I do intellectual property).

At the moment, I think we're going to reach v1.00 on 2021-12-15.  I hope one of the new contributors will

[2021-04-12 09:36] clanmills commented on #1406
I think this has been taken care of on branch 0.27-maintenance (which is about to ship as Exiv2 v0.27.4) and branch main which is scheduled to ship  Exiv2 v1.00 on 2021-12-15.

There is an unfinished PR which will be targeted at 'main' concerning rasperry pi. #1235.

@piponazo Can you deal with this and #1235.  I suspect one good fix will be sufficient.

[2021-04-12 09:59] clanmills commented on #1405
I'm going to assign this to v1.00.  One of the top priority matters for v1.00 is the Unified Metadata Container.  It has been studied: #1505

Although I'm assigning this to Milestone: v1.00 as commitment to give this thought.  We'll have to see what time contributors have available to actually work on this matter.

[2021-04-12 10:11] clanmills commented on #1388
I think we can close this as I don't believe any further work is anticipated.

[2021-04-12 10:11] #1388 closed

[2021-04-12 10:17] clanmills commented on #1355
I think that is _more-or-less_ the same as  #1235 and #1406.

[2021-04-12 10:19] clanmills commented on #1348
This is a good idea.  As we have a new API with v1.00, let's clean this up.

[2021-04-12 10:27] clanmills commented on #1343
An important precursor for PNG (and other Families not in Exif/IPTC/XMP) is the Unified Metadata Container.  This has now been studied #1505 and I regard this a **must have** feature for v1.00.

Although I'll set the milestone of v1.00 for this issue, whether we implement PNG Textual information support in v1.00 will depend on have a contributor to accept the challenge.  I hope that when the Unifi

[2021-04-12 10:38] clanmills commented on #1255
I will never have time to work on this.  I believe it works fine.

[2021-04-12 10:38] #1255 closed

[2021-04-12 10:40] clanmills commented on #1217
Uninstall will be investigate for v1.00: #1501

[2021-04-12 10:43] clanmills commented on #1062
I've opened issue #1525 to investigating removing jp2image.cpp and replacing it with bmffimage.cpp

[2021-04-12 10:45] clanmills commented on #1035
Done:  #1122.

[2021-04-12 10:45] #1035 closed

[2021-04-12 10:49] clanmills commented on #421
I think we can close this now as historical trouble.

[2021-04-12 10:49] #421 closed

[2021-04-12 10:50] clanmills commented on #475
I'm going to close this as "historical trouble" and no long relevant.

[2021-04-12 10:50] #475 closed

[2021-04-12 10:54] kmilos commented on #1541
Ok, so it turns out there are a few places where we just use `printValue()` instead of the usual `printFloat()` for rational type:

* TIFF/EP tags:

0x013e, WhitePoint
0x013f, PrimaryChromaticities
0x0211, YCbCrCoefficients
0x0214, ReferenceBlackWhite
0x828f, BatteryLevel
0x920b, FlashEnergy
0x9215, ExposureIndex

* DNG tags:

0xc61a, BlackLevel
0xc61b, BlackLevelDeltaH
0xc61c, BlackLevelDeltaV
0x

[2021-04-12 10:54] clanmills commented on #488
I'm going to close this.  I'm going through all open issues and either closing them or assigning them milestone:v1.00.  I think the effort required to reach v1.00 is possible with the contributors we have available.  However I don't think an open-ended matter deserves to consume our limited resources.

[2021-04-12 10:54] #488 closed

[2021-04-12 10:57] clanmills commented on #933
I'm going to close this.  Team Exiv2 can't fix issues on unsupported platforms.  We are happy to accept tested PR which don't disturb our test suite running on the platforms we actively support.

[2021-04-12 10:57] #933 closed

[2021-04-12 10:59] clanmills commented on #360
This is a duplicate of #1343

[2021-04-12 10:59] #360 closed

[2021-04-12 10:59] Jehan commented on #1416
Ahah. Don't worry, I know very well how these kind of things work and how it can be to be [alone or too few on a big project](https://gitlab.gnome.org/GNOME/gimp/-/commits/master/). 😉

I was not criticizing the time taken for review, nor anything else for that matter (I myself have many months-old patches I need to review), just reacting to the reaction that it needed a contributor.

Sure. I'll do

[2021-04-12 11:13] Jehan commented on #1416
P.S.:

If I can modify my previous suggestion: rather than redirecting dev.exiv2.org, it would be better to make it read-only, and maybe add a banner with a link to the github repo, saying it's the new tracker. This way, Exiv2 won't lose history of bug reports, discussions and old patches, which is often needed when investigating some issues (on GIMP, I regularly make some researches to understand

[2021-04-12 13:57] clanmills commented on #1416
Thanks very much for such a considerate message.  I've triggered an invitation from GitHub and granted you write permission to our repos, so you can can modify PR #1547.  To merge, a team member has to approve your changes.

I encourage you to visit our Chat Server and "meet the gang".
![#exiv2-chat on matrix.org](https://user-images.githubusercontent.com/529982/113502940-f1071080-9526-11eb-89af-3

[2021-04-12 15:41] tester0077 commented on #1542
In listing the places where I had to apply my 'fix' I thought I was providing "a solution in code", showing just what needs to be changed to resolve the issue.
Actually, my preferred fix would be to change the name of the Databuf:: free() to something much more descriptive, such as Databuf::FreeDataBuf
Along the same lines, the same class definition defines a function alloc(), For consistency, it

[2021-04-12 16:12] clanmills commented on #1542
Ah, right.  I've now understood.  You've probably explained this several times already and I haven't understood what you meant.  Right.  I understand.  Rename the Databuf members functions to avoid the naked name "free", "malloc" and "alloc".

Yes, that'ssimple for v1.00.  We cannot change that in a "dot".  When this is added to 'main' you can begin using it and let us know if you encounter issues

[2021-04-12 16:16] tester0077 commented on #1542
As I have clarified the request- I hope - on GitHub, I just want to
address the question posed by @clanmills

The 2 paragraphs below outline the 2 options I have to work-around the
current use of the function free() in the class DataBuf.

My original post also include code to clearly indicate where the
proposed changes would need to be applied

On 2021-04-11 10:14 p.m., Robin Mills wrote:

[2021-04-12 16:45] tester0077 commented on #1542
Thank you, Robin.

There is no rush at my end. I won't be updating my libraries until these
changes are part of the library code because none of the other changes
and updates seem to affect my needs.

On 2021-04-12 9:12 a.m., Robin Mills wrote:

[2021-04-12 17:03] clanmills commented on #1038
I'm going to close this to reduce the number of open issues.  Very pleased to say after the dark days of mid-2020, there has been a wonderful increase in the number of contributors.    The following are acknowledged in the release notes for v0.27.4:

| Contributor  | Activity                                          |
|:--           |:--                                                |
| Alex

[2021-04-12 17:03] #1038 closed

[2021-04-12 17:29] clanmills opened #1549 "Implement Adobe Exif >64k in JPEG"
This is discussed in my book and solved in tvisitor.  The book discusses two schemes from Adobe and AGFA.  We should only implement the Adobe scheme as it is defined in public standards.   The AGFA scheme is obscure.

[2021-04-12 17:30] clanmills commented on #396
I've opened an issue for the v1.00 project to implement Adobe Exif > 64k in JPEG. #1549

I'm going to close this issue the consequential work will be in #1549.

[2021-04-12 17:30] #396 closed

[2021-04-12 17:42] clanmills commented on #1039
I think this is a historical issue and can be closed.

[code]

Setting we almost never set CMAKE_CXX_FLAGS.  There has been quite a number of changes involving CheckCXXCompilerFlag to enable the CMake code to set options which are known to be supported by the compiler.  This is particularly relevant for setting options for ARM processors (Rasperry PI and Apple Silicon) and relatively obscure compi

[2021-04-12 17:42] #1039 closed

[2021-04-12 17:56] piponazo commented on #1406
It looks like the issue is correctly handled in `0.27-maintenance` but I would like to double check. When I deal with the cross-compilation topic on the `main`branch, I will double check this.

[2021-04-12 17:59] piponazo commented on #1355
I think I created this issue when I was working in the `old-master` branch and I was having troubles with some of the less usual environments (trying to add support for ARM or MinGW; I cannot recall with precision at the moment).

I'll double check these things when I start working on `main`.

[2021-04-12 19:38] tester0077 commented on #1255
Good decision; Exiv2 under vcpkg is maintained by other interested parties according to their needs and completely beyond the control of the exiv2 maintainers

[2021-04-12 20:14] clanmills commented on #1255
Thanks, @tester0077.  If there's a issue, somebody will come to us for support.

The Exiv2 v1.00 project is coming together well.  I never thought I would be with Exiv2 which it reached v1.00.  It'll be there by December.  I now have the right people working with me to make that happen.  Boy it's been a struggle.  A successful struggle.

[2021-04-13 08:08] clanmills commented on #1543
I was working on my book and discovered I had written the following about 6 months ago:

More work ahead.  Worth the effort.

[2021-04-13 08:32] clanmills commented on #250
We can close this one now.  The python test suite in tests/system_tests.py is working extremely well.  The remaining bash tests have been implemented in python in tests/bash_tests/.  @1div0 has agreed to take on the maintenance of the python code for v1.00.  I think Peter is going to enjoy working on this valuable and useful code.

[2021-04-13 08:32] #250 closed

[2021-04-13 08:34] clanmills opened #1550 "Development of the python test framework"
I'll edit this with details later.

[2021-04-13 08:35] clanmills commented on #236
Shipped in v0.27.4 RC1.

[2021-04-13 08:35] #236 closed

[2021-04-13 08:36] clanmills commented on #235
Shipped in v0.27.4 RC1.

[2021-04-13 08:36] #235 closed

[2021-04-13 08:40] clanmills commented on #147
This is related to the Unified Metadata Container which is a top-level feature of v1.00.  I'm closing this issue as this topic because it will be dealt with in #1505 and other related issues.

[2021-04-13 08:53] johnny-bit commented on #1229
Thank you @clanmills and all contributors that made it possible!

[2021-04-13 09:08] clanmills commented on #372
As nobody else has requested this in the 4 years since this discussion, I'm going to close this issue.

[2021-04-13 09:08] #372 closed

[2021-04-13 09:10] clanmills commented on #896
I agree with this and would like to see this dealt with in v1.00 in #1550.

[2021-04-13 09:30] clanmills commented on #578
This is a very old issue and nobody else has requested this.  The exiv2 command-line program is a useful utility and it's primary aim is to test the code in the exiv2 library.  c/mtime editing is platform dependant.  This is an image handling/work-flow issue and should be handled elsewhere.  For example in a script, or a image browsing application.

[2021-04-13 09:30] #578 closed

[2021-04-13 09:49] clanmills commented on #1279
I'm closing this issue.  I don't believe we have the necessary skills to pursue this matter.

I'm delighted to say that Exiv2 has a team of 8 enthusiastic contributors and I am working on a plan to release v1.00 on 2021-12-15.  We don't have the skills in the team to work with 'characters outside the Basic Multilingual Plane'.

[2021-04-13 09:49] #1279 closed

[2021-04-13 09:52] clanmills commented on #1228
@andreafioraldi I am very pleased to say that Team Exiv2 now has 8 enthusiastic contributors and we are planning to release Exiv2 v1.00 on 2021-012-15.  I would be delighted if you would join the team to work on this and other security related matters.

[2021-04-13 09:54] clanmills commented on #1084
See #1085.

[2021-04-13 09:54] #1084 closed

[2021-04-13 10:14] clanmills commented on #1060
We only use this in one place:

[code]

It's used to locate the Config file (~/.exiv2 on Cygwin/Linux and %USERPROFILE%\exiv2.ini with MSVC/MinGW).

[code]

My Windows skills are very rusty having had little use exercise in the last 10 years.  Looking at https://docs.microsoft.com/en-us/cpp/porting/how-to-use-existing-cpp-code-in-a-universal-windows-platform-app?view=msvc-160 the following flags c

[2021-04-13 10:16] clanmills commented on #147
I'm going to close this to reduce the number of open issues.  The Unified Metadata Container and Family PNG are a top-level feature of v1.00 and will be delivered.

[2021-04-13 10:18] clanmills commented on #158
This is a good idea.  I've asked @pydera to work on BasicIo for v1.00.  I'm going to close this issue to reduce the number of open issues.  This will get attention for v1.00.  #1538.

[2021-04-13 10:18] #158 closed

[2021-04-13 10:21] clanmills commented on #950
This is an important matter.  It may already be fixed in the code base.  I've opened an issue for v1.00 to investigate replacing jp2image.cpp with bmffimage.cpp #1525

[2021-04-13 10:30] clanmills commented on #1022
We should investigate this for v1.00.  As we have a new API for v1.00, we can "clean up" some of those legacy issues.

I know Andreas was strongly against having a library initialisation function.  His argument is that all that an application needs is to include \<exiv2/exiv2.hpp\> and it can call Exiv2 library functions.  And he's right.  That will work.  However, it's better architecture to have

[2021-04-13 10:40] clanmills commented on #1026
In the tvisitor code, I use a std::set<uint64_t> called visits and keep track of address that have been visited during parsing.  It's never OK to visit an address more than once.  And Andreas' code detects circular references.

We should review the code in the TiffVisitor derived classes.  For example, this function should test start in the visits set.  I'm going to invite Christoph to work on Big

[2021-04-13 10:41] clanmills commented on #956
This sounds important, although I don't understand it.  I'll mark this for attention in v1.00.

[2021-04-13 10:45] kmilos commented on #1541
ExifTool output for the attached image:

[code]

So no units for `GPSSpeed`, `GPSTrack`, and `GPSImgDirection` (I'll submit a patch to use `printFloat()` on these), while there is one for `GPSAltitude`...

[2021-04-13 10:50] hassec commented on #1541
IMHO `GPSTrack` and `GPSImgDirection` should get a unit.

[2021-04-13 11:03] clanmills commented on #1541
[code]

I see that ExifTool says **xx deg yy' zz"** _(space)_ and exiv2 says **xxdeg yy' zz"** _(no space)_.  Let's change printDegrees() to be consistent with ExifTool.  _(no man page changes necessary for this)_

There are cosmetic differences with Status and MeasureMode, Speed and Direction  Let's fix them.  Please look at man/man1/exiv2.1 when changing prettyPrinters.

I see ExifTool doesn't p

[2021-04-13 11:10] clanmills commented on #710
Ah yes.  I know about this and discuss it in my book.

I think we need an intensive effort to deal with this.  I don't think it's realistic to undertake this in 2021.  I am attempting to either assign open issues to v1.00 or close them.  This will have to left remain open for the future.  Very desirable future feature.

[2021-04-13 11:12] clanmills commented on #663
I think this has been dealt with elsewhere and can be closed.  The CI performs a cross platform build.

[2021-04-13 11:12] #663 closed

[2021-04-13 11:26] clanmills commented on #679
@axxel.  I agree we "wait it out".   I was mistaken about what the cmake option -DEXIV_UNICODE_PATH=On does.  It augments the API by adding UNICODE entry point to several function such as `Exiv2::ImageFactory::open()`

So the exiv2 samples don't need to go down the A/W road used in Win32.

[code]

It's an interesting idea that we should make that DEXIV_UNICODE_PATH=On the default for all windows b

[2021-04-13 11:26] #679 closed

[2021-04-13 11:59] 1div0 commented on #896
Good idea @D4N , thanks for proposing.

[2021-04-13 12:00] 1div0 commented on #1550
I will have a look at it by the EoW.

[2021-04-13 12:36] clanmills commented on #1550
That'll be great, Peter.  I have a number of things in mind and I'll edit this issue report with more details.

Today, I will finish crawling through all the open issues which we intended for 'master/0.28'.  The list for v1.00 is not overwhelming.  Alex is going to call a Team meeting on the weekend of 24 April or 1 May to discuss v1.00.

I've only found one issue that will have to wait for v1.1 o

[2021-04-13 12:40] clanmills commented on #997
This issue hasn't been updated for a couple of years.  I'm going to close it.  If new information comes to light, I will be happy to reopen this issue.

[2021-04-13 12:40] #997 closed

[2021-04-13 12:52] clanmills commented on #251
I've revisited this.  The issue is unchanged in 'main'

[code]
The data is correct and discussed in my book.  The tag has something to do with controlling communications.  I think it's something to control a modem or the like.  It say "when you transmit this, output 0xc4 ESC STX on the line.

I don't think this matter deserves more attention.

[2021-04-13 12:52] #251 closed

[2021-04-13 12:54] clanmills commented on #323
#1045 has been merged and closed.  I believe this has been resolved and should be closed.

[2021-04-13 12:54] #323 closed

[2021-04-13 13:02] clanmills commented on #904
I've discuss Preview/Thumbnails in my book.  This part of Exiv2 works well for thumbnails stored in the Exif metadata.  However there are previews stored in other parts of the image.  Different image formats (JPEG, PNG, DNG etc...) use format dependent mechanisms to store those preview/thumbnails.  There is another open issue: #710 concerning this topic.

The work required to update all the image

[2021-04-13 13:08] clanmills commented on #1068
I think we have to "let this go".  I'll associate this issue with #1550 for investigation.  I don't know anything about CTest.  Perhaps @1div0 can look at CTest and make a recommendation if this should be adopted.  Now that the test suite is totally implemented in python3, I don't perceive that Exiv2 needs CTest.

[2021-04-13 13:53] clanmills commented on #313
I think we should "let this go".  @1div0 has agree to take on development of the python test harness for v1.00 #1550.

[2021-04-13 13:53] #313 closed

[2021-04-13 13:55] clanmills commented on #565
Wow.  This dropped "below the radar".  Let's see if we can get this fixed in v1.00.

[2021-04-13 14:07] clanmills commented on #1511
I've now been through the backlog.  Almost everything has been closed or assigned to Milestone: v1.00.  There are two open issues concerning Preview/Thumbnails for which we don't have the band-width in v1.00 and may be dealt with in the future.  #710.  #904.

[2021-04-13 14:07] #1511 closed

[2021-04-13 14:15] clanmills commented on #549
Yes.  I've got this on the list for test issues for v1.00 #1550.

[2021-04-13 14:16] clanmills commented on #214
This is the number 1 feature for v1.00.

[2021-04-13 14:16] #214 closed

[2021-04-13 14:18] clanmills commented on #1212
Not longer needed. These fixes are in branches 0.27-maintenance and main.

[2021-04-13 14:18] #1212 closed

[2021-04-13 15:36] kmilos commented on #1541
Btw, there seems to be something more going on w/ the way we print the long/lat, check the seconds...

[2021-04-13 17:10] clanmills opened #1552 "Refactoring Tasks for v1.00"
This is an "umbrella" it's a list of tasks that it would be good to complete for v1.00.

I'll edit this note with the details in the next few days.

[2021-04-14 01:02] pr0m1th3as commented on #1229
Big Thanks to @clanmills and everyone else involved in adding support for CR3 !!

[2021-04-14 04:23] piponazo commented on #1068
Let's close this one. In #1073 we already added something to generate local coverage reports in `old-master`. I'll port to the new `main` branch.

CTest is just the CMake test driver program. A helper to run your project tests easily with that CMake tool. As you mentioned Exiv2 probably does not need CTest, but it could make the life easier for newcomers to the project with previous experience in

[2021-04-14 04:23] #1068 closed

[2021-04-14 06:59] clanmills commented on #1068
Good.  Everything we have in CMake for build, test, documentation, and release bundles is working well.  If a contributor says "I know how to make this better with CTest", he/she can do the work.  I'll let Peter know to forget about CTest.

[2021-04-14 07:27] 1div0 commented on #1538
I guess in 2021 and beyond main focus should be on 64-bit CPU architectures.

PS: Just installed FreeBSD 13.0 on RPi3B and testing GitLab Runner for CI/CD. So far so good.

[2021-04-14 07:35] 1div0 commented on #1068
@clanmills  I am OK with that.

[2021-04-14 07:48] clanmills commented on #1068
Thanks, @1div0.  You'll see that I've added #1550 with a load of test matters to be investigated.  We'll have to prioritise as there's no way to achieve all of them in in a few months.  And I'll do a couple of them.  It will work out fine.  It always does.

[2021-04-14 17:25] kmilos commented on #1541
I think this now resolved by #1551, but feel free to reopen if different behaviour is expected.

[2021-04-14 17:25] #1541 closed

[2021-04-15 07:26] clanmills opened #1556 "Add BigTiff Support"
BitTiff is 64 bit tiff.  It is supported by tvisitor.cpp.  Both the format and implementation is discussed in detail in my book:  https://clanmills.com/exiv2/book/

The original request to support BigTiff came from Imperial College, London.  They have 100 GByte images from a medical scanner which have multiple pages as the scanner "slices" through the body.

In many ways, it would be very desirabl

[2021-04-15 07:55] clanmills opened #1557 "C++ Modernisation for Exiv2 v1.00"
The code should be "modernised" for v1.00.  The priority feature is to drop support for C++98 and replace auto_ptr with unique_ptr.

In 2018, KDE requested C++11 and it is desirable to aim for C++11 and newer.  If retaining C++11 is a cause of pain, it should be discussed with @alexvanderberkel as he has a working relationship with KDE.

Please ensure the code builds and runs on C++11, 14, 17 and

[2021-04-15 08:02] clanmills commented on #1447
I am reopening this issue for v1.00.  We should discuss this again at Exiv2 v1.00 Kick Off.  As we have deferred joining KDE in 2021 (to focus on v1.00), perhaps we should sign the OIN License to coincide with shipping Exiv2 v0.27.4 with (optional) bmff support.

[2021-04-15 08:58] NigelX opened #1558 "exiv2 asserts on malicious file"
Hello exiv2 team
I found a crash on exiv2

Fedora 33
[code]
[exiv2_crash.zip](https://github.com/Exiv2/exiv2/files/6316567/exiv2_crash.zip)

<img width="791" alt="截屏2021-04-13 下午3 58 42" src="https://user-images.githubusercontent.com/25973989/114842558-88b00d00-9e0b-11eb-9a8b-8470a1713a60.png">

------------------------------------------------------------------------
## Affected Product Code Base

[2021-04-15 09:33] clanmills commented on #1558
Thanks for report this.  I've reproduced your report with Exiv2 v0.27.4 RC2.

[code]

Is this a crash?  It's an assert.  The file violates the Tiff specification by using a type of  6151.  (valid types are <=13 for Tiff).

I have written a metadata parser called tvisitor to illustrate my book **Image Metadata _and_ Exiv2 Architecture**.  https://clanmills.com/exiv2/book/  The tvisitor program also

[2021-04-15 09:45] NigelX commented on #1558
hi clanmills
I think it is better to change the assertion behavior so that it prints the message and terminates the process.

[2021-04-15 10:11] clanmills commented on #1558
I think you're using a debug build.  On the release build, I see:

[code]

[2021-04-15 10:14] NigelX commented on #1558
I am using exiv2 installed with yum command on Fedora 33

[2021-04-15 10:22] clanmills commented on #1558
Can you run the command: `$ exiv2 -vVg debug -g exiv2` to report the version (1.0.0.9 for you, I believe.  That's correct for "head of branch".  That's a development branch.  I don't know yum/Fedora and surprised it installs development code.

If debug=1, then yum has install a debug version.  I see you have a functions traceback.  I think you only get that information with a debug build.

[2021-04-15 10:29] clanmills commented on #1558
I'm discussing this with Team Exiv2 on our chat server.  Apparently yum installs development branches.  That's unwise and unsafe.  Download the Linux build of Exiv2 v0.27.4 RC2 from https://pre-release.exiv2.org.  There's a file "ReadMe.txt" in bundle that explains how to install it.

[2021-04-15 10:31] clanmills commented on #1558
Chat Server:
[![#exiv2-chat on matrix.org](https://user-images.githubusercontent.com/529982/106066609-0742bb80-60f5-11eb-8893-2989c854e20d.png)](https://matrix.to/#/#exiv2-chat:matrix.org)

[2021-04-15 10:32] NigelX commented on #1558
Source code
[code]

Fedora 33
[code]

[2021-04-15 10:36] clanmills commented on #1558
@NigelX Can you join us on the Chatserver, please.  Let's all discuss this together.  Other team members know much more about Fedora than I know.

[2021-04-15 10:36] kmilos commented on #1558
@clanmills Fedora does not ship the development branch, 0.27.3 is the current version packaged . However, perhaps exiv2 shouldn't default to debug build if no CMake option is given: https://src.fedoraproject.org/rpms/exiv2/blob/rawhide/f/exiv2.spec#_84

[2021-04-15 10:52] clanmills commented on #1558
The Exiv2 document README.md claims it defaults to release.
<img width="821" alt="screenshot_44" src="https://user-images.githubusercontent.com/529982/114857333-09f1aa80-9de0-11eb-9d10-1dc5f038e77d.png">

Exiv2 does rely on the default provided by CMake:

[code]

I've regenerate the build and it reports:

[code]
So, it's _**undefined**_.

Perhaps we should change _**undefined**_ to Release.

[2021-04-15 10:59] kmilos commented on #1558
I'm still trying to get how this "undefined" gets understood as Debug though...

[2021-04-15 11:01] clanmills commented on #1558
@NigelX I'm going to create a PR to `set (CMAKE_BUILD_TYPE Release)` in CMakeLists.txt.  This will bring the code and README.md into 100% agreement.  So yum will build you a release version in future.

Getting back to the security issue.  Do you agree that there is no case to answer?

[2021-04-15 11:14] kmilos commented on #1558
Reported to Fedora as well: https://bugzilla.redhat.com/show_bug.cgi?id=1949903

[2021-04-15 11:19] clanmills commented on #1558
Thanks for reporting that to Fedora, @kmilos.

Patch (for 'main' v1.00 is)
[code]

@NigelX If you're happy with our explanation and action, I invite you to close this ticket.

[2021-04-15 11:43] clanmills commented on #1558
PR Submitted: #1559.

[2021-04-15 12:43] kmilos commented on #1558
Ah, it's not necessarily a proper Debug build, but just that NDEBUG is not defined among some other things, so it's just reported as one:

https://github.com/Exiv2/exiv2/blob/52b2855c49679b179e324740af274daf12efa56c/src/version.cpp#L239

NDEBUG also affects the [assert](https://en.cppreference.com/w/c/error/assert).

[2021-04-15 13:01] clanmills commented on #1558
You are right.  We should report ndebug=1|0 because that's what we know.

The assert and traceback were in the user's report.  To make more progress with this, will probably involve forsensics such as shared object sizes for building/download Exiv2.  I don't want to spend an afternoon on this.  It's an assert being correctly called on a malicious file.

[2021-04-15 13:02] #1558 closed

[2021-04-15 13:04] kmilos commented on #1558
No need, I think it's safe to say with no build type specified (and no default provided), you get neither the `-g` switch of the Debug build, nor the `-O2 -DNDEBUG` of the Release one.

[2021-04-16 13:08] clanmills opened #1561 "Intermittant test timeout failure"
The default for timeout is 10 seconds.  Quite a long time for a little test.  Yet, it frequently throws timeout on the the MacMini and occasionally elsewhere.

[code]

The test is:
[code]
The "slow" part is the insert command.  This copies the metadata from the .exv into the JPEG.

The most irritating part of this is that the test suite terminates and doesn't proceed to run the version_test.  I su

[2021-04-18 12:49] alexvanderberkel commented on #1466
Hi guys,

I warmly welcome you to the kick-off meeting for our work on Exiv2. Please find attached the prepared meeting slides and meeting details.

The meeting is scheduled for:
2021-04-24 10:00 UTC / 11:00 BST / 12:00 CEST / 23:00 NZDT

Zoom details
https://us02web.zoom.us/j/9129667335?pwd=cjFvWHNnMlpwOExYSE44dHFrdWtyZz09
Meeting ID: 912 966 7335
Passcode: 2ngkdc

The full backlog for the projec

[2021-04-18 19:43] clanmills opened #1570 "Security Issue in bmffimage.cpp"
https://github.com/Exiv2/exiv2/security/advisories/GHSA-6pvh-9j9h-5jcm#advisory

@yuawn.  I'll deal with this on Monday.  I will also inspect the code for other similar weaknesses.  When I wrote the code, I didn't give enough thought to reading outside the buffer.  You're welcome to report more issues after I've submitted the PR with my corrections.

[2021-04-19 01:57] henices opened #1571 "heap-buffer-overflow Read in Exiv2::WebPImage::doWriteMetadata"

[2021-04-19 03:35] yuawn commented on #1570
@clanmills thanks!

Just for your information, the other 4 crash are caused by the same root cause, like here:
[code]
So I think adding the proper check of `skip`, it will fix all these 5 bugs!
After you have submitted the PR, I can pull latest code and keep testing for you, thanks.

[2021-04-19 04:21] #1571 closed

[2021-04-19 08:31] clanmills commented on #1571
@henices  Thanks for visiting.  By co-incidence @yuawn _(an engineer in Taiwan)_ is also investigating Exiv2 security matters.  @kevinbackhouse is organising Security Advisories.  So, we are taking your concerns seriously.

Exiv2 has to balance our engineering resources between many matters.  Features, bugs, build, test, documentation, security, user support and so on.  Our schedule is to release

[2021-04-19 08:39] kevinbackhouse commented on #1570
@clanmills: I am happy to fix this bug today. Or are you already working on it?

[2021-04-19 10:26] vog commented on #1557
Regarding:

It seems that I missed the part about EPS. What exactly are the objectives with EPS support? I'm asking because I know of at least one application that makes active use of EPS metadata and that is still in active use. Such an application one would be stuck with Exiv2 0.27 if EPS support was removed in 1.00.

What exactly is needed to make EPS support survive 1.00?

[2021-04-19 12:31] clanmills opened #1574 "Exiv2.org will be closed on 2021-06-30"
I will not pay the hosting account after 2021-06-30.  I am the registered domain name owner in whois.  I will cooperate with the transfer to somebody provided it does not consume more than a few minutes of my time.

[2021-04-19 15:40] kevinbackhouse commented on #1570
Details of the bug (copied from https://github.com/Exiv2/exiv2/security/advisories/GHSA-6pvh-9j9h-5jcm, which I am going to close):

Hi,

I found the vulnerability in current main [c15d3b1](https://github.com/Exiv2/exiv2/commit/c15d3b1323e5643c407aa517fab4037f64d2cd64).
This security bug exist in library and can be trigger by vanilla exiv2 without any other options and arguments.
It can lead to he

[2021-04-20 10:05] rentapacs commented on #1557
Hi Robin, all,
since @vog alerted me of the pending removal of EPS support from Exiv2 1.00 I'd like to chime in here and speak out for keeping it in the code. My company develops and supports a software system which heavily relies on the ability to read and write image metadata in IPTC/XMP formats to and from various image formats. Since our system lives in a professional publishing environment im

[2021-04-20 11:30] piponazo commented on #1557
Hi @rentapacs & @vog,

For me it is fine to recover in the `main` branch the EPS support. I just removed it because it was marked as deprecated after the discussion we had a long time ago here https://github.com/Exiv2/exiv2/issues/603 . However, if you are using EPS and are happy with its current implementation, I'll happily recover that code.

I hope others have no objections about it 😉

[2021-04-20 11:32] piponazo opened #1575 "Recover EPS support on main"
EPS is used in some active projects (see https://github.com/Exiv2/exiv2/issues/1557#issuecomment-823152130) and we should recover the code that was dropped in https://github.com/Exiv2/exiv2/pull/1562 (because it was marked as deprecated).

[2021-04-22 09:38] #1570 closed

[2021-04-22 16:39] #1575 closed

[2021-04-24 10:03] alexvanderberkel commented on #1466
I just realized that we cannot use the zoom details of Robin and he is not attending. Please use this link

Video call link: https://meet.google.com/ceo-uckx-uof

[2021-04-26 10:29] tenzap opened #1589 "some [Canon] & [Composite] tags get lost or modified"
With linked canon pictures, some [Canon] & [Composite] tags get lost or modified when for example deleting thumbnail when running:

```exiv2 -dt pic.jpg```

Same problem when inserting thumbnail, and maybe whichever operation we do.

This is with 0.27.4 RC2

Sample pictures:
* https://github.com/ianare/exif-samples/raw/master/jpg/hdr/canon_hdr_NO.jpg
* https://github.com/ianare/exif-samples/raw/ma

[2021-04-26 10:51] kmilos commented on #1589
Just an FYI: ExifTool's "Composite" tags are [derived/calculated](https://exiftool.org/TagNames/Composite.html) from data, and not actually in the file, so not really relevant for the issue here.

[2021-04-26 14:24] tenzap commented on #1589
Oh ok, I didin't know that, thanks. So problem is with the Canon tags then.

[2021-04-26 22:58] clanmills commented on #1557
I'm happy with everything discussed here.  I don't recall any issues with the EPS code.  Thank You @vog and @rentapacs for your contribution.  And to @piponazo for closing this.

Lots of great work by everybody.  Thanks.

[2021-04-27 08:10] vog commented on #1557
@piponazo @clanmills Thanks a lot for restoring EPS support!

[2021-04-29 15:55] 1div0 commented on #1557
Hi++ *

Just tried to compile latest code from main branch with [-fanalyzer](https://developers.redhat.com/blog/2021/01/28/static-analysis-updates-in-gcc-11/)

Please have a look at the [GCC11.log](https://github.com/Exiv2/exiv2/files/6399951/GCC11.log)

Thanks.

[2021-05-04 10:30] vbx opened #1602 "Exiv2 cross compile with emscripten ?"
Hello,
I try to compile exiv2 static lib but with emscripten like this :

[code]

But i have a problem with next step :
[code]

Exiv2 support cross compile with emscripten ? How to do ?
Thanks

[2021-05-05 12:12] zodf0055980 opened #1603 "Heap-buffer-overflow and OOB memory access in src/jp2image.cpp:911:24"
Hi, I found a vulnerability in current master b675c58babc5b2c67cd6899a3583659a2856dcc6 .

# Configure
[code]

# Command
[code]

# poc
[poc.zip](https://github.com/Exiv2/exiv2/files/6426916/poc.zip)

# ASAN report
[code]

# check
I also check this problem without ASAN.
It malloc `pData_` size `20` in `DataBuf::DataBuf(long size)`, but it try to read `pData_+8` to `pData_+24` in `memcmp` in jp2image

[2021-05-06 20:47] jwilk opened #1604 "exiv2.org down?"
I can't connect to exiv2.org:

[code]

[2021-05-07 10:42] clanmills commented on #1604
I don't know what has happened.  I have a "basic plan" which doesn't enable me to raise a support ticket.  The bill is typically about $25/month for usage.

How can I fix this?  I don't know.

[2021-05-07 11:14] matt-maguire commented on #1604
It's possible your VM has been allocated a new IP address, perhaps due to
maintenance in that AZ. Hard to say, since I don't know anything about the
setup. The AWS dashboard can probably shed some light on the state of the
VM and IP address...

[2021-05-07 21:26] kevinbackhouse commented on #1603
Thanks. This is a duplicate of a bug that we already found and fixed on the 0.27-maintenance branch. Probably [this one](https://github.com/Exiv2/exiv2/security/advisories/GHSA-7569-phvm-vwc2). It looks like we didn't apply some of those fixes to the main branch yet, so I'll go through and make sure that they're all added to main too.

[2021-05-09 12:57] #1603 closed

[2021-05-13 10:24] alexvanderberkel opened #1639 "Exiv2 print function prints different Lens for CR3 files"
The current RC2 prints different lenses if the the following two command are being used:

Correct lens:
exiv2 -pv E Canon_EOS_R_CRAW_ISO_10000_dual_pixel_off.CR3

Tags detected concerning lenses:
Canon_EOS_R_CRAW_ISO_10000_dual_pixel_off.CR3  0xa434 Photo        LensModel                   Ascii      23  RF85mm F2 MACRO IS STM
Canon_EOS_R_CRAW_ISO_10000_dual_pixel_off.CR3  0x0095 Canon        Lens

[2021-05-13 10:32] alexvanderberkel commented on #1639
This does only affect the new Canon RF lenses. LensModel is a new tag from CR3 files

[2021-05-16 12:26] postscript-dev opened #1656 "Missing Windows functions in the online API docs"
**Describe the bug**
The [exiv2.org](https://www.exiv2.org/) and [pre-release.exiv2.org](https://pre-release.exiv2.org/) API documentation, does not include the Windows Unicode functions. This can be seen by comparing the [exiv2/image.hpp](https://github.com/Exiv2/exiv2/blob/c73dfa0106b2fbc498cb7128ef121282e0af2f25/include/exiv2/image.hpp#L569) with the [Exiv2::ImageFactory Class Reference](https:

[2021-05-16 13:08] alexvanderberkel commented on #1639
I close this issue as I think the behavior is correct. However, there is work to be done on the identification of the lens type which is handled in PR "Test all Canon lenses #1428"

[2021-05-16 13:08] #1639 closed

[2021-05-17 05:54] yarmoliq commented on #792
[This sample program](https://exiv2.org/doc/exifprint_8cpp-example.html#_a9) uses `AutoPtr`. That's why I encountered the sample problem. Thanks for helping and clearing things out!

[2021-05-17 15:56] postscript-dev commented on #1656
I didn't plan to fix this, as I am busy with other things.

BTW, when posting an issue, the templates are missing. If you still intend to use them, the files are still in the `old-master` branch [here](https://github.com/Exiv2/exiv2/tree/old-master/.github/ISSUE_TEMPLATE).

[2021-05-17 19:25] clanmills commented on #1574
I'm going to close this.  Pat David at pixls.org has offered to host exiv2.org.  I understand that @nehaljwani will work with Mica on the transition.  So, the AWS node will no longer be necessary and will be closed.  However, exiv2.org (the web-site and svn server) will persist with a new IP address.  I will cooperate in the transfer of the domain or any other chores involved.

[2021-05-17 19:25] #1574 closed

[2021-05-20 08:16] #1656 closed

[2021-05-20 09:33] clanmills commented on #1602
I've never heard of emscriptem and is therefore not supported.  The procedure to build exiv2 is documented in README.md.

[2021-05-20 09:33] #1602 closed

[2021-05-21 01:28] jo620kix opened #1679 "BMFF/JPEG-XL patent discussion"
Although Exiv2 supports ISOBMFF, it is currently disabled by default, and is guarded by the CMake option and `enableBMFF()`.
The README file also has a warning text:

I asked JPEG XL developers about the patent issues (since BMFF container is also used in JXL), and they believe that it is fine to use and support BMFF.

According to @jonsneyers (JPEG XL core developer):

[2021-05-21 15:19] clanmills opened #1680 "Exiv2 v0.27.39 fails to open files which open on v0.27.4.2 (RC2)"
This works on 0.27.4.2:

[code]

And fails to open on v0.27.4.39
[code]

The file Gordon/DSC04340.HIF is in the test suite and doesn't work there either.

[code]

Only one of about 12 test files which I obtained from Gordon Laing are working on v0.27.4.39.  A zip of all the files is 180mb and can be provided if required.

[2021-05-21 15:38] clanmills commented on #1680
User Error.  I build the default -DEXIV2_ENABLE_BMFF=0 and the test 609 rmills@rmillsmm-local:~/gnu/github/exiv2/0.27-maintenance/tests $ python3 runner.py bugfixes/github/test_pr1475_HIF.py
..
----------------------------------------------------------------------
Ran 2 tests in 0.280s

OK
610 rmills@rmillsmm-local:~/gnu/github/exiv2/0.27-maintenance/tests $ is skipped.  The files are good.

[2021-05-21 15:40] clanmills commented on #1680
False Report.  Case closed.

[2021-05-21 15:40] #1680 closed

[2021-05-22 10:13] clanmills commented on #1493
I'm going to close this as I believe this is complete.  @1div0 if there's something still to be done here, we can reopen the issue.

[2021-05-22 10:13] #1493 closed

[2021-05-22 10:34] clanmills commented on #1679
Thank You for this information.  We made -DEXIV2_ENABLE_BMFF=0 the default for 0.27-maintenance and =1 for 'main' (which will mains to be Exiv2 v1.00 eventually).

The reason to restrict this in 0.27-maintenance is simple caution.  Although nobody has provided a solid case that reading BMFF is illegal, the default ensures that existing applications using exiv2 v0.27.4 (and any later 0.27 releases)

[2021-05-22 10:34] #1679 closed

[2021-05-22 10:39] clanmills commented on #1506
There is a brief discussion about the patent situation concerning BMFF/JPEG-XL here:  #1679

[2021-05-22 10:39] jo620kix commented on #1679
I see. Thank you very much!

[2021-05-22 10:59] 1div0 commented on #1493
OK

[2021-05-22 12:42] clanmills opened #1683 "Never action a CVE once RC1 has shipped"
In future, any CVE which arises after RC1 has been declared should be deferred for a future release.

After Exiv2 v0.27.4 GM, I am willing to meet on Zoom with Security Researchers to discuss areas of the code which could/should be investigated for security issues.  Security should be part of the on-going development of Exiv2.  CVEs should not arrive as hand-granades lobbied into the project.  It

[2021-05-22 13:57] jonsneyers commented on #1679
I think this caution is erring on the side of paranoia, and possibly based on a misunderstanding.

ISOBMFF is pretty old, old enough for it to be possible to still have applicable patents (patents expire after 20 years). It is a simple box-based container format that is used by many formats, including MP4, JPEG 2000, and JPEG XL.

One particular use of ISOBMFF is HEIF, which is more recent, and fo

[2021-05-23 13:25] clanmills commented on #1679
@jonsneyers You know how it is.  I'm damned if I do, and damned if I don't.  bmff support was to be added in Exiv2 v0.27.3 (which shipped on 2020-06-30).  When the subject of patent infringement was raised, I cancelled the bmff feature.  The consequences were dire.  In June 2020, I got about 100 emails in a week asking "What's the problem?  We must have bmff support for CR3 and HEIF.".

The implem

[2021-05-23 13:45] jonsneyers commented on #1679
So just to be clear: reading BMFF is not an issue, it is over 20 years old so even if it was an issue in the past (it wasn't) it now certainly isn't anymore.

Reading HEIF-specific boxes is something else, but as long as Exiv2 is not doing that, there obviously is no issue either. Note that other FOSS tools like libheif and libavif actually do read those boxes, and they do seem to get away with it

[2021-05-23 14:27] clanmills commented on #1679
Your thinking is parallel to mine.  Exiv2 v1.00 uses the default -DEXIV2_ENABLE_BMFF=1.  So in future, bmff support is enabled by default and can be optionally disabled.

The first version of ISOBMFF was 2004 and the container format was first used by MPEG in the 1990s.  So, even if a patent has been infringed, the holder's "ownership" has almost certainly expired.

I have retired.  I was 70 in Ja

[2021-05-23 21:50] clanmills commented on #1557
Hi @1div0.  I've looked at your log.  I think it built correctly.  I've never used the option -fanalyzer and it's not supported by the clang compiler on macOS.   I've installed GCC 11.1 on Ubuntu and can't it to build anything with/without that option.

If it built OK for you (and passed the test suite), I'm happy.  If there is something to be investigated, can you open a new issue?

With -fanalyz

[2021-05-24 11:17] jwilk opened #1685 "Broken example in man page"
The exiv2 manual page contains the following example:

[code]
But as of 74bc0e05359fbe843066c3bda53fd56a5a45d976, options are required to be specified before the action, so this no longer works.

[2021-05-24 12:35] hassec commented on #1685
Thanks for reporting this :+1:

Documentation should be updated to say:
[code]

[2021-05-25 08:57] clanmills commented on #1683
I'm going to close this.  It's clear from the conversation on Element, that nobody agrees with me about this.

[2021-05-25 08:57] #1683 closed

[2021-05-25 19:54] #1685 closed

[2021-05-25 20:55] hassec commented on #1589
It seems that exiv2 doesn't correctly handle the specific makernote in these files...
Which probably leads to exiv2 messing up the file when one runs `exiv2 -dt`

Sorry that I can't be more helpful yet.
Will have to do some more digging.

[2021-05-25 21:19] hassec commented on #1589
@tenzap are the images you linked straight out of the camera or were they previously modified by some tool?

[2021-05-26 06:06] tenzap commented on #1589
I don't know if they have been modified.

They have been contributed in that repo by
`Contributed by: Jesus Cea <jcea@jcea.es>`

See readme in https://github.com/ianare/exif-samples/tree/master/jpg/hdr

[2021-05-26 11:36] hassec commented on #1589
Ok, so the good news are that I think I know the reason for the problem:

The offsets of the makernote IFDs are incorrect.
Apparently there are multiple things that can cause this... One of which is editing a file with software that doesn't properly handle these makernotes.

There is some documentation about this in the [exiftool doc](https://exiftool.org/exiftool_pod.html). (search for `fixbase`)

[2021-05-27 06:29] hassec commented on #1542
@tester0077 we just merged #1687 which hopefully fixes this problem for you.

Please feel free to reopen this issue if this or a similar problem persists!

[2021-05-27 06:29] #1542 closed

[2021-06-10 16:10] shao-hua-li opened #1706 "exiv2 crashes due to assertion '__n < this->size()' failed."
Hi there,

I crashed `exiv2` with a fuzzer generated input, which could cause `Assertion '__n < this->size()' failed.`

- exiv2 version: 1.0.0.9 (commit 23dbf4f51a6a08f2ad7a76ef4af99c10d8a84f3c)
- Compiler: clang12
- Platform: Ubuntu 20.04.2 LTS, x86_64
- Reproduce: run `exiv2 -PE poc`. You can download the poc from here [poc](https://drive.google.com/file/d/16IWelH6eVdDDTRJtMSOS8Hvm-7ejfolg/view?

[2021-06-11 08:01] shao-hua-li opened #1713 "stack-buffer-overflow in exiv2"
Hi there,

I crashed `exiv2 -Ph` with a crafted input. The original error message was "*** stack smashing detected ***: terminated". The AddressSanitizer reported a stack-buffer-overflow on this input.

- exiv2 version: 1.0.0.9 (commit 23dbf4f51a6a08f2ad7a76ef4af99c10d8a84f3c)
- Compiler: clang12
- Platform: Ubuntu 20.04.2 LTS, x86_64
- Reproduce: run `exiv2 -Ph exiv2_poc_1`. You can download the

[2021-06-11 08:42] clanmills commented on #1589
The differences in the metadata between canon_hdr_NO.jpg and canon_hdr_YES.jpg are considerable.  Changes have been made in the the `[exifIFD]` and `[canon makernote]`.  However most of the data in both are untouched.  I'm not convinced that the simple explanation that an incorrect offset to an IFD.  If that were true, the data would be massively disturbed.

A solid issue here is that ExifTool rep

[2021-06-11 12:44] hassec commented on #1589
Thanks @clanmills for the comments :+1:

@tenzap, for now at least, the problem of "fixing files on the fly" is out of scope for exiv2.
Thus, I'll go ahead and label this "wonfix" and close it.

Please feel free to reopen the issue if you'd like to further discuss this :blush:

[2021-06-11 17:25] tenzap commented on #1589
I'm not sure I understand everything very well.

I understand that you claim that the metadata has been modified by another tool which didn't update the IFD correctly resulting in exiv2 not being able to understand them. Again I don't know what happened to these test files (the provider of the files didn't answer to my email unfortunately). If input is bad, I can understand that exiv2 may not want

[2021-06-12 15:41] clanmills commented on #1589
When I went for a walk today, I started to thing about this bug and thought _I'll investigate using -dt on an image from my Canon IXUS 185 Point and Shoot"_.  I'm pleased to say that:

1) The layout of the metadata in my canon image is very similar to Canon PowerShot SX60 HS in your test images.
2) The behaviour of -dt on my image looks correct.
3) There is no collateral metadata damage inflicted

[2021-06-12 16:14] tenzap commented on #1589
These files are provided by this [repo](https://github.com/ianare/exif-samples).

I used them to test my code in [this app](https://github.com/tenzap/exif-thumbnail-adder) which uses exiv2 to add thumbnails. I noticed the differences I filed in this bug report and found that the issue was no in my code but linked to exiv2 and narrowed it down to show there is some issue somewhere when deleting a t

[2021-06-12 16:43] tenzap commented on #1589
I tried with two pictures I found on the internet and which are said to be original.
They are taken by the same camera (Canon PowerShot SX60 HS) as those from the initial report:

* [IMG_0689.JPG](http://www.steves-digicams.com/camera-reviews/canon/powershot-sx60-hs/IMG_0689.JPG) from [http://www.steves-digicams.com/camera-reviews/canon/powershot-sx60-hs/sample-photos-332.html](http://www.steves-d

[2021-06-12 19:42] clanmills commented on #1589
Thank for following through on this.  I'll self-assign and reopen the issue.  Let's not use the word *bug* until we have a solid case that exiv2 is behaving incorrectly.

[2021-06-12 19:43] clanmills commented on #1589
I'm also assigning this to milestone v1.00.  In the release notes, I list issues which are "Withdrawn/No Action".

[2021-06-13 09:18] clanmills commented on #1589
@tenzap I'm impressed to see you have an application to add thumbnail to images.  That capability has never been implemented in Exiv2.  Could you think about joining Team Exiv2 and porting your code into the library.  I've retired from Exiv2, so I'm not offering to mentor or support you.  However I've retired _after 13 years of working on the code_ in the knowledge that there is group of friendly,

[2021-06-13 18:08] tenzap commented on #1589
It is possible to add thumbnails with exiv2 with -it option, I simply reused what is already in exiv2.

Thank you for your proposal, but sorry I don't plan to join the team, I'm more sort of a hobby developer.

Thanks for the great exiv2 tool/lib

[2021-06-13 18:21] tenzap commented on #1589
I just added some code to add the mandatory exif tags in case there is no exif metadata at all in the file.

You may find it [here](https://github.com/tenzap/exif-thumbnail-adder/blob/master/app/src/main/cpp/Exiv2Helper.cpp)

[2021-06-15 13:17] clanmills commented on #1589
I'm making up the release notes for v0.27.4.  I'm going to assign this to v0.27.4 and close it.  If/when more information concerning this is available, please open a new issue.

[2021-06-15 13:17] #1589 closed

[2021-06-15 20:50] shao-hua-li opened #1717 "Unstable outputs of exiv2"
Hi there,

I found that `exiv2 -p a` would give out unstable results, i.e., some field(s) may change per run. For the input I provide, the field `Exif.Canon.SerialNumber` would change every time you run it.

- exiv2 version: 1.0.0.9 (commit 19000cd53c98c8d8e913349b410bd13a64641747)
- Compiler: clang12
- Platform: Ubuntu 20.04.2 LTS, x86_64
- Reproduce: run `exiv2 -p a diff_1` a few times and check

[2021-06-16 14:52] postscript-dev commented on #280
I'm not sure if you have something particulara in mind, but I am working on adding tags for my Sony camera and made changes before seeing your request.
Here is an example of some of the tags that I have been working on.
[code]
I have changed lots of other tags, so this will take me a while to format into the different PRs required.

[2021-06-17 07:39] martin-g commented on #933
Some asked for help here - https://twitter.com/pixlsus/status/1405372762747637766
I am able to build the project by following the steps here - https://github.com/Exiv2/exiv2#21-build-install-use-exiv2-on-a-unix-like-system
But `make tests` fails with:
[code]

In the Makefile I see many `**test` rules. Which one should I run ? Is there a way to run them all ?

[2021-06-17 07:41] martin-g commented on #933
[code]

But it does not tell more details what exactly fails...

[2021-06-17 07:52] hassec commented on #933
I think some of the README is unfortunately a bit outdated... :/

`make test` is the correct command.
When inside the build directory you can also call `ctest --output-on-failure` which will give you more output for the failing tests.

If you know what's failing you can then also go into the `tests` directory and run a test really verbosely by for example
` python runner.py --verbose --debug bugfi

[2021-06-17 10:55] martin-g commented on #933
The difference on Linux ARM64 is that there is no exception thrown here: https://github.com/Exiv2/exiv2/commit/341de4500ab993103c215bfb07d43d4a08654ac4#diff-c7886fda6bb67352b3031d9a1f4950f7b6817fd8d9952087d82c7a71bd88c9b6R175-R178

This leads to different output on stderr and different return code.

[2021-06-17 10:59] martin-g commented on #933
This code behaves differently on ARM64:

https://github.com/Exiv2/exiv2/blob/19000cd53c98c8d8e913349b410bd13a64641747/src/safe_op.hpp#L96-L124

[2021-06-17 15:22] martin-g commented on #933
The problem is at https://github.com/Exiv2/exiv2/blob/19000cd53c98c8d8e913349b410bd13a64641747/src/preview.cpp#L526

Here on ARM64 it sets `offset_` to `255`, while on x86_64 it is `4294967295` and this leads to overflow.
I am trying to find out why it is `255` now.

[2021-06-17 15:49] CliveMcCarthy opened #1719 "strange strings from exifData[exif_data_ptr->key()].toString().c_str();"
I'm using exiv2 0.27.2 on Linux 5.12.2 and compiling with gcc version 8.4.0

Something odd is happening with data returned from exifData[exif_data_ptr->key()].toString().c_str(); when it is assigned to a pointer but NOT in all cases. The issue is specific to the EXIF_DATETIME_TAG and EXIF_ORIGINAL_DATETIME_TAG.

Here is my code:
[code]

[2021-06-18 22:16] andyrtr opened #1723 "add lens: Olympus M.ZUIKO DIGITAL ED 12-45mm F4.0 PRO"
This [Olympus 12-45 F4 Pro lens](https://asia.olympus-imaging.com/product/dslr/mlens/12-45_4pro/index.html) is not recognized by exiv2 (0.27.3 - Arch Linux):

exiv2 -pa some.ORF | grep -i LensType
[code]

I've added this to my ~/.exiv2
[code]
giving the desired: exiv2 -pa some.ORF | grep -i LensType
[code]

New imported pictures in darktable now exactly show that lense name. [lensfun db addition](

[2021-06-19 09:20] hassec commented on #1723
Hi @andyrtr :wave:

Thanks for filing this issue!
The main problem with adding new lenses to the C++, is that we would like to have a test image to create a test for it.
Thus we rely on users like you that own the lens in questions and can provide a `*.exv` test file.

It would be amazing if you could just create a PR that includes the suggested change in `src/olympusmn_int.cpp` + a test image and

[2021-06-19 20:29] maxpozdeev opened #1724 "Exiv2 is slow on video files"
Sometimes I use exiv2 to read metadata from large .MOV video files (many gigabytes and/or networked volumes) (just to check this is not an image). This can take a long time due to the whole file is read.
Maybe exiv2 should ignore BMFF files with video brands?

Exiv2 0.27.4 from repo with EXIV2_ENABLE_BMFF=On (on macOS)

[2021-06-20 20:16] hassec commented on #1723
cloesd by #1725

[2021-06-20 20:16] #1723 closed

[2021-06-21 12:03] kevinbackhouse commented on #1706
The problem here is related to [this tag](https://github.com/Exiv2/exiv2/blob/c069e36605f05e8e58bf964e5ecbde04efb90a20/src/pentaxmn_int.cpp#L1446-L1448):

[code]

Apparently [`undefined`](https://github.com/Exiv2/exiv2/blob/c069e36605f05e8e58bf964e5ecbde04efb90a20/include/exiv2/types.hpp#L107) is a type that means 1 byte. But the file contains an [`unsignedLong`](https://github.com/Exiv2/exiv2/blo

[2021-06-21 17:08] kevinbackhouse commented on #1706
One possible solution is to refuse to print when the type of the value doesn't match what we expected:

[code]

I think that might be too aggressive though. Based on what @clanmills told me, the metadata often doesn't match what it says in manufacturer's specification, so that might prevent us from printing useful information for legitimate files.

I also suspect that the above solution isn't suff

[2021-06-21 20:45] neheb commented on #1557
I'd look into coverity and clang-analyzer before fanalyzer. It seems to have a lot of noise.

[2021-06-22 11:30] kevinbackhouse commented on #1717
Yes, this is because `l` is not uninitialized at [canonmn_int.cpp, line 2764](https://github.com/Exiv2/exiv2/blob/fec1813a3e7b0e4aaed7fae7ba9f9b49ca526638/src/canonmn_int.cpp#L2764).

[2021-06-26 17:40] sliv2001 opened #1740 "Yet another issue on Qt compatibility"
Here is the simple piece of code I wrote to check compatibility of exiv2 and Qt (MinGW64 on win); it does not work anyhow:

    #include <QCoreApplication>
    #include <iostream>
    #include "exiv2/exiv2.hpp"

    int main()
    {
        Exiv2::Image::AutoPtr i = Exiv2::ImageFactory::open("1.jpg");
        std::cout<<"done"<<std::endl;
        return 0;
    }

And here is corresponding .pro fil

[2021-06-27 07:01] hassec commented on #1717
Should be fixed in `0.27-maintenance` and `main`, thanks to @kevinbackhouse

[2021-06-27 07:01] #1717 closed

[2021-06-27 07:34] hassec commented on #1706
Should be fixed in `main` and `0.27-maintenance` thanks to @kevinbackhouse

[2021-06-27 07:34] #1706 closed

[2021-06-27 07:53] hassec commented on #1724
Hi @maxpozdeev thanks for the report! :+1:

I think that's a bug... :see_no_evil:

On a random `*.MOV` file I get the following
[code]
But I'd say returning an `image/generic` MIME type is not great...

I agree, that this should abort earlier instead of trying to parse the entire file as a BMFF image.

Until this is fixed, maybe just do your check by for example running the `file` command to make

[2021-06-27 08:22] hassec commented on #1713
fixed in `main` and `0.27-maintenance` thanks to @kevinbackhouse

[2021-06-27 08:22] #1713 closed

[2021-06-27 09:14] maxpozdeev commented on #1724
I used a quick fix, to check if the media type is a supported image.
I think there will be more and more media formats (video and images) which use BMFF as their container. So maybe Exiv2 should strictly check for supported image formats.

[code]

[2021-06-27 10:22] hassec commented on #1724
Hi @maxpozdeev I've created #1745 to fix this problem, but will wait for some more feedback from other maintainers, as I'm not sure what the best way to handle this will be.

I'm not a huge fan of asserting that exvi2 knows the brand, as that isn't a requirement for it to parse a BMFF file.
It will just label it as `image/generic` mime type but still parse the file and report metadata if found.

[2021-06-27 14:15] norbertwg opened #1748 "Feature Request: Video Support in V1.0"
Seems, that video support, which was available in 0.27.4 has been removed in 1.0.0. CMakeLists.txt no longer contains EXIV2_ENABLE_VIDEO and exiv2.exe I built on Windows does not show XMP-tags in a video (which was working in 0.27.4). I hope this is just an interim status, because I would really miss it.

[2021-06-27 17:06] hassec commented on #1748
AFAIK, yes, `exiv2` video support has been dropped in v1.0.0 and was marked deprecated before that.
This all goes back to way before I joined, see e.g. #1562, #692 #617 and other connected issues & PRs

[2021-06-27 17:17] hassec commented on #1719
Hi @CliveMcCarthy, thanks for the report!

Do you think you could boil this down into a minimal reproducer, such that I could see what's going on?

[2021-06-27 18:00] CliveMcCarthy commented on #1719
I can't readily boil it down further. It is basically a small variation of your published exifprint.cpp example.

I simply added a switch statement inside the tag loop, dumped the hideous C++ cout stuff and put in a bunch of printf statements for the various cases. It seems that calls to exifData[exif_data_ptr->key()].toString().c_str(); _sometimes_ produce garbage.

I'm not a C++ programmer, I ju

[2021-06-27 18:32] hassec commented on #1719
Hi @CliveMcCarthy, what makes this hard to debug is that you have a bunch of variables in your switch statement that aren't defined in exiv2 nor in the code you post... e.g.  `EXIF_ORIGINAL_DATETIME_TAG`

Anyway, I think you are running into lifetime problems here.
Let's look at this line:
[code]

the `toString` function is doing the translation of the binary data that was read from the file into

[2021-06-27 18:51] CliveMcCarthy commented on #1719
All I can say is that I hate C++. For me a simple pointer to data is all I needed but that isn't the way of the C++ world.

Thanks for your attention. Maybe you should publish a simple C version of exifprint.cpp so that others won't fall into the puzzle I had.

[2021-06-27 19:17] #1719 closed

[2021-06-28 02:22] giantbranch commented on #1713
@kevinbackhouse I sent 3 bug reports to you via email, but there was no response, I am not sure if you received them.

[2021-06-28 07:25] kevinbackhouse commented on #1713
@giantbranch: no, I didn't get them. Please can you try sending them again?

[2021-06-28 09:19] giantbranch commented on #1713
@kevinbackhouse I sent it again to you an hour ago via lujuzhi@nsfocus.com. If you can’t receive it, I think I should send it by another email.

[2021-06-28 10:18] kevinbackhouse commented on #1713
@giantbranch: I got your emails, thanks. I'll create the GHSAs now.

[2021-06-28 18:30] norbertwg commented on #1748
Thanks for the fast response. I had now a closer look and recognized, that in the past I missed the hints, that video will be depricated. I am not happy with this decision to remove functionality, but there will have been reasons for this.
Is there hope, that it will be included again some time in the future? If I remember well, once there was even changing meta data in videos on the road map.

[2021-06-28 18:52] hassec commented on #1748
I guess the most honest answer I can give to this is: "who knows !? " :sweat_smile:

Of course, it's possible, but the main hurdle is the maintenance burden. And with the limited amount of people power we have, the focus is on getting the image metadata part ready for v1.0.

I took the freedom of slightly renaming the title.
I'd suggest we leave this issue open as "feature request"  such that it's

[2021-06-30 12:33] norbertwg commented on #1748
thanks for changing it to feature request

[2021-07-01 18:40] kmilos opened #1757 "Pentax MakerNote duplication and"
Some sort of reincarnation of https://github.com/Exiv2/exiv2/issues/533 is still present in v0.27.4, see https://discuss.pixls.us/t/invalid-tiff-directory-tags-are-not-sorted-in-ascending-order/25678

When exporting from dt, there seem to be two (incomplete) copies of the MakerNote and the messed up directory structure as a result. Only happens on the Pentax DNG input, but not on the PEF.

Tested

[2021-07-01 19:26] kmilos commented on #1757
Leaving dt out of the picture, if you do e.g. `exiv2 -M"set Exif.Image.Copyright kmilos"` on the DNG sample, the DNGPrivateData changes count significantly?

Original:

`Exif.Image.DNGPrivateData                    Byte      160372  80 69 78 84 65 88 32 0 ...`

After mod:

Exif.Image.DNGPrivateData                    Byte      131902  80 69 78 84 65 88 32 0 ...`

[2021-07-02 07:25] kmilos commented on #1757
Looking at the diff of the two DNGs, indeed only the count for the DNGPrivateData was changed for some reason, the rest of the file is intact, i.e. no data was relocated:

![image](https://user-images.githubusercontent.com/4973094/124236882-3a133480-db17-11eb-9ecd-70733ac6eb11.png)

[2021-07-02 13:56] kmilos commented on #1757
Ah, I now see that PentaxDng is also 0xc634, and is hence written over the DNGPrivateData w/ thumbnails removed after it was interpreted. *Not cool.*

As far as dt goes, I have a theory that somehow we end up there w/ two 0xc634 tags when exporting to TIFF, or we have the opposite situation where the smaller one gets overwritten w/ the larger original. Actually you want neither of them (0xc634 is

[2021-07-05 14:53] 1div0 commented on #1748
@norbertwg could you, please, describe your video related use case in detail? Maybe we will find the common ground after all.

[2021-07-05 16:16] norbertwg commented on #1748
I have written a WinForms-program whose main puprose is to see and change meta data of digitial images. As versions from exiv2 until 0.27.4 also support reading meta data from videos, my programs uses this to display meta data of videos. So simply, the use case is to support videos as it was before.
The videos I have, have only XMP data, not sure if other videos have Exif and IPTC. So the basic re

[2021-07-06 12:33] shao-hua-li opened #1763 "Segment fault on exiv2 -Pt"
Hi there,

I crashed `exiv2 -Pt` with a crafted input.

- exiv2 version: commit ff00771
- Compiler: clang12
- Platform: Ubuntu 20.04.2 LTS, x86_64
- Reproduce: run `exiv2 -Pt poc`. You can download the poc from here [poc.tar.gz](https://github.com/Exiv2/exiv2/files/6770034/poc.tar.gz) (decompress it first.)

AddressSanitizer report:

==84042==ERROR: AddressSanitizer: SEGV on unknown address 0x0000

[2021-07-06 20:21] agiudiceandrea opened #1764 "PageName Exif Image tag (0x011d) is not recognized"
The Exif.Image.PageName tag (0x011d) is not recognized.

[2021-07-07 16:16] #1764 closed

[2021-07-08 11:33] kevinbackhouse commented on #1763
Fix: https://github.com/Exiv2/exiv2/pull/1767

[2021-07-09 05:14] 1div0 commented on #1724
MPEG-4 is just big mess. We could add some additional parsing in order to avoid such corner case.

[2021-07-09 15:11] #1763 closed

[2021-07-10 19:16] sliv2001 commented on #1740
Solved.

[2021-07-10 19:16] #1740 closed

[2021-07-11 12:23] ioctl-user opened #1770 "Make -t -r fmt options more flexible"
There is two issues.

1) For example, I want treat with "-t" option two files in the same directory:

IMG_20210101_123456001.jpg
IMG_20210101_123456002.jpg

The second run will fail, because these files should have the same name. Is it possible to add optional additional numeric extension like Android camera does? Like this:

20210101_123456.jpg
20210101_123456_1.jpg

2) Google Camera app sometime

[2021-07-13 09:15] #280 closed

[2021-07-16 11:27] dheijl opened #1782 "Canon CR3 format: Sigma 30 mm F1.4 DC DN (EFM) wrongly identified"
Camera: Canon M50
Lens: "Sigma 30mm F1.4 DC DN | Contemporary 016" (EF-M version) as reported by Canon DPP 4

Both exiftool and exiv2 wrongly identify the lens as the "Sigma 56mm f/1.4 DC DN", although the focal length is correctly reported as 30mm.

Example CR3 file attached.

[IMG_2362.zip](https://github.com/Exiv2/exiv2/files/6830259/IMG_2362.zip)

[2021-07-16 12:06] hassec commented on #1782
This is because this lens isn't known to `exiv2` yet.
As a workaround, you can use a configuration file as explained [here](https://exiv2.org/manpage.html)

Just add the below to said file
[code]
and exiv2 will report the correct lens name:
[code]

[2021-07-16 12:20] dheijl commented on #1782
Thanks! I'll do that.

[2021-07-16 15:25] hassec commented on #1782
@dheijl I've also created #1784 to add this lens to exiv2, so future releases will have this lens correctly identified without the need for a config file.

[2021-07-16 15:30] dheijl commented on #1782
Thanks and yes sure you can use the image!

[2021-07-16 15:31] hassec commented on #1515
I'm adding the INI parser to this list of things to remove which is currently also just dropped into the exiv2 source tree

[2021-07-16 15:32] hassec commented on #1782
Thanks!

[2021-07-19 15:46] kmilos opened #1791 "0.27.4 regression on (older) RAF files"
See https://github.com/darktable-org/darktable/issues/9567

The S5Pro sample is from [RPU](https://raw.pixls.us/getfile.php/2634/nice/Fujifilm%20-%20FinePix%20S5Pro%20-%203:2.RAF).

Here's what I get under mingw64, but the same happens w/ the official MSVC build too:

[code]

If I downgrade to exiv2 0.27.3:

[code]

[2021-07-23 11:20] kevinbackhouse opened #1793 "Tiny file triggers 4GB allocation in bmffimage.cpp"
There is no bounds-checking of `box.length` before [this allocation](https://github.com/Exiv2/exiv2/blob/82057a6a1d2fa390fcd6ad1f24ce954915854651/src/bmffimage.cpp#L236), so it is easy to trigger a 4GB allocation.

To reproduce:

[code]

[poc.tar.gz](https://github.com/Exiv2/exiv2/files/6868324/poc.tar.gz)

[2021-07-23 12:03] msmeissn commented on #979
this was fixed by commit c0ecc2ae3  I think. and issue 843

[2021-07-23 12:07] msmeissn commented on #979
Inrtoduced by:

commit b3d077dcaefb6747fff8204490f33eba5a144edb
Author: Robin Mills <robin@clanmills.com>
Date:   Sat Oct 13 11:38:56 2018 +0200

    Fix #460 by adding more checks in CiffDirectory::readDirectory

I think during 0.27 development

[2021-07-23 12:12] msmeissn commented on #980
Fixed by commit 109d5df7abd329f141b500c92a00178d35a6bef3
Author: Kevin Backhouse <kev@semmle.com>
Date:   Thu May 16 14:30:12 2019 +0100

    Check bounds of jpg_img_off and jpg_img_len. (#858)

[2021-07-23 12:39] kmilos commented on #1791
Ah, came in this commit since 0.27.3: https://github.com/Exiv2/exiv2/commit/45119e32601d56fca11467bd93562cd92dc35602

This now [assumes there is a TIFF embedded in the RAF, which is true for newer cameras](https://github.com/darktable-org/rawspeed/blob/4f03e0d42b1842f18b30a4e225e3bd39cbe00939/src/librawspeed/parsers/FiffParser.cpp#L66-L67), but [older RAFs use a different (raw bytestream) scheme](

[2021-07-25 14:58] #1782 closed

[2021-07-25 18:43] #1793 closed

[2021-07-27 18:39] hassec commented on #1724
fixed in #1745

[2021-07-27 18:39] #1724 closed

[2021-07-28 12:19] clanmills opened #1805 "exiv2 -pR false negative "tiff directory length is too large""
$ tvisitor -pRU path is more-or-less the same as $ exiv2 -pR path and the file is good.

It must be a bug in $ exiv2 -pR and almost certainly caused by reading dirLength from the wrong offset into the file. So, it's a bug in $ exiv2 -pR path. This is a false negative.

![DSC00723](https://user-images.githubusercontent.com/529982/127320899-7bc607f5-07a1-456b-9988-7e3ff07f40ef.JPG)

[2021-07-28 13:15] postscript-dev commented on #1805
I remembered that when I added the `Exif.SonyMisc3c.*` tags, I included one of Exiftool's test images which is the same model number as the above image  ([Sony DSC-HX60V](https://github.com/Exiv2/exiv2/blob/main/test/data/exiv2-SonyDSC-HX60V.exv)). I tried running `exiv2 -pR` and this does trigger the error.

[2021-07-29 06:34] clanmills commented on #1805
@postscript-dev and @hassec  Can you test this patch, please.  If you're happy, a PR should be prepared with test changes.

Please be aware that the option `-pR` is only supported in Debug builds.  There's magic required in the test suite to safely skip this test for non Debug builds (see tests/bugfixes/github/test_issue_216.py).

[code]

[2021-07-29 10:12] postscript-dev commented on #1805
I have downloaded the patch, compiled and wrote a Python script to process all of Exiftool's [Sony sample images](https://exiftool.org/sample_images.html).
My Python script is
[code]
I ran this with
[code]
The stderr outputs of before and after the patch are here:
1. [exiv2_pR_before_stderr.txt](https://github.com/Exiv2/exiv2/files/6899611/exiv2_pR_before_stderr.txt)
2. [exiv2_pR_after_stderr.txt]

[2021-07-29 10:48] clanmills commented on #1805
Your python script is approximately what you'll need.

You should cut'n'paste into a script in tests/bugfixes/github to uses the test framework.  I think @hassec can do that in the PR.

[2021-07-30 10:53] clanmills commented on #1805
I've looked at the 739 files in the ExifTool-Sony archive.  Two are odd and cause tvisitor to hang. They are:

[code]

The others run successfully in tvisitor.  However `$ exiv2 -pR path`, reports 82 false negatives.  These are probably be easy to fix.  Some Sony MakerNotes start with the header `SONY DSC `, and clearly some do not.

The two odd files will require additional investigation.

I'll i

[2021-07-30 11:15] kevinbackhouse opened #1810 "Conan instructions for building with external XMPsdk hae stopped working"
The instructions for  "Building Exiv2 with Adobe XMPsdk 2016" in [README-CONAN.md](https://github.com/Exiv2/exiv2/blob/main/README-CONAN.md#4-building-exiv2-with-adobe-xmpsdk-2016) have stopped working. I am seeing this error:

[code]

[2021-07-30 11:26] clanmills commented on #1810
On macOS, I also get this message on a "vanilla" build (no XMPsdk)

[code]

[2021-07-30 14:06] clanmills opened #1811 "Consider replacing src/ini.cpp with an external library"
This is a single file of 297 lines.
[code]
I found this somewhere on the internet and edited to put it into the Exiv2 namespace.  I added this as a single file because I thought it would be simpler than adding a new library dependency.

Both Dan and Christoph disagree with my decision.

With conan, adding new dependent libraries is easier than it used to be.

I only use conan with Visual Studio.

[2021-07-30 14:17] clanmills commented on #1805
The MakerNote for some Sony files has a header "SONY DSC " and others "SONY CAM ".  The quick change to the patch is:
[code]
The odd files have are illegal files for which `$ exiv2 -pR path` correctly throws an exception. The command `$ exiv2 -pa path` _dangerously/wrongly_ forgives and reports a warning.

[2021-07-30 14:21] clanmills commented on #1515
I've opened a new issue concerning src/ini.cpp #1811.

I think we should restore the title of this issue to `Investigate removing xmpsdk from code base` because those issues are different.

[2021-07-30 15:08] kevinbackhouse opened #1812 "4GB allocation in jp2image.cpp"
There are a couple of memory allocations in jp2image.cpp that don't check whether the amount of memory requested makes sense. This can cause a crash due to an out-of-memory error.

To reproduce:

[code]

Error message:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/6908387/poc.tar.gz)

[2021-07-30 17:03] kevinbackhouse opened #1815 "out-of-bounds read in jpgimage.cpp"
To reproduce (on main or 0.27-maintenance):

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/6909053/poc.tar.gz)

output:

[code]

[2021-07-30 17:08] kevinbackhouse commented on #1815
The bug is [here](https://github.com/Exiv2/exiv2/blob/c6f7e4823e83229e0fe725ffe6469973570a7357/src/jpgimage.cpp#L977):

[code]

We need to check that `buf.size >= 16` before calling `memcpy`.

I introduced this bug in #1790. Before, the size of the buffer was always 36 bytes, but now it can vary in size.

[2021-07-31 06:27] piponazo commented on #1810
Hi guys.

The XMP conan support was a very fragile prototype. It looks like with recent conan updates, it is not building anymore. (Note that it was in a repository named `conan-piponazo` which I created few years ago). I hope I can find some spare time to look at it anyways.

The Expat package is an official conan package and the problem sees to be with a wrong configuration of conan profile and

[2021-07-31 07:37] clanmills commented on #1810
@piponazo Thanks for looking at that, Luis.

I hope everything's good with you.  We're fine.  I've been sucked back into Exiv2 for a few days.  I hope to escape again and return to my garden projects.  @kevinbackhouse intends to tag Exiv2 v0.27.5 RC1 on the 0.27-maintenance branch in the next few days.  This will include several security fixes and some minor changes.  No substantial changes.  I've

[2021-07-31 08:51] clanmills commented on #1810
Good News.  I've performed a "vanilla build" on the MacMini with the Intel CPU.  I had to read https://docs.conan.io/en/latest/faq/troubleshooting.html#error-invalid-setting and updated ~/.conan/settings.yml to include apple-clang: version 12.0.

I don't think there's any value in discussing the zlib/gzwrite.c mystery on macOS/M1.  However, this does reinforce my opinion that we should not exclusi

[2021-07-31 13:10] kevinbackhouse opened #1817 "memory leak in pngimage.cpp"
An array is [allocated](https://github.com/Exiv2/exiv2/blob/c6f7e4823e83229e0fe725ffe6469973570a7357/src/pngimage.cpp#L318) with `new byte[...]`, but not [deleted](https://github.com/Exiv2/exiv2/blob/c6f7e4823e83229e0fe725ffe6469973570a7357/src/pngimage.cpp#L395) if an exception is thrown because the image file is corrupt.

Reproducible on `main` and `0-27-maintenance`.

To reproduce:

[code]

poc

[2021-07-31 14:18] kevinbackhouse opened #1819 "assertion failure due to empty string in XmpTextValue::read()"
The fix in #1769 was incomplete. The problem is this code in [value.cpp](https://github.com/Exiv2/exiv2/blob/c65941c4cd0f1e3382367105eaf30097188d3f40/src/value.cpp#L627-L632):

[code]

The `type.empty()` check can be invalidated if the next character is a `"`.

This bug is reproducible on `main` and `0.27-maintenance`:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/6911307/poc.tar

[2021-07-31 21:16] kevinbackhouse opened #1821 "memory leak in addBinding (xmlparse.c)"
This is a bug in xmpsdk, so unfortunately we might not be able to do anything about it. Luckily it's only very minor: an exception thrown due to a corrupt image file can cause a small amount of memory to be leaked in libexpat. Although the memory is leaked in libexpat, I think xmpsdk is to blame.

To reproduce, you need an ASAN build:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files

[2021-08-02 13:59] #1819 closed

[2021-08-02 13:59] #1817 closed

[2021-08-02 14:00] #1815 closed

[2021-08-02 14:00] #1812 closed

[2021-08-02 15:03] kevinbackhouse opened #1827 "undefined behavior in cast from double to long"
There is a UBSAN failure in [this cast](https://github.com/Exiv2/exiv2/blob/b364b1db572703fd88299db9fc9f6f8d1064520f/src/tags_int.cpp#L2590) from `double` to `long`:

[code]

To reproduce, you need a UBSAN build with clang:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/6917851/poc.tar.gz)

output:

[code]

[2021-08-02 19:39] paolobenve opened #1829 "corrupted image metadata error on preview extraction of DNG image"
I have the attached dng (I zipped it in order to get it accepted by the editor), I got it from a CR3 with Adobe DNG converter x64 13.3 [IMG_7463.dng.zip](https://github.com/Exiv2/exiv2/files/6919189/IMG_7463.dng.zip)

I get:

[code]

my exiv2 is 0.27.2, I'm on ubuntu 20.04

Since dng has been created by Adobe, it seems weird that their converter generate a corrupted image...

Is it an exiv2 bug? o

[2021-08-02 21:44] kevinbackhouse opened #1830 "undefined behavior in cast from float to long in ValueType<float>::toLong()"
The same problem as #1827, but in `value.hpp`.

There is a UBSAN failure in [this cast](https://github.com/Exiv2/exiv2/blob/b364b1db572703fd88299db9fc9f6f8d1064520f/include/exiv2/value.hpp#L1639) from `float` to `long`:

[code]

(The problem happens with `ValueType<float>` or `ValueType<double>`.)

To reproduce, you need a UBSAN build with clang:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2

[2021-08-03 16:00] kevinbackhouse opened #1833 "assertion failure in TiffMnEntry::doCount()"
I have only been able to reproduce this bug with the fuzzer, but I think it is a good idea to fix it regardless.

Reproduction steps ([`main` branch](https://github.com/Exiv2/exiv2/tree/0e7d80fc84e4bf05c39c3043b3ad8fc1e99c9f66)):

[code]

poc: ![poc](https://user-images.githubusercontent.com/4358136/128047366-d2400a48-d50e-45fd-9f03-230342530cb8.jpg)

output:

[code]

[2021-08-03 16:03] kevinbackhouse commented on #1833
Note: this is also reproducible on 0.27-maintenance. (I am in the process of back-porting the fuzzer to 0.27-maintenance.)

[2021-08-03 16:05] kevinbackhouse commented on #1833
As far as I can see, the tiff type is not checked during parsing, so the assertion is checking a property that isn't enforced anywhere. The assertion doesn't fail on a release build, and nothing bad happens, so I am inclined to replace the assertion with a warning message.

[2021-08-03 21:16] hassec commented on #1829
Hi @paolobenve, thanks a lot for reporting this bug :+1:

This was indeed a bug in exiv2 and not the DNG converter.
I've  created #1835 to address this issue.
Once that is merged, please feel free to check out our [nightly pre-release builds](https://github.com/Exiv2/exiv2/releases/tag/nightly) to benefit from these fixes as quickly as possible :wink:

[2021-08-03 21:23] #1833 closed

[2021-08-03 21:23] #1827 closed

[2021-08-03 21:39] #1830 closed

[2021-08-03 21:45] kevinbackhouse opened #1838 "undefined behavior in cast from float to long in floatToRationalCast"
Same problem as #1827 and #1830. This one is in [`floatToRationalCast`](https://github.com/Exiv2/exiv2/blob/2cf015930cbc3161ffdc4df3d3e982585715f923/src/types.cpp#L699):

[code]

To reproduce, you need a UBSAN build with clang:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/6927197/poc.tar.gz)

output:

[code]

[2021-08-03 21:54] paolobenve commented on #1829
Well, I'm wondering... I have been working with dng's for 3 years, all converted from CR3 coming from the same camera (Canon g5xm2), all converted with Adobe DNG converter...., and I never got this error...

The only difference from when I didn't got the error is that now I'm on a different pc, and I had to reinstall Adobe DNG Converter, perhaps I installed a different version? but dng is a standa

[2021-08-03 22:05] hassec commented on #1829
I'm also not sure, but if you look at the description of the pull request, there I go into a bit more detail about how a preview image can apparently be composed of one large chunk or multiple smaller ones.

The error was triggered in the code path handling a preview image with multiple smaller chunks.
But your image had 4 previews. The one we end up extracting actually belongs to the kind that on

[2021-08-03 22:12] #1829 closed

[2021-08-04 00:11] paolobenve commented on #1829
in order to dive better inside the issue, I'm attacching a dng which doesn't produce the error:
[Natale 2020-12-25--15.49.55.zip](https://github.com/Exiv2/exiv2/files/6927640/Natale.2020-12-25--15.49.55.zip)

It was generated with a (supposedly) previous version of Adobe DNG converter

[2021-08-04 12:54] hassec commented on #1829
@paolobenve I've had a quick look at the 2nd picture and it has one less preview inside it and the previews that it does have, are all encoded in one large chunk.

I've no idea what exactly changed, but it seems to be that my first guess was right.
Something changed, and that meant that you are now hitting a different codepath inside exiv2 with your newer file which has a preview encoded in many s

[2021-08-04 13:01] paolobenve commented on #1829
no, same camera, same firmware

maybe

I tried different settings, the bug kept there

[2021-08-04 13:36] kevinbackhouse opened #1841 "memory leak in WebPImage::decodeChunks()"
[This](https://github.com/Exiv2/exiv2/blob/f49b40f303f0507aafdb04fca04a80cc356cf08c/src/webpimage.cpp#L676) call to `malloc` in  `WebPImage::decodeChunks()` is leaked if an exception is throw during [this call](https://github.com/Exiv2/exiv2/blob/f49b40f303f0507aafdb04fca04a80cc356cf08c/src/webpimage.cpp#L700) to `ExifParser::decode`.

To reproduce, you need an ASAN build:

[code]

poc: [poc.tar.g

[2021-08-04 13:48] hassec commented on #1829
Not sure if more detective work is really worth it.
The resulting DNG you provided, is a perfectly valid DNG from what I can tell.
Exiv2 just unfortunately had a bug.

The fix has been merged, and will be available in the 0.27.5 release, which is planned for around September and it's already available via the [nightly pre-releases](https://github.com/Exiv2/exiv2/releases/tag/nightly)

[2021-08-04 20:36] kevinbackhouse commented on #1515
I noticed that the XMPsdk is on GitHub now: https://github.com/adobe/XMP-Toolkit-SDK
So maybe we can include it as a sub-module.

[2021-08-05 12:32] kevinbackhouse opened #1845 "assertion failure in TiffDirectory::writeDirEntry"
The attached poc triggers the assertion at [tiffcomposite_int.cpp, line 1239](https://github.com/Exiv2/exiv2/blob/4f1551847c3d62613b8fb73cd852680063b0c5ed/src/tiffcomposite_int.cpp#L1239).

This bugs seems similar to #1833: as far as I can tell, the assertion is checking a property that isn't enforced during parsing. Nothing bad seems to happen when the assertion is removed, so I think the best so

[2021-08-05 15:29] kevinbackhouse opened #1847 "assertion failure in TiffDirectory::doWriteImage"
This one is like #1833, because I am only able to reproduce it with the fuzzer.

Reproduction steps ([`main` branch](https://github.com/Exiv2/exiv2/tree/cca3e0766d3c6d293fab5ee8aa6b8848ab6e85bb)):

[code]

poc: ![poc](https://user-images.githubusercontent.com/4358136/128376856-35e92a40-9c64-43a9-83f3-fd6a3261d3d3.jpg)

output:

[code]

The assertion failure is at [tiffcomposite_int.cpp, line 1575]

[2021-08-06 07:29] #1791 closed

[2021-08-06 08:31] fgeek commented on #1529
CVE-2021-31291 has been assigned for this issue.

[2021-08-06 08:37] fgeek commented on #1530
[CVE-2021-31292](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-31292) has been assigned for this issue.

[2021-08-06 11:48] postscript-dev commented on #1805
Sorry, but it will be next week when I have time to look at this. I spent more time working on the manpage than I originally planned.

[2021-08-06 12:16] hassec commented on #1515
We should recheck #1821 once we move to an external xmpsdk and if the error persists maybe even report it upstream

[2021-08-07 13:46] clanmills opened #1856 "Incorrect compiler -fstack-clash-protection warnings on Apple/M1/Clang"
On macOS on the M1 (arm64) chip, CMake sets -fstack-clash-protection.  The compiler produces numerous warnings such as:

[code]

My fix is:
[code]

[2021-08-07 14:13] kevinbackhouse commented on #1856
@clanmills: do you want this on both 0.27-maintenance and main?

[2021-08-07 15:02] clanmills commented on #1856
@kevinbackhouse yes, please.

There's mysterious ^M (carriage-return) chars in the patch.

[2021-08-07 17:57] #1856 closed

[2021-08-09 18:02] clanmills commented on #1018
**Exiv2 v0.27.5 RC1**

| Topic          | More Info |
|:--             |:--        |
| Remaining ( 3) | https://github.com/Exiv2/exiv2/milestone/9 |
| Completed (45) | https://github.com/Exiv2/exiv2/milestone/9?closed=1 |

**Exiv2 v0.27.5 Features**

1. Security fixes
2. BMFF bug fixes
3. Minor bugs and fixes

**Exiv2 v0.27.5 Acknowledgements**

This release is due to Kev, supported by the rest of

[2021-08-09 19:14] #1838 closed

[2021-08-09 19:14] #1845 closed

[2021-08-09 19:15] #1847 closed

[2021-08-09 19:18] kevinbackhouse commented on #1018
Should we add "libFuzzer target (for improved security testing)" to the list of new features?

[2021-08-09 22:07] kevinbackhouse commented on #1821
I have added the poc to our test suite (#1850), and a [suppression](https://github.com/Exiv2/exiv2/blob/8256ad8f51aa44ae23c8ecc32bc97a9676466180/fuzz/knownleaks.txt#L3) so that the fuzzer won't complain about it. Since this is a bug in xmpsdk that is unlikely to get fixed, I don't think there's anything else that we can do, so I am closing this issue.

[2021-08-09 22:07] #1821 closed

[2021-08-12 06:09] clanmills opened #1871 "0.27-maintenance builds fail on gitlab debian CI"
To be investigated and solved before 0.27.5 GM.

[2021-08-12 16:00] clanmills commented on #1871
I believe this is fixed in 962ef36

When I tried to update the PR, git pushed the change directly into 0.27-maintenance.  Why?  Don't know, I changed the permissions on the 0.27-maintenance to say "Rules apply to administrators".  Git?  Grrrrrrrr.

[2021-08-12 16:00] #1871 closed

[2021-08-20 10:44] kevinbackhouse opened #1877 "OSS-Fuzz: Stack-overflow in XML_Node::RemoveContent"
We got our first [bug report](https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37363) from OSS-Fuzz.

To nobody's surprise, it's a bug in xmpsdk. I have to admit that I was already aware of this issue, but had attempted to sweep it under the carpet by limiting the size of the images in the corpus to [at most 20KB](https://github.com/google/oss-fuzz/blob/fe09bda7d619f16e6fd3c5003f8748efe1632d7

[2021-08-23 23:51] amyspark opened #1879 "Some easy way to access Exif metadata from root IFD and sub IFDs?"
Hi!

I'm implementing support for TIFF metadata [for Krita](https://invent.kde.org/graphics/krita/-/merge_requests/1015) and I ran into the following.

Currently, we use Exiv2 to handle only metadata, specially because we can feed the blobs straight to ExifParser. This, however, does not apply to TIFF; libtiff doesn't let you access the available fields wholesale without breaking into its internal

[2021-08-24 07:59] clanmills commented on #1879
Exiv2 parses all the metadata including the linked list of IFDs.

[2021-08-24 07:59] #1879 closed

[2021-08-28 19:19] dfontenot opened #1885 "errors when reading from Adobe DNG converted .nef, other unexpected results"
Hello,

I am seeing some unexpected results with both the original .nef raw file my camera produced, and the resulting .dng file produced by Adobe DNG Converter 13.1.0.658. Ultimately, what I'm trying to do with these .dng files is run the lens correction module in Darktable, but Darktable (v 3.6.0) reports that it can't find the lens data for the converted .dng files. However, it can find the len

[2021-08-28 21:35] kmilos commented on #1885
As I mentioned in the original dt reported issue, the lens info (and other data) in a NEF and a DNG are not necessarily stored in identical tags in identical ways.

[2021-08-28 21:35] clanmills commented on #1885
This is a very well written issue report.  Thanks.  If nobody else steps into this, please post the DNG and NEF files and I will investigate on Sunday.

I recommend that you try the commands `$ exiv2 -pR foo.dng` and `$ exiv2 -pR foo.nef` on your files.  These commands are useful for debugging files and reveal the structure of the file.  The tvisitor program in my book is similar and more robust.

[2021-08-28 21:37] kmilos commented on #1885
Run e.g. `exiv2 -pa` on both files to see the difference.

[2021-08-28 22:26] dfontenot commented on #1885
@kmilos I can post a diff between the two different outputs if it would help. The diff is very big due to the .dng having some tags e.g. Exif.Image.ProfileLookTableData with a lot of data in it, whereas the original .nef doesn't have that field at all.

Grepping for just lens data on the .nef
[code]

And for the .dng
[code]

I'm guessing the issue is the .nef has the tag that @clanmills mentioned

[2021-08-28 22:31] dfontenot commented on #1885
@clanmills thank you. Here are the links to the files. Please let me know when I can remove sharing on them.

[Original .nef](https://drive.google.com/file/d/1es9aieltPCQNphd7_9bQ8MlvLFLnBtzj/view?usp=sharing)
[Converted .dng](https://drive.google.com/file/d/1f0SuriuEMjTkkBrBETJsFgiRxj0qKWGS/view?usp=sharing)

These are different pictures than my test file DSC_2062 because that one contains people

[2021-08-28 22:50] clanmills commented on #1885
I've hopped out of bed to get your files (it's almost mid-night in England).  I'll look at them on Sunday.

[code]

[2021-08-29 03:36] clanmills commented on #1885
Here's the story so far:

[code]

Two observations:

1.  Lens Identification

- The .NEF Lens is recognised as 'Nikon AF-P DX Nikkor 18-55mm f/3.5-5.6G VR' by Exif.NikonLd3.LensIDNumber
- The .dng Lens is recognised as '18.0-55.0 mm f/3.5-5.6' by Exif.Photo.LensModel

2. Major difference between .NEF and .dng
- I don't recall anybody ever reporting a lens identification issue with a DNG file and I

[2021-08-29 04:13] dfontenot commented on #1885
@clanmills the lens is a Nikon AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR Lens

[2021-08-29 07:40] clanmills commented on #1885
We're making steady progress.

It's possible to edit Exif.Photo.LensModel to be "Nikon AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR" or _as labelled in the .NEF_, "Nikon AF-P DX Nikkor 18-55mm f/3.5-5.6G VR".  You can edit with exiv2 and Milo&scaron; (@kmilos) can advise if that is possible in **darktable**.  With the metadata edited in the DNG, let's see if **darktable** does the correct lens correction.

[2021-08-29 09:31] clanmills commented on #1885
I've re-read your original bug report.  My understanding is correct, the objective of this investigation is to get lens correction to work in **darktable**.

Progress:

1. I understand the source of this issue.
2. I have a work-around for you!
3. A few more comments.

**1. The source of this issue**

I've installed **darktable** and edited DSC_2080.dng with the command:

[code]
Here's a screen sho

[2021-08-29 11:26] kmilos commented on #1885
I could look into dt+lensfun side of things, but will be a while until I get to it...

As far as I remember, both lens make and model need to match the entry in the lensfun database (XML that can be easily checked).

[2021-08-29 12:38] clanmills commented on #1885
Milo&scaron; @kmilos

I think it might be good for **darktable** to use the sound-ex matching algorithm.  Exiv2 gets more issues concerning lens recognition that everything else combined.  The lens isn't in the metadata and people demand that Exiv2 **exactly** matches what LensFun needs.  Darktable, or LensFun have to be more tolerant.

If @dfontenot gets the work-around to work, I think this matt

[2021-08-30 03:10] dfontenot commented on #1885
@clanmills yes, the two commands you gave me for a workaround worked. I think this can be closed. Thanks for taking a look.

[2021-08-30 05:54] #1885 closed

[2021-08-31 19:05] kevinbackhouse opened #1887 "Out-of-bounds read in CrwMap::decode0x080a"
Bug reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=37889

poc: [clusterfuzz-testcase-minimized-fuzz-read-print-write-5671177327083520.tar.gz](https://github.com/Exiv2/exiv2/files/7086223/clusterfuzz-testcase-minimized-fuzz-read-print-write-5671177327083520.tar.gz)

There is an out-of-bounds read at [crwimage_int.cpp, line 844](https://github.com/Exiv2/exiv2/blob/cb1632

[2021-09-01 11:28] kmilos commented on #1885
Glad you're enjoying your retirement Robin! You could've upped the filter on that image for even more obvious cartoon effect ;)

I'm afraid we still have work to do relating to this issue (or open a new more general one): there should be no reason exiv2 shouldn't be able to get to the original Nikon makernotes that is now embedded in the converted DNG (with Adobe's wrapper).

Here's the snippet of

[2021-09-01 14:10] clanmills commented on #1885
I didn't crank up the filter, because it would have made it impossible to recognise the Exiv2 log on my wall.

What I've said about Adobe creating Exif.Photo.LensModel is correct and I'm sure the **warning/error** from the DNG is valid.

I don't know what **darktable** (LensFun) actually wants.  Exif.Photo.LensModel ?

The original maker note in the NEF is copied to the DNG as Exif.Image.DNGPrivat

[2021-09-01 14:36] clanmills commented on #1885
Exif.Image.DNGPrivateData is tag 0xc634.
[code]
ExifTool knows to parse that:
[code]

To parse that, I think you have to add that to the state/change table `groupInfo[]` in src/tags_int.cpp and tell him to parse with Nikon3MakerNote.

If you're willing to undertake that work, can you consider my comments about SubImageN and IFD2, IFD3 etc.  That architecture is suspect.  The groupId should not be

[2021-09-01 14:46] kmilos commented on #1885
Yep, but sometimes it works out and gives the same result as the makernote (i.e. Adobe's lens database sometimes overlaps w/ exiv2's...), see e.g. https://github.com/darktable-org/darktable/issues/9883#issuecomment-909127389

It tries all the known makernote locations, and then `Exif.Photo.LensModel` if all else fails. So when Adobe messes that record up, we have a problem...

Here's the lensfun e

[2021-09-01 14:57] kmilos commented on #1885
Yep, interesting stuff to work on, but time is an issue... :(

[2021-09-01 14:58] clanmills commented on #1885
Well, we know what to do.  You should ensure that Exif.Photo.DNGPrivateData is parsed and you do that in either groupId in src/tags_int.cpp or TiffCreator::tiffTreeStruct_ in src/tiffimage_int.cpp

SubImageN issue is not involved in this issue which is about lens recognition issue.

However, if you're going to perform brain surgery on the TiffVisitor to respect Exif.Image.DNGPrivateData, please co

[2021-09-01 15:01] clanmills commented on #1885
Time is always an issue.  Regrettably, some believe I have an unlimited amount and they are happy to waste my time investigating legal issues for which they provide no evidence.  I want to use my time to pass my Euphonium exam in November.

[2021-09-01 15:18] kmilos commented on #1885
Btw, [found the source of Adobe translation issue](https://github.com/darktable-org/darktable/issues/9883#issuecomment-910383011).

[2021-09-01 15:44] clanmills commented on #1885
Well done.  Great work on [darktable/.NEF converted with Adobe DNG Converter can't find lens data](https://github.com/darktable-org/darktable/issues/9883#issuecomment-910383011)

Adobe correctly set Exif.Photo.LensModel to type `ascii` (tiff type 2), so the _**translator**_ (prettyPrinter)_ takes no action.  I believe you added that Exif.Photo.LensModel as part of the Exif 2.32 for v0.27.4.  I'm s

[2021-09-01 15:57] kmilos commented on #1885
Our translator takes no action, right, but in NEF->DNG conversion Adobe did their own translation from Nikon MakerNote's numerical "160" in `Exif.NikonLd3.LensIDNumber` into ASCII "18.0-55.0 mm f/3.5-5.6" for `Exif.Photo.LensModel` using their own database. "Correct" translation is very relative here unfortunately...

[2021-09-01 16:54] clanmills commented on #1885
@kmilos Milo&scaron;  It's not "translated".  Call it what is. It's a guess.  I agree it's a good guess, however it's non-deterministic and the source of lots of consequential issues.

I'm sure Adobe will regret adding a "translator" to their code.

Lens identification is a time swamp.  Even discovering the LensIDNumber is toublesome.  Nikon have different makernote layouts (that's what Nikon1, Ni

[2021-09-02 21:50] #1887 closed

[2021-09-03 07:22] kmilos commented on #1885
Found this old nugget as well: https://dev.exiv2.org/issues/574

[2021-09-03 09:28] clanmills opened #1890 "Rehost exiv2.org on pixls.us server"
We've had a generous offer from Mica and/or Pat to host exiv2.org on their server.  Currently it's hosted on AWS and I pay about $20/month _(depends on bandwidth)_.  Let's move the domain by the end of 2021.  We should wait until after v0.27.5 ships on 2021-09-30.  Let's aim for November 2021.  I am the current registered owner of Exiv2.org and I will totally cooperate.  I'm confident Nehal (@neha

[2021-09-03 09:33] clanmills opened #1891 "Exiv2 v0.27.5 RC2"
We need to decide what's to be done about Exiv2 v0.27.5 which is currently at RC1.  GM is scheduled for 2021-09-30.

I know there have been a couple of security fixes back-ported to 0.27-maintenance.  There is enough time to have RC2 in mid-September (say Saturday 11 September = 9/11) and also achieve the GM on schedule.

I'm will be on vacation Friday 18 September through Monday 27 September.

I'

[2021-09-03 09:44] kevinbackhouse commented on #1891
@clanmills: There are two bug fixes (for issues reported by OSS-Fuzz) that I have back-ported to 0.27-maintenance, but which haven't been merged yet: #1884 and #1889. At this moment, there are no other open OSS-Fuzz issues. So hopefully, we'll be ready for RC2 as soon as those pull requests are merged.

[2021-09-03 09:56] clanmills commented on #1891
Right.  RC2 next week and GM on 2021-09-30.

I think shipping on schedule is important, so let's only do RC3 if we believe it's essential.

[2021-09-03 10:18] clanmills commented on #1885
Great find.  Under NO circumstances should we ever modify the data in Exif.Image.DNGPrivateData. The reason it's there is to preserve and manufacturer's makernote and preserve every offset, even if it violates the Exif standard.  It's the guarantee to recover the manufacturer's data.

I had totally forgotten about Exif.Image.DNGPrivateData.  I was talking to Phil Harvey _(our exiftool friend)_ las

[2021-09-05 20:34] paolobenve opened #1893 "no preview for cr3 image"
exiv2 0.27.5.1:

[code]

is it ok or am I missing something?

[2021-09-06 10:04] postscript-dev commented on #1893
I am working with the exiv2 program and manpage at the moment, so had a quick look at this.

A CR3 test file that contains preview images can be found [here](https://github.com/lclevy/canon_cr3/blob/9a2a9639ae7188d4dd70c1251df35f5af8ebee3d/samples/IMG_0482_raw.CR3). It is worth noting that the thumbnail is included in the list of any previews.

You can list all the available previews in the file u

[2021-09-06 19:45] clanmills commented on #1893
@paolobenve Good to hear from you, Paulo.  I hope all's well with you.  I don't believe you received any assistance with localisation and that's a pity.

@postscript-dev Thank you for your helpful look at this, Peter.

I don't know the preview code as well I know other parts of Exiv2.  There are two ways in which preview/thumbnails are stored in images.  The first is in the Exif data (normally in

[2021-09-07 10:31] kevinbackhouse commented on #1890
My opinion is that we should stop building binaries for MinGW and Cygwin after 0.27.5. We have an [Action](../blob/main/.github/workflows/release.yml) which automatically builds binaries for Linux, MacOS, and Windows. Those are the major platforms, so I think that is sufficient. I did [try](https://github.com/kevinbackhouse/exiv2/tree/BuildCygwin) to add support for MinGW and Cygwin, but couldn't

[2021-09-07 11:30] clanmills commented on #1891
I believe there are 7 items to be documented for v0.27.5 RC2.  These are PRs which have been merged into 0.27-maintenance since RC1 shipped on 2021-08-10.  They are:
https://github.com/Exiv2/exiv2/issues?q=is%3Amerged+branch%3A0.27-maintenance+updated%3A2021-08-11

Can you confirm that no other fixes are expected.

If everything is ready, I will update the release notes, preform the builds and get

[2021-09-07 13:00] kevinbackhouse commented on #1891
I'm a bit puzzled by the results of that search because it doesn't include some of my fixes.
I think these are the new pull requests that were merged since RC1: #1870, #1873, #1880, #1884, #1889.

No other fixes are expected.

[2021-09-07 17:46] clanmills commented on #1890
Well, thank you for trying to get MinGW to build.  I agree 0.27.5 is the final release for which binaries will be built on the build server.

I hope we find a volunteer to handle release engineering.  I will cooperate to make the appropriate _(small)_ changes to the web-site and the release process .

[2021-09-08 11:41] clanmills commented on #1891
Thanks, @kevinbackhouse.  The search is a puzzle, however with your input we're in good shape.  I've updated the release notes: https://github.com/Exiv2/exiv2/issues/1018#issuecomment-757979745 to include:

#1870, #1873, #1880, #1884, #1889 (as you've mentioned)
and
#1862, #1861, #1860, #1859, #1857, #1854, #1828 (from the search)

For RC2, I have a separate table of for RC1->RC2.  The two tables

[2021-09-08 12:16] clanmills commented on #1893
@paolobenve Paolo, when I was running today, I thought of something ultra-nerdy (anything to keep my mind off the pain).

I can prove my case that Exiv2 Preview Manager only understands Thumbnails in IFD1.  In the test file Stonehenge.jpg in my book and [http://clanmills.com/Stonehenge.jpg](http://clanmills.com/Stonehenge.jpg), we have:

[code]

There are three preview/thumbnails.  One is in IFD1.

[2021-09-09 08:06] clanmills opened #1895 "include search path is wrong for exiv2 command-line program"
See: #1516.  We are building the exiv2 executable with the headers in /usr/local/include/exiv2.  It's very desirable to get this fixed for v0.27.5GM.  Perhaps we should have v0.27.5 RC3.  This is a serious issue.

I have modified the build script on the Mac mini to remove /usr/local/include/exiv2.  However this issue can (and will) impact users.   In #1516, I proposed:

[code]

[2021-09-09 08:55] clanmills commented on #1891
There is a serious problem with the include path.  #1895.  I have defeated this on the build-server.  I think we should have this fixed for RC2.  And there's something wrong with the Windows/CI.  #1894

I was just about to release RC2 on https://pre-release.exiv2.org when I discovered the include issue.  I'll manually fix the build server and update the web-site.  I haven't tagged and published on

[2021-09-09 11:54] clanmills commented on #1895
I'm now unable to reproduce this.  So, I'm going to close this for now.  It means the v0.27.5 RC2 is good.  The conan build issue isn't in our code.

I know there's something wrong.  I did:

[code]

Then:

[code]

I'm sure there is something wrong. I'll reopen this (and propose a fix) when I can consistently reproduce this.

[2021-09-09 11:54] #1895 closed

[2021-09-09 15:18] clanmills commented on #1891
I'm unable to reproduce #1895 and have therefore closed it.  #1894 has been merged into 0.27-maintenance.  The builds have been performed on the MacMini and the logs have been inspected.

Thank you @kevinbackhouse for investigating the mystery concerning conan 1.40 which surfaced with #1894.  I believe you have fixed this with #1897.  The MacMini build server script is totally independent of the C

[2021-09-09 18:38] clanmills commented on #1891
The release has been tagged and published on GitHub.  https://github.com/Exiv2/exiv2/releases/tag/v0.27.5-RC2

Thanks to @kevinbackhouse for his efforts on behalf of Exiv2 and for his expertise in security and his build skills.

[2021-09-09 18:38] #1891 closed

[2021-09-10 08:04] kmilos commented on #1890
FWIW, I was behind the last two releases of the [MinGW package for the MSYS2 repo](https://packages.msys2.org/base/mingw-w64-exiv2) - no problems building over there so far, but that's not really CI (although I use MinGW to build and debug locally both the main and 0.27-maintenance branches from time to time). Generally if both the Linux and Windows/MSVC actions are in good shape, MinGW should be

[2021-09-10 16:12] clanmills commented on #1890
I added both Cygwin and MinGW to Appveyor and they are used on the 0.27-maintenance branch.  I don't know if they are deployed for branch 'main'.

I believe the MinGW build is popular with Qt users and we should continue to support it.  Can we discontinue supporting Cygwin/64?  I think so.

[2021-09-12 12:34] kevinbackhouse opened #1901 "OSS-Fuzz: integer-overflow in XMPUtils::SetTimeZone"
Bug reported by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38189

The bug is in [`XMPUtils.cpp`](https://github.com/Exiv2/exiv2/blob/1b5389975aa005669cfae05b11f1577393822d4b/xmpsdk/src/XMPUtils.cpp#L1963-L1964):

[code]

The latest version of [XMP-Toolkit-SDK](https://github.com/adobe/XMP-Toolkit-SDK/blob/f2340cff26eff425ccd2dbf082378dfc62816feb/XMPCore/source/XMPUtils.cpp#L33

[2021-09-14 07:00] clanmills opened #1903 "macOS: Undefined symbols for architecture arm64: "_libiconv", referenced from: (anonymous namespace)::convertStringCharsetIconv"
Apple M1 processors are failing to link the iConv library distributed in macOS SDK 11.3.  The full message is:

[code]

The work-around is:

[code]

When this patch is applied, the outputfrom cmake is:

[code]

I don't think this code should be added permanently as it would disable libiconv permanently on the M1.  Presumably Apple will fix the SDK.  I haven't reported this to Apple.  So let's leav

[2021-09-15 12:10] parasange opened #1904 "Lens type missing: Olympus OM-System F.Zuiko Auto-S 1:1.8 f=50mm"
The above Olympus lens is not recognized by exiv2 (0.27.4 - Arch Linux):
`exiv2 -pa some.RAW | grep -i LensType` does not return anything.

`exiv2 -pa some.RAW` gives

[2021-09-15 21:44] postscript-dev commented on #1904
Is it possible that the Olympus tags have been deleted? You can check that other Olympus tags are in the file using:
[code]
Something else to consider is that, if the image was edited then saved, this could have effected which metadata was written to the file.

If the above is of no help, then if you could post an unedited test image, this would move the problem forward.

[2021-09-16 07:17] parasange commented on #1904
There weren't any Olympus tags in the un-edited image in the first place. I am pretty sure now that my camera (Fujifilm X-T3) does not handle metadata for manual lenses correctly. Thanks anyway for your help!

[2021-09-16 07:34] clanmills commented on #1904
You are correct.  There is no lens meta-data for a manual lens.  If the camera doesn't know anything about the lens, it cannot store metadata!

Have you tried using exiftool on your images?  If exiftool cannot identify your lens, it's unlikely that Exiv2 will either.

I'm not optimistic that anything can be done. Team Exiv2 can't investigate and/or offer advice about your files until you supply a

[2021-09-16 07:44] parasange commented on #1904
Yep, you are right :-) But usually there's a way to manually edit metadata for the specific lens thorugh the camera itself. Unfortunately this is not sufficiently possible with my camera. That's why I'll use exiftool now.

[2021-09-16 07:45] #1904 closed

[2021-09-16 20:51] John55h opened #1906 ""Canon EF 80-200mm f/4.5-5.6 II" identified as "Canon EF 80-200mm f/4.5-5.6""
This issue causes darktable to apply lens correction "Canon EF 80-200mm f/4.5-5.6" to images using "Canon EF 80-200mm f/4.5-5.6 II"

[code]

exiv2 0.27.4 output for Canon EF 80-200mm f/4.5-5.6 II

[code]

The original lens "Canon EF 80-200mm f/4.5-5.6" (I believe) is tagged 28 in TagDetails canonCsLensTtype[] (see canonmn_int.cpp) and the "II" version is tagged 38.

Output of exiv2 for Canon EF 80

[2021-09-17 13:14] kmilos commented on #1906
Can you perhaps try to find some more supporting evidence for these 28 and 38 IDs independent of exiv2?

[2021-09-17 21:40] kevinbackhouse opened #1909 "Quadratic loop in PentaxMakerNote::printVersion"
Credit to OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=38887

The loop in [`printVersion`](https://github.com/Exiv2/exiv2/blob/774e6625e3ed4fb6d330d8ad40677fafecf125f7/src/pentaxmn_int.cpp#L1018) is quadratic, because it keeps searching from the start of the string:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/7188551/poc.tar.gz)