[2021-09-18 09:20] clanmills commented on #1906
You can modify the lens recognition on your machine using the _**configuration file**_ ~/.exiv2.   This is documented in the man page.  https://exiv2.org/manpage.html

[2021-09-18 09:38] clanmills commented on #1906
Thank You for providing a test image.  Here's the configuration file being used.

**Before:**
[code]

**Configuration File:**
[code]

**After:**
[code]

[2021-09-18 13:19] clanmills commented on #1903
Here's another work-around.  Delete the file in the SDK that doesn't work, rerun cmake and build!

[code]

I'm going to close this.  The issue has been record in the project history.  It's not an Exiv2 issue.

[2021-09-18 13:19] #1903 closed

[2021-09-18 13:25] kevinbackhouse opened #1912 "UBSAN error in print0x0007"
I noticed this failure in [quick fuzz](https://github.com/Exiv2/exiv2/runs/3625961013?check_suite_focus=true#step:5:1152) run on a pull request. This discovery is due to the increased fuzzing coverage of the print functions added in #1806.

To reproduce, you need a sanitizer build:

[code]

poc: ![poc](https://user-images.githubusercontent.com/4358136/133890440-f74c2aa5-c394-4c1b-88fa-0dc25b991935

[2021-09-18 18:57] clanmills commented on #1904
The _**configuration file**_ `~/.exiv2` _(documented in the exiv2 man page)_ is provided to overwrite the lens recognition code in Exiv2.  Olympus probably record a LensID value such as `-1` for a manual lens.  You can use that in ~/.exiv2 to recognise your lens.

I will look further into your situation if you provide a test image.  Can you take a photo with the lens cap on and post it here.  Ther

[2021-09-18 19:39] postscript-dev commented on #1904
I wrongly assumed that the camera was an Olympus, but it turns out to be a Fujifilm X-T3.

I looked at both Exiv2 and ExifTool and neither has any FujiFilm lens ID tags or lenses listed. This means that, at this time, neither program can output the lens names. The exiv2 configuration file doesn't work with FujiFilm cameras, as there aren't any tags to update. Sorry that this is not more help.

[2021-09-19 14:40] #1909 closed

[2021-09-19 20:49] #1901 closed

[2021-09-20 06:13] clanmills commented on #1903
Apple's SDK works.  Building libiconv from source and installing it in /usr/local/lib is causing this linking issue.  See:  https://github.com/Exiv2/exiv2/pull/1915#issuecomment-922659794

[2021-09-21 09:52] #1912 closed

[2021-09-22 08:30] John55h commented on #1906
I found the lensfun github issue and pull request that uploaded calibration data for "Canon EF 80-200mm f/4.5-5.6 II"
The calibration data is for lens "Canon EF 80-200mm f/4.5-5.6 II" according to the issue below, however the pull request is for "Canon EF 80-200mm f/4.5-5.6" (I guess because that is what exiv2 identified the lens as).

Calibration upload issue
https://github.com/lensfun/lensfun/is

[2021-09-22 08:51] kmilos commented on #1906
Thanks, but sadly there is no independent confirmation of the definitive mapping to LensType in those links, even though exiv2/exiftool could be responsible for the lensfun database discrepency...

[2021-09-22 08:53] clanmills commented on #1906
I'm not sure what's being discussed here as I know nothing about lensfun.

Should this issue be closed?

[2021-09-22 09:02] kmilos commented on #1906
@clanmills
Both exiv2 and exiftool have a possible bug in their lens mapping tables, i.e. Canon IDs 28 and 38 both get reported as "Canon EF 80-200mm f/4.5-5.6".

Do you think we have enough evidence to "fix" the 38 mapping to "Canon EF 80-200mm f/4.5-5.6 II" in exiv2?

[2021-09-22 09:20] clanmills commented on #1906
There is no "bug" in the Exiv2 mapping table.  The problem is that the lens is not in the metadata and has to be guessed by examination of other metadata.  I don't know how the guess for 28 or 38 arrived in the code.  If we change it, we'll break something that was working correctly for somebody else.

The fix is to use the configuration file ~/.exiv2 to modify the lens recognition on your machine

[2021-09-22 09:20] #1906 closed

[2021-09-22 09:33] kmilos commented on #1906
I wouldn't be so sure Robin - there does seem to be a discrepancy w/ Canon's own MakerNote `LensModel` here:

[code]

[2021-09-22 11:44] kmilos commented on #1906
@boardhead Any idea how exactly this info got into exiftool, the reference just says "private communication"...

[2021-09-22 17:14] clanmills commented on #1906
Well spotted, @kmilos.

Why doesn't LensFun use `Exif.Canon. LensModel` which is an ascii string written by Canon.

Exif.CanonCs.LensType is a Short (value 38) which is being interpreted _(easy printed)_ by Exiv2.  Because I'm not a photographer, I don't know know what LensFun does.  However, it seems that the whole world demands that Exiv2 must guess the right lens.  I feel it's the job of the my

[2021-09-22 18:53] kmilos commented on #1906
I'm not that old, but just as grumpy. For one reason or another it seems lensfun devs decided to use *interpreted* lens strings from exiv2/exiftool rather than immutable vendor metadata, and we have ourselves a catch 22 situation here...

@John55h Can you submit a PR please? Obvioulsy you'll have to follow it up with a PR to lensfun as well...

[2021-09-22 20:39] clanmills commented on #1906
@kmilos.  One day you'll be as old and grumpy as I am!

@John55h Can you ask LensFun to carefully consider how they determine the lens from the metadata which Exiv2 parses correctly.  There should be a cascade of keys to be inspected.

The priority (of truth) is:

1. Exif.Photo.LensModel
Milos added support for Exif 2.32 in Exiv2 v0.27.4 and that includes which is an Ascii string written by the ma

[2021-09-22 22:42] kevinbackhouse opened #1920 "UBSAN failure due to left-shift of negative number in Exiv2::Internal::PentaxMakerNote::printDate"
Found by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=39060

To reproduce, you need a sanitizer build:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/7214222/poc.tar.gz)

Error message:

[code]

I do not consider this a security bug, because the left shift works perfectly fine in a normal build.

[2021-09-24 07:59] clanmills commented on #1893
@paolobenve I have spoken to @lbschenkel about his availability to work on Exiv2 and it is limited.  I know you offered to get involved with localisation and asked about a Crowdin "template" _or something_.  As a typical native English speaker, I know nothing about localisation.  Can you ask Leonardo about this and I'm sure he'll help you.

[2021-09-26 13:22] adamsiembida opened #1928 "Reading HEIC files does not work for iPhone images."
The [release notes](https://exiv2.org/whatsnew.html) for v0.27.4 list HEIC support, and the [manual](https://exiv2.org/manpage.html) lists read support. However, when I try to read an HEIC image from an iPhone, I get a "The file contains data of an unknown image type" error.

[2021-09-26 21:54] rmmh opened #1931 "RafImage::readMetadata shouldn't read the entire embedded JPEG"
Fujifilm raw files include an embedded preview JPEG containing EXIF metadata. Currently, exiv2 loads the entire embedded JPEG, which is quite expensive-- roughly 5MB of reading to get metadata for a 30MB file. This is particularly slow on an SD card.

Instead of reading the entire JPEG file, it should scan for just the metadata chunks it wants to read.

Compare https://github.com/Exiv2/exiv2/blob/

[2021-09-27 11:36] kmilos commented on #1928
It might be that your [0.27.4 binary package was built w/o BMFF support](https://github.com/Exiv2/exiv2/tree/0.27-maintenance#2-19). You can check that by running `exiv2 -Vv` and looking for `enable_bmff`.

[2021-09-27 13:14] adamsiembida commented on #1928
You are right, the binary has `enable_bmff=0`. I wonder if the website should be more clear that the official binaries it is distributing have some of the stated features excluded.

[2021-09-27 14:27] #1928 closed

[2021-09-27 17:52] clanmills commented on #1928
The pre-built binaries on exiv2.org have enable_bmff=1 for macOS, Cygwin/64, MinGW/msys2 and linux (ubuntu).  I'm rather surprised that the MSVC build has enable_bmff=0.  Clearly a little bug in the build.sh script which was updated for v0.27.4.  I'll fix that when I build Exiv2 v0.27.5 RC3 later this week.

I have never investigated how platform package managers (apt, yum, pacman etc) build exiv2

[2021-09-28 08:21] kmilos commented on #1928
This is really up to each individual maintainer of the package recipe and the distribution/repository policies, availability of dependencies, etc. E.g. [the jury is still out for Fedora packages](https://bugzilla.redhat.com/show_bug.cgi?id=1979565#c5)...

Example recipes:

https://src.fedoraproject.org/rpms/exiv2/blob/rawhide/f/exiv2.spec#_77
https://github.com/archlinux/svntogit-packages/blob/7b4

[2021-09-28 08:58] clanmills commented on #1928
Thanks, @kmilos.  When I think about it, we want the packages to use the defaults when building exiv2.  So, -DEXIV2_ENABLE_BMFF=0 is correct.  The message "unknown image type" isn't very helpful in this situation.

I want to avoid changing code when we plan to publish RC3 this week.  It would have been better to have a new error "bmff not supported in this build".  That's non-trivial as we would r

[2021-09-28 11:42] postscript-dev opened #1934 "Problems with `--insert`, `--extract` and `--modify` in `exiv2` sample"
**Describe the bug**
There are 3 problems with the exiv2 sample program.
1. When inserting an XMP raw metadata file (`.exv`), the program attempts to insert an XMP sidecar file (`.xmp`) instead. If the `.xmp` file does exist, then the data is inserted. No warning is given, even with `--verbose`.
2. When extracting an XMP sidecar file, if the file already exists, the data is not erased before writi

[2021-09-28 12:11] postscript-dev commented on #1466
For Exiv2 1.0, the 'code complete' is scheduled for [2021-09-30](https://github.com/Exiv2/exiv2/issues/1466#issuecomment-811787134). Is this still going ahead?

[2021-09-28 12:42] kevinbackhouse commented on #1466
Do all major API changes need to finished before 1.0 is released? I would quite like to try switching the standard size type from `long` to `size_t`, but that's going to a non-trivial project. I also have some smaller changes that I would like to make, like some [ongoing changes](https://github.com/Exiv2/exiv2/pull/1930) to `DataBuf` and adding `readOrThrow` to `BasicIo`.

[2021-09-28 12:55] clanmills commented on #1466
It is very desirable to make big API changes before declaring v1.00.  I know Alex has been intending to call a team meeting and this kind of thing should be discussed.  Developing every priority one features probably cannot be achieved for several years.

Perhaps a good way forward is to aim to release main as v0.9 with C++11 support next year _(say June 2022?)_.  The intention with the v0.9 famil

[2021-09-28 12:56] alexvanderberkel commented on #1466
I think we discuss when we think we are able to release 1.0 and who's committed to work on certain topics. Putting new things into the backlog I would say doesn't put us in a bad situation as long as we have people to work on it.

[2021-09-28 12:57] alexvanderberkel commented on #1466
I have set up a call in the past for 1.0 but there was only one participant. That is why I have not scheduled another call so far.

[2021-09-28 13:04] clanmills commented on #1466
I think it's _kind of_ difficult to commit to a schedule without full time engineers.  I was able to deliver releases to a schedule because I was working full-time on Exiv2.  Everybody has full-time and demanding jobs.

With the Paris Climate Treaty, Ms. Figueres asked the countries "what can you do?" and drew the canvas from the bids.  And I think that's how you'll have to approach Exiv2.  Ask "W

[2021-09-29 19:00] clanmills opened #1935 "Exiv2 v0.27.5 RC3"
I've updated the v0.27.5 release notes https://github.com/Exiv2/exiv2/issues/1018#issuecomment-895425552 with an additional prolog.  The release note tables for RC1/RC2/RC3.  will be merged for GM.

**Exiv2 v0.27.5 RC3 2021-09-30**

Changes since RC2.

| Group    | PR     | Topic                                                       | Issue  |
|:-        |:-      |:-

[2021-09-29 21:22] kevinbackhouse commented on #1935
@clanmills: I would like to backport #1902 and #1910. And @kmilos has suggested that we backport #1932.

I have pull requests open for my backports: #1923, #1924, #1925. We didn't open one for #1932 yet.

[2021-09-29 22:36] clanmills commented on #1935
@kevinbackhouse @John55h @kmilos @alexvanderberkel   Has #1932 been back-ported to 0.27-maintenance?

The MacMini build-server has performed a successful build/test on the release platforms: Ubuntu, macOS, msvc2019, MinGW-msys2, Cygwin64.

Tomorrow I'll bump the revision number, update the web-site and release-notes.  On-track for RC3 on 2021-09-30.

[2021-09-29 23:00] kevinbackhouse commented on #1935
Yes: #1936 is the backport of #1932.

All the backports have been merged. Thanks everyone!

[2021-09-29 23:10] clanmills commented on #1935
Thank You, Everybody.  All going well, exiv2 v0.27.5 RC3 will be released tomorrow.

GM schedule remains: 2021-10-22 (to fit my vacation).

[2021-09-30 16:13] clanmills commented on #1935
Latest (and I hope final version of the release notes).

The CI has gone crazy on PR #1937.  It looks as if the SSL Certificate on the conan recipe server is out of date.   This effectively destroys the CI until fixed.  As I use conan to build with Visual Studio, this could also disable the MacMini until fixed.

**Exiv2 v0.27.5 RC3 2021-09-30**

Changes since RC2.

| Group       | PR     | Topic

[2021-09-30 17:43] clanmills commented on #1935
I submitted a draft PR for v0.27.3 RC3  #1938.  I've done a build using Visual Studio and that worked with issue on the Mac Mini.  The problem on the CI is impacting both #1937 and #1938.  I used to have permissions to "merge anyway".  I think we'll have to wait for the CI to be repaired.  I've tried googling this situation without learning anything.

[2021-09-30 22:14] kevinbackhouse commented on #1935
@clanmills: I think the CI failures are due to a Conan outage, as explained here: https://github.com/conan-io/conan/issues/9695
The really annoying thing is that I think we have to add [this command](https://github.com/conan-io/conan/issues/9695#issuecomment-931406912) to all of our CI scripts to fix it:
[code]

[2021-10-01 08:00] clanmills commented on #1935
@kevinbackhouse Thanks for this discovery.  I'm going to withdraw #1937 because it needs cmake 3.14 (for add_link_options) and one of the Linux CIs has 3.7.  It's odd that we use add_link_options on main and the CI is happy.

I have #1938 as a draft at the moment.  When I mark it ready for review, please approve it and RC3 will be done.

[2021-10-01 14:46] clanmills commented on #1935
I've built and pushed the bundles to https://pre-release.exiv2.org

I'll tag the release and publish it on GitHub later today and then close this issue.

[2021-10-01 20:41] clanmills commented on #1935
@kevinbackhouse

I can't create a tag on GitHub. I updated .git/config to use the new remote url:  `url = https://github.com/Exiv2/exiv2.git`

From the command-line:

[code]

I did this for v0.27.5 RC2 a few weeks ago without any trouble.  Something has changed.

[2021-10-02 07:49] clanmills opened #1941 "Add a decoder for Exif.Nikon3.FlashInfo"
I received the following email:

_Hi Mr. Mills,_

_Some time ago, I contacted a developer of your cousin project exiftool, because I had managed to decode some private Nikon data when using a radio flash trigger, showing some settings for each group. This person completed my findings, asking for images with certain combinations of settings, and added the result to their project._

_In the meanwhil

[2021-10-02 11:37] kevinbackhouse commented on #1935
@clanmills: I'll look at this now.

[2021-10-02 11:40] kevinbackhouse commented on #1935
@clanmills: I think it's probably because you clone from the https url, not the ssh url. I'll try creating the tag now myself.

[2021-10-02 11:41] kmilos commented on #1935
I remember there was some mail from GitHub about a month ago about some authentication changes?

[2021-10-02 11:50] kevinbackhouse commented on #1935
I think it was the https/ssh url thing. I created a tag: https://github.com/Exiv2/exiv2/tree/v0.27.5-RC3

[2021-10-02 13:14] clanmills commented on #1935
Well done, guys.

[code]

I'll take a fresh clone of the repos and hope to keep out of trouble.  I've published the release.

Good Work, Everybody.  Especially @kevinbackhouse.  You're a wizard.  Thank You.

[2021-10-02 13:14] #1935 closed

[2021-10-02 14:07] clanmills commented on #1935
@kevinbackhouse I've been able to clone using ssh.

If you know the GitHub Engineer who wrote the ssh documentation, please tell them they made a great job.  There's no way I could have achieved that without such good documentation.

[2021-10-02 15:08] postscript-dev commented on #1941
I had a look at Exiftool's website and the Nikon tags are listed [here](https://exiftool.org/TagNames/Nikon.html) and the pretty printing [here](https://github.com/exiftool/exiftool/blob/master/lib/Image/ExifTool/Nikon.pm) (both found under `FlashInfo`). There are 7 `FlashInfo` groups listed, each applying to a different set of camera models. Adding every group would take a long time, however only

[2021-10-02 21:08] clanmills commented on #1941
Thank you @postscript-dev for looking at this.  For sure, we need a test image.   This is unlikely to arrive following Christoph's private emails about his privacy.

[2021-10-03 09:45] clanmills commented on #1941
The architecture of tag decoding is discussed in my book in **7.7 Tag Decoder**  https://exiv2.org/book/#7-7

[2021-10-03 10:39] clanmills commented on #1941
@postscript-dev I'm going to reopen this as the user is now offering test files.  He want to discuss this by email and he doesn't want his email address published.  I don't know your email address, so I cannot forward you the correspondence.  Can you shoot my your email address (via email).

[2021-10-03 10:44] dhoulder commented on #1893
Am I right in thinking that this is mostly a matter of patching BmffImage::boxHandler() so that it handles THMB, PRVW and the JPEG cases in the "trak"s, (as per https://github.com/lclevy/canon_cr3 ), and stashing the appropriate offsets, sizes and mime-types in nativePreviews_ ?

[2021-10-03 10:56] clanmills commented on #1893
Yes, David @dhoulder, I think that's what you have to do.  I have never really studied the preview code carefully.  I believe it's designed to recover the previews in IFD1 of the Exif metadata.  It might be easy to get it to recover images from the THMB and PRVW boxes.  While on vacation last week, I started to think about updating tvisitor.cpp in my book to parse these images and haven't yet done

[2021-10-03 11:20] dhoulder commented on #1893
Hi Robin @clanmills . OK, I'll have a closer look at it over the next few days. As far as I can tell, the preview extraction for most camera raw files either grabs a preview straight out of an EXIF tag value directly, or reads a file offset and length out of an EXIF tag value and then grabs the preview from that section of the file. Since CR3 files don't store preview data in EXIF tags, some other

[2021-10-03 12:16] clanmills commented on #1893
I'll look at this during the week.  There are a couple of parts of my book which need more work.  One is Image Previews and the other is the convertor code (which converts Exif metadata into XMP etc).

I think the convertor code is an absurdity.  We should only deal with what's in a file.  We should never cook up anything.  We should be like SuperMan and deal in "Truth, Justice and the American Wa

[2021-10-03 18:01] clanmills commented on #1893
I've had a look at the tvisitor.cpp code in my book and it's how happily dumping Exif thumbnails and the THMB and PRVW boxes in CR3 files.  I'll submit that code on Monday and update the text in the book.  I'll also have a look at the preview code in Exiv2 tomorrow.

We're off on vacation on Friday (for a week).  Let's have a talk mid-week on Zoom.   By Friday, I think we'll have a good plan about

[2021-10-04 07:31] cris46 commented on #1941
@postscript-dev, @clanmills: my cameras are Nikon D7100 and Nikon D850. The work done with Mr. Harvey from exiftool is a while back. In the meanwhile, Nikon updated the CLS (the remote triggering framework in Nikon), basically to use radio rather than IR, allowing for more channels and groups. Specially the groups should extend the codes we found back then. Nikon flash trigger gear is very expensi

[2021-10-04 08:00] clanmills commented on #1941
@cris46 Thanks for this information.  I'm not a photographer, so I've never heard of CLS/TLS/TTL and those other terms.  However, I know about metadata and 100% confident of success.  Can you share some files from your cameras with the flash in use.  And can you list the exiftool presentation of the FlashInfo metadata for your test files.

It's probably sufficient to extract the metadata from your

[2021-10-04 09:18] cris46 commented on #1941
The interesting point of FlashInfo is when using more than one flash, off camera, recording mainly the power settings of those flashes. CLS is a Nikon specific acronym which is related to the management of off camera flashes which are controlled remotely from the camera. TTL means ''through the lens''. There are fast test flashes fired and the camera measures the light through lens to figure out a

[2021-10-04 09:28] kmilos commented on #1941
As Robin hinted, adding the decoder should be relatively easy, once one manages to do the hard part of reverse mapping what the bytes in the structure mean...

See the recently [added Nikon3.Ld4 (Nikon3LensData ver 0800) code for a decoder skeleton](https://github.com/Exiv2/exiv2/pull/1437)...

[2021-10-04 09:59] #1920 closed

[2021-10-04 10:09] clanmills commented on #1941
@kmilos Thanks for your helpful comments.  The reversal engineering of the binary tag is painful.  Thanks to Phil, he's both done that and documented many of those tags.

@cris46 You file has arrived safely and I see:

[code]

So, you're using FlashInfo v0108  which Phil hasn't explicitly documented, however it's probably an extended version of 0107 which is documented:  https://exiftool.org/TagNa

[2021-10-04 10:22] cris46 commented on #1941
Oh. In 2018 I used the D7100, and today it was the D850 (because I had a file at hand). I'll look for one from the D7100.

[2021-10-04 10:40] postscript-dev commented on #1941
Sorry for the delay.

Looking at your uploaded file, ExifTool already processes the FlashInfo for your Nikon D850, and outputs it as the [Nikon FlashInfo0107 Tags](https://exiftool.org/TagNames/Nikon.html#FlashInfo0107) group.

[code]

Your Nikon 7100 is included in the [FlashInfo0106](https://exiftool.org/TagNames/Nikon.html#FlashInfo0106) group.

Are you asking for new tags that ExifTool does no

[2021-10-04 10:42] postscript-dev commented on #1893
When working on the [manpage](https://github.com/Exiv2/exiv2/blob/main/man/man1/exiv2.md), I used the [Stonehenge.jpg](https://clanmills.com/Stonehenge.jpg) file (from @clanmills) to demonstrate the different commands. When it came to [PREVIEW IMAGES AND THUMBNAILS](https://github.com/Exiv2/exiv2/blob/main/man/man1/exiv2.md#preview_images) though, I was a bit stuck. Apart from the thumbnail, exiv2

[2021-10-04 12:02] cris46 commented on #1941
I was reviewing the emails I exchanged in 2018 with Phil Harvey, when I realized, that my D850 is older than I remembered. So I was mistaken earlier. There I also saw, that the D850 had 163 Bytes for this tag. I didn't remember that.

Actually both. As a darktable user, it would be helpful to see this information when reviewing the images. But a remote flash setup can get pretty complex, so additi

[2021-10-04 13:09] jim-easterbrook opened #1945 ""Nightly" vs "0.27-nightly" builds"
I've successfully compiled and used the various nightly releases and v0.27.5-RC3, but I've noticed that "0.27-nightly" appears to actually be using the v1.0.0 code. It has the -std=c++11 stuff like unique ptr instead of auto ptr, and versionString() returns "1.0.0". The "0.27.5-RC3" release goes back to auto ptr and versionString() returns "0.27.5".

Should I just ignore "0.27-nightly" releases?

[2021-10-04 13:44] postscript-dev commented on #1941
I will try and work on adding the new tags, but it wont be quick. I have less time on the run up to Christmas.

First, it is best to transcribe ExifTool's FlashInfo107 group into exiv2. Once this is completed, then we can look at FlashInfo106 and then any new tags after that.

[2021-10-04 16:53] clanmills commented on #1941
@postscript-dev Thank You, Peter.  Don't bother with v0106, as that appears to be used by my 7 year old D5300.  @cris46's image is using v0108.  Usually with the Nikon structures, they get longer and retain backwards compatibility.   So fields don't move about, new fields are added.

I don't think it's a big job to convert the definition on Phil's web-site into code for Exiv2 and write a python te

[2021-10-04 17:38] clanmills commented on #1893
Thanks, Peter @postscript-dev .  You can read my thoughts about previews here:  https://exiv2.org/book/#5  I think the preview code is both complex and a little weak.

The CR3 code is read-only, so we don't require code to insert/delete/modify thumbnails.

I have updated the tvisitor.cpp code in my book today to beautiful locate and dump the previews in JPEG and CR3 files.  And I've updated some p

[2021-10-04 20:15] cris46 commented on #1941
@postscript-dev um. of course, I'm happy with whatever support we can get in exiv2, whenever that might be. But Nikon did produce some rather good cameras, and I think there are still many cameras out there being used actively which are even older than 7 years. My D7100 also is from nov 2013, and I don't consider it obsolete. So, maybe these cameras shouldn't be discarded right away.

[2021-10-04 20:18] cris46 commented on #1941
Here is a file from the D7100.
[_DSC4962.exv.tar.gz](https://github.com/Exiv2/exiv2/files/7281073/_DSC4962.exv.tar.gz)

[2021-10-04 23:18] dhoulder commented on #1893
I was assuming that the existing base class implementation in Image::nativePreviews() already does the job, and all that is required in BmffImage::boxHandler() is to fill out the nativePreviews_ vector in much the same way that readWriteEpsMetadata() in epsimage.cpp does. Am I missing something?

[2021-10-05 06:09] clanmills commented on #1893
I think you're ahead of me in understanding this magic.  Image::nativePreviews() is the base implementation and does exactly nothing.  It returns an empty list.  Today, I'm going to implement BmffImage::nativePreviews().  BmffImage::readMetadata() calls the box handler and I'll modify that to save the THMD and PRVW images (which are JPEGs) in the instance nativePreviews_.  I think that'll fix it.

[2021-10-05 07:00] clanmills commented on #1945
@jim-easterbrook Good to hear from you.  Hope everything's good with you.  I'm retiring from Exiv2.  When v0.27.5 reaches GM (scheduled 2021-10-22), I'm finished.

Exiv2 has been running two major branches since v0.27 shipped in December 2018.  Branch `0.27-maintenance` continues to use C++98 and auto\_ptr.  Branch `main` uses C++11 (and later) and unique\_ptr.

I haven't been involved with the ni

[2021-10-05 07:19] jim-easterbrook commented on #1945
Hi Robin, thanks for all your work on Exiv2 over the years, and enjoy your retirement from it.

All the Python wrappers I've tried over the years have had their problems, which is why I decided to have a go at doing a better job. SWIG is what I know so it's the tool I use. I'm also doing "binary wheels" to make installation easy on Windows and Linux. (If I had a copy of MacOS I could probably do t

[2021-10-05 07:19] clanmills commented on #1945
@jim-easterbrook Can you try this patch to address your SWIG situation.  If this fixes SWIG, I'll leave it to Team Exiv2 to decide about accepting this in `main`.

[code]

[2021-10-05 07:26] clanmills commented on #1945
@jim-easterbrook I'm happy to give you SSH access to my MacMini to build/test your code.  The GitHub CI provides macOS builder nodes.  I can't remember how that works because Luis set it up for macOS.  I set up appveyor to build Cygwin/64 and MinGW/msys2 on Windows.

[2021-10-05 07:41] jim-easterbrook commented on #1945
Robin, your patch fixes the SWIG problem, as expected, and appears to work correctly.

That's a very generous offer to use your MacMini. Once I've understood the MacOS build process I would set up a GitHub Action to build the MacOS wheels, as I've done for Linux and Windows.

Or I could just wait until a MacOS user wants to use python-exiv2 and then work with them to set up the build process.

[2021-10-05 07:59] clanmills commented on #1945
Remind me early next year to look at your code and I'll work with you on that.  I have also been very frustrated by the python wrappers.  I have a full load of other commitments for the rest of 2021.  You're welcome to come to Camberley for lunch in January and we'll fix this together.  robin@clanmills.com

As my patch passes the test suite.  I think Team Exiv2 will accept it into `main`.

Another

[2021-10-05 08:02] jim-easterbrook commented on #1945
That's probably a better solution. SWIG already defines `SWIG` for that purpose.
http://www.swig.org/Doc4.0/Preprocessor.html#Preprocessor_condition_compilation

[2021-10-05 08:08] clanmills commented on #1945
That's the way to go.  Submit a PR to main. I'm sure it will be accepted.

I have never submitted anything into `main`.  That's the hand-shake with Team Exiv2.  I maintain 0.27-maintenance (with lots of help from the gang) and never touch `main` (and/or `old-master`).

[2021-10-05 10:35] kevinbackhouse commented on #1945
@jim-easterbrook: The 0.27-nightly workflow is run manually, so maybe it was run incorrectly last time. I have just triggered it again, so maybe that will fix it. Are the artifacts for [v0.27.5-RC3](https://github.com/Exiv2/exiv2/releases/tag/v0.27.5-RC3) ok?

[2021-10-05 10:58] jim-easterbrook commented on #1945
The RC3 build is as I would have expected - still on c++98 and using auto_ptr. I've just tried the new 0.27-nightly and it's got the "static constexpr auto" from v1.0.0. It's just occurred to me that maybe the problem is I'm downloading the source code tar.gz, not one of the builds. (I can't use the Linux build as it uses a too modern version of glibc for my old openSUSE main machine.)

The 0.27-n

[2021-10-05 12:09] dhoulder commented on #1893
OK, getting there…
[code]
Now I just need to extract the big JPEG from inside "trak" 1

[2021-10-05 12:50] clanmills commented on #1893
Here's the patch to recover the THMB from a CR3 file on branch 0.27-maintenance.  PRVW is very similar.

As this issue is to find previews in CR3 files, it sufficient to deal with THMB and PRVW in `BmffImage::boxHandler()`, test it and ask @paolobenve to test it.  A PR should be submitted to both the 0.27-maintenance and main branches.  This change is too late for submission to Exiv2 v0.27.5 which

[2021-10-05 17:50] clanmills commented on #1893
We've both more-or-less fixed this.  I don't think we need to extract the "big guy".

[2021-10-05 19:32] postscript-dev opened #1948 "Add missing preview images in manpage example image"
**Is your feature request related to a problem? Please describe.**
In addition to a file's main image, the metadata can contain several other smaller versions of that image (see [PREVIEW IMAGES AND THUMBNAILS](https://github.com/Exiv2/exiv2/blob/main/man/man1/exiv2.md#preview_images) in the manpage). Exiv2 does not extract all of the available previews in an image.

For example, in *PREVIEW IMAGES

[2021-10-05 20:11] clanmills commented on #1948
This matter is discussed in my book: https://clanmills.com/exiv2/book/#5.  The code to deal with this for JPEG and CR3 files is in tvisitor.cpp

Additionally, I have been working with David to extract format specific thumbnails from CR3 files: https://github.com/Exiv2/exiv2/issues/1893#issuecomment-934381773

@postscript-dev It could be most helpful if you could "scope" this issue as I am sure the

[2021-10-05 23:33] dhoulder commented on #1893
@clanmills Yep, your patch is pretty close to mine, unsurprisingly :grin:

For CR2 files, exiv2 does handle the big guy, and I've used this myself in the past to get the camera original JPEG. It shouldn't be hard to do, and it would be nice to keep the behaviour consistent.

I'll work on this over the next week or two and come up with PRs for main and 0.27-maintenance. I'll need to update tests, a

[2021-10-06 13:51] clanmills commented on #1948
Thanks for logging this issue, Peter.  The Exiv2 preview code was added more than 10 years ago and you're the first person to open an issue about this.  The number of folks contributing to Exiv2 is steadily increasing.  One day this will get attention.

[2021-10-07 19:31] jim-easterbrook commented on #1945
Thank you @clanmills, but I think you may need to temper your enthusiasm a little. Don't rewrite the CLI program!

There may well be nasty little things like memory leaks waiting to trip me up - the project's still at an early stage and hasn't been rigorously tested. (If it works in my application I tend to assume that's good enough - rather slapdash I know.) I may still make some API changes as n

[2021-10-07 20:40] clanmills commented on #1945
I attended PyCon2010 in Atlanta, Georgia.  On the Saturday morning, I attended a presentation by Dave Beazley _(of SWIG fame)_ talking about the Python Global Lock _(GIL)_.  The audience laughed a lot, however I wasn't listening because I was working on my slides having won a lottery to give a "lightning" presentation about Exiv2 and Python.  5 minutes of fun:  http://clanmills.com/2010/PyCon/Robi

[2021-10-08 03:58] rieje opened #1950 "[Question] Lossless stripping of metadata? Set rotation?"
I was wondering if exiv2 losslessly strips metadata (at least jpg/png) the way I believe exivtool can. I have been using imagemagick and to perform actions like stripping of metadata and rotating the photo but it did not occur to me that both operations result in image degradation over time (much to my disappointment because I modified them in place with no backups).

Also, exivtool can also lossl

[2021-10-08 10:40] rgenoud opened #1951 "[BUG][BISECTED] exiv2 rename -T file rename the file instead of just touching it"
Since commit 74bc0e05359f ("Changes for cross-platform getopt")
exiv2 rename -T file.jpeg change the file name instead of only setting the file timestamp according to Exif create timestamp.

script used for git bisect run :
NB: the script should be in the parent directory of exiv2 along with a test.jpeg file
`
#!/bin/sh
set -e

git clean -fdx
mkdir -p build
cd build
cmake -j15 .. -DCMAKE_BUILD_TYP

[2021-10-08 16:05] postscript-dev commented on #1951
The exiv2 usage in Exiv2 0.27.4 is:
[code]
In this version, the 'action' must be used *immediately before* the 'file' and not any earlier. For example, placing the action earlier in the command:
[code]
and immediately before the file:
[code]
The second example works in the way that you expect.

I didn't work on Exiv2 back then and don't have time to investigate if this has changed behaviour. I hop

[2021-10-09 07:17] rgenoud commented on #1951
Ok, I understand.
Before commit 74bc0e0 ("Changes for cross-platform getopt"), the options could be anywhere in the command.
And after this commit, the options *must* be before the action parameter, otherwise they will be treated as a filename.
I'll correct my scripts to reflect this change.
Thanks for the heads-up.

[2021-10-09 07:26] #1951 closed

[2021-10-09 09:01] clanmills commented on #1950
You can delete all the metadata with options such as `-de` = Delete all Exif tags.  There is no option to say "delete all except ...".  You'll have to read Orientation, delete all the tags and then set Orientation, something like this (in bash):

[code]

[2021-10-09 10:13] dhoulder commented on #1893
For anyone playing along at home:
https://github.com/dhoulder/exiv2/commit/f7b5b3674eb52b85dd85d689c708ca941d854f28
Just extracts THMB and PRVW images so far. Remaining large JPEG extraction and tests are works in progress.

[2021-10-09 11:05] #1945 closed

[2021-10-09 15:52] trufanov-nok opened #1953 "Wrong description for void Exiv2::Image::iccProfileDefined()"
It's the same as for `void clearIccProfile ()`.:
[code]

I've noticed this on a website: https://exiv2.org/doc/classExiv2_1_1Image.html
It seems the doc is autogenerated  from this header:
https://github.com/Exiv2/exiv2/blob/main/include/exiv2/image.hpp#L232

[2021-10-09 17:55] clanmills commented on #1953
Alex. @trufanov-nok   Thanks for letting us know.  You're correct.  The API documentation is generated from the comments in the header file using Doxygen.  We do a little post-processing on the doxygen to modify the look'n'feel of the pages.

`clearIccProfile()` deletes the icc profile in the image instance.  The file is rewritten with image->writeMetadata()

`iccProfileDefined()` is returned the

[2021-10-10 08:58] postscript-dev commented on #1953
I will look at this later in the week.

[2021-10-10 10:37] kevinbackhouse opened #1954 "UBSAN error due to integer overflow in leap year calculation"
Found by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=39555

To reproduce, you need a sanitizer build:

[code]

poc: [poc.tar.gz](https://github.com/Exiv2/exiv2/files/7317266/poc.tar.gz)

Error message:

[code]

The bug is in [`XMPUtils.cpp`](https://github.com/Exiv2/exiv2/blob/937264b7a8ef3e8ab668adfe80d029edc7ed2fd1/xmpsdk/src/XMPUtils.cpp#L178). That line of code looks comple

[2021-10-13 10:24] bquinn opened #1959 "New IPTC Photo Metadata Standard properties due to be introduced 20 Oct 2021"
Hi exiv2 team,

We at IPTC are voting on a proposed new version of IPTC Photo Metadata Standard next week (20th October).

[Here's the draft of the spec](https://www.iptc.org/std-dev/photometadata/specification/IPTC-PhotoMetadata-2021.1.html).

If voted through by the Standards Committee, it will introduce three new properties. Two of them are intended to be used for accessibility, and the third i

[2021-10-13 16:10] TGMTGMDev opened #1960 "Crash in Debug Mode"
Hello
Env: VisualStudio Community 2022 Preview - C++

I wrote a small app (in C++) to display Exif data. I linked to app to Exiv2.lib (as found on the Web site). In Release mode, it works perfectly (I checked against the output of the Exifdata.exe found in the bin directory).
When I run in debug mode, the app crashed directly on opening the image file !!!
Line: Image::AutoPtr image = ImageFactory:

[2021-10-14 18:27] postscript-dev commented on #1941
Sorry for the delay.

I have completed adding the existing tags for the Nikon D850 (0108). When I started the work, I found that we already had `NikonFl1` (FlashInfo0100), `NikonFl2` (FlashInfo0102) and `NikonFl3` (FlashInfo0103) groups defined. I have added a `NikonFl7` group (FlashInfo0107).

Now when using the exiv2 tool with your test file, you will see:
[code]
You can find the ExifTool equiva

[2021-10-15 21:37] postscript-dev opened #1965 "Problems with key syntax when using duplicate Exif/IPTC tags"
**Describe the bug**
The Exif and IPTC specifications allow [duplicate tags](https://github.com/Exiv2/exiv2/blob/main/exiv2.md#75-duplicate-tags) to be created. However, the current [key syntax](https://github.com/Exiv2/exiv2/blob/main/exiv2.md#71-exiv2-key-syntax) does not provide a mechanism to identify individual Exif and IPTC tags among the duplicates.

When using the exiv2 sample program, all

[2021-10-16 22:25] #1954 closed

[2021-10-17 21:28] #1893 closed

[2021-10-17 22:42] facundofc opened #1969 "-PV option doesn't print the key"
Using an image from the test suite, you get:

[code]

while according to the man page, `-PV` is supposed to:

[code]

But the above output is unsuitable for the `-m` flag since it's missing the key.

[2021-10-18 14:32] kmilos commented on #1893
You might want to start anew with a fresh clone and that particular branch checkout. The CI passes (except a known issue on Mac), and juts confirmed locally as well (mingw64):

[code]

...

Nope, you should be seeing

[code]

[2021-10-19 12:12] dhoulder commented on #1893
@kmilos wrote:

Good to hear!

See  https://github.com/Exiv2/exiv2/issues/1961 for the polish that @clanmills was talking about. Should make the import significantly faster.

[2021-10-19 14:34] postscript-dev commented on #1969
Thanks for contributing this.

While working on the manpage I found lots of small problems with the exiv2 sample including this one. There are several still to be addressed. Would you be interested in fixing a couple related to your issue?

When modifying, if using a non-standard XMP namespace, it needs to be registered in the [same line as the modification](https://github.com/Exiv2/exiv2/blob/mai

[2021-10-20 00:28] paolobenve commented on #1893
wait... how can I know if when compiling darktable my compiled exiv2 was used or another version?

I'm wondering if I got the error because of the wrong exiv2

[2021-10-20 06:51] clanmills commented on #1893
@paolobenve If your _**darktable**_ is using exiv2 as a shared object, you can inspect the library at run-time with `lsof` (list open files), like this:
[code]
However, you'll have to build a variant of exiv2 from branch 0.27-maintenance with BMFF enabled and David's (@dhoulder) CR3/preview code.  I intend to add David's code to 0.27-maintenance tomorrow (Thursday) and Milos (@kmilos) will build a

[2021-10-20 10:14] clanmills commented on #1893
`tvisitor.cpp` parses `Canon - Canon EOS R6 - 3_2.CR3` correctly  and finds two thumbnails: 120x160 and 1080,1620.

`tvisitor.cpp` fails to read AJKL0637.CR3.  Gives up on 'corrupted file'.  It might be corrupted.  It's more likely that the parser has made an error.  Maybe we need more time to work on CR3/preview.

@dhoulder I have 170 CR3 files on the MacMini.  164 are from pixels.us (including `

[2021-10-20 10:57] paolobenve commented on #1893
The darktable function that returns my error:

[code]

[2021-10-20 11:45] clanmills commented on #1893
I've been out in the garden _(autumn chores)_ and when I get back, Milo&scaron; has this figured out.  Well done, Everybody.  Very good team work.  I also noticed `colr` etc and thought _**recursive BMFF**_?

I doesn't seem possible for CR3 preview+HEIF (or whatever and/or other formats) to be in v0.27.5.   So, we face a choice for  v0.27.5 of:
1. No CR3 preview support (as v0.27.4).
2. CR3 previe

[2021-10-20 11:50] paolobenve commented on #1893
[code]

the same error with darktable reports

[2021-10-20 12:24] paolobenve commented on #1893
actually!

Now everything works fine! thank you!

[2021-10-20 13:15] paolobenve opened #1977 "improvable error message"
exiv built without `-DEXIV2_ENABLE_BMFF=1`:

[code]

I think that the error message is correct, but could be better: actually exiv2 cannot find the preview because it hasn't the rights to process CR3 files. A check on CR3 type would permit to add a suggestion that maybe EXIV2_ENABLE_BMFF support isn't enabled.

[2021-10-20 13:29] kmilos commented on #1893
@kevinbackhouse @dhoulder Can you try back-porting #1978 on top of #1968 please?

[2021-10-20 17:14] kmilos commented on #1893
Great Robin, thanks for confirming.

If you permit, I'd like to squeeze in one more commit to expose the HDR preview as a binary buffer so someone can dump it and study it further...

[2021-10-20 20:34] clanmills commented on #1893
Exiv2 has been developed by trial and error.  Two people have done exceptional work to get the metadata monstor under control.  Andreas Huggel for the Exiv2 Architecture.  Phil Harvey for documenting metadata on his web site.

The complications of metadata are many.  The MakerNotes are usually Tiffs (except Kodak), every manufacturer has different tags in their makernotes.  Parts of the Exif Spec

[2021-10-21 10:36] clanmills commented on #1977
@paolobenve I'm going to close this.  The changes required to fix this is would require v0.27.5 RC4 and a three week delay.  I'm sure you and the _**darktable**_ folks prefer to have 0.27.5 now with the CR3/preview code.

As you know, Paolo we don't always get what we want.  Team Exiv2 have worked well on your behalf and delivered CR3/preview for you.

[2021-10-21 10:36] #1977 closed

[2021-10-21 12:40] clanmills commented on #1466
Release notes for v0.27.5:  https://github.com/Exiv2/exiv2/issues/1018#issuecomment-948573657

[2021-10-21 12:43] trufanov-nok opened #1982 "__declspec(dllexport) missing?"
Hi,
I've noticed while building the lib with MS VS that it doesn't generate import library (.lib) and .def file even it's specified in `Configuration Properties/Linker/Advanced/Import Library`. It seems bcs there is no any `__declspec(dllexport) ` functions in the project.
Shouldn't be [here](https://github.com/Exiv2/exiv2/blob/main/contrib/vs2019/solution/exiv2lib_export.h#L10) instead of
[code]

[2021-10-21 15:42] trufanov-nok commented on #1982
I couldn't trace its generation in master branch. And there are only v0.27+ sources. Perhaps its generation is broken too or omitted on purpose?

[2021-10-21 16:51] trufanov-nok commented on #1982
Ok, thanks! I'll try to check this tomorrow.

[2021-10-22 05:40] piponazo opened #1984 "Remove gtest DLLs from windows releases"
I noticed that in the last 0.27.5 windows release, the gtest DLLs are being deployed:

![Screenshot from 2021-10-22 07-38-11](https://user-images.githubusercontent.com/102645/138399071-8f8d53ab-74f8-410e-a2bd-fe8af872ec74.png)

I think those files are only needed for testing the different executables on the CI pipelines. Probably we can skip them for the final releases.

[2021-10-23 16:15] HaujetZhao opened #1985 "-n don't have effect change the encode of exif information on Windows"
The command i ran:

[code]

The result:

[code]

Encoding is still Unicode but not cp936.

Premise: I installed iconv for Windows:

[code]

[2021-10-30 18:27] postscript-dev commented on #1941
@cris46: I am sorry for not working on this more, I have been busy.

If anyone is interested, I have inserted the `.exv` files into JPEGs, so that they can be used with NX Studio. You can find the version1 files [here](https://github.com/Exiv2/exiv2/files/7447123/version1_jpegs.zip) and version 2 files [here](https://github.com/Exiv2/exiv2/files/7447125/version2_jpegs.zip).

Today I looked at the

[2021-10-30 23:35] cris46 commented on #1941
In manual mode, you set the absolute value of the power a flash device is able to emit. If a flash can emit at most 500Ws (Watt seconds), 1/1 means that. And 1/4 would mean 125Ws. And if I buy a second flash with 2000Ws, at max it's just 2 stops (2 EV) brighter.

Then there is the EV (https://en.wikipedia.org/wiki/Exposure_value). This is a measure for differences: If one of two power settings pro

[2021-10-31 19:42] AhiyaHiya opened #1991 "Conan recipe is generating package for older version of libexiv2"
##### **Describe the bug**
Unable to get the latest stable version of libExiv2, when using conan to deliver the package.

##### **Notes**
Using conan to download libexiv2 package, version exiv2/0.27.4, as listed on `https://conan.io/center/exiv2`.
Created small sample project to call Exiv2. Compiler returned error that `auto_ptr` is not a member of `std`.
The error was traced to file `value.hpp`,

[2021-11-02 16:54] postscript-dev commented on #1941
@cris46: Thanks for the help. Using your explanation, I have added intermediate values to the translated output for the `Exif.NikonFl7.FlashGroupAData` tag.

**Manual mode:**

| Vanilla value | Translated value
|:---            |:---
| 0       *      | "1/1"
| 3              | "1/1 (-1/2EV)"
| 6              | "1/2"
| 9              | "1/2 (-1/2EV)"
| 12            | "1/4"
| 15            | "1/4 (

[2021-11-03 01:05] cris46 commented on #1941
In my previous explanation I tried to clarify things using the terms "absolute" and "relative". But also the "absolute" setting is actually relative, because 100% power doesn't say how much power is indeed emitted. So strictly, both are relative but refer to a different thing:

What I called "absolute" is actually relative to the power the device is able to emit. As the flash can be closer of furt

[2021-11-04 01:52] MrDkVV opened #1993 "exiv2 performance"
Hello,

I've been experience issues removing a large number of tags.

There are about 1M tags total and trying to remove approximately 90,000. Trying to remove more then about 10,000 causes the application dialog prompts to "confirm" to fail.  Not to mention the list goes off the screen.

Running v7.2.0

1. Please fix the dialog windows when removing large number of tags.

2. Please consider movin

[2021-11-04 08:54] kmilos commented on #1993
I think there might be some case of mistaken identity here - exiv2 is not a GUI application and current version is 0.27.5

[2021-11-04 08:54] #1993 closed

[2021-11-05 07:43] HaujetZhao commented on #1985
` exiv2 --version`:

[code]

[code]

[code]

![文件](https://user-images.githubusercontent.com/19181833/140475479-44207dff-3925-4006-818b-c8b38beab002.jpg)

[2021-11-05 15:31] MrDkVV commented on #1993
Hello @kmilos,  I see what happened.

I will go back and see if I can get Digikam support to help identify where the latency may exist.

I was on "https://www.digikam.org/support/" and was trying to submit an issue for Digikam that uses Exiv2 for their file tag processing.  It's unclear if this is a "Software / Digikam " or "Exiv2" issue?
Sorry for the confusion, I didn't realize they pointed thei

[2021-11-05 15:35] kmilos commented on #1993
No problem, I figured as much. It would indeed be best if Digikam devs analyzed the issue first.

[2021-11-07 12:12] postscript-dev commented on #1985
@HaujetZhao: Thanks for providing the information. I notice that you are using Exiv2 0.27.4, did you know that exiv2 0.27.5 is now available? You can download it [here](https://www.exiv2.org/download.html) and view the release notes [here](https://www.exiv2.org/whatsnew.html).

I looked at the exiv2 source code and the Windows build (2019msvc64) doesn't use the *iconv* library but instead exiv2 pr

[2021-11-07 13:31] HaujetZhao commented on #1985
Did your Linux installed `iconv`?

This is the result onn my WSL Ubuntu, it has the right output:

[code]

[2021-11-07 17:45] postscript-dev commented on #1985
Exiv2 is built using the iconv library and uses that during execution rather than the iconv command line program. The iconv library is usually a standard part of a Linux installation.

In your above Linux example, you didn't use the *fixcom* action so only displayed a summary of the file. If you use `exiv2 --verbose -n cp936 fixcom 文件.jpg ` do you get the same output as I did?

[2021-11-07 18:11] clanmills commented on #1985
@postscript-dev I think I might have deliberately excluded libiconv for MSVC builds.  A user was complaining about a linking issue with it.  He was linking the MinGW libiconv into the MSVC build.  So, I neutered the 0.27-maintenance MSVC build to say "don't even think about libiconv!".

@HaujetZhao You'll understand that it's very difficult for Team Exiv2 to help you with this issue.  The challeng

[2021-11-08 01:47] HaujetZhao commented on #1985
@clanmills Thanks. I understand the difficulty of encoding issue. I'm temporarily only familiar with python, but also learning other skill stacks, preparing for postgraduate entrance exam. When my time and skill stack suits, I'll be willing to contribute to that.

[2021-11-08 01:48] #1985 closed

[2021-11-08 15:35] postscript-dev commented on #1941
I was planning on working on the tags last week, but I had problems with my computer which took several days to fix.

@cris46: The existing tags that ExifTool defined have now been merged into Exiv2. When we release the next version of the library, those tags will be available for darktable to use.

I used the output from NX Studio. If you provide a sample using a positive variant, then I can chec

[2021-11-09 02:21] clanmills commented on #1985
@HaujetZhao Your python skills will be of value to Team Exiv2.  We wanted to recruit a python engineer to work on the test suite.  https://discuss.pixls.us/t/python-engineering-volunteer-opportunity/24292

A project such as Exiv2 requires skills from many areas.  While the primary code body is C++, less than 50% of the effort goes into the C++ code.  Test, documentation, localisation, security, bu

[2021-11-10 14:59] jim-easterbrook opened #1995 "Add overloaded findKey(key, start) method"
Some data types allow keys to be repeated (e.g. `Iptc.Application2.Keywords`) but `findKey()` can only return an iterator pointing at the first datum.

An overloaded `findKey()` method with a `start` or `search_from` iterator parameter would allow finding the remaining data.
[code]

The only way to find repeated keys currently is to iterate over all the data and test the key value of each datum. I

[2021-11-10 17:52] postscript-dev commented on #1941
@cris46: I forgot to mention that as the existing NikonFl7 tags have been merged, they are now available in [Exiv2's nightly builds](https://github.com/Exiv2/exiv2/releases). The builds are not for a production environment as they could still contain bugs, but will allow you to try them out on files if you want to.

I think that if the negative and positive values are equivalent then it is likely

[2021-11-11 04:07] cris46 commented on #1941
First, sorry for the delay; I also still owe you a few tests I planned for the past weekend, but wasn't able to make yet.

Also, I've downloaded the executable following your link, and picking exiv2-1.0.0.9-Linux64.tar.gz. The I executed "./exiv2 -pa file.nef | grep NikonFl", but I got group data in percents. Probably I'm using it wrong. Can you post the correct command line? Or did I pick the wro

[2021-11-11 20:59] Sparsh-Bansal opened #1996 "Using exiv2.exe on msvc and mingw with greek letters on path"
##### **Describe the bug**
exiv2 can't read exif/meta information from filename having Chinese/Greek characters in it .
Command: exiv2 .\Εκκρεμότητες\VB5_4591.jpg
It says: Failed to open the file
Also on using pyexiv2 python wrapper for exiv2, Used different encodings like utf-8, GBK, ISO-8859-1, but still the same error -> Failed to open the data source: No such file or directory (errno = 2)

Exa

[2021-11-12 13:46] kmilos commented on #1996
In order to expect any assistance, please also provide more details about your environment: OS, output of `exiv2 -vV`, where you got the exiv2 binary, or how you built it yourself...

[2021-11-12 13:52] Sparsh-Bansal commented on #1996
I just downloaded the exiv2 (exiv2-0.27.4-2019msvc64) binary for windows from [here](https://exiv2.org/download.html)
Output of exiv2 -vV:
[code]

[2021-11-12 16:27] clanmills commented on #1996
I think there are two issues which may be causing this:

1.  This build has not set -DEXIV2_ENABLE_UNICODE=ON
I know this from the output `have_unicode_path=0` (and because I did the build)

2. The command-line program exiv2 isn't linked to use wmain() and I think you need that to use UNICODE paths.

The sample program sample/exifprint.cpp was modified to use wmain() and other MSVC wide support (t

[2021-11-12 18:18] Simon-12 opened #1997 "Build with C++17 possible?"
Hey,
i tried to build exiv2 from the last stable main branch ([#1963](https://github.com/Exiv2/exiv2/pull/1963)) with: C++17 MSVC 2019 under Windows 10.
I got no success, so bevor i deep dive to figure out what is going on, is this even possible?
Or i have to take another branch/commit?

Cheers

[2021-11-13 07:51] clanmills commented on #1996
I am 100% certain about this.  I attach a WIN_UNICODE build of v0.27.5.  The build of exifprint.exe understands the Greek path.  The build of exiv2.exe does not.  This is because exiv2.cpp has not had the treatment given to exifprint.cpp to work with msvc/unicode support (tchar etc).

[code]
[exiv2-0.27.5-2019msvc64-2021-11-13_07:02:00.zip](https://github.com/Exiv2/exiv2/files/7531599/exiv2-0.27.5

[2021-11-13 11:58] kmilos commented on #1996
We should probably build w/ unicode/wide char support by default on Windows.

[2021-11-13 12:35] clanmills commented on #1996
I agree, @kmilos

I was _wrongly_ of the believe that when `#define EXV_UNICODE_PATH` was set at compile time (by the CMake option `-DEXIV2_ENABLE_WIN_UNICODE`), the library was totally wchar and char was not available.  I discovered when documenting this in my book that the API is augmented with the wchar variants for `ImageFactory::open` et al.

About 2015, I modified samples/exifprint.cpp to us

[2021-11-13 14:56] clanmills commented on #1996
I've updated the release script svn://dev.exiv2.org/svn/team/contrib/buildserver/build.sh release as follows:

1. Add option `--unicode` to set `-DEXIV2_ENABLE_WIN_UNICODE=1`
2. Hardwire `-DEXV_UNICODE_PATH=1` for MSVC builds
3. Hardwire `-DEXV_DYNAMIC_RUN_TIME=1` for MSVC builds (evades an expat link issue with static builds)

Please note that this is only used by the release scripts.  Changes ha

[2021-11-13 15:13] postscript-dev commented on #1941
I wont write the whole table out again, but here is a summary of the changes. I have added the `n.2` (e.g. 1/6 = 0.166) and `n.8` (e.g. 5/6 = .833) values to the iTTL-BL table. I can't find examples of these but this fills in the table and completes the increment-by-sixth rule that Nikon use. I can't find any examples of values beyond the ranges that you use, so I would prefer to leave this for no

[2021-11-13 16:06] cris46 commented on #1941
You can't find an example in the files, because the n/6th values are only generated in automatic mode, and I use virtually always manual. For this reason, I wouldn't find an example even scanning all my collection of images.

But as far as I can see, the table looks perfect to me. I guess the zoom values are in a different tag.

[2021-11-13 16:59] postscript-dev commented on #1996
I have thought a little about this recently.

It has concerned me that we aren't running the CI on the Unicode versions of the functions. I don't know of any problems but I think that it is worth testing to make sure that everything works. One of the limiting factors to this has been that the exiv2 sample program, which we use to test, did not support Unicode. Once the exiv2 sample conversion has

[2021-11-13 18:28] clanmills commented on #1996
@postscript-dev Thank for your useful observations.  Please don't apologise for finding issues which have been in the code for 15+ years.  I'm sure you already know that `#define EXV_UNICODE_PATH` only deals with UNICODE in path names and has nothing to do with any metadata character handling.

I updated build.sh today, and believe doxygen might generate web API documents for both char and wchar A

[2021-11-13 19:34] kmilos commented on #1996
Note that I mentioned Windows, not just MSVC. This is a platform thing, not a compiler thing ;)

[2021-11-13 19:55] clanmills commented on #1996
Ah.  I didn't realise that, @kmilos.  It's Windows-wide and not only MSVC.  Generating the on-line docs by running doxygen on MinGW/msys2 sounds good.  A section about UNICODE_PATH should be added to README.md.

[2021-11-13 21:43] kmilos commented on #1996
Also note that we've been building the [exiv2 MINGW-packages w/ unicode](https://github.com/msys2/MINGW-packages/blob/00cce3637f4abd66ae6119e5059c9df52e2f380d/mingw-w64-exiv2/PKGBUILD#L51) support for a while now...

[2021-11-14 09:29] Simon-12 commented on #1997
Okay the error was slightly different. I just destroyed my PATH variable, now i got a successful build with C++17.
Sorry for spam and @clanmills all the best in your well deserved retirement.

Cheers

[2021-11-14 09:29] #1997 closed

[2021-11-14 09:54] clanmills commented on #1997
Thanks @Simon-12.  I'm happy to retire.  Very pleased that @kmilos @postscript-dev @alexvanderberkel and others are keeping Exiv2 alive.

[2021-11-14 12:33] postscript-dev commented on #1941
@cris46:I have some questions about the zoom settings. Why does each flash group have it's own zoom value? If there is only one lens, which value or combination of values is used?

[2021-11-14 15:13] cris46 commented on #1941
Actually, it would even make sense to record a zoom setting for each single flash even within each group, but that is obviously impossible.

Like the zoom of a lens changing the angle of view with the focal length, the flash zoom changes the opening angle of the light beam. This is done by moving the flash tube more or less into the focal point of the parabolic reflector, in contrast to many light

[2021-11-14 20:35] clanmills commented on #1996
I've updated the release script build.sh to use UNICODE_PATH support on MinGW and Cygwin.

[code]

However, there is an issue with samples/exifprint.cpp because of this code in samples/exifprint.cpp causing it to ignore the UNICODE_PATH.  So the library has been correctly build with UNICODE support.  The executable bin/exifprint.exe uses the ascii API and fails on Greek paths.

[code]

I edited ou

[2021-11-15 09:58] jim-easterbrook opened #1998 "Xmp file date/time changes overwritten"
I'm revisiting a bug I raised 4 years ago https://dev.exiv2.org/issues/1313

I start with a simple XMP file with just one item of metadata:
[code]

Reading this file with libexiv2 reports the following data:
[code]
The Exif and Iptc values are synthesised in `XmpSidecar::readMetadata()` lines 110-111. (This is not the place to discuss if synthesising values is a good idea.) Note that `Iptc.Applica

[2021-11-15 10:15] jim-easterbrook commented on #1998
Aha! Moving lines 147-150 to be after lines 152-164 solves my problem and all the unit tests still pass. I'll submit a PR.

[2021-11-15 11:07] clanmills commented on #1996
Good news about Cygwin.  I believe cygwin `fopen()` supports UTF-8 in the path.  So the "vanilla" build of exiv2 (and the samples) supports Greek characters in the path:

[code]

_**Discussion**_

I was surprised yesterday when the Cygwin build didn't appear from the build server yesterday.  It failed as follows:

[code]

` _wfopen()` is not supported on Cygwin.

I will modify build.sh to ignore t

[2021-11-15 11:20] kmilos commented on #1996
[Cygwin/MSYS are not "native Windows"](https://en.wikipedia.org/wiki/MinGW#Comparison_with_Cygwin), they're POSIX (Unix) virtual emulation environments. Only MinGW is Windows.

[2021-11-15 11:36] clanmills commented on #1996
Yes.  You are correct.  Cygwin in POSIX and `fopen()` provides a user experience which is similar to macOS.  So Greek is handled correctly.  (_under the hood_, the cygwin DLL probably converts UTF-8 to UTF-16 and uses `_fwopen()`).

[code]

MinGW/sys2 is Windows and requires _wfopen().

I'm not sure what you mean by MSYS.  For sure, we dumped support for the original msys (msys/1.0) about 5 years

[2021-11-15 11:56] clanmills commented on #1998
Well done, Jim.  I don't know the rationale for the convertors.  This kind of manipulation should be carried out by applications and should not be in the metadata engine.

[2021-11-15 12:02] jim-easterbrook commented on #1998
I agree, but I'm happy to live with it now I know it's there. (Using clearExifData() and clearIptcData() immediately after opening an xmp file does the job.)

I think my changes honour the intent of the authors of those bits of xmpsidecar.cpp as it makes the "restore dates if they lost their TZ info" step part of the copying back of Exif & Iptc, all of which are selectively undone by the final "re

[2021-11-15 12:21] kmilos commented on #1996
Was just mentioning for generality here. MSYS is derived from Cygwin, and is just another environment to provide the Unix-like experience and tools. [It is still an available and crucial environment in the MSYS2 installation, which all the native MINGW environments have to lean on for the Unix-y build tools...](https://www.msys2.org/docs/environments/)

[2021-11-17 12:13] postscript-dev commented on #1941
@cris46:

So far, I haven't seen the individual flash zoom values in `NikonFl7`. It is possible that the `NikonFl` groups only record the values set on the master flash unit.

If you have time, could you also include examples when the master flash unit is used and the A/B/C groups are switched off (this will help narrow down the master flash values). I would like a couple of examples using `Manual

[2021-11-17 15:37] postscript-dev commented on #1959
Sorry for the delay, I have started work on this today.

If anyone is following this, the official IPTC Photo Metadata Standard 2021.1 specification is available [here](https://www.iptc.org/std/photometadata/specification/IPTC-PhotoMetadata).

BTW, I think that there is a copy/paste mistake in the specification. In [9. XMP Namespaces and Identifiers](https://www.iptc.org/std/photometadata/specific

[2021-11-18 00:35] cris46 commented on #1941
It can't be expected that Exif records the settings of every single flash. There is no upper bound to the number of flashes. There are artists (Joe McNally comes to mind) using dozens of flashes, and somewhere I read, that it's possible to trigger hundreds of them. And as soon as studio lights (which are not produced by  Nikon) are among them, compatibility would become a major issue. Thus, Exif o

[2021-11-18 09:20] bquinn commented on #1959
Hi Peter, that's great news, thanks!

You are correct about the XMP namespace being incorrect in the spec, thanks for spotting it.

FYI here is the relevant section from ISO 16684-1 2019, which is the current XMP spec:

[2021-11-18 12:50] postscript-dev commented on #1941
While reading the Speedlight instruction manual, I found:

The sample files I requested (`Auto Aperture`, `Non-TTL auto flash` and `GN (distance priority)`  would have been used to discover this, so I don't need them. Elsewhere in the manual, `Repeating Flash` is explained to use the manual mode compensations which we also already understand. I will update the tags.

I didn't know that many flashe

[2021-11-19 03:14] cris46 commented on #1941
I never knew exactly the difference between CLS (creative lighting system) and AWL (advanced wireless lighting). Today I got a bit smarter for reading the manual: AWL is the part of CLS referring to Nikon's way of remote triggering. This is an optical way, but not just the traditional optical slave which fires when it sees another flash; there is a lot of other information being exchanged. So, for

[2021-11-20 11:15] Puffincloud commented on #1890
Alison here!!  Be in no doubt the Credit Card paying AWS will be cancelled by the end of January so please deal with this ASAP
Thank you.

[2021-11-20 12:40] nehaljwani commented on #1890
Dear Exiv2 Team,

I've set up a demo at https://njw.exiv2.org/ . It uses Github Pages to host the content. We can update the artifact urls for *.zip and *.tar.gz files to link to the 'assets' uploaded on each official release on Github. We can do the same for https://pre-release.exiv2.org/ as well. Please check if this is acceptable and then we can retire the AWS instance and the only portion rema

[2021-11-20 14:27] clanmills commented on #1890
Looks like a miracle to me, Nehal.

@mica offered to host.  Maybe he can run Redmine on his server and we give him a back up of the database.  The URL of the redmine server doesn't need to have anything much to do with exiv2.  exiv2-redmine.pixls.us _(or something like that)_.

Very happy to hear that you're willing to do the releases.  Let's discuss the scripts involved when the team decides to m

[2021-11-20 14:36] nehaljwani commented on #1890
Could someone email me @mica's contact information?

[2021-11-20 16:52] clanmills commented on #1890
@nehaljwani I've sent Mica a private message on discuss.pixls.us and asked him to join the discussion here.

[2021-11-21 13:05] postscript-dev commented on #1941
Thanks for providing the sample files. As previously, I have inserted the *.exv* files into JPEGS which are available in [awl-jpegs1.zip](https://github.com/Exiv2/exiv2/files/7576226/awl-jpegs1.zip).

I noticed that your new awl samples are identified as using a slightly different Speedlight model (SB-910 instead of SB-900). This still works with the *NikonFl7* group and is probably similar to the

[2021-11-21 13:55] clanmills commented on #1996
This isn't a localisation issue.  I consider localisation to be converting strings in the exiv2 command-line utility into other natural languages.  I prefer to keep the label "bug" for errors in the code.

I believe Greek will work on Posix platforms (linux, macOS and Cygwin), so it's an enhancement to the path handling on Windows (msvc and MinGW/msys2).

This is a build issue.  We should also add

[2021-11-21 14:13] clanmills commented on #1991
@AhiyaHiya I'm surprised that nobody has replied to this issue.

I don't think this is an Exiv2 issue.  I think you'll have to report this issue to whoever supports/authored/owns the Exiv2 Conan recipe.

`auto-ptr` is a C++98 feature and is used by every released version of Exiv2, including the latest 0.27.5 which shipped on 2021-10-22.

C++11 and C++14 can compile `auto-ptr` using some compatibil

[2021-11-21 14:20] clanmills commented on #1991
The Team Exiv2 CMake expert is @piponazo.  Luis can you comment on this please?

[2021-11-21 14:31] kmilos commented on #1996
Robin, I never said this is a localisation issue, but it is indeed an internationalisation issue. There is a distinct difference between the two terms, and why I created separate L10n and i18n labels.

[2021-11-21 17:17] piponazo commented on #1991
Hi. I'll take a look to the issue and try to determine what's going on there.

There is something I would like to highlight now anyways. The conan recipe seems to be maintained by the conan community and we did not participate there (at least not me). One can also report issues about existing recipes here:
https://github.com/conan-io/conan-center-index

[2021-11-21 17:23] piponazo commented on #1991
I've tried to reproduce the error on Linux but the CMake call fails with this error on the `media_helpers_cli` project:
[code]
I will try to check the issue with a different setup.

[2021-11-21 17:44] piponazo commented on #1991
After re-reading the conversation & checking the conan recipe for exiv2 0.27.4 (which it looks correctly implemented) I think the ball is on @AhiyaHiya side.

As @clanmills commented, `auto-ptr` is still present on the 0.27 releases. This should not be a problem thought, unless you use C++17 or higher. auto_ptr was marked as deprecated since C++11 but not removed until C++17:
https://devblogs.micr

[2021-11-21 17:56] cris46 commented on #1941
Yes. The flashes I used actually are SB-910, but the third party remote triggers seem to lead the camera to believe it's an SB-900, but I'm not sure if this is true for all of them.  And by our understanding, the camera assumes this SB-900 to be in master mode.

Now that you mention the thing with the nibble for the master mode, I vaguely recall something with exiftool. Didn't Mr. Harvey assign th

[2021-11-21 19:09] hansph opened #2001 "exiv2 occasionally crashes"
In some of my JPGs, exiv2 crashes with
`Exiv2 exception in print action for file DSC01235.JPG:
corrupted image metadata
`
exiftool can happily read the meta data.

This happens on a recent Manjaro Stable and was noticed first from Digikam. Exiv2 version is 0.27.5. The previous Manjaro release did not have this issue.

Example is too large to attach, see here: [https://c.web.de/@321912251520915791/

[2021-11-21 19:41] clanmills commented on #2001
I am unable to download your test file.  Can't investigate this without a test image.

[2021-11-21 19:53] hansph commented on #2001
Sorry, my fault, above URL is wrong, this hopefully works:
[test image](https://c.web.de/@321912251520915791/qxOFi7fXQQSE3TVnv2-08g)

[2021-11-21 19:56] clanmills commented on #1991
I've reproduced the error mentioned by @piponazo on macOS (Catalina, x86, Xcode 12.1 CMake 3.22.0).

[code]

Here's the CMakeLists.txt code in media_helpers_cli.  I'm not sure what this has to do with Exiv2.  It's demanding C++17.

[code]

[2021-11-21 19:59] clanmills commented on #2001
Third time, lucky.  Your link hasn't changed!  `https://c.web.de/@321912251520915791/qxOFi7fXQQSE3TVnv2-08g`

[2021-11-21 20:06] clanmills commented on #1991
Are your sure Exiv2 is involved with media_helpers_cli?

[code]

[2021-11-21 20:28] clanmills commented on #1996
You're right.  I mis-read that.  It is indeed an i18n and we agree that it's not an L10n (NLS) issue.

In my mind, I've always thought of i18n as being exclusively NLS.  Wrong way round.  L10n is NLS.  i18n is L10n+lots of other stuff such as this path issue.

[2021-11-21 20:30] hansph commented on #2001
On Sun, 21 Nov 2021 11:59:52 -0800
Robin Mills ***@***.***> wrote:

Now i'm a bit lost, the link works here fine from Firefox.

Does this work for you?
***@***.***/bUNHZzxQTsKBx6fH9-3STw

I don't have ftp or other means to share files as large as this.

HP

--
--------- 8< -------------
Why taunt me? Why upbraid me? I am merely a genius, not a god.
(Nero Wolfe)
Meine Bilder:
München: https://hp-bi

[2021-11-21 22:26] clanmills commented on #2001
Thanks.  I have the file now, thank you.  I have reproduced the "corrupted image metadata" error.

I will investigate tomorrow.

[2021-11-22 06:53] clanmills commented on #2001
I understand the issue.  It's been introduced by #1881.   Sony files can store large previews in the MakerNote.  In your case, its 1072653 bytes.  I proposed the change to limit this to 1024*1024 bytes.  The quick fix is to increase this to 8mb.

[code]

A better strategy is to issue a warning and skip tag 0x2001 when it's more than 1mb.

[code]

This fix is incomplete as we must modify /tests/bug

[2021-11-22 12:50] clanmills commented on #2001
While out running, I thought of three other matters to mention about this.

1. It's a remarkable coincidence that this issue is 2001 and the Sony/Preview tag is 0x2001
2. The way in which Sony store those previews in the Exif metadata is a violation of the Exif Specification.
3. The change in #1881 was introduced in response to "Security Researchers" creating files which violate the Sony specifica

[2021-11-22 17:13] kevinbackhouse commented on #2001
@clanmills: thank you for investigating this! You're always very fast to jump on these issues. I am happy to create a pull request with your proposed fix.

[2021-11-22 19:25] clanmills commented on #2001
Thanks, Kevin.  I do that because I enjoy the puzzle and _especially the hunt_.

We should port one of the fixes to 'main'.  I prefer the "bigSonyPreview" fix.  The threshold 1024*1024 should be a const variable that's declared once.  When we set `bigSonyPreview` we should also test `groupName(object->group()) == "Sony1"`

It seems inevitable that we'll have a 0.27.6 in 2022, so a PR for 0.27-main

[2021-11-22 19:40] hansph commented on #2001
On Mon, 22 Nov 2021 11:26:10 -0800
Robin Mills ***@***.***> wrote:

...

I'm not aware that you can confgure thumbnail size on my old cam. Regarding
digikam, Gilles has to comment.

HP

--
--------- 8< -------------
Why taunt me? Why upbraid me? I am merely a genius, not a god.
(Nero Wolfe)
Meine Bilder:
München: https://hp-bilder.jalbum.net/München/
Berge: https//hp-bilder.jalbum.net/Impressions%

[2021-11-22 19:57] hansph commented on #2001
So thanks again for the fast reply. This is what a good Open Source project distinguishes from an outstanding one.!

Does it make sense for me to compile latest git? I think it will take some weeks until a new version appears in the Manjaro stable.

I also believe that the lens may make a difference; the Zeiss is rather sharp and may produce detailed and not-so-well compressable thumbnails. So my

[2021-11-22 20:38] clanmills commented on #2001
The road the code travels from my machine to yours is a mystery to me.  I don't even know what Manjaro is!

I installed digikam on ubuntu and it's using Exiv2 v0.27.2.

I restarted digikam with `$ env LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH digikam &` and it's using my build of 0.27.5 in /usr/local/lib.

[code]
When the PR for this issue is merged into branch 0.27-maintenance branch, I thi

[2021-11-23 08:25] cris46 commented on #1941
Here are three more files:

[ittlbl.tar.gz](https://github.com/Exiv2/exiv2/files/7586516/ittlbl.tar.gz)

Shooting indoors in front of a window is a classic situation in which fill light is required. However, here the weather is very foggy these days. It's so dark that I have to turn on the lights even during the day. But the window is still much brighter than a face in front of it having the light

[2021-11-23 08:29] kmilos commented on #2001
As for the size limit, I think the Exif spec only stipulates it for the thumbnails inside JPEG APP1 (<=64 kB for the whole block), otherwise it is unlimited AFAICT for other formats? Though it does make sense to skip large ones (say 2-4MB, that seems to be the usual attachment size/upload limit for a lot of web pages), but not throw an error.

[2021-11-23 08:50] clanmills commented on #2001
The JPEG APP1 segment should be totally self-contained (and therefore relocatable).  Sony define a preview outside the Exif data and use an absolute file offset to the preview itself.  This is forbidden in the standard.  The likelihood of the preview surviving a file re-write is low.

Adobe have an 'ad-hoc' method of chaining 64k segments if the Exif data is >64k.  I discuss this in my book and it

[2021-11-23 12:31] kevinbackhouse commented on #2001
I think I would like to fix this by checking that `isize` is smaller than the total size of the image file. That will be more reliable than baking in an arbitrary upper limit, while also preventing a malicious image file from triggering a huge memory allocation. But it will require some extra plumbing to pass the size of the image file to this part of the code. If that sounds like a good plan, the

[2021-11-23 13:47] clanmills commented on #2001
Checking the size of the file is what is usually done.  However, I couldn't find a way back through the tiff-visitor to discover the size of the stream being read!

[2021-11-23 16:58] postscript-dev commented on #1941
If anyone wants to use the new files with NX Studio, JPEG versions can be found in [ittlbl_JPEG-versions.zip](https://github.com/Exiv2/exiv2/files/7589049/ittlbl_JPEG-versions.zip).

The files you provided have been helpful, if a little puzzling. Up until now, when Exiv2 listed a file as *iTTL-BL* then NX Studio output *TTL*. With the new files, we identify `_DSC6315.jpg` and `_DSC6316.jpg` as *iT

[2021-11-23 20:44] clanmills commented on #1991
I'm going to close this as there doesn't seem to be a case to answer.  @AhiyaHiya If you learn more about this matter, please update this issue and it will be reopened and investigated.

[2021-11-23 20:44] #1991 closed

[2021-11-23 21:02] clanmills commented on #1941
@postscript-dev and @cris46 You've both put in an incredible effort on this matter.  I'm sure this is the most complicated metadata record in Exiv2.

[2021-11-23 21:51] cris46 commented on #1941
Nikon never prints "i-TTL" on the camera or flash screens, probably there isn't much space. As TTL is only used when i-TTL is not available, this is a factor depending only on the lens. Who ever has such a lens (typically an older one), and who actually uses TTL, certainly will know that attribute of the lens. So not distinguishing between TTL and "i-TTL" isn't critical.

The situation is a bit di

[2021-11-24 04:47] AhiyaHiya commented on #1991
With regard to the above question, I placed the sample Exiv2 code into files.cpp:

[code]

[2021-11-24 04:57] AhiyaHiya commented on #1991
(cc @clanmills )
With regard to the above error, this is happening because the `ConanHelper.cmake` module is pulling the `conan.cmake` from develop: https://github.com/conan-io/cmake-conan/issues/336

Sorry if the above error confused anyone. This is one of the joys of dealing with code off of the develop branch.

Updating the hash removed the error message emitted by the CMake config process.

**

[2021-11-24 06:51] piponazo commented on #1991
Hi @AhiyaHiya ,

Please note that you are also requiring C++17 in your project:

[code]
And it will be not-compatible with the Exiv2 0.27.X releases as we explained before. If C++17 is not a "MUST" for you, please consider to user C++14. Otherwise, consider to use Exiv2 from master (where `auto_ptr` was replaced already)

[2021-11-24 16:58] AhiyaHiya commented on #1991
That is a good point.

I will hold off on reporting the conan recipe.

Thanks again.

[2021-11-26 21:13] clanmills commented on #1890
I've pinged mica again:  https://discuss.pixls.us/t/hosting-exiv2-org/28039  (I suspect you can't read my message).

Alex asked me to make you on "Owner" of Team Exiv2 on GitHub.  I've done that.  Not at all familiar with GitHub Teams.  I'm not sure we use them.  Anyway, you should be set up.  And I've boosted your GitHub permissions from "Write" to "Admin"  (the top access level).  _"With great p

[2021-11-28 10:41] Tom33St opened #2005 "Metadata (Star Rating) not loaded correctly when updated with aperture"
##### **Is your feature request related to a problem?**
Related to digikam Bug 446183  https://bugs.kde.org/show_bug.cgi?id=446183
I am currently migrating a large repository from Apple Aperture to digikam. In aperture I keep only the jpg, not the raw. Therefore I am writing all metadate in Aperture back into the jpg.
When I scan folders with these jpgs in digikam (which is using exiv2), then the

[2021-11-28 11:05] mqualmann commented on #2005
To avoid misunderstandings, only the toolkit error is relevant for Exiv2.
The error was probably caused (2018?) By editing with DxO PhotoLab.
All other problems are with the workflow with other programs.

[2021-11-28 12:45] clanmills commented on #2005
I don't know exactly what's wrong with the metadata.  I get the same "validator" error as reported by digiKam.  That message comes from the Adobe XMPsdk which is built into Exiv2.

[code]

I have extracted and printed the XMP.  It is valid XML, however it has a `<rdf:Bag/>` that looks suspect.

[code]

You can write a script to use `exiv2 -pX` to extract the code, repair it, and re-insert it with

[2021-11-28 14:05] clanmills commented on #2005
I've done more investigation about this.  I don't know what's wrong the the XMP, however I know how you can fix this.  Look at the structure of your file:

[code]
The XMP is stored in the JPEG APP1 segment that starts at 27182.  Let's remove that.

[code]
The file now has no XMP data, however the IPTC and EXIF data are good:

[code]

We can add XMP to foo.jpg in the usual ways.  For example, I can

[2021-11-28 14:05] #2005 closed

[2021-11-28 14:10] Tom33St commented on #2005
Thank you so much for your investigations and support. Will see how I can handle this on roughly 10-20.000 Files.
Please close the case.

Best, Tom

[2021-11-28 14:17] kevinbackhouse opened #2006 "UBSAN error due to integer overflow in PanasonicMakerNote::printAccelerometer"
Found by OSS-Fuzz: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=41438

To reproduce, you need a sanitizer build:

[code]

poc: [poc.tiff.gz](https://github.com/Exiv2/exiv2/files/7613687/poc.tiff.gz)

error message:

[code]

[2021-11-28 14:29] clanmills commented on #2005
Not easy dealing with a lot of files.  I'm currently re-engineering the whole of my web-site which has 80,000 photos that I've taken in the last 20 years. 2000 albums with stories.  https://clanmills.com

[2021-11-28 18:06] postscript-dev commented on #1941
This was my understanding too. I will do some research and see if something turns up.

I found that both *_DSC6315.exv* and *_DSC6316* have AWL off. This is a big advantage as up until now, I didn't know how NX Studio detected the status of AWL. This looks as though it is controlled by the `1000 000` bit in `Exif.NikonFl7.ExternalFlashData2` which, on all the other examples, was always set. I thin

[2021-11-28 22:41] kevinbackhouse commented on #2001
You're right, it is really quite awkward to get the file size to this part of the code. Also, it wouldn't even be a complete solution to the out-of-memory problem, because I think somebody could just create a file with lots of tags and quickly exhaust the memory by allocating 1MB each time.

I have attempted a different (hopefully better) solution here: #2008

[2021-11-29 08:11] cris46 commented on #1941
While AWL is the correct term, I think a better term would be "commander" or "command mode". If that's too long, "cmd mode" should be acceptable as well. This term also appears in the menu of the camera, when making the adjustment from there (which I never do). The reason for this is, that even if the camera (which generates the Exif) thinks it's AWL (which is remote control by optical means), mos

[2021-11-29 11:01] postscript-dev commented on #1941
Exiv2 already has a tag called `Exif.Nikon3.FlashDevice` (vanilla==translated). e.g., When AWL is switched on,
[code]
I will change the `NikonFl7` output to "Comdr" as this is consistent with the other tag.

NX Studio identifies the flash as:

| Filename    | Description
|:---             |:---
| *_DSC6328.exv* | Uses `Wide-Flash Adaptor`
| *_DSC6329.exv* | The same as *_DSC6327.exv* - not using `

[2021-11-29 14:52] cris46 commented on #1941
Also I expected the bounce card and the dome to be recognized. Yes, they are accessories to the SB-910 and came in the same box. Of course, it's always possible that the camera does something unexpected, but with these things, they should be recognized by hardware not by some measurement.  The funny thing is, that one of the previous images, you did mention to have seen the bounce card bit.

[hss.

[2021-11-29 20:09] eezacque opened #2010 "Lens Canon EF-S 17-85mm f/4-5.6 IS USM is not recognised"
##### **Describe the bug**
Lens Canon EF-S 17-85mm f/4-5.6 IS USM is not recognised

##### **To Reproduce**
$ exiv2 -pt IMG_8303_CR2_embedded.jpg | grep -ai lens
Exif.CanonCs.LensType                        Short       1  n/a
Exif.CanonCs.Lens                            Short       3  17.0 - 85.0 mm
Exif.CanonCf.LensAFStopButton                Short       1  2048

##### **Expected behavior**
Inste

[2021-11-30 08:07] DL4MW opened #2011 "GwenView gThumb and other crashes with Darktable JPGs"
##### **Describe the bug**
Since the latest Ubuntu updates some KDE applications which uses libexiv2 crashes when trying to open JPGs which are exported from Darktable. It also seems that older Darktable images will not give that error, so that there must be changes too. the community reported, that older libexiv will solve the problem, but I cannot see that in general.

May be, the reason of this

[2021-11-30 08:39] hassec commented on #2010
@eezacque I've confirmed this issue on master but checking `exiv2 -pv` shows the following raw values that don't make sense:

[code]

Thus, I'm tempted to think that there is an issue with the file itself. How was the `*.jpg` file produced? Do you still have the raw file?

[2021-11-30 09:41] eezacque commented on #2010
The original raw has the same issue, with additional warning:
[code]

[2021-11-30 09:48] kmilos commented on #2011
It seems this is a known issue w/ fix already in exiv2 0.27.5 and waiting to be back-ported to Ubuntu packages:

https://github.com/Exiv2/exiv2/pull/1918

[2021-11-30 09:50] #2011 closed

[2021-11-30 10:51] hassec commented on #2010
@eezacque can you check what `exiftool` reports on your raw file?
On the JPG I get the same problem of `LensType = 65535` with exiftool.

[2021-11-30 11:39] clanmills commented on #2010
I think this is a "manual lens".  There is no metadata concerning the lens.  I'm not a photographer, however I think is for legacy lenses with no digital interface to the camera.

[2021-11-30 11:55] eezacque commented on #2010
This is no 'manual lens': [https://www.usa.canon.com/internet/portal/us/home/products/details/lenses/ef/standard-zoom/ef-s-17-85mm-f-4-5-6-is-usm](url).  Please note that this lens is included in the source code, it just isn't correctly referenced to the exif. I believe this is a bug.

[2021-11-30 11:57] clanmills commented on #2010
There is no useful metadata in the image.  It's not a bug.  Exiv2 is correctly reporting the metadata.  The exiftool output says the same thing.

[2021-12-01 10:06] jim-easterbrook commented on #1998
I've submitted a test file now that I've understood the test system a bit.

[2021-12-01 11:04] norbertwg opened #2012 "Problem with expat building exiv2 0.27.5 on Windows 10 with Visual Studio 2019;"
First of all: I know little about conan and cmake, but using the instructions, I had no problems to build the versions 0.27.0 up to 0.27.4.

Now I tried to build exiv2 0.27.5 on Windows 10 with Visual Studio 2019 - and failed.
Following the instructions from README-CONAN.md I entered

This gave me following error:
ERROR: Failed requirement 'zlib/1.2.11@conan/stable' from 'conanfile.py'
ERROR: Unab

[2021-12-02 02:05] paperdigits commented on #1890
Hi, sorry for the delay. I spoke to @nehaljwani on matrix, and there were two things to host: the website and redmine. I had not previously heard about hosting redmine, and since it isn't actively used, I've asked @nehaljwani to try and make a static site out of it.

As for the website, we can host that on the pixls.us infrastructure if you'd like.

[2021-12-02 12:00] Aceler opened #2014 "exiv2 crashes when trying to read xmp metadata made by darktable software"
Maybe the XMP data from darktable is corrupt, but exiv2 shouldn't crash anyways.

##### **To Reproduce**
Export a jpg file from Darktable software. Open it up in exiv2.

$ exiv2 -p x pr 0002.jpg
Xmp.crd.CameraProfile                        XmpText    12  Camera Vivid
Xmp.crd.ColorNoiseReduction                  XmpText     1  7
Xmp.crd.ColorNoiseReductionDetail            XmpText     2  50
Xmp.crd

[2021-12-02 13:46] kmilos commented on #2014
Thanks for the report, but a duplicate of https://github.com/Exiv2/exiv2/issues/2011, please search before opening new issues.

Already fixed by exiv2, it is up to packagers to update or backport.

[2021-12-02 13:46] #2014 closed

[2021-12-02 18:18] clanmills commented on #2014
Beautiful test image.  Is the location Switzerland or Canada?

[2021-12-02 18:27] Aceler commented on #2014
@kmilos ah, yes, I searched only for open reports, my bad. I'm sorry.

@clanmills It is Tolyatti, Russia.

[2021-12-03 05:26] wonx commented on #2001
I seem to have this issue with some (but not all) pictures taken with a Sony ILCE-5000 digital camera. I noticed this problem while using the program Digikam (which internally uses exiv2 0.27.5). I get the following error:

[code]

However, this bug is not present in exiv2 0.27.2, and metadata is read correctly.

If it's of any help, there is a sample picture and more info linked to the bug report

[2021-12-03 07:39] clanmills commented on #2001
I think we've found a volunteer to work on this during "the holidays" #2013

[2021-12-03 11:35] postscript-dev commented on #1941
I have converted the [hss.tar.gz](https://github.com/Exiv2/exiv2/files/7618933/hss.tar.gz) .exv files to JPEGs. They can be found in [hss_JPEG-versions.zip](https://github.com/Exiv2/exiv2/files/7649200/hss_JPEG-versions.zip)

I was thinking about this, the examples in [colors-exv.tar.gz](https://github.com/Exiv2/exiv2/files/7616438/colors-exv.tar.gz) all use the *iTTL* mode. The *manual* mode may

[2021-12-03 14:59] cris46 commented on #1941
Regarding the illumination patterns, I had to consult the manual first. There I discovered, that we have to distinguish between "bounce flash" and "bounce card"; these are two different things: "bounce flash" just means any flash (with or without modifier) _not_ directed to the subject, i.e., the optical axis of the lens. The flash head can be tilted up and down and rotated. So the body still is s

[2021-12-03 17:06] clanmills commented on #1890
@paperdigits Very pleased to hear your voice, Mica.

For sure @nehaljwani is has much greater knowledge of servers that I do.  So, I totally defer to your's and Nehal's judgement about what should be done.  I know nothing about setting up Redmine, however I'm sure it's fairly straightforward.  When it's configured, it should be "read-only" to ensure that folks can't post new issues on the site.

T

[2021-12-04 15:22] clanmills commented on #2012
@norbertwg I'm a little surprised that nobody's discussed this with you.

For sure, this is conan trouble.  The build server uses conan to build the libraries that are published on exiv2.org.  I am confident that the documentation is correct.  The build server uses --build missing and normally finds the dependencies in the conan cache.

I've attempted a fresh build with `--build Force` and encount

[2021-12-04 15:35] clanmills commented on #2012
https://blog.conan.io/2021/09/03/conancenter-declare-bintray-obsolete.html

I'am with `conan remote`.  In 4 years of using conan to build with Visual Studio, this is the first time I'm had to think about `conan remote`.  I'll give you an update when I get this working.

[2021-12-04 15:54] clanmills commented on #2012
I think you'll have to modify the conan remote list.  I'm using `http://center.....` to evade the certificate issue when using `https://center....`

[code]

Here's the patch for conanfile.py:

[code]

I've kicked off the build with the command and run into trouble.

[code]

@piponazo Can you help?

[2021-12-04 19:09] norbertwg commented on #2012
@clanmills thanks for your feedback
I took the sources from the release asset https://github.com/Exiv2/exiv2/archive/refs/tags/v0.27.5.tar.gz. There the versions for zlib etc. are as you listed in your patch. But with these versions I had the problem, searched the web and found a hint to use the command
   conan search zlib -r all
The output:
Remote 'conan-center':
   zlib/1.2.8
   zlib/1.2.11
Thi

[2021-12-04 20:07] clanmills commented on #2012
I've successfully build this by:

1.  Upgraded conan to 1.43.0 (as documented in README-CONAN.md)
2. Deleted the conan cache (%USERPROFILE%\\.conan\\data)
3. Reverted the code changes to conanfile.py
4. Set conan-center to https://center.conan.io

Do the conan/cmake dance:

[code]

I'm going to close this because I don't want Luis (@piponazo) to spend time on this.  The code is good.  It's one of

[2021-12-04 20:07] #2012 closed

[2021-12-05 10:47] norbertwg commented on #2012
@clanmills thanks a lot
I am now able to build 0.27.5 using https://github.com/Exiv2/exiv2/archive/refs/tags/v0.27.5.tar.gz and replacing the included conanfile.py by the latest version in main branch.
Initially it still failed following your latest instructions. But then I remembered an information, when I upgraded conan before starting to build 0.27.5: settings.yml could not be overwritten. At t

[2021-12-05 10:55] clanmills commented on #2012
Thanks for the update.  I also had to replace some xml magic in conan relating to certificates.  I didn't want to discuss that with you because I thought "that's something to do with my machine".

I successfully built using conanfile.py in the released product.  Can you revisit that, please?  I believe the released code works.

[2021-12-05 16:20] postscript-dev commented on #1941
Thanks for providing the files. I have converted the .exv files in [flashacc.tar.gz](https://github.com/Exiv2/exiv2/files/7650391/flashacc.tar.gz) to JPEGs in [flashacc_JPEG-versions.zip](https://github.com/Exiv2/exiv2/files/7656236/flashacc_JPEG-versions.zip).

When NX Studio didn't mention "adaptor" with bounce flash, I wondered if this might be the case. NX Studio identifies files *_DSC6340* to

[2021-12-05 19:16] #2001 closed

[2021-12-05 22:05] #1998 closed

[2021-12-06 10:31] #2006 closed

[2021-12-06 10:51] kevinbackhouse commented on #1890
My suggestion is to create a few new repositories in the [Exiv2 organization](https://github.com/Exiv2). For example, the svn repository can probably be converted to git and pushed to a new repo in the Exiv2 org. Similarly, we could create a repo there for the website (using @nehaljwani's GitHub Pages work).

[2021-12-06 10:56] clanmills commented on #1890
Thanks Kev @kevinbackhouse.

Nehal @nehaljwani can you take the lead of this please and say what's to be done.

I'm happy to move stuff (team, book, web-site) from svn to git.  It's on svn because it was born there and has never been moved.  Time to change.

[2021-12-06 11:30] kevinbackhouse commented on #2012
Looks like Conan is causing similar issues in our automated builds for the 0.27-maintenance branch. See #2016.

[2021-12-06 11:55] clanmills commented on #2012
I'll investigate.  I think we perform three more steps at the start of the build:

1.  pip install conan --upgrade
2. conan remote remove conan-center ; conan remote add conan-center https://center.conan.io
3. Update ~/.conan/settings.yml and ~/.conan/cacert.pem (if settings.yml.new and cacert.pem.new exist).

Where's the code for the CI and I'll deal with this after lunch?

[2021-12-06 13:22] nehaljwani commented on #1890
I will look into this. Will post updates shortly.

[2021-12-06 13:25] clanmills commented on #1890
Thanks, @nehaljwani You are a splendid fellow.  Very pleased that you are dealing with this.  Thank You.

[2021-12-06 16:47] cris46 commented on #1941
This looks good. I'll provide the other sample files, however it'll take a few days. Sometimes the day job claims priority.

[2021-12-07 15:02] norbertwg commented on #2012
@clanmills : I included 0.27.5 lib in my Windows application and did tests there. Did not find any issues.

[2021-12-07 15:55] clanmills commented on #2012
Thank You for the feedback @norbertwg.  That's good to hear.

I'm having a tough week with #2017.  I've only been involved with the CI for MinGW and Cygwin and they build using the host package manager.  I have found numerous errors concerning building with conan.

When I request a review of the changes on branch fix_conan_ci (which is derived from 0.27-maintenance) it would be very helpful if you

[2021-12-08 14:49] clanmills commented on #2012
@norbertwg Luis has serviced conanfile.py (and the CI) on branch 0.27-maintenance.  #2018 has been merged.  Our CI builds many targets including the Windows targets Visual Studio 2015, 2017 and 2019, Cygwin/64 and MinGW/msys2, as well as lots of Linux distos and macOS.  The CI Visual Studio and Linux builds use conan to build dependencies.  The CI macOS, Cygwin and MinGW builds use the platform ma

[2021-12-09 10:28] ryandesign opened #2020 "macOS dylib current version and compatibility version do not make sense"
##### **Describe the bug**
The way that exiv2 sets the minor version information of its dynamic library on macOS (current version and compatibility version) makes no sense.

A library's current version and compatibility version are supposed to be of the same kind. For example:

* If you introduce version 5.0.0 of a library and it is not compatible with previous versions of the library (perhaps bec

[2021-12-09 11:05] norbertwg commented on #2012
@clanmills I synced and built 0.27-maintenance with Visual Studio 2019, then included the lib in my application and ran some tests and found no issues. Confirmed: I upgraded to conan 1.43.0

[2021-12-09 11:32] clanmills commented on #2012
@norbertwg Thanks for the update. Pleased to hear that everything's working correctly.  That's our aim of course.

[2021-12-09 12:15] clanmills commented on #2020
@ryandesign The version number scheme is defined in our security policy and the code is a the top of CMakeLists.txt
[code]

You are correct that the Apple compatibility strings are not correct.

[code]

I'm surprised that CMake doesn't propagate the VERSION to the macOS library.

We do test the 0.27 "dots" for backwards binary compatibility by running the 0.27 test code with 0.27.5 released librar

[2021-12-09 12:34] ryandesign commented on #2020
I saw that code but it doesn't explain why the current version and compatibility version get set the way they are.

It doesn't make sense to claim current version 0.27.5 compatibility version 27.0.0. Choices for sanity would be either of these:

* current version 0.27.5 compatibility version 0.27.0
* current version 27.5.0 compatibility version 27.0.0

You might want to wait with any changes to th

[2021-12-09 12:38] ryandesign commented on #2020
You are closing this bug because...?

[2021-12-09 13:15] clanmills commented on #2020
I apologise for closing the issue.  I couldn't understand your point of view.

The compatibility should indeed be 0.27 and not 27.0.0  If we change this for the 0.27 "dots", it will have consequences for compiled applications using the library.

The version string has four components: Major, Minor, Patch, Tweak. https://cmake.org/cmake/help/latest/command/project.html#command:project

The branch '

[2021-12-09 16:13] clanmills commented on #2020
The CMake documentation for MACHO_COMPATIBILITY_VERSION purports to set this:
https://cmake.org/cmake/help/latest/prop_tgt/MACHO_COMPATIBILITY_VERSION.html?highlight=macho_compatibility_version

Didn't seem to work for me!
[code]

I recall (from having trouble with this around v0.23 or so) this can be set by passing something to the linker.  I'm sure we'll find a way to set this to meet our needs.

[2021-12-09 16:40] postscript-dev commented on #1959
Sorry for the delay.

Although I haven't submitted a PR yet, I have added the above 3 tags to my code and decided to review all the tags in the IPTC 2021.1 specification. I hope to have this completed soon.

[2021-12-09 17:10] clanmills commented on #2020
Som Unhappy News and a positive proposal.

Here's what's happening:

[code]

We can change that as follows:
[code]

Regrettably, that isn't effective because CMake insists on adding his code after ours:

[code]

It's looking increasing likely that we may need to edit link.txt with sed (between running cmake and make), or modify the .dylib after it has been built.  I've edited link.txt (with bbedit

[2021-12-09 17:28] eezacque commented on #2010
I contacted Canon on this, and they maintain that a Canon 350D does write its lens metadata to exif version 2.21, and that any software that does not report  lens data must be incompatible with exif 2.21. If the lens data is really missing, my camera must be broken, and it should produce all black pictures, according to Canon. Looks like Canon customer support went tits up in the last decade or so

[2021-12-09 18:12] clanmills commented on #2010
@eezacque I see you'd like to quarrel and I have no wish to allow that.

I have examined your file with the following software products:  exiv2, exiftool, Preview.app (macOS) ADCSee PhotoStudio7 and tvisitor (the code in my book).  None have identified your lens.

Four questions:
1. Can we agree that we are discussing the same file (which is attached to this report).  The image at 250k seems quite

[2021-12-09 19:07] cris46 commented on #1941
I've just got a few minutes, so I can comment on your last paragraph; I'll do the rest tomorrow.

There's one D7100 file in flashacc.tar.gz, which is 5352; there should have been a second one, 5353, but somehow that escaped. I'll attach it tomorrow.

Hm, not exactly: In manual mode, I set a value and the camera will respect that value, no matter what, even if it's complete nonsense. If I'm in some

[2021-12-09 23:01] postscript-dev commented on #1941
There are lots of things that I am still learning about, so I will try and explain my thinking. NX Studio's flash output for the *version_awl/_DSC6289.jpg* file is:
[code]

Using Group A as an example, the following tags can be used to change the metadata.

| Tag           | Effect
|:---            |:---
| `Exif.NikonFl7.FlashGroupAData` | Changes the Group A: *TTL* value
| `Exif.NikonFl7.0x0013`

[2021-12-10 08:54] cris46 commented on #1941
OK. I'll try to fine tune this a bit, but your aren't that much off, inspite of the many comments...

Yes, there are two compensations, because there are also two images being taken at the same time: One is the scene as illuminated by the ambient light; it's the picture that you get if the flashes don't fire. Then there is another one, which is created only by the light of the flash. As these imag

[2021-12-10 09:43] clanmills commented on #2020
I don't like the idea of changing the generated code with sed (or any tool).  Nobody building the code would know to do that.  Maybe it's possible to modify the generated Makefile to run sed.  Even if that works, it's platform dependent as sed isn't available to MSVC builds.  I don't want to spend time discussing this with the folks at CMake.

[2021-12-10 09:54] piponazo opened #2022 "CI for 0.27-maintenance not reporting test failures"
##### **Describe the bug**
In #2019 we noticed that the CI is not signaling error failures at the moment.

##### **To Reproduce**
Current failures can be seen in the CI pipeline "Win Matrix on PRs":
https://github.com/Exiv2/exiv2/runs/4481561449?check_suite_focus=true#step:5:251

At the moment we just have noticed this one, but there might be more errors being silenced.

##### **Expected behavior*

[2021-12-10 10:01] kmilos commented on #2020
Sorry to butt in late Robin - the problem comes from [us setting SOVERSION to the minor project version here](https://github.com/Exiv2/exiv2/blob/2fb3f7992b551b6832c1a73ac34d44e7a090d2a8/src/CMakeLists.txt#L135). See https://cmake.org/cmake/help/latest/prop_tgt/VERSION.html

Whether it's a good idea or not, I have no opinion. Generally SOVERSION does not have to follow any pattern, it just designa

[2021-12-10 10:15] kmilos commented on #2020
So generally speaking, this is not strictly true, VERSION and SOVERSION do not have to match.

[2021-12-10 10:32] kmilos commented on #2020
Obviously this will not work once we get to 1.0.0 - you don't want to go from SO major version of e.g. 27 back to 0...

[2021-12-10 10:41] clanmills commented on #2020
I didn't know about the SOVERSION code.  Ah, now we know how we end up with 0 on 'main'.

Right.  No sed hack required.  I don't want to change this on the 0.27-maintenance branch.

I think we should change that on main to 1.0.0 or 100.0.0. No feedback from @ryandesign.

[2021-12-10 10:46] kmilos commented on #2020
We must not change SO version to 1.0.0 on main - it has to be greater than the released 27.0.0 out there. So it either has to bump to 28, or some other larger number.

[2021-12-10 11:08] clanmills commented on #2020
This thing has surfaced twice that I remember.  There was an issue with it just before 0.26 shipped when I discovered that the cmake set it to 13 and autotools set it to 14 (or something like that).  So, I changed both to 26.

A user in Twainwan asked for a change to SOVERSION at v0.27 RC1.  I can't remember what that was about.

Until last year, I hadn't imagined that we could ever reach v1.0.0 w

[2021-12-10 11:18] kmilos commented on #2020
I would be more inclined to retrofit the current/age/revision scheme to project version 1.0.0 when it gets released, so it then starts at a more reasonable 28 and we start maintaining a more strict versioning from then on.

Huge kudos for this!

[2021-12-10 11:26] kmilos commented on #2020
In hindsight, should've probably refused. As mentioned above SOVERSION should be bumped only on release.

[2021-12-10 11:51] clanmills commented on #2020
Right.  Lets go for 28 with v1.00.  We can add some if statements to the SOVERSION code and move it beside the PROJECT code.  I can't remember what the v0.27 RC1 SOVERSION matter was about.  It wasn't being set at all on UNIX _(or something like that)_.

It's very important to test binary compatibility.  Lots of applications use the shared library installed by the platform package manager in /usr/

[2021-12-10 11:53] kmilos commented on #2020
I guess once RC1 went out, it started breaking binary compatibility w/ earlier 0.26 so there had to be a way to distinguish it.

[2021-12-10 12:14] clanmills commented on #2020
Here's the v0.27 RC1 issue. https://github.com/Exiv2/exiv2/issues/507

And that's when SOVERSION and PROJECT_MINOR were linked.  With 'main' (v1.00), we need to modify that code to set SOVERSION to 28.  Maybe we abandon the idea that 'main' will be v1.00 and ship it as v0.28 in 2022.

There are a number of major changes required to reach v1.00.  The biggest is the unified metadata container and no

[2021-12-10 13:26] kmilos commented on #2020
Just collecting ideas: this is how e.g. [libavif does it](https://github.com/AOMediaCodec/libavif/blob/a50928936b068896bac6a1eb6c251089c6079a0c/CMakeLists.txt#L10-L26)

[2021-12-10 14:15] clanmills commented on #2020
If we do that, v1.00 will drop back to version-compatibility 1.0.0.  That's OK.  Sure it's less than 27, however that is probably not significant.  Maybe that's what we should do when we reach v1.00.

For now, I think 'main' should aim to be v0.28.  BTW, that was the aim when the branches were 'master' and '0.27-maintenance'.  In January, we buried 'master' _(as old-master)_ and adopted 'main'.  I

[2021-12-10 14:17] kmilos commented on #2020
This is not at all what that is implying. They're completely decoupled. You can have project version 1.0.0 and SOVERSION at 28.0.0 or whatever.

[2021-12-10 16:43] clanmills commented on #2020
Ah, yes.  As always, Milos, we are in agreement.  And we're both right.

You are right that SOVERSION is un-coupled from VERSION _(as it is in Exiv2)_.
I am right that `set(LIBRARY_SOVERSION ${LIBRARY_VERSION_MAJOR})` will set SOVERSION to 1.0.0.

I'm advocating:

1.  Branch '0.27-maintenance'.  Do nothing.
2.  Branch 'main'
a.  set project/VERSION to 0.28.0.9 which will be v0.28.
b. move the SOVE

[2021-12-11 07:37] #2022 closed

[2021-12-11 08:44] piponazo commented on #1984
I have been investigating this topic and I think we do not have a problem there when generating the packages with the github action defined in the file `.github/workflows/release.yml`.

We can see the files being generated at the moment with here:
https://github.com/Exiv2/exiv2/releases/tag/untagged-e86d50a8436d2aaee906

Maybe the windows package for 0.27.5 was generated manually?
https://github.c

[2021-12-11 09:02] piponazo commented on #1984
Confirmed, I have triggered a manual execution of the `release.yml` pipeline on 0.27 and the windows package does not contain the gtest DLLs:

https://github.com/Exiv2/exiv2/actions/runs/1566651016

[2021-12-11 13:22] postscript-dev commented on #1941
I now understand this much better. If I had an example then I could add the M/A/B/C *Camera EV* and *Speedlight EV* tags to *NikonFl7*. Using either *Camera A, Flash TTL:* or *Camera M, Flash TTL:*, if you can change the value on the camera and let me know what effect this should have on the flash (i.e. the *Camera EV* value). If that matches the value in NX Studio, then I can add the tags.

For `

[2021-12-11 17:10] clanmills commented on #2020
I never submit code to 'main'.  So here's my proposal.

[code]

Let me explain the reason for the large value of compatibility version.  I discovered about v0.25/2016 that it was set to 13 by the auto tools build and 14 by CMake.  I decided to make them the same and chose them 25 because it was meaningful.   How would anybody know that the file libexiv2.0.14.0.9.dylib was actually v0.26.

I unders

[2021-12-11 17:27] cris46 commented on #1941
I've added three files:

[compen.tar.gz](https://github.com/Exiv2/exiv2/files/7697340/compen.tar.gz)

File 6349 has the camera in Auto and the flash on TTL, no compensations

File 6350 has the camera in manual and the flash on TTL, no compensations

File 6352 has the camera in Auto, the Flash in TTL. The Camera has an exposure compensation of +2/3 EV, and a FV compensation of -2/3 EV.

Was it this

[2021-12-11 18:08] postscript-dev commented on #1959
@kmilos:
While reviewing the IPTC 2021.1 specification, I have found lots of tags added which actually only exist as part of structs and don't stand by themselves. For example,. `Xmp.Iptc4xmpExt.AOCopyrightNotice` is actually only part of the `ArtworkOrObjectDetails` struct (as seen in [IPTC 2021.1](https://www.iptc.org/std/photometadata/specification/IPTC-PhotoMetadata-2021.1.html#copyright-notic

[2021-12-12 07:00] piponazo commented on #1810
With all the recent changes in conan repositories, we would need to do 2 things here:
* Revisit the conan-xmpsdk conan recipe I created here (https://github.com/piponazo/conan-xmpsdk). Before, that recipe was downloading a tarball from a adobe resource location (        `http://download.macromedia.com/pub/developer/xmp/sdk/XMP-Toolkit-SDK-CC201607.zip`). Nowadays, it seems that adobe has a github

[2021-12-12 08:05] clanmills commented on #1810
@piponazo One of the objectives for v1.00 is to make XMPsdk an external library and remove the xmpsdk/ directory from the code-base.  https://github.com/Exiv2/exiv2/issues/1466#issuecomment-811787134

I know very little about XMPsdk.  Andreas offered the opinion "everything concerning XMPsdk is a pain in the butt".  I suspect that the xmpsdk/ directory was added to get it to build and link with li

[2021-12-12 14:43] kevinbackhouse commented on #1810
Another option would be to include [XMP-Toolkit-SDK](https://github.com/adobe/XMP-Toolkit-SDK) as a submodule. I wish they were more responsive to feedback though. I sent them a [pull request](https://github.com/adobe/XMP-Toolkit-SDK/pull/49) months ago to fix a denial of service issue, but they have ignored it. Also, the last time I tried, I couldn't get their build to work.

[2021-12-12 16:41] clanmills commented on #1810
@kevinbackhouse I saw your PR concerning the DOS threat in XMPsdk.  You're right. The support and maintenance of XMPsdk is disappointing.

Both Luis and I were surprised (== shocked) by the build-system that Adobe provide for XMPsdk.  They have a few shell/batch scripts that use CMake to build the code.  The build-system expects the source of third party libraries (expat and zlib, I think) to be a

[2021-12-13 03:14] yuawn opened #2027 "memcpy-param-overlap bug in src/tiffvisitor_int.cpp"
Hi @clanmills @kevinbackhouse,

There is a memcpy-param-overlap bug in src/tiffvisitor_int.cpp:748:17, and the bug is reproducible on the latest release [v0.27.5](https://github.com/Exiv2/exiv2/releases/tag/v0.27.5) and main [65fad9d](https://github.com/Exiv2/exiv2/commit/65fad9db0e034b88cdf68983ee5079ff9459e9de).

Thank you

**Describe the bug**
memcpy-param-overlap in src/tiffvisitor_int.cpp:748

[2021-12-13 06:14] #1984 closed

[2021-12-13 08:22] kmilos commented on #2020
Thanks for the proposal Robin - something along those lines, yes.

Two things while we're at it:

1. I was always confused by the development/RC version scheme - they're all greater that the final release one, which is not ideal IMHO; maybe one should go 0.27.99.x (not ideal either because you could in theory have a real 0.27.99), or eliminate the tweak ".x" component in favor of text suffix "dev"

[2021-12-13 09:42] clanmills commented on #2020
What a can of worms.  Whatever I suggest, somebody will disagree.  I originally suggesting going to 100 for v1.00 and nobody liked that.  This matter was surfaced by @ryandesign.  We haven't heard anything from Ryan.  I don't know what is wanted.

We don't need to worry about returning to '13'. The ancient '13' (2010 or so) library is libexiv2.0.13.0.dylib and the new '13' (2040 or later) will be

[2021-12-13 10:23] kevinbackhouse commented on #2027
Thanks @yuawn!

[2021-12-13 10:26] kevinbackhouse commented on #2027
Background info: we initially investigated this as a potential security vulnerability, but have now concluded that it's a regular bug with no security impact. So I asked @yuawn to create this public issue.

[2021-12-13 10:32] kevinbackhouse commented on #2027
The bug is here:

https://github.com/Exiv2/exiv2/blob/fd8447129cc8c8c5dd97fcaa1af0254f7494e04e/src/tiffvisitor_int.cpp#L747-L750

`buf` and `pTiffEntry->pData()` are both pointers into the same (larger) buffer. As the `poc` shows, it is possible for the two buffers to overlap. Therefore, we should use `memmove` rather than `memcpy` here.

I don't believe this bug is a security concern. The code is

[2021-12-13 12:26] eezacque commented on #2010
I don't like to quarrel at all, I just want to learn what is going on here.

You can find the original raw at [https://eezacque.home.xs4all.nl/test.CR2](url). The jpg posted was created by shotwell, but it has the same symptoms as the raw. Photoshop shows the LensType tag missing too.

So far I have yet to see proof that the LensType tag is present in the EXIF, the only claim that it is there is f

[2021-12-13 14:35] clanmills commented on #2010
I'm glad we're not quarrelling.  Can you answer any of my four questions?  And another question "Why are you concerned about this?"  I'm not a photographer, so I don't know the importance of recognising the lens type in an image.

You can use the "configuration file" ~/.exiv2 to provide the lens recognition as follows:

[code]

Thanks @hassec for those references.  I'll read them now.

[2021-12-13 14:52] clanmills commented on #2010
Looking in the code, that is lens 234:
[code]

So, let's modify the metadata:

[code]

Pretty good, eh?  Two solutions.  And '234' fixes exiftool as well.

@hassec Thanks for those references.  The exiftool forum discussion is concerns a user command-line error.  The other discussion says blames the Sigma/Third-party lens.  I believe we're dealing with a bona-video Canon lens.

Let's hear from @ee

[2021-12-13 18:02] eezacque commented on #2010
First of all, let me answer your four questions:
1. We are looking at the same file.
2. As stated above, the jpg is generated by shotwell.
3. As stated above, the lens type is not identified by Adobe Photoshop, either.
4. The camera is shooting in manual mode, but shooting in auto mode doesn't make a difference

Thanks for pointing out how to set the Lens Type tag, I already figured this out, but

[2021-12-13 18:48] clanmills commented on #2010
Right.  Thanks for the reply.  Is there a problem with the Canon Firmware?  Only Canon can answer that, and I believe you get a reply from them.

The MakerNotes are a problem.  None of the manufacturers _(Canon, Sony, Nikon etc...)_ publish the layout of the data in their makernote.  It has been reverse engineered by the community.  The ExifTool documentation is the best available resource.

I don

[2021-12-13 18:48] #2010 closed

[2021-12-13 19:06] eezacque commented on #2010
Agreed.

[2021-12-13 22:31] htartisan opened #2029 "Use of Exiv2 library to embed metadata in JPEG file header"
I am trying to use the EXIV2 lib to modify an encoded JPEG image buffer (not a file), to add (embed) application metadata, without decoding/re-encoding the JPEG image.  Is this possible (using this library)?

[2021-12-14 06:49] clanmills commented on #2029
Yes.  That's possible.  Normally you open images from a file.  If the JPEG is already in memory, you can create a MemIo file and the library can parse and edit the data.

Take a look at the class Exiv2::ImageFactory().  The Exiv2 sample applications usually read images from a path.  However there is an open() method which accepts a memory buffer.

https://exiv2.org/doc/classExiv2_1_1ImageFactory.h

[2021-12-14 06:49] #2029 closed

[2021-12-14 08:44] clanmills commented on #1515
I've thought of a good/simple way to remove `class Exiv2::INIReader` from libexiv2.

We should have a callback from the library to identify a lens.  The exiv2 application can compile/link INIReader to search `configfile`.  User code can use the call-back to implement other "unknown lens" strategies such as executing exiftool.

Here's a suggestion (not a proposal) for the call-back:

[code]

This i

[2021-12-14 11:44] #2027 closed

[2021-12-14 14:54] postscript-dev commented on #1941
I have converted the .exv files in [compen.tar.gz](https://github.com/Exiv2/exiv2/files/7697340/compen.tar.gz) and [flashmodes.tar.gz](https://github.com/Exiv2/exiv2/files/7697447/flashmodes.tar.gz) into JPEGs for use with NX Studio. You can find them in [compen-JPEG_versions.zip](https://github.com/Exiv2/exiv2/files/7712170/compen-JPEG_versions.zip) and [flashmodes-JPEG_versions.zip](https://gith

[2021-12-14 16:08] kamiccolo commented on #185
Mhm. I've just hit another case of this error with different image format (.IIQ) and valid (from the looks) XML. And it does not work with exiv2, but dumps correctly using XMP-Toolkit-SDK directly.

Culprint seems to be different versions of libexpat in use.
Non-working (exiv2 I've built with) - 2.2.5-3ubuntu0.2
Working (XMP-Toolkit-SDK is recommended to build with) - 2.1.0

o_0

[2021-12-14 22:34] kamiccolo commented on #185
Mhm. Weird, I've just took exiv2 built based on expat 2.4.1, and still can get an XMPValidator error o_0
I do suspect a regression, but still need to investigate further.

[2021-12-15 14:05] clanmills commented on #1811
Issue #1515 concerns replacing the /xmpsdk code in Exiv2 with building and linking Adobe XMPsdk from source.  Regrettably, #1515 has been modified to include a discussion concerning src/ini.cpp.  I'm going to restore #1515 to the original focus.

I've thought of a good/simple way to remove `class Exiv2::INIReader` from libexiv2.

We should have a callback from the library to identify a lens.  The

[2021-12-15 14:14] clanmills commented on #1515
I'm restoring this issue to focus on XMPsdk which is 25,000 lines of code.  The code concerning INIReader is 500 lines and is discussed in #1811.

[code]

[2021-12-17 10:33] cris46 commented on #1941
Thus is puzzling. One thing for sure: When I set an exposure compensation for the camera, this is not a "Flash _Control_ Mode"; I can do that even without any flash. The other thing is, a _compensation_ is never absolute. so it's not 1/1 -2/3, but always just the offset of 2/3 wrt some neutral setting. 1/1 -2/3 would probably mean just 1/3, and 1/1 +2/3 means 4/3. And that neutral setting is alway

[2021-12-19 15:28] hassec commented on #1995
Hi @jim-easterbrook, I think you raise a valid point. Unsure as to if when somebody might have time to tackle this.

But just to reassure you, the method you are currently using isn't any less performant.
On the backend side, `IptcMetadata` is just a `std::vector<Iptcdatum>`, and `findKey()` does a `std::find_if` which is a linear search.
So pretty much identical to your proposed loop.

[2021-12-20 13:39] kevinbackhouse opened #2036 "out-of-bounds read in geotag"
I received this report from Huawei Central software Security Team. It's a bug in `samples/geotag.cpp`, which is a demo application, so we consider it to be a regular bug, not a security issue.

Hi team,
I identify a global-buffer-overflow at readImageTime in geotag.cpp of Exi=
v2 when fuzzing.

Exiv2 version:
commit fde8ed07b32fd99e9d7b9353c19d3e4805978306
And I also test it on the latest official

[2021-12-22 13:59] #2036 closed

[2021-12-22 16:51] postscript-dev commented on #1959
@clanmills: Perhaps you can help.

I can see 2 solutions to the tag problem:
1. Mark the tags as deprecated (in the label and description) and delete them in a future release.
2. Delete the erroneous tags now. If they already exist in a file's metadata then, they would be automatically re-added as the XMP namespace is already defined in Exiv2.

I have reviewed all the tags and will create a PR, bu

[2021-12-22 20:14] clanmills commented on #1959
@postscript-dev I think you're now the IPTC Expert in Team Exiv2.  Remember the saying _In the land of the blind, the one eyed man is king_.   I don't know much about IPTC because the code is stable and there have been very few issues raised concerning IPTC.  I investigated and documented my knowledge/understanding of IPTC in my book https://clanmills.com/exiv2/book/#IPTC

Is Xmp.Iptc4xmpExt forma

[2021-12-23 09:02] kmilos commented on #1959
Apologies for the silence Peter, but I have even less clue about the intricacies of XMP schemas and can't help out much here I'm afraid...

[2021-12-27 20:51] Profoktor opened #2041 "Canon EF 28-105 Lens Recognition"
##### **Describe the bug**

When probing exif information with exiv2 for a specific camera/lens combination (see below), for a relevant fraction of the images the lens gets not identified correctly: Although the ID seems to match, exiv2 is unable to identify the LensType-String.
- There is no obvious difference between the files.
- It occurs for images which where taken seconds apart
- It is repro

[2021-12-27 21:07] Profoktor commented on #2041
Sample files:
[CR2.zip](https://github.com/Exiv2/exiv2/files/7781799/CR2.zip)

[2021-12-27 21:50] Profoktor commented on #2041
I set up the build environment:
- Building https://github.com/Exiv2/exiv2/tree/0.27-maintenance reproduces the bug
- Building main https://github.com/Exiv2/exiv2/tree/main does *not* reproduce the bug

*Conclusion:*
Issue seems to have been fixed after the 0.27.5 Release - Bug can be closed

Out of curiosity - if anyone could give me a pointer to the corresponding PR, I would be delighted :)

[2021-12-28 13:27] postscript-dev commented on #1941
Sorry for not replying earlier, I intended to post before Christmas but didn't find the time.

I have converted the .exv files in [moremodes.tar.gz](https://github.com/Exiv2/exiv2/files/7734287/moremodes.tar.gz) into JPEGs for use with NX Studio. You can find them in [moremodes_JPEG-versions.zip](https://github.com/Exiv2/exiv2/files/7784199/moremodes_JPEG-versions.zip).

This is my fault, I was pu

[2021-12-28 13:32] clanmills commented on #2041
Thank you for reporting this.  And thank you for providing test data.

I'm unable reproduce your report.

Using exiv2 0.25 (built from the current 0.27-maintenance branch)
[code]

Using the 'main' branch:
[code]

Running the same test with the download of Exiv2 v0.27.5 from exiv2.org
[code]
Please work with me to get "on the same page" so that we agree on the issue being investigated.

I'm going t

[2021-12-28 13:51] Profoktor commented on #2041
Hi @clanmills,

thanks for your quick response. I'll try to shed some light on the issue.

- In general, the lens can be recognised, i.e. it is part of the database (e.g. the "working image")
- However, for some images/files, the resolution/translation with `exiv2 -pt` breaks in version 0.27.5. The result is, that exiv2 only reports the bare id and not the resolved LensType
-- It breaks for the do

[2021-12-28 14:43] clanmills commented on #2041
I'm still having difficult understanding the scope/versions involved in this issue.    Have I understood this correctly `-pt -g lenstype/i` reports tag `Exif.CanonCs.LensType` as:

| file | branch main | branch 0.27-maintance |
|:--  |:-- |:-- |
| exif_correct.CR2 | `Short       1  Canon EF 28-105mm f/3.5-4.5 USM` | `Short       1  Canon EF 28-105mm f/3.5-4.5 USM` |
| exif_incorrect.CR2 | `Short

[2021-12-28 14:51] hassec commented on #2041
Hi @Profoktor,

as @clanmills mentioned, lens recognition is a  bit of a guessing game based on the metadata we find in the file.
The good news is that the lens recognition for pictures taken with canon cameras did get quite a bit better on the `main` branch with #1692.
But these changes didn't and likely won't make it into the 0.27.x release series.

Now that should hopefully answer your question

[2021-12-28 15:23] clanmills commented on #2041
Ahhh, Merry Christmas @hassec.  And Merry Christmas @Profoktor

There's a substantial difference in the code in src/canonmn_int.cpp between 0.27-maintenance and `main`.  The function `printCsLensTypeByMetadata()` is now being used on 'main' for lens Canon lens "recognition/guess-work".

[code]

Thank You, Christoph for mentioning `MaxAperture`.  It would have taken a lot more digging for me to dis

[2021-12-28 15:23] #2041 closed

[2021-12-28 15:43] Profoktor commented on #2041
Hi @clanmills and  @hassec,

Merry Christmas to you as well! And a happy new year, while we're at it 😄

@clanmills : yes, you're correct about the term "sporadic" - I just wanted to point out that it affects only a portion of the files. Maybe "scattered" or "isolated" would be more fitting.

@hassec : Thanks for the pointer! Actually, the culprit being the max/min apperture values makes sense, as

[2021-12-28 17:17] postscript-dev commented on #1959
Sorry, but in the run up to Christmas, my time was limited. Now I have more time, I plan to finish this.

@kmilos: No problem.

@clanmills: I looked back at my original message and realised that, as I was short of time, I didn't make things very clear.

The recently released IPTC specification lists XMP tags mostly found in `Xmp.Iptc4xmpExt`. The problem is that some of the tags that have previous

[2021-12-28 18:41] clanmills commented on #1959
@postscript-dev I think your thoughts about deprecating those tags on 'main' is the correct approach.  However, don't do this on 0.27-maintenance which I hope is close to end of life.

[2021-12-28 18:53] clanmills commented on #2041
@profoktor.  I would be helpful if you could ask LensFun/darktable to use Exif.CanonCs.LensModel which is an ascii string added to the metadata by Canon.

I'm not a photographer, so I don't know what LensFun does.  However, I know darktable/LensFun (and other applications) want Exiv2 to identify the lens with 100% accuracy.  The business of deducing the lens from the metadata is at best a guess.

[2021-12-28 20:49] Profoktor commented on #2041
Hi @clanmills,

the answer to that is quite simple: Canon only provides this information for their own lenses. As soon as you use a third party lens, these fields are left empty.
Only the lens type is provided, which is a short and which exiv2 decodes into something meaningful (I suppose the id is provided by the lens itself, and collides between makes. Adding the fact that there is no indication

[2021-12-28 23:23] clanmills commented on #2041
Ah yes.  Thanks for your files.

Applications use the lowest common denominator which is to demand that exiv2 figure out lens recognition for them.  I don't know why applications ignore a clear/unambiguous signal such as `Exif.CanonCs.LensModel`.

I discuss the Lens recognition puzzle in my book: https://clanmills.com/exiv2/book/#4  Exiv2 supports Exif 2.32 which supports lens recognition.

Exiv2

[2021-12-29 00:33] Profoktor commented on #2041
Hi @clanmills ,

I never doubted that exiv2 is deterministic. Just bad wording on my side 😉

As for the third-party lenses, this field is not filled:
[code]
Hence you cannot use it to always and ever identify the lens.
And if it is set, you would have to correct it so that the entry matches the one in the LensType list:
[code]

The field `LensType` appears to be always populated, at least, ~~and i

[2021-12-29 07:29] bquinn commented on #1959
Hi all, sorry for the silence, I'm on leave right now. I'll be back in the office on Monday, and I can help properly then.

Until then these might help.

Here's an image with every IPTC property "filled in", including structured and repeating properties:
http://iptc.org/std/photometadata/examples/IPTC-PhotometadataRef-Std2021.1.jpg

exiftool can extract the raw XMP which might help. [Here's the ou

[2021-12-29 08:47] hassec opened #2042 "Test coverage for EPS files"
##### **Describe the bug**
I was trying to improve the test coverage of the code in `epsimage.cpp` by adding an eps file to the test suite.
The file I chose is the [eps test image from exiftool](https://github.com/exiftool/exiftool/blob/master/t/images/PostScript.eps) but `exiv2` fails when reading the file:
[code]

##### **To Reproduce**
Steps to reproduce the behavior:
1. File is linked above
2.

[2021-12-29 09:28] clanmills commented on #2042
There are test files for EPS.   svn://svn.exiv2.org/svn/testdata/trunk

I put them (and the video test files) there to reduce the size of the code base download.  In Makefile, you do `$ make teste` and it sniffs for the eps test files and downloads them if necessary.  Volker is a very careful person and I think you'll find the coverage is quite comprehensive.

You'll have to get a fairly elderly r

[2021-12-29 09:42] hassec commented on #2042
@clanmills thanks for the hint. But in this case, I don't think we actually execute these tests anymore.
It seems that what you describe above is only part of the old bash based test suite, which is deprecated.
Thus, this should probably be ported to new python test suite...

[2021-12-29 09:47] clanmills commented on #2041
Applications unfairly dump lens recognition on Exiv2.  If you report an issue with the lens on darktable/digiKam, I believe you will be told "It's a bug in Exiv2".  It is not.  Exiv2 should never have used `-pt` to convert lensID (and other undocumented manufacturer makernote magic) into the name of the lens.  The bug is to have ever provided that feature.  It's responsible for 50% of the activity

[2021-12-29 11:09] clanmills commented on #2042
That's correct.  All that stuff is written in bash.  It's probably straightforward to port it into tests/bash_tests.  However before we start to port it, we should see if it's good for your purposes.  If your intention is to increase coverage, this is probably a good place to start.

I'll have a look at the PostScript code and give you an update.  I was the Engineering Lead for Adobe PostScript.

[2021-12-29 11:30] clanmills commented on #2042
I think the issue with the file is that it is an EPS file, with an embedded EPS file!  The "recursive" EPS starts at byte 257 (0x0101)

[code]
There's something at byte 257 (0x0101) that's upset him:
[code]
Exiftool is happy:
[code]
For sure, we can ask Volker to look at this.  However before we drag him into this, can we agree on our objective here?  Are we concerned about this single file (which

[2021-12-29 11:50] hassec commented on #2042
My main objective was only to get better test coverage to make sure any future refactoring doesn't break anything.
I'm surprised that this file isn't handled. But given that we haven't had anyone complain, I'd argue making the current code handle this file might be a secondary objective... ?

I've had a look at the test files you linked and did a bit of forensic digging, and it seems that the EPS

[2021-12-29 11:58] clanmills commented on #2042
@hassec  I sort-of "let this go" because I thought it was going to die.  As Volker would like the EPS code to continue in Exiv2, I think we should ask him to look at this.  Increasing % CodeCover sounds like a good objective and more important this single file.

@vok do you have time to restore your eps tests to a healthy working state?  The test framework has been rewritten in python.  If you hav

[2021-12-29 12:32] vog commented on #2042
I can confirm that I provided all test cases to you that I had. My goal was indeed something like 90%-100% test coverage, as the test cases were added specifically to check each new condition and twist which I had to add to the EPS code.

While I do have some more test files, those are all proprietary files that originally triggered some issues. However, I was careful to recreate each relevant iss

[2021-12-29 12:44] clanmills commented on #2042
@vog.  Thank You for your reply.  Best Wishes for 2022.  Let's hope the covid crisis fades and we get our lives back soon.

There's no reason to hurry with the EPS test coverage.  At the moment, the code is not being actively tested.  Let's change that in 2022.

I looked at the ExifTool test file.  It's an EPS with an embedded EPS!  I don't know if that is a common EPS scenario.  Better to give fo

[2021-12-29 16:19] #1969 closed

[2021-12-29 18:45] boardhead commented on #2042
The ExifTool sample is actually an EPS file with 3 embedded EPS files, and the second one also has an EPS file embedded within it.  One level of embedded EPS happens commonly when EPS-format figures are included in a document.  Two levels may not be so common.

[2021-12-29 20:06] clanmills commented on #2042
Happy New Year, @boardhead Phil.  Best Wishes for 2022.  Thank you for the insight concerning _Russian Doll_ EPS files.

[2021-12-29 21:36] postscript-dev commented on #1890
@clanmills: Something occurred to me, the new manpage uses https://clanmills.com/Stonehenge.jpg as a test image. At the moment this version of the manpage is only on 'main' and few people use it, but once it is on https://exiv2.org/ this will change. While the file's location may bring more traffic to your website, all downloads would be at your cost. If you want to, you could add a copy of *Stone

[2021-12-29 23:11] clanmills commented on #1890
Great idea, Peter.  I'll move it.  I don't run up bandwidth charges on clanmills.com.

Alison is dusting her rolling pin and looking forward to hitting everybody in 2022 about the web-site.

I love Alison.  She doesn't have a rolling pin.  We've been married for 47+ years.  Photo at our son Jamie's wedding in 2019.
![IDSA0489 CR2](https://user-images.githubusercontent.com/529982/147709628-ae20dfa4

[2021-12-30 12:05] postscript-dev commented on #1890
@clanmills

Perhaps it would help to add a reference to https://clanmills.com/ in the file's metadata. This would show where the image came from and point anyone interested to your site. Maybe adding other licensing tags would also be useful for you.

On a related note, when I was looking for a test file for the manpage, I was surprised to discovered that the Exiv2 logos on https://www.exiv2.org d

[2021-12-30 12:56] clanmills commented on #1890
I've updated the web site:  https://www.exiv2.org/Stonehenge.jpg  I submitted a change to svn: svn://dev.exiv2.org/svn/team/website r5321  I donate 100% of the ownership of the image Stonehenge.jpg to Team Exiv2.  I don't remember why I started using it to discuss features of the exiv2 command-line tool with users.

That version of Stonehenge.jpg is almost the original.  The only edit was the Capt

[2021-12-30 14:37] clanmills commented on #1890
I know very little about the use of metadata, so I don't know what metadata should be inserted in the logo files.  The whole package is stored at:  svn://dev.exiv2.org/svn/team/logo_files.  I think I created Logo.graffle from the SVG for use in OmniGraffle _(Eh?  Why don't I use Adobe Illustrator for drawing?)_.  You can modify them on SVN.

I think @nehaljwani is going to move the team resources

[2021-12-30 23:53] nehaljwani commented on #1890
Apologies for the delay, a few updates:

- After spending some time, I was able to generate a static copy of the Redmine website (read-only). I've pushed the content at https://github.com/Exiv2/dev.exiv2.org. One can take a look at the commit history to find out how it was done. I've hosted it at https://dev2.exiv2.org/ using Github pages. @clanmills could you please test it a bit to see if there

[2021-12-31 07:56] clanmills commented on #1890
@nehaljwani Thanks.  I'll go over this carefully today and give you an update.  Here are my initial comments.  Please don't feel daunted by the length of my comments.  You're not far away.

1.  The website should be about 10m:
[code]

The equivalent in GitHub is 3.2G.  So we're storing lots of stuff on https://github.com/Exiv2/dev.exiv2.org.git that doesn't need to be there.

[code]

2.  The relea

[2021-12-31 10:57] nehaljwani commented on #1890
Hello Robin, thank you for checking. I just wanted to clarify that https://github.com/Exiv2/dev.exiv2.org.git is the static content from Redmine, not the exiv2.org website, and while calculating the disk usage, you should skip the .git folder, otherwise you end up counting twice. The largest portion in the checkout comes from the various attachments in Redmine from issues/posts/wiki. As of now, Gi

[2021-12-31 11:31] clanmills commented on #1890
@nehaljwani  Wow.  We're looking in different directions.  Not a problem.  Damn glad to realise we're not on the same page yet.

I cloned dev.exiv2.org and didn't inspect it.  I see now that it's Redmine magic.  You're right.   We can probably "leave that as it is".  I'll have to investigate what you have there.  It's likely that you can transfer that to pixels.us and not store that on GitHub.  We

[2022-01-01 00:58] nehaljwani commented on #1890
These are now available:

https://github.com/Exiv2/team.exiv2.org
https://github.com/Exiv2/testdata.exiv2.org

Robin, could you please share your steps to build the website from the team repo? I keep running into a problem about a missing Exif.xml file

[2022-01-01 01:18] nehaljwani commented on #1890
I've pushed the tags for versions older than v26, will upload the releases later today.

[2022-01-01 08:41] clanmills commented on #1890
Happy New Year.  Best Wishes for 2022.

Sounds as though you are making great progress.  Have you been working during the night?  Are you in India or the States at the moment?

The file Exif.xml is generated in <exiv2>/doc/template directory when you run:

[code]

I assume you have the file Checklist.txt which documents the build process.  I have the following environment strings set up.

[code]

[2022-01-01 12:41] clanmills commented on #1890
The security alerts are valid and have been serviced.  They are not a threat to Exiv2 in any way.  I had exposed my Google Photos API key.  I've modified the file involved and cancelled the key on google.  I had accidentally revealed the ftp password to a web site I managed about 15 years ago.  I've removed the script with that password.

[2022-01-01 18:09] nehaljwani commented on #1890
Wish you all a very happy new year!

I'm working from Sri Lanka at the moment.

Release archives for versions earlier than v0.27 have been uploaded at https://github.com/Exiv2/exiv2/releases

Will work on the website later today.

[2022-01-01 19:01] clanmills commented on #1890
Sri Lanka.  You get about.  I've had loads of notifications about the releases on GitHub.  That's great.

When you hit the inevitable "oh crap, this script doesn't seem to work", please let me help.  I inherited most of that code from Andreas and it works pretty well.  When the releases are available on GitHub, we can throw away some of the pages and scripts.

[2022-01-01 19:58] Wormnest opened #2044 "According to release notes of 0.27.5 #1765 was included but it's not"
##### **Describe the bug**
The release notes of 0.27.5 state that PR #1765 was included in this release, however it was never committed to this branch.

##### **To Reproduce**
Steps to reproduce the behavior:
1. On Windows install GIMP 2.10.30 which includes exiv2 0.27.5 from MSYS2.
2. Open any TIFF image that includes Exif.Image.PageName, e.g. (sorry, can't add tif directly and even after zipping

[2022-01-01 20:49] clanmills commented on #2044
Clearly an error in the release notes _(my mistake)_.  We are continuing to maintain the 0.27-maintenance branch in case we need to produce a security release.  However feature development is now focused on branch 'main'.

Perhaps we should back port this to 0.27-maintenance.  What do you think.

[2022-01-01 21:42] Wormnest commented on #2044
This is just a minor visual issue, it personally doesn't bother me much if it wouldn't be back ported. On the other hand, it was announced as being included. As such, it might be better to include it in the next maintenance release if it can be done without too much hassle.

[2022-01-01 22:59] clanmills commented on #2044
Fix submitted: #2045

[2022-01-02 08:17] cris46 commented on #1941
I've downloaded your version of exiv2 in order to take a closer look at all files I've uploaded here so far, but also to perform a few scans over all of my image files.

First the comments to your post:

@1 I haven't found CameraExposureCompensation, so that's probably not yet included in that linux version.

@2 Neither did I find FV Compensation (for which I found recently that one manufacturer u

[2022-01-02 12:26] postscript-dev commented on #1941
@cris46: I haven't read all you post yet, as it will take time to go through.

1. I checked and the missing tags are in [exiv2-1.0.0.9-Linux64-new-NikonFl7-0.7.tar.gz](https://github.com/Exiv2/exiv2/files/7784761/exiv2-1.0.0.9-Linux64-new-NikonFl7-0.7.tar.gz). Is it possible that you are using a different version of the *exiv2* sample program instead of the one I supplied? If I unzip the new build

[2022-01-02 21:41] #2044 closed

[2022-01-03 02:48] nehaljwani commented on #1890
I've set up the GH action workflow with this commit: https://github.com/Exiv2/team.exiv2.org/commit/79b8ca0adb526f9816231309188afbb327cb63e0

At the moment, it deploys to web2.exiv2.org. Once we are happy with the content, we can switch exiv2.org to this.

Any change pushed to the team repo will trigger a deployment of the website automatically. To trigger it manually, one can visit: https://githu

[2022-01-03 10:18] clanmills commented on #1890
@nehaljwani This looks really good, Nehal.  You're a very talented server engineer.  A few comments:

1.  The web-page footer and "Preview" background.

That hasn't been automated.  I documented a `find` command in Checklist.txt to manufacture the label.  I manually edit exiv2.css to display "preview" in the background.  This all works by hand.  When automating, I'm sure there's a better way.  For

[2022-01-03 12:35] nehaljwani commented on #1890
On the road right now, so won't be able to check everything. For point number 5, I'm using the steps that you provided to generate everything. Please see the changes in this commit: https://github.com/Exiv2/team.exiv2.org/commit/79b8ca0adb526f9816231309188afbb327cb63e0 . For point number 6, doesn't look like pixel.us is needed right now. I am using GitHub pages for everything.

[2022-01-03 12:35] nehaljwani commented on #1890
On the road right now, so won't be able to check everything. For point number 5, I'm using the steps that you provided to generate everything. Please see the changes in this commit: https://github.com/Exiv2/team.exiv2.org/commit/79b8ca0adb526f9816231309188afbb327cb63e0 . For point number 6, doesn't look like pixel.us is needed right now. I am using GitHub pages for everything.

[2022-01-03 16:40] clanmills commented on #1890
Let's talk on Zoom one day when it's convenient for you.  I at home most of the time because of covid.

Sounds as though you are generating the documents with doxygen.

The reason to host exiv2.org on pixls.us is to web host exiv2.org without running up a bill on AWS.  In future https://exiv2.org will be more-or-less a static portal that directs users to GitHub.  If we discontinue https://exiv2.or

[2022-01-03 17:00] postscript-dev commented on #1959
http://iptc.org/std/photometadata/examples/IPTC-PhotometadataRef-Std2021.1.jpg

This is very helpful in explaining the different tags. Is this image's metadata available for inclusion in *exiv2*? I can extract the metadata (as XML) from the image and this would need to be released under the [project's license](https://github.com/Exiv2/exiv2/blob/main/COPYING). If this is not possible, then the ima

[2022-01-03 17:05] nehaljwani commented on #1890
I'm in Sri Lanka only for vacation 🙂 Will be returning back to the States in a few days.

GitHub pages don't require us to provide any hosting. The idea is to test out web2.exiv2.org and dev2.exiv2.org and if all works well, point exiv2.org and dev.exiv2.org to these. It comes free for open source projects on GitHub. So everything I've been doing so far is to shutdown the AWS instance and not rely

[2022-01-03 17:11] clanmills commented on #1890
Ah. Are you saying that we can get the domain registration of exiv2.org changed to an IP address on GitHub?  How convenient.

Enjoy your vacation.  It certainly sounds as if you've almost got everything fixed.  My objective is to stop the bill from AWS and it sounds as though we are almost there.

[2022-01-03 17:43] nehaljwani commented on #1890
The ownership of the domain is still with us on the pairdomains account. We just add CNAME entries to point whatever-we-want-or-nothing.exiv2.org to exiv2.github.io and GitHub takes care of the rest. https://pages.github.com/

[2022-01-03 18:04] clanmills commented on #1890
@nehaljwani This is really good.  So, I think I need to:

1.  Go over the GitHub hosted web-sites and give you more feedback.
2. Apply to ICANN to register a CNAME for exiv2.org

And you need to:

1.  Continue with our vacation.

Right?

[2022-01-03 18:07] clanmills commented on #1890
It's even easier.  We just to update pair domains when we're ready.  So, it's up to me to give you more detailed feedback.

[2022-01-03 18:08] nehaljwani commented on #1890
No need for 2. The Pairdomains account already allows us to do that, and it's already done. This is why the static content is already being served by GH pages. We don't even have to worry about HTTPS, Github takes care of it as well.

[code]

[2022-01-04 07:19] clanmills commented on #1959
@postscript-dev @bquinn Thank You for sharing that file, Peter and Brendan.

I've looked at that with exiv2 and tvisitor _(the code in my book)_.  The file contains 26 Iptc.Application records (3xSubject + 3xKeywords + Caption etc). The XMP data includes similar data in the Iptc4xmpExt namespace.

Going back to the original request, it appears to me that Exiv2 does requires no modification to supp

[2022-01-04 07:37] clanmills commented on #1890
Right.  I wondered how you created sub-domains such as pre-release.exiv2.org, web2.exiv2.org and others.  You do that on Pairdomains.  Got it.  And you've used GitHub pages to store the content of web2.exiv2.org

So, my task now is to give you more feedback concerning https://web2.exiv2.org.  Some polish and fixing and we will not need AWS.  And we don't need @paperdigits to do anything at all.  V

[2022-01-04 21:03] alexvanderberkel commented on #1890
wow! This is great progress @nehaljwani  and sorry for the delay of my answer @clanmills . Is there still the need for the meeting or something I can do?

[2022-01-04 22:33] clanmills commented on #1890
I don't think we need a meeting to discuss this project.  Thanks to @nehaljwani, we're really on track to have exiv2.org being hosted on GitHub and we can close the AWS node.

I feel we need a meeting to discuss the plan for 2022.  At the moment, we can't answer any of the following questions:

1.  Will there be another 0.27 "dot" in 2022?
2.  Will 'main' ship as v1.00 in 2022?
3.  Will 'main' shi

[2022-01-05 16:42] piponazo opened #2048 "Examine usage of XPathIo and EXV_XPATH_MEMIO"
The class `XPathIo` seems to have different implementations depending on `EXV_XPATH_MEMIO`. However that definition is hard-coded in the file `basicio.hpp:39`.

We should investigate:
* if it makes sense to have both implementations in the codebase.
* In the last years we have been using the `XPathIo` which is inhering from `FileIO`. Could we obtain any benefit from using the `MemIO` one?
* That c

[2022-01-05 16:50] clanmills commented on #2048
I don't remember anything about this class.  It may have been something that @vok added to deal with extended attributes on the Mac.

[2022-01-06 15:13] shao-hua-li opened #2050 "std::overflow_error when fuzzing iptcprint"
##### **Describe the bug**
running `./iptcprint iptcprint_poc` results in a crash:
[code]

##### **To Reproduce**
- Platform: Ubuntu 20.04.4 LTS, x86_64
- Compiler: clang13
- POC: [iptcprint_poc.tar.gz](https://github.com/Exiv2/exiv2/files/7822748/iptcprint_poc.tar.gz)
- Reproduce: run `./iptcprint iptcprint_poc`

[2022-01-07 07:52] piponazo commented on #147
Hi,

Should we reopen this issue and assign it to the project "1.0"? I think in this issue there is relevant information to be considered for extending the parsing capabilities for PNG files.

Although #1505 is a super-set capturing this PNG-parsing feature, one might think about first extending the PNG parsing capabilities without addressing the major "Unified Metadata Concept" feature.

[2022-01-07 12:17] clanmills commented on #147
@piponazo.  Yes.  I think this should be re-opened with a target of v1.00.  Earlier this year I built the "unstable" branch and it works.  We need to study that code and port it to 'main'.  This is of great value to Exiv2 and could be the defining feature of v1.00.

I discuss PNG _"Textual information"_ in my book (Author etc).   So to apply the Exiv2 TagName syntax _(Family.Group.Tagname)_, we co

[2022-01-07 20:47] neheb commented on #1996
Windows 10 has a registry setting that makes fopen calls used uft8 by default. It might work here as well: https://superuser.com/questions/1033088/is-it-possible-to-set-locale-of-a-windows-application-to-utf-8

[2022-01-07 23:33] kmilos commented on #1996
Possibly, but you'd need to link against the new UCRT instead of legacy MSVCRT for this to work. We don't currently (apart from the ucrt64 package in the Msys2 repo).

[2022-01-07 23:42] neheb commented on #1996
The registry setting also works with the legacy MSVC runtime last time I tested. But for platforms before Windows 10 or old Windows 10 builds, UCRT is needed.

If I had to guess,  @Sparsh-Bansal is talking about binaries created with MSVC. No idea how to migrate to UCRT in visual studio.

[2022-01-08 08:47] kmilos commented on #1996
Actually, should be the default in VS since 2017 I think.

[2022-01-08 08:53] neheb commented on #1996
oh OK so just a setlocale call is needed.

[2022-01-08 08:55] clanmills commented on #1996
Uh?  Amazing!  What's the fix?

[2022-01-08 09:58] clanmills commented on #1996
https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/setlocale-wsetlocale?view=msvc-170

_**UTF-8 Support**_

_Starting in Windows 10 version 1803 (10.0.17134.0), the Universal C Runtime supports using a UTF-8 code page. This means that char strings passed to C runtime functions will expect strings in the UTF-8 encoding. To enable UTF-8 mode, use ".UTF8" as the code page when using set

[2022-01-08 15:50] clanmills commented on #1996
This works on macOS and not on Windows/MSVC.  I have Windows 10/1903 (installed 2021-03-27).  Perhaps I need to upgrade Visual Studio.

[code]

[code]

[2022-01-09 15:25] #1805 closed

[2022-01-11 10:52] viskin opened #2054 "Copyright Flag field"
We want to be able to read / preserve the field "Copyright Flag" that Photoshop adds to metadata.
It's different from Exif.Image.Copyright, and documented [here](https://www.adobe.com/devnet-apps/photoshop/fileformatashtml/)
It appears that having this field preserved when copying / modifying metadata is important for professional photographers.

Does exiv2 have support for this field?

If not, is

[2022-01-11 11:57] clanmills commented on #2054
@vishkin  Thanks for bringing up this topic.  Exiv2 supports Exif, IPTC, Xmp and embedded ICC profiles.  The metadata you are discussing is private to PhotoShop.  To my knowledge there is no code in Exiv2 to read/write/delete PhotoShop metadata.

In general, Exiv2 tries to _do no harm_, so the data should be preserved when Exiv2 updates a file.

I don't have a copy of PhotoShop.  If you have Photo

[2022-01-11 13:23] viskin commented on #2054
I'm talking about metadata that Photoshop stores in jpg, not psd files.
When doing exiv2 ex image.jpg, the resulting .exv file will have this field removed. That's exactly the problem that the field not being preserved.
I will attach repro with jpeg file soon.

[2022-01-11 13:53] viskin commented on #2054
The repro image is attached.
[code]
The original jpeg has `Copyright Flag = true`.
Neither resulting .exv nor .xmp files preserve it.
I check it with exiftool:
[code]

![copyright-flag](https://user-images.githubusercontent.com/10885108/148954173-cec1a94b-fda4-4ef6-9e4d-b5c7ef98bd2f.jpg)

[2022-01-11 14:52] clanmills commented on #2054
Thank you for providing a test image.  That's very helpful.

You have extracted the EXV and XMP files from the the JPEG.  They do not contain the PhotoShop/8BIM **Copyright** record for two reasons:

1.  Exiv2 does not support PhotoShop/8BIM metadata.
2. The extracted `.exv` and `.xmp` files are copies of the Exif and Xmp metadata.  As PhotoShop/8BIM is neither Exif nor Xmp metadata, it would not

[2022-01-11 16:18] clanmills commented on #2054
There's a bug in tvisitor.cpp and it skips the 0x040a (Copyright) record. I'll fix that (it's not part of the Exiv2 product).

[code]
This should be reported as:
[code]

However, that doesn't change the substance of this issue which is the question you asked: _Does exiv2 have support for this field?_ and the answer is no.  Exiv2 does not support PhotoShop/8BIM metadata.

[2022-01-11 16:40] clanmills commented on #2054
Fix submitted to book/tvisitor.cpp (and consequential test changes).
svn://dev.exiv2.org/svn/team/book r5368

[code]

[2022-01-11 17:15] viskin commented on #2054
I understand. Thanks a lot. We will try to find some means to preserve PhotoShop/8BIM separately to exv.

[2022-01-11 18:45] #2054 closed

[2022-01-11 19:01] postscript-dev commented on #1941
While it is helpful to deal with all the issues involved, it is difficult to answer lots of points at one time. Something will inevitably get missed out. Perhaps we can keep posts to maybe 5-6 separate topics, as this is easier to manage. This is about what I usually aim for.

I decided to upload the output from NX Studio for you to look at - Nikon saves the data in a tab-separated format. As some

[2022-01-11 21:20] clanmills commented on #2054
The PhotoShop/8BIM data is stored in the APP13  segment in the JPEG.  Exiv2 will reveals it with the `-pS` option.

[code]
You can extract it to file with the `dd` command.  exiv2 only extracts the APP1/Exif segment when creating a `.exv`.

[code]

You could use `dd` to insert the APP14 segment into the `.exv` file.

I don't know what you're seeking to achieve here.  The exiv2 command-line option

[2022-01-13 04:38] clanmills commented on #2054
I'm a little surprised not to have heard from you.  Let me explain in detail how to use `dd` to create a `.exv` file that contains the 8BIM/Copyright flag.

**1.  Extract the 8BIM segment from the original file**
[code]

**2.  Create the `.exv` and cut it into two**
[code]

**3. Manufacture a new `.exv`**

[code]
Good, eh?

Write a script to extract/modify a `.exv` to store the PhotoShop/8BIM data

[2022-01-13 10:41] #1959 closed

[2022-01-13 11:32] 1div0 commented on #1959
Nice. Thank you so much.

Cheers.

[2022-01-14 21:02] cris46 commented on #1941
I had a look at the NX output. There are many columns, so I tried to open it in a spread sheet, but there seem to be some tabs missing, as the columns get mixed up in the right half. It has been interesting anyway.

"Optical AWL" is the older standard, which I termed "version 1". NX obviously is prepared for "version 2" (my term, Nikon might call it "Radio AWL"), as Groups D, E, and F have their o

[2022-01-16 07:22] PeterWem opened #2056 "Canon RF 70-200mm F2.8 L IS USM named as Canon RF 70-200mm F4 L IS USM"
##### **Describe the bug**

[code]

##### **To Reproduce**
[Steps to reproduce the behavior:
I used samples from Dpreview
https://www.dpreview.com/sample-galleries/8685700048/canon-rf-70-200mm-f2-8l-is-usm/6898420290
https://www.dpreview.com/sample-galleries/7468308170/canon-rf-70-200mm-f4l-is-usm-sample-gallery/2799350001

Exiv2 0.27.5

##### **Expected behavior**
Exif.CanonCs.LensType should be

[2022-01-16 15:29] clanmills commented on #2056
I'm not familiar with DPreview and don't know how to download your test image(s).

The lens is not stored in the metadata and exiv2 has to "guess" the lens from other metadata.  This is frequently discussed.  For example:  #1906

You can fix this locally on your machine using the _**configuration file**_ `~/.exiv2` as described in the exiv2 man page.  If you need assistance to get that to work, pl

[2022-01-16 15:29] #2056 closed

[2022-01-16 19:04] PeterWem commented on #2056
I don't own the lenses, but have created pull requests for one of them in Lensfun. I already know how to use your fantastic configuration file, but I thought this was something that manually needed to be solved because of the wrong lens.

Btw, I do have a question for you and .exiv2, but I will ask in #1906, thanks.

[2022-01-16 19:11] PeterWem commented on #1906
With .exiv2 it is possible to force a lens recognition by using LensID, for example 142=Canon EF 300mm f2.8 L IS USM.

Would it be possible to write other tags in the config file like:
If Exif.Photo.LensModel=Canon EF 300mm f2.8 L IS USM, then ne it Canon EF 300mm f2.8 L IS USM.

The reason why I ask is because this lens has the same lensID even together with converters. The converters show up in

[2022-01-16 19:45] clanmills commented on #1906
@PeterWem You and I think alike.  When I implemented the configuration file, I thought about having conditions and concluded that it would end up being a programming language.   Here's the proposal:  https://exiv2.org/book/#future

I will be 71 on Tuesday.  I retired from work in 2014 and retired from open-source last year.  I don't believe I will ever have the time to implement _**M2LScript**_.

[2022-01-16 21:03] PeterWem commented on #1906
Thank you very much for your advice. In ~.exiv2 I wrote 142=000. That solved the issue. I think because LensID 000 doesn't exist darktable ignores the tag LensType and continues to the next and the right tag LensModel instead. Now my Canon EF 300mm f2.8 L IS USM, Canon EF 300mm f2.8 L IS USM +1.4x, Canon EF 300mm f2.8 L IS USM + 1.4X II and Canon EF 300mm f2.8 L IS USM + 2x III all show the correc

[2022-01-16 21:07] PeterWem commented on #1906
Btw, I think M2Lscript sounds like a great idea!

[2022-01-16 21:38] clanmills commented on #1906
I'm glad that we've got that fixed between us.  I am still a smart guy at 71.

Exif.Photo.LensModel is a recent addition to the Exif Spec.  If the Exif Committee had added that 20 years ago, the lens recognition issue would not exist.  I honestly don't feel that it is the responsibility of exiv2 or exiftool to recognise the lens.  The responsibility of exiftool and exiv2 is to reliably read/modify

[2022-01-19 10:19] GitHubbero opened #2057 "Mismatch lens detection with Canon RF 24-105 versions (STM / USM) in darktable"
I apologize, if the issue is already on GitHub, but i couldn't find anything.

While working with darktable, i saw it detects my lens wrong.
I used for the photo the Canon RF 24-105 F4-7.1 IS STM
but darktable detects it as Canon RF 24-105 F4L IS USM

I am sorry, if the problem is minor, but i can't work properly with exiv2 to check it myself. So i thought the problem of the lens detection have to

[2022-01-19 15:45] postscript-dev commented on #2057
Looking at the source code, there is an [entry](https://github.com/Exiv2/exiv2/blob/55712d489ed0646c2735343c7a7a065b22eb22bb/src/canonmn_int.cpp#L2045) for:
[code]

If Exiv2 incorrectly identifies a lens then there are two solutions:
1. You can create an [Exiv2 lens configuration file](https://www.exiv2.org/manpage.html#lbAM) on your computer, which will override any existing value for that lens I

[2022-01-20 10:07] GitHubbero commented on #2057
Thank you @postscript-dev ,
just to clarify, the _"RF ... F4L"_ is detected but wrong. It should be the _"RF...F4-7.1"_
So the Lens code should be _"61182 //25"_ but is wrongly _"61182 //2"_

As I am using Windows and can't figure out, how to use exiv2, maybe you can check the lens detection of exiv2?
Just to make sure that the problem is not from exiv2 but at darktable itself.

Thank you so much

[2022-01-22 20:18] postscript-dev commented on #2057
@GitHubbero: Usually in posts like yours, the lens value is missing and it is a simple case of adding an entry and a test file. However, this time it is different, as your lens is [already defined in Exiv2](https://github.com/Exiv2/exiv2/blob/55712d489ed0646c2735343c7a7a065b22eb22bb/src/canonmn_int.cpp#L2068).

The Exiv2 sample program mentioned in https://www.exiv2.org/manpage.html, is a small co

[2022-01-22 20:28] GitHubbero commented on #2057
Thank you for your great work.
I will run the test tomorrow, and will inform you about the result.
Thanks a lot

[2022-01-23 00:15] EC1000 opened #2059 "CanonRFLensType values are wrong in canonmn_int.cpp"
##### **Describe the bug**
`canonRFLensType` values are wrong in https://github.com/Exiv2/exiv2/blob/main/src/canonmn_int.cpp#L2462-L2482 (`257` for all Canon RF lenses, while it should be a different number for each lens except Canon RF 50mm F1.2L USM).

##### **Expected behavior**
The correct values are described here: https://exiftool.org/TagNames/Canon.html (search "RFLensType").

[2022-01-23 00:43] EC1000 commented on #2056
I should be corrected by https://github.com/Exiv2/exiv2/pull/1692 :+1: (at least, the Canon RF 50mm F1.8 version is now correctly identified while it was identified as the F1.2 version with exiv2 0.27.5)

[2022-01-23 00:45] EC1000 commented on #2057
I should be corrected by https://github.com/Exiv2/exiv2/pull/1692 :+1: (at least, the Canon RF 50mm F1.8 version is now correctly identified while it was identified as the F1.2 version with exiv2 0.27.5)

Note that **all** Canon RF lenses have the same LensType=61182.

[2022-01-23 09:13] GitHubbero commented on #2057
61182=Canon RF 24-105mm F4-7.1 IS STM

Thank you @EC1000 . I knew that the RF lenses have all the same type, but they are different with the addition e.g. //2 aren't they?
Is there a way to implement these differentiations into the manual exiv2.ini (from @postscript-dev ) for the time until the update? (I just need the defferentiations of 2 or 3 lenses)

[2022-01-23 10:41] postscript-dev commented on #2059
@EC1000: Unlike ExifTool, Exiv2 usually adds a test image to demonstrate each of the different lenses containing that description. The `Exif.CanonFi.RFLensType` values in your post were added in #1451, but for some reason didn't include test images. @alexvanderberkel where did the lens information come from?

[2022-01-23 11:47] alexvanderberkel commented on #2059
@postscript-dev  I did notice the issue as well and started to work on correcting the issue ##1628. However, I didn't find the time to complete the pull request with test images etc. so far.

[2022-01-23 11:52] postscript-dev commented on #2059
@alexvanderberkel: No problem. As you have experience with Canon cameras, are you free to deal with this current issue?

[2022-01-23 11:55] alexvanderberkel commented on #2059
I would like to finish that pull request. It should fix the issue in version 1.0, though I'm still a bit limited timewise...

[2022-01-23 12:12] postscript-dev commented on #2057
@EC1000:

I have no experience with Canon cameras or lenses, so this is helpful.

@GitHubbero:

The `//2` is only a comment and is ignored by the software. If not using a lens configuration file, Exiv2 will produce a list of lenses that match the definitions that it has.

Out of interest, what are your other lenses?

[2022-01-23 12:17] GitHubbero commented on #2057
There is the RF24-240 4-6.3 and RF 100-400 5.6-8

[2022-01-23 14:52] EC1000 commented on #2057
What exiv2 version are you using?

If you have three RF lenses that are not identified, you can find a possible solution [here](https://discuss.pixls.us/t/updating-lenstype-tag-with-exiv2-exiftool-for-canon-rf-lens/29004/4?u=ec1000) (set `61182=000` in .exiv2 file, so exiv2/dt will pick the LensModel name instead of the LensType; note the small difference: without "Canon" at the beginning).

All s

[2022-01-23 15:14] GitHubbero commented on #2057
On the funny side, my 100-400 lens is identified correctly (couldn't figure out how it's with the 24-240 because it's just on my wishlist by now)
So I thought the problem has to be with maybe the naming of the lens or the detection. Following the correctly identification of the one lens, there should no problem with the single Lens-ID for all RF lenses

I couldn't find out which version I am using

[2022-01-23 16:14] clanmills commented on #2057
It's very likely that the darktable "About" box (or preference panel) will list the version of every library.

[2022-01-23 16:33] GitHubbero commented on #2057
It's really weird, because there is no "about" box in darktable. I searched for it before, and also now but i can't find something like that. Nor anything like this in the options/preferences
But instead I compared the date of the used exiv2.mo file of darktable and it was just 2 das "newer" than the newest version of exiv2 (23.10.2021 / 21.10.2021) So I assume it's the current version v0.27.5

[2022-01-23 17:54] clanmills commented on #2057
Some of the darktable folks are on the Exiv2 chat server and they'll advise.  When I retired from Exiv2 last year, I left the chat room.  Time for me to leave Exiv2 to other great young guys like @postscript-dev.

[2022-01-24 12:45] postscript-dev commented on #1941
Sorry for the delay in replying.

You are right about the columns. I have now used a better method to create the NX Studio output and the corrected file is in [NX_Studio_full-1.txt](https://github.com/Exiv2/exiv2/files/7920723/NX_Studio_full-1.txt).

Perhaps the instruction manuals for your flashes can help explain which standards they support.

After reading your comment about Groups D/E/F, it re

[2022-01-28 20:47] clanmills commented on #1890
@nehaljwani Apologies for taking time to give you feedback.  I posted a note to you on Monday 2022-01-10 to say that I had important domestic duties would consume me until at least 2022-01-21.  It's 2022-01-28 and this task is now on top of the TODO stack.

There are really two different matters:

1. What needs to be done to https://web2.exiv2.org before it can "go live" as exiv2.org?
2. What need

[2022-01-29 20:41] cris46 commented on #1941
I do know the standards supported by my flashes. I also know how to operate the remote triggers, which are third party products. It's less obvious however, what those triggers will communicate to the camera and how that is being translated into the exif data.

The D7100 is older than the newer Nikon standard; by then, only three groups and the master where supported. Thus, it's no surprise that th

[2022-01-31 04:50] nehaljwani commented on #1890
Hello Robin,

All of these issues have been resolved with [these](https://github.com/Exiv2/team.exiv2.org/compare/79b8ca0..4cd71a2) commits. I've added some automation to compute the contents of the required tables. Could you please check https://web2.exiv2.org/ again?

Just an update to the DNS record for exiv2.org and an update [here](https://github.com/Exiv2/team.exiv2.org/blob/4cd71a282df44166

[2022-01-31 11:20] kevinbackhouse commented on #1228
I think these are probably fixed now, because we are fuzzing continuously with OSS-Fuzz. I can't reproduce these failures on the `main` branch, so I will close this issue.

[2022-01-31 11:20] #1228 closed

[2022-01-31 12:31] postscript-dev commented on #1941
After reading your comments and re-reading old posts, I think that I understand this now. It has been difficult investigating the tags, as I have no experience with the hardware and cannot experiment with it either. Thanks for explaining.

I don't have an answer to your hardware problems, just general advice.
1. Check that all hardware contains the latest firmware version. If a new version exists,

[2022-01-31 22:15] clanmills commented on #1890
@nehaljwani I can't track down my message to you on 2022-01-10.  This is really odd.  It was on GitHub, yet my last contribution to GitHub was on 2022-01-09.

Anyhow, I've looked at https://web2.exiv2.org/  and that's looking good and ready to "Go Live".  My main concerns were the book and the downloads page.  You've fixed them.  You've done some very good work on the Archives pages to retain the

[2022-02-01 05:34] nehaljwani commented on #1890
I've turned off the AWS instance yesterday. All websites (except pre-release) are being hosted by GitHub now.

The last snapshot of Redmine is available at: https://github.com/Exiv2/dev.exiv2.org/releases/tag/2022.01.31

The last snapshot of the (entire) svn repo is available at: https://github.com/Exiv2/svn.exiv2.org/releases/tag/2022.01.31

I've also added: https://testdata.exiv2.org

I'll delet

[2022-02-01 08:46] 1div0 commented on #1890
Namaste Nehal.

Looks good.

Thank you so much.

[2022-02-01 14:55] postscript-dev commented on #1890
@nehaljwani: While looking for something in Exiv2's Redmine website, I noticed a couple of small things.

If I try to search on https://dev.exiv2.org/ then I get a GitHub 404 error.

Also, if I search in  https://dev.exiv2.org/projects/exiv2 then I don't get any results - even for something common such as *"the"*. The URL of the results page contains my search term but all the values in the page a

[2022-02-01 15:25] nehaljwani commented on #1890
@postscript-dev That's expected as it is static hosting. There is no server side computation, so search won't work anymore. It is not a full Redmine deployment, as it would require a dedicated compute resource. My primary aim was to simply keep all the existing URLs working so that if any URL was cached by a search engine, it would still work and won't throw a 404.

If it is _really_ needed, one c

[2022-02-01 15:38] postscript-dev commented on #1890
@nehaljwani: Thanks for the quick reply.

I rarely use Exiv2's Redmine website, so this isn't that important to me. Although the search is useful, unless there is a simple solution, I am happy to leave this.

[2022-02-01 18:46] clanmills commented on #1890
@nehaljwani I really don't think it's worth spending more time on Redmine.  We moved on from Redmine when v0.26 shipped in April 2017.   _(it's hard to believe it's 5 years ago now)_.  What you have done seems good enough.

I'd like to echo Peter K's "Namaste" to You.  Great Job, Nehal.  I'm sure the rest of the gang will give @nehaljwani a round of applause.  @kevinbackhouse @alexvanderberkel @ha

[2022-02-01 23:36] alexvanderberkel commented on #1890
Absolutely great work @nehaljwani!

[2022-02-03 12:24] clanmills commented on #1890
@nehaljwani  Some user feedback.  No action required by you.

I find it impossible to clone the team resources over https (and therefore my book and bin directories).

[code]

I've cloned it with ssh by following this article:  https://www.geeksforgeeks.org/using-github-with-ssh-secure-shell/

I believe it essential to _use the username **GIT** on the git clone ssh command_:

[code]

[2022-02-05 10:32] piponazo opened #2074 "Better integration of PVS-Studio with github actions"
##### **Is your feature request related to a problem?**
We are adding a CI job to perform static analysis checks to our project via PVS-Studio: see #2061.
At the moment we are just running this check, generating a HTML report and storing it as an artifact that can be downloaded an examined.

It would be great to spend some more time on the integration of the tool with Github actions in order to ha

[2022-02-05 13:31] clanmills commented on #582
https://github.com/Exiv2/exiv2/pull/906

[2022-02-05 13:31] #582 closed

[2022-02-06 11:08] postscript-dev commented on #2057
@GitHubbero: Sorry for the delay replying, I needed to finish some other jobs first. I don't have much free time this week but your issue is the next task that I intend to work on.

[2022-02-06 11:37] clanmills commented on #2057
@postscript-dev Thanks for getting involved with this, Peter.  I know you're doing lots of good stuff for Exiv2 _**AND** you have a life to live!_  I'm sure @GitHubbero appreciates your efforts.

@GitHubbero I've thought of other ways to check the version of exiv2 being used by **darktable**.

1.  use `$ lsof | grep darktable | grep exiv2`
On my Linux VM _(polluted by building exiv2)_ it shows lib

[2022-02-06 13:42] GitHubbero commented on #2057
@postscript-dev I appreciate definitely you effort. And there is no pressure by my side.

And thank you @clanmills for your thoughts, but I use Windows as platform and so it's always a bit harder around the darktable environment. Sorry for that.
But I can't imagine, that the newest darktable version (which I installed only about 4 weeks ago) uses an old exiv2 version. Therefore I assume I have the

[2022-02-06 14:34] clanmills commented on #2057
@GitHubbero I forgot you're using Windows.  BTW I like Windows _(but don't tell anybody)_.  Use procexp.exe to determine which exiv2.dll is being used.  https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer  We'll have to update the exiv2 build to add a public "version" to the DLL properties which would be visible in procexp.exe

If your version of darktable supports BMFF (Canon

[2022-02-06 15:06] GitHubbero commented on #2057
Yes I am working with .CR3 and darktable shows me correctly the image data. Except the lens data of RF 24-105

[2022-02-08 20:29] mallman opened #2082 "Contributor documentation for running tests does not work"
Hello.

I am working on a PR and following the contributor guidelines in [CONTRIBUTING.md](https://github.com/Exiv2/exiv2/blob/4ae42b107dca8daf2a1877d3c3e6d4f5c22ab322/CONTRIBUTING.md). At step 7 of the instructions for submitting a PR, the contributor is instructed to run the tests as follows

[code]

However, I'm unable to get either of these to work. What I do see is

[code]

I'd like to exerci

[2022-02-08 21:07] clanmills commented on #2082
@mallman Michael.  That documentation concerning test is out of date.  Quite recently, we upgraded our test environment to use `ctest` and this is documented in `README.md`.

We'll need a PR to fix `CONTRIBUTING.md`.  Rather than getting into a documentation _race condition_, CONTRIBUTING.md should say something generic such as:

----
The basic command to builds and test are:

[code]

Although I w

[2022-02-08 21:41] mallman commented on #2082
Hi @clanmills. I got the tests to run. The missing magic was

[code]

🤦

[2022-02-08 21:49] piponazo commented on #2082
Please note that I am making some changes at the moment that are related to how to run the tests at #2080.

Basically we want to be able to run more tests without needing to enable the sample applications (`-DEXIV2_BUILD_SAMPLES=ON`).

[2022-02-08 22:22] mallman opened #2083 "Unit test test_issue_1959.py fails when run on a system whose UTC offset is nonzero"
##### **Describe the bug**

Unit test test_issue_1959.py fails when run on a system whose UTC offset is nonzero. For example, this test fails on my system, where the time zone is set to Pacific Standard Time. However, the failure is simply a result of the test expecting `exiv2` to run with a UTC offset of zero.

##### **To Reproduce**
Steps to reproduce the behavior:

Run ctest on a machine with a

[2022-02-08 22:28] mallman commented on #2083
I've submitted PR #2084 to address this issue.

[2022-02-10 09:59] clanmills commented on #2082
I'm going to re-open this issue.  @piponazo has made the build changes concerning the sample programs #2080.  The documents README.md and CONTRIBUTING.md should be reviewed and corrected.

[2022-02-10 14:34] clanmills commented on #2083
@mallman Can you run the test as follows and send me your output please.  Here's what I get in England (GMT, UTC):

[code]

[2022-02-10 15:21] kmilos commented on #1996
Indeed, this is already done in `src/basicio.cpp`, so still not sure where exactly is the problem, it seems we're just missing a bit of plumbing somewhere...

[2022-02-10 15:52] clanmills commented on #2082
Luis has stepped into this one.  Thanks.

[2022-02-10 17:01] neheb commented on #1996
Since this is C++17 now, I looked at https://github.com/jarro2783/cxxopts . It seems to use ICU though...

[2022-02-10 17:55] mallman commented on #2083
Here you go!

[code]

[2022-02-10 18:12] piponazo commented on #1996
I think I know how to deal with this!

[code]

This project seems to have the answer to properly get UTF-8 encoded `argv` without messing with the argument parsing part. I'll try to bring this into exiv2.

[2022-02-10 18:46] clanmills commented on #1996
Well Done, Luis.  You are a wizard.  Take the rest of the day off.

[2022-02-11 13:37] #2082 closed

[2022-02-13 17:49] paolobenve opened #2095 "https://pre-release.exiv2.org/ offline?"
I get:

[code]

[2022-02-13 21:16] clanmills commented on #2083
Michael @mallman Thanks for sharing this with me.  I don't know why I'm only seeing this email today on Sunday when you posted it on Thursday.  I know I've spoken to you elsewhere about this when I remembered how to "go home" to California.  The issue is being caused by the metadata convertors.

I think the aim of the test is to read sidecar files (.xmp).  Choosing a side-car file which doesn't ha

[2022-02-13 21:47] piponazo opened #2096 "CI: Cache pip installation folders"
The installation of conan can take a huge amount of time in CI jobs (specially on windows ones):
![image](https://user-images.githubusercontent.com/102645/153776464-21b96849-8db9-443b-b61b-a3552127cf21.png)

As we are doing already in some jobs with the conan-cache, we should try to also cache the pip installation folder, so that we do not need to install conan and its dependencies over and over.

[2022-02-14 01:46] nehaljwani commented on #2095
Thank you for reporting.

Fixed via https://github.com/Exiv2/team/commit/7933b345b9c36e4d26d2ea17af8b0066c5d16c8b .

[2022-02-14 01:46] #2095 closed

[2022-02-14 02:39] paolobenve commented on #2095
I'd say that `https://pre-release.exiv2.org/` is now identical to `https://exiv2.org/`, is it ok?

[2022-02-14 03:18] nehaljwani commented on #2095
The pre-release web pages have:

- The 'Pre-Release' slanting text in background on each page, and
- The download page on pre-release points to the last release candidate

Isn't the rest supposed to be identical?

[2022-02-14 09:07] clanmills opened #2097 "Changes to tagInfo to support Exif.Canon.AFInfo"
I added a vector of keys (in src/exif.cpp) which must not be written by writeMetata().

[code]

Because I was working on 0.27-maintenance, I could not modify the API.  However a better way would be to add a `bool bManufactured` field to tagInfo to indicate that this tag must never be written.

[code]
If tagInfo is modified, the code in taglist.cpp should be modified and propagated to the web-site

[2022-02-14 12:42] clanmills commented on #2083
This looks mostly pain free.  There's a comment in src/xmpsidecar.cpp

[code]

That refers to 1112 on redmine.  So this was about 2014 or so.

The 1112 issue was that the XMP to Exif convertor rounded the XMP (XML date with TZ and decimal point seconds) to Exif seconds (which at that time didn't support sub-seconds, or TZ offsets).  Then the Exif to XMP convertor copied the Exif DataTime into the

[2022-02-14 15:37] #1996 closed

[2022-02-14 15:40] piponazo commented on #1996
@Sparsh-Bansal I just merged a change that should fix this bug. Tomorrow you should be able to download the automatically generated nightly build from:
https://github.com/Exiv2/exiv2/releases

Please let us know if it fixes your issue.

[2022-02-14 18:31] clanmills commented on #2095
0.27.5 RC3 is Release Candidate 3 for v0.27.5.  It's older than v0.27.5.  We call it a "candidate" because it will morph into v0.27.5 if no bugs are reported.

Our number system is conventional and documented here:  https://github.com/Exiv2/exiv2/security/policy

[2022-02-14 19:24] clanmills commented on #2095
There is a little error on https://pre-release.exiv2.org.  It is correctly labelled "Pre-Release".  The footer says "Exiv2 v0.27.5.3" and it should say "Exiv2 v0.27.5 RC3".

We are in a transition and moving the web-site to GitHub.  I think Nehal had to regenerate the site yesterday because every page is dated: 'Last modified 2022-02-14 01:42 UTC'.  We're also in the transition as Nehal steps into

[2022-02-14 23:24] clanmills commented on #2095
Nehal (@nehaljwani).  I've made a zip of the backup of pre-release.exiv2.org on 2021-10-04.  RC3 was created on 2021-10-01 and released on 2021-10-02.  https://clanmills.com/exiv2/pre-release-2021-10-04.zip

Can you could deploy this on pre-release.org.   This is a 417mb download.  It's big because it has copies of every release of Exiv2 going back to 2004.  Let me know when I can delete this from

[2022-02-15 07:27] piponazo opened #2100 "Trigger Linux-Distributions jobs on PRs"
##### **Is your feature request related to a problem?**
I noticed that the "Nightly - Linux Distributions" builds is failing on the `main` branch after merging #2090. However, in that PR all the CI checks were passing.

##### **Describe the solution you would like**
It would be good to also trigger the "Linux Distributions" builds in PRs, so that we do not end up breaking something in `mian` witho

[2022-02-15 07:39] hassec commented on #2100
Running the entire workflow on PRs might be a lot. (It's 48 builds)
But I do think it makes sense to have a build of one of the older distros in the PR pipeline :+1:

[2022-02-15 07:47] piponazo commented on #2100
I agree that it might be intimidating to have so many CI stuff in PRs , but it is actually one of the CI pipelines that take less time:

![image](https://user-images.githubusercontent.com/102645/154015732-a6ca2469-fddf-482c-af3e-1a67626877ab.png)

It takes half of the time that the "Windows Matrix" pipeline last. And if the CI pipelines run in parallel we should not get any delay.

[2022-02-15 08:39] hassec commented on #2100
I didn't realize that pipeline was that quick. That's way quicker than many of the windows pipelines :sweat_smile:
In that case :+1: from me

[2022-02-15 22:30] mallman commented on #2083
Hi @clanmills.

I don't think that an image with an embedded `Exif.Photo.DateTimeOriginal`, such as https://exiv2.org/Stonehenge.jpg, is an accurate proxy for the problem described in this issue (and in #2084). In that case, we only have an XMP sidecar, and it does not provide a sort of `DateTimeOriginal`—at least, that's my claim.

The problem is we don't have `Exif.Photo.DateTimeOriginal` and ar

[2022-02-15 23:20] clanmills commented on #2083
@mallman I think there are two different subjects here.  The first and immediate puzzle is to get the #1959 test to pass.  The test in #1959 arrived with a request from IPTC to provide support for changes to their standards.  I've outlined an approach that I believe will result in #1959 passing without causing issues to existing tests.

The second puzzle is the specification for the convertors.  A

[2022-02-16 00:53] mallman commented on #2083
Done! (Indirectly, but done nonetheless)

Let's take this out of scope. I thought—naively—that this time conversion issue could be contained to a tidy scope. Wrong. Moving on to more higher priorities...

[2022-02-16 00:53] #2083 closed

[2022-02-16 06:41] #2059 closed

[2022-02-16 08:04] diizzyy opened #2104 "Add FreeBSD to CI"
Hi,

Not sure if this is categorized correctly but it would be appreciated if you could at least add one BSD-distro to CI such as FreeBSD (I know MacOS is kinda BSD-ish though).

I'd also like to thank everyone for their work and effort on exiv2.

Best regards,
Daniel

[2022-02-16 11:51] piponazo commented on #2104
Hi @diizzyy , you are in the right place. I just added an additional `CI` tag to your issue.

Would/Could you contribute to add such platform to our CI pipeline? It is not a difficult task, it normally involves touching just 2 files:

[code]

[2022-02-16 12:16] clanmills commented on #2104
@diizzyy Thanks for brining up this matter.

When we shipped 0.27 (December 2018), I installed FreeBSD, NetBSD and Solaris VMs on my MacMini and updated README.md to document my experience.  I did this because @[lantw44](https://github.com/lantw44) reported several build issues on FreeBSD on Exiv2 v0.27.0 RC1.  All were fixed and tested and no further FreeBSD issues have been reported since.

I wa

[2022-02-16 22:31] jwilk opened #2105 "image.hpp:30:10: fatal error: image_types.hpp: No such file or directory"
`image.hpp` includes `image_types.hpp`, but the latter doesn't get installed:

[code]

Observed in the `main` branch (287744fa12142111f2ad2117ef455d5e5322e2c2).

[2022-02-17 07:49] piponazo commented on #2105
Thanks @jwilk for informing about this. I'll fix it right away

[2022-02-17 08:18] #2105 closed

[2022-02-18 20:52] piponazo opened #2108 "test_pr_1905.TestExifTagsInTaglist depends on cut command"
##### **Describe the bug**
The test file `tests/bash_tests/test_pr_1905.py` depends on the `cut` command available on bash shells. Therefore, when one tries to run all the project tests with `ctest` on windows with CMD or PowerShell, that test fails:

[code]

[2022-02-18 22:07] piponazo commented on #1995
This is interesting, I never put too much attention to that part of the code. As @hassec mentioned, right now the method `findKey()` does a linear search. However we have the option to call `sortByKey` and afterwards we could do a binary search ...

One could use `std::lower_bound` or `std::upper_bound` and use the begin() and end() iterators from ExifData to achieve that.

Now I wonder what's the

[2022-02-18 22:23] postscript-dev commented on #2108
@piponazo :
Thanks for pointing this out. I created the original PR and will take a look at this tomorrow.

[2022-02-19 10:33] jim-easterbrook commented on #1995
If it ain't broke don't fix it. Surely `ExifData` provides a bit more functionality than you'd get from the bare `ExifMetadata`.

[2022-02-20 21:38] #2108 closed

[2022-02-23 14:24] clanmills opened #2114 "ASAN crashes in exiv2 on 'main' with the command `$ exiv2 -vVg exiv2` (on M1 Mac)"
I believe the crash occurs in the exiv2 application and not in the library.  Therefore I don't believe this is a security issue.  It was discovered and mentioned:  https://github.com/Exiv2/exiv2/pull/2110#issuecomment-1048831136

[2022-02-24 09:47] clanmills commented on #2074
@piponazo Head's up, Luis.  There's "secrets advisory" concerning PVS_KEY and PVS_USERNAME being exposed somewhere.

https://github.com/Exiv2/exiv2/settings/secrets/actions

[2022-02-24 10:48] clanmills opened #2115 "ASAN: exiv2 command throws on `exiv2 -pa test/data/_DSC8437.exv`"
When built with   -DEXIV2_TEAM_USE_SANITIZERS=On, we get an ASAN error in app/actions.cpp.  I suspect this is because we have "downgraded" the metadata from Exiv2::ExifData to Exiv2::Metadata.  It works in "normal build".  Maybe it only needs a dynamic cast.
[code]

[2022-02-24 11:39] clanmills opened #2116 "Ugly/benign linker warnings on macOS / AppleClang"
When I link on macOS with the M1 chip, I get thousands of warning such as:

[code]

The fix was on redmine and I believe I opened an issue in January on GitHub to record this knowledge.  I can't find that issue report.  @nehaljwani Can you remind me how to access the read-only copy of redmine?

There is magic in cmake/mainSetup.cmake concerning visibility and it's ignored on macOS/Clang.  Enabling

[2022-02-24 12:06] clanmills commented on #2116
I found the issue on GitHub:  https://github.com/Exiv2/team/issues/2  @nehaljwani You're off the hook.  I don't need access to redmine.

The proposed fix: _Just need to add -fvisibility=hidden to EXTRA_COMPILE_FLAGS._ didn't fix it for me!

[2022-02-24 19:27] clanmills commented on #2115
This is duplicate of #2114.

[2022-02-24 19:27] #2115 closed

[2022-02-24 19:32] piponazo commented on #2074
Hi Robin, I replied to you in the team chat. Let's discuss this privately.

[2022-02-24 22:29] mallman opened #2117 "Test suite reports many "undefined-behavior" from UBS when run with EXIV2_TEAM_USE_SANITIZERS=ON (on M1 Mac)"
Ctest reports multiple failures and errors when running the ctest suite on my M1 Mac when exiv2 is built with address and undefined-behavior sanitizers turned on:

[code]

I don't see these problems being reported on the PR builds, though I do see one build for my PR #2110 that runs with the sanitizers turned on (see https://github.com/Exiv2/exiv2/runs/5296490321?check_suite_focus=true). This buil

[2022-02-24 22:50] piponazo commented on #2117
Interesting to see that our mac CI jobs are using gcc instead of clang. Definitely we need to adapt our CI jobs to also use clang. The compaliner is available in the github macos virtual environment:

https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11-Readme.md

I'll look into the CI part. However I could not look into how to fix the issue without one of those beautifu

[2022-02-24 23:03] mallman commented on #2117
Hi @piponazo. Thanks for joining this issue so quickly.

I think I could have been clearer in my description. The online builder is indeed using clang for building on macos. It's using gcc for ubuntu.

[2022-02-25 01:19] mallman commented on #2117
I can report two additional discoveries. When I build exiv2 for the x86_64 architecture only, the tests pass with the sanitizers enabled. Second, github actions do not support Mac arm64 environments: https://github.com/actions/virtual-environments/issues/2187.

I'm going to look into this issue further.

[2022-02-25 01:26] mallman commented on #2117
Looks like I pressed the "Comment" button a little too soon. The tests take a long time to run in Rosetta mode. A looooooong time. Now that they've completed I do see exactly one test failure, but I'm on a relatively "old" commit of main. I'm not planning to report it at the moment. I just want to make the case that it's worth our while to add a Mac-based PR builder that runs with the sanitizers e

[2022-02-25 01:52] mallman commented on #2114
Note, I'm unable to reproduce this issue when I run exiv2 in x86_64 Rosetta mode on an M1 mac. I do see this issue with the arm64 build:

[code]

[2022-02-25 06:21] clanmills commented on #2117
@piponazo I believe you have credentials for my intel/x64 MacMini.  You were able to access it as exiv2.dyndns.org.  That DNS entry has evaporated.  I think you can access it with the IP address.  Send me an email and I'll give you my IP address.  _It's not static, however it seldom changes_.

I think I can put ssh on another port (not 22) on the arm64/m1/AppleSilicon MacBookPro (which is indeed a

[2022-02-25 06:25] clanmills commented on #2114
This issue seems to be with Apple clang 13.0.0 on the arm64/m1/Apple Silicon platform.
https://github.com/Exiv2/exiv2/issues/2117#issuecomment-1050561782

@mallman  Can you reproduce my finding concerning the scope of this issue.

[2022-02-25 06:37] clanmills commented on #2114
The following test are on your branch with -DEXIV2_TEAM_USE_SANITIZERS=On

MacBookPro arm64/m1/AppleSilicon:

[code]
MacMini x64/intel:

[code]

I believe there's a "dirty hack" fix.  The crash is coming from regex.  I believe we can modify CMakeLists.txt to avoid using regex on arm64.  I'll investigate today (Friday) while you're sleeping.

[2022-02-25 07:13] piponazo commented on #2117
@mallman Right, I should not have read the issue so quickly and at the end of a long day. Thanks for the clarifications 😉 . Anyways, it was good that you brought this to our attention. I noticed that we are only running on CI jobs with sanitizers on Linux + GCC. It might be good to add also some more jobs like:
* MacOS + clang + sanitizers
* Windows + VS2022 + sanitizers

Maybe this help us to fin

[2022-02-25 07:24] clanmills commented on #2115
I'm reopening this.  It's similar to #2114.  This issue crashes with `vptr for Exiv2::Exifdatum`.   #2114 is crashing in `vptr for 'std::__1::__empty_state<char>'`

Like #2114,  it happens on macOS arm64 (m1/AppleSilicon) and not on macOS-X x64 (intel).  My mac/intel machine does not support the latest Clang or macOS version.

[2022-02-25 07:58] #2050 closed

[2022-02-25 08:05] clanmills commented on #2114
Because 'main' is C++17, it always uses `std::regex` for the `exiv2 -g` option.  The 0.27-maintenance CMake/Regex code to implement `-g` with regex.h or regex or sub-string-match has been _correctly_ removed.

It is possible to totally avoid regex by changing src/version.cpp `shouldOuput()` to return true.  However as `exiv2 -g` is frequently used in the test suite, this evades the crash and cause

[2022-02-25 16:50] clanmills commented on #2114
@piponazo.  I looked at the regex documentation to see if I could do a sub-string match by obtaining the pattern from the regex.  I didn't find anything to help.

I didn't step the code in the debugger.  My suspicion is the Clang C++17 compiler is nervous about something involving the `vptr` as we also saw in #2115.  The code (for both this and 2115) seems to run correctly when ASAN is not enabled

[2022-02-25 20:56] mallman commented on #2117
I agree. I think it will also help us refer to specific builds as broken.

[2022-02-25 22:14] mallman commented on #2117
@clanmills I don't have a copy of Xcode 12, but I have a macports build of clang 12. Note, I'm running tests against commit c5a9dfd9af7d1e2f35e2db8dedf7d780e6a411b0, using the debug build variant of exiv2.

| Platform | -DEXIV2_TEAM_USE_SANITIZERS= | ctest | Compiler |
| --- | --- | --- | --- |
| x86_64 | On | Failure in bashTests*, bugFixTests** | clang version 12.0.1 |
| x86_64 | Off | Pass | cl

[2022-02-25 22:17] mallman commented on #2117
It seems the common factor in the "lots of failures" circumstances is the arm64 platform, not the version of clang. Unfortunately, github actions doesn't have an environment for the mac arm64 microarchitecture.

[2022-02-25 22:34] mallman commented on #2114
I have not looked into the regex failure. I have run `exiv2 -pa test/data/_DSC8437.exv` through the Xcode debugger on arm64 architecture and found something that I don't understand. Granted my understanding of C++ is limited, but as I understand it the ubsan is complaining because it's expecting an object of type `Exiv2::Metadatum` and finding an object of type `Exiv2::Exifdatum` instead. This puz

[2022-02-26 08:11] clanmills commented on #2114
I've remembered why I didn't run this in the debugger.  Xcode is unable to build exiv2 with `-DEXIV2_TEAM_USE_SANITIZERS=1`.  Fails to link.  Can't find the ASAN libraries (or something like that).

I've never learnt gdb.  Maybe I can use Xcode or Eclipse to step a debug build created in the terminal.   Maybe we can add something to CMake to compile app/actions.cpp without the ASAN settings and ev

[2022-02-26 08:15] piponazo commented on #2114
Taking a look at the code I do not see anything wrong with it, it looks like perfectly valid usage of inheritance in C++. When I have some time I can try to also compile and run this on a Rasperry Pi which also has ARM processor, just to check if the problem is also reproducible there.

[2022-02-26 08:53] clanmills commented on #2114
This is a corner case.  Its a "engineering build" _(not a production build)_ on the arm64/m1 processor.  It's the corner in which Michael and I work.  The other 99% of users will never see this.

I can't remember why we became interested in the ASAN build this week.  We were dealing with Nikon/MakerNote/AF and wandered off the trail into this jungle.  @mallman Can you remember why we are using ASA

[2022-02-26 16:54] kevinbackhouse commented on #2114
This looks like a bug in the clang UBSAN implementation on Mac. I can't reproduce it on Linux.

[2022-02-28 08:38] piponazo opened #2119 "Create test case for JPEG-XR images"
#1919 added preliminary support for JPEG-XR images.

A test image was provided in #1946 and we need to create a test case to validate the correct functioning of the new piece of code.