[2018-03-05 08:47] clanmills commented on #236
Progress with decoding the Canon uuid box.  It's a linked list of records:

[code]
I can extract the uuid with this:  (24 = 16 bytes for the UUID + 8 bytes for the UUID marker)
[code]
I've written a utility dumper.cpp (code below):
[code]
CTM1,2,3,4 looks like tiffs.  Exif metadata probably.  Why 4?  Don't know yet.
THMB is probably a thumbnail (JPEG perhaps)?

[code]

[2018-03-05 08:52] LebedevRI commented on #236
Well, we do have 3 actual Streams in the mdat, so one per each of those + one general IFD?

[2018-03-05 09:03] clanmills commented on #236
Good Morning, Roman.  Hope the weather's warmer for you this week.

I'm going to leave you to investigate the MDAT because I believe it's a JPEG with no metadata.  I don't see an IFD in the MDAT.  If you know how to locate that, I'll investigate that after I understand the moov/uuid.  And we've already identified the XMP.

I'm focused on the Canon **_uuid box_** in the moov.  I've run out of time

[2018-03-05 09:11] LebedevRI commented on #236
(I was talking about the fact that the CR3 `ISO BMFF` has exactly 4 `trak` boxes, so my guess would be that it's for each of those)

[2018-03-05 10:16] clanmills commented on #236
Thanks, Roman.  We'll figure this puzzle.  4 trak boxes.  Yes - that's right.

Last discovery for Monday morning before I get on with what I should be doing!  The THMB record contains a JPEG 120x160 thumbnail.

It's 24 bytes into the record.  Why 24? 4 bytes for the link in the list, 4 for THMB followed by 16 bytes.  For extracting thumbnails, we probably never need to know.  Exiv2 has never been

[2018-03-05 19:25] clanmills commented on #236
Phil Harvey (ExifTool) knows about .CR3 files:

[code]

There is also helpful document.  See "Canon uuid Tags" on this page:  https://www.sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html

Tag ID | Values / Notes | Comment
------ | ---------------- | -------
CCTP | CanonCCTP |
CMT1 | EXIF Tags |
CMT2 | EXIF Tags |
CMT3 | Canon Tags | https://www.sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon

[2018-03-08 16:32] cgilles opened #237 "Xmp.video.AspectRatio not defined as Rational (typo)"
[code]

[2018-03-08 17:16] clanmills commented on #237
Good to hear from you twice today, Gilles.  I hope everything's good with you and yours.  I've added you in as a contributor to Exiv2/exiv2.  Can you submit this as patch, please?

[2018-03-09 15:56] clanmills commented on #236
I think I've got a good understanding about the scope of this project.  We're having a team meeting in May #225 when we'll discuss the specification and schedule for v0.27.

[2018-03-09 16:00] clanmills commented on #235
I think I've got a good understanding about the scope of this project and documented my investigation #236  We're having a team meeting in May #225 when we'll discuss the specification and schedule for v0.27.

Read/write support for WebP was added for v0.26 in August/September 2016 and took about 4 weeks for two engineers (that's totally finished with test harness and building on all platforms).

[2018-03-09 16:06] LebedevRI commented on #235
Hopefully the same mistake won't be repeated yet over again, and there won't be a write support for CR3.

[2018-03-09 18:47] clanmills commented on #235
I'm not sure I've understood what you've said.  We support read/write on most formats.  Why would we not support read/write for CR3?  Even to change the timestamp in an image requires read-write support.

If you're wondering why WebP took that 4 weeks, it's because it's 1000 lines of C++, plus test and build support.  Neither Ben nor I were working full-time.  Perhaps about 100 hours each over abo

[2018-03-09 19:22] LebedevRI commented on #235
That was exactly the point.
I'm not against write support for TIFF/etc.
I (we, any dt dev, any sane person working with the raw processing, ...) is against writing into the raw files.
There has been way more than one bugreport with raws becoming broken after such manipulations.

But i'm going to stop with my offtopic/hijacking comments now, sorry.

[2018-03-09 20:23] clanmills commented on #235
Ah, yes.  I now understand your point of view.  We could declare CR3 as readonly because editing the image makes it no longer RAW.  You've reduced the effort of this project by 70%!

Exiv2 knows nothing about pixels.  It only reads/write/modifies metadata.  Image data (pixels) are preserved.  Exiv2 should enable CR3 read/write for time-stamps and other non-image metadata.

Incidentally, in Googlin

[2018-03-13 10:56] clanmills commented on #236
I've written code to search for tiff structures in a binary file.  It's "simple minded" and only searches for the pattern `**_II*\0_**` or `**_MM\0*_**` and reports the location.  Discovered tiffs can be extracted with the utility dd.  Although there is binary data with the `**_II*\0_**` finger-print in MDAT, none of these structures is a valid tiff.  It's just a coincidence.

[code]

Here's the c

[2018-03-13 11:26] lclevy commented on #236
In mdat, to be more accurate, there are IFDs, that are parsed by ExifTool 10.82

[2018-03-13 11:27] clanmills commented on #236
Here's a snippet from the -verbose out from ExifTool.
[code]
CTMD (SubDirectory) -->
+ [CTMD type 1 directory, 18 bytes]
+ [CTMD type 3 directory, 10 bytes]
+ [CTMD type 4 directory, 18 bytes]
+ [CTMD type 5 directory, 34 bytes]
+ [CTMD type 7 directory, 1716 bytes]
| ExifInfo (SubDirectory) -->
| + [TIFF directory]
| | ExifByteOrder = II
| | + [IFD0 directory with 1 entries]
| | | 0)  SceneCaptur

[2018-03-13 11:52] clanmills commented on #236
@lclevy @LebedevRI Thanks Guys.  I'm mistaken.  There is a valid tiff in the mdat.  I still don't have a complete understanding of how all the data is organised in CR3, however we're making good progress.  And I'm enjoying working with you both.  Thanks.

[2018-03-19 15:08] boardhead commented on #236
The CTMD type 1, 4 and 5 directories contain timestamp, focal-length and exposure information respectively.  ExifTool 10.87 will decode these too.  I still don't know about type 3 though.

[2018-03-19 15:14] lclevy commented on #236
Hi Phil,
Thanks for the info.
I have made progress on the craw proprietary format, and found canon code which handle it, in dpp 4.8.20. Do you know someone else working on it ? So that we can work together?
I would to create an open source decoder.
Kind regards
Laurent

⁣Envoyé par Blue ​

Le 19 mars 2018 à 16:08, à 16:08, Phil Harvey <notifications@github.com> a écrit:

[2018-03-19 15:20] clanmills commented on #236
Could you share your code please, Laurent?  I was working on my decoder **_(tiffs.cpp)_** on Friday and will put a new version here later this week.

[2018-03-19 15:21] LebedevRI commented on #236
I would to create an open source decoder.

Is there a specification? As you are well aware, i'm kinda working on it in https://github.com/darktable-org/rawspeed/issues/121

[2018-03-19 15:25] lclevy commented on #236
I just noticed that canon software for C200 and m50 (dpp 4.8.20 from Canon Asia) do handle ftypcrx box. There is a file named crxdec.dll
Maybe we can use this file as sdk?

⁣Envoyé par Blue ​

Le 19 mars 2018 à 16:20, à 16:20, Robin Mills <notifications@github.com> a écrit:

[2018-03-19 15:28] clanmills commented on #236
dpp 4.8.20 from Canon Asia = http://support-th.canon-asia.com/contents/TH/EN/0200544802.html

I haven't downloaded this.  Looks like an executable binary.

[2018-03-19 15:39] lclevy commented on #236
It allows conversion from cr3 files to tiff and JPEG, as well as displaying cr3 metadata

⁣Envoyé par Blue ​

Le 19 mars 2018 à 16:29, à 16:29, Robin Mills <notifications@github.com> a écrit:

[2018-03-19 16:08] clanmills commented on #236
I need a Camera Serial# to download the bundle.

[2018-03-19 18:26] boardhead commented on #236
Exiftool extracts a serial number of 613040000565 from the sample images posted.  You could try that.

[2018-03-19 19:14] clanmills commented on #236
Phil:  Thanks.  That did the trick.  Let's delete the post with the number (and then I'll remove this message).  I'm sure/hope Canon Legal have better things to do with their time than giving us a hard time.  However let's not tempt the dragon out of its lair!

[2018-03-19 19:46] clanmills commented on #236
Gentlemen:  DPP4 is an impressive application.  It does have a metadata dialog box (View/Info) with tabs.  Curiously, under tab "IPTC/XMP" is shows categories with no meaningful data.  Maybe the camera firmware engineers didn't tell the DPP Developers about the uuid for XMP!  In the test file, the XMP only has "Rating 0".  Anyway good progress.  I'll spend more time looking at this later in the we

[2018-03-19 19:50] clanmills commented on #236
There is a Canon Digital Camera SDK available in SE Asia.  I'd have to sign an NDA to obtain that, so as Exiv2 is licensed under GPLv2, I suspect the NDA would cause me trouble.  I feel we're close to unravelling the .CR3 format.  I'll spend time on this later in the week and give everybody an update on my progress.

[2018-03-19 21:55] lclevy commented on #236
updated: https://github.com/lclevy/canon_cr3
(only by examining samples)

[2018-03-19 21:58] lclevy commented on #236
the hardest part is understanding the compression algorithm. not sure it is possible

[2018-03-19 22:15] clanmills commented on #236
@lclevy  Nice job of updating your "spec" for CR3.

[2018-03-19 23:38] D4N commented on #176
#205 has been merged a while ago now.

[2018-03-19 23:38] #176 closed

[2018-03-19 23:41] D4N commented on #187
The fix for this and the reproducer are on master.

[2018-03-19 23:41] #187 closed

[2018-03-20 18:23] piponazo opened #243 "Update to latest conan version and solve issues"
We have been observing some issues in the CI jobs with conan on different platforms:

https://travis-ci.org/piponazo/exiv2/jobs/355986434
https://travis-ci.org/piponazo/exiv2/jobs/355986435

We need to update to the latest conan version, updates the recipe versions (if needed) and try to make stable the CI jobs again.

[2018-03-21 09:00] D4N commented on #168
#199 has been merged

[2018-03-21 09:00] #168 closed

[2018-03-22 22:01] D4N commented on #243
Guess we can close this then?

[2018-03-23 06:06] piponazo commented on #243
Yes!

[2018-03-23 06:06] #243 closed

[2018-03-23 09:37] xiaoqx opened #246 "a bug in Exiv2::Internal::stringFormat"
a bug results to segment fault in Exiv2::Internal::stringFormat, and it maybe a string format vulnerability which could be exploited.
the debug info as follows:
Breakpoint 1, Exiv2::Internal::stringFormat (format=0x7ffff78a1879 "%8ld | 0xff%02x %-5s") at image.cpp:1013
1013                rc = vsnprintf(&buffer[0], buffer.size(), format, args);
gdb-peda$ n

Program received signal SIGSEGV, Segment

[2018-03-23 09:57] xiaoqx opened #247 "Invalid memory access in Exiv2::Internal::printCsLensFFFF"
An Invalid memory access in Exiv2::Internal::printCsLensFFFF in canonmn_int.cpp:1773
the debug info as follows :
s-----------------------------------]
RAX: 0xb8
RBX: 0x0
RCX: 0x7fffffffdb10 --> 0x404570 --> 0xd00220000502f ('/P')
RDX: 0x644ad0 --> 0x0
RSI: 0x7fffffffdbdf --> 0x2000 ('')
RDI: 0x644ad0 --> 0x0
RBP: 0x7fffffffdd70 --> 0x7fffffffde10 --> 0x7fffffffde60 --> 0x7fffffffe000 --> 0x7ffffff

[2018-03-23 10:10] D4N commented on #246
Thank you very much for the report! I have a identified the issue, it is an out of bounds read and not a string format vulnerability. It can be fixed with the following patch:
[code]
I'll submit a fix for that, once I'll have more time.

[2018-03-23 11:24] emmenlau opened #248 "Can not build with Ninja on MSVC"
I'd like to use Ninja (https://ninja-build.org/) as a highly parallel cross platform build backend with exiv2. It works well on MacOSX and Linux, but fails on MSVC with error:
[code]
Its not a super high priority, but would be great to have Ninja support.

[2018-03-23 11:37] clanmills commented on #248
Thanks for reporting this.  I've heard of ninja because it's one of the Generator options in CMake.  I've never used it.  A couple of questions:

1) Have you any idea of the origin of this `LINK_PATH/LIBPATH` mystery?  It doesn't appear to come from an existing .vcproj, Makefile or CMakeLists.txt file.

2) The surest way to get something done in open-source is to submit a PR with the fix.  Would y

[2018-03-23 11:49] emmenlau commented on #248
Dear @clanmills , thanks for the quick response!

1. I'm sorry but I also do not know the `LINK_PATH/LIBPATH`, and AFAIK its not something I intentionally set. I just checked and found that `LIBPATH` is an environment variable that the Visual Studio build environment seems to define, but there is no `$` sign present there.

2. I'd be happy to contribute a fix but I don't have the slightest idea wh

[2018-03-23 12:04] D4N commented on #248
@emmenlau We use ninja to build exiv2 on Appveyor. You might be able to gain some insight from the `appveyor.yml` config file in exiv2's root directory.

[2018-03-23 12:52] clanmills commented on #248
Gentlemen.  I'll have a look at this afternoon.  We're discussing CMake with ninja for Visual Studio and running from a Cygwin/bash shell.  Ummmm.  How would it know the version of Visual Studio (2005/8/10/12/13/15/17)?

Dan's tip concerning appveyor is interesting.  I think Luis set that up.

Here's what I have on Cygwin/bash:
[code]
And on Windows 10:
[code]

Let me see what I can achieve with t

[2018-03-23 13:12] emmenlau commented on #248
It would be super great if you can give it a spin, but beware that my setup is indeed slightly special:

 - cmake should be the official binary from http://www.cmake.org
 - The Cygwin bash shell has to be started from a Visual Studio command prompt to define the build environment. Just start it from the command prompt with `bash --login`
 - To avoid confusion of `cmake`, move the PATH entries from

[2018-03-23 13:13] emmenlau commented on #248
But on second thought, please don't spend too much time on this issue! Its at least possible that the issue is unique to this special setup, and if its unique to me then I'd prefer not to waste anyones time!

[2018-03-23 14:05] clanmills commented on #248
Ah, you've sparked my interest.  I think the cmake/ninja generator must be use the environment strings initialised by vcvars32.bat.  I can't see how else it c ould know the version of Visual Studio.

Using the cygwin/bash is a challenge.  Our buildserver is a cygwin/bash script and has the magic code:
[code]

This fires up cmd.exe to execute a dos .bat file which initialises the CL/environment and

[2018-03-23 16:10] clanmills commented on #248
Loads of issues.  On cmd.exe, I get:
[code]

On cygwin/bash something similar:
[code]

I googled into this and found this:  https://stackoverflow.com/questions/6141608/cmake-make-program-not-found

I'm not sure why you are bothering with this.  There are other ways to build Exiv2 and we've never claimed to support CMake/Ninja on any platform.  I'm glad it's working for you on MacOS-X and Linux.

[2018-03-23 17:51] piponazo commented on #248
Hi! I am not sure if this could be an issue with Cygwin (I have never used it) but for me it works fine in normal command prompts or the power shell. This is how I do it:

[code]
And everything works like a charm.

@emmenlau If these steps do not help you, please tell me exactly the version of cygwin, cmake and Visual Studio that you are using, and exactly the commands that you are running, and I

[2018-03-23 23:24] D4N opened #250 "Port the old test suite to the new one"
We need to retire the old test suite so that we can move forward with #180 and other patches.

Unfortunately, that is a lot of grind work. So, if you happen to have a little time at your hand, please help.

### Progress

The main focus should be on the regression tests:

- [x] GitHub issues: #249
- [x] Redmine issues 426-825 (bugfixes-test.sh) (#287)
- [x] Redmine issues 1179 - 1305 (bugfixes-test

[2018-03-23 23:34] D4N opened #251 "exiv2 outputs non utf-8 characters"
When I was porting redmine issue 444 from the old to the new test suite, I always got an error from python that it could not decode the output as utf-8. The issue can be reproduced via:
[code]
The output of the first line depends on the terminal used. `st` and `xterm` show the `�` symbol, `st+tmux` shows nothing and `urxvt` shows `Ä`.

The issue is, that for certain metadata types exiv2 just forwa

[2018-03-24 08:11] #237 closed

[2018-03-24 08:20] clanmills commented on #251
Dan:  I don't think we need to port all of this.  The v0.26 version is safely stored on SVN and can be downloaded on-demand.  I'll take on the chore of porting the gXX issues to the new test suite.  We're off on a trip to Wales this week to celebrate our 44th Wedding Anniversary on Tuesday 27 March.  I'll start work on this after Easter when I'm home.

[2018-03-24 09:07] clanmills commented on #250
Dan:  You've done a very good job of documenting this.  I'll work on this after Easter when I get home from Wales.

[2018-03-24 15:56] D4N commented on #251
Don't worry about the gXX issues, they are taken care off by #249. The redmine issues on the other hand are a different story.

[2018-03-24 16:40] clanmills commented on #251
This is outstanding work, Dan.  A miracle.  Thanks very much.

We can download the redmine/svn test resources on demand.  There's no need to keep any of that on GitHub and we can obliterate test/bugfixes-test.sh and test/data/test-bugfixes.out to reduce the size of the repos.   Occasionally we will need to update those files on svn without adding a byte to GitHub.

[2018-03-27 08:54] emmenlau commented on #248
Dear @clanmills and @piponazo , thanks a lot for digging into this. I think it may really not make sense to go any deeper, I will close the issue. When I find some spare time I will check the Ninja build file to see why it pulls in an unresolved `\$(ConfigurationName)` variable.

But lets not worry about it now, I can build exiv2 with jom and thats fine too!

[2018-03-27 08:54] #248 closed

[2018-03-27 08:55] emmenlau commented on #248
PS: I will reopen this issue when I find the underlying cause :-)

[2018-03-28 07:27] #175 closed

[2018-03-29 01:22] xiaoqx opened #253 "Another outbound read in Exiv2::Internal::stringFormat"
This issue is another out bound read in Exiv2::Internal::stringFormat, it could result to segment fault at least.
the debug info as follows:
[----------------------------------registers-----------------------------------]
RAX: 0x0
RBX: 0x7fffffffd520 --> 0x7ffffbad8001
RCX: 0xffffffffffffffff
RDX: 0x28 ('(')
RSI: 0x7fffffe8
RDI: 0x1000000000000
RBP: 0x7fffffffd510 --> 0x644b70 ("      50 | 0xfffff

[2018-03-29 01:25] xiaoqx commented on #253
It was triggered by "exiv2 -pR $POC"

[2018-03-29 01:30] xiaoqx opened #254 "Two out of bound read when read tiff file"
out of bound read in function Exiv2::Internal::binaryToString and Exiv2::IptcData::printStructure,
the result info with valgrind as follows:
the first one :
==========
==29031== Memcheck, a memory error detector
==29031== Copyright (C) 2002-2013, and GNU GPL'd, by Julian Seward et al.
==29031== Using Valgrind-3.10.1 and LibVEX; rerun with -h for copyright info
==29031== Command: ./installed/bin/ex

[2018-03-29 07:53] clanmills commented on #254
Thanks for reporting this.  PR#180 removes printStructure() from the readMetadata() and will fix this.

[2018-03-29 07:57] clanmills commented on #253
Thanks for reporting this.  There is outstanding work to be performed on Exiv2::Internal::stringFormat()  We'll be careful to be ensure that we deal with this and #246 at the same time.

1.

[2018-03-29 11:17] #204 closed

[2018-03-30 06:05] piponazo commented on #253
I have been analysing the issue and I adding a new in

[code]
Prevent the crash. I will create a PR to discuss about the problem and the solution.

[2018-04-01 07:56] #253 closed

[2018-04-01 15:29] piponazo commented on #246
This was also fixed with #256

[2018-04-01 15:29] #246 closed

[2018-04-01 16:17] piponazo commented on #247
I could reproduce the issue easily. I will investigate it. Thanks for reporting!

[2018-04-01 16:35] LebedevRI commented on #235
https://bugs.kde.org/show_bug.cgi?id=387351#c1 (that whole bug, really)
It [looks](https://bugs.kde.org/show_bug.cgi?id=387351#c9) digiKam / @cgilles has finally come to their senses.

[2018-04-01 17:25] piponazo commented on #214
I did not read all the details about the issue yet, but I want to state something about `std::auto_ptr`. Its usage was considered deprecated since c++11, and it will be removed in future versions of the standard (I've read that this will be the case with c++17, but I am not 100% sure). That means, if we do not remove `auto_ptr` from the public headers, clients using modern standards (c++17, 20, et

[2018-04-01 17:32] piponazo commented on #211
Hi @fgeek. I just tried to reproduce your problem on the master branch and the application correctly reports  that the metadata is corrupted:

[code]
Could you validate if you still have the problem?

[2018-04-02 10:34] D4N commented on #214
`auto_ptr` is deprecated since C++11 and has been removed in C++17, see [cppreference.com](http://en.cppreference.com/w/cpp/memory/auto_ptr). So yes, you cannot use exiv2 if you want to compile your project with C++17. And you are right too, that by switching to `unique_ptr` we'll force clients to update.

I am against having a dual-standard code base. I have a project at work where I have to do t

[2018-04-02 15:46] #247 closed

[2018-04-03 16:49] piponazo commented on #251
Just for completion. On windows I get this (using git-bash on a powershell):

[code]
I am trying to determine where we are printing those lines in the code to determine how difficult it would be what @D4N proposed in the description.

[2018-04-03 17:16] piponazo commented on #251
I have been debugging the app and this is the block of code printing those bytes:

[code]
Does it make sense to print there the exifData() with `std::dec` ? This is the value were are trying to print there: `"\000�\034\002"`

[2018-04-03 17:18] piponazo commented on #251
@clanmills do you actually know the meaning of `Params::prTrans` ? It is difficult to guess the meaning of that enum value by its name 😢

[2018-04-03 17:41] clanmills commented on #251
I don't know.  Let me look.

[2018-04-03 17:50] clanmills commented on #251
Ah yes.  "prTrans" = Translate = -pt on the command line.

[code]
The type/value of a metadatum will be one of about 7 defined in the Exif standard (Byte, Undefined, Short, Rational etc).  The meaning of a metadatum is called "Translated" by Exiv2 (meaningful to a human).  Lens metadata is a good example:
[code]
And the "translated" values are:
[code]

[2018-04-03 17:58] clanmills commented on #251
The code is being executed in the context of the JPEG comment.
[code]

Maybe you should report binary when done is not set.  Something like (and localise the string):
[code]

[2018-04-04 08:08] xiaoqx opened #262 "a div-by-zero in printIFD"
A divide by zero occurs in function :BigTiffImage::printIFD,
the debug info as follows:

[----------------------------------registers-----------------------------------]
RAX: 0xffffffffffffffff
RBX: 0x1
RCX: 0x7ffff75aa3d8 --> 0x0
RDX: 0x0
RSI: 0x0
RDI: 0x644a90 --> 0x7ffff7b873d0 --> 0x7ffff7731a14 (<Exiv2::(anonymous namespace)::BigTiffImage::~BigTiffImage()>:     push   rbp)
RBP: 0x7fffffffe220

[2018-04-04 08:09] xiaoqx commented on #262
Please using the command to reproduce the issue:
exiv2 -pX $POC

[2018-04-04 08:16] xiaoqx opened #263 "out bound reads which could result to segmentfault"
there are other testcases to trigger out of bound read with the commands (exiv2 -pv $POC),
some debug information  as follows:

exiv2 -pv $POC

Program received signal SIGSEGV, Segmentation fault.
[----------------------------------registers-----------------------------------]
RAX: 0x66208e
RBX: 0x7ffff78a2ed9 --> 0x63747049002e2e2e ('...')
RCX: 0x0
RDX: 0xf1fe
RSI: 0xffffffff
RDI: 0x0
RBP: 0x7fff

[2018-04-04 20:10] piponazo commented on #251
If I do that change, then the translated values for the example you showed before will turn into this:

[code]
I think we should do what @D4N proposed, and inspect the metadata in these cases to check whether it contains invalid UTF-8 characters. I have been googling a bit and there seems to be some ways to check if a buffer contains invalid UTF-8 characters:

http://utfcpp.sourceforge.net/
https:

[2018-04-04 20:48] clanmills commented on #251
Ah!  You're right.  Bad idea.

@D4N's close to the mark.  We want to something such as:

[code]

[2018-04-05 20:52] D4N opened #267 "Fix config/FindIconv.cmake for cmake >= 3.11"
`config/FindIconv.cmake` seems to be broken on Windows with a recent enough cmake (>= 3.11). Therefore that include is disabled by #266.

- [x] Find out if this is a Windows specific issue
- [x] Find a more permanent solution

[2018-04-06 07:41] D4N commented on #267
My Fedora machines are running cmake 3.11 and `iconv.h` provided by glibc. So this probably does not occur on Linux.

[2018-04-06 08:40] clanmills commented on #267
Thanks for discovering and reporting this.  Let me investigate this later today (or over the weekend).

I assume were discussing the CMake/Visual Studio 2017 build.

[2018-04-06 12:02] clanmills commented on #225
Here are my notes in preparation for the meeting.  They will be revised almost daily in April.  http://dev.exiv2.org/news/3

[2018-04-06 21:40] D4N commented on #267
Afaik Appveyor uses Visual Studio 2015 & Cmake 3.11

[2018-04-07 20:47] clanmills opened #271 "exiv2 --adjust -1:00:00 does not update Exif.Image.DateTimeOriginal in .NEF files"
http://dev.exiv2.org/issues/1341

[2018-04-08 05:37] piponazo commented on #267
Exactly, on Linux and OSX systems it seems to work (even on travisCI). This issue was discovered on AppVeyor.

[2018-04-08 05:56] piponazo opened #272 "Inconsistency in the usage of the DEBUG compiler definitions"
In #270 it was reported an compilation error when using the `DEBUG` compiler definition. On Linux and Mac builds we are using a custom compiler definition (`DEBUG`) to activate certain pieces of code only in Debug builds. We add this compiler definition conditionally in CMake, by checking if the `CMAKE_BUILD_TYPE` if `Debug`.

However on Windows we were not adding this compiler flag. Actually, we

[2018-04-08 07:58] clanmills commented on #267
Thanks, Luis.  I'm going to run in the forest this morning.  I'll look at this later today (Sunday 8/4).

[2018-04-08 19:26] clanmills commented on #267
I'm tired and haven't solved this.    Tomorrow is another day.

[2018-04-09 05:43] piponazo commented on #272
After the discussion we had in the PR we agreed on:

- Leave the code using DEBUG as it is.
- Remove DEBUG from the default compiler flags for Debug builds.
- Add a way in CMake to add such DEBUG definition (or just tell users to define it if they are interested in that behavior).

[2018-04-09 07:26] D4N commented on #272
I agree with your proposal. Imho it is good enough to add `-DDEBUG` to `CXXFLAGS` manually, the debug mode is anyway only interesting for developers, so I think that is convenient enough (at least for me).

[2018-04-09 11:07] piponazo commented on #272
Yes, I agree with you. The less options we have in the CMake code, the better :wink:

[2018-04-09 16:53] #272 closed

[2018-04-09 17:50] clanmills commented on #182
Luis, you know I'm not going to agree to this without considerable evidence that this will work well.  I haven't done the work to restore the msvc/ environment to working health.  If we go down your proposed road, that will save me a chore.

At the moment, the only way in which I can build Exiv2/msvc is using contrib/cmake/msvc/cmakeBuild.cmd

I don't know how to get conan to build from the comman

[2018-04-09 17:52] piponazo commented on #182
At the beginning I hesitated a bit about adding too much conan documentation here (since it can be found in their own page). However, now I think it will be useful to have a step-by-step guide so that anyone can learn how to use it, and compile with CMake in less than 5 minutes 😄 .

I will try to write that documentation in the next days.

[2018-04-09 18:27] piponazo commented on #267
I can investigate the CMake integration, even check if there is already some conan recipe for it. I have never used that library, and I do not even know for what it is used for. Could you give me some hints? :)

[2018-04-09 18:29] clanmills commented on #182
That's great.  If you do that and it works for me, I'll remove the msvc/ directory.

For sure, with the contributions of you and Dan, we're able to undertake very desirable changes (C++11 and conan) which I've hitherto thought would be very difficult.  For sure I put a lot of effort into contrib/cmake/msvc/cmakeBuild.cmd.  I'll be happy to say goodnight to that.

For sure those changes have the co

[2018-04-09 18:39] clanmills commented on #182
Here's a conversation with Roman LebedevRI (_**darktable**_) about C++11 and Exiv2:  https://github.com/Exiv2/exiv2/issues/236#issuecomment-370136372

I'm currently with with Roman (and others) to reverse engineering Canon's new CR3 format.  I'll discuss our C++11 plans with him after the meeting in England and we are solid about our intentions.

I updated the issue concerning FindIconv.cmake.  I'

[2018-04-09 18:48] clanmills commented on #267
I think iconv does string conversion between UTF-8 and UCS-abc (and what not).  I think it's only used for JPEG comments which can be encoded/decoded using that library.  It's mentioned in the man page.

It's not an explicit build option.  Both CMake and autotools detect the availability of the library during the build and link it.  I've never thought about this until yesterday evening (and that's

[2018-04-09 19:46] piponazo commented on #182
Note that CMake is able to generate solutions for Visual Studio 2005, these are the VS generators supported by CMake:

[code]
I do not know if there are still available ISOs on the web for that version of the compiler. But once I write the instructions it would be interesting to check if our CMake code is still compatible with those old VS versions.

[2018-04-09 19:53] clanmills commented on #182
Oh, sure.  The published msvc builds of Exiv2 were built using those generators.

However, I think we now have code (such as C++11 and src/op_safe.hpp) which can't be compiled by those elderly versions of C++.

I hope we can retain an API which can be used by C++98 build systems.  I'm OK about us using newer technology inside the library.  If we avoid imposing C++11 on our users, that has value fo

[2018-04-10 11:08] D4N commented on #209
Just a note concerning this bug report: although it'll probably go away by removing
`printStructure`, the actual problem will stay and we should fix it anyway.

I tried the reproducer a few weeks ago and iirc it was an out of bounds read due to the array length being calculated incorrectly.

[2018-04-10 18:44] piponazo commented on #209
@fgeek I tried to download the to reproduce the issue but the link seems to be broken. Could you upload it here?

[2018-04-10 19:27] fgeek commented on #209
@piponazo Heh. Domain name reflects well about the availability. I need to fix my DNS. Broken service reflects my busyness lately ;)

Here it is also attached:

[2018-01-09-exiv2-crash-002.tiff.zip](https://github.com/Exiv2/exiv2/files/1896102/2018-01-09-exiv2-crash-002.tiff.zip)

[2018-04-10 19:29] piponazo commented on #209
Thanks! I will take a look to this issue

[2018-04-10 19:30] piponazo commented on #101
Let's close this issue then. We can discuss more about this in the team meeting if you want.

[2018-04-10 19:30] #101 closed

[2018-04-10 19:45] piponazo commented on #209
With the current version of master, we are throwing an exception when detecting an invalid type value:

[code]
I did not try to run it with the AddressSanitizer, but I suspect the problem might be fixed in a recent PR.

[2018-04-11 15:05] clanmills commented on #101
I've put this "on the list" for discussion in England.  http://dev.exiv2.org/news/3

[2018-04-11 17:56] clanmills opened #277 "Internal::stringFormat() uses _vsnprintf on MSVC"
src/image.cpp Internal::stringFormat() uses the Win32 API _vsnprintf().  This is a little different from *ix vsnprintf().  Way back in December, I worked on this (and updated the msvc/project files).  I believe the correct code is something like:
[code]

Here's the diff which includes removing a reference to MSDEV_2003 for which we removed support in v0.26 (and didn't remove this historical refere

[2018-04-11 20:00] #100 closed

[2018-04-13 06:34] cryptomilk opened #279 "Please add support for reading Whitebalnce values"
Please add support for reading the values for WhiteBalance (RedBalance, BlueBalance, WB_RGGBLevels).

You can't read them with exiv2 from Nikon or Sony RAW files. It works using exiftool. Examples can be found at https://raw.pixls.us

See also the discussion at: http://dev.exiv2.org/boards/3/topics/3108

Priority: Low

[2018-04-13 06:45] cryptomilk opened #280 "Please add support for reading temperature values form RAW files"
Hello,

my camera (Sony ILCE-7M3) has temperature information stored in the exif data. Especially the CameraTemperature value is interesting for [dark frame subtraction](https://en.wikipedia.org/wiki/Dark-frame_subtraction). You can create a dark frame library for subtraction if you know the temperature value and reuse them (+/- 1°C).

[code]

[code]

RAW example can be found on https://raw.pixls.

[2018-04-13 09:08] clanmills commented on #280
Yes.  Camera Temperature been discussed before.  An Astronomer at NASA was interested in this for Canon cameras.  As you can imagine, temperature in the observatory is an important input to the image post-processing.

We're having a meeting of Team Exiv2 at my home in England in May.  I've proposed that the top priority matter for v0.28 (2019) is "Improved raw image code and test".  http://dev.exi

[2018-04-13 09:12] clanmills commented on #279
My comments about #280 apply to this.  "*Balance" values were investigated and discussed last Sunday!  http://dev.exiv2.org/boards/3/topics/3108

[2018-04-13 15:47] clanmills commented on #280
Andreas:  I forgot to say "Thank You" for all your hard work on libssh.  I subscribe to your mailing list because exiv2 (optionally) uses libssh.  I know you put in a lot of effort.  Thanks for doing that.

[2018-04-13 15:55] cryptomilk commented on #280
I didn't know that exiv2 uses libssh, but you're welcome! Thanks for working on exiv2 ;-)

[2018-04-13 16:37] henryborchers opened #281 "Why does the unit tests only link to a GTest shared library?"
I'm currently doing some minor tweaking of the CMake script to allow Exiv2 to be build as a subproject. (I'll send a pull request when I'm done if you are interested).

I do have a question though. Is there a reason why the CMake build script only links the unit tests to GTest when it's is a shared library? Please correct me if I'm wrong but I was under the impression that best practice for GTest

[2018-04-13 19:00] clanmills commented on #280
Andreas:  In 2013, I had a GSoc (Google Summer of Code) student in Singapore work with me to implement "WebReady".  This extends the I/O system in Exiv2 to support internet protocols such as http, ftp and so on.  So you can do stuff like this:
[code]

To support ssh, we us libssh.  All versions of exiv2 support HTTP.  To use https, ftp, ssh, you can optionally link libcurl, openssl and libssh.  As

[2018-04-13 19:33] clanmills commented on #281
@henryborchers Good to hear from you again, Henry.  Hope all's good with you in Illinois.

I'm going to leave Luis (our CMake expert) to answer this.  Dan added GTest, so it's possible that he'll have something to say about this.

It would be helpful if you were explain what you're thinking about using GTest in a shared library.

There is an outstanding PR concerning CMake/Exiv2 sub-projects.  htt

[2018-04-13 21:46] cryptomilk commented on #280
Robin, just for your interest libcurl uses libssh for scp and sftp support in the meantime.

https://github.com/curl/curl/pull/2036

So you can just use curl to access those files via ssh too. However the current code also supports ssh exec.

[2018-04-13 22:34] henryborchers commented on #281
@clanmills Thanks the greeting back.

I saw that PR but also noticed that the fix should be very simple. All you really have to do is is replace CMAKE_SOURCE_DIR with PROJECT_SOURCE_DIR for all the BUILD_INTERFACE target_include_directories().  It's working so far for me, I just want to run the unit_tests to make sure that I didn't break anything along the way and it's handling the DLL is a little

[2018-04-16 09:03] piponazo commented on #281
Hi guys. The only reason why I chose to use GTest as a dynamic library was to speed up the linking. When I work in some personal projects where I have several test runners, I tend to use GTest as a dynamic library just to speed up the linking phase.

In this project we only have 1 test runner, and we could switch to the usage of a static version of GTest if this simplifies our lives.

I just need

[2018-04-16 09:08] D4N commented on #281
Is there an advantage when linking statically? If there is none, why
change it?

Luis Díaz Más <notifications@github.com> writes:

[2018-04-16 14:32] henryborchers commented on #281
If I use static linking, I don't have to relocate the gtest dll onto the path before I run it. It's one less step that I need to do.

Anyways, why hard code the linking type for this in the CMakeLists.txt? Why not let it work with whatever the type of library the user wants to use? Static or dynamic?

[2018-04-16 14:54] piponazo commented on #281
Right, for us, the relocation of the DLLs is done automatically when using **conan**.

Any decision taken about the GTest linking would be a hard code. In the current configuration we are forcing the usage of GTest as a dynamic library. If we remove this code from the CMake I would be forcing the usage of GTest as a static library:

[code]

If you know how to make the CMake code flexible enough to

[2018-04-16 14:55] ret2libc commented on #210
Is there a patch for this CVE-2017-17724?

[2018-04-16 14:58] henryborchers commented on #281
Thanks, I'll be happy to give it try

[2018-04-16 14:58] ret2libc commented on #254
The first out-of-bound read has been given CVE-2018-9146. How is that different from CVE-2017-17724? It seems to me it is actually the same bug as https://github.com/Exiv2/exiv2/issues/210 .

[2018-04-16 15:02] fgeek commented on #209
@piponazo I can still reproduce this with c80b1b9d51689692bc865f1a1d16bf7fd2a532c4. I can also test with PR. Could you give me ID?

[2018-04-17 20:33] traceprobe commented on #156
It seems that the issue is still there. (./exiv2 -pt ATTACHED_FILE). Have you come up with a fix?
[exiv2_0-26_exiv2_infinite_loop_printIFDStructure.jpg.zip](https://github.com/Exiv2/exiv2/files/1921492/exiv2_0-26_exiv2_infinite_loop_printIFDStructure.jpg.zip)

[2018-04-18 13:15] clanmills commented on #156
I assure that this matter has been given attention, however the fix has not yet integrated with 'master'.  The team is having a meeting at my home in England on May 5&6 and O hope we'll be able to resolve and close these issues at that time.  Please be in no doubt that this is has been, and will be, given attention.

[2018-04-22 13:18] fgeek opened #283 "heap buffer overflow in preview.cpp"
[code]

Reproducer: ![exiv2-heap-buffer-overflow-getdata](https://user-images.githubusercontent.com/286959/39095401-aaf315c4-4648-11e8-8555-029d04f1da06.jpeg)
SHA1: 6c5cfef92f3213cff13e8ddfc737139f686b3370
Tools: afl 2.52b, afl-utils

[2018-04-23 07:37] ret2libc commented on #254
CVE-2018-9146 has been rejected by MITRE as a duplicate of CVE-2017-17724.

http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-9146

[2018-04-29 22:27] ennss opened #290 "win32 build of exiv2.exe no longer includes wildcard filenames support?"
What am I missing?   Wildcard filenames are no longer supported in latest (0.26 version) of the win32 build compared to older (0.25) version?      Missing a link to setargv.obj or this isn't supported with the cross-compiler?

F:\TMP\cam\d\180429>c:\bin\exiv2-new.exe -m c:\bin\myexif.txt _mg_361*.*
_mg_361*.*: Failed to open the file
F:\TMP\cam\d\180429>c:\bin\exiv2-new.exe -V
exiv2 0.26 001a00 (6

[2018-04-30 04:55] clanmills commented on #290
There was a major change concerning the v0.26 binaries built for release.  Prior to v0.26, the binaries were cross-compiled for Windows and supported wild-card expansion on the command-line.

With v0.26, I was unable to get the cross compiler to work.  Instead, I built and distributed Windows builds for Cygwin/64, MinGW/32 and Visual Studio (32/64 2005,2008, 2010, 2012, 2013 and 2015).  So many mo

[2018-04-30 04:55] #290 closed

[2018-05-03 10:34] Germano0 opened #293 "Make bugfix release that includes CVE patches"
Good day, I am one of Fedora package maintainers and in particular I deal with exiv2 due my co-maintaining activity of [darktable](https://github.com/darktable-org/darktable/) software.
Fedora still has not included patches for 2017 and 2018 exiv2 CVEs, like RHEL and CentOS instead [have done](https://git.centos.org/tree/rpms!exiv2.git/c7/SOURCES)
Since I am planning to do such activity in Fedora,

[2018-05-03 11:27] clanmills commented on #293
We're having a team meeting this weekend at my home in England and this top of the agenda.  I think we'll agree to release v0.27 later this year and will include all the security fixes.  http://dev.exiv2.org/news/3

Early next week I'll publish my notes from the meeting: https://github.com/Exiv2/exiv2/issues/225

@a17r has a branch of v0.26 with security patches.  I haven't spent any time to disco

[2018-05-03 11:27] #293 closed

[2018-05-07 17:09] piponazo opened #297 "Handle XMP dependency with Conan"
As discussed in the team meeting, we would like to handle the XMP dependency with conan so that we can easily compile XMP SDK different versions (2013, 2014, 2016) for the main platforms (OS X, Linux and Windows) and compilers.

Later on, CMake would use the information provided by the Conan recipe to find properly the headers and libraries.

[2018-05-07 17:15] piponazo commented on #182
As we discussed in the Exiv2 team meeting, the plan would be to drop the support of autotools and the msvc projects/solutions in the 0.27 RC. I will do that once #297 is done.

[2018-05-07 18:47] D4N commented on #297
Could you make the whole thing plugable, so that package maintainers for distributions can simply provide their version of the xmpsdk from their repository and don't have to patch our cmake files?

[2018-05-07 19:36] lysium opened #298 "exiv2 --grep does not work in 0.26"
exiv2 v0.25 allowed grepping for keys, which does not seem to work anymore for exiv2 v0.26:

[code]

I expected v0.26 to work as v0.25 with regard to `--grep`.
I checked if the issues has been reported previously, to no avail.
I observe the behavior with any other image file, so I haven't attached a particular one.

[2018-05-08 05:31] piponazo opened #299 "Check CI jobs for 0.26"
People is still backporting fixes from master to 0.26 and we did not check the CI jobs on 0.26 for a while. After seeing some error messages in jobs triggered by #288, I think the CI is broken there.

[2018-05-08 19:50] D4N commented on #297
Plugable was probably the wrong word here. What Linux distributions usually require is that all dependencies must be brought in via their system wide package manager. In that case, the packages manager would install the xmpsdk headers & dynamic library into the standard locations and we could include those (probably) without extra work.

So the best solution would be to have an option to turn of o

[2018-05-08 20:02] piponazo commented on #297
From the point of view of our CMake code is totally doable. However the XMP SDK configuration code is far from being good. Basically I had to throw away big portions of their cmake code and re-write some others to make it compile on Linux and Windows (I still need to make it work on Mac).

After spending some time trying to integrate the new XMP SDK into Exiv2, I think we will be able to work with

[2018-05-08 20:11] D4N commented on #297
I am pretty sure most distros don't actually want that or are forbidden from doing that (the Fedora packaging guidelines state that bundling is forbidden except for very rare circumstances). If it would be possible for our cmake code to also support an already installed xmpsdk, then I think that would be the easiest for package maintainers.

Just a though: conan probably installs the xmpsdk to som

[2018-05-08 20:15] Germano0 commented on #297
Fedora exiv2 maintainers are Rex Dieter (rdieter) - main admin and Michel Alexandre Salim (salimma)
https://src.fedoraproject.org/rpms/exiv2
the name between parentheses is the Fedora Account System (FAS) name. To send an e-mail to them, use the email alias fasname@fedoraproject.org
You may want to contact Jan Grulich too, which is the maintainer for RHEL / CentOS

[2018-05-08 20:16] #299 closed

[2018-05-08 21:13] piponazo commented on #297
Yes, if we provide a proper CMake finder for XMP, it should easy to find it wherever it is.

[2018-05-09 13:38] legend-issue opened #302 "SIGABRT in types.cpp Exiv2::DataBuf::alloc function"
[code]
I find this when I set ‘ulimit -v 1048576(1G)’.
The command is "exiv2 -et [poc]"
https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000004%2Csig:06%2Csrc:000036%2Cop:havoc%2Crep:128

[2018-05-09 13:41] legend-issue commented on #302
The command is "exiv2 -et  [poc]"

[2018-05-09 16:02] legend-issue commented on #302
../bin/exiv2 -et id_000004,sig_06,src_000036,op_havoc,rep_128
=================================================================
==2568==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x61a00001f710 at pc 0x7f2dd04f320b bp 0x7fff95dabed0 sp 0x7fff95dab678
READ of size 1137 at 0x61a00001f710 thread T0
    #0 0x7f2dd04f320a in __interceptor_strlen (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x7

[2018-05-10 01:16] legend-issue opened #303 "SIGABRT in src/jp2image.cpp Safe::add"
[code]
command: exiv2 -et [poc]
https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000008%2Csig:06%2Csrc:000335%2Cop:int32%2Cpos:62%2Cval:-1

[2018-05-10 01:41] legend-issue commented on #302
[https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000004%2Csig:06%2Csrc:000036%2Cop:havoc%2Crep:128](url)

[2018-05-10 06:37] legend-issue opened #304 "An integer overflow in src/pngimage.cpp#L306"
[code]
command : exiv2 -pX [poc]
https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000114%2Corig:c-m1-1fc0c0de88608a9445d6f98a544b5abc.png

[2018-05-10 07:58] legend-issue opened #305 "An over-read in src/pngimage.cpp#L161"
[code]
command : exiv2 -pX [poc]
https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000118%2Corig:c-m1-8f2b481b7fd9bd745e620b7c01a18df2.png

[2018-05-10 09:43] legend-issue opened #306 "heap-buffer-overflow on Exiv2::Internal::PngChunk::parseTXTChunk"
[code]

command: exiv2 -et [poc]
https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000004%2Csig:06%2Csrc:000036%2Cop:havoc%2Crep:128

[2018-05-10 13:27] clanmills commented on #298
I am not aware that this has been previously reported.  My usual way of to work with exiv2 is to use the command @$ exiv2 -pa --grep foo image@ and that behaviour is unchanged in v0.26.  It would appear that there is a change in the grep behaviour of the default command @$ exiv2 --grep foo image@ and I will investigate.

There are a couple of changes to the grep code in v0.26.  In v0.25 and earlie

[2018-05-10 13:49] clanmills commented on #225
The meeting was very productive and enjoyable.  We didn’t work all the time.  We had dinner on Friday night, ran 10K on Saturday morning and had a BBQ on the Patio on Saturday Evening.

We had a discussion about the (GPLv2 and commercial) license after dinner on Friday.  We discussed v0.27 on Saturday.  We didn’t run on Sunday (the young guys couldn’t face it) and discussed v0.28 projects.  I will

[2018-05-11 14:33] kbabioch commented on #302
The reproducer is not accessible, could you make it downloadable please?

[2018-05-11 16:38] legend-issue commented on #302
https://github.com/legend-issue/pocs/blob/master/exiv2/out-2/crashes.2018-05-09-19:54:17/id:000004%2Csig:06%2Csrc:000036%2Cop:havoc%2Crep:128

2018年5月11日星期五，Karol Babioch <notifications@github.com> 写道：

[2018-05-12 02:01] legend-issue commented on #302
I'm sorry to this,becasue I change my directory.It's
https://github.com/legend-issue/pocs/blob/master/exiv2/
out-2/crashes.2018-05-09-19:54:17/id:000004%2Csig:06%
2Csrc:000036%2Cop:havoc%2Crep:128

2018-05-12 0:38 GMT+08:00 Oscar Wilde <xdxiaobin@gmail.com>:

[2018-05-13 07:00] legend-issue opened #307 "SEGV on Exiv2::PngImage::printStructure"
[code]
The command line is exiv2 -pR [poc].
And I think you need to use ASAN to reproduce. Otherwise,it can't crash and it's like an information leak.
https://github.com/legend-issue/pocs/blob/master/exiv2/SEGV-0x607000010000_output__1526182114.43

[2018-05-14 00:10] legend-issue commented on #307
Sorry,I think it's OK now!

[2018-05-14 00:19] legend-issue commented on #302
I'm sorry to this,becasue I change my directory before.And I have make it downloadable.

[2018-05-14 03:10] #304 closed

[2018-05-14 03:10] #305 closed

[2018-05-14 05:17] piponazo commented on #307
Yes :smiley: , we'll take a look ASAP

[2018-05-14 22:11] D4N opened #308 "Merge patch from PR #223?"
In #223 @mcdamo proposed a patch to update Fujifilm monochrome color modes. The actual patch got kind of forgotten as #224 is now closed.

This serves as a reminder so that we don't forget about it.

[2018-05-14 23:06] D4N commented on #305
@legend-issue Any particular reason for closing this? Was this not an issue or an accidental double-submission?

[2018-05-14 23:09] D4N commented on #304
@legend-issue Was this also not an issue as #305?

[2018-05-14 23:57] legend-issue commented on #304
Yes,I think so.

[2018-05-14 23:58] legend-issue commented on #305
Because I think it's same with CVE-2018-10772. @D4N

[2018-05-15 01:30] fgeek commented on #302
Reproducer SHA1: e43c1eb7134d2fc4c5548253477fd09d6b2fac79
In bb2019149ae2b6f226e8d6be5f5828898b455a03 with ASan:
[code]
Minimized sample (SHA1: 878078e9db9a8bdb875297d1d1131037dc996e8b) [exiv2-issue-302.png.zip](https://github.com/Exiv2/exiv2/files/2003126/exiv2-issue-302.png.zip) with afl-tmin:
[code]

[2018-05-15 01:34] fgeek commented on #306
Probably duplicate of #302.

[2018-05-15 01:37] fgeek commented on #303
I can't reproduce this issue. I only receive following:
[code]
In what git commit are you executing?

[2018-05-15 03:40] legend-issue commented on #303
I think you need to set "ulimit -v 10485786",1G memory. @fgeek

[2018-05-15 06:34] legend-issue commented on #303
I think you need to set virtual memory to 1G. "ulimit -v 1048576" @fgeek

[2018-05-15 06:45] legend-issue commented on #307
I think it's the latest code commit after I check it.I find this without fuzz.I just compile with ASAN and use some testcases. @fgeek

[2018-05-15 06:48] fgeek commented on #307
Someone has requested a CVE identifier for this issue (not sure why), which is https://nvd.nist.gov/vuln/detail/CVE-2018-11037

[2018-05-15 06:55] fgeek commented on #303
Can't reproduce and it is completely normal that program like exiv2 takes lots amount of memory when you are executing it on fuzzed samples. These are denial of service issues in some context dependent cases, but I don't think there is any issue in this case. I tested in the latest commit bb2019149ae2b6f226e8d6be5f5828898b455a03.

[2018-05-15 06:59] fgeek commented on #306
CVE-2018-10999 has been assigned for this issue (not requested by me).

[2018-05-15 07:03] fgeek commented on #303
CVE-2018-10998 has been assigned for this issue (not requested by me), which I think should be REJECTED. It would be nice @legend-issue if you would first wait for upstream response before requesting CVEs and you should always focus your fuzzing efforts to the latest commit when fuzzing software like exiv2, which is quite heavily fuzzed already.

I would understand CVE requesting before upstream c

[2018-05-15 07:53] legend-issue commented on #303
Oh,I'm so sorry about that.I request cve ID the first time. I think I ignore some important options.And I just want to wait to confirm.Maybe I should see the detail of the process of request a CVE ID.I think you are right.Sorry again.

But for the poc,I try again and confirm it's the lastest commit.It abort again.I don't know the reason why you can't reproduce.

[2018-05-16 22:51] potuz commented on #156
I was wandering if this issue was addressed in that meeting or if you guys think there might be a timeline. My original problem was trying to import to digiKam, I could try to patch that directly to prevent it from using exiv2 but that might also take some time.

[2018-05-17 05:39] clanmills commented on #156
We didn't discuss your issue on its own.  However we extensively discussed the issue of image::printStructure().  We hope to release Exiv2 v0.27 towards the end of 2018 and reach RC1 in the Fall.

The issue you have raised involved "fuzzed" files.  These are illegal files which cause exiv2 to crash and the fix for those files is the top priority feature of Exiv2 v0.27.  Additionally, we intend to

[2018-05-17 11:07] clanmills commented on #156
We're talking about 2 different files.  The JPEG is 95 bytes and I believe is a fuzzed file.  The CR2 mentioned in the title appears to be from a Canon camera.
[code]
The subject printStructure() is being dealt with for v0.27 and receiving attention.

[2018-05-17 13:57] D4N opened #313 "[Testsuite] Debug mode of the testsuite fails when the terminal does not support utf-8"
Some of the commands & outputs include non-ascii characters which result in errors due to `print()` which uses the default encoding of the shell.

It would be probably the best to issue a warning to the user, if their shell does not support utf-8 but they try to use the debug mode with non-ascii commands & outputs.

[2018-05-19 08:58] fgeek commented on #254
This can be closed.

[2018-05-19 10:04] #254 closed

[2018-05-19 10:41] piponazo commented on #306
I could reproduce the issue with the Address sanitizer. I will investigate the issue and try to fix it.

[2018-05-19 15:14] fgeek commented on #306
Great :) :-1:

[2018-05-20 07:09] piponazo commented on #303
Hi guys, thanks for the report.

I just want to confirm that I could reproduce the issue and I get this:

[code]

[2018-05-20 07:44] piponazo commented on #303
Hum ... wait a second. Our code is throwing an exception intentionally in this piece of code:

[code]
And later the exiv2 app is not catching that exception.

Honestly I do not know much about Linux security issues. I never thought if letting an exception reach the main() function would cause any risks from the security point of view. Should we try to catch that exception and exit gracefully? I wo

[2018-05-20 07:57] D4N commented on #303
Letting an exception through is bad style, as an uncaught exception results in a call to `std::abort` which does not call any destructors (in theory bad stuff™ could happen, but imho nothing too serious, at worst an app calling exiv2 repeatedly could run out of file descriptors, but that's about it).

I guess we should just catch the exception and return with 0.

@legend-issue Please read the erro

[2018-05-21 17:27] arekm opened #318 "Please add support for ISO/IEC 23008-12:2017 HEIF file format"
Please add support for ISO/IEC 23008-12:2017 HEIF file format.

libheif (GPL) already has code to handle exif that could be inspiration
https://github.com/strukturag/libheif
src/heif_context.{h,cc}

ImageMagick, too:
https://github.com/ImageMagick/ImageMagick/blob/master/coders/heic.c

Example files:
https://trac.ffmpeg.org/ticket/6521

[2018-05-21 17:41] clanmills commented on #318
Yes, I remember Apple announcing that a year or two ago.

The team have quite a lot of work in progress and we hope to release v0.27 by the end of 2018.  It's probably not very difficult to deal with this request, however the existing team members already havea lot on their plate.

If you really want to see this added, we need to find a volunteer for this task.  So, if you, or somebody you know, w

[2018-05-23 05:57] piponazo commented on #281
@henryborchers We recently added gitlab CI script to build Exiv2 in the most known linux distributions and all of them use GTest as a SHARED library by default. As you can see I created a PR (#321) trying to switch to STATIC gtest, but @D4N pointed out the previous fact.

I do not think we should spend any minute more in this topic, since giving the option for supporting both kind of libraries wou

[2018-05-23 05:57] #281 closed

[2018-05-23 08:58] piponazo commented on #306
The bug should be fixed now. Thanks for the report.

[2018-05-23 08:58] #306 closed

[2018-05-23 09:01] piponazo commented on #302
This issue was also solved by #316

[2018-05-23 09:01] #302 closed

[2018-05-23 22:14] D4N opened #323 "Fix the error codes"
In #109 we discussed some inconsistencies in the error codes (`include/exiv2/error.hpp` and `src/error.cpp`) and how to fix them but then did not implement the fix.

Here is the list from that PR:
- [x] change error message of `Exiv2::kerInvalidTypeValue` to "invalid type in tiff structure"
- [x] merge `Exiv2::kerInvalidIccProfile` and `Exiv2::kerInvalidXMP` to `Exiv2::kerInvalidIccProfile`
- [ ]

[2018-05-25 16:57] piponazo commented on #308
Note that we first need to finish the migration of the old test suite to the python one before being able to include the patch and tests properly.

[2018-05-26 07:59] #283 closed

[2018-05-26 08:00] piponazo commented on #283
This issue should be fixed now @fgeek . Thanks for reporting!

[2018-05-27 06:49] piponazo commented on #159
Hi @gy741 , I was spending some time checking out all the open issues in the project and you are right. The second POC you provided is still making exvi2 crash (when using the sanitizers). However the issue with the first POC is solved.

Our plan is to stop using the printStructure function soon. We'll keep you updated.

[2018-05-27 06:50] piponazo commented on #229
I just checked that this issue was fixed by this commit:

https://github.com/Exiv2/exiv2/commit/36df4bc997d74ecc447e4541e2fc3fda10586103

[2018-05-27 06:50] #229 closed

[2018-05-27 06:52] piponazo commented on #225
Thanks @clanmills for your hospitality. I greatly enjoyed the weekend :100: . I'm spending some time to check out the Github issues that can be closed. Since we already had the meeting, I'm closing this one.

[2018-05-27 06:52] #225 closed

[2018-05-28 20:34] bzobl opened #330 "Support for TAMRON SP 24-70mm F/2.8 Di VC USD G2 A032"
Hi,

is it possible to support the Tamron lens mentioned in the subject? It currently is detected as "Canon EF 300mm f/2.8L IS II USM", so I suspect a clash in lens IDs.
Is there a way to detect the lens anyways? The focal length, as well as the model text is read correctly

Full exiv2 output attached.

Thanks,
Bernd

[exiv2.txt](https://github.com/Exiv2/exiv2/files/2046114/exiv2.txt)

[2018-05-28 20:46] D4N commented on #330
Hi Bernd,

could you attach the image that you are extracting the metadata from? You can upload the metadata only version that you get via `exiv2 -ex` to keep the filesize down and the actual image private.

Can't unfortunately promise a swift resolution, as there is a lot of other stuff to fix.

Cheers,
Dan

[2018-05-28 21:05] bzobl commented on #330
Hi Dan,

thanks for the fast response, I'm attaching a sample taken with the lens on my 7D Mark II.

![3p2a5931](https://user-images.githubusercontent.com/9977167/40629451-79ed0742-62cb-11e8-8729-84e695b01659.JPG)

[2018-05-29 04:51] piponazo opened #331 "Conan cache not being stored in AppVeyor"
Try to enable again the Appveyor feature for caching the conan packages. At some point I had to disable this feature because it was causing some problems, but it should work. It should reduce the build times on windows in few seconds.

[2018-05-29 08:04] #297 closed

[2018-05-29 09:45] piponazo commented on #313
The redmine issue 1242 is affected by this issue.

[2018-05-29 11:07] D4N commented on #313
Actually all issues which have unicode escapes in them are. I think the only solution for that is to print out the raw bytes (which will look ugly here and there). But that shouldn't be that much of a problem, as it only affects the debug mode.

[2018-05-29 13:33] #331 closed

[2018-05-29 15:18] abergmann commented on #283
[CVE-2018-11531](https://nvd.nist.gov/vuln/detail/CVE-2018-11531) was assigned to this issue.

[2018-05-30 08:43] piponazo opened #334 "Analyse and improve situation with TIMEGM"
In the project we include the files timegm.h & localtime.c to provide the timegm functionalities to platforms without timegm (as Windows).

In this [stackoverflow](https://stackoverflow.com/questions/16647819/timegm-cross-platform) thread, it is mentioned that simply using this:

[code]
On windows should be enough, as _mkgmtime provides the same functionality:

https://msdn.microsoft.com/en-us/lib

[2018-05-30 11:25] dirkmueller opened #336 "Please create a new release from 0.26 branch"
There have been a lot of commits flowing into the 0.26 branch:

$ git log --no-merges v0.26..upstream/0.26 --pretty=oneline | wc -l
57

can you please create a new release/tag from it and push it?

[2018-05-30 11:56] piponazo opened #337 "Update to conan 1.4"
Conan 1.4 has been released today and it brings some nice features that will help to simplify things in our CMake code:

https://docs.conan.io/en/latest/changelog.html

[2018-05-30 12:46] D4N commented on #337
Yes!

[2018-05-31 08:29] piponazo opened #339 "Add doc target in CMake"
Currently the documentation is built using **Doxygen**. However the only existing way to generate the documentation is by using the `doc/cmake_doc.sh` script that use the autotool scripts to generate the doc target:

[code]

Since we have plans to remove the autotools configuration scripts (#338), we need to provide some CMake code to generate the documentation via Doxygen. This idea came from a d

[2018-05-31 09:56] piponazo opened #340 "Provide targets to ease the relases"
In #335 @clanmills pointed out that there are some existing code in the autotools scripts (which will be removed in #338) involved in the release process:

I created this issue to create a list of the missing things and check what we can do automatically with CMake + CI

[2018-05-31 10:16] D4N commented on #336
Sorry to disappoint you, but we currently lack the resources for a full 0.26.1 release, as that would require creating builds for every platform and the required scripts & utilities for that have not been ported to the github + git infrastructure yet. Doing this work now will delay 0.27 RC (planed for autumn) further, which we consider the current top priority.

Since you are the package maintaine

[2018-05-31 10:16] #336 closed

[2018-05-31 12:29] piponazo commented on #267
Some good news!

There is an available conan recipe for libiconv in **conan-center**:

https://bintray.com/bincrafters/public-conan/libiconv%3Abincrafters/1.15%3Astable

I will try to integrate this right now.

[2018-05-31 14:24] clanmills opened #343 "Cygwin build fails test suite"
This issue is being caused by exiv2(.exe) not processing command-line arguments correctly.  This has been introduced since using getopt_win32.{c|h} in the code base.  The issue is being caused by the extern global variables `optarg` and `optint` in src/getopt_win32.h and src/Utils.cpp are different.

I've got a work-around:
[code]

This work-around produces the compiler warning:

[code]

Another w

[2018-05-31 16:24] clanmills opened #344 "config/config.h.cmake and EXV_HAVE_UNISTD_H"
I've been experiencing difficulties with CMake builds on MSVC having EXV_HAVE_UNISTD_H set.  No version of MSVC provides <unistd.h>

There's suspicious code in config/config.h.cmake.  I think the "1" typos are harmless, however let's fix them.

[code]

I have discovered this error by using Cygwin and MSVC to build in the same source tree.  The Cygwin build correctly detects <unistd.h> and sets EXV

[2018-05-31 17:11] TernaK opened #345 "Broken master"
I've tested installation on macOS & Ubuntu with `make config && ./configure && make` and this was the result:
[code]

[2018-05-31 17:33] piponazo commented on #345
Hi @TernaK . The autotools and msvc files are not receiving support lately and we are putting all our efforts  in improving the CMake code to make it compatible with the main platforms and toolchains. In fact, we are planning to drop the the autotools and msvc files for the next release:

https://github.com/Exiv2/exiv2/pull/338

Would you mind to try to configure and compile the project with CMake

[2018-05-31 17:45] TernaK commented on #345
@piponazo I normally use cmake but didn't even think to use it here because it's failed me in the past. I guess that's been resolved and it worked for me this time. It was able to build, thanks.

[2018-05-31 17:47] piponazo commented on #345
Thanks for your quick reply. I'm happy to see that this time the CMake worked for you :smile: .

I'm closing this.

[2018-05-31 17:47] #345 closed

[2018-06-01 04:55] #267 closed

[2018-06-01 04:59] piponazo commented on #250
In #333 we ported redmine issues from 1179 to 1305.

[2018-06-01 06:02] clanmills opened #346 "Testing msvc/cmake"
This is an "Umbrella" activity to hold notes about different versions of Visual Studio and Exiv2.

[2018-06-01 12:35] piponazo commented on #344
I agree with your analysis. I'll clean those things ;)

[2018-06-01 13:02] piponazo commented on #344
Fixed in #348

[2018-06-01 13:02] #344 closed

[2018-06-01 14:58] clanmills commented on #344
I've discovered another instance of CMake/Visual Studio getting its include path wrong by finding stuff in cygwin directories.  FindIntl can add `c:\cygwin64\usr\include` to the front of the include search path with awful consequences.

In README-CONAN.md I've recommended temporarily renaming `c:\cygwin64\usr\include\` as `c:\cygwin64\usr\uncle` while building with CMake/Visual Studio.  Brutal fix

[2018-06-01 15:01] piponazo commented on #344
I'm sure that you are finding those issues because of your PATH environment variable. I do not have anything about cygwin in my PATH, and I never had problems building on Windows with CMake + Visual Studio.

I do not think it's a good idea to put this kind of notes in the README-CONAN.md document. It has nothing to do with conan.

[2018-06-01 15:08] clanmills commented on #344
You are right.  It has nothing to do with conan.  However if somebody is following that document, they will have no idea what's wrong.  It's better to mention this than leaving the user puzzled.

Let's leave it like this.  If I have more time, I'll revisit it.  It's puzzling the FindIntl is doing this.  I don't understand the code in FindIntl, however it looks boiler plate.  Other FindXxxx modules

[2018-06-02 11:08] fgeek commented on #283
@piponazo Thank you. I can continue fuzzing after other open bug reports has been closed (printStructure etc).

[2018-06-03 09:40] piponazo commented on #283
That would be ideal! In the next weeks we want to finish porting the test suite from the old bash system to the new python one, and at that moment we will fix the problems with `printStructure` that is our main source of bugs.

We'll keep you informed ;)

[2018-06-04 12:05] #339 closed

[2018-06-05 01:51] kooscode opened #354 "CMAKE build and install fail!"
trying to use cmake to build and install..

followed the CMAKE instructions  and after `cmake ..` and `make -j` the `make install` gives the following error:
[code]

[2018-06-05 02:02] kooscode opened #355 "MAKE build and install also fail.."
Tried using the "auto" make and build tools..

After doing a ./configure (and no errors) the make command fails with this error:

make[1]: Entering directory '/media/koos/data/sources/exiv2/src'
libtool: compile:  g++ -O2 -fvisibility=hidden -fvisibility-inlines-hidden -Wall -Wcast-align -Wpointer-arith -Wformat-security -Wmissing-format-attribute -Woverloaded-virtual -W -MMD -I../src -I../include

[2018-06-05 07:50] D4N commented on #355
Hi,
we are currently deprecating autotools, which will be removed by #338. Therefore we will not fix any bugs in autotools any more. We'll of course take a look at your other issue #354, as cmake is our prefered build system.

[2018-06-05 07:50] #355 closed

[2018-06-05 07:52] D4N commented on #354
Could you try to run a `make doc` before `make install`?

Also, on which platform are you working?

[2018-06-05 16:07] kooscode commented on #354
Ubuntu 16.04

make doc produces these errors..

Scanning dependencies of target doc
/media/koos/data/sources/exiv2/include/exiv2/xmp_exiv2.hpp:22: warning: the name `xmp.hpp' supplied as the second argument in the \file statement is not an input file
/media/koos/data/sources/exiv2/src/cr2header_int.hpp:22: warning: the name `cr2image_int.hpp' supplied as the second argument in the \file statement

[2018-06-05 16:14] kooscode commented on #354
so looks like "dot" is a missing undocumented dependency..  I installed "graphviz" and then the  "make doc" worked fine.."

this is the new "make doc" output:

after that tried to run sudo make install again and got the same error..

**> -- Install configuration: ""

[2018-06-06 08:28] piponazo commented on #354
Thanks @kooscode for reporting this. I recently added some modifications related to the way in which we generate the documentation and I did not check what happens during the installation. I'll take a look and fix it ASAP.

[2018-06-06 08:35] D4N commented on #354
I guess we should test the installation on the CI too. I can create something on GitLab.

[2018-06-06 08:46] piponazo commented on #354
That would be nice. I did not want to test it on Travis and Appveyor because it would add too much stuff (installation of doxygen, graphviz and run the doc target) for each CI job. But I think it would be good to test it on the GitLab jobs that run less often.

[2018-06-06 19:20] henryborchers commented on #354
CMake version 3.9 made working with Doxygen really easy (You don't even need a Doxygen config file) but I'm guessing you guys aren't interesting in bumping up the required version.

Can we just add an option to not install the docs?

[2018-06-06 19:29] D4N commented on #354
We'll add something like that with #356.

[2018-06-06 23:58] piponazo commented on #354
I just merged #356 that should solve the issue. Please, let us know if you have any other issue related with this topic.

@henryborchers We recently bumped the minimum CMake required version to 3.3.2 because something else, but we are trying to be conservative in that sense, since the library is used in many linux distributions were CMake is not updated so often. I noticed the new features in rece

[2018-06-06 23:58] #354 closed

[2018-06-07 05:04] henryborchers commented on #354
@piponazo, that's the right decision. It just means that there more code to do the same thing.

[2018-06-07 22:06] piponazo opened #358 "Handle RPATHs fix CMake"
In #357 @D4N tried to deploy the exiv2 binaries and libraries into a local folder inside the **build** directory , but he got some errors about exiv2 not finding the `libexiv2.so`. That's probably due to a bad configuration of the RPATHs that should be easily fixable by setting the RPATHs configuration with CMake.

[2018-06-08 10:04] piponazo opened #359 "Provide a Config-file package with CMake"
Currently exiv2 can be only found by a consumer via a pkg-config file. Since CMake is now the main configuration system, we started providing a Config-file package that should ease the integration of Exiv2 in other C/C++ projects configured via CMake:

https://cmake.org/cmake/help/v3.3/manual/cmake-packages.7.html#config-file-packages

We need to update the documentation related to this point and

[2018-06-08 12:04] #182 closed

[2018-06-08 13:44] clanmills opened #360 "Support Standard EXIF in PNG images"
http://dev.exiv2.org/issues/1357

Thank you to Phil Harvey for bringing this to our attention.

The PNG 1.5.0 extension specification was released July 15, 2017 and specifies a standard location for EXIF metdata in PNG images:

ftp://ftp.simplesystems.org/pub/png/documents/pngext-1.5.0.html

Exiv2 should support this. (Original issue discussed here: http://u88.n24.queensu.ca/exiftool/forum/index.p

[2018-06-08 15:31] D4N commented on #340
Basically every CI provider supports the creation of artifacts, i.e. to upload a certain part of the build container to their webserver. That could be used as a quick'n'dirty solution.

I would however prefer to run builds locally (preferably in a reproducible environment, like the vagrant VMs), so that we can be sure that we distribute the correct binaries.

[2018-06-09 22:31] D4N opened #361 "DBUILD_WITH_CCACHE option does not work on Fedora"
The option `DBUILD_WITH_CCACHE` has no influence on whether ccache is used or not on Fedora (and I believe on Debian too) when ccache is installed:
[code]

The problem is quite simple: once `ccache` is installed, it's put into `$PATH` before `/usr/bin/` (where ordinary `gcc` & `clang` binaries sit), thus gcc resolves to `ccache/gcc` before our switch can do anything.

A viable alternative is to se

[2018-06-10 03:37] smr99 opened #363 "XMP uses incorrect bit-width integers on LP64 data model systems (linux, unix)"
The file XMP_Const.h typedefs specific bit-width integers: XMP_Int32, etc.  If "XMP_MacBuild" is defined, then <stdint.h> is included and the standard types (e.g. int32_t) are used; if not, XMP_Int32 is typedef'd as "signed long".  This fails on a linux 64 bit machine because long is 64 bits, not 32.

The best fix is to use the standard types.  Newer versions of XMP do this.

Note also that there

[2018-06-10 08:04] clanmills commented on #363
Thanks for reporting this.  Something very similar was reported in the last few weeks.  I've been contributing to Exiv2 for 10 years, and during that time, the code in xmpsdk/ has been almost untouched.  In v0.27, we will offer a build option to build with XMPsdk/2016.

I see you've already spoken to @D4N about this matter.  Have you agreed on what's to be done about this?

[2018-06-11 09:50] cool-tomato opened #365 "out of bound read when extract preview images from Poc file"
root@7add4d80d305:/src/exiv2/bin# ./exiv2 -ep 1-out-of-read-Poc
Error: Upper boundary of data for directory Image, entry 0x00fe is out of bounds: Offset = 0x0000002a, size = 64, exceeds buffer size by 22 Bytes; truncating the entry
Warning: Directory Image, entry 0x0201: Strip 0 is outside of the data area; ignored.
Warning: Directory Image, entry 0x0201: Strip 7 is outside of the data area; ignor

[2018-06-11 10:31] D4N commented on #365
Thanks for the report. I'll take care of this.

[2018-06-11 11:33] cool-tomato opened #366 "out of bound read in function std::memcpy (tmp, buf, len) in exiv2/include/exiv2/value.hpp:1758"
root@7add4d80d305:/src/exiv2/bin# ./exiv2 -ep  2-out-of-read-Poc
Warning: Directory Image, entry 0x0111: Strip 0 is outside of the data area; ignored.
Segmentation fault (core dumped)

root@7add4d80d305:/src/exiv2/bin# gdb -q exiv2 /tmp/core.1528716079.exiv2.2083
Reading symbols from exiv2...done.
[New LWP 2083]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x8

[2018-06-11 21:29] #365 closed

[2018-06-11 21:29] #366 closed

[2018-06-11 22:58] D4N commented on #303
The exception catching has been added by f4e8ed2fd48d012467b99552f0d6378302a23c75. Exiv2 will now report that an exception was not caught by any of the actions and print its `what()` message.

[2018-06-11 22:58] #303 closed

[2018-06-13 02:06] clanmills opened #369 "Issues with man page src/exiv2.1"
See http://catb.org/~esr/doclifter/bugs.html for details on how and
why these patches were generated.  Feel free to email me with any
questions.  Note: These patches do not change the modification date of
any manual page.  You may wish to do that by hand.

I apologize if this message seems spammy or impersonal. The volume of
markup bugs I am tracking is over five hundred - there is no real
alterna

[2018-06-13 07:38] D4N commented on #369
CC @eric-s-raymond (for progress tracking of this patch, feel free to unsubscribe if you don't want to get notifications about the details)

[2018-06-19 22:04] kooscode commented on #354
Just closing the loop on this..

@piponazo - YES this fixed the issue and it builds and installs just fine now!

Thank you!

[2018-06-26 02:52] rcsanchez97 commented on #302
@piponazo I am trying to backport the fix for CVE-2018-10958/CVE-2018-10999 to older versions of exiv2 in Debian (0.25, 0.24, and 0.23).  I have prepared two patches based on commits 2fb00c8 and 3ad0050.  In particular, I tried to avoid introducing the new enforce mechanism and instead tried to accomplish the same effect with if statements.  I would appreciate it if you could review my work and pr

[2018-06-26 18:48] clanmills opened #371 "CMakeLists.txt get_directory_property breaks contrib/cmake/msvc/cmakeBuild.cmd"
I have a weirdo issue that has 100% broken contrib/cmake/msvc/cmakeBuild.cmd

I don't understand the following line of code:
[code]
The workaround is to comment off line 128 and 129, although presumably that has consequences for building SAMPLES.

I've modified/commented around it as follows:
[code]

When I run this:
[code]

When I build with conan:
[code]
So, the question is "What does DEFINITION

[2018-06-27 21:22] koryphaee opened #372 "create directory if it doesnt exist"
I want to sort some photos using the rename option.
I want to move all files of one day to it's own subdirectory using this command:

`exiv2 -r "%Y-%m-%d/%H-%M-%S" mv *`

However since the directory doesn't exist, the operation fails.
I get the error:

`exiv2: Failed to rename file.jpg to ./2014-07-25/12-21-55.jpg: No such file or directory (errno = 2)`

If I create the directory manually and run

[2018-06-28 09:11] D4N commented on #372
To be honest I don't think this is something exiv2 should do, I'd prefer if exiv2 would touch the filesystem as little as possible. @piponazo @clanmills what are your opinions?

[2018-06-28 15:56] exiftool commented on #372
This is something that ExifTool does.  It is a widely used, very useful feature.

[2018-06-28 16:45] clanmills commented on #372
Remarkably, I replied to a question about 'rename' earlier today.  http://dev.exiv2.org/boards/3/topics/3158  I think this topic (and the earlier question) may be the  only questions that have arisen about 'rename' in the 10 years during which I've contributed to Exiv2.

Andreas, the founder of Exiv2, established the philosophy that "Exiv2 does depth, not area".  So, we do image processing technol

[2018-06-29 07:39] D4N commented on #372
I agree with @clanmills, imho this is something that should be performed by a different utility. But since two people find this to be a useful addition, I'd mark this as a feature request and leave it open.

[2018-06-29 10:48] clanmills commented on #371
I think the code at CMakeLists.txt should be:

[code]

Here's the git diff
[code]

[2018-06-30 22:18] potuz opened #373 "invalid type value detected in Image::printIFDStructure: 21059"
I am attaching a picture taken yesterday with my camera. Exiv2 fails on this picture with the messages

[code]

Perhaps I should debug this before posting here, but this issue and #156 which is raised often by photos from my camera are preventing me from using other software that relies on exiv2.

If it's anything useful I realized that the photos that are failing are all that I have taken with an

[2018-07-03 13:04] clanmills opened #374 "Unable to debug exiv2 application code from Xcode"
I can't debug into the application code in the exiv2 application from Xcode.  This was working in v0.26.

Application code (such as actions.cpp, exiv2.cpp) are shown in the debugger as 'pseudo machine code'.  The debugging is stepping machine code instead of src/actions.cpp and src/exiv2.cpp.

I've tried setting the CMake debug flag and CXXFLAGS without success
[code]
The build output reports:
[co

[2018-07-05 15:11] clanmills commented on #374
I have a fix:
[code]

Remarkably, we don't appear to require this for samples.

[2018-07-05 16:29] #371 closed

[2018-07-06 14:23] clanmills opened #377 "Cygwin exiv2.exe command-line parsing is broken."
This breaks everything in the test suite.  The reason is amazing.  The fix is almost trivial (and beautiful).

We should not `#include <stdlib.h>` from the config.h (which is usually the first include).  This causes `extern char* optarg;` to be defined by Cygwin's `/usr/include/getopt.h` as  `extern char* __declspec(dllimport) optarg` .

Our code in src/getopt_win32.{ c | h } to uses our `extern c

[2018-07-06 14:58] clanmills commented on #377
Spoke too soon (without testing on Linux).  We need to add another the guard `_GETOPT_H` in src/getopt_win32.c to get this to work on Linux:
[code]

[2018-07-06 17:50] clanmills commented on #377
I've successufully built this on Visual Studio (using cmakeBuild.cmd) and MinGW msys/2.

[2018-07-09 01:52] cool-tomato opened #378 "AddressSanitizer: heap-buffer-overflow /src/exiv2/src/webpimage.cpp:563 Exiv2::WebPImage::decodeChunks(unsigned long)"
[code]
[1-poc-heapoverflow](https://github.com/TeamSeri0us/pocs/blob/master/exiv2/1-poc-heapoverflow)

[2018-07-14 15:29] RootUp opened #382 "Potential buffer overflow in geotag.cpp on non-glibc systems"
File: geotag.cpp

[code]
and

[code]
According to the documentation of `realpath()` the output buffer needs to be at least of size `PATH_MAX` specifying output buffers large enough to handle the maximum-size possible result from path manipulation functions. In that instance, buf's size comes from `uv__fs_pathmax_size()`. That function attempts to use `pathconf(path, _PC_PATH_MAX)` as noted in the

[2018-07-15 05:33] RootUp commented on #382
Thank for taking look into this,
Yes this I am talking about Linux and this is a potential vulnerability, however I think calling `pathconf()` on Linux would help or `PATH_MAX+1`

[2018-07-15 06:11] clanmills commented on #382
Gosh, you're quick!  Thanks for such a speedy response.   I haven't thought about this matter for years, however here's a way of testing it.

[code]

I've modified the code where realpath() is used as follows:
[code]
To test this:
[code]
Is that what you are thinking?

[2018-07-15 06:35] RootUp commented on #382
Yup, the modified code for `realpath()` above looks perfect to me.

[2018-07-15 06:55] clanmills commented on #382
Patch:

[code]

@D4N Can you review and submit this for me please?

[2018-07-16 14:20] kirotawa commented on #378
It was assigned this CVE number for this issue  https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14046

[2018-07-16 21:32] D4N commented on #382
Sorry, I'm a little late. To be honest I don't see the problem with the usage of `realpath` in the above code snippet on Linux. The manpage says:
[code]
So in my eyes the code does exactly what it should be doing on Linux + glibc and it shouldn't create any issues. That is further indicated by the existence of glibc's `canonicalize_file_name` (see `man 3 canonicalize_file_name`, it's literally a c

[2018-07-16 22:10] #378 closed

[2018-07-17 07:09] clanmills commented on #382
@RootUp Please provide a command-line that produces an overflow.

@D4N You're quite right that _MAX_PATH is an MSVC thing and defined (without reason) for Linux in geotag.cpp.

When I looked at this on Sunday, I thought "I really don't know what's being discussed here, however perhaps we should call `pathconf()` before `realpath()` on Linux.  In conversation with @RootUp, it does seem that this is

[2018-07-17 07:36] D4N commented on #382
@RootUp `resolved_path` is non-`NULL` when `__APPLE__` is defined, since we have to assume that on MacOS you are not using glibc and therefore passing `NULL` to `realpath` is undefined behavior.

That is however potentially problematic if you have a path that is longer than 1024 bytes. So we have to fix this on POSIX systems that are not using glibc.

[2018-07-20 10:36] supertobi opened #385 "www.exiv2.org is down"
I know, its not a code issue but www.exiv2.org is down.

[2018-07-20 16:07] clanmills commented on #385
There's a problem with the web-site.  In the meanwhile, there happens to be a pre-release of the website available here on which you can access most (but not all) of the content on the main web-site.

http://clanmills.com/exiv2/exiv2/index.html

Andreas received this email on Wednesday from Amazon Web Services:

_Unfortunately, the maintenance of your EC2 instance i-da301d51 in region 'eu-west-1',

[2018-07-20 16:07] #385 closed

[2018-07-21 17:29] clanmills commented on #385
@supertobi  Thanks to miracles by Andreas and Amazon, the web-site is back on-line.

[2018-07-23 15:12] henryborchers opened #386 "Question: is it possible to extract the enumerated color space from an image?"
I'm trying to locate the enumerated color space value in jp2 files. I cannot find a way to do this for jp2 or any other image formats in Exiv2's API documentation. Can Exiv2 currently locate this information?

[2018-07-23 17:45] clanmills commented on #386
There is no API to explicitly extract the color space of an image.  Exiv2 enumerates metadata encoded as Exif, IPTC and XMP.  If the color space is encoded in the Exif, IPTC or XMP metadata, it will be presented.  In v0.26, I added support to extract the ICC profile for several file formats (TIFF, JPEG, PNG, JP2 and WebP, I think).

I wasn't aware that JP2 can have multiple color spaces.

We don't

[2018-07-24 07:55] clanmills commented on #386
I've had a private discussion with Henry.  We talked about using OpenJPEG and debugging the command: `$ exiv2 -pR image-file` to discover how Exiv2 parses the JP2 Headers (without decoding the image).  I've also suggested asking his question on the JP2 forum:  https://groups.google.com/forum/#!forum/openjpeg

I'm going to close this issue as I don't envision further work on this topic.  @henryborc

[2018-07-24 07:55] #386 closed

[2018-07-28 23:18] D4N commented on #302
@rcsanchez97 Sorry for not getting back to you earlier, but your first patch has a small issue, instead of:
[code]
it should be:
[code]
(the `-1` was wrong, see the discussion of the associated pull request).

The rest looks good to me. You can drop the strings from the throws in the second patch where you throw an error 58, as the string will be ignored in the exception message anyway.

However,

[2018-07-29 19:53] piponazo commented on #302
Hi @rcsanchez97 . I am also sorry for not replying before. I double checked the changes and the only issue I see is what @D4N pointed out already.

[2018-07-31 16:32] piponazo opened #390 "Add code coverage metrics"
We are very close to finish the migration of tests from the old bash system to the new python framework (for details, check #250).

Before accomplishing this task, it would be good to have some code coverage statistics to guarantee that the code coverage achieved by the unit tests and python tests is equal or greater than the code exercised by the bash test suite.

In this [project](https://github

[2018-07-31 17:34] piponazo commented on #390
After adding some basic CMake code to use code coverage  (#391), we can conclude that the coverage  is almost similar for the python and bash test suites.

[coverageBashOnlyBugfixes.zip](https://github.com/Exiv2/exiv2/files/2246429/coverageBashOnlyBugfixes.zip)
[coveragePythonOnlyUTC.zip](https://github.com/Exiv2/exiv2/files/2246430/coveragePythonOnlyUTC.zip)

Note that in the file test/Makefile I

[2018-08-01 06:09] #390 closed

[2018-08-01 06:16] piponazo commented on #374
-- Release:           -O3 -DNDEBUG
-- RelWithDebInfo:    -O2 -g -DNDEBUG
-- MinSizeRel:        -Os -DNDEBUG

It's interesting to see that you do not have "-O0" for the Debug configuration there. In the file `cmake/compilerFlags.cmake` we have this line at the very beginning:

[code]

[2018-08-01 09:37] SmithPeng opened #392 "how to deep copy metadata from one image to another"
I used 'exiv2 -pa in.tif' ,got following results:

[code]

and used `$ exiv2 -ex a in.tif`, I got in.exv, as follows:
[code]
How can I get the results showing in `$ exiv2 -pa in.tif` and insert to out.jpg?

[2018-08-01 09:49] SmithPeng commented on #392
Exif.Image/Exif.Photo/Exif.GPSInfo/Xmp.Camera are need

using 'exiv2 -in out.jpg' cannot insert all I needed

[2018-08-01 19:14] clanmills commented on #392
There are several ways to pipe metadata from one image to another.  I'll illustrate two methods with the following files:
`http://clanmills.com/Stonehenge.jpg` with contains GPS metadata
`http://clanmills.com/Flag.jpg` which does not contain GPS metadata

**Method 1**
Pipe the metadata directly using the option -ee- to extract the metadata to std-output and -ie- to read the metadata from std-input

[2018-08-01 22:13] clanmills commented on #374
I've done a `$ git pull` and built.  You're right.  CMake reports:

[code]

I still need my patch above to debug exiv2(.exe).   exifprint(.exe) can also be debugged.  I've submitted a PR #393  This might even be the first time I have successfully submitted a PR.  I didn't use the clanmills/exiv2 trampoline.

[2018-08-02 06:37] SmithPeng commented on #392
@clanmills thank you very much! I've solved this problem by your methods.

[2018-08-02 07:02] clanmills commented on #392
@SmithPeng Thanks for the update.  Teamwork works!

[2018-08-02 08:33] clanmills commented on #343
I've revisited this and found a beautiful fix:  https://github.com/Exiv2/exiv2/issues/377

I've submitted a PR:  #394

[2018-08-02 08:33] #343 closed

[2018-08-03 22:11] ulkesh11 opened #396 "[Question] Length of description in XMP"
What is the maximum length of string that can be accepted by `XMP.dc.description`?

[2018-08-03 22:14] marco-zietzling opened #397 "Sigma 17-50mm identified wrong on Canon 450D"
On a Canon 450D camera, the Sigma lens "Sigma 17-50mm F2.8 EX DC OS HSM" is wrongly identified as
"Canon EF-S 17-55mm f/2.8 IS USM".

Canon 450D with firmware 1.1.0
Darktable 2.4.4 on Windows 10

[2018-08-04 11:11] clanmills commented on #396
@vacky11 It appears that the XMP dislikes empty strings and doesn't store them.  I'm a little surprised!

Here's a test:
[code]
Now we'll set description to the empty string and the description disappears completely!
[code]
Yet, we set it to a single space:
[code]
Is this the behaviour that is of interest/concern to you?

The XMP processing is performed by Adobe's XMPsdk which is embedded in Exiv2

[2018-08-04 16:43] vacky11 commented on #396
@clanmills  Thank you for your quick reply.
Actually my question is, is there a limit in size of string that can be stored in `XMP.dc.description`? Or we can store unlimited characters in `XMP.dc.description`? I hope im being clear now

[2018-08-04 21:38] marco-zietzling commented on #397
![img_4436](https://user-images.githubusercontent.com/1752259/43680657-58c4f490-983f-11e8-8145-766e9d39c7d3.JPG)
Attached sample jpg image shot with the Sigma lens.

[2018-08-04 21:55] clanmills commented on #396
Thanks for the clarification.  There are two kinds of limits:
1) Imposed by File Format Specifications

If you are storing XMP in a JPEG, the whole XMP packet must fit into a JPEG chunk which mustn't exceed 64k bytes.

Adobe extended their specification to enable XMP packets to span multiple chunks.  I believe this is supported by XMPsdk 2016, however I haven't tested that feature.  I can't rememb

[2018-08-05 00:11] vacky11 commented on #396
@clanmills Thanks for the detailed and clear explaination.
I was looking for a way to add metadata strings to an image (jepg/tiff) without any limit. But I guess this is not possible?

[2018-08-05 01:53] clanmills commented on #396
I have good and bad news for you.

**_Good News_**: Tiff is a 32 bit file format and can hold lots of data.  We're working on our BigTiff support which is a 64 bit implementation of tiff.

**_Bad News_**: JPEG is really a 16 bit format.  The file is "chunked" and each "chunk" has a 2 byte length.  No chunk can exceed 65535 bytes.  Some metadata (such as ICC profiles) span multiple "chunks".  Howev

[2018-08-05 03:25] vacky11 commented on #396
@clanmills
Thank you very much for your time in explaining all the details. I really appreciate it.

[2018-08-05 07:55] D4N commented on #397
Thanks for the report, we'll take a look at that.

[2018-08-05 12:51] clanmills commented on #397
@marco-zietzling Thanks for reporting this and providing a test file.  I have good news - you can fix this for yourself using the file ~/.exiv2
[code]
The problem is that Canon (and other manufacturers) frequently use the same LensID for more than one lens.  In Exiv2 v0.26, we added support for the user to override Exiv2's built in Lens Description.  So, update ~/.exiv2 as follows:
[code]

[2018-08-05 13:39] marco-zietzling commented on #397
@D4N and @clanmills thanks for the quick responses. It is working now perfectly fine, both using the exiv2 console version as well as within darktable 2.4.4. Thank you very much!

For reference: Since I am working on Windows, the config file to be used is the following:
C:\Users\[username]\exiv2.ini
Maybe this information can be added to a wiki or a manual? I can gladly support doing this, just le

[2018-08-05 15:11] clanmills commented on #397
Thanks for the feedback.  The Windows "config file" is documented here:  http://dev.exiv2.org/projects/exiv2/wiki/Lens_Recognition_in_Exiv2_v026_(and_later)/

You also get the path to the config file with the command ` $ exiv2 --verbose --version --grep config`

Windows:
[code]

Cygwin:
[code]

MinGW:
[code]

MacOS-X:
[code]

Linux:
[code]

I'll update the Wiki page appropriately and then close th

[2018-08-07 12:14] boardhead commented on #396
The extended XMP specification completely removes the length limitation in JPEG images.  Any single XMP tag may have an arbitrarily large size.

[2018-08-07 13:12] vacky11 commented on #396
@boardhead  Thank you for your input. Can I use extended XMP specification through exiv2 library? If yes, can you please give me a example of it.

[2018-08-07 13:26] clanmills commented on #396
For v0.27, we provide an option to build Exiv2 with Adobe's XMPsdk 2016.  I haven't investigated Extended XMP in Exiv2 with XMPsdk 2016.  I'll build that now and report back.

Thanks very much to Phil for this input.  As always, very helpful.  Thanks.

[2018-08-07 15:32] piponazo commented on #396
I followed the instructions available in the document `WORK-IN-PROGRESS` and I could compile it without problems:

[code]
Remember that I did some work to bring the XMP 2016 dependency with conan.

[2018-08-07 16:10] clanmills commented on #396
Thanks @piponazo You are right.  I had forgotten that we were building that with conan.  I think we should remove the relic xmpsdk/buildXMPsdk.sh.

@vacky11 I'm still getting linker errors on my machine.  I'm going out to have some fun (in Glacier National Park, Montana).  I'll spend more time on this later today.
![org_dsc00160](https://user-images.githubusercontent.com/529982/43788156-fb273996-9

[2018-08-08 03:40] clanmills commented on #396
@vacky11 I've tried to build on a different Mac and getting the same linker errors.  I'm surprised because I'm sure I built this a couple of months ago.   I'll try tomorrow on Linux.

[2018-08-08 16:30] clanmills commented on #396
Progress:
1) I've got exiv2 + Adobe xmpsdk 2016 built and working
2) I still get the message:
[code]

I'm not worried by this message.  It's coming from src/jpgimage.cpp `void JpegBase::doWriteMetadata(BasicIo& outIo)`
[code]

Exiv2 is writing the metadata to the JPEG and is hard-wired to throw if the XMP overflows a single 64k chunk.  So although the Adobe XMPsdk handles "Extended XMP", Exiv2 doe

[2018-08-08 16:43] boardhead commented on #396
Wow Alan, you're definitely spending too much time on your computer when you could be out hiking on that picturesque glacier.  But since we're sharing vacation pics, here is a pic of me from the vacation I was on when this thread started:
![manitoumountaintrail](https://user-images.githubusercontent.com/596983/43851342-65fa5bac-9b08-11e8-87ec-a3fe0c9e7bd9.jpg)

[2018-08-08 16:50] clanmills commented on #396
Thanks, Phil.  One day we'll have a hike or run together in Canada, or England, or somewhere else.

You're right.  Neither of us should be solving software puzzles while on vacation.  Let's keep that fun for home in winter!  Today we travel to Mt St Helens to start this (crazy) adventure:  http://clanmills.com/Homepages/2018/plan.shtml

[2018-08-08 17:02] boardhead commented on #396
Wow again.  That's a big commitment and quite an adventure.

[2018-08-08 17:08] vacky11 commented on #396
@clanmills and @boardhead  Thank you for your valuable inputs even while on vacation. Hope you guys enjoy rest of your vacation.

[2018-08-10 11:21] SmithPeng opened #399 "[bug] print incompleted in Jupyter notebook by python3.6"
I used exiv2 in my linux , it run well on command line ,in ipython ,and in Jupyter notebook  by python3.4 ,but in Jupyter notebook  by python3.6 , run following code:

cmd =  'exiv2 -pa xxx.tif '
os.system(cmd)

only print Exif.Image ,  parts as Exif.Photo, Exif.GPSInfo, Xmp.Camera and etc haven't print, and error present.
Error:
exiv2: symbol lookup error: exiv2: undefined symbol: _Z11_exvGettext

[2018-08-10 16:01] clanmills commented on #399
There's something wrong with your build of the library as I will explain.

Before you execute exiv2 from python, use the terminal and you'll see the same error message.  You can use the command `c++filt` to discover that exiv2 is searching (unsuccessfully) for the entry `_exvGettext(char const*)`

[code]
This entry is unsatisfied and must be provided by a library:
[code]
You can discover the locat

[2018-08-13 14:32] clanmills commented on #399
I'm closing this.  Without user feedback, no progress can be made.

@SmithPeng I'll reopen this when you provide more information.

[2018-08-13 14:32] #399 closed

[2018-08-13 15:39] clanmills commented on #374
Thanks @piponazo for your help with this.  As we've closed #388, I'm also closing this.

[2018-08-13 15:39] #374 closed

[2018-08-14 02:17] Marsman1996 opened #400 "AddressSanitizer: 2 heap-buffer-overflow problems ( Exiv2::Internal::PngChunk::parseTXTChunk() && bool __gnu_cxx::__ops::_Iter_equals_val<char const>::operator()<unsigned char*>(unsigned char*))"
Following bugs was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

both tested in Ubuntu 16.04, 64bit, Exiv2(master ce516ed && v0.26)
`$ exiv2 $POC`

###  POC1

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc1-heapoverflow
[code]

###  POC2

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc2

[2018-08-14 08:44] D4N commented on #400
Cool, could you guys drop me an email once everything is published? (You can find my email in the commit log.)

Do you plan to fuzz exiv2 further? If yes, I could give you some hints what to test further.

[2018-08-14 11:08] Marsman1996 commented on #400
Yes, we will send you an email once everything is done.

We plan to fuzz exiv2 further and we look forward to receiving your hints. We could communicate by email.

[2018-08-14 15:19] piponazo commented on #361
Hi @D4N . I think we discussed this some time ago via Slack and we concluded that the problem here is the way in which those distributions alter the symbolic links in the system when **ccache** is installed.

The CMake code taking care of ccache in exiv2 is:

[code]
If `BUILD_WITH_CCACHE` is disabled, CMake will just rely in the default compiler detected in the system. There is not much we can do

[2018-08-15 01:19] clthomas opened #401 "Failure to Export Due to Size or Unrecognized Tag"
Running `exiv2 ex -e e`  on the attached image fails.  I'm not sure what the problem is, the output is:
[code]
but printing with `exiv2 pr -pv` does not produce an error and the output is less than 65535 bytes (13333) and I assume it is stored more efficiently in the file.  The folks with digiKam thought the PentaxDng tag mentioned in the warning needed to be added to a blacklist.  I tried with th

[2018-08-15 05:48] clanmills commented on #401
Thanks for reporting this and providing a test file.   As you've reported, printing the data is OK:
[code]

However extracting the metadata to an exv file is unhappy:
[code]

I'm on vacation at the moment and hope to investigate with the debugger in the next few days.

[2018-08-15 16:16] #337 closed

[2018-08-16 08:17] clanmills commented on #401
Good News.  This isn't related to #396.  It's a simple bug in 10 year old code.  It's amazing this has never been spotted and reported:
[code]
Let me know how this works for you, then I'll submit a PR to include this in the code-base.

[2018-08-16 14:00] ingviso opened #405 "Unable to run with arm64 architecture / ios"
I'm trying to use exiv2 as a metadatawriter in a ios app that is written in react-native framework.
I have made a bridge using djinni to call c++ code which is where I intend to use exiv2. In Xcode I have set the header search paths to exiv2 and it can be found.

Running this code is fine:
`Exiv2::ExifData exifData;`

But when I start using it more like this code

`exifData["Exif.Image.VersionApp"

[2018-08-16 14:43] ingviso commented on #405
I'm using macOS High Sierra / Xcode 9.4.1
Installed exiv2 using brew

In Build Settings -> Search Paths -> Header Search Paths  I have the paths:
/usr/local/Cellar/exiv2/0.26
/usr/local/bin/exiv2
/usr/local/include/exiv2
I was gettings issues when including the exiv2 library in the header file thats why I have 3 paths.

Valid architectures are arm64, I took out armv7 and armv7s because glib wouldn

[2018-08-16 14:58] D4N commented on #405
Eh, does homebrew provide builds for ARM64? If they don't then that's the root of the problem.

[2018-08-16 14:59] ingviso commented on #405
When you ran this on arm64 how did you install exiv2 ?

[2018-08-16 15:01] D4N commented on #405
I compiled it from source. But that was on Linux that was running on an arm64 machine, so no cross compilation was required.

[2018-08-16 15:50] clanmills commented on #405
I agree with @D4N.  When you install with brew, it installs libraries for use on the desktop.

I've never programmed for iOS, however I don't believe you can use shared libraries and have to use static linking to build your application as monolith.

Team Exiv2 do not build/support iOS and Android platforms.  We'd like to and hope that one day an iOS Engineer will join us.  It could be you!

[2018-08-16 16:00] D4N commented on #405
@ingviso You could build exiv2 with a suitable cross compiler for iOS and get the dependencies via conan (https://docs.conan.io/en/latest/systems_cross_building/cross_building.html). Note that I've never tried that, so your mileage may vary (cross compiling is unfortunately often quite painful).

[2018-08-17 02:02] clthomas commented on #401
It works, thank you.

[2018-08-17 08:28] #358 closed

[2018-08-17 17:56] clanmills commented on #401
Thanks for the feedback.  I'll submit the PR, and close this issue, when I get home from vacation.

[2018-08-20 12:07] piponazo opened #408 "Fix TravisCI for OSX"
I recently noticed that the travis [CI job](https://travis-ci.org/Exiv2/exiv2/jobs/418189810) is failing on Mac OSX due to this error:

[code]
Investigate the issue and fix it ASAP.

[2018-08-21 11:32] #408 closed

[2018-08-21 12:09] #400 closed

[2018-08-25 13:07] piponazo commented on #382
I agree with the analysis done by @D4N here. Anyways, note that this file is a sample application, and maybe we should not get paranoid about it. If the code would have been in the library code I would not say the same, but in a sample application I could live with this situation :smiley_cat: .

[2018-08-25 13:08] #359 closed

[2018-08-25 19:09] clanmills commented on #359
I will start working on the release next week.  I will do some maintenance on README.md concerning _Linking your own code with Exiv2_ which refers to the pkg-config file.   And there are other changes needed to that file such as removing the discussion of the commercial license.

[2018-08-30 14:24] emmenlau opened #421 "MinGW / MSYS2 build fails for v0.26 with gcc 8.2.0"
Since the upgrade to gcc 8.2.0 I can not build exiv2 anymore. Maybe someone here has experience or an idea about the problem? If not, we can maybe just leave this issue hanging for other people to share insight?

With gcc 8.2.0 on MSYS2 I get the following linker error:
[code]
I checked the symbols in `libexiv2.dll` and there the symbol is defined:
[code]
I do not know why the linker step could fa

[2018-08-30 15:14] D4N commented on #421
Unless you run cmake with `-DEXIV2_ENABLE_WIN_UNICODE=ON`, exiv2 will not use `wchar`. No clue where the linking error comes from though.

[2018-08-30 16:44] clanmills commented on #421
[code]
And that's in src/error.cpp:
[code]
The `<wchar_t>` variant is only compiled when using EXV_UNICODE_PATH
The `<char>` variant is always compiled.  And, as you've reported, the symbol is in `libexiv2.dll`.

By happy coincidence, I want to do some maintenance work tomorrow on MinGW in preparation for v0.27 RC1 which I hope to publish in September.  I have a puzzle to solve with MinGW/regex/ve

[2018-08-30 19:38] clanmills commented on #421
Gentlemen:
I've build exiv2 on MinGW/64 with GCC 7.3.0.  Looks good (with/without UNICODE)
[code]
Incidentally there's code in config.h to refuse to build UNICODE with MinGW.  Tobias (one of the **darktable** engineers) asked me to remove that.  He's right.  I'll deal with that tomorrow when I'm doing the MinGW maintenance.  When you build the default (no UNICODE), you get one setMsg() entry point

[2018-08-30 19:59] emmenlau commented on #421
Dear @clanmills , thanks! I'm super happy about your progress! I've previously used the build instructions from https://github.com/Alexpux/MINGW-packages/blob/master/mingw-w64-exiv2/PKGBUILD but I don't know if they work around enabled/disabled UNICODE (most likely not). Any help is greatly appreciated.

I've also reported the issue here downstream here: https://github.com/Alexpux/MINGW-packages/i

[2018-08-30 20:26] clanmills commented on #421
I'm pleased that you are pleased!  I supported MinGW (msys/1.0) for Qt affectionados.

After we released v0.26 in April 2017, I came to the conclusion that MinGW (msys/1.0) was trouble, trouble, trouble.  Even building CMake on MinGW required manually altering a Microsoft SDK header file.

Tobias assured me that MSYS2 worked, although I was unable to build Exiv2 on that platform.  A discussion wit

[2018-08-30 21:17] D4N commented on #307
I can neither reproduce this on master.

@legend-issue Could you please provide us with the commit with which you build this? Otherwise I am going to close this issue.

[2018-08-30 21:59] D4N commented on #210
@ret2libc #180 will fix this.

@fgeek The reproducer for this is exactly the same as the one for #209. Did you forget to upload a reproducer or am I missing a difference between the two reports?

[2018-08-30 22:33] D4N commented on #262
@xiaoqx Thanks for your report!

This issue appears to be already fixed on master. I will add the reproducer to the test suite and close this.

[2018-08-30 22:56] D4N commented on #373
This issue will be closed by #180. I hope to merge it in the next few days.

[2018-08-31 05:37] HongxuChen opened #422 "Hangs inside Image::printIFDStructure"
Our fuzzer detected an infinite loop inside Image::printIFDStructure (src/image.cpp) (as of 5940c6f3) when running `exiv2 -ep 2 $FILE`.

Some of the test inputs are available [here](https://github.com/ntu-sec/pocs/tree/master/exiv2-5940c6f3/hangs).

For example, for `h_01.tiff`, `dirLength==0`, `bSwap==0`, `tooBig==0`, and consequently `start==0xc0000` remain unchanged.

[2018-08-31 09:12] HongxuChen opened #423 "AddressSanitizer: invalid write (NPE) at value.cpp:212"
When running `exiv2 $FILE` (5940c6f, disable-printStructure) on some crafted tiff files, ASAN reports an invalid write on a NULL pointer.

POCs:
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/npe_w_value.cpp:212_1.tiff?raw=true
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/npe_w_value.cpp:212_2.tiff?raw=true

ASAN output:
[code]

[2018-08-31 10:06] clanmills commented on #405
I'm going to close this.  Team Exiv2 does not provide support for mobile platforms.  One day we'll recruit an Engineer to provide this support, however for now we're (regrettably) unable to provide assistance.

[2018-08-31 10:06] #405 closed

[2018-08-31 10:10] clanmills commented on #377
I'm closing this.  It's dealt with in branch getopt-changes.

[2018-08-31 10:10] #377 closed

[2018-08-31 10:14] clanmills commented on #298
I've decided to do nothing about this.  When the grep code was reworked for v0.26, I believe it does not apply to the default `$ exiv2 foo` command.  There's a lot of work to be done for v0.27 and spending time on this could be a time/resource trap.  I don't think this feature is worth the trouble that changing the code could cause.

[2018-08-31 10:14] #298 closed

[2018-08-31 11:58] HongxuChen opened #425 "AddressSanitizer: heap-buffer-overflow at types.cpp:245"
When running `exiv2 $FILE` (5940c6f3) against psd files, ASAN reports a heap-buffer-overflow error.

POCs:
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_types.cpp:245_1.psd?raw=true
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_types.cpp:245_2.psd?raw=true

ASAN output:
[code]

[2018-08-31 13:49] HongxuChen opened #426 "Infinite loop inside Exiv2::PsdImage::readMetadata (psdimage.cpp)"
There seems an infinite loop inside Exiv2::PsdImage::readMetadata at https://github.com/Exiv2/exiv2/blob/disable-printStructure/src/psdimage.cpp#L200-L233 (5940c6f3).

It checks `while (resourcesLength > 0)` at line 200, `resourcesLength` is updated at line 232. However sometimes `resourceNameLength + resourceSize` may be 0xfffffff4, and it will be truncated to 0 when adding 12, making the subtrac

[2018-09-01 05:37] HongxuChen opened #427 "AddressSanitizer: heap-buffer-overflow at iptc.cpp:464"
When running `exiv2 $FILE` (5940c6f) against psd files, , ASAN reports a heap-buffer-overflow error.

POCs:
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_iptc.cpp:464_1.psd?raw=true
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_iptc.cpp:464_2.psd?raw=true

ASAN output:
[code]

[2018-09-01 05:40] HongxuChen opened #428 "AddressSanitizer: heap-buffer-overflow at pngchunk_int.cpp:635"
When running `exiv2 $FILE` (5940c6f) against png files, , ASAN reports a heap-buffer-overflow error.

POCs:
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_pngchunk_int.cpp:635_1.png
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_pngchunk_int.cpp:635_2.png

ASAN output:
[code]

[2018-09-01 18:34] piponazo commented on #421
I just noticed something suspicious in your error line: `Exiv2::BasicError<char>::BasicError<std::__cxx11::basic_string<`...`. That **cxx11** makes me think that you might have some miss configuration in the way the project is configured. Remember that Exiv2 must be compiled with the C++98 standard.

Since gcc6, the default standard is c++14: https://gcc.gnu.org/gcc-6/changes.html

[2018-09-01 18:48] clanmills commented on #421
Good Idea @piponazo The output from CMake is setting -std==gnu++98
[code]

It's really strange that the library has the symbol and it doesn't link itself!  And it's only this one symbol.  How odd!

[code]

I've been delayed by various matters (and had lots of help from @D4N and @piponazo).  Hope to install GCC 8.2.0 on a clean machine on Sunday afternoon.

[2018-09-01 19:09] emmenlau commented on #421
I will check my configuration with respect to c++ standard. It is actually something I usually take care, to not mix and mingle too many standards, so there are some libraries where I set c++11 or 14. I'll check about exiv2, thanks for the very good pointer!

[2018-09-02 06:27] piponazo commented on #428
Thanks @HongxuChen for reporting. I confirm that I could reproduce the issue and I will take a look to this issue

[2018-09-02 14:59] HongxuChen commented on #428
@piponazo This fixes Line 635 issue. The line 645 issue still exists.
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_pngchunk_int.cpp:645_1.png
https://github.com/ntu-sec/pocs/blob/master/exiv2-5940c6f3/crashes/hbo_pngchunk_int.cpp:645_2.png

Also, our fuzzer found a few other relevant cases in 5940c6f but exists after the PR.
https://github.com/ntu-sec/pocs/blob/master/exi

[2018-09-02 15:46] piponazo commented on #428
I will double check again. I do not know much about that piece of code and it is also difficult to find some specification to determine how a "good implementation" should look like.

[2018-09-02 22:36] clanmills commented on #421
I've reproduced this on a 'clean' machine.  pacman installed GCC 8.2.0.  I don't know how to "downgrade" the compiler.  https://stackoverflow.com/questions/33969803/how-to-obtain-older-versions-of-packages-using-msys2

[code]

There's a significant difference in the symbols  On 8.2.0 we see:
[code]

On 7.3.0, we see:
[code]
Note:  7.3.0 has BOTH **`...setMsg`** and **`__imp...setMsgEv`**

The libr

[2018-09-03 06:56] piponazo commented on #428
@HongxuChen I could fix the issues detected with the 2 other POCs reported initially (line 645).

However I do not understand yet enough about the PNG specification to fix the rest of issues detected. I have the feeling that for fixing all the issues in this function we will need much more time to understand the PNG specification, and also to rewrite such method. I do not think I can address all t

[2018-09-03 07:07] piponazo commented on #427
I could easily reproduce the issue but It does not seem trivial to fix. The problem seems to be in the **IptcParser::decode** method.

[2018-09-03 07:17] HongxuChen commented on #428
@piponazo  :ok_hand:

[2018-09-03 08:47] emmenlau commented on #421
Dear @clanmills , thanks for your detailed investigation, this is very interesting! To save some of your time, maybe it would now be time to involve some MSYS2 / MinGW core people in the discussion? Since the problem you found is so fundamental it may be a known issue? The MSYS2 mailing list (https://sourceforge.net/p/msys2/mailman/) may be a good place for discussion...

[2018-09-03 09:56] clanmills commented on #421
I think this is a GCC issue.  MinGW appears to be working fine.  My suspicion is the compiler.  Yesterday, when working on #421, I discovered entry points in Exiv2::Internal::Util were no longer in the library.

We build the library as two entities:
[code]

I'm not an expert in CMake.  I not sure how those are combined into a single library.  I think the second `add_library` does the job.  However

[2018-09-03 09:59] clanmills commented on #428
Thanks for looking into this @piponazo

I've assigned myself to this, although I agree with you that we are unlikely to resolved this for v0.27 RC1.

[2018-09-03 10:00] clanmills commented on #427
Thanks for looking into this @piponazo  I've also assigned myself to this.  It's unlikely that we will resolve this for v0.27 RC1.

[2018-09-03 10:17] clanmills commented on #421
There's no question about the problem.
On GCC 7.3.0
[code]
On 8.2.0
[code]

The entry point is missing in 8.2.0.  I don't know why it's missing.  I'll do more work this evening.

[2018-09-03 13:38] piponazo commented on #423
I tried to reproduce this issue on master but I could not. I get the following:

[code]

Could you double check?

[2018-09-03 14:27] HongxuChen commented on #423
It weird that I cannot reproduce this issue either.
I was using our fuzzer ([to appear](https://2018.fseconference.org/event/fse-2018-demonstration-fot-a-versatile-configurable-extensible-fuzzing-framework)) to instrument on `exiv2` firstly, but I remember I replayed with the asan instrumented clang-6.0 later. Now only the fuzzer instrumented version (5940c6f) reports NULL pointer write. Maybe I w

[2018-09-03 14:27] #423 closed

[2018-09-03 14:31] D4N commented on #423
I haven't tested this myself, but I'd just like to add, that commit
5940c6f is not in master yet. It is on the branch
disable-printStructure, which I advised @hongxu to use instead of
master, so that their fuzzer won't report bugs in printIFDStructure.

hongxu <notifications@github.com> writes:

[2018-09-03 14:33] HongxuChen commented on #423
@D4N I mentioned in the last sentence that I tested 59e84ed which is not reproducible; therefore I think it's reasonable to close for now.

[2018-09-03 14:50] D4N commented on #423
Yes, you have tested this on 59e84ed, but your original report is
against 5940c6f. Those are different commits, the first one is on master
and the second one is on the branch disable-printStructure.

I have just tested this on disable-printStructure with the first
reproducer (npe_w_value.cpp_212_1.tiff) and I get an error with UBSAN:

/usr/include/c++/8/bits/stl_algobase.h:368:23: runtime error: n

[2018-09-03 15:03] clanmills commented on #421
I've eliminated the following:

1) It cannot be exiv2lib/exiv2lib_int visibility/conflict.  The entry is in error.cpp which is in exiv2lib
2) I've explored the declaration without success by making it public in include/exiv2/error.hpp
I've also tried about 6 modifications to  EXIV2API in config.h
[code]

Running out of ideas.  Why is this function a template?  Perhaps a regular function, or an inl

[2018-09-03 15:54] RigacciOrg opened #432 "Wrong values in GPS tags: negative number for seconds of latitude or longitude"
Hi, I have a problem tagging jpeg images using the pexif Python library, but I can reproduce the bug with exiv2 tool alone.

I set the following value of latitude:
`exiv2 -n UTF-8 -k -M "set Exif.GPSInfo.GPSLatitude 43/1 51/1 2576100059/50000000"  image.jpg`

With **exiv2 -PExgnycv** I can confirm that the rationale for seconds of latitude is correct:
`0x0002 GPSInfo  GPSLatitude   Rational    3

[2018-09-03 16:06] D4N commented on #432
The issue appears to be fixed on master, I have tested it and obtain
with exiv2 -Pkyct:
Exif.GPSInfo.GPSLatitude                     Rational    3  43deg 51' 51.522"

which looks like the correct value to me.

Is this the behavior that you expect?

Niccolo Rigacci <notifications@github.com> writes:

[2018-09-03 16:27] RigacciOrg commented on #432
Yea! Thank you very much, 51.522"  is the correct value!
Happy to read that **the bug is corrected** in master . Unfortunately there are many GPS related sofware compiled against libexiv2 (eg. the image viewer Geeqie), which show the bug.
May be it is a little crazy by the Python library to use a **so huge denominator** (50000000!). To avoid triggering the overflow the maximum denominator is 35791

[2018-09-03 16:27] #432 closed

[2018-09-03 16:39] clanmills commented on #432
Gentlemen:

The Exif Standard defines Rational and SRational and we declare them in include/exiv2/types.hpp
[code]
With my Nikon 5300 (with embedded GPS), GPS is stored as Rational (not Signed Rational) and xxxRef defines N/S for Latitude E/W for Longitude and Above/Below sea-level for Altitude

[code]

Exiv2 isn't a metadata policeman.  The data associated with a key can be of any type.  The choi

[2018-09-03 19:11] clanmills commented on #421
**_Eureka._**  Static libraries build OK!
[code]

There something wrong with GCC/linker when it creates libexiv2.dll (and libexiv2.dll.a).

The application exiv2.exe is in src/exiv2.cpp and links libexiv2.dll.a which doesn't have the import symbol `__imp__ZN5Exiv210BasicErrorIcE6setMsgEv`.  It's a linker error in the construction of libexiv2.dll (and libexiv2.dll.a).  I suspect GCC 7.3.0 manufactu

[2018-09-04 11:26] clanmills commented on #421
Thank you for reporting this to Alexpux/MINGW-packages.  I really like your precise definition of the puzzle.

_The dll symbols are quite different for exiv2 since gcc-8.2. Is this known or expected?_

_On GCC 7.3.0:_
[code]

_On 8.2.0:_
[code]

[2018-09-04 12:19] clanmills commented on #428
I have a working knowledge of the PNG Specification.  Tuan added this page about it to our Wiki in 2013:  http://dev.exiv2.org/projects/exiv2/wiki/The_Metadata_in_PNG_files

I have reproduced this and will work on this later today (it's currently Tuesday 2018-09-04 13:19BST)

Here's what I can see:
I've build with ASAN:
[code]
Here are the POC files:
[code]
When I execute exiv2, I get:
[code]

[2018-09-07 11:38] clanmills opened #433 "ASAN issue with stringto-test.cpp"
The program samples/stringto-test.cpp crashes when built with ASAN.
[code]
$ bin/stringto-test
[code]

The fix is tiny (in types.cpp).

There's an issue in the test suite prevents tests being run from directory test/
[code]

[code]

[2018-09-08 18:54] piponazo opened #434 "Add Visual Studio 2012 and 2013 to the Appveyor Build Matrix"
Currently Exiv2 is not building with VS 2012 and 2013 due to the usage of snprintf. See errors here:
https://ci.appveyor.com/project/piponazo/exiv2/build/1.0.582

Although we have plans to move to modern C++ in the next months, it is worth it to fix this situation for the next release: 0.27.0.

Some other projects have had to deal with this issue and in these links we can find the solution:
https:

[2018-09-10 08:31] piponazo commented on #434
Done in #435

[2018-09-10 08:31] #434 closed

[2018-09-10 17:38] clanmills commented on #433
The message appears on MacOS-X.
[code]

[2018-09-10 17:57] clanmills commented on #428
I've reviewed PngChunk::readRawProfile() again.   My previous comments stand.  The code is galloping along a buffer without checking for the end.

I don't know the Specification for this code.  From the comments, this has been specified by ImageMagick.  It seems that an Exif (&Iptc) binary metadata block is encoded as hex nibbles which are decoded.  If the decoding fails, the chunk is returned as

[2018-09-11 08:39] piponazo commented on #428
@clanmills managed to solve the problems triggered by all the POCs, and I adapted the tests in #430 to have regression tests for all these cases. Thanks @HongxuChen for reporting this.

[2018-09-11 08:39] #428 closed

[2018-09-11 08:53] clanmills opened #438 "test/exiv2-test.sh fails on Cygwin"
Fix is to use the flag --text in $diffargs and to use $diffargs when comparing temporary files.  I've only tested this on Cygwin and MacOS-X.  I'll test later on MinGW/Linux/msvc/

[code]

[2018-09-11 14:01] clanmills opened #439 "Changes to bash test suite for MinGW msys/2"
There are two different issues with the bash test suite on MinGW msys/2:

1) MinGW msys/2 is not detected as PLATFORM=mingw
2) There are issues with individual scripts (such as test/icc-test.sh crashing)

This is a simple patch to ensure that MinGW msys/2 is correctly detected.
I'll investigate the crashes and report them as individual issues.
[code]

[2018-09-11 15:17] clanmills opened #440 "Running the test suite on MSVC builds on v0.27"
This isn't a single issue.  It's an collection of thoughts about how to achieve this.

I propose:
1) Remove test/testMSVC.sh as obsolete.
2) Dan to investigate/explain why `( cd ../tests ; python3 runner.py --verbose )` is failing
3) Robin to document how to run the test suite for every platform (probably in README.md)

The schedule dictates that we retain the bash scripts (such as test/icc-test.s

[2018-09-11 17:40] clanmills commented on #438
I've successfully tested this on all platforms (Linux, MinGW, MacOS-X, Cygwin and msvc).

[2018-09-12 13:35] #334 closed

[2018-09-13 06:35] #439 closed

[2018-09-13 08:19] piponazo opened #445 "Cleanup version information when running 'exiv2 --version'"
When we run `exiv2 --version` we obtain a string like this:
[code]
We want to remove the 3rd column there (Hexadecimal number). This functionality is actually broken right now, since it is using some hard-coded values for the project version.

We also want to provide the full version string (major, minor, patch, tweak) in the packages generated by CPack.

[2018-09-13 08:38] clanmills opened #446 "Structure of a v0.27 tarball"
Here's the structure of the tarball for v0.26
http://www.exiv2.org/builds/exiv2-0.26-linux.tar.gz

The first version of exiv2-0.27.0-Darwin/ has the essential output of the build.  However, the v0.26 tarballs have more content:
[code]
The ReadMe.txt is generated by the buildserver from contrib/buildserver/dailyReadMe.txt

contrib/ is a straight copy of the contrib/ directory in the repos
samples/

[2018-09-13 14:30] #262 closed

[2018-09-13 15:06] piponazo commented on #446
I see that here you are doing a comparison between what the 0.26 tarball had and what the 0.27 tarballs generated by CPack have.

I am wondering if we want to keep the same structure of the 0.26 tarballs or not. These are my opinions about each item:

1. For me, it does not make much sense to place the **contrib** & **samples** directories there since those things are already available in the sour

[2018-09-13 15:28] piponazo opened #448 "Modernise symbol exportation"
When setting the following CMake variables:
[code]
We get many linking errors when trying to link **exiv2lib** with any of the apps. The problem is in the file **include/exiv2/config.h**, in the configuration for the End symbol visibility. On Linux/Mac, gcc and clang export all the symbols by default, which is a different behaviour than MSVC when building static libraries.
The current code for Lin

[2018-09-13 15:56] vacky11 opened #449 "Unable to set Xmp.drone-dji"
I am trying to add Xmp.drone-dji.GimbalRollDegree attribute to a image but I get following error.
[code]

Is this because only DJI can set this metadata and not anyone else?

[2018-09-13 17:26] clanmills commented on #449
No problem at all.  You have to register the namespace:
[code]

Exiv2 has about 68 "pre-registered" namespaces which you can list with:
[code]
DJI isn't one of the pre-registered namespaces.

You can list the "raw" XMP (xml) as follows:
[code]
As you can see, the `<rdf:Description>` tag correctly declares the name-spaces.

[2018-09-13 17:27] #449 closed

[2018-09-14 06:42] #445 closed

[2018-09-14 06:43] #438 closed

[2018-09-14 11:20] #448 closed

[2018-09-14 13:37] vacky11 commented on #449
@clanmills Thanks for the detailed explanation as always!

[2018-09-16 07:00] clanmills commented on #446
I think it's essential to have ReadMe.txt in the tarball.  Otherwise, the user has the following directories with no information about how to use it!  What you have in the tarball is more-or-less what I have in the dist/linux directory.
[code]

[2018-09-17 07:36] D4N commented on #433
This issue is still present on Linux with clang 6 (other versions possibly affected too).

[2018-09-17 09:34] #433 closed

[2018-09-17 14:18] Marsman1996 opened #452 "AddressSanitizer: heap-buffer-overflow in Exiv2::us2Data"
Tested in Ubuntu 16.04, 64bit, Exiv2(master b6a8d39)
`$ exiv2 $POC`

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc3-us2Data

[code]

Addition: This bug was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

[2018-09-17 14:18] Marsman1996 opened #453 "AddressSanitizer: heap-buffer-overflow in Exiv2::d2Data"
Tested in Ubuntu 16.04, 64bit, Exiv2(master b6a8d39)
`$ exiv2 $POC`

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc4-d2Data

[code]

Addition: This bug was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

[2018-09-17 14:18] Marsman1996 opened #454 "AddressSanitizer: heap-buffer-overflow in Exiv2::l2Data"
Tested in Ubuntu 16.04, 64bit, Exiv2(master b6a8d39)
`$ exiv2 $POC`AddressSanitizer: heap-buffer-overflow in Exiv2::d2Data

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc5-l2Data

[code]

Addition: This bug was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

[2018-09-17 14:18] Marsman1996 opened #455 "AddressSanitizer: heap-buffer-overflow in Exiv2::ul2Data"
Tested in Ubuntu 16.04, 64bit, Exiv2(master b6a8d39)
`$ exiv2 $POC`

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc6-ul2Data

[code]

Addition: This bug was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

[2018-09-17 14:18] Marsman1996 opened #456 "AddressSanitizer: heap-buffer-overflow in Exiv2::s2Data"
Tested in Ubuntu 16.04, 64bit, Exiv2(master b6a8d39)
`$ exiv2 $POC`

https://github.com/Marsman1996/pocs/blob/master/exiv2/poc7-s2Data

[code]

Addition: This bug was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

[2018-09-17 14:33] D4N commented on #456
This issue is no longer present on master.

[2018-09-17 14:33] #456 closed

[2018-09-17 14:35] D4N commented on #454
This issue is no longer present on master.

[2018-09-17 14:35] #454 closed

[2018-09-17 14:36] D4N commented on #453
This issue is no longer present on master.

[2018-09-17 14:36] #453 closed

[2018-09-17 14:36] D4N commented on #452
This issue is no longer present on master.

[2018-09-17 14:36] #452 closed

[2018-09-18 22:28] D4N commented on #307
I am closing this issue, as it cannot be reproduced.

[2018-09-18 22:28] #307 closed

[2018-09-20 14:54] Marsman1996 opened #457 "CVE-2018-17282: SEGV in Exiv2::DataValue::copy at value.cpp:242"
Tested in Ubuntu 16.04, 64bit, Exiv2(master 37b8725)
`$ exiv2 $POC`

https://github.com/Marsman1996/pocs/blob/master/exiv2/CVE-2018-17282/poc8-DataValue%20copy

gdb info:
[code]

Asan info:
[code]

Addition: This bug was found with mem-AFL, which is based on AFL. Mem-AFL is developed by Yanhao(unfuzzable123@gmail.com) & Marsman1996(lqliuyuwei@outlook.com)

[2018-09-20 15:26] abergmann commented on #455
[CVE-2018-17230](https://nvd.nist.gov/vuln/detail/CVE-2018-17230) was assigned to this issue.

[2018-09-21 14:02] a17r commented on #263
Is this the same as CVE-2017-17724?

[2018-09-24 06:47] clanmills commented on #440
This works fine with the MinGW/msys2 shell.  It's producing the following error with Cygwin:
[code]
It looks as though there's something wrong with the conversion from `/c/Users/rmills/gnu/github/exiv2/exiv2/test/../build/bin/exiv2.exe` (which exists) to `C:\c\Users\rmills\gnu\github\exiv2\exiv2\build\bin\exiv2.exe` which should be: `C:\Users\rmills\gnu\github\exiv2\exiv2\build\bin\exiv2.exe`

The

[2018-09-24 07:03] fgeek commented on #457
Crash reproduced. Thanks for reporting.

[2018-09-25 16:06] SegfaultMasters opened #460 "Stack overflow due to excessive stack consumption (Recursive function)"
A stack overflow exits in `CiffDirectory::readDirectory()` at `crwimage_int.cpp` due to a recursive function call causing the excessive stack consumption which leads to Denial of service.

###### **Affected version:**
exiv2 0.27.0.0 (64 bit build)

###### **Command:**
./exiv2 -pi $POC

### **Debugging**

[code]

### ASAN Output

[code]

[Reproducer file](https://github.com/SegfaultMasters/covering

[2018-09-26 22:42] r3pek commented on #176
Sorry to bump this old issue, but can anyone give any pointers as to which commit/merge fixed the issue on master to check if it can be backported to 0.26?

[2018-09-30 19:38] potuz commented on #156
Thanks! the latest commits solved this issue for me. This could be closed for all I know

[2018-09-30 19:40] potuz commented on #373
Thanks! this can be closed for all I know

[2018-10-02 08:13] fgeek commented on #460
Confirmed and also reproduced with exiv2json.

[2018-10-03 07:57] clanmills commented on #460
Thanks for reporting this @SegfaultMasters And thank you to @fgeek for confirming this.

I have a patch (discussion below) and would like to ask @D4N to review and comment.
[code]

I believe this is a fuzzed CRW file. I don't the CRW format, however it's a **_"kind of"_** tiff with directories and data.  The code locates the directory and tests for sanity.  However, the length of the directory is

[2018-10-03 08:52] clanmills commented on #460
I've had another look at this.  Several observations (and a new patch):
1)  We must guard the call to getULong() to ensure we have 4 bytes.
2) We must guard the call to getUShort()
3) The directory data seems to have 10 bytes/record
4) Testing inside the loop doesn't work because the recursion can execute
5) By testing before the loop, we detect the infinite recursion and can omit the test inside

[2018-10-05 18:04] henryborchers opened #463 "Unable to set Exif resolution metadata in tiff files"
Using the API, I'm unable to set the following Exif metadata with tiff files:

- Exif.Image.XResolution
- Exif.Image.YResolution
- Exif.Image.ResolutionUnit

I can read them but not write. Any changes I make or add are ignored and untouched for those fields.

I've tried it with png, jpg, and jp2 files and it works there. Just with tiff files.

Tested on Windows 7. Compiled with VS14 MSVC and MSYS2

[2018-10-05 18:58] clanmills commented on #463
Henry: This is correct behaviour.  Some of the metadata cannot be changes.  For example, you can't change the number of row and columns in the image as this would require resampling the image.

There's a function isImageTag() in every image handler that determines if a metadatum can be edited.  In the case of XResolution, it doesn't see unreasonable to allow it to be edited.  Somebody did request

[2018-10-05 18:58] #463 closed

[2018-10-05 20:02] clanmills commented on #463
I've had a discussion on Messenger with Henry about this.  XResolution can be set for JPEG, JP2 and others.  It's not working for Tiff.  We have a work around:  http://dev.exiv2.org/issues/1371

I'm going to leave this issue closed.  When we release Exiv2 v0.27 GM, we'll import issues from Redmine and this issue will be addressed early in Exiv2 v0.28.

@henryborchers It would be very help for you

[2018-10-07 07:23] cgilles opened #464 "libcurl dependency required even if cmake configuration option is turned OFF"
A first try to use Exiv2 from trunk with digiKam give this compilation result :
[gilles@localhost exiv2 (master)]$ ./bootstrap-exiv2.sh
-- The CXX compiler identification is GNU 5.5.0
-- The C compiler identification is GNU 5.5.0
-- Check for working CXX compiler: /bin/c++
-- Check for working CXX compiler: /bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - d

[2018-10-07 07:28] cgilles commented on #464
In http.hpp, i see the curl.h included depending of pre-processing rule. This last one must be initialized where i must not be.

In all cases, it's a bad idea to share system header include in library header if a system component is used internally. I recommend to only include header in private section to prevent side effects and improve code maintenance in time.

[2018-10-07 07:31] cgilles commented on #464
The bootstrap configuration script used with cmake is just this one :

# Copyright (c) 2008-2018, Gilles Caulier, <caulier dot gilles at gmail dot com>
#
# Redistribution and use is allowed according to the terms of the BSD license.
# For details see the accompanying COPYING-CMAKE-SCRIPTS file.
#
# Copy this script on root folder where are source code

export PATH=$QTDIR/bin:$PATH
export PKG_CONFI

[2018-10-07 07:32] cgilles commented on #464
I used this bootstrap script one month ago on the same computer without any problem.

[2018-10-07 07:48] cgilles commented on #464
The reason is simple :

[gilles@localhost exiv2 (master)]$ pwd
/mnt/data/GIT/exiv2
[gilles@localhost exiv2 (master)]$ ls -al ./include/exiv2/exv_conf.h
-rw-r--r-- 1 gilles gilles 6172 juil. 23  2017 ./include/exiv2/exv_conf.h
[gilles@localhost exiv2 (master)]$ ls -al ./build/exv_conf.h
-rw-r--r-- 1 gilles gilles 2928 oct.   7 09:36 ./build/exv_conf.h
[gilles@localhost exiv2 (master)]$

There are 2

[2018-10-07 07:53] cgilles commented on #464
Ok i understand now. The include/exiv2/exv_conf.h do not come from git. It's a generated file from cmake coming from an old build, while exiv2 development. I remove it and now all compile file.

I close this file now, even if my comment about private system header must be included in private implementation of library.

[2018-10-07 07:53] #464 closed

[2018-10-07 08:43] D4N commented on #156
Unfortunately not yet, I think you'll still be able to reproduce the infinite loop with `exiv2 -pR $file`.

[2018-10-07 10:01] cgilles opened #465 "Exiv 0.27 : broken API with ExifTags::groupList()"
With new API 0.27, the ExifTags::groupList() disappears.

In digiKam we use this list to build a tags view categorized by group name.

Code is here for example :

https://cgit.kde.org/digikam.git/tree/core/libs/dmetadata/metaengine_exif.cpp#n1077
https://cgit.kde.org/digikam.git/tree/core/libs/dmetadata/metaengine_exif.cpp#n1138

Best

[2018-10-09 14:42] cgilles opened #466 "Exiv2 0.27 : Regex dependency : do not use PKG_CONFIG with Mingw but cmake script instead"
As the whole project is based on Cmake, no need to use PKG_Config with cmake to configure. PKG_config is and older Unix based tool, and With Mingw the introduce complexity and problem.

No need to re-invent the wheel. Cmake can find expected dependency files as well.

The patch given in this file fix the Regex lib detection and use a Find.cmake script to do the job in place.
Now, the compilation u

[2018-10-09 15:58] mmatrosov opened #467 "CMake tests (ctest) do not work with Visual Studio (on Windows)"
Run CMake with Visual Studio generator (tested with Visual Studio 2013 and Visual Studio 2017). Try running tests:

[code]

Tested with this revision: https://github.com/Exiv2/exiv2/commit/11e66c6c9eceeddd2263c3591af6317cbd05c1b6

[2018-10-09 16:03] D4N commented on #467
That is unfortunately to be expected, as we do not use ctest (yet).

You have to run the tests manually with (see for instance Appveyor.yml for a concrete example on Windows).

[2018-10-09 16:08] piponazo commented on #467
I would like to have this issue open as a reminder to add CTest support in the project. We can also label this issue as "good first issue" so that somebody can try to provide a patch to add this support ;)

[2018-10-09 16:17] cgilles opened #468 "Exiv2 and MinGW : The library compile fine with Unicode paths support"
[gilles@localhost exiv2 (master)]$ ./bootstrap.mxe /mnt/data/GIT/6.x/project/bundles/mxe/build.win64
MXE target : 64 bits shared
Installing to /mnt/data/GIT/6.x/project/bundles/mxe/build.win64 for target x86_64-w64-mingw32.shared with build mode RelWithDebInfo and configure options
== Using MXE wrapper: /mnt/data/GIT/6.x/project/bundles/mxe/build.win64/usr/bin/x86_64-w64-mingw32.shared-cmake

[2018-10-09 16:36] clanmills commented on #468
Gilles

What's the issue here?  EXV_UNICODE_PATH didn't work with MinGW msys/1.  However, one of the darktable engineers (Tobias, I think) told me that it works OK with MinGW msys/2.

Are you asking us to remove this MinGW "blocker"?

[2018-10-09 17:08] cgilles commented on #468
Absolutly.

i compiled more Exiv2 code, as the CLI tool and all link fine.

This evening, i build the first digiKam 6.0.0 bundle for windows, cross
compiled with MinGW with Exiv2 0.27. I will see if all work fine under
Windows 10 quickly.

Gilles Caulier

Le mar. 9 oct. 2018 à 18:36, Robin Mills <notifications@github.com> a
écrit :

[2018-10-09 17:51] clanmills commented on #468
I've removed the MinGW "blocker" in include/exiv2/config.h in branch "RC1"  1f1bb97c589d59991fa23b2cd6eb72ff348ccd2f

This triggered a consequential change to samples/exifprint.cpp which is the only sample which respects EXV_UNICODE_PATH and can pass pathnames in UNICODE.  This involves hackery concerning main() and wmain() and results in linking errors with WinMain()!

I found this discussion sug

[2018-10-09 17:51] #468 closed

[2018-10-09 17:56] clanmills commented on #467
We do not support ctest at this time.

Our test suite is in a state of transition from bash scripts (which for Visual Studio require MinGW/msys2) to python.

The procedure to run the test suite on MSVC builds is documented on the **RC1** branch in the file `README.md` under `5.2 Running tests on Visual Studio builds`

[2018-10-09 18:14] clanmills commented on #466
I suspect you are right about this, Gilles.  I spent an evening in Scotland on vacation suffering with the Regex stuff (on MinGW, I think).  I've added @piponazo to this issue as he's our CMake guy.

I suspect pkgconfig is no longer involved in Exiv2.  There are references to it in the release notes/platform/ReadMe.txt files.  If pkgconfig is now history, I'll update the release notes appropriatel

[2018-10-09 18:41] clanmills opened #469 "Running the Test Suite on MinGW builds"
The procedure to run the test suite is documented in README.md in the "RC1" branch.  It works for Cygwin and I've documented a successful approach for Visual Studio Builds (ugly, however it works).

I'm running the suite with this command:
[code]

Using MinGW python and MinGW Bash (and build) results in:
[code]
Using DOS python and MinGW bash (and build) results in:
[code]
There's something not co

[2018-10-10 04:59] piponazo commented on #466
Thanks @cgilles for the contribution, the patch goods good :wink: . I will create a PR with your commit to check if it works for all the supported platforms.

[2018-10-10 07:09] clanmills commented on #469
We need to get this fixed.  I spent time on this two weeks ago in Scotland.  The problem is in the Python code.  However, I didn't solve it and forgot about this.  When Gilles reported #468 I rediscovered this issue.

[2018-10-10 07:14] clanmills commented on #466
Fixed by #471

[2018-10-10 07:14] #466 closed

[2018-10-10 07:16] clanmills commented on #346
I'm closing this as we are now successfully building with Visual Studio + Cmake + conan, thanks to great work by @piponazo

[2018-10-10 07:16] #346 closed

[2018-10-10 09:22] mmatrosov commented on #467
@clanmills thanks for the clarification! I'm currently using the latest released version - 0.26. If I understood correctly, the best way for me to run tests, is to use bash, set appropriate env variables, and run all shell scripts in the `test` dir. It already works for me, just want to make sure this is a proper way.

[2018-10-10 09:29] clanmills commented on #469
You've analysed it correctly.  From memory, I think the error arises from: `os.path.join(_parameters["suite_root"], rel_path)`

There's a fix.  There's always a fix.

It's OK on Cygwin/msvc/Linux/MacOS-X.  We only need to fix it on MinGW.  However it's important to fix it because I believe we want to only use python and refactor/remove the bash scripts.  We need to enable `$ make tests` to run to

[2018-10-10 11:55] piponazo commented on #465
It seems that it was me who removed those functions recently in this commit while trying to hide implementation details (commit 6e4404d). This was done in the context of #450 .

I think we could easily add back those two functions to the API without too much effort. I do not remember exactly why I removed them from the API, but maybe I thought that those functions where not used at all in our code

[2018-10-10 12:14] cgilles commented on #465
yes, please restore the previous API.

In fact to be more clear, in digiKam, we have a tags filter list-view . To
setup the tags to show in this list, we need to know all Exif tags
(Makernotes includes) declared internally by Exiv2.

So in the GUI, we have a tags list editor where the user turn on the right
list to show.

This is exactly the same for IPTC and XMP, where API exists and still here
f

[2018-10-10 13:49] mmatrosov commented on #467
@clanmills

Yes, I've seen this page, it is helpful. However, it is not completely clear what do I do in my case. I'm building the library (including test apps) with CMake->Visual Studio. The page suggests me to run tests with CMake->Makefile. Is it possible to plug executables compiled with Visual Studio into "make tests"?

[2018-10-10 14:47] cgilles commented on #468
Note : I can confirm that Exiv2 0.26 do not link at end when UNICODE option
is enabled with my patch.
In same condition, Exiv2 0.27 compile and link fine. So the new version of
code is compatible, older one no.

Gilles Caulier

Le mar. 9 oct. 2018 à 19:51, Robin Mills <notifications@github.com> a
écrit :

[2018-10-10 15:49] clanmills commented on #467
There's a Cygwin bash script test/testMSVC.sh that will set up the correct environment variable and run the test suite.  The syntax is:
[code]
The script uses the command `find . -name build-dir exiv2.exe` to locate exiv2.exe and set EXIV2_BINDIR.

---------

For Exiv2 v0.26, the MSVC builds were performed with the script `contrib/cmake/msvc/cmakeBuild.cmd` for which one of the options is **`--tes

[2018-10-10 15:57] clanmills commented on #468
That's correct, Gilles.  exiv2 v0.26 MinGW/msys-1.0 does not support UNICODE_PATH.   Team Exiv2 has never provided support for MinGW/msys2 for Exiv2 v0.26 and earlier.

For v0.27, we will support MinGW/msys2 **and** UNICODE_PATH.  I closed this issue because the fix has been submitted to branch "RC1" 1f1bb97

[2018-10-10 19:14] clanmills commented on #465
@piponazo I've updated samples/taglist.cpp on my local copy of Exiv2 v0.26 as shown below.

It compiles and runs on Exiv2 v0.26.  You can run this (as before) with:
[code]
I've added two new features:
[code]
--------------

When I use master, I see your changes to tags.hpp etc. Remarkably I cannot compile:
[code]
The declaration in include/exiv2/tags.hpp looks fine to me (and identical to v0.26) !

[2018-10-11 04:18] cgilles opened #473 "MinGW 32 bits : linking failure with mkgmtime()"
This problem do no appear with Exiv2 0.26 in 32 or 64 bits target for MinGW. But i remember that i already report this problem with older version of Exiv2 directly to Andreas to support MinGW.

With Exiv2 0.27, the MinGW 32 bits target do not link at end :

[ 19%] Built target xmp
[ 44%] Built target exiv2lib_int
[ 45%] Linking CXX shared library ../bin/libexiv2.dll
CMakeFiles/exiv2lib.dir/objects

[2018-10-11 05:03] cgilles opened #474 "Exiv2 0.27 - cppcheck static analyzer HTML reports"
cppcheck is a very important tool to detect quickly some internal dysfunctions. It's very configurable and very fast. The HTML report is very easy to review.

I use this static analyzer over whole digiKam implementation (around 1.5 M lines of code), and we clean and stabilize the application with a lots of true errors detected.

I recommend to review the right light annotated reports from the fron

[2018-10-11 05:47] cgilles opened #475 "Exiv2 0.27 - Clang scan-build static analyzer HTML reports"
clang scan-build  is another very important tool to detect quickly some internal dysfunctions. It's very configurable but slower than cppcheck as it require a code compilation. The HTML report is very easy to review and can give different feedbacks than cppcheck.

I use also this static analyzer over whole digiKam implementation (around 1.5 M lines of code), and we clean and stabilize the applicat

[2018-10-11 06:30] piponazo commented on #473
The changes related to the timegm function were done in #431 and #413. I probably did not check these changes with MinGW.

I'll take a look to this and probably I'll try to spend some time adding a MinGW to Appveyor to not reach these situations again in the future.

[2018-10-11 07:31] D4N commented on #475
scan-build is on the todo list (right next to clang-tidy, infer, coverity, cppcheck & pwsstudio)

[2018-10-11 09:07] clanmills commented on #473
There is something wrong with **MinGW** time handling and it's detected by the test suite!  It's OK on Cygwin, MacOS-X and Linux.  I can't remember what happens on MSVC.

It's detected in data/conversions.sh with the command:
[code]
The report is:
[code]
It's really difficult to debug this for several reasons:
1) I don't know how to debug on MinGW and can't get the Xcode debugger to work on Exiv2

[2018-10-11 09:56] clanmills commented on #473
@cgilles Thank you very much for all the input you are providing on v0.27.  It's very helpful indeed to get all this feedback.  v0.27 will be much stronger thanks to your efforts.  Thank You very much.

I've looked at your patch.  I will investigate restoring src/localtime.c and src/gmtime for MinGW and MSVC today.  As a team, we hoped to remove all "C" code from the code base - however it looks a

[2018-10-11 14:05] cgilles commented on #465
Confirmed. I recompiled Exiv2 from git/master today, and digiKam compile
fine using older ExifTags API.

https://commits.kde.org/digikam/7e0616df64673f9b57d58c672d7720a84f61b55e

Gilles Caulier

Le mer. 10 oct. 2018 à 21:14, Robin Mills <notifications@github.com> a
écrit :

[2018-10-11 14:36] piponazo commented on #465
Great! I'll close this issue then.

[2018-10-11 15:42] #211 closed

[2018-10-11 15:45] D4N commented on #210
This got fixed by #461.

[2018-10-11 15:45] #210 closed

[2018-10-11 15:46] D4N commented on #209
This got fixed by #461.

[2018-10-11 15:46] #209 closed

[2018-10-11 18:37] clanmills commented on #465
The compilation issue with samples/taglist.cpp is on MacOS-X (Xcode 10.0).  It's OK on Linux and MinGW.  I think it's ok on Cygwin and MSVC.
[code]

[2018-10-11 20:17] clanmills commented on #465
This is extraordinary.  For sure it's a compiler issue.  The entry point is in the library:
[code]
I generated an Xcode project and loaded the file into the editor. The "autocomplete" in Xcode doesn't know about the entry point, although he offers `isMakerGroup` and `isExifGroup` which are declared a few lines later in include/exiv2/tags.hpp  The "autocomplete" will use clang to read the code, so

[2018-10-11 20:35] D4N commented on #373
I'd like to keep this issue open for now, although it is no longer reachable from the standard application, you can still trigger the bug via `exiv2 -pR $file`. Looks like `printStructure` continues processing the image file, whereas the tiff-parser gives up earlier (or just ignores invalid entries).

[2018-10-11 20:59] D4N commented on #308
The test suite has now been ported and the patch should be easy to apply:
- apply patch from #223
- add test images to the test suite

[2018-10-12 06:06] piponazo commented on #465
I suspect this is only happening in your machine. Every time we create a PR, the changes are tested over all the platforms. One of them is XCode9, and it is passing the tests on master:

https://travis-ci.org/Exiv2/exiv2/jobs/440348345

[2018-10-12 07:20] #159 closed

[2018-10-12 07:20] #216 closed

[2018-10-12 10:05] clanmills commented on #465
It's building OK on Yosemite with Xcode 7.0.  I see Apple have an RC for Xcode 10.1.  I'll try that.  If that doesn't fix it, I'll report this on Radar (Apple's bug tracking system).

The code in v0.26 compiles OK with Xcode 10.0, so there is a way to get the code to compile on Xcode 10.0.  However, I'm not going to spend the time to discover how.

[2018-10-12 11:38] clanmills commented on #465
It builds OK with Xcode 9.4.  Xcode 10.1beta has the same compiler as 10.0 and doesn't build.  I'll report this to Apple and install 9.4 on my machines.   Closing this now.

[2018-10-12 12:15] clanmills commented on #465
https://bugreport.apple.com/web/?problemID=45223696

[2018-10-13 06:55] piponazo commented on #473
@cgilles could you document here exactly the steps you followed to compile exiv2 with MinGW 32 bits, and the versions of the tools used? I just tried in my machine with MSYS2 + MinGW 32 bits (gcc-7.2) and I could compile the complete project (library, exiv2 app and samples) without any linking issue.

[2018-10-13 07:00] piponazo commented on #421
I would like to also report that I have recently experienced this issue.

In MSYS2, the gcc package for 64 bits is gcc-8.2 while the one for 32 bits is gcc-7.2. With gcc-7.2 I can compile the full project without issues, but I stumbled into this linking error with gcc-8.2.

@clanmills I think it would be good to point to this issue somewhere in the documentation you are writing in the RC1 branch.

[2018-10-13 09:37] #457 closed

[2018-10-13 12:08] cgilles commented on #473
Whole digiKam windows bundle is compiled, linked, and packaged under...
Linux, not windows.
We use MXE.cc environnement, which is in fact MinGW in background.

https://mxe.cc/

When i said that all windows binaries (.dll, .exe, .lib, etc...), i want
said "all", from scratch.There is no Windows stuff in this room, only
pingouin on the banquise.

So, no extra dll, no virus risk, faster compilation,

[2018-10-13 12:11] cgilles commented on #473
To be able to reproduce the dysfunction, i prepare 2 scripts, based on my digiKam work to :

1- prepare the MXE env.
2- configure Exiv2 source code with MXE and CMake.

Be patient, i just check if all is ready on my computer before to share the scripts. To respond to your previous question about the GCC version used in MXE, see below :

[gilles@localhost exiv2.mxe]$ ll
total 12
-rwxr-xr-x 1 gilles

[2018-10-13 12:17] cgilles commented on #473
Note : MXE must work well under all Linux host.
Here i use Mageia6 (based on RH).
I my office, we use CentoOS 6 and 7 host VM.
I know that MXE work under openSuse, as Maik Qualmaan (the second lead contributor working on digiKam work with this distro).
We _never_ use Ubuntu, as this Linux is just a waste of time to mime Windows stuff... I already tried to use it in my office to compile 3rd party c

[2018-10-13 12:40] cgilles commented on #473
Now it's time to cross compile Exiv2 with MXE. In fact you will see that with cmake, it's very simple :

1/ Checkout a fresh copy of Exiv2 from github :

[gilles@localhost exiv2.mxe]$ pwd
/home/gilles/Téléchargements/exiv2.mxe
[gilles@localhost exiv2.mxe]$ git clone https://github.com/Exiv2/exiv2.git
Clonage dans 'exiv2'...
remote: Enumerating objects: 184, done.
remote: Counting objects: 100% (18

[2018-10-13 14:49] cgilles commented on #473
Rectified shell scripts to confire fine Exiv2 with MXE. It miss regex install in previous script.

[build-mxe.sh.txt](https://github.com/Exiv2/exiv2/files/2475558/build-mxe.sh.txt)
[bootstrap-exiv2.mxe.txt](https://github.com/Exiv2/exiv2/files/2475559/bootstrap-exiv2.mxe.txt)

Now the configuration is fine :
[gilles@localhost exiv2]$ ./bootstrap-exiv2.mxe.sh /home/gilles/Téléchargements/exiv2.mxe/

[2018-10-13 14:51] cgilles commented on #473
To compil, to go exiv2/build and run make as usual :

[gilles@localhost build]$ make
Scanning dependencies of target xmp
[  1%] Building CXX object xmpsdk/CMakeFiles/xmp.dir/src/ExpatAdapter.cpp.obj
[  2%] Building CXX object xmpsdk/CMakeFiles/xmp.dir/src/MD5.cpp.obj
[  3%] Building CXX object xmpsdk/CMakeFiles/xmp.dir/src/ParseRDF.cpp.obj
[  4%] Building CXX object xmpsdk/CMakeFiles/xmp.dir/src/U

[2018-10-13 15:12] clanmills commented on #421
@piponazo For sure, this is going in the documentation.

I've made good progress towards RC1 this week.  The road is longer than I wanted/imagined.   I have written a script (contrib/buildserver/build.sh) build all the packages on the 5 platforms (macosx, linux, cygwin, mingw and msvc).  Next, I will fix the localtime/gmtime business for Gilles.  Then I'll tackle the website and doxygen.  There's

[2018-10-13 15:15] cgilles commented on #473
Note : if you want to test to 64 bits target cross compiled, just change the settings MXE_ARCHBITS=32 to 64 in buil-mxe.sh.txt file.

You can re-run the script and a new build.win64 will be created for this target. Both 32 and 64 bits can be compiled at the same place, there is no risk to mix both :

[gilles@localhost exiv2.mxe]$ ./build-mxe.sh.txt
build-mxe.sh : build a bundle MXE install with Ex

[2018-10-13 16:17] cgilles commented on #473
Few month ago, I ask to digikam users if 32 bits support can be dropped.
The response has been ver negative.

As all the rest of d’imam bundle compile fine in 32 bits, there is no
specific reason to not support 32 bits with exiv2

For the rc1 there is no problem as in the bundles I apply my patches.

We can ask to mdr to known the solution to this problem, in case of this
problem has been already

[2018-10-13 16:45] piponazo commented on #473
Wow that's more information than I expected @cgilles :stuck_out_tongue: . I will try to cross-compile from my ubuntu machine to see if I experience this issue. I would like to understand what's the root of this problem.

@clanmills I will take care of this issue.

[2018-10-13 23:13] clanmills commented on #473
@piponazo Those undefined functions (compress, crc32 and uncompress) are entry points in zlib (http://www.zlib.net).

[2018-10-14 09:58] #460 closed

[2018-10-14 11:37] cgilles commented on #421
When do you plan to release the 0.27 RC1 exactly ?
We are near to be ready to release digiKam 6.0.0-beta2. I can plan to release this version at the same time than digiKam and include the Exiv2 announcement to digiKam release announcement from digiKam.org. We can delay a little bit if necessary.

Gilles Caulier

[2018-10-14 11:55] clanmills commented on #421
I don't have an _**exact**_ plan.  I'm at home and working on this most of the time.  I hope RC1 will be released by the end of October and GM by the end of December.

You'll be aware that groupList() and localtime.c and other matters consumed a lot of time this week.  And my wife's brother passed away yesterday.

There are several major obstacles:
1) The web-site scripts (which I inherited from A

[2018-10-14 11:56] carnil commented on #453
Issue was introduced with and later than 3d57bbc6e6036723df3c7da352e40267c90d1640

[2018-10-14 11:58] cgilles opened #483 "Exiv2 0.27 : new header exiv2/version.hpp have been introduce which make a puzzle with backward version"
Look in this file at line #75 :
https://github.com/KDE/digikam/blob/master/core/libs/dmetadata/metaengine_p.h#L75

metadaengine_p.h/cpp is the private implementation of the digiKam Qt Exiv2 wrapper. In this class, all that we need from Exiv2 is called. The rest of digiKam don't know Exiv2. This prevent to make Exiv2 public headers fully opaque from lead digiKam implementation. This improve the com

[2018-10-14 12:08] clanmills commented on #483
This seems rather strange. Gilles.  include/exiv2/version.hpp has been in the code-base for years.

The design is that all application code should `#include <exiv2/exiv2.hpp>` and nothing else.  `exiv2/exiv2.hpp` will pull in the rest of the API including `version.hpp`.  For example in samples/exiv2.hpp
[code]

[2018-10-14 12:49] carnil commented on #453
Commit afb98cbc6e288dc8ea75f3394a347fb9b37abc55 introduces CVE-2018-17282, which was https://github.com/Exiv2/exiv2/issues/457

[2018-10-14 15:16] cgilles commented on #483
You have right. 0.26 has well version.hpp... It's strange that i cannot find it by re-installing 0.26 after to uninstall 0.27.
In all cases the macro EXIV2_TEST_VERSION macro disappear with 0.27

[2018-10-14 15:43] #483 closed

[2018-10-14 17:59] mmatrosov commented on #467
I was able to run many tests. I'm actually writing a conan recipe for Exiv2, so I used `self.run()` with `win_bash=True`, and I used git bash as Windows bash.

I noticed thought that many tests fail because they simply cannot find tests data! At least `test/data/eps` and `test/data/video` are missing.

[2018-10-14 18:02] piponazo commented on #467
@mmatrosov In case you are interested, I also started to write a conan recipe for exiv2 some time ago:
https://github.com/piponazo/conan-exiv2

My idea is to create a "official" conan recipe for Exiv2 after we release the 0.27 version.

[2018-10-14 18:13] mmatrosov commented on #467
@piponazo

This is a great idea! Concerning the recipe that you have so far, it does not run tests, which for me was actually the trickiest part. Building and packaging was a pice of cake since you guys provided great CMake support. Really appreciated!

[2018-10-14 19:43] clanmills commented on #467
@mmatrosov If you'd like to join the team and support ctest, I'd be delighted to welcome you on board.  @D4N has made a great job of moving test/bugfixes.sh into a new python test harness.  There are lots more tests to be transferred into python: see test/*.sh

The test data for video and eps files are stored in SVN and downloaded on demand.  You'll see the code in test/Makefile.  However, I'd lik

[2018-10-15 11:18] piponazo commented on #473
@clanmills I think this issue does not occur when compiling on Windows + MSYS2 + MINGW, but only when cross-compiling from Linux to Windows with MinGW.

Therefore I think the solution implemented in #482 should be fine. At the moment I am waiting for some feedback from @cgilles, to know if that solution works for him. Let's keep the conversation there, and if there is something missing I would be

[2018-10-15 16:35] mmatrosov commented on #215
@clanmills

We purchased the license for version 0.25. Could you please clarify, whether it is applicable for version 0.26?

[2018-10-15 16:43] D4N commented on #215
Please note, the following is not legal advice. Consult a lawyer if you
are unsure.

It is applicable for 0.26, but not for anything beyond that, as we have
moved the GPL licensed code to GitHub and developed solely that.

You can use the current code base under the terms of the GPL license,
but not under the terms of the commercial license, as the provider of
the commercial license has no copyrig

[2018-10-15 16:47] mmatrosov commented on #215
@D4N

Thanks, this is helpful.

[2018-10-15 17:48] clanmills commented on #215
Thanks @D4N for commenting on this.  As will all legal matters, you should seek professional advice.

My understating of your Commercial License is that is valid for v0.26.  The Exiv2 Project on GitHub is licensed under GPLv2.  The Commercial License does _**NOT**_ cover any changes since v0.26 was released in April 2017.

[2018-10-16 06:12] clanmills commented on #440
I'm not too sure how/why this matter has been fixed.  Anyway, it's working now on all platforms as documented in README.md in branch RC1.

[2018-10-16 06:12] #440 closed

[2018-10-16 06:29] piponazo commented on #401
I'll submit this patch for you @clanmills

[2018-10-16 08:02] clanmills opened #485 "test/conversions.sh is failing on TZ test"
This is occurs on MinGW and MSVC

**MSVC**
[code]

Here's a way to produce this from the terminal (without using test/conversions.sh) on an MSVC build:

[code]

On MacOS-X, the same commands:
[code]

**Analysis**
The command `TZ=GNT-8 exiv2 -iX ....`
1) is correctly copying xmp:ModifyDate to the XMP
2) the convertor on MSVC sets Exif.Image.DateTime to 2015:04:17 19:10:22 and it should be 2015:04:1

[2018-10-16 08:05] clanmills commented on #401
Thanks, Luis.  I've copied the test file to the buildserver:  http://exiv2.dyndns.org:8080/userContent/testfiles/401/poc.jpg

[2018-10-16 09:10] piponazo opened #487 "Windows + MSVC issues"
I noticed few things when trying to debug on Windows + Visual Studio 2017.

1. I can debug the **exiv2** application but I cannot access the exiv2 library symbols when I try to step into a exiv2 function/class. On linux I can debug with gcc/clang without issues.
2. The compilation of the **exiv2** application with exiv2lib as a STATIC library fails (`-DBUILD_SHARED_LIBS=OFF`).

**TODO**: Investiga

[2018-10-16 09:39] clanmills commented on #487
I'll investigate this today because it's useful for both the localtime.c and TZ issue.  I'll update you later.

[2018-10-16 10:07] D4N opened #488 "Reconsider exception throwing policy"
tl;dr; Imho we throw too many exceptions and should instead make the code more robust.

Since I have started contributing to exiv2, I have seen a steady increase in the amount of exceptions that we throw from the code (mainly as quick fixes to circumvent issues in fuzzed files) and I am unsure whether that is such a good thing. To illustrate what I mean, take a look at #180, especially at the chan

[2018-10-16 10:41] #401 closed

[2018-10-16 11:32] clanmills commented on #488
This is a thoughtful and interesting topic.  I'm up to my neck in other stuff at the moment.  Let's discuss this next week.  I personally have never liked exceptions and prefer to return a status code from every function.  Almost everybody disagrees with me and likes exceptions!

You are quite correct in observing that we've been adding exceptions.  All of this started with the fuzzed files.  I do

[2018-10-16 12:14] piponazo commented on #487
Regarding to the debugging issue, it seems that we are not generating a PDB file for the **exiv2lib** target:

[code]
I'll check the compiler flags on MSVC and try to determine what's happening there.

[2018-10-16 14:03] clanmills commented on #487
The issue with `-DBUILD_SHARED_LIBS=OFF` is being caused by Conan/Expat requiring the C Runtime library /MTd.  I've successfully built this and it executes.  However, **I'm unable to step/debug in Visual Studio** because it hasn't generated the .pdb files.  And I haven't yet discovered why not, it looks OK in the IDE.

Here's how to build it:

I've used the following profile `msvc2017Debug64Static

[2018-10-16 17:34] mmatrosov commented on #215
I downloaded this version: https://github.com/Exiv2/exiv2/releases/tag/v0.26 So I hope this should be fine.

How would we do this? We have a proprietary closed-source software.

[2018-10-16 17:53] D4N commented on #215
That should be fine from my point of view.

Afaik you'd have to re-license your program to a GPL compatible license. That's as far as I know the only way.

I know that that's probably not an option for you. However, I'd like to point out, that only because you open sourced your software, doesn't mean that you have to make it publicly available for everyone on GitHub/GitLab/etc. With most FOSS lice

[2018-10-17 05:46] piponazo commented on #488
I am one of these guys who @clanmills mentioned: I normally use exceptions in my code, but I try to just use them for truly exceptional situations.

In general I share your worries about the abuse of exceptions, and probably in many cases we can just continue parsing the files and taking default values for the missing fields, or assigning "UNKNOWN" values to them.

However, I do not think we can a

[2018-10-17 07:41] D4N commented on #488
Just to stress this out, I was not intending to blame anyone! Especially since I have been very much guilty of throwing exceptions left, right and center.

I definitely agree, this is not something that can be easily done. The purpose of this issue was merely to ask for everyone's opinion on the matter and potentially to formulate a new policy that we can follow in the future.

[2018-10-17 07:48] piponazo commented on #487
In #493 I propose a fix to this issue, by changing a bit our CMake configuration.

However, what you said it's true, the culprit of this situation is the Expat dependency which is just a dependency for building the XMP code (not really something needed by the exiv2 library).

I have taken a look to the expat new release (2.2.6) and it seems they have improved their CMake code and know you can cont

[2018-10-17 07:53] piponazo opened #494 "Update to expat 2.2.6 and simplify our CMake code"
As described in #487, we had to take some actions to fix the compilation on Windows + STATIC mode. The issue is that when using `/MT` (STATIC) on exiv2, expat does not find a symbol:

[code]

It seems that in the expat new release (2.2.6) they have improved their CMake code and now you can control which C Runtime Library to use (by means of the variable `MSVC_USE_STATIC_CRT`). By moving to that ve

[2018-10-17 09:07] clanmills commented on #487
I use Expat in samples/geotag.cpp.  You're right, expat is only used by xmp in the library.

[2018-10-17 10:43] clanmills commented on #487
Yes.  That's a great find about expat 2.2.6.  Much simpler.  Yes, let's use /MD (/MDd) for both static and dynamic builds.

There was an issue earlier this year which I solved it with expat 2.2.5.  https://github.com/Exiv2/exiv2/issues/371

So, yes - let's request 2.2.6 with Conan.  The next time I update README.md, I'll document this.

[2018-10-17 11:05] #487 closed

[2018-10-27 04:10] cgilles opened #496 "Exiv2 0.27 : CR2 and Exif data extraction crash to ExifParser::encode()"
(gdb) r
Starting program: /usr/bin/exiv2 -e e ./IMG_2520.CR2
Missing separate debuginfos, use: debuginfo-install glibc-2.22-29.mga6.x86_64
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Warning: Exif tag Exif.Photo.MakerNote not encoded
Warning: Exif tag Exif.Canon.0x4005 not encoded

Program received signal SIGSEGV, Segmentation fault.
0x

[2018-10-27 05:49] cgilles commented on #496
Simple unit test code to reproduce the crash with Exiv2 API. Pass the CR2 file path as argument:

#include <iostream>

#include <exiv2/image.hpp>
#include <exiv2/datasets.hpp>
#include <exiv2/types.hpp>
#include <exiv2/exif.hpp>

int main (int argc, char** argv)
{

try
{
    Exiv2::Image::AutoPtr image;
    image                = Exiv2::ImageFactory::open(argv[1]);
    image->readMetadata();
    E

[2018-10-27 07:11] lantw44 opened #497 "There is no PTHREAD_RECURSIVE_MUTEX_INITIALIZER_NP on FreeBSD"
Exiv2 currently doesn't compile on FreeBSD:
[code]
The `_NP` suffix of `PTHREAD_RECURSIVE_MUTEX_INITIALIZER_NP` suggests it is a non-portable macro. FreeBSD supports recursive mutex, but it does not define a static initializer for it. FreeBSD pthread.h only defines two mutex initializers, `PTHREAD_MUTEX_INITIALIZER` and `PTHREAD_ADAPTIVE_MUTEX_INITIALIZER_NP`, and neither of them is equivalent to

[2018-10-27 08:37] cgilles commented on #496
Ok, i investiguated better and found this :

1/ i updated Exiv2 to official RC1 code and now the Exiv2 CLI tool and the simple unit test do not crash. The simple unit test still crashing while it compiled into digiKam.

2/ The RC1 install libexiv2 binary with a new typo :
[gilles@localhost lib64]$ pwd
/usr/lib64
[gilles@localhost lib64]$ ls -al *exiv2*
lrwxrwxrwx 1 root root      16 oct.  27 09:45

[2018-10-27 09:03] clanmills commented on #496
The exiv2lib.dll is courtesy of CMake!

In src/CMakeLists.txt, we had:

[code]
This caused friction with the executable `exiv2`.

[2018-10-27 09:17] cgilles commented on #496
There is no need of extra lib, even of CLI tool is name exiv2.
Typically "libexiv2" and "exiv2" binaries must be installed. There is no conflict at install time.
So if the problem is with internal cmake rules of the project, i'm sure that all can be fixed easily. The new naming scheme is only used by Exiv2. I cannot see other shared libraries under linux using the same.
This will certainly confuse

[2018-10-27 09:18] cgilles commented on #496
My last comment is just a tip. You can close this file now as my original problem is solved and my find cmake script is patched.

[2018-10-27 10:53] clanmills commented on #497
There's something familiar about this issue.  I think it may have arisen in MinGW or Cygwin and there are macros already in the code deal with this.
[code]

Can you find the Compiler symbol for FreeBSD and we'll update the code.  It'll be something like \_\_FREEBSD\_\_  You can see the symbols with:
[code]
Regrettably, we can't support every flavour of Linux.  The buildserver uses Ubuntu 18.04 LTS

[2018-10-27 10:58] clanmills commented on #497
To answer your question about can we use a Mutex?

I hate the lock code.  No library code should use a lock.  I only agreed to take this code from a user to make him happy and because it's not in the library.  It's in src/actions.cpp which is in the exiv2(.exe) command-line application.  Incidentally, having accepted that code, I've been plagued with build issues on every platform.  I should have

[2018-10-27 12:11] piponazo opened #498 "Rename exiv2lib to exiv2"
Recently we changed the library name from exiv2 to exiv2lib to overcome some issues detected with the debugging experience on Windows. However, to change the library names might not be the better idea and we are going to restore the original name before releasing v0.27.

[2018-10-27 12:48] lantw44 commented on #497
Sorry, I didn't notice I wasn't on master branch but on 0.26 branch. The problem I described above is already fixed by commit d775683f579543c35463ab2a8d9425da10d2f016.

Yes, there is a symbol. It is `__FreeBSD__` and it is defined to be the major version of FreeBSD.

Most supported architectures of FreeBSD already move to Clang several years ago, so we usually use clang to compile and test.

FreeB

[2018-10-27 13:03] piponazo commented on #473
@cgilles This should be fixed in the branch 0.27. I'll close this issue now. Please, let us know if you have any problem.

By the way, @clanmills told me that you were not very happy with the library name change. I'll deal also with this issue (#498)

[2018-10-27 13:03] #473 closed

[2018-10-27 13:08] clanmills commented on #496
@cgilles Luis has opened an issue report about the filename of the library.  We'll fix it for exiv2 v0.27RC2 (mid-November). #498

[2018-10-27 13:08] lantw44 commented on #497
I just found that exiv2.pc no longer exists and the name of the shared library changes. gexiv2 is unable to find the newly-installed exiv2 0.27 because there is no .pc file.

[2018-10-27 13:39] cgilles commented on #473
Next week i will rebuild the whole digiKam AppImage bundles including last
code from Exiv2 from git/master and if problems appear, i will report.
Gilles Caulier

Le sam. 27 oct. 2018 à 15:03, Luis Díaz Más <notifications@github.com> a
écrit :

[2018-10-27 13:40] cgilles commented on #496
Ok fine. I will check when fixes will be applied.

Gilles Caulier

Le sam. 27 oct. 2018 à 15:08, Robin Mills <notifications@github.com> a
écrit :

[2018-10-27 13:59] clanmills commented on #497
Ah yes, FreeBSD is Unix.  I forgot.

We've deprecated exiv2.pc in v0.27.  We've totally rewritten our build system in CMake and no longer need/generate exiv2.pc.  I think you'll have to rebuild gexiv2 with the v0.27 RC1 headers and stuff.

Incidentally, we deliberately changed the library from exiv2.dll to exiv2lib.dll and digiKam complained.  We're investigating/considering reverting to exiv2.dll

[2018-10-27 14:15] clanmills commented on #497
About the installation.  On Linux, I do `$ sudo make install` or `$ cmake --build . --config Release --target install` to populate `/usr/local/....` (the prefix tree).

The notes in releasenotes/Linux/ReadMe.txt say how to copy the library, headers and other stuff from the bundle into `/usr/local/...`.  If there's something wrong, let's get that fixed before it pollutes more machines.

[2018-10-27 14:32] lantw44 commented on #497
What is the expected way for projects depending on exiv2 to find the library without a .pc file? I think cmake files are not useful for projects using other build systems.

Yes, it will be nice if it can be done in the upstream repository, as other *BSD systems will also find this problem when installing or packaging exiv2.

Thr README says only bin, include, lib should be copied, which is more co

[2018-10-27 15:07] clanmills opened #499 "make install fails on FreeBSD by looking for the file FreeBSD/ReadMe.txt"

[2018-10-27 15:09] clanmills commented on #497
I don't know anything about ninja.  Never used it.

I'll fix the package issue when it's looking for FreeBSD/ReadMe.txt  I've opened an issue about this and will fix it.  #499  Perhaps you could test/verity my fix next week.  It will be on the branch `0.27-RC2`

`releasenotes/Linux/ReadMe.txt` has commands to compile and link exiv2lib.so without using exiv2.pc or cmake.  Can you try those commands

[2018-10-27 15:42] clanmills commented on #497
@lantw44 Can you put the following into cmake/packaging.cmake and confirm that all is well on FreeBSD.
[code]

[2018-10-27 16:52] lantw44 commented on #497
The command works, but it isn't the point. pkg-config is a well-known tool which is very easy to use in build systems such as autotools and meson. In autotools you only need single line of `PKG_CHECK_MODULES` to find a library, and in meson you just need to write `dependency`. pkg-config also provides an easy way to check version and describe dependencies. Removing exiv2.pc is likely to make it mo

[2018-10-27 17:18] clanmills commented on #497
I'll ask @piponazo to comment concerning exiv2.pc.  I believe we only have to restore one line in CMakeLists.txt to achieve that.  If we do that, I'll also update releasenotes/platform/ReadMe.txt to say that is available and discuss it in README.md

I agree that the contrib stuff and the 5 documents (README.md etc) should not be in the prefix tree.  I can fix that in cmake/packaging.cmake

Thank Y

[2018-10-27 17:45] clanmills commented on #497
@piponazo Can you comment on:
1) the exiv2.pc file.  I agree with @lantw44 as a courtesy to autotools users we should generate that file.
2) We shouldn't be installing those files (contrib etc) in the prefix tree.  However I want them in the package and that's why I have those `install` commands in `cmake/packaging.cmake`.  Presumably `install` is the wrong command.  Should it be `copy` or possibl

[2018-10-28 06:49] mardy opened #502 "IPTC metadata not saved unless `setIptcData()` is called"
Hi there!
  I'm using libexiv 0.25 on Ubuntu 16.04, and I've noticed a behaviour which is unexpected to me: I've got a Jpeg file on which I call `image.iptcData()`, and then:

- if I assign some fields such as `Iptc.Application2.Caption`, this metadata gets properly saved;
- if I use the `IptcData::add()` method to add multiple values to the `Iptc.Application2.Keywords` field, then this works *onl

[2018-10-28 06:59] mardy commented on #502
OMG, it was a silly mistake on my part: I was doing:

    auto data = image.iptcData()

instead of

    auto &data = image.iptcData()

So indeed I was modifying a local copy of the metadata. :-)

[2018-10-28 06:59] #502 closed

[2018-10-28 07:17] clanmills commented on #485
I'm currently working on the branch 0.27-RC2 and I believe Luis submitted localtime.c to be compiled on MinGW.  test/conversions.sh is OK on the 32bit build and broken on the 64bit build.
[code]

[2018-10-28 08:31] clanmills commented on #502
@mardy Thanks for reporting this and finding a fix.  Really appreciate you closing the issue as that saves our time to investigate.

[2018-10-28 16:36] #498 closed

[2018-10-28 18:58] clanmills commented on #497
Thanks to @piponazo, I believe we have everything fixed.  We have:
1) Restored the name of the library to exiv2.dll (not exiv2lib.dll)
2) The packaging is hidden behind the option -DEXIV2_TEAM_PACKAGING=On and reserved for building our binary bundles on the build server
3) Restored `lib/pkgconfig/exiv2.pc` in the bundle
4) Updated the bundle ReadMe.txt appropriately.

These fixes will appear in Ex

[2018-10-28 18:58] #497 closed

[2018-10-28 20:19] piponazo commented on #499
This is fixed by #503. Will be available in 0.27-RC2

[2018-10-28 20:19] #499 closed

[2018-10-28 20:36] clanmills commented on #446
Sure.  Dead, dead, dead.  Beaten to death.

[2018-10-28 20:36] #446 closed

[2018-10-28 20:41] clanmills commented on #369
Can we apply this patch?  I did update exiv2.1 on Friday to add information about ~/.exiv2.  Otherwise, it hasn't been changed since I updated for v0.26 about two years ago.  If the patch works with trouble, can we accept it and it'll be in RC2.  When we change exiv2.1, we manually update the date that's on the footer.

[2018-10-28 21:09] piponazo commented on #494
Note that by upgrading to this version we could get rid of this line in `xmpsdk/CMakeLists.txt`:

[code]

[2018-10-30 11:12] dirkmueller opened #505 "[v27-RC1] cmake/packaging.cmake also included for build/install"
It looks like cmake/packaging.cmake was only intended for cpack runs, however it is included unconditionally from toplevel CMakeLists.txt:

[code]

This causes issues with "install" step because it installs the files for *packing* to %_prefix, which is unintended

[2018-10-30 11:16] clanmills commented on #505
Thanks.  We know about this and it's fixed on the 0.27-RC2 branch.  We added an option `-DEXIV2_TEAM_PACKAGING` which is off by default.

We expect to publish Exiv2 v0.27 RC2 in mid-November.

[2018-10-30 12:01] dirkmueller commented on #505
ouch, I missed that because I was looking at master. could you merge the 0.27-RC2 branch into master as well?

[2018-10-30 16:45] clanmills commented on #505
@dirkmueller You're welcome to join us on Slack "Exiv2" if you wish.  @piponazo is managing the branch/merge strategy.

I'm working in 0.27-RC2 and we expect we'll release Exiv2 v0.27.0.2 (RC2) mid-November.

[2018-10-30 16:53] piponazo commented on #505
Hi @dirkmueller , I actually merged the new stuff into master few hours after you created this issue (without realising that this issues was created 😋 ).

We will continue pushing stuff into master until we make the final v0.27 release.

[2018-10-30 19:30] clanmills commented on #505
We're moving very smoothly.  I shouldn't have closed it.  @piponazo is right.  The fix was flushed to 'master' this afternoon #506.

Apple have a convention that the person who opens an issue closes it.  This ensures that the issue initiator acknowledges the solution.

In future I won't close issues and say "I don't believe further action is required.  Please close this issue if/when you agree".

[2018-10-30 19:45] dirkmueller commented on #505
the RC2 branch fixed the issue for me and it is now in master. thanks for all the work!

[2018-10-30 19:45] #505 closed

[2018-11-01 13:34] lantw44 opened #507 "Library version in SONAME goes backward"
Exiv2 0.26 has SONAME `libexiv2.so.26`, but Exiv2 0.27 has SONAME `libexiv2.so.0`. Is it expected? It looks wrong for the version number to go backward.

[2018-11-01 13:43] lantw44 commented on #497
I just tested 0.27-RC2 branch, but I still could not find `exiv2.pc` file after `ninja install`. It seems the .pc file template is restored, but related code in cmake files are not.

[2018-11-01 14:14] clanmills commented on #507
What is SONAME?

[2018-11-01 14:40] clanmills commented on #507
MinGW/msys2 32 bit builds `msys-exiv2-27.dll`

[code]

[2018-11-01 14:49] piponazo commented on #507
@lantw44 thanks for reporting this! You're are right, this have been a mistake in our cleaning up of the CMake code. I'll fix it today.

[2018-11-01 15:01] clanmills commented on #497
I'll have to ask @piponazo to fix this one for us.  I restored src/exiv2.pc.in file system.  There's no code in any CMakeLists.txt file to deal with it.

[2018-11-01 15:01] piponazo commented on #497
@lantw44 You are right. We added the file to be generated in the BUILD directory, but we are not installing it. Furthermore I have to take care of assigning the proper paths depending on `CMAKE_INSTALL_PREFIX`. Sorry for the inconveniences. I'll fix it today and merge it into master.

[2018-11-01 15:04] clanmills commented on #497
I documented this in README.md this morning.  In autotools days, I believe it goes into `/usr/local/lib/pkgconfig/exiv2.pc`

[2018-11-02 04:26] cool-tomato opened #510 "infinite loop in getopt.cpp"
There is a bug in  function int getopt(int argc, char * const argv[], const char *optstring) in /src/getopt.c, while the incorrect parameters are processed, the value of optind should plus one, and the program should exit , but not continue to process the other parameters.

`./exiv2 -A 20:00:00 -Y 2018 -O 11 -D 01 ad  ./test/data/Reagan.tiff`
[code]

[2018-11-02 06:47] clanmills commented on #510
Thanks for reporting this.  You're correct.  It's looping.

I haven't understood your fix: _the value of optind should plus one_?  Can you provide a patch?

[2018-11-02 07:43] cool-tomato opened #511 "Infinite loop in Exiv2::Image::printIFDStructure function of image.cpp:509"
The issue may be similar to the issue #51 , with the POC file provided, The vulue of the start will always be `0xfc0000`, so the condition will be true all the time.

./exiv2 -pC [poc_infinite_loop](https://github.com/TeamSeri0us/pocs/blob/master/exiv2/poc_infinite_loop) or the command ./exiv2 -pR [poc_infinite_loop](https://github.com/TeamSeri0us/pocs/blob/master/exiv2/poc_infinite_loop) can trig

[2018-11-02 08:13] clanmills commented on #510
I agree that the program is looping and should be fixed.  I believe getopt() is correctly returning '?' to indicate distress and this is being ignored by the calling code:
[code]

**Proposed fix:**

[code]

**Result**

Test Suite passes.  So this has no downside.

[code]

**Observation**

I have my doubts about the loop `for ( int i ...` I think it may be safer to test `( i < argc && errcnt_ == 0)

[2018-11-02 08:20] cool-tomato commented on #510
I mean ,
[code]
In this way, the output will be correct:
[code]

[2018-11-02 08:56] clanmills opened #512 "Generating pkg-config file exiv2.pc from CMake build environment."
In investigating #497 we were requested to support the pkg-config utility by generating the file exiv2.pc  @piponazo implemented this in #509

**Action**

1) No action is required in the code.
2) The platform notes releasenotes/platform/ReadMe.txt should be updated appropriately.
3) The "User Manual" README.md should be updated to discuss exiv2.pc.

**Analysis**

The v0.26 legacy code config/exiv2

[2018-11-02 10:12] cool-tomato commented on #511
It should be the poc file in [here](https://github.com/TeamSeri0us/pocs/blob/master/exiv2/poc_infinite_loop), not POC4.

[2018-11-02 10:53] clanmills commented on #511
Thanks.  I've reproduced this.  I'll investigate.

[2018-11-02 10:55] clanmills commented on #510
Thanks.  I'll have a look at this your way.  Perhaps I should put in both your fix in getopt() and mine in  Getopt::getopt().

[2018-11-02 11:58] piponazo commented on #512
Great investigation @clanmills . I agree with you on the point 6. We should install the file in `{prefix}/lib/pkgconfig/exiv2.pc` where pkg-config will look by default:

https://linux.die.net/man/1/pkg-config

I fix it today.

[2018-11-02 12:53] piponazo commented on #512
I leave this open until you update the documentation. Please, remember to close the issue once you have updated the doc 😉

[2018-11-02 14:57] clanmills commented on #485
Eureka!  I've updated the platform on MinGW/msys2 64bit and now it passes the test suite!  I've updated README.md about applying updates to all installed packages on MinGW.

And, I believe we can now get rid of localtime.c.  I do more testing and build with Visual Studio.  I feel confident that this issue will shortly be closed.  Dead.  Dead.  Never come back.

[2018-11-02 16:03] lantw44 commented on #512
It seems the generated .pc file is broken. This is master branch, commit afc1a1e5263e894360f80d9316e00d7668760079.
[code]

gexiv2 fails to configure because it cannot find the version number:
[code]

[2018-11-02 16:14] lantw44 commented on #512
It is also recommended to define all variables in .pc file with `${prefix}` instead of hardcoding the prefix value multiple times, so users can easily override it with `pkg-config --define-variable=prefix=<value>` when it is needed.

[2018-11-02 16:40] lantw44 commented on #507
SONAME is correct now but there is a little inconsistency between file names of old and new versions:
[code]
Is it an expected change? Since SONAME is correct, this kind of different should be harmless on most ELF platforms.

[2018-11-02 17:00] clanmills commented on #512
@lantw44 Thanks for those observations.  I'm very happy with the great feedback that you are providing.  If you can hand edit exiv2.pc to succeed on your machine, could you show us the code that's working for you.

**Observations**

1) I failed to notice (in the diff in point 3 above) that the version isn't in exiv2.pc
2) I did notice the `{prefix}` and `/usr/local` difference and mistakenly thoug

[2018-11-02 17:06] clanmills commented on #512
I updated this issue and renamed it.  My most recent comments have been lost.

Thank You @lantw44 for this very useful feedback.  Can you edit manually `exiv2.pc` on your machine to satisfy your build.  We'll update our generated file appropriately.

[2018-11-02 17:07] clanmills commented on #512
Ah the GitHub Gods are smiling and my comments have reappeared.  It's been another long day (sigh).

[2018-11-02 18:22] piponazo commented on #512
Thanks @lantw44 for your feedback. I will take care of this more carefully.

[2018-11-02 20:12] clanmills commented on #485
I'm going to close this because the issue has disappeared with upgrading the all installed packages in msys64.  `$ pacman -Syu` This worked on both my machines.  Curiously, a similar upgrade msys32 on both machines was disastrous and exiv2 wouldn't build at all.  I reinstalled msys32 and all the dependencies listed in README.md and all was fine.

I've also deleted `src/localtime.c` and `src/tzfile

[2018-11-02 20:15] clanmills commented on #469
I'm not sure how/why this is resolved.  The test suite is running correctly on MinGW32 and MinGW64 on the buildserver.  And it's working fine on both my laptop and desktop machines.  Case closed.

[2018-11-02 20:15] #469 closed

[2018-11-03 02:56] lantw44 commented on #512
Yes, this one works for me.
[code]

They are unrelated to Exiv2. These messages appeared because I passed a lot of unknown -D options to meson. It doesn't affect the build other than causing warnings to be shown.

No, flags changing the behavior of the compiler should not appear in .pc files. If a project using Exiv2 is written in a different version of C++ standard and uses a conflicting flag suc

[2018-11-03 08:10] jmberg opened #515 "excessively often calls stat()"
I've found that when reading PNG files, (lib)exiv2 calls stat() excessively often:

[code]

Yes, the file in question is 114MB, but there's no good reason to call stat() on it over and over since it's unlikely to change in the time it takes to read :-)
(also, given the various relatively recent security mitigations, doing syscalls has gotten slower)

FWIW, this was a file without any exif data, pe

[2018-11-03 08:10] jmberg commented on #515
moved from https://bugs.kde.org/show_bug.cgi?id=400604 (digikam)
moved from http://dev.exiv2.org/issues/1374

[2018-11-03 08:37] #512 closed

[2018-11-03 08:58] carnil commented on #511
This issue was assigned [CVE-2018-18915](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-18915)

[2018-11-03 09:35] clanmills commented on #512
Thank you @lantw44 for your feedback, especially concerning `-std=c++98`.  I discussed this with @piponazo on Slack and we thought this should not be in `exiv2.pc`.

I see that this is closed and the fix is on `master`.  I expect it'll arrive soon on branch `0.27-RC2` (0.27.0.2)
[code]

[2018-11-03 10:59] clanmills commented on #515
I've looked at this.  BasicIo::eof() calls ::stat() to get the file size and compares it to the current file position.  It could alternatively call feof().  However, the semantics of BasicIo::eof() are _have you read all the data?_ and that's slightly different from `::feof()` which does not return true until you try to read past the end-of-file.
[code]

[code]

You haven't provided evidence that

[2018-11-03 11:16] cgilles commented on #515
Robin,

All optimizations in this area are very importants for the future. In digiKam, when you manage 100.000 through a sqlite database, or 200.000 and more with Mysql/Mariadb database, it's clear : there is a bottleneck in Exiv2.

This is more problematic when image collections are on a shared device, through the local network.

In digKam, the process to register all image information in databas

[2018-11-03 11:30] clanmills commented on #515
Thank you for the background, Gilles.  However that doesn't change my question "what's the problem?".

As you know, Gilles.  The three active members of Team Exiv2 (myself, Luis and Dan) respond quickly and effectively to your requests (and to all our users).  However we have to prioritise between issues that _must be fixed_ (such as security) and _nice to have_.  Do you consider this is something

[2018-11-03 11:41] jmberg commented on #515
Umm, I feel I've gotten caught between fronts here :-)

TBH, I'm not really sure it's that much of a problem. I was trying to answer the question "Why does digikam take _hours_ to rescan my database?", and the excessive stat() calls seemed like a potential issue.

In truth, the more likely "reason" is that
 * I have big PNG files without any metadata
 * all my images are on an NFS-mounted volume (

[2018-11-03 12:14] clanmills commented on #515
What a nice and thoughtful message.  Thanks.

Perhaps digiKam could create sidecar files with all of the metadata.  The sidecar could contain the date stamps (or md5sums) of the file and would avoid compulsively re-reading every image.  The sidecars could be on local storage.  Calculating md5sum presumably requires reading the whole file, so perhaps that's not helpful for your situation.

I haven'

[2018-11-03 13:11] clanmills commented on #515
I've had another three ideas!

1) Use a .exv sidecar

If digiKam stored a metadata .exv file beside the image, that would probably fix it.  So if you have a file DSC_1234.png, the file DSC_1234.exv can provide the metadata.  The code to create the sidecar already exists.
[code]

2)  Remote Io

Exiv2 supports a `RemoteIo` class.  The derived class `SshIo` class uses ssh.  That would have the IO ont

[2018-11-03 13:38] cgilles commented on #515
About remote IO and web service to share metadata : all is performed already by the database. Mariadb or Mysql can be already acceded through the network.

In digiKam we share more than image metadata :

- we have Haar fingerprints to perform searches over duplicate items or to searches item by similarity, including sketch.
- we have histogram finger prints to perform searches recognition. We have

[2018-11-03 13:49] clanmills commented on #515
I agree with your design decision to use a database.

@jmberg is asking the question: _**"Why does digikam take hours to rescan my database?"**_  I'm suggesting that keeping a sidecar beside the image would speed up the rescan process.

[2018-11-03 13:53] cgilles commented on #515
Robin : The scan process is done when importing image from camera. There is no XMP sidecar available. Sure we can generate file at import stage, but this will increase again the scan processing time.

As i already said, sidecar support is optional through setup metadata panel. So in case of users want to store more data in image collection than real item, the problem still here, and this use case

[2018-11-03 14:03] cgilles commented on #515
Robin,

I current re-write a lots to test tools present in digiKam core as real Qt unit tests, where all performance and profiling information will be avaialble de-facto. Qt::QTest framework is really great and impressive :

http://doc.qt.io/qt-5/qtest-overview.html

One of my unit-test is a multi-threaded metadata read/writer to run over a huge collection of images. The tool has many goals:
1/ ch

[2018-11-03 17:35] cgilles commented on #515
"May I ask you to close this topic as further action doesn't seem possible."

Robin : please let's open this file until i give your profiling
measurements with my multi-threaded unit-test. Depending of the results,
this will guide you to the right way to improve some Exiv2 code later...

Gilles

Le sam. 3 nov. 2018 à 17:21, Robin Mills <notifications@github.com> a
écrit :

[2018-11-03 17:52] clanmills commented on #515
@cgilles Please open a new issue "Multi-threaded testing and profiling" and mark it as [Enhancement Request].  We'll keep that open and discuss it in December.  I'm hoping to close all open issues on GitHub and Redmine for v0.27 GM.  Redmine will be relocated to exiv2.dyndns.org read-only.

While I agree that your thoughts about testing and profiling are related to this issue, you are proposing a

[2018-11-03 19:55] jmberg commented on #515
Sorry, I wasn't around, saw the mails flying by but was out playing with the kids - now they're all asleep ... I definitely have more time to go until retirement ;-)

FWIW, I fully agree with closing this, I'd support closing it even after investigation without any code changes. My only goal was for you to be aware of this behavior in case you'd have wanted to fix it. As it turns out you have, but

[2018-11-03 20:17] jmberg commented on #515
I've also played with adding a cache to FileIo::size() myself, and that does seem to improve the speed by a factor of >2x (~200ms -> ~60ms) for me on an NFS network filesystem (with the data in local cache), perhaps for stat() NFS has to go talk to the server? I very much doubt this would really have helped my original case though, since of course there I had to copy all the data and that was the

[2018-11-03 20:18] jmberg commented on #515
Anyway, as far as I'm concerned there's no real bug here, it's just inherently slow.

[2018-11-03 23:31] clanmills commented on #515
I didn't submit the code with size cacheing.  I played with it locally on my machine and then removed it.

[2018-11-04 18:39] clanmills commented on #510
@cool-tomato I'm very please to say that @piponazo has fixed this.  #516

We plan to remove that code in v0.28.  The history of this file is that the code was windows related in v0.26 and earlier.
[code]
Linux (MacOS-X, Cygwin, and MinGW/msys2) were using the platform getopt().  We discovered semantic differences between getopt() on different platforms (in libc or somewhere)  We agreed to stop usi

[2018-11-04 19:51] #510 closed

[2018-11-04 19:52] clanmills commented on #515
@jmberg Thanks for your test file.

I've played with that and the size/cache patch.  I agree, this does some good.

However, I don't want to modify this code.  We're at **_Exiv2 v0.27 RC1_** and we're focused on "_must fix_" and I feel this is "_nice to have_".  And while I've quickly created a patch, our test suite is failing all over the place.  This is a "proof of concept" and will need more wo

[2018-11-04 19:58] jmberg commented on #515
No disagreement with this, obviously. I'm surprised it fails the test suite, does it modify files in place?

That roughly matches my observation.

As you would expect :-)

[code]

Good one, I missed this entirely in my patch, but only tested read, not write.

[code]
I actually just put the code here, basically caching the result after the first size() call. Not sure if it makes a difference, but i

[2018-11-04 20:41] piponazo commented on #511
I also could reproduce the issue and I think I have found a solution for it. I will try to bring the fix for v0.27.

[2018-11-04 21:55] piponazo commented on #507
We did not make this change intentionally, but it has been caused by a clean-up of the CMake code. I cleaned up few variables we were using that were related with the versioning, and now we just use the standard way that CMake provides to specify the project version:

https://cmake.org/cmake/help/v3.13/command/project.html

If this is harmless as you mentioned, I would keep the things as they are